[2020-07-31 17:13] sebastienros commented on #858
Interesting to find out how we can handle po files for external libraries. I assume we canthe po extractor on openiddict directly. Then should the po files be handled in openiddict, or/and could it be part of the module in OC. Or could OC be able to find the po files as embedded resources, but still work wit h local files if provided.

[2020-07-31 17:14] hishamco commented on #858
AFAIK OC is disabled the `ResourceManagerStringLocalizer` by default, further more OC are using PO files

[2020-07-31 17:20] hishamco commented on #858
Seems I clicked the "Comment" button after some seconds from Seb's comment :)

Disagree, because this will limit the openiddict in terms of localization, I agree with you if it's a part of the module in OC, or find away to map OC po files localization into openiddict resx files

[2020-07-31 17:28] kevinchalet commented on #858
@sebastienros PO files were a very interesting option, but depending on an OrchardCore package was a bit problematic for versioning due to the "circular" dependency this would have introduced. Instead, the culture neutral resources are stored in a .resx file and Arcade automatically produces XLIFF files for the languages we want to support. The XLIFF files are then used to build satellite assembli

[2020-07-31 18:41] #1042 closed, assigned to nobody

[2020-08-03 03:32] igorklimenko opened #1049 "ajax grid can't obtain data from OpenIddict server even if User is authorised"
Hello,

I am new to OpenIddict. recently had a chance to  work with this framework and decided to extend OpenIddict server UI (used ASP.NET Core 3.1 and latest OpenIddict)

Added one more page to display the list of all registered applications. ( used https://datatables.net/ grid to visualise this list)
The grid gets data from a server using ajax, it is all worked fine on localhost until I placed

[2020-08-03 04:04] kevinchalet commented on #1049
Hey,

How do you attach the bearer token to your AJAX request? `withCredentials: true` is generally used for cookie authentication, not token authentication.

[2020-08-03 10:01] igorklimenko commented on #1049
Ok, this is what I missed. Got two questions in this case - how can I attach the bearer token to the ajax header request?
Is that correct way of doing this:

headers: {    Authorization: 'Bearer '+token } ?

Also how can I expose the token on client side?

[2020-08-03 10:05] kinosang commented on #1049
For question 1: check the documents for your JavaScript library.

For question 2: use your JavaScript library to request a token from the token endpoint, for example, via the hybrid flow.

Someone may suggest you use the code flow or password flow. But remember that, a public (like a SPA or traditional Browser Frontend) client cannot hold the client secret.

[2020-08-03 10:27] kevinchalet commented on #1049
@kinosang FYI, the code and password flows can also be used by public clients without having to send a secret (even a fake one) 😃

[2020-08-03 10:53] igorklimenko commented on #1049
thank you for the advises. Basically i tried to extend Aridka example (server part), I thought if User already authorised on a server the browser should keep valid token and I could extract it and reuse in my ajax request.

[2020-08-03 17:41] kevinchalet commented on #736
OpenIddict 3.0 beta3 is out: https://kevinchalet.com/2020/08/03/introducing-localization-support-in-openiddict-3-0-beta3/

[2020-08-03 17:49] kevinchalet opened #1051 "Should additional languages be supported?"
OpenIddict 3.0 currently supports the following locales:

  - Arabic
  - Chinese (simplified and traditional)
  - Deutsch
  - Dutch
  - English (default culture)
  - French
  - Gujarati
  - Hindi
  - Italian
  - Spanish
  - Turkish

Additional cultures will be added in a future release:
  - Russian
  - Ukrainian

[2020-08-03 17:50] kevinchalet commented on #858
Closing this issue, as the infrastructure is now in place. If you have ideas on additional languages we should support, please post there: https://github.com/openiddict/openiddict-core/issues/1051.

[2020-08-03 17:50] #858 closed, assigned to kevinchalet

[2020-08-04 06:59] kinosang commented on #736
@kevinchalet I figured out that beta3 has changes on the ef models, should I update the migrations for my projects?

[2020-08-04 12:01] kevinchalet commented on #736
Beta3 indeed includes a few schema changes (a few columns are now nullable to match the entities that were decorated with nullable annotations), but applying the changes is not required for things to keep working properly. You can wait if you prefer.

[2020-08-08 17:08] kevinchalet commented on #361
I took a look at Quartz.NET 3.x and the recent `Quartz.Extensions.DependencyInjection`/`Quartz.Extensions.Hosting` packages introduced by @lahma and @andrewlock make it a great candidate for this feature.

However, I have a few concerns:

  1. Quartz.NET targets the 3.1 version of the .NET Platform Extensions (logging + hosting) but OpenIddict 3.0 must be usable in any ASP.NET Core 2.1 app running

[2020-08-08 17:48] lahma commented on #361
Hey thanks for pinging, this looks super interesting and something that should be of course improved. The 3.1 is first stab for these and there's always room for improvement.

I too have wondered whether a more open range of packages could/should be used. I see no problem lowering the requirement.

Didn't consider this,  good point. Scheduler factory configuration.should be set in stone after this

[2020-08-09 04:41] kevinchalet commented on #361
@lahma fantastic, thanks for chiming in! 👏

I created a prototype of what a potential OpenIddict/Quartz integration package could look like: https://github.com/openiddict/openiddict-core/pull/1052.

Great! Would you like me to send a PR to update Quartz.NET to use the 2.1 .NET Platform Extensions as the minimum version? `Quartz.AspNetCore` currently references both 3.1 and 2.2 (for health checks),

[2020-08-09 06:17] lahma commented on #361
After having some sleep and thinking about this, some thoughts.

Looks nice, I've added some comments.

Of course! The minimal which works feels reasonable as I think they ship new versions per .NET Core version without actual bigger changes. Should it be done like [Marten does it](https://github.com/JasperFx/marten/blob/5f0856dd9083a6b2cf4009720adcf044b7ae6bef/src/Marten/Marten.csproj#L65-L71), e

[2020-08-09 06:53] kevinchalet commented on #361
Personally, I've never been super comfortable with this approach when used "proactively", i.e before you're 100% sure a breaking change introduced in the dependency actually impacts your own package. There are definitely cases where the user may deliberately want to reference a newer version (e.g it's fine to reference the 3.1 or 5.0 version of the .NET Platform Extensions in a .NET Framework or C

[2020-08-09 07:02] lahma commented on #361
OK so single version it is then 🙂

Thanks for the reading list, I'll try to dig into this!

Sure if you don't see a stressing need for this functionality 👍

👍

[2020-08-10 17:36] #361 closed, assigned to kevinchalet

[2020-08-10 17:39] kevinchalet opened #1053 "Mark the OpenIddict.Quartz package as shipping"
`OpenIddict.Quartz` currently depends on packages that are not available on NuGet.org yet (which may take quite some time, as the [`Quartz.Extensions.Hosting`](https://www.nuget.org/packages/Quartz.Extensions.Hosting) package's ownership needs to be transferred first to the Quartz org). Once they are available, we should mark the package as shipping and remove the Quartz.NET nightly builds feed fr

[2020-08-10 23:50] kevinchalet commented on #1051
Spanish support will be added by @Bartmax as part of this PR: https://github.com/openiddict/openiddict-core/pull/1054.

[2020-08-12 00:59] kevinchalet opened #1055 "Bump the ASP.NET Core/.NET Platform Extensions packages"
ASP.NET Core 2.1.21 and 3.1.7 were released yesterday, so we'll need to update our `Directory.Packages.props`.

[2020-08-12 16:14] PatrikTrestik commented on #680
Hi. I need this functionality for our legacy OWIN base app. What I need is exactly same as in provided sample (HomeController.cs) but in OWIN environment.
Is it possible?

Other option is to generate access token from ClaimsPrincipal. I also do no know how to do it.

[2020-08-12 19:37] #1055 closed, assigned to kevinchalet

[2020-08-13 19:04] kevinchalet commented on #858
@hishamco BTW, would you be interested in providing the Arabic translation? At the time of writing, there are ~120 strings to translate. XLF files can be easily opened in tools like Poedit for a complete GUI experience.

Existing translations can be found here: https://github.com/openiddict/openiddict-core/tree/dev/src/OpenIddict.Abstractions/Resources/xlf

Please let me know if you're interested

[2020-08-13 19:13] kevinchalet commented on #1051
@kinosang is providing simplified/traditional Chinese translations something that you could be interested in?

At the time of writing, there are ~120 strings to translate. Translations that are already supported can be found here: https://github.com/openiddict/openiddict-core/tree/dev/src/OpenIddict.Abstractions/Resources/xlf

Please let me know if you're interested 😃

(note: XLF files can be easi

[2020-08-13 22:15] hishamco commented on #858
Sure, I hope to find a time to do it ASAP

[2020-08-13 22:42] kevinchalet commented on #858
@hishamco fantastic, thanks a lot! 😃

I opened https://github.com/openiddict/openiddict-core/pull/1058 to add `OpenIddictResources.ar.xlf` to the repo. Let me know if you have any question/remark.

[2020-08-13 22:47] hishamco commented on #858
Just assign it to me, I'm cloning the repo, if there's anything related I will rely there ...

[2020-08-14 04:41] kinosang commented on #1051
@kevinchalet yep. I'll create a PR for that today.

[2020-08-16 10:32] serkanz commented on #1051
I could provide Turkish translations if it's appropriate

[2020-08-16 13:18] kevinchalet commented on #1051
I added the [OpenIddictResources.tr.xlf file](https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.Abstractions/Resources/xlf/OpenIddictResources.tr.xlf). To contribute to the Turkish translation, please fork the repo and send a PR 😃

[2020-08-16 13:26] serkanz commented on #1051
It's coming in a few hours 👍😀

[2020-08-17 19:17] #1049 closed, assigned to nobody

[2020-08-18 12:10] fizker opened #1068 "Grant type `authorization_code` does not work in OpenIddict 3.0 beta 3"
Hi,

I tried to set up my server to support the auth code flow, but it seems to fail with an internal exception when trying to verify the client_id/client_secret combo. I sent the credentials with the HTTP Basic Auth header, but the same error happens when providing the credentials in the request body.

The server logs the following messages:

[code]

The interesting parts for me is that it logs a

[2020-08-18 12:29] kevinchalet commented on #1068
Hi,

Can you please share the code used to create the client application?

Thanks.

[2020-08-18 12:35] fizker commented on #1068
Sure. Because I am still in the early flow-design stage, I copied the code from https://github.com/openiddict/openiddict-core/blob/dev/samples/Mvc.Server/Worker.cs#L35-L65 and modified slightly. The version I tested against was

[code]

[2020-08-18 13:02] kevinchalet commented on #1068
I tried to reproduce this issue locally but so far, no luck.

What's the value of the `ClientSecret` column (in the database) for this client?

[2020-08-18 13:12] fizker commented on #1068
It looks to be exactly the string that was given in the create-call. The raw data exported from Azure Data Studio to JSON is
[code]

To be honest, I saw this issue in Beta 2 and then decided to update to beta 3 to see if the problem had been solved. So it might be a left-over problem from that version.

I can also try to extract to a separate project later tonight. My main project is proprietary,

[2020-08-18 13:17] kevinchalet commented on #1068
The client secret is typically "hashed" (using PBKDF2) before being stored in the database.

When I execute your snippet locally, the entry is correctly created (i.e with a hashed secret that looks like `AQAAAAEAACcQAAAAEB5mc/ALCfnxrlNPcc5Iwo5iNdY25jyjEtLjS7tNEHexf8ioEpVkSp7iYrJvGAmONA==`).

[2020-08-18 13:28] kevinchalet commented on #1068
Do you use custom stores or a custom application manager?

[2020-08-18 13:33] fizker commented on #1068
I did mess around trying to get it to work, so there is a non-zero chance that I might have manually broken it. I have moved on to the next part of the flow for now, but I will take a second look later today. Until then, it probably does not make much sense for you to keep digging.

[2020-08-18 13:49] kevinchalet commented on #1068
Roger that. Let's keep this ticket open until you have a chance to give it another try.

[2020-08-18 17:21] ssimo3lsuhsc opened #1070 "Use both reference tokens and JWT in same application"
Hello!
I’m wondering if it is possible to use both reference tokens and JWT tokens in the same project. I need to be able to revoke a reference token once it has been validated and exchange it for a JWT token. This step is crucial in ensuring my project’s adherence to the [cmi5 standard](http://aicc.github.io/CMI-5_Spec_Current/). Thank you!!!

[2020-08-18 18:51] kevinchalet commented on #1070
Hey,

This [blog post](https://kevinchalet.com/2020/06/11/introducing-openiddict-3-0-beta1/) and its "Enabling reference tokens is no longer required to use immediate access token revocation" chapter should answer your question 😃

[2020-08-18 19:25] ssimo3lsuhsc commented on #1070
I do not need revocation on all API calls. As a matter of fact, if the revocation is done on all API calls, my application is not cmi5-compliant. need to revoke the token if and only if a method is called, and I haven't yet found documentation of a method `revoke()` or anything similar in the documentation.

I also apparently have to use the `Basic ` (not `Bearer`) authentication scheme.

[2020-08-18 19:34] kevinchalet commented on #1070
You probably misread the post: it’s the validation that is per-request (if you explicitly enable authorization and/or token entry validation) not the revocation.

[2020-08-19 08:40] fizker commented on #1068
I have poked around a bit more, and it looks like the problem was probably that I messed around trying to figure out my client implementation, plus that I got lost when trying to match the stack trace against the OpenIddict code to see when it happened and what I should do to resolve it.

Sorry for the inconvenience.

[2020-08-19 08:40] #1068 closed, assigned to nobody

[2020-08-20 16:32] #1070 closed, assigned to nobody

[2020-08-21 16:39] auroris commented on #983
Does this have relevance? https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/

[2020-08-21 21:41] kevinchalet commented on #983
@auroris yeah. We'll need to update all the samples to use TLS (the good thing is that it's now much easier, compared to how painful it was 5 years ago 😅)

[2020-08-25 22:24] marianosz opened #1073 "Getting the scopes when using the refresh token to get a new access token"
Hello @kevinchalet, thanks for your great work.
I'm opening this issue, but I'm not sure if this is an issue, some bad configuration or the way that is supposed to work...

I'm using the refresh token to get a new access token and I want to keep the previous scopes used to get the token, but I cant find a way to get that info when processing the refresh token.

I have this code used on the previou

[2020-08-26 11:48] kevinchalet commented on #1073
Hey,

In 3.0, all the things that used to be stored as ASP.NET Core authentication properties are now stored as "private" claims (i.e claims prefixed with `oi_`). You can retrieve the granted scopes using `principal.GetScopes()`. In your case, you can also avoid calling `principal.SetScopes()` for the authorization code/refresh token grant types: in this case, the scopes will be preserved and reus

[2020-08-26 12:53] marianosz commented on #1073
Hey, thanks for your answer.
The problem is that `principal.GetScopes()` is empty, using the refresh token that was generated with an access token with `"scope": "openid email profile offline_access roles",`. So here is my confusion...

[2020-08-26 12:55] kevinchalet commented on #1073
How do you retrieve the principal?

[2020-08-26 12:57] marianosz commented on #1073
This is the code that im using that was working on net core 2

[code]

[2020-08-26 13:00] kevinchalet commented on #1073
[code]

Your principal is created by Identity so it doesn't contain the claims added by OpenIddict in the refresh token principal. You can resolve the refresh token principal using `AuthenticateAsync(OpenIddictServerAspNetCoreDefaults.AuthenticationScheme)`.

Or, as I mentioned earlier, don't override the scopes and OpenIddict will restore the private claims - including the scopes - from the refre

[2020-08-26 13:34] marianosz commented on #1073
AWESOME! Using `AuthenticateAsync(OpenIddictServerAspNetCoreDefaults.AuthenticationScheme)` on the refresh token flow fixed it! Thanks!

[2020-08-26 13:34] #1073 closed, assigned to nobody

[2020-08-26 23:17] kevinchalet opened #1075 "Add back the nullable reference annotations in the 4 managers interfaces"
Once https://github.com/dotnet/roslyn/issues/46494 is fixed, we'll need to revert https://github.com/openiddict/openiddict-core/pull/1046.

[2020-08-26 23:22] kevinchalet commented on #1036
Note: support for this feature was added in VS `16.8.0 Preview 2.0` and requires using `<LangVersion>preview</LangVersion>`.

[2020-08-27 12:31] BaumTom opened #1076 "Azure BLOB storage for persisting keys"
Hi,

I've started a trial to migrate to version 3. So far everything the migration went smoothly. The problem I have is that I want to share the encryption key with other micro services.

I've used opaque tokens and with version 3 I think the default are JWTs.

With the opaque tokens I've just need to add following snippet so that the keys were share via Azure:

[code]

Is this approach still vali

[2020-08-27 13:00] kevinchalet commented on #1076
Hey,

By default, it has no effect as OpenIddict 3.0 doesn't use Data Protection tokens by default. Read https://kevinchalet.com/2020/06/11/introducing-openiddict-3-0-beta1/ for more information on how to enable Data Protection in 3.0.

https://github.com/openiddict/openiddict-core/issues/976#issuecomment-643305644

[2020-08-27 13:10] BaumTom commented on #1076
Thanks, that already helps a lot.

As my app is still in development, I can switch to JWTs at any time. Would you prefer the JWTs over the Data Protection tokens?

[2020-08-27 13:18] kevinchalet commented on #1076
Data Protection tokens are the best option. If you need JWT access tokens, you can use DP for the other token types and JWT only for access tokens using `options.UseDataProtection().PreferDefaultAccessTokenFormat();`.

[2020-08-27 14:23] BaumTom commented on #1076
Thanks, then I'll continue to use DP tokens.

In my other micro services, where the validation happens, I followed this description (in v2): [Resource server shared ASP.NET Core DataProtection](https://openiddict.github.io/openiddict-documentation/configuration/token-setup-and-validation.html#resource-server-shared-aspnet-core-dataprotection)

[code]

Do you also have some guidance what needs to b

[2020-08-31 14:43] #1036 closed, assigned to kevinchalet

[2020-09-02 08:56] davidvr2 opened #1080 "Authenticating remote API/resource server using client credential flow not authenticating."
I have searched high and low and tried many different things and so far I cannot get an authorized response if my Authorization server and Resource server isn't the same application. So my latest attempt is using the Aridka sample client and server as is. That works perfectly together.
Then from what I learnt [here](https://github.com/openiddict/openiddict-core/issues/901) I added AddJwtBearer to

[2020-09-02 13:15] kevinchalet commented on #1080
Without seeing your OIDC server config, hard to say what's going on.

[2020-09-02 15:35] kevinchalet commented on #1080
I updated the Zirku.Api2 sample to show how to configure local validation in a separate project: https://github.com/openiddict/openiddict-samples/commit/d0802061c087c3ba1e9a6854450a9af38a45991a

[2020-09-02 15:35] #1080 closed, assigned to nobody

[2020-09-02 15:41] kevinchalet commented on #1076
Your configuration is invalid. Take a look at https://github.com/openiddict/openiddict-samples/commit/d0802061c087c3ba1e9a6854450a9af38a45991a for a sample using local token validation.

[2020-09-02 15:41] #1076 closed, assigned to nobody

[2020-09-03 14:12] kevinchalet opened #1081 "Use SecurityTokenDescriptor.TokenType when available"
[The `TokenType` property I suggested](https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1397) is about to be added to `SecurityTokenDescriptor`: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1522

[2020-09-04 13:19] davidvr2 commented on #1080
Sorry for the delay in getting back to you. Has been a crazy couple of days. Like I said the server is the Aridka.Server sample as is. I didn't make any changes there except adding AddDevelopmentSigningCredentials
`services.AddOpenIddict()
...
                .AddServer(options =>
                {
...
                    options.AddDevelopmentSigningCertificate();
...
                })`

The who

[2020-09-04 16:50] DaljitBhail opened #1082 "Renaming Tables"
struggling to rename the new tables in Ver 3. If I reference models namespace I can only change the old table names. How do I change the new table names to conform with naming standards:

`
     protected override void OnModelCreating(ModelBuilder modelBuilder)
        {
  modelBuilder.Entity<OpenIddictApplications>().ToTable(string.Format("{0}_{1}", IDENTITY_PREFIX, OPENIDDICT_APPLICATION));

[2020-09-04 16:54] kevinchalet commented on #1082
Table names haven't changed, only the models have, and it shouldn't have any impact on the names used for the SQL tables.

[2020-09-04 17:13] DaljitBhail commented on #1082
The entity OpenIddictApplications creates a table called OpenIddictApplications. I want to call it CLIENTXXX_123_OpenIdDictApplications. But in ApplicationDbContext the entity OpenIddictApplications  does not exist. Is there a specific namespace or nuget package I need to install?  I note that package OpenIdDict.Models nuget is still in ver.2 and refers to OpenIddictApplication and not OpenIddictA

[2020-09-04 17:15] kevinchalet commented on #1082
Did you read https://kevinchalet.com/2020/06/11/introducing-openiddict-3-0-beta1/ ?

[2020-09-04 17:54] DaljitBhail commented on #1082
I have gone through it and excuse me as I cannot see the answer.

In the old version I had a reference to OpenIddict.EntityFrameworkCore.Models and could change the table name of each of the models.

I have installed every package there is and I still cannot find a reference to these models. If I reference the old models, it creates two sets of tables.

All I want to do is change the name of the d

[2020-09-04 17:55] kevinchalet commented on #1082
![image](https://user-images.githubusercontent.com/6998306/92271707-93570b00-eee8-11ea-8cc0-def386712a4e.png)

[2020-09-04 18:41] DaljitBhail commented on #1082
Don't worry about it...I give up !

You made an incredible solution with 2.0.0-rc3-final. Worked so well with Angular and Nativescript. Hat off to you. I even wrote a whole load of blogs at Nativescript on how to use tokens.

But this new version is painful.  Takes forever to work out how to use int as the primary key and now trying to change the database tables names. Following you logic I would

[2020-09-04 18:48] kevinchalet commented on #1082
They are definitely part of this package: https://github.com/openiddict/openiddict-core/tree/dev/src/OpenIddict.EntityFrameworkCore.Models

OpenIddict has never used the plural form for the entity names, so either you had custom entities named this way or you were doing something weird. In both cases, you can't blame 3.0 for that.

Regarding `OpenIddict.Models`, it was removed in 2.0 RC3: https://

[2020-09-04 18:57] #1082 closed, assigned to nobody

[2020-09-08 00:59] egorpavlikhin commented on #700
This is confusing. How would OpenIddict know what the valid client credentials are?
There are also several examples (https://github.com/openiddict/openiddict-core/issues/240#issuecomment-254605982 https://github.com/openiddict/openiddict-samples/tree/master/samples/Aridka/Aridka.Server) in this project for the token endpoint, which explicitly validate client credentials via
`request.IsClientCreden

[2020-09-08 01:38] kevinchalet commented on #700
Implementing the client credentials flow doesn't mean **you** are responsible of validating the client credentials. If you carefully look at the samples, you'll see that their authorization controller doesn't validate the credentials but only provide the claims-based identity used to create the tokens: https://github.com/openiddict/openiddict-samples/blob/a66727e6fd387263c471d690a284398883fa4139/s

[2020-09-08 03:32] egorpavlikhin commented on #700
Thanks. Was able to do the same by using EF Core InMemory store and then implementing own ApplicationStore and overwriting hash validation in ApplicationManager, although I've left most methods `NotImplemented`, since they don't look to be needed in such scenario. I'd post the code, but it seems that will no longer be needed in 3.0 anyway.

"Degraded" should really be called "Upgraded", since it s

[2020-09-08 13:52] kevinchalet commented on #700
Not really. The degraded more is not magical, and using it has serious implications that explain why it's called "degraded" and not "upgraded":
  - You must implement client authentication yourself (using a time-constant comparison to prevent statistical attacks).
  - Application, grant type and scope permissions validation is something you need to add using the events model.
  - Token storage is

[2020-09-08 23:17] kevinchalet opened #1086 "Bump the Katana packages to 4.1.1"
https://github.com/aspnet/AspNetKatana/releases/tag/v4.1.1

[2020-09-09 00:58] kevinchalet opened #1087 "Bump the .NET Core/ASP.NET Core packages/SDK"
https://devblogs.microsoft.com/dotnet/net-core-september-2020/

[2020-09-18 15:52] kevinchalet commented on #736
FYI, I just joined the GitHub Sponsors program, so if you are interested in sponsoring OpenIddict and helping with its development, please don't hesitate: https://github.com/sponsors/kevinchalet

Every contribution counts, even small ones!

[2020-09-18 15:56] #1086 closed, assigned to kevinchalet

[2020-09-18 15:56] #1087 closed, assigned to kevinchalet

[2020-09-18 16:54] aviatoredb opened #1093 "Client Secret decoding incorrectly"
Building an OpenIdDict auth server using .Net Core 3.1 and OpenIdDict 3.0.0-beta3.20403.69
Testing with Postman

The request.ClientSecret is incorrect when evaluating in debugger.
[OpenIddictServerHandler.txt](https://github.com/openiddict/openiddict-core/files/5246954/OpenIddictServerHandler.txt)

I have implemented a server in degraded mode and have implements a custom IOpenIddictServerHandler<V

[2020-09-18 17:19] kevinchalet commented on #1093
It's not an OpenIddict issue: Postman doesn't properly encode the `+` sign, which is sent as-is when using formurl encoding. Yet, it's the standard form of the "space" character, hence the behavior you're seeing.

See https://github.com/postmanlabs/postman-app-support/issues/8626 for more information.

[2020-09-18 17:19] #1093 closed, assigned to nobody

[2020-09-18 17:23] aviatoredb commented on #1093
HUGE FACEPALM!  Thanks Kevin. I've bene banging my head on the wall looking for what I was doing wrong. Cheers

[2020-09-18 17:31] kevinchalet commented on #1093
You're welcome :smile:

If you found OpenIddict useful, please consider sponsoring me (or encouraging your company to do it) so I can dedicate more time to it: https://github.com/sponsors/kevinchalet

Cheers.

[2020-09-19 06:57] lahma commented on #1053
Just to update the status, yesterday 2020-09-18 I sent an email to NuGet support as 30 days had passed which is a requirement for package dispute. I'm waiting for their reply and actions.

[2020-09-19 14:06] kevinchalet commented on #1053
Thanks for the update! Let's hope they'll make the right decision 😄

[2020-09-21 09:32] GDreyV opened #1097 "Incorrect DateTimeOffset values when using the Oracle MySQL provider"
Everything worked perfectly when I was in UTC-05 time zone. But when I moved to UTC+03 time zone I'm constantly getting an error:

exactly on the same code. The error occurs when I call token exchange endpoint. I checked database and all values there seems to be correct UTC values.

I found that the error was fired at AspNet.Security.OpenIdConnect.Server\src\AspNet.Security.OpenIdConnect.Server\Op

[2020-09-22 14:01] kevinchalet commented on #1097
The check responsible of validating the expiration date is here: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/blob/398c2ea282d671c4b160440f6c059248cf5cee0d/src/AspNet.Security.OpenIdConnect.Server/OpenIdConnectServerHandler.Exchange.cs#L311-L324

Does it impact authorization codes created after changing the timezone or just the previously issued codes?

[2020-09-22 14:19] GDreyV commented on #1097
Yeah, I saw that code but didn't find a good way to debug it. I reproduce the problem performing clean login. I mean I remove all cookies and all tokens stored on the client side and start authorization from the very beginning. Also to be sure that it's not a cache I rebooted laptop.
I'm not sure if it's related but I'm using mysql database as a storage.

[2020-09-22 15:07] kevinchalet commented on #1053
@lahma did you hear back from the NuGet folks? If not, I know a few people in the NuGet team that could help speed up the process 😄

[2020-09-22 15:10] lahma commented on #1053
This morning got the following status update:

 

[2020-09-22 16:52] kevinchalet commented on #1097
Have you tried with 3.0's latest beta to see if you can reproduce it?

[2020-09-23 05:37] lahma commented on #1053
And this morning the following status update arrived:

[2020-09-23 12:20] GDreyV commented on #1097
Sorry, it will take some time to migrate to the version 3.0... I'm in progress, will share update as it's ready. Do you have any migration guide?

[2020-09-23 13:32] kevinchalet commented on #1097
Sadly nope. If it's important for you or your company, consider [sponsoring me](https://github.com/sponsors/kevinchalet) so I can spend more time on things that could help the community.

[2020-09-24 01:34] GDreyV commented on #1097
Sorry, my company is pretty small but I'll try to setup sponsoring out of the pocket because you are doing a really great job!

Ok, I migrated to the version 3.0, thanks a lot for descriptive errors messages. And I still see the same error. I checked authorization code flow using samples and didn't face such issue. So it's something specific for my configuration. I will try to check sample with my

[2020-09-24 01:42] kevinchalet commented on #1097
Thanks! ❤️

Do you use EF/EF Core or custom stores? If you use EF Core, do you use the Oracle provider or the Pomelo provider?

[2020-09-24 11:01] GDreyV commented on #1097
I'm using MySql.Data.EntityFrameworkCore by Oracle.

[2020-09-24 11:46] kevinchalet commented on #1097
Thanks (and thanks a lot for your sponsorship!).

I'll give it a try and see if I can reproduce it with the Oracle provider. FWIW, I've always had way better results with the Pomelo provider, so it may be interesting to see if it's also impacted or not.

[2020-09-24 14:16] kevinchalet commented on #1097
I'm able to reproduce the issue locally, and as you suspected, this is indeed caused by an issue with the dates retrieved from the database:

Before the token is persisted in the database:

![image](https://user-images.githubusercontent.com/6998306/94157198-3dd7a380-fe81-11ea-8d2a-5b3b8590ee8c.png)

When it's retrieved from the database:

![image](https://user-images.githubusercontent.com/6998306/

[2020-09-24 14:40] kevinchalet commented on #1097
It works just fine with the Pomelo provider. Would using it be an option for you?

If we want to make it work with the official provider, we'll need to either:
  - Fix the underlying issue directly in the Oracle MySQL connector. It's the best option, but not something we have much control over.
  - Use `DateTime` in the EF models (and `DateTime.SpecifyKind()` in the EF stores to enforce `DateTimeK

[2020-09-24 14:55] GDreyV commented on #1097
Wow, it was fast. Great you found the reason.
For sure I will try Pomelo provider. The question us should I stay with openiddict version 3.0 for production (it looks like in includes all pdbs and consumes much more memory) or rollback to the version 2.0.1? Do you have any thoughts about possible release date? For sure I'd love to stay with v.3 :)

[2020-09-24 15:03] GDreyV commented on #1097
One more question, do you have Issue number for the Date format? Is it this one: https://bugs.mysql.com/bug.php?id=92367 ?

[2020-09-24 15:21] kevinchalet commented on #1097
That's the "sponsors treatment" 😄

OpenIddict 3.0 (beta3 and later) is now stable enough to be used in production.

Beta4 will be released soon (it's currently blocked by https://github.com/openiddict/openiddict-core/issues/1053) and we'll have another beta to use new APIs from IdentityModel and react to bug fixes in the Roslyn compiler/VS. I don't know yet whether a RC1 version will be useful or

[2020-09-24 15:24] GDreyV commented on #1097
Thanks for the update. I'm switching to the Pomelo driver (have to fix some issues with charset and collation as that driver doesn't have such extensions and attributes) will post update here as it's ready just for history :)

[2020-09-24 15:56] kevinchalet commented on #1097
It's a change that occurred when we migrated to .NET Arcade. I'll check with @martincostello whether we still want to use embedded PDBs in the aspnet-contrib projects or if we can use `<DebugType>portable</DebugType>` instead.

[2020-09-24 15:57] #868 closed, assigned to nobody

[2020-09-24 22:51] kevinchalet commented on #1097
@GDreyV FYI, we just switched to `<DebugType>portable</DebugType>` + `.snupkg`, which should reduce the size of both assemblies and packages. If you're interested in giving the nightly builds a try, the `3.0.0-beta4.20474.78` version includes these changes.

Regarding the memory footprint, I'd expect OpenIddict 3.0 to take a bit more RAM as there are more assemblies to load, but I'm interested in

[2020-09-25 02:12] kevinchalet commented on #948
Closing for now. Will revisit in 3.1 if there's a demand from the community.

[2020-09-25 02:12] #948 closed, assigned to nobody

[2020-09-25 07:55] GDreyV commented on #1097
@kevinchalet thanks a lot for your help and fast replies. I suppose we can close the issue now. Just for the history here's the answer and possible workaround for the problem: https://github.com/openiddict/openiddict-core/issues/1097#issuecomment-698374105

[2020-09-25 07:55] #1097 closed, assigned to nobody

[2020-09-30 14:14] kevinchalet commented on #1053
Today's the day 🤞

[2020-09-30 17:31] lahma commented on #1053
We'll see. If I don't hear anything this night I'll send a follow-up tomorrow morning 🙂

**UPDATE**: I sent them a reminder...

[2020-10-01 18:40] kevinchalet commented on #1053
![image](https://user-images.githubusercontent.com/6998306/94849778-39356100-0426-11eb-8a50-892246fe139f.png)

![](https://media.giphy.com/media/4xZmzEuuQ8wnK/giphy.gif)

[2020-10-02 05:58] lahma commented on #1053
And the 3.2 release is now live! 🎉 🚀

[2020-10-02 08:29] #1053 closed, assigned to kevinchalet

[2020-10-02 10:24] JohnCorner78 opened #1109 "Single Login for Server and Client application"
My scenario based on “Velusia” sample provided with OpenIddict framework. In my scenario server running under [https://domain/server](https://domain/server)   address. ASP.Core client application added under [https://domain/client](https://domain/client) . Both applications share the same domain, but different subdomains and each application uses its own application pool process.

It is all workin

[2020-10-02 13:25] #1051 closed, assigned to nobody

[2020-10-02 14:06] kevinchalet commented on #736
OpenIddict 3.0 beta4 is out: https://kevinchalet.com/2020/10/02/introducing-quartz-net-support-and-new-languages-in-openiddict-3-0-beta4/

[2020-10-02 19:26] weedkiller opened #1111 "Integration with Skoruba Admin to replace Identity Server"
Hello, I did not know this existed, but great work! 💯

They are making Identity Server a fully commercial license now, so this is a great option as suggested by @larsfjerm [here](https://github.com/skoruba/IdentityServer4.Admin/issues/718)

Can you please help share some guidance and steps to configure openiddict-core with [GUI Admin](https://github.com/skoruba/IdentityServer4.Admin)

- Code snipp

[2020-10-03 02:33] kevinchalet commented on #1111
Hi,

Thanks 😄

Unfortunately, I don't think it would be that easy, as `IdentityServer4.Admin` is tied to IdentityServer4's APIs (which is not unreasonable for an IdSrv plugin 😅). Nothing would prevent you from reworking it completely to use OpenIddict's core APIs instead, but I suspect that would be a time-consuming process.

While OpenIddict doesn't have any GUI/admin panel, OrchardCore has an Op

[2020-10-03 02:36] kevinchalet commented on #1109
I'd say you didn't correctly configure your server app to use persistent ASP.NET Core Data Protection keys, that are used to protect the authentication cookies created by ASP.NET Core Identity (and needed to keep the user logged in at the authorization server level).

See https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?view=aspnetcore-3.1 for more infor

[2020-10-03 02:53] weedkiller commented on #1111
first, appreciate your response

I'm fine with reworking the code and API's to retrofit, I think many will follow as it becomes an natural/easier path.

Would we be able to reuse the Orchard Core GUI views in and ASP app easily. Happy to contribute... just need to get caught up more

[2020-10-03 19:02] kevinchalet opened #1113 "Investigate why transitive dependencies are leaking"
For reasons I ignore, something regressed in beta4/5 that caused transitive dependencies to leak across packages.
It shouldn't cause any technical issue, but it adds unnecessary/unwanted noise in the package dependencies:

https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.AspNetCore/OpenIddict.AspNetCore.csproj
https://www.nuget.org/packages/OpenIddict.AspNetCore/3.0.0-beta5.20

[2020-10-03 19:44] kevinchalet commented on #1111
This blog post I just wrote should help make things clearer: https://kevinchalet.com/2020/10/03/using-the-orchardcore-openid-management-feature-with-an-existing-openiddict-deployment/ 😃

[2020-10-04 02:49] #1109 closed, assigned to nobody

[2020-10-04 14:14] papyr commented on #1111
Hi I was reading your article, whats is the velucia server and any chance you can give us an API for the membership would like to try it out as well

[2020-10-04 14:52] kevinchalet commented on #1111
![image](https://user-images.githubusercontent.com/6998306/95018545-b9470b00-0660-11eb-8bda-a9a080ba4d9b.png)

It's not planned (and I don't even have the bandwidth for that): membership is beyond the scope of OpenIddict, which is an OIDC stack focused on the authorization part. If you need such a thing, consider taking a look at https://github.com/mguinness/IdentityManagerUI.

[2020-10-05 08:56] JohnCorner78 commented on #1109
thank you for the advise, I'll try to review server configuration.

[2020-10-05 14:41] #1111 closed, assigned to nobody

[2020-10-06 02:06] rvlajcev opened #1115 "DateTimeOffset query issues when using the EF Core stores with PostgreSQL"
Getting errors on Quartz job trigger.
Tried with Postgresql and SQLite, standalone and embedded.

Migration added and database is created.
Stack trace is in an attachment;

Thank you and keep up the good work.

[code]

Stack trace:
[log20201006.txt](https://github.com/openiddict/openiddict-core/files/5330924/log20201006.txt)

[2020-10-06 06:08] yawnston commented on #1115
From what I can tell, these seem to be issues with the SQLite and Postgres providers for EF Core. These issues for [SQLite](https://github.com/dotnet/efcore/issues/14082) and [Postgres](https://github.com/npgsql/efcore.pg/issues/473) explain that the underlying DBs don't have a straightforward way of storing `DateTimeOffset`, so another way of mapping those values would need to be implemented in t

[2020-10-06 13:02] rvlajcev commented on #1115
Such feature should be database agnostic, imho.
I guess it's time for custom implementation.

[2020-10-06 15:02] kevinchalet commented on #1115
OpenIddict's EF Core stores are database agnostic, but as @yawnston perfectly explained, they use `DateTimeOffset`, for which querying has annoying limitations in certain providers like SQLite.

That said, it's not the first time we encounter bugs related to `DateTimeOffset`: the Oracle MySQL provider also has an issue with date round-tripping: https://github.com/openiddict/openiddict-core/issues/

[2020-10-06 15:34] marcellorutter opened #1117 "[Q] ASP.NET Core 3.1 / .NET Core 3.1 / EF Core 5 and OpenIddict v. 3"
Hello.

I have a simple question. I would kindly ask if I can use OpenIddict v. 3.x in a ASP.NET Core 3.1 project that is using EF Core 5.0 (not EF Core 3.1).

Thank you very much.
-m

[2020-10-06 15:50] rvlajcev commented on #1115
I was reffering to` public virtual async ValueTask PruneAsync`,
not store in general.

That's up to you, Kévin. Thanks to @yawnston, I now know where the problem is,
 so I can move on to custom implementation.
I mean, it would be great if I don't have to, but for me, personally, it's not a big deal.

Cheers

[2020-10-06 15:52] kevinchalet commented on #1117
Hey,

Yep, it should work. If it doesn't, let me know.

Cheers.

[2020-10-06 21:10] kevinchalet commented on #1113
Potential culprits:
  - .NET SDK 5.0 RC1.
  - `snupkg`s, that we enabled recently.
  - CPVM.

[2020-10-06 21:41] kevinchalet opened #1118 "Annotate OpenIddictParameter.IsNullOrEmpty() with [MemberNotNullWhen]"
Adding this annotation should help the compiler figure out that the read-only `OpenIddictParameter.Value` property is guaranteed to be non-null when the static `OpenIddictParameter.IsNullOrEmpty()` method is called and returns `false`:

https://github.com/openiddict/openiddict-core/pull/1116/files#diff-492dc35074f45f4b59b533626ee53171R271

Note: `ReferenceAssemblyAnnotator` doesn't include this at

[2020-10-07 06:49] marcellorutter commented on #1117
Thank you  very much for your quick answer.
I'm setting up the project in these hours.
I will let you know about the result.

Thanks.
Best regards.

[2020-10-08 14:47] #1037 closed, assigned to nobody

[2020-10-08 16:14] #1115 closed, assigned to kevinchalet

[2020-10-08 16:15] kevinchalet commented on #1113
The NuGet team confirmed this is caused by CPVM: https://github.com/NuGet/Home/issues/10115.

[2020-10-08 23:55] masakura opened #1122 "Cannot serialize ImmutableArray<T> by MongoDb.Driver"
`MongoDb.Driver` cannot serialize `ImmutableArray <T>`.

[code]

I get an exception when I run the application.

[code]

[2020-10-09 08:02] Gillardo commented on #736
Do you have an idea of when openiddict 3.0 will be out, not beta

[2020-10-09 12:40] kevinchalet commented on #736
@Gillardo when it's ready 😃

If you want it to happen ASAP, consider contributing, sponsoring me so I can dedicate more time to this project and encouraging your employer to do so.

[2020-10-09 13:20] Gillardo commented on #736
@kevinchalet thats fine, i was just wondering if you have a time frame.  I maybe able to get sponsorship for it and able to contribute some time to this project but i need to convince the boss first and he will then ask the exact question i have.....  If i go to him saying, i dont know that wont go down well.

I am only asking as we have updated to net5 and although v2 works, i would like to upgra

[2020-10-09 15:43] #1122 closed, assigned to kevinchalet

[2020-10-09 15:54] kevinchalet commented on #1122
A new nightly build with a potential fix was pushed to MyGet.org. Give it a try when you have a moment.

[2020-10-09 15:58] kevinchalet commented on #1117
Closing, as I guess it went smoothly 😃

[2020-10-09 15:58] #1117 closed, assigned to nobody

[2020-10-10 20:51] NoahStahl opened #1124 "Cosmos DB store"
Thanks for this work! I'm working on implementing into a project. Since I'm using Cosmos DB and am planning to implement custom stores against its [.NET SDK](https://github.com/Azure/azure-cosmos-dotnet-v3), I was wondering if OpenIddict would be open to having that as a contribution alongside the EF and Mongo implementations? If so I could attempt one modelled after those and submit via PR, other

[2020-10-11 15:25] rvlajcev opened #1125 "Use ECCurve.Oid.Value when comparing EC curves"
Hosted on Ubuntu, NGINX, Cloudflare DNS with proxy
OpenIdDict v2.0.1 and _other STS_ are working fine in production.
Dev build works fine.
Being new to OpenIdDict, I'm probably missing something obvious.

Api side:
[code]

Everything works using JwtBearer auth instead OpenIdDict
[code]

Api stack:
[code]
Server side:
[code]
Server log (Api is calling http:// instead https://):
[code]

[2020-10-11 15:37] kevinchalet commented on #1125
Can you share the complete response returned by the `/.well-known/jwks` endpoint? Without that, it's hard to say what's going on.

[2020-10-11 15:42] rvlajcev commented on #1125
Sure.

[code]

[2020-10-11 15:45] kevinchalet commented on #1125
As I suspected, the error you see is due to the fact there's no `crv` node returned by the JWKS endpoint, which seems to indicate it's not one of the supported NIST curves:

https://github.com/openiddict/openiddict-core/blob/725265e04ea18a4db4c789b08637a80a0d02ad91/src/OpenIddict.Server/OpenIddictServerHandlers.Discovery.cs#L1201-L1209

How did you create the key?

[2020-10-11 15:49] rvlajcev commented on #1125
On the fly for this instance.
[code]

[2020-10-11 16:06] kevinchalet commented on #1125
Super weird. If you export the parameters using `var parameters = ecdsa.ExportParameters(includePrivateParameters: false);`, what's the value of `parameters.Curve.Oid.FriendlyName` and `parameters.Curve.Oid.Value`?

[2020-10-11 16:10] rvlajcev commented on #1125
[code]

[2020-10-11 16:15] kevinchalet commented on #1125
Does `ECCurve.NamedCurves.nistP256` give you the same values?

[2020-10-11 16:19] rvlajcev commented on #1125
It does.

[2020-10-11 16:23] kevinchalet commented on #1125
I'm out of ideas. If it gives you exactly the same value, then the `string.Equals(parameters.Curve.Oid.FriendlyName, ECCurve.NamedCurves.nistP256.Oid.FriendlyName, StringComparison.Ordinal);` check made by OpenIddict should return `true` and a `crv` parameter should be returned to indicate it's a P256 curve.

[2020-10-11 16:30] kevinchalet commented on #1125
Just to be sure, what's returned by `string.Equals(parameters.Curve.Oid.FriendlyName, ECCurve.NamedCurves.nistP256.Oid.FriendlyName, StringComparison.Ordinal);` on your Ubuntu machine?

[2020-10-11 16:44] rvlajcev commented on #1125
Ubuntu: `False`
Dev Windows: `True`

[2020-10-11 16:45] kevinchalet commented on #1125
This is insane.

And `string.Equals("nistP256", ECCurve.NamedCurves.nistP256.Oid.FriendlyName, StringComparison.Ordinal);`?
And `string.Equals("nistP256, "nistP256", StringComparison.Ordinal);`?

[2020-10-11 16:50] rvlajcev commented on #1125
`True `on both cases on both machines.

[2020-10-11 16:54] kevinchalet commented on #1125
Heh. Let's try something else:

[code]

[2020-10-11 17:02] rvlajcev commented on #1125
Windows:
[code]
Ubuntu:
[code]

[2020-10-11 17:08] kevinchalet commented on #1125
You said earlier that `FriendlyName` was returning `nistP256` for your key. Here, it's `ECDSA_P256`. Does the value change when you restart your app?

[2020-10-11 17:11] rvlajcev commented on #1125
Let me reboot server, just to be sure.

[2020-10-11 17:17] rvlajcev commented on #1125
Name: `ECDSA_P256`
Value: `1.2.840.10045.3.1.7`

I messed up, was checking values on local machine first time, sorry.

[2020-10-11 17:21] kevinchalet commented on #1125
😅

So: OpenSSL can return two different friendly names for nistP256. Fun...

I'll update the code to use the OID value.

[2020-10-11 17:30] rvlajcev commented on #1125
Thank you.
Should I close it?

[2020-10-11 17:31] kevinchalet commented on #1125
Please leave it open, I'll take care of closing it when the bug is fixed in beta6.

[2020-10-11 17:31] rvlajcev commented on #1125
Alright, have a nice one.

[2020-10-11 17:33] kevinchalet commented on #1125
Thanks, you too!

If you like the project, consider encouraging your employer to sponsor it so I can dedicate more time on it: https://github.com/sponsors/kevinchalet ❤️

[2020-10-11 17:35] rvlajcev commented on #1125
I sure will.

[2020-10-12 14:37] kevinchalet commented on #1125
This won't be as easy as expected: on .NET Framework 4.x and .NET Core 2.1, the `Oid.Value` attached to `ECParameters` returned by `ExportParameters()` is typically null (for reasons I ignore), which means we can't remove the `FriendlyName` check (at least on these platforms). This also explains why I had used `FriendlyName` instead of `Value` when adding ECDSA support.

[2020-10-12 16:14] #1125 closed, assigned to kevinchalet

[2020-10-12 17:47] kevinchalet commented on #1124
Hey @NoahStahl,

To be honest, I'm torn regarding Cosmos DB support:
  - I like Cosmos DB's overall offer, specially the semi-structured approach (you can do the same things with recent versions of SQL Server and with PostgreSQL, tho).
  - Entity Framework Core now supports Cosmos DB. Sadly, There are severe querying limitations and last time I tried, it didn't work well with the queries used by O

[2020-10-12 18:39] kevinchalet commented on #1125
Updated packages were pushed to MyGet.org to fix this issue. Can you please give them a try?

[2020-10-12 18:41] rvlajcev commented on #1125
Of course, as soon as I get home.

[2020-10-12 21:41] rvlajcev commented on #1125
Everything seems to be fine 👍

[code]

[2020-10-12 22:02] kevinchalet commented on #1125
@rvlajcev thanks!

[2020-10-13 03:30] tombowers opened #1127 "Ambiguity when granting scopes"
I don't know if this is a question or a bug report. Forgive me! As I understand it, there are 2 types of scopes that can be granted in OIDC. "Protocol" scopes, which have side effects, such as `openid` which causes the ID token to be generated, and custom scopes, which when granted are simply returned as part of the scope claim.

In OpenIddict, we add scopes to the claims principal within the cont

[2020-10-13 09:04] amr3ssam opened #1128 "Validate Token in Resourse API using Authentication API"
Hi,

I create an Auth API using openiddict 3.0 and it's working perfectly with my Frontend but when i created another API and i wanted to validate requests in it using the Auth API, I got  "401 Unauthorized"
I'm following https://github.com/openiddict/openiddict-samples/blob/dev/samples/Zirku/ to communicate between the Second API and the auth API
i tried the two ways in this example API 1 and API

[2020-10-13 09:43] yawnston commented on #1122
Just tried the nightly build, the serialization issue is fixed 👌

[2020-10-13 12:17] kevinchalet commented on #1127
That's right. And as you figured out, scopes are always granted the same way in OpenIddict, whether they are "protocol" or "custom" scopes.

The handler you linked targets the `ProcessAuthenticationContext` event, which means it is only invoked when validating an incoming access/identity/refresh token or device/user/authorization code ; i.e it is never used when preparing an authorization or token

[2020-10-13 12:30] kevinchalet commented on #1127
It's actually simpler than that: the only way to grant scopes - protocol or custom - is to use the OpenIddict scope claims (`oi_scp`).

Don't be fooled by the fact OpenIddict automatically grants the `openid` when 1) it's requested 2) the developer didn't call `SetScopes`. It's meant to allow returning identity tokens even if the developer doesn't want to bother with scopes.

This mechanism is han

[2020-10-13 13:25] kevinchalet commented on #1128
I'd say that's because you don't grant the `api1` scope when calling `SetScopes()`.

You should be able to confirm that by taking a look at the `WWW-Authenticate` response header.

[2020-10-13 18:43] #1124 closed, assigned to nobody

[2020-10-13 22:20] tombowers commented on #1127
Thanks so much for the explanation. That's very clear now. Much appreciated!

[2020-10-13 22:20] #1127 closed, assigned to nobody

[2020-10-13 23:42] kevinchalet commented on #1075
@sebastienros @agriffard this bug was fixed in the .NET 5.0 RC2 SDK/Visual Studio 16.8 preview4.
Do you guys plan to move to .NET 5.0 soon (not necessarily for the TFMs)?

I'd like to merge https://github.com/openiddict/openiddict-core/pull/1084 as part of OpenIddict 3.0 beta6, but this will require bumping the .NET SDK used to build OrchardCore, as older versions are impacted by a Roslyn bug.

[2020-10-14 00:04] kevinchalet commented on #1127
My pleasure. If you like the project, please consider encouraging your employer to sponsor the project: https://github.com/sponsors/kevinchalet ❤️

[2020-10-14 02:18] NoahStahl commented on #1124
Thanks Kevin for sharing your thoughts. If you're not seeing demand for it, then it makes sense not to expand the maintenance surface. The EF integration for Cosmos does seem like more an afterthought, so I think the SDK is the best way to go if ever wanting to add a SQL-based integration. Regarding the API types, it is true there would be multiple scenarios to have full coverage, though Gremlin/S

[2020-10-14 12:53] #1128 closed, assigned to nobody

[2020-10-14 15:15] #1081 closed, assigned to kevinchalet

[2020-10-14 16:24] kevinchalet commented on #1113
The NuGet team doesn't plan to change this behavior in 5.0 RTM and it's not clear when they'll be able to introduce a switch to opt out this unwanted behavior. As such, we'll need to remove CPVM.

@martincostello I'm afraid we'll also have to do that in the aspnet-contrib repos... 😭

[2020-10-14 16:33] martincostello commented on #1113
How much of an issue is this in the other repos with minimum dependencies? For example, MyGet only shows this for the Apple provider for 5.0 RC2:

![image](https://user-images.githubusercontent.com/1439341/96018530-4c432a80-0e43-11eb-8d43-d5b528e357e5.png)

[2020-10-14 16:41] kevinchalet commented on #1113
Hum yeah, good point. It looks like we don't have `<PackageVersion>`s for the transitive dependencies referenced by the IM packages we depend on, so it's much less visible in the OAuth/OpenID 2.0 repos than here (in another project, we now have up to 44 direct references compared to 7 before this change 🤣).

[2020-10-14 17:38] kevinchalet commented on #1113
@martincostello we can get a similar centralized management experience by using `<PackageReference Update />`: https://github.com/openiddict/openiddict-core/pull/1130. Thoughts?

[2020-10-14 17:54] #1113 closed, assigned to kevinchalet

[2020-10-15 00:13] kevinchalet commented on #1118
Closing, as it looks like this attribute has no effect on static methods.

[2020-10-15 00:13] #1118 closed, assigned to kevinchalet

[2020-10-16 00:06] NoahStahl opened #1132 "Configuration without .AddIdentity?"
In my project, I'm not using `AspNetCore.Identity` for user storage. Therefore, I haven't added this line in my configuration, which is present in all the samples:

https://github.com/openiddict/openiddict-core/blob/923c53f67230b1af0d70d5e98a4c45adf71a2d56/samples/Mvc.Server/Startup.cs#L36

Because this has the side-effect of registering `IdentityConstants.ApplicationScheme` as the default authent

[2020-10-16 00:42] kevinchalet commented on #1132
It's a quite general question you should ask to the ASP.NET team, as it's not really specific to OpenIddict 😄

If you don't use Identity, you'll likely want to register at least a cookie handler. The ASP.NET Core docs should help for that (e.g https://docs.microsoft.com/fr-fr/aspnet/core/security/authentication/?view=aspnetcore-3.1).

[2020-10-16 01:01] NoahStahl commented on #1132
Thanks Kevin. I was thinking it specific to OpenIddict because presumably the inclusion of it  in the samples was on purpose. If it is indeed optional, that would raise the question as to how to understand its use and implications of omission. The sample just has the comment `// Register the Identity services` without any "because..." whereas there are lots of other (excellent) detailed comments w

[2020-10-16 01:06] kevinchalet commented on #1132
... it's pretty much the only membership stack available on .NET Core, which makes it hard to replace by something else 😅

You can also take a look at this blog post, that uses a single cookie handler (with the default scheme): https://kevinchalet.com/2020/02/18/creating-an-openid-connect-server-proxy-with-openiddict-3-0-s-degraded-mode/

[2020-10-16 04:51] NoahStahl commented on #1132
Yes, I think the degraded mode helps show how a slimmer setup can be achieved. Using the standard Cookies scheme seems to be working for me with my custom user management. I did get scared off by "degraded" and implemented all the stores for Cosmos DB to keep using the provided managers and validation, but that seems to be working too. Thanks again for your insight.

[2020-10-16 04:51] #1132 closed, assigned to nobody

[2020-10-16 08:19] fmExcense opened #1133 "Use OpenIddict within Azure Functions"
Hi guys, thanks a lot for your hard work! We have tried (unsuccessfully) to build an Azure Function that would act as an OpenIddict authentication server. Did you ever think about such a scenario? Right now it seems that it is not possible.

Any clues from your side are more than welcomed !

Thanks,

[2020-10-16 13:52] kevinchalet commented on #1133
Hi,

I did, but Azure Functions has severe limitations. The most annoying one is that they prevent ASP.NET Core authentication handlers from being registered in the DI container. Yet, both the OpenIddict server and validation ASP.NET Core hosts need to register a handler... so this simply doesn't work.

I tweeted about that in May and I was told they were considering fixing it... almost 5 months l

[2020-10-16 17:54] NoahStahl opened #1134 "Allowing database-generated values into created models"
I notice that that when `CreateAsync` is called in the code, it doesn't assign a value returned from the store. For example:

https://github.com/openiddict/openiddict-core/blob/45fcfbedaa319727df49c9d916087c1bb11f1a6b/src/OpenIddict.Core/Managers/OpenIddictTokenManager.cs#L153

Here, the value used to create the token is assumed to be the actual result of the creation.

As a result, any custom mod

[2020-10-16 17:59] kevinchalet commented on #1134
That's exact: stores are expected to mutate the `token` instance to attach database-generated values (i.e instead of returning a different one).

[2020-10-16 18:05] NoahStahl commented on #1134
Ah! I was trying to replace the token. Setting the required property does work. Sorry for the hassle, thanks for setting me straight. :)

[2020-10-16 18:05] #1134 closed, assigned to nobody

[2020-10-19 19:33] kevinchalet opened #1138 "Decouple the registered response types from the grant types and introduce response type permissions"
In the current 3.0 beta5 bits, the allowed response types are automatically inferred from the registered grant types.
For instance, to enable hybrid flow support, users have to enable both the authorization code flow and the implicit flow. In this case, this means the following response types are automatically enabled:
  - code (code flow)
  - code id_token (hybrid flow)
  - code id_token token (h

[2020-10-20 00:23] kevinchalet opened #1139 "Bring back none flow support"
The `none` response type was fully supported by ASOS but was disabled in OpenIddict 1.0/2.0. Yet, recent feedback indicate that some corporate users are interested in using the none flow. Not supporting it would make porting ASOS-based apps more complicated.

Depends on https://github.com/openiddict/openiddict-core/issues/1138.

[2020-10-20 02:21] kevinchalet opened #1140 "Consider reintroducing a global PKCE enforcement switch"
The first OpenIddict 3.0 bits had a `RequireProofKeyForCodeExchange()` extension to make PKCE mandatory at the global level. This switch was removed when adding per-application PKCE enforcement but recent feedback indicate that it could be useful to have it at the global level too.

https://github.com/openiddict/openiddict-core/pull/717

[2020-10-20 12:13] fmExcense commented on #1133
Thanks for your quick reply @kevinchalet . Tant pis, we won't go serverless this time...

[2020-10-20 13:59] kevinchalet commented on #1133
@fmExcense avec plaisir. If you're interested in having a little chat to explain your scenario, feel free to ping me at contact [at] kevinchalet.com

[2020-10-21 13:26] mfarkan opened #1141 "Windows authentication with Correlation Error"
Hi,
I'm making a web application with windows authentication. But I'm getting error windows authentication and classic username-password login. I couldn't understand this exception. Is this related to any kind of exception that you're throwing for not using https?

![image](https://user-images.githubusercontent.com/20838613/96724997-18bf4d80-13b9-11eb-8279-9da57d4fd9bc.png)

Is this about misconfi

[2020-10-21 16:00] kevinchalet commented on #1138
To make the beta5 -> beta6 transition smoother for those who have many client applications, here's a tiny script that will "infer" the best response types based on the already granted grant types permissions:

[code]

[2020-10-21 16:21] #1138 closed, assigned to kevinchalet

[2020-10-21 16:21] #1139 closed, assigned to kevinchalet

[2020-10-21 16:38] kevinchalet commented on #736
A behavior change was introduced in the latest 3.0 beta6 nightly builds that will now require listing the response types a client is allowed to use. For more information, read https://github.com/openiddict/openiddict-core/issues/1138.

[2020-10-21 18:42] #1140 closed, assigned to kevinchalet

[2020-10-22 01:40] #983 closed, assigned to kevinchalet

[2020-10-22 01:41] kevinchalet commented on #1141
Hi,

It's likely a same-site issue. You can confirm it by trying a different browser (e.g Firefox).
Consider enabling SSL/TLS to work around it.

[2020-10-22 12:11] mdmoura opened #1145 "Cannot create a DbSet for 'OpenIddictEntityFrameworkCoreApplication' because this type is not included in the model for the context"
I am using Openiddict with NetCore 5.0 RC2 and Entity Framework 5.0 RC2 and I created custom Entities:

    public class Application : OpenIddictEntityFrameworkCoreApplication<Int32, Authorization, Token> { }

    public class Authorization : OpenIddictEntityFrameworkCoreAuthorization<Int32, Application, Token> { }

    public class Token : OpenIddictEntityFrameworkCoreToken<Int32, Application, Au

[2020-10-22 12:28] kevinchalet commented on #1145
https://github.com/openiddict/openiddict-core/blob/dev/samples/Mvc.Server/Startup.cs#L68 😃

[2020-10-22 16:10] mdmoura commented on #1145
Than you! That solved it ...

[2020-10-22 16:10] #1145 closed, assigned to nobody

[2020-10-22 16:49] #1133 closed, assigned to nobody

[2020-10-22 16:49] #1141 closed

[2020-10-24 10:53] 1619digital opened #1146 "Quartz needs reference to Quartz.Extensions.Hosting"
Hi, great job on the new version.

I believe `OpenIddict.Quartz` is missing a reference to `Quartz.Extensions.Hosting` . Currently, without referencing this package separately, then

`services.AddQuartzHostedService(options => options.WaitForJobsToComplete = true);`

won't work. (Right now, `OpenIddict.Quartz` depends on `Quartz.Extensions.DependincyInjection` which in turn depends on the core  `Q

[2020-10-26 12:43] rudiv opened #1148 "UpdateAsync from OpenIddictApplicationDescriptor"
We've been toying around with creating a management interface for OpenIddict's applications or Clients, however the Manager is completely generic (to the point of returning `object`).

This is fine, as we know the underlying type is `OpenIddictEntityFrameworkCoreApplication`, we can then call  [`PopulateAsync(OpenIddictApplicationDescriptor descriptor, TApplication application, ..)`](https://githu

[2020-10-26 12:53] kevinchalet commented on #1146
Hey,

Thanks for the kind words 😃

Technically, the OpenIddict Quartz.NET integration doesn't need this reference (and it doesn't call `services.AddQuartzHostedService()` for you, which is not an idempotent method, BTW).

For convenience, we could probably reference `Quartz.Extensions.Hosting`, but I'm not sure calling `services.AddQuartzHostedService()` would be the right thing to do, as some peo

[2020-10-26 13:07] kevinchalet commented on #1148
That's not exact: only the _non-generic_ `IOpenIddictApplicationManager` interface returns and takes `object` parameters.

It's clearly mentioned in the XML docs that "it is primarily intended to be used by services that cannot easily depend on the generic application manager. The actual application entity type is automatically determined at runtime based on the OpenIddict core options".

If your

[2020-10-26 13:18] rudiv commented on #1148
That's true, we were simply taking `IOpenIddictApplicationManager` rather than the hard type (we did first look for a generic interface) and so now using the generic implementation directly we're getting back the `OpenIddictEntityFrameworkCoreApplication`, it doesn't actually change the code though.

Usually with EF Core we can simply `Attach` (as you rightly said) and based on the ID, EF Core wou

[2020-10-26 13:24] kevinchalet commented on #1148
Interesting. Would you mind sharing the code?

[2020-10-26 13:35] 1619digital commented on #1146
Ah ok, I was (rather robotically) following the steps in your blog post

https://kevinchalet.com/2020/10/02/introducing-quartz-net-support-and-new-languages-in-openiddict-3-0-beta4/

So to be clear, `AddQuartzHostedService()` is unnecessary for the OpenIddict Quartz.NET to do its cleanup?

[2020-10-26 13:39] rudiv commented on #1148
Sure, it's hugely primitive and just inherits from the Manager directly, but the relevant methods are:
[code]

That's actually allowing us to have the simpler API of:
[code]

For future reference, if we can make this a generic "admin" (that's ever requested to be similar to IS' AdminUI) but lighter than Orchard, it's something we'll likely put out in the open.

[2020-10-26 14:07] kevinchalet commented on #1148
AFAICT, your method also needs to retrieve the application from the DB prior to mutating it, so it works pretty much the same way as the built-in methods, but in a bit more condensed way?

We have an `UpdateAsync` overload that directly takes an application and a descriptor used to mutate it. Wouldn't that fit your needs? It's the one we use in OrchardCore:

https://github.com/openiddict/openiddic

[2020-10-26 14:26] rudiv commented on #1148
Correct, it's simply condensing down the process to a couple of helpers, as I say extremely primitive.

I didn't spot the `UpdateAsync(application, descriptor)`, and actually removes the need for the second PopulateAsync prior to the update (which is effectively a one-use discard to pass to `UpdateAsync`).

With that, I'll likely replace those helpers out with a `ListAsync` that returns Descriptor

[2020-10-26 14:36] kevinchalet commented on #1148
There's a downside to that method, tho': you won't be able to change the client identifier.

I'm not fundamentally opposed to introducing the APIs you suggested, but this would require adding new properties in the 4 descriptors (typically, an `Id` property).

If `Populate` is not your thing, we could hide it completely with a new overload taking a `Func`:

[code]

[code]

[2020-10-26 15:00] kevinchalet commented on #1146
The Quartz.NET hosted service is just one way to register the scheduler (the most convenient one to be honest), but you could also create and manage the scheduler yourself (e.g https://www.quartz-scheduler.net/documentation/quartz-3.x/tutorial/using-quartz.html).

@lahma hey! Do you think Quartz.NET/third-party integrations should register the `IHostedService` exposed by `Quartz.Extensions.Hosting

[2020-10-26 17:10] rudiv commented on #1148
To be fair that API probably ends up being a bit more confusing, though I do agree with you that obviously we wouldn't be able to use the `FindByClientIdAsync` had it changed on the frontend.

With that said I'm actually treating the `ClientId` as the unique identifier here, and probably wouldn't allow change. The best way around that at least from an interface perspective would be to allow a clon

[2020-10-26 18:16] lahma commented on #1146
I don't know if I have any right answer to this... For example MassTransit has [infrastructure to listen to service bus start and hosts the running scheduler](https://github.com/MassTransit/MassTransit/blob/develop/src/Scheduling/MassTransit.QuartzIntegration/Configuration/SchedulerBusObserver.cs) until service bus is stopped.

One option could be to have hidden/internal hosted service that is mea

[2020-10-27 09:44] 1619digital commented on #1146
Thank you. For what it's worth, I think everything that OpenIddict does should be targetted at "OpenID Connect server and token validation in any ASP.NET Core". So, while it's nice to introduce people to a new and useful library (Quartz) then the OpenIddict.Quartz package should be _solely_ focussed on doing any background jobs that OpenIddict needs.

What I'd suggest is that `options => options.U

[2020-10-27 10:03] lahma commented on #1146
One option could be to just copy the current [Quartz's HostedService](https://github.com/quartznet/quartznet/blob/master/src/Quartz.Extensions.Hosting/QuartzHostedService.cs) to internal use into OpenIddict and via options decide whether OpenIddict should start it for you (`options.StartScheduler`?), basically registering the hosted service, might default to true then.

With setting set to false t

[2020-10-27 19:02] kevinchalet commented on #736
OpenIddict 3.0 beta6 is out - https://kevinchalet.com/2020/10/27/openiddict-3-0-beta6-is-out/

[2020-10-27 22:32] NoahStahl opened #1151 "Exception thrown by authorization code handler (IDX10662)"
After successfully integrating OpenIddict into my solution (very nice, thanks!), I got everything working great locally. Once I deploy to Azure App Service, I'm seeing an exception thrown, details below. I've looked in the source and see this occurs here after successfully completing the `connect/authorize` controller action resulting in `return Challenge(authProps)`:

https://github.com/openiddic

[2020-10-27 23:41] NoahStahl commented on #1151
I chanced upon the answer, which is apparently that the key string used to create the SymmetricSecurityKey must be exactly length 32, which I assume corresponds to a 256 bit key. It would be great if there were some guard in the OpenIddict builder to catch a wrong length, since building goes just fine and failure only happens during a request.

Perhaps an `AddEncryptionKey` overload that accepts t

[2020-10-28 00:16] kevinchalet commented on #1151
We should be able to add some extra validation in the existing overloads without having to create a new one. Interested in sending a PR?

[2020-10-28 05:31] NoahStahl commented on #1151
Sure, I gave it a go in #1152

Does that look reasonable?

[2020-10-28 12:20] mdmoura opened #1153 "SqlException: Invalid column name 'RedemptionDate'."
I just updated to OpenidDict Preview 6 with Net Core 5.0 RC2 and after login I get the following exception:

[code]

I am using custom entities but I don't think that's the problem:

    public class Application : OpenIddictEntityFrameworkCoreApplication<Int32, Authorization, Token> { }
    public class Authorization : OpenIddictEntityFrameworkCoreAuthorization<Int32, Application, Token> { }
    p

[2020-10-28 13:55] JohnGalt1717 opened #1154 ".AddValidation() doesn't call a registered IConfigureOptions<OpenIddictValidationBuilder>"
If you use the standard practice of:

[code]
So that you can use DI on your options configuration without having to get a ServiceProvider in Startup.cs which is verboten now, the Configure method in ConfigureOpenIddictValidation (or whatever you call your class) isn't called.

I would assume this is true about all of the rest of the configuration methods. It would be highly desirable for this to w

[2020-10-28 14:30] kevinchalet commented on #1153
It's definitely a migration issue on your side. Try again 😃

[2020-10-28 14:30] kevinchalet commented on #1154
Oh, it already works, but you have to use the right type: `IConfigureOptions<OpenIddictValidationOptions>`.

[2020-10-28 14:31] JohnGalt1717 commented on #1154
Cool! Thanks!

[2020-10-28 14:31] #1154 closed, assigned to nobody

[2020-10-28 14:35] JohnGalt1717 commented on #1154
Sorry, one question, what's the equivalent to: AddEncryptionCertificate(509cert) in this syntax? (or UseAspNetCore() or UseSystemNetHttp()?

[2020-10-28 14:42] kevinchalet commented on #1154
All these methods are open source, I'm sure you can find the answer yourself 😃

[2020-10-28 15:34] kevinchalet commented on #1075
https://github.com/openiddict/openiddict-core/pull/1084 will be included in the 3.0 rc1 release, that should ship after .NET 5.0.
OrchardCore will have to use the .NET 5.0 SDK to be able to reference OpenIddict 3.0 rc1.

[2020-10-28 17:53] mdmoura commented on #1153
You're right ... Somehow the class library where I have the EF entities was not picking the OpenIdDict update.

[2020-10-28 17:53] #1153 closed, assigned to nobody

[2020-10-30 03:58] masakura commented on #1122
I tried 3.0.0-beta.6. OK!

Thanks!

[2020-11-05 13:52] JohnGalt1717 opened #1156 "Beta6: authorization_code token request doesn't return refresh or id tokens even with openid and offline_access scopes specified."
So with the latest beta, I'm getting different results than with beta 5:

The token request was successfully extracted: {
"client_id": "Admin",
"grant_type": "authorization_code",
"redirect_uri": "https://admin.dev.staccat.io/callback.html",
"client_secret": "[redacted]",
"code": "[redacted]",
"code_verifier": "rX3b_iSY2vKf-IKqJ4psG2pfXaNMuK6b4.8jBm4Am6V46zGEUBYlvjVqWxm_Ne5B6VPfKezLxA3D4mNnub5HWyK

[2020-11-06 16:35] #1075 closed, assigned to kevinchalet

[2020-11-07 15:45] #1151 closed, assigned to NoahStahl

[2020-11-08 19:13] kevinchalet commented on #1156
According to our new policy, questions asked by non-sponsors must now be posted on StackOverflow, where they will be answered by the community. If you need immediate support, please consider sponsoring the project.

Thanks!

[2020-11-08 19:13] #1156 closed, assigned to nobody

[2020-11-09 00:08] kevinchalet opened #1159 "Ensure endpoint addresses can't be reused for multiple endpoints"
https://stackoverflow.com/questions/64719854/the-specified-token-is-invalid-is-invalid-when-using-client-credentials-in-openi/64740885#64740885

[2020-11-10 15:59] #1159 closed, assigned to kevinchalet

[2020-11-10 16:24] #933 closed, assigned to nobody

[2020-11-14 17:54] jardg opened #1164 "Invalid character on header when using expired OpenId token with 'es' culture"
### Describe the bug
I'm using an API controller with authentication using OpenIdDict. My site culture is spanish. If I make a request using as authorization header an expired access token I get a 500 internal error as status code instead of the 401 with the localized error_description in the header.  This happens because OpenIdDict is returning a 401 status code and inserting a Header with key WW

[2020-11-14 18:31] kevinchalet commented on #1164
Thanks for reporting this issue.

I took a look at the OAuth 2.0 specification and only US-ASCII chars can be used in `error_description` parameters, whether they are returned in authorization/token responses or as part of the `WWW-Authenticate` response header.

Concretely, this means we'll need to restore the pre-3.0 behavior, where non-localized descriptions are returned. It's still not clear t

[2020-11-15 14:55] kevinchalet opened #1166 "Add an error_uri to all the errors returned by OpenIddict"
To be compliant with the OAuth 2.0 and OAuth 2.0 bearer specifications that both require that `error_description` only include US-ASCII characters, we sadly had to remove localized errors support in OpenIddict 3.0 rc1.

However, I still believe having localized content is extremely useful and makes a library like OpenIddict more inclusive and more developer-friendly. As such, we'll opt for a diffe

[2020-11-16 00:51] #1164 closed, assigned to kevinchalet

[2020-11-17 01:11] kevinchalet commented on #1146
@lahma thanks for chiming in, much appreciated!

As you said, there's likely no right answer here. As such, I'm going to leave things as-is for now. If we ever decide to make Quartz.NET a first-class citizen by adding `OpenIddict.Quartz` to the `OpenIddict` metapackage, we'll still be able to revisit that.

Thanks!

[2020-11-17 01:11] #1146 closed, assigned to nobody

[2020-11-17 01:12] kevinchalet commented on #1148
Looks like the demand for a new API is fairly low. Closing for now, but we'll still be able to revisit that post-RTM if necessary.

[2020-11-17 01:12] #1148 closed, assigned to nobody

[2020-11-18 01:53] kevinchalet commented on #736
3.0 rc1 was released earlier today: https://kevinchalet.com/2020/11/17/introducing-openiddict-3-0-s-first-release-candidate-version/

With RTM expected to be released mid-December, I encourage ASOS and OpenIddict 2.x users to start evaluating 3.0 as soon as possible so potential issues that may affect their scenarios are fixed in RTM.

[2020-11-18 02:02] danielleiszen commented on #401
Just a short notice if someone bumped into this situation. The migration creation mechanism calls BuildWebHost which calls ConfigureServices in Startup.cs as default behavior. If ConfigureServices depends on something that fails when called from the migration builder this part silently exits and the configuration is skipped. But the migration is still created. In my case I depend on environment va

[2020-11-18 02:16] kevinchalet commented on #401
@danielleiszen thanks for sharing that, I'm sure it will help people hitting issues with migrations :clap:

[2020-11-18 19:58] thomasduft commented on #1111
Hi there

Maybe my [OpenIddict-UI project](https://github.com/thomasduft/openiddict-ui) that I am about to build could help with this topic. Reviews, ideas and PR's are appreciated as I still fight with a good UX when it comes to manage Scopes and Permissions.

It is built on top of the latest (RC1) OpenIddict Core bits and provides so far API's for managing `Scopes` and `Applications`. The sample

[2020-11-18 20:37] kevinchalet commented on #1111
Hey @thomasduft,

It looks very promising, but if you don't mind, may I ask why you didn't use the OrchardCore OpenID UI?

If you want to make things a bit less cryptic, you can hide the permissions from the user and simply expose checkboxes allowing to enable the corresponding flows. That's pretty much what we do in OrchardCore.

Cheers.

[2020-11-19 06:59] thomasduft commented on #1111
Thanks for your answer.

Regarding the struggles with my UI in my sample client I will have a look at OrchardCore's approach. Thanks for that hint.

First of all, I do not really know OrchardCore. I heard of it when it was a topic on the [.NET Community Standup](https://dotnet.microsoft.com/platform/community/standup) but never really got my hands on it.

The main reason why I started the project

[2020-11-19 14:13] kevinchalet commented on #1111
@thomasduft makes total sense, thanks! 👍

[2020-11-20 17:15] cvipond opened #1173 "Error when deploying to IIS"
I keep getting this error when deploying the Authorisation Server to IIS -> Internal.Cryptography.CryptoThrowHelper+WindowsCryptographicException: Access is denied.

Any ideas?

Thanks
Chris

[2020-11-20 17:19] kevinchalet commented on #1173
Hi,

![image](https://user-images.githubusercontent.com/6998306/99829612-cf4f5300-2b5c-11eb-843b-d6b365965c0a.png)

As mentioned, GitHub issues are reserved to sponsors. Please consider sponsoring the project or post your question on StackOverflow.

Thanks.

[2020-11-20 17:19] #1173 closed, assigned to nobody

[2020-11-23 11:10] BRRIT2017 opened #1175 "Bearer error?"
Hi all!
Can any help me with this bug:

===============================

fail: Microsoft.EntityFrameworkCore.Database.Command[20102]
      Failed executing DbCommand (36ms) [Parameters=[], CommandType='Text', CommandTimeout='30']
      CREATE TABLE [AppCustomers] (
          [Id] int NOT NULL IDENTITY,
          [Address] nvarchar(max) NULL,
          [City] nvarchar(50) NULL,
          [CreatedBy

[2020-11-23 13:27] kevinchalet commented on #1175
Hi,

![image](https://user-images.githubusercontent.com/6998306/99829612-cf4f5300-2b5c-11eb-843b-d6b365965c0a.png)

As indicated, the ability to post questions on GitHub is reserved to sponsors as a way to thank them. Please consider [sponsoring  the project](https://github.com/sponsors/kevinchalet) or post your question on StackOverflow, where it will be visible by the community.

Thanks.

[2020-11-23 13:27] #1175 closed, assigned to nobody

[2020-11-24 16:00] #892 closed, assigned to kevinchalet

[2020-11-24 19:17] #761 closed, assigned to nobody

[2020-11-25 19:19] #807 closed, assigned to nobody

[2020-11-27 09:18] mxsoftware opened #1181 "Create an example for managing authentication between multiple microservices using code flow and HttpClient"
Hello, I have created microservices that make asp net core sites available and that use OpenIddict with code flow mode for authentication.
Through the browser, the passage from one site to another works correctly and no credentials are required between the communication between one site and another.
I have made several attempts to connect between microservices via Httpclient, but without success.

[2020-11-27 09:43] kinosang commented on #1181
https://lmgtfy.app/?q=c%23+httpclient+bearer+token+example

It's not a `bug`

[2020-11-27 13:51] kevinchalet commented on #1181
Hi,

@kinosang is right, it's definitely not a bug.

![image](https://user-images.githubusercontent.com/6998306/99829612-cf4f5300-2b5c-11eb-843b-d6b365965c0a.png)

As mentioned, the ability to post questions on GitHub is reserved to sponsors as a way to thank them. If you need help or support, please consider [sponsoring the project](https://github.com/sponsors/kevinchalet). Otherwise, post your q

[2020-11-27 13:51] #1181 closed, assigned to nobody

[2020-11-30 08:31] Gillardo opened #1182 "Migration from v2 to v3 rc1 - Login success, Authorize Failed - Bug?"
I have converted my code from v2 to v3 by checking all the samples but the [Authorize] tag doesn't seem to be working.  You can login successfully but the token cannot be used to successfully connect to a secure endpoint.

I have added the issue to github [here](https://stackoverflow.com/questions/65036679/openiddict-migration-from-v2-to-v3-rc1-login-success-authorize-failed) and gather something

[2020-11-30 12:32] kevinchalet commented on #1182
Hi,

Hard to say without seeing the logs or knowing what's the `WWW-Authenticate` header value returned, but I suspect it's because you're using both the JWT middleware and the OpenIddict validation handler. It's likely that your API controllers use the first one instead of the OpenIddict handler.

Can you please share your logs?

[2020-11-30 13:08] Gillardo commented on #1182
I have tried to remove the `UseJwtBearer` part but that doesnt seem to work either.  Happy to share logs but not sure which one you mean (sorry)

[2020-11-30 13:09] kevinchalet commented on #1182
Please post the entire logs of the server app.

[2020-11-30 13:31] Gillardo commented on #1182
Sorry @kevinchalet running this via `dotnet watch run` not IIS so havent got any logs.  I can copy and paste the console output?  Sorry if i am missing something stupid

[2020-11-30 13:34] Gillardo commented on #1182
[code]

[2020-11-30 13:34] kevinchalet commented on #1182
OpenIddict uses MSFT's `ILogger` so you'll need to make sure it's correctly configured: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-5.0 should put you on the right track.

[2020-11-30 13:36] kevinchalet commented on #1182
Yeah, the logs confirm was I suspected: your API controllers use the JWT handler, which is not configured with the encryption key used by OpenIddict to encrypt your access tokens.

Make sure your API controllers use `[Authorize(AuthenticationSchemes = OpenIddictValidationAspNetCoreDefaults.AuthenticationScheme)]`.

[2020-11-30 13:44] Gillardo commented on #1182
Should removing the `.AddJwtBearer' fix this?  Just wondering as i have removed it and it doesnt.

Just encase it should, here are the logs?
[code]

By adding the code that you stated, that seems to work, although i do get this in the logs.
[code]

I would happily remove `JwtBearer` if that is the better way to go wtih v3, but i need to be able to set the Authority and Audience, can i do that with

[2020-11-30 14:09] kevinchalet commented on #1182
Yeah, remove it. The OpenIddict validation handler offers a simpler configuration story, uses a newer JWT stack under the hood and is the recommended way in 3.0.

If you use `options.UseLocalServer()`, there's no need to set the authority, as the OpenIddict server config' is directly imported in-memory.

Regarding the audience, validation is not enforced by default, but you can register valid audi

[2020-11-30 14:38] Gillardo commented on #1182
Ok i have tried this but i still have a problem.

So i have removed JwtBearer, so my startup code looks like so

[code]

But you can see that it says I get an error still `      [14:34:09.454]: Authorization failed. These requirements were not met:
      DenyAnonymousAuthorizationRequirement: Requires an authenticated user.`.  This is still by using the standard `[Authorize]` attribute.

[code]

I

[2020-11-30 14:43] kevinchalet commented on #1182
That's fine, the JWT bearer handler is not useful when using the OpenIddict validation handler.

[2020-11-30 14:49] Gillardo commented on #1182
So i shouldnt need to change it, ok thats good.  Not sure what problem is then atm.

[2020-11-30 14:54] kevinchalet commented on #1182
Not sure I understand. Do you still have something you think doesn't work?

[2020-11-30 14:56] Gillardo commented on #1182
Yes its still not working with the standard `[Authorize]` attribute.

[2020-11-30 15:01] kevinchalet commented on #1182
It's not an OpenIddict issue. It's caused by the fact ASP.NET Core Identity registers itself as the default authentication scheme when calling `services.AddIdentity()`. So by default, your controllers only accept authentication cookies, not tokens.

The approach I recommended is the best one. If you don't like it, you can explore other options like:
  - A policy scheme pointing to either cookies o

[2020-11-30 15:15] Gillardo commented on #1182
That's fine, think we have our wires crossed, i thought you ment i didnt need to change the standard `[Authorize]` tag for it to work.   I am happy to change it to make it all working, just wanted to know what i was.

Thanks for your help

[2020-11-30 15:15] #1182 closed, assigned to nobody

[2020-11-30 15:50] Gillardo commented on #1182
@kevinchalet Thought i would play around and found that if i change this line, it all works and i get to use the standard `[Authorize]` attribute.  just encase someone else asks about it

`services.AddAuthentication(options => options.DefaultAuthenticateScheme = OpenIddictValidationAspNetCoreDefaults.AuthenticationScheme);`

[2020-11-30 15:54] kevinchalet commented on #1182
It's certainly an option, but I don't recommend it as it may break the antiforgery middleware, that uses the default scheme.

[2020-11-30 16:03] Gillardo commented on #1182
Thats fine, i dont use cookies on the api at all, only tokens to this should be ok for my use case.

[2020-11-30 17:29] kevinchalet commented on #1182
In this case, consider also setting `DefaultChallengeScheme` and `DefaultForbidScheme` to ensure OpenIddict handles challenges and return standard-compliant responses, with an appropriate `WWW-Authenticate` header.

[2020-11-30 19:16] Gillardo commented on #1182
Ok thank you, i have done this now as well

[code]

[2020-12-01 16:26] #1166 closed, assigned to kevinchalet

[2020-12-07 22:31] kevinchalet commented on #736
3.0 rc2 was just pushed to NuGet.org: no major/breaking change in this release, mostly bug fixes and improvements.

If you haven't started evaluating 3.0, it's the perfect time to do so: the next release will be the RTM version.

[2020-12-08 19:46] kevinchalet commented on #810
@gingters would you be interested in giving it a try with IdentityServer4 4.x?

Note: it will likely not work with older versions, as the OpenIddict validation handler enforces token type validation (i.e requires `typ: at+jwt`).

[2020-12-08 22:23] #810 closed, assigned to nobody

[2020-12-11 11:56] Gillardo opened #1190 "Refresh token randomly expires in rc1 & 2 after migrating from v2"
### Describe the bug
Our project was working perfectly in v2 and after migrating to v3 we have found that our refresh tokens are invalid, the code returns the following exception

![image](https://user-images.githubusercontent.com/7406381/101899885-6f215f00-3ba6-11eb-9fc3-0e773f754ab7.png)

This just happens randomly when we refresh our page, have noticed it as we are developing with angular and w

[2020-12-11 12:18] kevinchalet commented on #1190
Does your client try to re-use the refresh token multiple times? To comply with the latest OAuth 2.0 best practices, OpenIddict 3.0 comes with rolling refresh tokens enabled - a revamped version of what existed in 2.x - which may explain what you're seeing.

[2020-12-11 12:35] Gillardo commented on #1190
what do you mean by "re-use the refresh token multiple times?"  What happens is our code will call the website and check if the refresh token is valid to obtain a new token, if so, it should return a new access token.  The same refresh token is then used again 5 seconds before the token is about to expire, to again check if a new token can be obtained.

Looking at the code, i do not overwrite the

[2020-12-11 12:38] kinosang commented on #1190
@Gillardo when use rolling refresh tokens, a refresh token cannot be used twice, you will receive a new refresh token when obtain a new access token.

[2020-12-11 12:43] Gillardo commented on #1190
Thank you both, this worked in v2 so just assumed this was how it was supposed to work.  Thank you both for clearing that up

[2020-12-11 12:43] #1190 closed, assigned to nobody

[2020-12-11 12:49] kevinchalet commented on #1190
@Gillardo that's exact, the behavior has changed in 3.0: a refresh token is now always returned and by default, reused refresh tokens are automatically revoked for security reasons (in RC2, there's a leeway of 30 seconds to account for bad connections and multi-instance scenarios: https://kevinchalet.com/2020/10/27/openiddict-3-0-beta6-is-out/)

[2020-12-11 12:57] kevinchalet commented on #1190
BTW:
  - The authorization and logout endpoints are only used with interactive flows like code, implicit or hybrid. You don't need them for the ROPC grant (so you can remove quite some unused code here).
  - Consider using 2 different certificates for encryption and signing.

[2020-12-11 14:34] Gillardo commented on #1190
@kevinchalet thanks for all this, i will remove that extra code, that should keep things a bit tidier for us especially if not used.

I will use 2 separate certificates for encryption and signing, thanks again for the tip.  I dropped the "development" calls because i wondered if that was causing my refresh token issue in the first place.

[2020-12-11 23:56] timmi4sa commented on #334
What a great message thread! It's 2020 now and in case it would help someone - there is a **new event available** in the OpenIdProvider options (as of ASP.NET Core 3.0) specifically for the "access_denied" responses named "`OnAccessDenied`" (the signature and handler are the same as OnRemoteFailure). This is fantastic news because "access_denied" isn't technically a "remote failure". The docs are

[2020-12-12 13:04] bytefish commented on #863
This is probably really embarrassing on my side, but I stumbled upon the same issue and the problem was, that I was missing a preceeding "/", when defining the TokenEndpointUrl:

[code]

 This leads to Openiddict not resolving the Enpoint Type and thus the Request from ``GetOpenIddictServerRequest()`` is null. When I am defining it as:

[code]

Then everything works as expected.

@kevinchalet Than

[2020-12-12 14:54] kevinchalet commented on #863
@bytefish thanks!

[2020-12-21 06:45] dzmitry-lahoda opened #1193 "one time donate button"
until i use this stuff, i cannot do monthly. so one time donation button option would be good.

[2020-12-21 15:42] kevinchalet commented on #1193
Thanks a lot for your interest!

I'm not sure GitHub sponsors supports one-time donations but you can certainly use PayPal for that: https://paypal.me/kevinchalet.
If you have another service in mind, please don't hesitate.

Merry Christmas! 🎄

[2020-12-23 09:18] stantoxt commented on #873
I am using default openidcore config,but I have 401 problem.

[2020-12-24 18:47] kevinchalet commented on #736
For those who missed the announcement, OpenIddict 3.0 was officially released yesterday: https://kevinchalet.com/2020/12/23/openiddict-3-0-general-availability/

Merry Christmas everyone! 🎄

[2020-12-24 18:47] #736 closed, assigned to nobody

[2020-12-26 17:06] #1193 closed, assigned to nobody

[2020-12-27 16:53] kevinchalet opened #1198 "Introduce a simpler way to return additional parameters from the HandleAuthorizationRequest/HandleTokenRequest events"
Currently, developers that don't use the pass-through mode with ASP.NET Core and who want to return additional parameters must store them in the transaction properties and copy them to the response instance in a custom `ProcessSignIn` event handler. We should expose a `Dictionary<string, OpenIddictParameter>` property similar to what's exposed in `HandleConfigurationRequest` to make that process s

[2020-12-27 16:54] kevinchalet opened #1199 "Add a SignIn method in HandleVerificationRequestContext"
Just like `HandleAuthorizationRequestContext` and `HandleTokenRequestContext`, `HandleVerificationRequestContext` should expose a `SignIn` method.

[2021-01-03 16:50] IgorHrabrov commented on #891
Hello! Could you point to the integration tests you need to port and adapt pls? Thanks.

[2021-01-03 17:10] kevinchalet commented on #891
Hey @IgorHrabrov,

Thanks for your interest!

For the authorization endpoint, the tests are here:
  - https://github.com/openiddict/openiddict-core/blob/2.0.1/test/OpenIddict.Server.Tests/Internal/OpenIddictServerProviderTests.Authentication.cs#L76-L117
  - https://github.com/openiddict/openiddict-core/blob/2.0.1/test/OpenIddict.Server.Tests/Internal/OpenIddictServerProviderTests.Authentication.cs

[2021-01-06 19:19] uipathswapnil commented on #334
Thanks @timmi4sa for that suggestion. Your link seems to click to an issue board. Here are the docs for "OnAccessDenied": https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.remoteauthenticationevents.onaccessdenied?view=aspnetcore-5.0

[2021-01-07 10:42] torfikarl opened #1200 "Multiple token formats"
Is it possible to support multiple token formats within the same token endpoint, or to set up two token endpoints within the same service that will serve tokens of a different format?

We have a need to serve both opaque tokens as well as reference tokens. We have a service running already that creates the opaque tokens, and are now wondering whether we need a new service altogether to create refe

[2021-01-07 13:26] kevinchalet commented on #1200
Hi,

![image](https://user-images.githubusercontent.com/6998306/99829612-cf4f5300-2b5c-11eb-843b-d6b365965c0a.png)

As specified, the ability to post questions on GitHub is reserved to sponsors as a way to thank them. Please consider [sponsoring  the project](https://github.com/sponsors/kevinchalet) or post your question on StackOverflow, where it will be visible by the community.

Thanks.

[2021-01-07 13:31] torfikarl commented on #1200
@kevinchalet - Hi Kevin, thanks for the reply.
I'm now a very modest $2/month sponsor :)

Can you reopen the issue or should I recreate it?

[2021-01-07 14:27] kevinchalet commented on #1200
Every contribution counts, so thanks for that! 😄

So:
  - Enabling reference tokens doesn't prevent non-reference tokens from still being validated (in OpenIddict 2.x, non-reference tokens were never processed when reference tokens were enabled). This is true for all token types.
  - In OpenIddict 3.0, reference tokens are backed by opaque or JWT tokens (JWT by default, DP if you enabled DP suppor

[2021-01-07 14:30] kevinchalet commented on #1200
BTW, the same is true for token formats in 3.x: if you enable ASP.NET Core Data Protection support, OpenIddict will still accept JWT tokens (and vice versa: you can switch from DP to JWT: the DP tokens will still be usable).

[2021-01-13 05:13] #1200 closed, assigned to nobody

[2021-01-14 13:30] robertkhou opened #1202 "Scopes are not added to (client credentials) access token"
**Openiddict.AspNetCore (3.0.0-beta6.20527.75)**

**How to reproduce issue**
1. Add client application to openiddict server and add a few custom scopes.
2. Fetch the (client credentials) access token, by calling /connect/token
[code]
3. Call a web api using the access token, and debug the claims, look for scopes (scopes are missing, no scopes are added to the access token by default?)

[2021-01-14 13:40] kevinchalet commented on #1202
Hi,

![image](https://user-images.githubusercontent.com/6998306/99829612-cf4f5300-2b5c-11eb-843b-d6b365965c0a.png)

As specified, the ability to post questions on GitHub is reserved to sponsors as a way to thank them. Please consider [sponsoring  the project](https://github.com/sponsors/kevinchalet) or post your question on StackOverflow, where it will be visible by the community.

Thanks.

[2021-01-14 13:40] #1202 closed, assigned to nobody

[2021-01-14 14:27] robertkhou commented on #1202
Sponsored.

What do you mean by this...("Scopes are automatically added by OpenIddict in all access tokens." https://gitter.im/openiddict/openiddict-core?at=5ff487b1acd1e516f8d54f0b)

Under "/connect/token" Exchange web api method, I found the reason why no scopes (standard or custom scopes) are not added to access token, because there is no code that adds the scopes to the access token. Am I miss

[2021-01-14 14:54] kevinchalet commented on #1202
Thanks for that! ❤️

All tokens are derived from a single `ClaimsPrincipal` instance, that represents the source of truth: OpenIddict will take care of adding the standard-compliant `scope` claim - defined in https://tools.ietf.org/html/draft-ietf-oauth-access-token-jwt-04#section-2.2.3 - to the access tokens it produces but you'll first need to tell it what scopes were actually granted by calling

[2021-01-14 14:55] kevinchalet commented on #1202
I opened https://github.com/openiddict/openiddict-documentation/issues/28 to make sure I don't forget this point when I'll add the scopes/resources docs.

[2021-01-14 15:36] robertkhou commented on #1202
Thanks, everything works now!

by the way, principal.SetScopes(request.GetScopes()), this actually adds each scope as a new claim, is it suppose to do this? or is it suppose to add each scope via space separated value under a single oi_scp claim?

[2021-01-14 15:41] kevinchalet commented on #1202
That's the expected behavior (and pretty much the reason why OpenIddict uses its own private scopes claims: we don't have to split a unique scope value each time we want to work with them)

[2021-01-18 16:22] djechelon opened #1203 "Broken documentation link"
### Describe the bug
The URLs generated automatically by authorization errors point to missing pages.

Example:

[code]

https://documentation.openiddict.com/errors/ID2095 reports 404

The scope of this issue is the bare absence of the related documentation page. I am not asking for help about the cause of the problem, which _could be investigated_ with help from documentation.

For the scope of m

[2021-01-18 16:25] kevinchalet commented on #1203
It's not a bug, the errors documentation is just not there yet: https://github.com/openiddict/openiddict-documentation/issues/30.

To help make that happen sooner, please consider sponsoring the project.

[2021-01-18 16:25] #1203 closed, assigned to nobody

[2021-01-18 16:48] Dinatte opened #1204 "Problem with migration to OpenIdDict 3.0 / AuthenticationSchemes"
Hello,
I am in the process of migrating .net core 2.2 -> .net 5.0
I also update all libraries, including OpenIdDict to version 3.0

I have 3 applications: AuthApp, AppA and AppB.
AuthApp is responsible for issuing tokens and verifying access.

So far I have used in AuthApp:
[code]

So far, each method has the following authorization attribute:
`[Authorize (AuthenticationSchemes = OAuthIntrospectio

[2021-01-18 17:05] kevinchalet commented on #1204
Hi and thanks for sponsoring the project!

The aspnet-contrib introspection handler has been merged into the OpenIddict validation handler, that now supports local validation and remote validation (introspection). So yeah, it's fine.

What you have in AuthApp is fine: when the API is in the same project as the authorization server, using `options.UseLocalServer()` is the simplest and best option.

[2021-01-18 17:20] kevinchalet opened #1205 "Determine whether the log level of request errors should be lowered"
Currently, request errors are logged as `Error`s. While semantically correct, this can result in a bit too much noise.

We should determine if there's a consensus in the community, what's the norm in ASP.NET Core itself and whether we should update these logs to use the `Warning` or `Information` levels.

/cc @schmitch

[2021-01-19 12:26] david-abaev commented on #426
Try setting the default challenge to the Jwt schema which returns not authorized.

services.AddAuthentication(options =>
{
    options.DefaultAuthenticateScheme = IdentityServerAuthenticationDefaults.AuthenticationScheme;
    options.DefaultChallengeScheme = JwtBearerDefaults.AuthenticationScheme;
})

and then:

.AddIdentityServerAuthentication(options =>
{
    options.Authority = <<Here is your I

[2021-01-19 19:07] kevinchalet commented on #1204
@Dinatte let me know if you still need help 😃

[2021-01-20 08:59] Dinatte commented on #1204
Hello,
Thanks for quick reply and the example. I was browsing this repository but had not seen this code before ;)

I have a problem with one app, but the other app is working fine, so I think we can close this issue.
Perhaps I will open another one with a specific description of the error, if I cannot solve it myself.

Thank you! :)

[2021-01-20 08:59] #1204 closed, assigned to nobody

[2021-01-20 10:45] miegir opened #1206 "Using introspection validation with public applications"

[2021-01-20 14:35] miegir opened #1207 "Problem with handling introspection errors"
In my web project I use introspection validation. I need to implement additional validation after the one provided by OpenIddict (i.e. I need to lookup user in our employee database with the value of the sub claim). I do so by adding event handler for HandleIntrospectionResponseContext. Such approach works in principle. But when I did not find entity in the database, I call HandleIntrospectionResp

[2021-01-20 19:27] kevinchalet commented on #1207
It's deliberate: errors can contain potentially very sensitive stuff and are not returned as-is. Instead they are logged and a generic error is returned.

Anyway, even if we changed that, "invalid token" errors returned by the introspection endpoint typically only include `active: false` and no message indicating why that failed, as asked by the introspection specification.

[2021-01-20 19:27] #1207 closed, assigned to nobody

[2021-01-20 19:28] kevinchalet commented on #1206
Hi,

![image](https://user-images.githubusercontent.com/6998306/99829612-cf4f5300-2b5c-11eb-843b-d6b365965c0a.png)

As specified, the ability to post questions on GitHub is reserved to sponsors as a way to thank them. Please consider [sponsoring  the project](https://github.com/sponsors/kevinchalet) or post your question on StackOverflow, where it will be visible by the community.

Thanks.

[2021-01-20 19:28] #1206 closed, assigned to nobody

[2021-01-20 20:36] miegir commented on #1206
I deleted original text because of understanding that using introspection validation with public client is unlikely to be supported. GitHub community will be unable to recommend more elegant solution than my workaround anyway.

[2021-01-20 22:57] torfikarl commented on #1200
Hi @kevinchalet
We've just finished updating from 2.x -> 3.x and I'm now starting to take another look at this issue.

What we're trying to achieve here is "Github style" personal access tokens. These tokens are generated once and are valid until they are explicitly made invalid. They're meant to be distributed to whoever should gain access to the API, and they may as well be valid forever. We're

[2021-01-20 23:32] NoahStahl commented on #1205
I can't speak to a consensus, but I think it would be great if there were a configurable `LogLevel` offered so the application could set a default level for errors and warnings, or perhaps an optional error handler delegate for those wanting more dynamic control.

Operationally, my rule of thumb is to log errors that are "my fault", and not flag those at fault of public requests that will always b

[2021-01-22 12:42] kevinchalet commented on #1200
Hey,

This document was completely obsolete and therefore was removed as part of the recent docs improvement effort. I plan to replace it by a whole new page soon.

In 3.0, both JWTs (the default) and Data Protection-based tokens are revocable as they all have a backing metadata entry in the database, but if you want the API to automatically check the status of tokens and authorizations, you need

[2021-01-24 01:03] cryo75 commented on #955
The sample doesn't work the second time round. For example; I enter wrong credentials, I do get 401. I then enter the correct credentials, I get 200. However, I can enter wrong credentials again and it will always return 200.

[2021-01-24 09:00] robertkhou opened #1208 "Bug: Unexpected behavior occurs with audience verification"
Expected behavior: Each resource server is to be configured with it's own audience and not configured to add audience of all resource servers.

---
The following error message should not occur, when you only add specific audience and not the full list of audience to the resource server

www-authenticate: Bearer error="invalid_token"error_description="The specified token cannot be used with this re

[2021-01-24 09:10] kevinchalet commented on #1208
I cannot reproduce that locally. Please consider sending a repro that exhibits the problem.

[2021-01-25 16:24] #1208 closed, assigned to nobody

[2021-01-25 20:48] kevinchalet commented on #1200
Done:

  - https://documentation.openiddict.com/configuration/authorization-storage.html
  - https://documentation.openiddict.com/configuration/token-formats.html
  - https://documentation.openiddict.com/configuration/token-storage.html

Feel free to open GitHub tickets on the docs repo if things are not clear enough or if there are points you'd like to see covered.

[2021-01-27 07:59] torfikarl commented on #1200
Hi @kevinchalet - Thanks for the responses so far and the docs, really great work!

I'm not sure I understand how tokens are revoked. I can see that the tokens we're now storing in the database have a `Status` which is currently always set as `valid`, however I'm not sure how this gets picked up and how one invalidates a token.
I've tried changing the `Status` to something else, and I've tried del

[2021-01-27 08:02] kevinchalet commented on #1200
That should answer your question: https://documentation.openiddict.com/configuration/token-storage.html#enabling-token-entry-validation-at-the-api-level 😃

[2021-01-27 08:14] torfikarl commented on #1200
Thanks. I tried adding `options.EnableAuthorizationEntryValidation();` to both the authorization server as well as the resource server (trying to use the right names/phrases, hopefully I'm not too far off 😊) but it doesn't seem to have an effect. I guess I need to use introspection, which afaict is a call from the resource server to the auth server which then in turn does the DB lookup, is that co

[2021-01-27 08:33] kevinchalet commented on #1200
To check the status of tokens, you'll need `options.EnableTokenEntryValidation()`. `options.EnableAuthorizationEntryValidation()` only ensures the authorization attached to the token is still valid (you can combine both).

[2021-01-27 09:32] demius opened #1209 "Scope validation appears to be broken"
I think I've come across a rather serious bug related to scope permission validation.
In my case, I'm using the client credential flow with a single client configured, and a handful of custom scopes.

What I've found though, is that validation fails for the custom scopes, but with different errors, depending on how I define the scope in the request.

Let's use the following example:

**Startup.cs*

[2021-01-27 10:07] demius commented on #1209
Never mind, I was being a fool. I didn't realise that one should only add the prefix when setting up the client permissions and **not** when registering the scope. It works great now, thanks!

[2021-01-27 10:07] #1209 closed, assigned to nobody

[2021-01-27 10:48] torfikarl commented on #1200
Thanks, I copied the wrong line somehow, `options.EnableTokenEntryValidation()` is what I had added to both the resource and authorization server.

I'm attempting to solve this via introspection and have added the introspection endpoint to the auth server. It's looking good so far, just wanted to ask a couple questions. The idea is that I'll call the introspection endpoint from the resource server

[2021-01-27 20:35] kevinchalet commented on #1200
It's simpler than that: the OpenIddict validation handler natively supports introspection. See https://github.com/openiddict/openiddict-samples/blob/dev/samples/Zirku/Zirku.Api1/Startup.cs#L16-L36 for an example.

You can use the token manager: https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.Core/Managers/OpenIddictTokenManager.cs#L1129

Haha, thanks! ❤️

[2021-01-27 23:28] nurhat commented on #948
Hi @kevinchalet ,
It will be good we can bring this feature back to the life. I can give it a try if you can create an issue in 3.1?

[2021-01-28 08:27] torfikarl commented on #1200
I've not quite figured out the introspection setup yet. Could you help me figure out what the `issuer`, `audiences`, `clientId` and `clientSecret` values should be set as in the `Startup` configuration? The auth server is running in a docker container locally but setting the issuer to it's address doesn't seem sufficient (the introspection endpoint is never hit afaict, and revoked tokens still wor

[2021-02-02 22:00] sealbro commented on #328
Hi, you can see my working example openiddict 3.0.0 with mongodb and Asp Net Core.Identity.MongoDb Core https://github.com/pachman/openiddict-mongo-samples

[2021-02-05 01:06] cryo75 opened #1210 "OpenIdConnect cannot parse token returned by the authorization server"
### Describe the bug
I have a custom auth server based on OpenIddict which I am currently testing. It is basically code taken from the openiddict samples to enable authorization code flow.

The client app is a server-side project that use OpenIdConnect to talk to the auth server. This is the configuration:

[code]

### To reproduce
https://github.com/cryo75/OpenIdDictException

### Exceptions (if

[2021-02-05 07:20] kevinchalet commented on #1210
This is likely not a bug in OpenIddict itself (a misconfiguration on the server-side, which is not even shown in your repro is way more likely).

[2021-02-05 08:14] cryo75 commented on #1210
This is the server configuration:

[code]

I don't see anything that might be mis-configured here

[2021-02-05 08:25] kevinchalet commented on #1210
Yet your token endpoint returns a 200 text/html response, which is not a normal behavior.

If you need dedicated help, please consider sponsoring the project. For community support, post your question on StackOverflow.

[2021-02-05 08:36] cryo75 commented on #1210
I will sponsor this project... I need a solution to this  problem

[2021-02-05 08:48] kevinchalet commented on #1210
Thanks for sponsoring the project! Much appreciated.

Can you please post your complete authorization server app so I can take a look? (it can be on a private repo if you prefer sharing it privately)

[2021-02-05 09:02] cryo75 commented on #1210
Absolutely no problem for such great work. I will post on a private repo. One issue will be the database as its SQL Server

[2021-02-05 09:21] kevinchalet commented on #1210
Thanks! I haven't tested it locally yet, but I suspect it may be caused by the authorization fallback policy (that may reject requests pointing to your token exchange action, which doesn't use cookies and can't have an authenticated user). Can you please temporarily remove it to see if it makes any difference?

[2021-02-05 09:35] cryo75 commented on #1210
That change made the difference. signin-oidc gets 302 and there are code and state as expected. And it also redirects to my callback. The problem now is that I need to somehow enforce users to be authenticated at the auth server (that's why there was that fallback policy).

Any ideas on how to get that working without interfering again with the authentication process?

I will always update the rea

[2021-02-05 09:40] kevinchalet commented on #1210
First, let's try adding an `[AllowAnonymous]` attribute on the `Exchange` action 😃

[2021-02-05 09:51] cryo75 commented on #1210
Wow! That works! 🥇

I've updated the readme to explain a little bit about my project. If you can look at it and give me your input if the concept will work as is or with changes. I'd appreciate it and once again, many thanks!!

[2021-02-05 17:01] Gillardo opened #1211 "cannot be used without sending a client identifier"
Not sure why but we have upgraded from v2 to v3, all going well, but i am getting this problem.

error: "invalid_grant"
error: "invalid_grant"error_description: "The specified refresh token cannot be used without sending a client identifier."
error_uri: "https://documentation.openiddict.com/errors/ID2068"

I have clicked the link but doesnt load anything up so i am none the wiser.

Other problem i

[2021-02-05 17:10] kevinchalet commented on #1211
In OpenIddict 3.0, when a derived token (e.g a refresh token) is created with a known `client_id` attached (which is always the case for code flow requests, but is optional for the password flow when client identification is not required), then all subsequent uses of this token requires sending the `client_id`.

In your case, since a `client_id` is attached to the refresh token, you'll need to sen

[2021-02-05 17:12] Gillardo commented on #1211
How can i not use the client_id at all, as you said its optional on password flow.  There is no need for us to use it.  I guess then we wont need it on refresh token either?

[2021-02-05 17:14] kevinchalet commented on #1211
If you don't want to send the `client_id` at all, then don't send it during the initial password token request (in this case, you'll be able to use the refresh token without it).

That said, I strongly encourage you to keep using `client_id`, even if the client is a public app. It allows you to track tokens and revoke them if you think a particular client may be compromised.

[2021-02-05 19:02] #1210 closed, assigned to nobody

[2021-02-05 19:38] kevinchalet commented on #1210
@cryo75 nice!

Your scenario makes total sense and is quite typical in enterprisey environments.
Windows Integration Authentication is typically not a good option when directly used with APIs as it's prone to CSRF (just like cookies, but in this case, no same-site equivalent to save you), so you may want to update the existing resource server and client to use OIDC instead of direct Windows authen

[2021-02-06 07:39] cryo75 opened #1212 "How / where to set the full user name in the id token?"
I added a Fullname property to the ApplicationUser class. It is being saved as expected.

However when the user is authenticated and the id token is returned, it's the email that's included in the name property. How and where do I need to set the full name so the id token gets created correctly?

[2021-02-06 10:32] kinosang commented on #1212
https://github.com/openiddict/openiddict-core/blob/bf828b8dfe64be014f87d09e62fbe59c1c46f60a/samples/Mvc.Server/Controllers/UserinfoController.cs#L40-L65

see comment below.

I have misunderstood your problem.

[2021-02-06 12:37] #1211 closed, assigned to nobody

[2021-02-06 13:52] cryo75 commented on #1212
Thanks

[2021-02-06 13:52] #1212 closed, assigned to nobody

[2021-02-06 16:10] kinosang commented on #1212
sorry I gave the wrong link.

https://github.com/openiddict/openiddict-core/blob/b6766e480ef82c7e150c6deef794ecb2682c3419/test/OpenIddict.Abstractions.Tests/Primitives/OpenIddictExtensionsTests.cs#L1514

set the claims before set the destinations.

https://github.com/openiddict/openiddict-core/blob/bf828b8dfe64be014f87d09e62fbe59c1c46f60a/samples/Mvc.Server/Controllers/AuthorizationController.cs#L

[2021-02-08 11:09] kevinchalet commented on #1212
FYI, I added some documentation for the claim destinations feature: https://documentation.openiddict.com/configuration/claim-destinations.html

Let me know if there's anything unclear.

[2021-02-08 11:10] Gillardo commented on #1211
Thank you, this helps a lot.  Because we are using SSO, to do this, we had to create a custom grant.  On this grant i am passing the client_id.  Thanks again

[2021-02-08 11:16] kevinchalet commented on #1211
Definitely the best thing to do. `options.AcceptAnonymousClients()` is mostly there for legacy scenarios and using it in new applications is not recommended 😃

[2021-02-08 12:26] cryo75 commented on #1212
Thanks. Very well documented!

[2021-02-09 08:49] cryo75 opened #1214 "How to add an additional authentication scheme with OpenIddict along with Windows Authentication?"
My resource server has windows authentication out-of-the-box. And now I want to add additional authentication schemes. So I added the following to the resource server:

[code]

Is this enough to handle both windows and  bearer authentication schemes on the resource server?

[2021-02-09 10:49] cryo75 opened #1215 "Name and Email in Access Token claims not reaching the resource server"
I can get access and id tokens from my auth server. Both tokens include the name and email claims. The access token is added to the header for making calls to the resource server. The resource server uses introspection to validate the token.

The user is authenticated as expected. So I try to get the name and email for the user by doing:

[code]

But both properties are null. This the ClaimsPrinci

[2021-02-09 11:58] kevinchalet commented on #1214
As I said in another thread, using Integrated Windows Authentication directly at the API/resource server layer is a bad idea and a good way to make your app vulnerable to CSRF. If possible, you should consider moving that IWA support to the authorization server and update the callers to use OIDC (in this case, most likely the code flow).

Impossible to say without seeing how you handle the WIA par

[2021-02-09 11:59] kevinchalet commented on #1215
Take a look at the logs to determine what's returned by the introspection endpoint and, if a limited set of claims is returned, why.

[2021-02-09 12:16] cryo75 commented on #1214
Moving WIA to the auth server would be optimal. However, if the auth server is in a different domain, then WIA will not work. And if I move the WIA to the auth server, do I need to implement the same code as in the Window Auth sample?

I'm not handling any WIA. It's all done out-of-the-box. WIA is enabled for the resource server.

I also see that requests now have 3 WWW Authentication headers (NTL

[2021-02-09 12:36] cryo75 commented on #1215
It might be related to the audience. But I don't quite get who are the audiences and where to set them. Are the audiences the client apps that connect to the resource server or is the audience the resource server that needs to do the introspection?

Where do the audiences need to be set?

[2021-02-09 13:12] cryo75 commented on #1215
Ok. To get it to work I called `principal.SetResources` in the connect/token endpoint and hardcoded the audience. However I can't hardcode resources!

What is the correct way to link users, clients, the resource server and resources together?

[2021-02-09 14:41] kevinchalet commented on #1215
You can use scopes for that. Take a look at the samples to see how it's done.

[2021-02-09 14:51] kevinchalet commented on #1214
As long as the machine and the account running the ASP.NET Core host are correctly configured to use IWA, I don't see why this wouldn't work: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-5.0

That sample is great, so yeah, you can follow it. In case you'd be looking for a sample that doesn't use the degraded mode, I just added one for you: https:

[2021-02-09 15:27] cryo75 commented on #1214
Thanks for the info. I thought about it and I will do as you suggest. WIA at the auth server and Oidc at the resource level. Any other solution is a mess.

[2021-02-09 15:27] #1214 closed, assigned to nobody

[2021-02-10 11:47] cryo75 commented on #1215
It works with scopes.

[2021-02-10 11:47] #1215 closed, assigned to nobody

[2021-02-11 16:57] filippomoretto opened #1216 "Bug in PruneAsync execution?"
Hello,
I'm trying using PruneAsync method of TokenStorage. It doesn't delete all the tokens as I expected, so I looked at the code in OpenIddictEntityFrameworkCoreTokenStore.cs and noticed that for each cycle the transaction is created, 1000 tokens are deleted and the save is performed. In this way 1000 tokens are deleted, then due to the offset it skips 1000 to delete another 1000, then it skips

[2021-02-11 18:52] kevinchalet commented on #1216
Hey,

Thanks for your report, it makes total sense. Would you be interested in sending a PR to fix that?

[2021-02-16 11:07] mdekok opened #1217 "Removing historic token entries generates exception when using an executing strategy."
### Describe the bug
Removing historic token entries generates exception when using an executing strategy using SQL Server.

### To reproduce
I'm using the Quartz plugin as well as EF Core on a SQL Server with the EnableRetryOnFailure strategy set on the DbContext (options.UseSqlServer(storageSettings.ConnectionString, sqlServerOptions => sqlServerOptions.EnableRetryOnFailure());)

### Exceptions

[2021-02-17 01:10] GDreyV opened #1218 "code flow with polling"
Hello, I'm looking for a proper way to perform kind of mixture of code flow and device flow. I have a plugin for an app which can open browser but can't interact with it and can't handle return url. So I suppose it must be kind of polling from device flow to obtain all the tokens. What flow/settings should be used in that case?

[2021-02-17 15:30] kinosang commented on #1218
use `device flow` as you say.

[2021-02-17 17:06] GDreyV commented on #1218
Good point :) I missed that `verify` endpoint might apply device code as parameter, so user do not really need to input anything.

[2021-02-18 13:11] kevinchalet commented on #1217
The reason is actually explained here: https://github.com/openiddict/openiddict-core/blob/11d3a2eb8d30c0307c1f9098b8bcdeeeb88fd2e9/src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictEntityFrameworkCoreAuthorizationStore.cs#L708-L711

The original idea was that by using a transaction, we reduced the risks of seeing the removal of 1 000 tokens fail just because one token was updated concurrently. T

[2021-02-18 17:12] GDreyV commented on #1218
Just in case if anybody is looking for a proper way how to implement device flow with OpenIDDict here are several links I found useful for myself:
https://auth0.com/docs/flows/device-authorization-flow
https://github.com/openiddict/openiddict-core/pull/842/commits/f536e56b116c996af4ce4bf58c80469351c9ffac
https://gitter.im/openiddict/openiddict-core?at=5df76db22cc1b31e342a35a7
https://tools.ietf.or

[2021-02-19 21:48] GDreyV commented on #1218
Just realized that authorization doesn't work with the tokens but requires cookie value. I found pretty long topic https://github.com/openiddict/openiddict-core/issues/578 which seems to be pretty old. So what's the right configuration to avoid cookies usage?

[2021-02-20 15:59] kevinchalet commented on #1218
@GDreyV you mean the API endpoints? If so, it should work like with any other flow: `[Authorize(AuthenticationSchemes = OpenIddictValidationAspNetCoreDefaults.AuthenticationScheme)]`.

[2021-02-20 16:16] GDreyV commented on #1218
@kevinchalet , sorry, it looks like I was a bit lost in configurations and help articles how it supposed to work. I finally found that proper configuration should include:
[code]
Not sure though if it's the same as Authorize attribute. Really I thought `token` authorization is a most common case of API usage. Not sure why it's cookie by default.

[2021-02-20 16:16] #1218 closed, assigned to nobody

[2021-02-20 16:18] kevinchalet commented on #1218
I'd recommend leaving cookies as the default scheme in mixed cookies+tokens scenarios, as things like the antiforgery token validation middleware are known to only work with the default authentication scheme (yet, if you use tokens as the default scheme, it won't work correctly).

[2021-02-22 14:56] harisbotic commented on #864
If someone also stumbles on this and can't use HTTPS, there is a new option called 'options.DisableTransportSecurityRequirement()' that will allow you to use HTTP for version 3 and higher

[2021-02-24 10:33] ju57u5 opened #1219 "id_token_hint validation for RP initiated logout missing?"
Hi,

I noticed that OpenIdDict doesn't validate the `id_token_hint` provided to the `end_session_endpoint` for RP initiated logouts (at least not in the Velusia sample when it is passed through to MVC). After reading through the code a bit and understanding the event model I noticed, that I can just register my own handler to dispatch a `ProcessAuthenticationContext` to initiate the validation. Th

[2021-02-24 12:27] kevinchalet commented on #1219
Hi,

It's deliberate: to keep the UX acceptable, OpenIddict doesn't automatically reject authorization or logout requests specifying an invalid `id_token_hint` (which may be caused by tons of reasons, like a rotation of the signing keys). Applications that want to use `id_token_hint` to modify the request processing logic (typically, to bypass a logout confirmation screen) are invited to use `Http

[2021-02-24 12:27] #1219 closed, assigned to nobody

[2021-02-24 20:14] GDreyV commented on #1218
@kevinchalet , sorry, could you please add some details. So what is the right combination of magic spells? Using example I provided device verification doesn't work at all as it requires cookies. Who will set the cookies? Should I roll back to `services.AddIdentity<ApplicationUser, IdentityRole<Guid>>()` instead of `.AddIdentityCore`?
[code]

[2021-02-24 20:28] kevinchalet commented on #1218
It's not clear to me what's not working correctly.

If you're referring to the token authentication process, decorating your API controllers with `[Authorize(AuthenticationSchemes = OpenIddictValidationAspNetCoreDefaults.AuthenticationScheme)]` is what I'd recommend.
If you're referring to the ASP.NET Core Identity authentication/verification dance, then yes, it depends on cookies being enabled: i

[2021-02-24 21:15] GDreyV commented on #1218
I thought that it must be just single spell to rule them all :) I mean I can set something like "always use bearer token except authorization". But I checked and your suggestions work well so far. Thanks!

[2021-03-03 13:54] Vicnat35 commented on #736
@kevinchalet

Does OpenIdDict Core support SLI ?

https://oa.dnc.global/web/-OpenID-Connect-SSO-management-de-session-etc-.html#ssoetconnexionuniquesingleloginidentificationsli

If yes, where can i find a sample or documentation ?

We use OIDC client in Vue.js application.
We have a front portal fot  authenticate users againt's our OpenIdDict server and we want to call  client applications whithou

[2021-03-08 05:24] nikvarma opened #1220 "openiddict core: disable SSL certificate on local - Certificate error"
Hello guys,
I am facing an issue with below code implementation, can you anyone help me here, please.

Is there any way, i can disable the SSL certificate validation on development, like i disabling the **HttpClient** request SSL certificate validation on development machine.

https://e.g.com/.well-known/openid-configuration - when i open in browser it's working fine.

**HttpClient**

[code]
Start

[2021-03-08 08:00] nikvarma commented on #1220
closing the issue as i got the fix, post by you @kevinchalet  :)
thanks

new HttpClientHandler
            {
                ServerCertificateCustomValidationCallback = HttpClientHandler.DangerousAcceptAnyServerCertificateValidator
            }

[2021-03-08 08:00] #1220 closed, assigned to nobody

[2021-03-08 13:34] kevinchalet commented on #1217
Note: we use the same approach when removing applications/authorizations: in this case, getting rid of the transaction is way more problematic as authorizations and tokens can still be possibly created while the application is being removed.

Looks like we'll need to think more about that.

[2021-03-09 09:19] mdekok commented on #1217
Hi, maybe the fact SaveChanges itself is transactional can be used. Concurrency conflicts generate (should be very exceptional I expect) a DbUpdateConcurrencyException, which can be resolved in exception handling. Like it's done here: https://docs.microsoft.com/en-us/ef/core/saving/concurrency#resolving-concurrency-conflicts.

This also prevents using a repeatable read transaction and so keeps the

[2021-03-09 16:29] cryo75 opened #1223 "How to turn off case-sensitive redirect uris?"
I have added redirect and logout redirect uri's for an application using pascal casing. When I use all lowercase to access the website, the following is logged:

[WRN] Client validation failed because 'https://xxx/yyy/signin-oidc' was not a valid redirect_uri for MyApp.
[ERR] The authorization request was rejected because the redirect_uri was invalid: 'https://xxx/yyy/signin-oidc'.

When I use the

[2021-03-09 16:46] kevinchalet commented on #1223
No. The OIDC specification requires doing simple string comparison, which is essentially byte-for-byte comparison. As such, there's no flag to change the way the `redirect_uri` validation routine works.

Potential options:
  - Fixing the client to always use the same `redirect_uri`.
  - Adding multiple `redirect_uri`s to deal with uppercased URLs.
  - Overriding the OpenIddict application manager

[2021-03-09 18:47] cryo75 commented on #1223
I tried to go with the first option so I did:

Added the following in `Startup.cs`:

[code]

And then in `appsettings.json`:

    "RedirectUri": "https://host/AppName/signin-oidc"

and in `appsettings.Development.json`:

    "RedirectUri": "https://localhost:44311/signin-oidc"

When I run the app locally, everything is working fine. The redirection works as expected. Running the app once deployed,

[2021-03-09 19:15] kevinchalet commented on #1223
Well, the 2 URLs you shared (production and development) point to completely different hosts (`host` vs `localhost`). Are you 100% sure it's just a case-sensitivity issue?

[2021-03-09 19:45] cryo75 commented on #1223
Yes I'm sure. Both URLs are registered for the application. `localhost` works always (it's also all in lowercase). In production, `AppName` as the host works, but `appname` doesn't as it returns with 400. So what I tried to achieve with the above was to enforce the correct casing but it didn't solve the problem.

What is weird is that the parameters passed to `connect/authorize` are the same (apar

[2021-03-09 19:56] kevinchalet commented on #1223
And have you tried to register both `https://host/AppName/signin-oidc` and `https://host/appname/signin-oidc`?

If it still doesn't work, it's likely not an OI-related issue (most likely an IIS issue, as I suppose /AppName is just a IIS virtual directory)

[2021-03-09 20:03] cryo75 commented on #1223
Both are now registered without any further changes to the above code. The lowercase version still doesn't work. Furthermore, IIS should be case-insensitive.

[2021-03-09 20:05] kevinchalet commented on #1223
I'm out of ideas. Consider posting a minimalist repro on a private GitHub repository and I'll take a look to confirm it's not an OI issue.

[2021-03-09 23:42] #1216 closed, assigned to kevinchalet

[2021-03-11 12:38] Mr-Nicolai commented on #948
Hello @kevinchalet,
is there any possiblity to enable caching of the introspection responses by hand? E.g. with an eventhandler?

[2021-03-11 14:16] kevinchalet commented on #948
Hi,

Using the events model would definitely be the way to go (if it was a built-in feature, it would also consist in 1 or multiple event handlers anyway).

[2021-03-11 14:17] #1223 closed, assigned to nobody

[2021-03-11 14:17] kevinchalet commented on #1223
Closing for now, but feel free to reopen if needed.

[2021-03-11 15:42] danielleiszen opened #1225 "Error message not clear, documentation missing"
I try to use AuthCode + PKCE from SPA client.
After I get the Code, I would call the token endpoint for the access token.

The relevant part of the logs are:

[code]

Then I get an error message:

[code]

1. The given documentation url is not working.
2. The [source code](https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.Server/OpenIddictServerHandlers.Authentication.cs) includ

[2021-03-11 15:52] kevinchalet commented on #1225
https://github.com/openiddict/openiddict-documentation/issues/30

The error sounds clear to me: you sent a wrong `code_verifier`.

[2021-03-11 15:53] kevinchalet commented on #1225
Closing for now, as this doesn't seem to be a bug in OI (questions are reserved to sponsors as a way to thank them).

[2021-03-11 15:53] #1225 closed, assigned to nobody

[2021-03-11 17:23] Gillardo opened #1226 "The specified client credentials are invalid"
### Describe the bug
I have setup client_credentials but for some reason it aint working.

### To reproduce
First i have setup multiple applications in my appsettings.json file and then i add them to openiddict.

[code]

Here i setup my server etc in startup.cs

[code]

Then when i setup openiddict in my initializer, i am adding my applications, as so

[code]

I have no idea why, but if i try to l

[2021-03-11 17:43] kevinchalet commented on #1226
I can't reproduce your issue locally.

It might be caused by tons of things (e.g your `appSettings.Applications` bag is not properly populated) so consider sharing a minimalist repro if you want me to take a look.

https://github.com/openiddict/openiddict-documentation/issues/30

[2021-03-11 20:41] Mr-Nicolai commented on #948
Hello @kevinchalet,
thank you for your help :) could you please name this (those) event(s) i should use here? :)
If i understood you correctly i would register this (those) event(s) on the Resourceserver in the section:

services.AddOpenIddict()
.AddValidation(options =>
{

});

[2021-03-11 21:32] Gillardo commented on #1226
@kevinchalet please find attached a sample application, which replicates the error.

[ClientCredentials.zip](https://github.com/openiddict/openiddict-core/files/6126103/ClientCredentials.zip)

[2021-03-11 21:41] amrohith commented on #976
I am trying to deploy the same in azure app service (Linux). even after adding the thumbprint I am getting the following exception.

`System.Security.Cryptography.CryptographicException: The owner of '/home/.dotnet/corefx/cryptography/x509stores/my' is not the current user.
   at Internal.Cryptography.Pal.DirectoryBasedStoreProvider.EnsureDirectoryPermissions(String path, UInt32 userId)
   at Inte

[2021-03-11 21:45] kevinchalet commented on #1226
Not on my machine. Your authorization controller is correctly reached in my case:

![image](https://user-images.githubusercontent.com/6998306/110859235-721e0f80-82bb-11eb-8b09-ee632fc80bf8.png)

[2021-03-11 21:45] #1226 closed, assigned to nobody

[2021-03-12 10:09] Gillardo commented on #1226
Then what could be the reason for this.  Its the same project, something aint right surely?

Why would mine be saying 'is not supported'?  I am running version 3.0.2 of openiddict which i believe is the correct version to run.

[2021-03-12 10:35] Gillardo commented on #1226
Never mind

[2021-03-12 11:38] kevinchalet commented on #1226
Very likely an issue on your side: you probably first created the application entry with a different secret, updated your `Startup` to use a different one but didn't re-create the app to use the new secret.

Well, it's what your repro does:

[code]

[2021-03-15 18:24] DuncancMartin opened #1227 "Client side introspection issue"
Hi Kevin
I have Introspection set up on my identity server, and I have added the resource name into my ticket like so:
`            ticket.Principal.SetResources("publicApi");`

I can create a ticket in postman, and when I hit the introspection endpoint, I can see it working like so (this token has been revoked):
![image](https://user-images.githubusercontent.com/33480994/111199970-23bd8900-85b9-1

[2021-03-16 13:05] DuncancMartin commented on #1227
I have made 2 steps forward, but also one back. I did some digging in the source code and found where it was checking the database, which meant I was able to find a demo (for RC2, but it seems to work for RC3) of how to add the Application to the DB. This is working well, and now when my application hits the introspection endpoint, the server is able to go through the normal flow, and check that t

[2021-03-16 17:18] DuncancMartin commented on #1227
Is the reference to AuthenticationScheme related to this line in the client?

[code]
I've been searching in Gitter, and it seems like maybe I'm using both the regular authentication and the validation flows - I understand I should only do the second one, but if I remove the above then I get the following error:

Do you think that my diagnosis is correct, and if so, how can I avoid using the regula

[2021-03-16 18:27] kevinchalet commented on #1227
Hey,

Like any other ASP.NET Core authentication handler, the OpenIddict validation handler is not responsible of "blocking" unauthenticated requests (that may be unauthenticated because the token was missing or invalid). This is an authorization concern that is exclusively handled by the authorization middleware in ASP.NET Core.

This is typically done by decorating your API controllers with `[Au

[2021-03-17 14:41] DuncancMartin commented on #1227
Making this change for the client endpoint:
[code]
results in this error (no matter what data/parameters I pass):

This looks to me like I'm missing some plumbing that allows the middleware to connect it up to a validator, but it could also be because my request is incorrectly formatted - is it still OK to include the word "Bearer" in the Authorization header in front of the token? The token_type

[2021-03-17 14:46] kevinchalet commented on #1227
Are you sure the authentication/authorization middleware are registered in the correct order? Can you please share your Startup config?

[2021-03-17 15:36] DuncancMartin commented on #1227
This is the startup for the client:
[code]

[2021-03-17 15:38] kevinchalet commented on #1227
Your ASP.NET Core configuration is invalid: you must register the authentication middleware before the authorization middleware.

[2021-03-17 17:04] DuncancMartin commented on #1227
That fixed it, and now this whole process works.  Thanks Kevin - it would have taken me forever to find that!

[2021-03-17 17:04] #1227 closed, assigned to nobody

[2021-03-17 19:48] kevinchalet commented on #1227
Glad I could help!

[2021-03-17 23:53] kevinchalet opened #1228 "Consider removing ClaimsPrincipal properties from event context classes that don't populate it"
ASOS and OpenIddict 2.x's `Apply*ResponseContext` context classes had a `ClaimsPrincipal` property. This property was kept in 3.0 but is not populated by OpenIddict. We should determine whether this property is still useful or remove it.

Additional context: https://stackoverflow.com/questions/66461940/openiddict-asp-net-core-5-0-how-to-get-principal-associated-in-refresh-token-flo

[2021-03-18 00:08] kevinchalet opened #1229 "Update the XML documentation to discourage using the implicit/password flows"
With the OIDC code flow having wide support across all languages/platforms these days, using the implicit and password flows in new applications no longer makes sense. As such, the XML documentation should be updated to indicate that the implicit and password flows are not recommended for new applications.

[2021-03-22 07:07] armanzakinyan opened #1230 "OpenIddict: How to register signing key in the resource server for validating tokens?"
I use OpenIddict. I want to sign the token with the symmetric key. I have configured my authorization server to use OpenIddict. Here is the code in the Startup file.

    services.AddOpenIddict()

            .AddServer(options =>
            {
                options.SetTokenEndpointUris("/connect/token");

                options.AllowPasswordFlow()
                       .AllowRefreshTokenFlow(

[2021-03-22 11:10] kevinchalet commented on #1230
Hi,

![image](https://user-images.githubusercontent.com/6998306/99829612-cf4f5300-2b5c-11eb-843b-d6b365965c0a.png)

As indicated, the ability to post questions on GitHub is reserved to sponsors as a way to thank them. Please consider [sponsoring  the project](https://github.com/sponsors/kevinchalet) or post your question on StackOverflow, where it will be visible by the community.

Thanks.

[2021-03-22 11:10] #1230 closed, assigned to nobody

[2021-03-25 08:09] deanmarcussen commented on #1205
If we're voting here, I'd vote for a drop to `Warning` or `Information`.

When they're `Error`, you can't really use the ASP.NET logging filters to filter what're you're seeing. But when they are a lower log level, if you need to you can bump them up, as and when required.

It's a slightly different scenario, but we just reduced the ImageSharp logging for `File Not Found`, to match that of the ASP

[2021-03-25 14:59] gustavdw opened #1231 "Iddictoptions still require encryptioncertificate when dataprotection package is added?"
Hello!
Using Iddict 3.0.2

I was under the impression the Dataprotection package would replace the encryption certificate and that one wouldn't need to be registered, what am I missing? I'm registering DP with:
[code]

And I'm getting the following error.

At least one encryption key must be registered in the OpenIddict server options. Consider registering a certificate using 'services.AddOpenIddi

[2021-03-25 15:02] kevinchalet commented on #1231
Hi,

In your case, it will be used for access tokens.

If you use DP for all token types, then it's currently not strictly required. In the future, it will be used to support things like authorization requests encryption, which is why I didn't add any "hack" to make it optional when DP is used (which is a bit difficult due to how things are layered).

[2021-03-25 18:47] cryo75 opened #1232 "How to use external logins with OpenIddict?"
I need to implement external logins (eg. Google) within my OpenIddict server. First, the should the google client id and secret be those of my server or each application configured within my server should have a unique google client id and secret?

And when the user selects to sign in with google instead of local account when are the ExternalLogin and ExternalLoginCallback endpoints called? How is

[2021-03-26 09:04] sfsharapov commented on #1232
I would recommend to start by reading [this post](https://kevinchalet.com/2020/02/18/creating-an-openid-connect-server-proxy-with-openiddict-3-0-s-degraded-mode/) in order to get to know with external login process.

[2021-03-26 15:16] koppa96 opened #1233 "Code challenge required"
### Describe the bug
I get the following response from the authorize endpoint when I am trying to authorize with implicit flow using a client that is allowed to use both authorization code flow (with pkce) and the implicit flow:
[code]
Seems like the code_challenge is missing, which should not be a problem because I am attempting to use a different flow.

The request url was this:
[code]

### To r

[2021-03-26 15:24] #1231 closed, assigned to nobody

[2021-03-29 18:05] freosc opened #1234 "OpenIddictEntityFrameworkTokenStore.PruneAsync throws exception on MySql"
I'm using OpenIdDict v3.0.2 on .Net framework 4.8 with MySQL.
When trying to prune the tokens, I get an MySql.Data.MySqlClient.MySqlException: Unable to serialize date/time value.
I'm aware that the real culprit might be Oracle's MySql provider, but nevertheless it might be solved in the openIddict source.

### To reproduce
`await _tokenManager.PruneAsync(DateTimeOffset.UtcNow);`

where `_tokenMan

[2021-03-30 14:42] DuncancMartin opened #1235 "Extending the OpenIddictTokens table to have extra columns"
Hi Kevin
I have set up OpenIddict so that I can have long running tokens, and I can store metadata about them inside the Properties field of OpenIddictTokens. I need to be able to query this table and select a small subset of the vast number of tokens, filtered by tenant, so I would like to add a field to this table to store the tenantId when I create the long running token.
I believed I could do

[2021-03-30 16:39] kevinchalet commented on #1234
My recommendation has always been to use the Pomelo provider, which is wayyyyyy better than the Oracle lib. That said, the workaround seems trivial enough, so I'll consider making that change in the next patch.

[2021-03-30 17:08] kevinchalet commented on #1235
Hey 👋🏻

To use custom entities in OpenIddict, you need to:
  - Create custom entities:

[code]

  - Configure EF Core to include your custom entities in the EF model:

[code]

  - Tell the OpenIddict EF Core stores custom entities should be used instead of the default ones:

[code]

[2021-03-30 17:13] kevinchalet commented on #1232
In the typical case, your server will act as a unique OAuth 2.0 client with the external providers, so you won't need to create an external OAuth 2.0 client per "OpenIddict client".

Assuming you're going to use the Identity UI pages, this part will be handled for you transparently: the authorization endpoint will redirect your users to the external provider if they are not already logged in (than

[2021-03-30 17:13] #1232 closed, assigned to nobody

[2021-03-31 07:36] cryo75 commented on #1232
That makes sense.

So when the user clicks on, for example, Google, a challenge with Google will be done through the ExternalLogin action. And the ExternalLoginCallback action is what Google redirects to after authentication.

Is this correct?

And what is the purpost of the ExternalLoginCallbackConfirmation?

[2021-03-31 09:30] frenetserve commented on #1234
Thanks for the help Kevin. I appreciate it.
I know about the Pomelo provider, but the problem is we're using EF6 on .NET fw 4.8, which isn't supported by Pomelo AFAIK.
We could upgrade to EFCore, but that's a hell of a job at this time. Guess we'll sooner move to MS SQL, cause I've kind of had it with Oracle products.

[2021-03-31 09:31] freosc commented on #1234
Thanks for the help Kevin. I appreciate it.
I know about the Pomelo provider, but the problem is we're using EF6 on .NET fw 4.8, which isn't supported by Pomelo AFAIK.
We could upgrade to EFCore, but that's a hell of a job at this time. Guess we'll sooner move to MS SQL, cause I've kind of had it with Oracle products.

[2021-03-31 17:14] DuncancMartin commented on #1235
Thanks - that definitely helped me make progress. I was getting some compiler errors with my Token Manager unless I implemented all 3 versions of the Token, Application, and Authorization objects like so - I'm hoping that this hasn't caused the issue further down:
[code]
That, coupled with the configuration changes you suggested made everything compile, but there is still a clash when EF is execut

[2021-04-05 12:00] kevinchalet commented on #1235
Please post your complete `Startup` 😃

[2021-04-05 14:24] kevinchalet opened #1236 "Start testing OpenIddict on .NET 6.0"
Things that will be required:
  - Updating Arcade.
  - Updating `global.json`.
  - Adding .NET 6.0 TFMs.
  - Using .NET Platform Extensions 6.0 on `net6.0`.

[2021-04-07 08:38] DuncancMartin commented on #1235
Here's Startup (there's a separate piece that does much of the Identity setup that I'll add in below)

[code]

Here's the Identity config (called form startup)
[code]

[2021-04-07 11:45] #1233 closed, assigned to kevinchalet

[2021-04-07 11:45] kevinchalet commented on #1234
Fixed in 3.0.3.

[2021-04-07 11:45] #1234 closed, assigned to nobody

[2021-04-07 11:46] kevinchalet commented on #1235
The configuration looks good. Could that be a bug in your store resolver?

[2021-04-07 13:00] DuncancMartin commented on #1235
There could be - I was trying to make it super simple to test, but I could never get far enough to hit a breakpoint in there. The error message happens whenever it's trying to talk to the database (whether it's migrating, setting up an application, or executing a query), and it never hits the resolver.

My resolver code is:
[code]

I'm guessing the other place that it could be failing is in the sc

[2021-04-07 13:26] Rohansi opened #1241 "Generating a token on behalf of a user"
### Is your feature request related to a problem?
I am trying to implement an [IFTTT](https://ifttt.com/home) service and am using OpenIddict to handle authentication. Everything is working so far but they have an automated test suite for services which requires me to provide them with a valid auth token for a test user. Passing these automated tests is required for publishing services so this blo

[2021-04-07 16:23] SebastianStehle opened #1242 "Combine MongoDB store with InMemory Store."
### Is your feature request related to a problem?
I would like to use an in-memory store because I only have one application and one scope and I do not see that much value of persisting it to MongoDB. It also makes migration harder, when the URL changes.

It is very straight forward to implement such a store, but it is hard to combine it with the MongoDB implementation. The reason is that the Toke

[2021-04-07 17:05] pfaustinopt commented on #736
However, if we set `options.DisableAccessTokenEncryption()` and remove `options.AddEncryptionKey()`/`options.AddEncryptionCertificate()` from the `startup` we get the following error:
`InvalidOperationException: At least one encryption key must be registered in the OpenIddict server options`.

@kevinchalet is it because encryption certificate is used internally to encrypt other tokens other than a

[2021-04-08 07:56] gustavdw commented on #1231
Thanks!

Im assuming what you meant was this, correct me if Im wrong

SigningCertificate = Used for access tokens in my case since I specify PreferDefaultAccessTokenFormat, as well as id tokens since they are always JWT
EncryptionCertificate = Not used at the moment but iddict still requires it to be set
Dataprotection = Used for auth codes and refresh tokens in my case

[2021-04-08 16:11] NoahStahl opened #1243 "Quartz exception after upgrade"
After upgrading to latest OpenIddict (3.0.3) and Quartz (3.3.1), seeing below runtime exception on startup.

This doesn't occur with 3.0.2 and Quartz 3.2.4. Rolling back is viable workaround. Happy to provide further details.

Configuration:

[code]

Exception:
[code]

### Further technical details
- ASP.NET Core version: 5.0.5
- Visual Studio 16.9

[2021-04-08 17:08] kevinchalet commented on #1243
@lahma hey Marko! Are you aware of a breaking change between Quartz.NET 3.2.x and 3.3.x that could explain this issue?

[2021-04-08 17:21] lahma commented on #1243
Hmm.. probably caused by [this change](https://github.com/quartznet/quartznet/pull/1127) .  My gut feeling is that removing the default constructor should work here. The `AllowDefaultConstructor`  was removed as it's now redundant. So I think that your extra check against using it by having the default constructor is now redundant, maybe?

[2021-04-08 17:29] kevinchalet commented on #1243
Hum, abandoning native DI support and moving to internal type factories is a quite massive change for a non-major version 😅
This also means that one will no longer be able to register the jobs in the DI container and control how they are instantiated.

[2021-04-08 17:33] lahma commented on #1243
Yes I was hoping this not being major as as described in the PR it's the thing that ASP.NET Core does for one. Couldn't see this impact that you are now facing, sorry for that 😞 The DI integration is a work in progress, but can't really hide behind that excuse.

If you have ideas how to circumvent the problem/allow the needed specialization please let me know, I can tweak Quartz.

[2021-04-08 17:50] kevinchalet commented on #1243
Haha, no worries!

Well, I suspect things are a bit less consistent than the PR author thinks:
  - MVC controllers are indeed instantiated instead of being directly resolved from the DI, but MVC offers a `controllers-as-services` option to change that. I suspect this is mostly motivated by the fact the MVC folks didn't want to add a "controllers discovery" story to detect and register controllers.

[2021-04-08 17:57] lahma commented on #1243
Thanks for the insights, again you have the technical details I don't, much appreciated. I've created [an issue](https://github.com/quartznet/quartznet/issues/1157) to track, hoping to tackle it soon'ish.

[2021-04-08 18:00] kevinchalet commented on #1243
Awesome, thanks!

/cc @ArturDorochowicz in case he'd like to share his thoughts.

[2021-04-08 21:10] ArturDorochowicz commented on #1243
Hi

I agree that ideally Quartz could support both approaches, without and with job registration.

I'm aware that MVC also supports controllers as services. Even if both version were to be supported in Quartz, I think that defaulting to ActivatorUtilities is better. It allows for untangling adding jobs from registering them in DI. It's a simpler case. And then if someone wants to create their own

[2021-04-08 22:33] NoahStahl commented on #1243
I took the opportunity to refactor to a `Timer`-based `IHostedService` to do the pruning job hourly. @kevinchalet Given the evident possibility of Quartz integration as breaking change source, and the increasing prevalence of supply-chain attacks, any reason Quartz was used for the pruning job? It seems super flexible, but for this purpose possibly overkill and a risk.

[2021-04-08 23:10] kevinchalet commented on #1243
Not sure how you could have a leak in this case? Singletons are created only once and reused for every resolution whether you're in a scope or not (and basically, your PR broke that).

Oh sure, my remark about customizing the service registration was for the general case. In OpenIddict we don't need that.

[2021-04-08 23:17] kevinchalet commented on #1243
@NoahStahl this was discussed at length here: https://github.com/openiddict/openiddict-core/issues/361.
TL;DR Quartz.NET was by far the best option and its extensibility allows scenarios that couldn't be implemented in a trivial `IHostedService` (e.g web farm scenarios where you want to synchronize jobs execution).

Well, if we didn't trust any third-party author, we wouldn't depend on anything an

[2021-04-08 23:34] kevinchalet commented on #1242
Using mixed stores is not really a supported scenario (and for in-memory scenarios, my recommendation is to use EF Core + the in-memory integration, or Sqlite with an in-memory database).

Changing the Id properties would be a breaking change so it's not an option at this point. That said, I don't think there's anything preventing you from using `ObjectId` in your custom implementation, is there?

[2021-04-08 23:35] kevinchalet commented on #1241
OpenIddict only generates tokens in the context of an OIDC request. For your scenario, you'll likely directly want to create the tokens using IdentityModel, the MSFT stack OpenIddict uses to generate tokens.

[2021-04-09 04:13] lahma commented on #1243
I'll try to create a hybrid approach this evening and if it flies, a new release shortly after. I'll probably will be pinging you two for a review.

[2021-04-09 07:28] SebastianStehle commented on #1242
It could be implemented as non-breaking change with a custom serializer or so, but I see that this is an issue.

I am about to migrate 2 services from identity server to openiddict-core.

In the first case it is very simple because I only have one client and one scope and I created in-memory implementations where I create ObjectId-compliant Ids.

But in another use case the applications are depend

[2021-04-09 08:55] kevinchalet commented on #1242
I don't think a custom serializer would be required as `[BsonId, BsonRepresentation(BsonType.ObjectId)]` could likely be used. But custom serializer or not, changing the type of a CLR property is a binary and source breaking change and not something we can easily do in a non-major version.

While it's still not completely clear why you can't have "`ObjectId`-compliant IDs" in your case (it's just

[2021-04-09 09:09] SebastianStehle commented on #1242
What I meant is that I cannot create Ids that would work with Entity Framework and MongoDB. In EF I would have the problem that the IDs are references and with MongoDB that the ID need to be in a specific format. Combining different storages is kind of possible with MongoDB with a few hacks and very likely impossible with EF in general.

Right now I think that everything is possible, but it is jus

[2021-04-09 10:10] kevinchalet commented on #1242
Oh, I thought you had your own in-memory stores. Yeah, with EF, it may be a bit more complicated.

Not denying that. OpenIddict's stores are heavily inspired by ASP.NET Core Identity (which is quite different from what you have in IdSrv) and neither OI nor Identity have been designed with the ability to mix different types of stores.

[2021-04-09 11:08] kevinchalet commented on #1232
Absolutely.

This action is used to create the user profile in the Identity database and attach the external provider to it.
In the default Identity UI, this step is handled by a similar method in the `ExternalLogin` Razor page: https://github.com/dotnet/aspnetcore/blob/5b3ba86121c6afc27ac3851308e0f00b8c809600/src/Identity/UI/src/Areas/Identity/Pages/V4/Account/ExternalLogin.cshtml.cs#L171-L228.

[2021-04-09 14:23] ArturDorochowicz commented on #1243
Singleton? How come? Jobs are transient. They used to be registered as transient (https://github.com/quartznet/quartznet/pull/1127/files#diff-7becfbcfe9517821071524446ac6951d5bdfed6770b02979f2946306fbc3bb7fL194) and the docs mentioned transient as the expected thing (e.g. https://github.com/quartznet/quartznet/pull/1127/files#diff-2e3238e849dc98b1c91bb8359c40ae771ccc993d14bdf205ada5248c6197ff1bL62

[2021-04-09 14:27] kevinchalet commented on #1243
@ArturDorochowicz my bad, I somehow assumed that they were registered as singletons by default.

Registering jobs as scoped services would address your concern, as they would be disposed of when releasing the scoped container.

[2021-04-09 14:34] lahma commented on #1243
Fortunately this turned out to be just a little tweak, https://github.com/quartznet/quartznet/pull/1159 . I've tested the change against openiddict code base and jobs are again happily instantiated with this change.

[2021-04-09 14:43] kevinchalet commented on #1243
@lahma this looks too simple to be true 😄

@ArturDorochowicz's concerns remain: if jobs are registered as transient services, they won't indeed be disposed until the root container is disposed, which is not ideal. And we still have the double-disposal issue as the `ScopedJob` class disposes the underlying job instance.

IMHO, the best approach here would be to remove the "non-scoped" support and a

[2021-04-09 14:51] ArturDorochowicz commented on #1243
@lahma Yes, it seems that it restores the original double disposal and possible resource leak issue.

I agree that the CreateScope=false case should not be supported. It's problematic even disregarding the possible resource leak. Imagine you have a job depending on a deep graph of objects. If there's something with a scoped lifetime added deep in that graph, you will get an exception from DI when

[2021-04-09 14:57] ArturDorochowicz commented on #1243
@kevinchalet Yes, that's correct. To be precise, it's not about job lifetime (it logically should be transient) as much as it is about always creating a scope.

[2021-04-09 14:58] lahma commented on #1243
I've now removed the support to have `CreateScope = false`, everything is scoped now in latest commit.

[2021-04-09 17:02] lahma commented on #1243
@NoahStahl Quartz.NET 3.3.2 is now available on NuGet thanks to great input from both @kevinchalet and @ArturDorochowicz  . Please try it out and hopefully your problems are gone now.

[2021-04-09 17:41] NoahStahl commented on #1243
@lahma Thanks Marko! Great response time. I actually refactored my particular project in the meantime to a different method of scheduling the task, so I won't be able to confirm fix. But feel free to close the issue regardless.

[2021-04-09 17:51] kevinchalet commented on #1243
@lahma I just gave it a try and it works like a charm! Thanks for fixing it so fast, much appreciated!

I'll open a separate thread to track future improvements (like removing the manual scope creation, since Quartz.NET now always creates a scope for us)

[2021-04-09 17:51] #1243 closed, assigned to kevinchalet

[2021-04-09 18:53] #1241 closed, assigned to nobody

[2021-04-10 03:26] Rohansi commented on #1241
Thank you. I dug through the code and found out how to fill my needs here.

If anyone else needs to do this in the future, here's what I did. Ideally **nobody should ever be using this**, but unfortunately IFTTT requires it for their automated tests.

Get a reference to `IOptionsMonitor<OpenIddictServerOptions> _oidcOptions` via DI. That reference can then be used to get everything needed to gener

[2021-04-10 12:19] #1242 closed, assigned to nobody

[2021-04-10 16:43] kevinchalet opened #1244 "Update GetAsync()'s nullability context to declare TResult as nullable"
The `GetAsync()` methods accepting a `query` parameter exposed by the stores/managers don't declare `TResult` as nullable:

https://github.com/openiddict/openiddict-core/blob/44fe717204be6d94fa114e64e79970b09564a4f4/src/OpenIddict.Abstractions/Stores/IOpenIddictApplicationStore.cs#L100-L114

Yet, all the implementations - EF 6, EF Core, MongoDB - use `FirstOrDefaultAsync()`, that may return null w

[2021-04-10 18:32] panoukos41 commented on #1244
I like it, I am all in for nullable from the day I learned about it 😄 and it makes sense to me in such scenarios.

I don't know if these errors would be hard to tackle but I do see the 4.0.0 as the best option just to be safe. Since 4.0.0 means breaking changes might exist.

I think my implementation has reached its proper stage, the only thing I have my mind on is testing and I don't mind impleme

[2021-04-12 19:08] kevinchalet commented on #1244
@panoukos41 great, thanks for your feedback! 👍🏻

[2021-04-14 14:09] DuncancMartin commented on #1235
I don't think that the bug is in the store resolver, I think it's in the EF Core migration process.
In order to add a field to the OpenIddictTokens table in the DB, I added this to the EntityTypeConfiguration:
[code]
But I don't want to modify the Application, Authorization or Scope objects/database tables, so I haven't created similar configuration for any of them. When I try to generate a migrat

[2021-04-14 14:50] kevinchalet commented on #1235
I'm out of ideas. Please consider posting a repro somewhere if you want me to take a look.

[2021-04-18 19:39] kevinchalet commented on #1205
Sold, let's do that as part of the next update: most `Errors` logs will be replaced by `Informations` but we'll likely want to use the `Warning` level for a few select errors that may indicate potential attacks (e.g when an authorization code or refresh token is used by a different client application)

[2021-04-21 18:47] #1235 closed, assigned to nobody

[2021-04-22 23:02] pfaustinopt opened #1246 "Custom flow - delegation"
I was wondering if it is possible to implement with `openiddict` a delegation grant type similar to the one implemented [here](https://identityserver4.readthedocs.io/en/latest/topics/extension_grants.html) with `Identity Server`.

[code]

Is there any equivalent method to `ValidateAccessTokenAsync` in `openiddict` in order to validate the token and access some of its properties?

[2021-04-23 00:03] kevinchalet commented on #1246
Hi,

![image](https://user-images.githubusercontent.com/6998306/99829612-cf4f5300-2b5c-11eb-843b-d6b365965c0a.png)

As indicated, the ability to post questions on GitHub is reserved to sponsors as a way to thank them. Please consider [sponsoring  the project](https://github.com/sponsors/kevinchalet) or post your question on StackOverflow, where it will be visible by the community.

Thanks.

[2021-04-23 00:03] #1246 closed, assigned to nobody

[2021-04-23 00:09] pfaustinopt commented on #1246
My bad.

I had both StackOverflow and Github open and posted this question on the wrong website.

[2021-04-25 14:04] kevinchalet opened #1247 "Update the OpenIddictAuthorizationManager.CreateAsync() overload that doesn't take a descriptor to automatically populate the creation date"
https://github.com/openiddict/openiddict-core/blob/44fe717204be6d94fa114e64e79970b09564a4f4/src/OpenIddict.Core/Managers/OpenIddictAuthorizationManager.cs#L187-L235

[2021-04-25 14:42] #1244 closed, assigned to kevinchalet

[2021-04-25 15:54] #1205 closed, assigned to kevinchalet

[2021-04-25 16:34] kevinchalet opened #1249 "Implement built-in delegation/impersonation support (RFC8693)"
The OAuth 2.0 token exchange specification - originally known as "OAuth 2.0 Token Exchange: an STS for the REST of us" - was finally standardized last year.

Note: OpenIddict 3.0 already supports the requirements brought by this specification (like being able to set multiple `audience` or `resource` parameters, which was explicitly disallowed in the original OAuth 2.0 specification), as they were

[2021-04-25 16:40] kevinchalet opened #1250 "Update the description of the OpenIddict.AspNetCore package"
The current description is `Versatile OpenID Connect stack for ASP.NET Core 2.1, 3.1 and 5.0`. With ASP.NET Core now getting a new version per year, it should be reworded (e.g `for ASP.NET Core 2.1 and higher`).

[2021-04-26 01:42] kevinchalet opened #1251 "Implement client assertions (client_secret_jwt/private_key_jwt) support"
https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication

Note: this includes supporting assertions in the validation stack (for introspection).

[2021-04-26 13:20] schmitch commented on #1251
ah :-D ... I wanted to ask you today, if it might be a good idea to add `client_assertion` and I wanted to look into it, if I find enough time to make a PR.

I think the biggest trouble might be that openiddict only has a 1:1 mapping between `client_id` and `client_secret`, but it would be good if it would be possible to add a `client_secret` and assertions, since else it will be really hard for e

[2021-04-26 13:31] kevinchalet commented on #1251
Given that client assertions are not really a common thing in most libs, I think it's safe to assume the good old `client_secret_basic` and `client_secret_post` will be used in 99% cases 😄

With that in mind, I'll likely end up opting for a new `SigningKeys` or `SecurityKeys` property on the Application entity, where we'll store the public keys used for client authentication.

What's still not cle

[2021-04-26 13:58] schmitch commented on #1251
well, to:

I would rather not prefer it.

I mean it would be ok, if it would be going through an `ClientSecretManager` or so, because at the moment, the currently system means that keys will be hardcoded in the application and it's hard to use something like `vault`, azure key vault, etc..

[2021-04-26 14:01] kevinchalet commented on #1251
Well, you'll still be able to override `OpenIddictApplicationManager.GetSigningKeysAsync(...)` to resolve them from wherever you want. That said, for client authentication, the OpenIddict server components will only need the public part of the key, so there's no real gain to expect by storing them in a "safer" place like AKV.

The only place where the private key will be needed will be in the vali

[2021-04-26 15:20] kevinchalet opened #1252 "Consider adding support for exposing public keys in the validation handler"
Related to https://github.com/openiddict/openiddict-core/issues/1251.

Note: this is also one of the blocks needed for dynamic client registration.

[2021-04-26 15:36] kevinchalet commented on #1251
I opened https://github.com/openiddict/openiddict-core/issues/1252 to track the ability to make things dynamic by resolving the JWKS from the API server.

[2021-04-27 11:03] kevinchalet opened #1253 "Support authorization requests formatted as JSON Web Tokens"
https://openid.net/specs/openid-connect-core-1_0.html#JWTRequests
https://tools.ietf.org/html/draft-ietf-oauth-jwsreq-34

[2021-05-03 15:31] alex-dan-s opened #1254 "Exact token validation"
Hello!

When I send the token in the header like this:

![image](https://user-images.githubusercontent.com/55558302/116895665-0b510e80-abf9-11eb-8219-0d657ae85a26.png)

The token works well, the problem is that it allows to add extra characters at the end of the token and it is still valid.
This is the original token:

![image](https://user-images.githubusercontent.com/55558302/116895528-ebb9e600-

[2021-05-04 17:38] kevinchalet commented on #1254
Hi @alex-dan-s,

Thanks for your report. I was able to reproduce this issue and as I suspected, it's not caused by OpenIddict but by the underlying lib it uses to create and validate JWTs, IdentityModel. I pinged the PM who owns this stack at Microsoft so they can take a look. I'll get back to you when I hear back from the Azure AD team.

Cheers.

[2021-05-05 08:12] Alex-111 opened #1255 "Absolute Uris in options seem not to work"
### Describe the bug

If I use absolute Uris in the options to specify my endpoints in the authorization server then the following check is always true, because HostString.FromUriComponent(address); always returns the host with the portnumber included. But the request is always without port number...

OpenIddictServerAspNetCoreHandlers:
line 126:       if (host != request.Host) <------ always true

[2021-05-05 13:18] kevinchalet commented on #1255
@Tratcher do you confirm this is the intended behavior? If so, should `HostString.Equals` be avoided in this case and replaced by a dual `HostString.Host` and `HostString.Port` check with the request port potentially inferred from the request scheme (80 for HTTP, 443 for HTTPS)?

[2021-05-05 21:00] Tratcher commented on #1255
HostString.Equals is a literal string.Equals, including the port if it was in the original input (or FromUriComponet?). HostString is separated from the uri so it can't infer a port for the equality check. If you need inference they yes you should check the host and port seperately.

[2021-05-05 22:10] kevinchalet commented on #1255
@Tratcher great, thanks! 👍🏻

[2021-05-06 12:38] cryo75 opened #1256 "How to use OidcClient to logout?"
Is it possible to use OidcClient to logout or do I need to explicitly call /Account/Logoff?

[2021-05-06 14:02] kevinchalet commented on #1256
There are many projects called OidClient, which one are you referring to?

[2021-05-06 14:05] cryo75 commented on #1256
The one from the IdentityServer authors.

[2021-05-06 14:09] kevinchalet commented on #1256
Both the .NET flavor (https://github.com/IdentityModel/IdentityModel.OidcClient/blob/main/src/OidcClient/OidcClient.cs#L140) and the JS flavor (https://github.com/IdentityModel/oidc-client-js/blob/dev/src/UserManager.js#L433) should support logout.

[2021-05-06 14:49] kevinchalet opened #1257 "Populate AuthenticationProperties.IssuedUtc/ExpiresUtc"
OpenIddict 2.x and the aspnet-contrib introspection/validation handlers populated these fields, but this logic was not ported to 3.x. We'll want to update both the ASP.NET Core/OWIN server and validation hosts to automatically populate them.

[2021-05-06 15:43] cryo75 commented on #1256
Was doing it the wrong way. I just call SignOut with the appropriate scheme and options and it works fine.

[2021-05-06 15:43] #1256 closed, assigned to nobody

[2021-05-06 16:09] kevinchalet commented on #1256
Glad you sorted it out! 👍🏻

[2021-05-06 16:30] kevinchalet commented on #1254
@alex-dan-s FYI, this issue is now tracked by https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1641.

[2021-05-06 17:30] alex-dan-s commented on #1254
Thank you very much :)

[2021-05-07 15:40] #1247 closed, assigned to kevinchalet

[2021-05-07 15:40] #1257 closed, assigned to kevinchalet

[2021-05-07 16:07] kevinchalet commented on #1255
@Alex-111 could you please give the nightly builds a try to see if it fixed your issue?

[2021-05-10 10:04] kevinchalet commented on #1255
@Alex-111 let me know when you have a chance to test the nightly builds.

[2021-05-10 10:39] Alex-111 commented on #1255
Thanks for the quick hotfix. Is it possible to test it with the nuget beta channel, or do I need to integrate complete sources into my solution, which will take some time for the complete setup?

[2021-05-10 10:41] kevinchalet commented on #1255
The nightly builds are hosted on MyGet (you can find the feed address in the README).

[2021-05-10 13:35] Alex-111 commented on #1255
After a quick test, the latest version works as expected! Thanks!

Background why I need this, is that I have several domains. I want to have indivual login pages for each domain, so I defined several  dynamic URIs for all endpoints by implementing a domain dependant IConfigureNamedOptions \<OpenIddictServerOptions>

The question is, if it is ok to have the same issuer for each domain or should I

[2021-05-10 17:57] kevinchalet commented on #1255
@Alex-111 thanks for giving it a try!

Regarding your scenario, I'd probably opt for a separate issuer per domain (specially if they are owned by different parties). You can opt for per-path options resolution like in https://stackoverflow.com/questions/49596938/openid-connect-identifying-tenant-during-login/49682427#49682427 or do it a-la-Orchard-Core with a DI container per tenant.

[2021-05-10 17:57] #1255 closed, assigned to kevinchalet

[2021-05-11 11:02] kinosang opened #1262 "Allow replace JsonWebTokenHandler with custom Token handler."
### Is your feature request related to a problem?
I'm trying to use a custom self-encoded token for access_token instead of JWT, for e.g. CWT (CBOR Web Token) or others.

*JWT wastes bandwidth, CPU and other server resources.*

### Describe the solution you'd like
We may add `TokenFormatter` for access token, refresh token, id token, etc.
Also, reference tokens and DataProtection tokens can be uni

[2021-05-11 13:44] kevinchalet commented on #1262
Having a single formatter/token handler per token type is not an option as multiple formats should be supported for a given token type (in 3.0, you can switch between JWTs and Data Protection: old and new tokens can still be validated, which was not true in 2.0).

That said, your scenario is already supported in the current bits, using the events model (you can take a look at the Data Protection i

[2021-05-11 14:10] kinosang commented on #1262
Oh, I got it.

I just found the default handler will skip the token generation and validation if there others handled them.

https://github.com/openiddict/openiddict-core/blob/1af24ef8884d92c493cd7fc265e38b2d3b7aaba1/src/OpenIddict.Server/OpenIddictServerHandlers.cs#L403-L407

https://github.com/openiddict/openiddict-core/blob/1af24ef8884d92c493cd7fc265e38b2d3b7aaba1/src/OpenIddict.Server/OpenIddi

[2021-05-11 14:10] #1262 closed, assigned to nobody

[2021-05-11 15:49] friit opened #1263 "Owin EnableLogoutEndpointPassthrough exception always throwing"
I'm using the Owin versions of Openiddict, when I try to setup Logout I always receive the exception

To handle logout requests in a controller, create a custom controller action with the same route as the logout endpoint and enable the pass-through mode in the server ASP.NET Core or OWIN options using 'services.AddOpenIddict().AddServer().UseAspNetCore().EnableLogoutEndpointPassthrough()'.
Altern

[2021-05-11 15:54] kevinchalet commented on #1263
It's a legit bug, caused by this invalid event handler registration:

https://github.com/openiddict/openiddict-core/blob/1af24ef8884d92c493cd7fc265e38b2d3b7aaba1/src/OpenIddict.Server.Owin/OpenIddictServerOwinHandlers.Session.cs#L48

To work around it, you can remove this event handler using the server builder event APIs and re-register it with the right context generic type (i.e `HandleLogoutRequ

[2021-05-12 15:34] ghost commented on #1263
Great thank you.

In case someone else has the same issue, this is what fixed it for me

options.AddEventHandler<OpenIddictServerEvents.HandleLogoutRequestContext>(b =>
                        b.UseSingletonHandler<IOpenIddictServerHandler<OpenIddictServerEvents.HandleLogoutRequestContext>>(
                            provider => new OpenIddictServerOwinHandlers.EnablePassthroughMode

[2021-05-13 11:13] Msrdevadiga opened #1264 "redirect_uri is not valid for client application"
Removing the question as it is not relevant here

[2021-05-13 12:33] kevinchalet commented on #1264
Hi,

![image](https://user-images.githubusercontent.com/6998306/99829612-cf4f5300-2b5c-11eb-843b-d6b365965c0a.png)

As indicated, the ability to post questions on GitHub is reserved to sponsors as a way to thank them. Please consider [sponsoring  the project](https://github.com/sponsors/kevinchalet) or post your question on StackOverflow, where it will be visible by the community.

Thanks.

[2021-05-13 12:33] #1264 closed, assigned to nobody

[2021-05-13 15:01] kevinchalet commented on #1254
Closing as this issue is tracked externally.

[2021-05-13 15:01] #1254 closed, assigned to kevinchalet

[2021-05-16 14:54] kevinchalet opened #1268 "Consider adding notnull constraints to the TKey argument used in the EF 6/EF Core entities/stores"

[2021-05-16 22:56] #1268 closed, assigned to kevinchalet

[2021-05-21 18:24] mlhDevelopment opened #1270 "RequireAuthenticatedUser prevents access to token endpoint"
### Description
A common method [[1](https://stackoverflow.com/q/36432340/295686)] [[2](https://scottsauber.com/2020/01/20/globally-require-authenticated-users-by-default-using-fallback-policies-in-asp-net-core/)] to provide opt-out authentication is to set the option during AddControllers of the startup file. The pass through methods (`EnableTokenEndpointPassthrough`) are insufficient to allow an

[2021-05-21 18:33] kevinchalet commented on #1270
It's not an OpenIddict bug: you forgot to decorate your token endpoint action with `[AllowAnonymous]`.

Also, using `AuthorizeFilter` is no longer recommended: these things are now supposed to be configured using endpoint routing or by configuring a fallback policy in the authorization options.

[2021-05-21 18:33] #1270 closed, assigned to nobody

[2021-05-25 05:33] ahanoff commented on #1249
hi @kevinchalet, could you please explain how far this feature from completion and what is required to complete it?  I most likely need this in my project soon, would be great if it supported out of the box in this awesome project

[2021-06-03 23:03] Evengard opened #1271 "Implement reference tokens but only for refresh tokens"
### Is your feature request related to a problem?
The cookies storage only allows cookies to up to 4096 bytes. Refresh tokens are usually a lot bigger than that, including a lot of information in them (usually bigger than access tokens). But the application doesn't really needs the information from them, as it is just exchanging it for a new access token and is actually using access tokens instead

[2021-06-03 23:24] kevinchalet commented on #1271
Not in 3.0: https://documentation.openiddict.com/configuration/token-storage.html

[2021-06-03 23:47] #1271 closed, assigned to nobody

[2021-06-04 00:58] Evengard commented on #1271
Oh sorry, I was mislead by the old examples. Thanks.

[2021-06-04 01:11] kevinchalet commented on #1271
No problem 😄

[2021-06-06 13:59] Moskvinr opened #1272 "return SignIn in not registered as token/auth endpoint"
I need to implement a feature where admin can sign in as any other user in the system. How can I implement this using OpenIddict without info about user password? Or how can I turn off content type validation if I register one more endpoint in "SetTokenEndpointUris"?

[2021-06-06 14:03] kevinchalet commented on #1272
Hi,

![image](https://user-images.githubusercontent.com/6998306/99829612-cf4f5300-2b5c-11eb-843b-d6b365965c0a.png)

As indicated, the ability to post questions on GitHub is reserved to sponsors as a way to thank them. Please consider [sponsoring  the project](https://github.com/sponsors/kevinchalet) or post your question on StackOverflow, where it will be visible by the community.

Thanks.

[2021-06-06 14:03] #1272 closed, assigned to nobody

[2021-06-11 12:43] DuncancMartin commented on #1235
Hi Kevin
Please can we revisit this (sorry for the gap) - I've created a repro here: https://github.com/DuncancMartin/mini-identity/tree/main
Thanks
Duncan

[2021-06-11 13:28] kevinchalet commented on #1235
That's a lot of code 😅
No chance you could reduce it to a few files only?

[2021-06-11 15:11] #1263 closed, assigned to kevinchalet

[2021-06-13 13:27] DuncancMartin commented on #1235
This is significantly cut down from the original.  I'll see if I can prune a lot more out of it (there are only a couple of significant classes and a lot of boilerplate).

[2021-06-15 10:16] quantranepiserver opened #1274 "Refresh token is still valid after exchange multiple times"
### Question

I'm implementing my authorization server with OpenIddict. Everything is working perfectly except the following issue:
- Get a new access token using Password flow with offline_access. A access token is returned along with a refresh token (let's say REF_TOKEN_1)
- Use REF_TOKEN_1 to exchange new access token (Call exchange endpoint the first time it works well).
- Then I check the dat

[2021-06-15 10:23] kevinchalet commented on #1274
It is: in 3.0, the rolling refresh token mechanism has a leeway (30 seconds by default) that allows you to "replay" already used refresh tokens during a short period of time to account for connection issues and concurrent requests. You can change the default value using `options.SetRefreshTokenReuseLeeway()`.

[2021-06-15 10:24] quantranepiserver commented on #1274
Thank you very much. You saved my day !

[2021-06-15 10:24] kevinchalet commented on #1274
Haha, you're welcome 😄

If you use OpenIddict for a professional project, please consider encouraging your employer/client to sponsor it! 😃

[2021-06-15 10:26] quantranepiserver commented on #1274
Yes sure I'll do it :)

[2021-06-15 10:46] #1274 closed, assigned to nobody

[2021-06-15 10:50] DuncancMartin commented on #1235
Here's a much smaller version. I have tried to remove the MSIdentityUser over-ride as well, but that causes a whole bunch of problems with data context, and I'm not sure it's representative of the issue I'm experiencing.
https://github.com/DuncancMartin/OpenIddictTokenExtension
To get the error I'm seeing, you just need to run it - as it goes through startup and tries to apply the migration it fal

[2021-06-16 00:04] kevinchalet commented on #1235
You have conflicting `options.UseOpenIddict()` calls:
  - One in `Startup` that uses your custom entities.
  - One in `IdentityDbContext.OnModelCreating()` that uses the default OpenIddict entities.

This is what's causing the error you're seeing.

(note: if you don't need generic arguments, I'd recommend defining a single entity per OpenIddict table instead of a chain of subclasses like we do in

[2021-06-16 11:08] DuncancMartin commented on #1235
Thank you very much Kevin, that fixed my EF issue (and added to my understanding of how Startup and the DBContext interact).
Sorry about Docker - when it works then it makes things simpler, but if it doesn't... :(

One last question - I'm assuming that if I want to over-ride the OpenIddictToken, that means I have to over-ride the other 3 in this line - is that correct?
`.ReplaceDefaultEntities<Cus

[2021-06-16 14:28] jingliancui opened #1275 "Unable to integration test with web api"
https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-5.0#mock-authentication

Please take a look at above link.
If I use below code,will throw exception said duplicate scheme.
var scheme=＂OpenIddictValidationAspNetCoreDefaults.AuthenticationScheme＂;

services.AddAuthentication(scheme)
                    .AddScheme<AuthenticationSchemeOptions, TestAuthHandler>(

[2021-06-16 14:57] kevinchalet commented on #1275
Hi,

![image](https://user-images.githubusercontent.com/6998306/99829612-cf4f5300-2b5c-11eb-843b-d6b365965c0a.png)

As indicated, the ability to post questions on GitHub is reserved to sponsors as a way to thank them. Please consider [sponsoring  the project](https://github.com/sponsors/kevinchalet) or post your question on StackOverflow, where it will be visible by the community.

Thanks.

[2021-06-16 14:57] #1275 closed, assigned to nobody

[2021-06-17 15:55] DuncancMartin commented on #1235
Left for posterity, but this particular problem is now resolved.

I'm afraid I have another question - it's still on adding a column to the OpenIddictTokens table, so I think this ticket is still valid? The EF part is solved, and the migration is applied and creates the additional field, but when I try to create one of these tokens with the extra field, I get the error at the bottom of this messag

[2021-06-18 05:15] cryo75 opened #1276 "How to add multi-tenancy?"
I need to add multi-tenancy using Finbuckle.Multitenant. I will be using a db per tenant. I have already configured the tenancy side in the project.

But what changes do I need to make to my OpenIddict server to enable multi-tenancy (preferably with minimal changes)?

[2021-06-18 12:54] kevinchalet commented on #1276
Hey,

I'm not a Finbuckle expert but I believe they use a variation of the approach I mentioned here: https://stackoverflow.com/questions/49596938/openid-connect-identifying-tenant-during-login/49682427#49682427

To make the OpenIddict server and validation options (aka `OpenIddictServerOptions` and `OpenIddictValidationOptions`) tenant-aware, the following instructions should work: https://www.fi

[2021-06-18 14:34] cryo75 commented on #1276
My `ConfigureServices` starts with:

[code]

And then continues further down with...

[code]

I then changed the `ApplicationDbContext` as follows:

[code]

Tenant info comes from the `appsettings.json`. All tenants have the same authorization, etc... the only difference between them is the db the context needs to connect to. So the above should do the trick.

The above works to a certain degree.

[2021-06-18 14:43] kevinchalet commented on #1276
Yes, configuring the DB provider from `OnConfiguring` or from the `AddDbContext()` delegate makes no difference.

If they have different databases, then the authorizations will be stored in different places and can't be shared between tenants. Also, sharing the same server/validation options between all your tenants may not be ideal as they will all share the same signing/encryption credentials. I

[2021-06-18 14:52] cryo75 commented on #1276
At this stage just db per tenant should suffice. But if I would need different authorization options and credentials I will follow your SO answer.

[2021-06-18 15:18] cryo75 commented on #1276
Unfortunately... I'm getting the following exception...

[code]

This must be related to the above changes I did for multi-tenancy but I can't figure out why this occurs.

[2021-06-18 15:25] kevinchalet commented on #1276
Do "normal" OpenIddict operations (typically, the authentication flow) work if you temporarily disable Quartz.NET?

[2021-06-18 17:02] cryo75 commented on #1276
Yes. Everything works fine.

[2021-06-18 18:08] kevinchalet commented on #1276
Can you try removing the `public ApplicationDbContext(TenantInfo tenantInfo)` constructor?
Also, try updating the other one to use a generic argument: `public ApplicationDbContext(DbContextOptions<ApplicationDbContext> options, TenantInfo tenantInfo)`.

[2021-06-18 18:18] cryo75 commented on #1276
Exception still thrown.

[2021-06-18 18:19] kevinchalet commented on #1276
I'm out of ideas. I'll need to work on a repro, this may take some time.

[2021-06-18 18:41] cryo75 commented on #1276
No problem. I might remove multi-tenancy completely.

[2021-06-18 18:41] #1276 closed, assigned to nobody

[2021-06-19 11:37] kevinchalet opened #1278 "Bump the Katana references to 4.2.0"
https://github.com/aspnet/AspNetKatana/releases/tag/v4.2.0

[2021-06-19 11:38] kevinchalet opened #1279 "Bump the .NET Core 2.1/3.1 and .NET 5.0 SDK/packages"

[2021-06-19 12:14] kevinchalet opened #1282 "Bump Wilson"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/releases

[2021-06-19 12:18] #1278 closed, assigned to kevinchalet

[2021-06-19 12:18] #1279 closed, assigned to kevinchalet

[2021-06-19 13:38] #1282 closed, assigned to kevinchalet

[2021-06-23 21:20] dotdiego opened #1284 "Request is empty when using EventHandler"
I'm trying to use the **EventHandler** with **ExtractConfigurationRequestContext** to create multiple Discovery / Configuration files because of specific needs (I have one authorization endpoint for smart card / client credentials authentication so i can't access discovery on it) but the Request is always empty.

To achieve that purpose i'm using the ```options.AddEventHandler<OpenIddictServerEven

[2021-06-23 21:30] kevinchalet commented on #1284
Hi,

![image](https://user-images.githubusercontent.com/6998306/99829612-cf4f5300-2b5c-11eb-843b-d6b365965c0a.png)

As indicated, the ability to post questions on GitHub is reserved to sponsors as a way to thank them. Please consider [sponsoring  the project](https://github.com/sponsors/kevinchalet) or post your question on StackOverflow, where it will be visible by the community.

It's not a bug:

[2021-06-23 21:30] #1284 closed, assigned to nobody

[2021-06-25 12:52] DuncancMartin commented on #1235
The above issue was because the Token Manager class was declared incorrectly.  It was:
[code]
It should have been:
[code]
I now have a problem resolving the Extended TokenStore, but I haven't yet got stuck!

[2021-06-26 01:19] drsmile1001 commented on #1202
I have similar problem.
I use ClientCredentialsGrantType of [samples/Aridka](https://github.com/openiddict/openiddict-samples/tree/dev/samples/Aridka) as my project base. And I found It don't add "scope" to claim.

I wondering why disscution above talking about  `principal.SetScopes(request.GetScopes())`, but ClientCredentials seems don't have "user" like other "Grant" (ex: AuthorizationCodeGrantT

[2021-06-27 20:18] ghost commented on #1225
I am facing exactly the same issue.   I am unable to find the exact reason. Any help will be really appreciated.

**Request**

Address 	= "https://localhost:44373/connect/token"
ClientId 	= "My.Sample.Application"
ClientSecrent 	= "901564A5-E7FE-XXXXXXXX"
Code		= "5YyWmExZmnMEGMnBaoPN1WLh9DOQmHslO_ip3Lhvh8U"
CodeVerifier	= "_NZ9wKVx0oYtHhehs_D49g"
GrantType	= "authorization_code"
RedirectUri	= "ht

[2021-06-28 20:26] ntimmerman opened #1285 "How do I get a custom field to be included in the application manager query?"
I am new to this so please forgive if this is an easy question. I need to join the Application entity to an existing database schema. We're thinking to link Application to our users table. How do I then get the Application Manager to query for my custom fields from the database?

These are my customized entities. We're using integers instead of the default GUID's.

          public class CustomApp

[2021-06-28 23:27] kevinchalet commented on #1285
Hi,

I'm not sure how your scenario works (it's not super clear to me why a client would be linked to a user), but querying based on an extended property should definitely be possible. If you use the EF Core, EF 6 or MongoDB stores, you can call the `GetAsync()` overload (or `ListAsync()` if you want to get multiple items) that takes a delegate. E.g:

[code]

Or if you prefer the query syntax:

[c

[2021-06-28 23:32] kevinchalet opened #1286 "Determine whether native support for JsonNode should be added in OpenIddictParameter"
Related thread: https://github.com/dotnet/runtime/issues/52611

At this point, I don't think .NET 6.0 will support native conversion between `JsonNode` and `JsonElement`. With that in mind, we should determine whether it would make sense to add built-in support for `JsonNode` in the `OpenIddictParameter` type (support in the application, authorization, scope and token stores is unlikely as it woul

[2021-06-29 00:03] kevinchalet commented on #1286
Note: depends on https://github.com/openiddict/openiddict-core/issues/1236.

[2021-06-29 00:35] ntimmerman commented on #1285
So I would need to specify my type, right? But the where predicate doesn't infer its type properly. The compiler tells me User is not a property of type object.

            var application = await _applicationManager.GetAsync<CustomApplication>(applications => applications.Where(application => application.User.UserKey == clientId));

[2021-06-29 00:54] ntimmerman commented on #1285
I switched to the strongly typed application manager and the User is still null. I'm guessing it has to do with the fact that my entity type is in this case a view with a key instead of a table.

[code]

[2021-06-29 15:43] hajimenez commented on #362
Can I Have a sample of your conection string for .net core?

[2021-07-01 10:30] DuncancMartin opened #1287 "Using a custom TokenStore and extending TokenStoreResolver to deliver it to TokenManager"
Hi Kevin
Thanks to your assistance, I have an extended Token object containing a new field. To insert data into this field, I believe I need to over-ride the PopulateAsync method in the TokenManager, and add the ability to set this value in the TokenStore.
I have a working ExtendedTokenManager, and I am able to use it to set the Properties data in the Token using the built in TokenStore, but I am

[2021-07-01 11:15] kinosang opened #1288 "Avoid OpenIddict.Server.OpenIddictServerDispatcher logging for token not active."
### Is your feature request related to a problem?
There's too many `fail`s in log when using device code flow. `OpenIddictServerDispatcher` logs `fail` each time for `authorization_pending`.

[code]

### Describe the solution you'd like
Make the `fail`s to `info`s nor `trace`s.

[2021-07-01 14:04] kevinchalet commented on #1288
Most errors were converted to "info" traces as part of https://github.com/openiddict/openiddict-core/issues/1205 (I'm considering backporting it to 3.x).
That said, that one is a bit special and "debug" might indeed be more appropriate.

[2021-07-01 14:27] kevinchalet opened #1290 "Consider backporting the log level changes to OpenIddict 3.x"
In the dev branch, the log level of most errors was lowered to avoid overlogging: https://github.com/openiddict/openiddict-core/issues/1205.

We should consider backporting these changes to OpenIddict 3.x, most likely as part of a 3.1 release.

[2021-07-01 15:22] kevinchalet commented on #1285
Do you mean the `User` property of the returned `application` object is null? Doesn't adding `.Include(application => application.User)` help (or you can turn on lazy loading)?

[2021-07-01 15:27] kevinchalet commented on #1287
Hey,

FYI the sponsor tier you selected is limited to 2 support tickets per year. For more recurrent help, please consider choosing a higher tier.

Thanks!

[2021-07-01 16:35] kinosang commented on #1288
BTW, I'm using 3.0.5.

I've set filter as a hack.

[code]

I think it's ok to keep ID6003 as info.

[2021-07-01 17:15] kevinchalet commented on #1288
This is expected: the new log levels are currently only in use in the 4.0 nightly builds.
https://github.com/openiddict/openiddict-core/issues/1290 tracks backporting these changes as part of a 3.1 release.

[2021-07-01 17:15] #1288 closed, assigned to kevinchalet

[2021-07-03 13:26] #1285 closed, assigned to nobody

[2021-07-06 08:03] DuncancMartin commented on #1287
Hi Kevin
I updated my sponsorship to the next tier.
If there are no examples of this sort of thing, then I'll try to summarise the problem and my code tomorrow.
Thanks
Duncan

[2021-07-06 10:13] kevinchalet commented on #1287
Thanks!

So: creating your own resolver interface/implementation shouldn't be necessary at all: the default one can be used even with subclassed stores (which is exactly the approach OrchardCore uses). Instead, you can use casts in your custom manager to expose the methods defined in your own subclassed stores. Here's a concrete example from OrchardCore:

[code]

https://github.com/OrchardCMS/Orch

[2021-07-08 13:01] #1290 closed, assigned to kevinchalet

[2021-07-08 13:47] kevinchalet commented on #1290
FYI @deanmarcussen the log level change was backported to 3.x, in case you'd be interested for Orchard 😃

[2021-07-08 16:11] deanmarcussen commented on #1290
Ideal, defintely, thanks @kevinchalet

[2021-07-08 17:02] AndreGl opened #1292 "Problems hosting openiddict application on more as one node in kubernetes"
### Describe the bug
In case the openiddict server is hosted on kubernetes and runs on more as one node the follow error happen.
In the application self I already configure DataProtection at Startup.
[code]

I also tried to configure a unique jwt key, but none positive effect.
[code]

The problem:
Login in redirects to OpenId application, you can do the login there, on redirect back to the applica