[2017-12-18 13:39] kevinchalet commented on #530
You're doing it totally wrong: you can't arbitrarily decide to embed a MVC infrastructure type (`SignInResult`) in an anonymous type.

To return custom properties as part of the authorization or token response, you can add them as special properties in the authentication ticket (they need to end with `#public_string`, `#public_bool` or `#public_integer`):

E.g

[code]

[2017-12-18 17:18] #530 closed, assigned to nobody

[2017-12-18 18:04] kevinchalet commented on #530
You're welcome.

[2017-12-23 00:57] Biarity opened #531 "Always getting 401 when validating tokens"
Using this code:
[code]
I always get `401 Unauthorized` even when my token is valid. Any ideas why?
I am using asymmetric RSA keys.

[2017-12-23 00:59] kevinchalet commented on #531
What do the logs say?

[2017-12-23 01:02] Biarity commented on #531
Sadly no logs, so I don't know how I'd tackle debugging this.

OpenIddict is running on ASP.NET Core 2.0, and the token was obtained through the Implicit flow.

[2017-12-23 01:04] kevinchalet commented on #531
Enable the ASP.NET Core logs. There's definitely something that would help explain what's going on.

[2017-12-23 01:05] Biarity commented on #531
I thought logging was enabled by default? So far all I got is:
[code]

[2017-12-23 01:06] kevinchalet commented on #531
Make sure the log level is low enough. You should at least see the HTTP request.

[2017-12-23 01:19] Biarity commented on #531
Sorry, totally forgot about that. Debug logs:
[code]
Seems to be a problem validating key ID. I just checked the `kid` given by OpenIddict `.well-known/jwks` and it is different from the one in my token. I'm only using one key, so I'm not sure why OpenIddict is generating a token with a different `kid`.

[2017-12-23 01:27] kevinchalet commented on #531
Do you use ephemeral keys?

[2017-12-23 01:45] Biarity commented on #531
Oops, had a bad environment check. Sorry for dragging this out and thanks for the quick replies!

[2017-12-23 01:45] #531 closed, assigned to nobody

[2017-12-29 20:14] damirkusar opened #532 "Getting 401, when Authenticating on IdentityProvider and sending accesstoken to resource server"
Hi,

What am i doing wrong? Or cant i do it like that?

https://github.com/damirkusar/angularXcore/tree/refactorFix

Resource Provider Log
[code]

Identity Provider Log
[code]

[2017-12-30 22:08] damirkusar commented on #532
Ahhhhh, testing with postman set the variable wrong (better said, i did :) ), it works.. :)

[2017-12-30 22:08] #532 closed, assigned to nobody

[2018-01-04 11:21] Biarity commented on #522
Resolved

[2018-01-04 11:21] #522 closed, assigned to nobody

[2018-01-06 19:07] iwaitu commented on #328
@aporquez Can you show your sample for the solution of mongo  ?

[2018-01-15 16:06] toddtsic opened #534 "Possible to support 1.0.0-* and 2.0.0-rc2-0792 in same sql db?"
I'm supporting a mobile app that is getting heavy use using OpenIdDict @ 1.0.0-*.

Now writing new Asp.NetCore 2.0 backend for the api calls from the mobile app and I'm using OpenIdDict 2.0.0-rc2-0792.

I needed to commit to database first approach (to continue mobile support), so my first move was using Visual Studio 2017, I loaded solution downloaded from OpenIdDict.Samples and focused on implic

[2018-01-15 16:14] kevinchalet commented on #534
The 1.x and 2.x schemas are supposed to be strictly equivalent (assuming you're using the latest versions of both OpenIddict 1.x and 2.x).

To solve your issue, consider removing the second set of entities and migrating the "old" tables to the latest schema using `dotnet ef migrations add` and `dotnet ef database update`.

[2018-01-15 17:46] toddtsic commented on #534
Thanks for responding...

A couple of observations:

1.  You commented that schemas should be strictly equivalent, maybe that's my issue?  As you can see from the copied in ER diagrams above, they are not.

2)I tried:

and get same error:

[2018-01-15 17:49] kevinchalet commented on #534
Remove your duplicate "plural" entities, they seem to confuse EF Core.

[2018-01-15 18:06] toddtsic commented on #534
Wasn't sure what you meant, so here's what I tried:

1. I looked at my scaffolded classes in SqlModels folder and removed the classes with OpenIddictxxx1.cs,

2. I then dropped my auth.OpenIddictxxx tables from the database and dropped the auth schema, leaving my old dbo.OpenIddictxxx tables from 1.0.0-* (see schema diagram above)

3. I then re-ran my dotnet scaffolding command  above (note I don'

[2018-01-15 18:47] kevinchalet commented on #534
It's hard to say without seeing your code or trying it locally. Is your source code visible somewhere?

[2018-01-15 18:55] toddtsic commented on #534
Its not, but I'm noticing you have left "breadcrumb" clues such as:

            services.AddDbContext<SqlDbContext>(options =>
            {
                options.UseSqlServer(
                    Configuration.GetConnectionString("DefaultConnection")
                );

                // Register the entity sets needed by OpenIddict.
                // Note: use the generic overload if you ne

[2018-01-16 16:58] toddtsic commented on #534
Hey Kevin,

I've looked at this more carefully...  Do you have a few minutes to
discuss?  (if so, how would you like to discuss, gitter, email...?)

T

On Mon, Jan 15, 2018 at 11:55 AM, Todd Greenwald <
tgreenwald@teamsportsinfo.com> wrote:

--
Todd Greenwald
President, TeamSportsInfo.com
tgreenwald@teamsportsinfo.com
410-703-3450

[2018-01-17 02:46] justindarnell opened #535 "After upgrading to 2.0 packages Authorize attribute always redirects to login page"
I recently was given a project to update a small API to ASP.NET Core 2.0. I've gotten everything building and starting up, but I'm having an issue with authorization. I can request and receive a token through the token endpoint, but when I try to use the token to request a resource that requires authorization there is an attempt to redirect me to a login page which is not found.

Removing the Auth

[2018-01-17 02:54] justindarnell commented on #535
I see from issue #498 that adding AuthenticationSchemes = "Bearer" resolves this issue along with https://stackoverflow.com/questions/46464469/how-to-configureservices-authentication-based-on-routes-in-asp-net-core-2-0/46475072#46475072

Apologies for missing this on my first pass. Thanks!

[2018-01-17 02:54] #535 closed, assigned to nobody

[2018-01-17 19:49] erikrenaud opened #536 "Why not nuget ?"
Hi all !
I was just wondering why this project was on myget instead of nugget.org ?

is it just not done yet or maybe not a goal of the project ?

[2018-01-17 20:15] kevinchalet commented on #536
Hey,

Actually, it's already on NuGet.org: https://www.nuget.org/profiles/openiddict
Our README should be definitely updated to reflect that. Want to send a PR? :smile:

[2018-01-17 21:21] erikrenaud commented on #536
Great, just added the PR #537 . Might have another as I look to add cosmosdb support.

[2018-01-17 21:21] #536 closed, assigned to nobody

[2018-01-19 13:51] Biarity opened #538 ""The user is not logged in." when attempting an implicit flow silent login"
My OpenIddict auth server is returning an error with description "The user is not logged in" when attempting a silent implicit flow login (ie. through an iframe via js). Thing is, the user is logged in when visiting the auth server directly.

I'm having trouble debugging this - not sure if this is OpenIddict's fault or my js' (I'm using [oidc-client](https://github.com/IdentityModel/oidc-client-js

[2018-01-19 16:42] kevinchalet commented on #538
OpenIddict doesn't deal with authentication, so it's not an error returned by OpenIddict (in our implicit flow sample, it's the authorization controller which is responsible of that).

Are your authorization server and client app hosted at different addresses? This sounds like a same-site issue. Try to set it to None in the Identity application cookie options.

[2018-01-20 01:17] Biarity commented on #538
Yeah, I meant the authorization controller. Setting `SameSiteMode` to `None` or `Lax` still doesn't solve the problem. Sadly my auth server and client need to be hosted at different addresses.

Specifically, making a request to the authorize controller with `prompt=none` in an iframe returns a `302` to the return_url with the url hash `#error=login_required&error_description=The%20user%20is%20not%

[2018-01-20 01:31] kevinchalet commented on #538
`AddCookie()` doesn't update the cookie handler managed by Identity but registers a separate instance, so I'm not surprised this doesn't work as you'd expect.

Instead, try that:

[code]

[2018-01-20 01:50] Biarity commented on #538
That fixed it - calling `UseCookiePolicy` only sets the minimum so it was ignored. Sorry for the trouble.

[2018-01-20 01:50] #538 closed, assigned to nobody

[2018-01-20 05:44] Biarity commented on #316
What if I need to have a different redirect_uri specifically for silent logins? This is usually required to reduce load when using iframes - see https://www.scottbrady91.com/OpenID-Connect/Silent-Refresh-Refreshing-Access-Tokens-when-using-the-Implicit-Flow.

[2018-01-20 12:58] kevinchalet commented on #316
It's now supported: `OpenIddictApplicationDescriptor.RedirectUris` is a collection that allows you to register multiple uris.

[2018-01-20 17:37] toddtsic commented on #534
Kevin,

I was able to get things working by following your lead in https://github.com/openiddict/openiddict-core/issues/360  That did the trick, thanks!

Todd

[2018-01-29 11:53] xperiandri opened #540 "How to hash client secret to insert into database manually?"
Maybe create a dotGet package?
https://medium.com/@tonerdo/introducing-dotget-an-installer-for-net-core-cli-apps-9ba79ac7cd89

[2018-01-29 17:46] kinosang commented on #540
I do that with a simple console project with only one line codes:

[code]

or you can use a random string generator such as `RNGCryptoServiceProvider` with Base64 encoding to get a random key.

[2018-01-30 12:29] kevinchalet opened #542 "Make the CancellationToken parameters optional in the managers APIs"
... but use the new `CancellationToken cancellationToken = default` syntax to avoid unnecessary noise :sweat_smile:

[2018-02-01 06:26] erikrenaud opened #543 "What is a hybrid application"
What is a hybrid application  ?

I can't seem to find what it does by reading the code...

From my understanding:
confidential apps : apps with a client secret that MUST be provided and flows fail if they don't require a client secret (i.e. implicit flow). What about AuthorizationCode flow with pkce that doesn't require a client secret - how are those defined ?
public apps  apps without a client s

[2018-02-01 12:36] kevinchalet commented on #543
https://github.com/openiddict/openiddict-core/issues/475 should put you on the right track.

[2018-02-01 15:41] erikrenaud commented on #543
Great - i think i understand a bit more - i`ve ready in other issues or commits that the authorizationCode flow is supported without secrets and pkce.

Is that in the a confidential, hybrid or public app ?

[2018-02-01 15:42] kevinchalet commented on #543
Public. Hybrid apps can use the code flow, but they must use their client secret to communicate with the token endpoint.

[2018-02-01 15:50] erikrenaud commented on #543
Thanks so much for the quick answers, this is a great project but making the right config choices is not always clear...

[2018-02-01 15:50] #543 closed, assigned to nobody

[2018-02-01 15:56] kevinchalet commented on #543
Thanks for the kind words.

I agree. That's why putting effort into the documentation is essential.

There's an ticket for the client type docs: https://github.com/openiddict/openiddict-documentation/issues/7. Would you be interested in contributing?

[2018-02-01 16:22] erikrenaud commented on #543
Yeah, i`ll try to produce something by the mvp summit.

From: Kévin Chalet <notifications@github.com>
Sent: February 1, 2018 10:57 AM
To: openiddict/openiddict-core <openiddict-core@noreply.github.com>
Cc: tuath <erik_renaud@hotmail.com>; State change <state_change@noreply.github.com>
Subject: Re: [openiddict/openiddict-core] What is a hybrid application (#543)

Thanks for the kind words.

Making

[2018-02-01 16:23] kevinchalet opened #544 "Migrate to the latest OpenIddict RC2 packages"
The latest OpenIddict bits (>=`1.0.0-rc2-0803` and >=`2.0.0-rc2-0802`) require making changes to the database. A complete how-to is available here: https://openiddict.github.io/openiddict-documentation/guide/migration.html

Don't hesitate to post your questions and remarks here.

[2018-02-01 21:53] ORuban commented on #526
If someone is looking for migration example, the following code could be used

[code]

[2018-02-02 20:18] kevinchalet commented on #542
Done: https://github.com/openiddict/openiddict-core/commit/721646357df78eca763f186037ebc2a353429894.

[2018-02-02 20:18] #542 closed, assigned to kevinchalet

[2018-02-02 20:19] #534 closed, assigned to nobody

[2018-02-02 20:20] #509 closed, assigned to nobody

[2018-02-02 20:21] kevinchalet commented on #492
@henkmollema ping.

[2018-02-02 20:21] #523 closed, assigned to nobody

[2018-02-02 20:22] henkmollema commented on #492
Whoops, forgot about this. 😅
I'll try and look into this tomorrow.

[2018-02-02 20:23] kevinchalet commented on #540
It's possible, but you'll have to override the default application managers (`Crypto.HashPassword` uses a special format that embeds a version, the hash and the salt in the same payload)

[2018-02-02 20:23] kevinchalet commented on #492
@henkmollema thanks, I really appreciate :+1:

[2018-02-03 00:18] kinosang commented on #540
@PinpointTownes

my mistake, I mean use `RNGCryptoServiceProvider` to generate random string, then use `Crypto.HashPassword` for hashing.

[2018-02-03 11:46] henkmollema commented on #492
@PinpointTownes I've just uploaded [CryptoHelper](https://www.nuget.org/packages/CryptoHelper.StrongName). I'll send a PR shortly.

[2018-02-05 11:21] Gillardo opened #548 "Latest version not working with CustomFlow"
Not sure which version i was using before, 2.0.0-* but custom flows were working fine.  Now i have updated and my custom flows are broken.

I am getting an error saying

Any idea why i am getting this??

[2018-02-05 11:31] Gillardo commented on #548
I deleted all my openIddict tables, and wipes the initialCreate so all has setup fresh...  Using the following code
[code]
... save later

noticed there are a properties and permissions column now in openiddictapplications table, but they are blank??

[2018-02-05 14:16] kevinchalet commented on #548
Applications must now be granted permissions to use the OAuth2/OIDC endpoints/flows.

The migration guide I wrote includes a script that adds all the permissions to existing applications. Since you didn't follow it, your `Permissions` column is empty.

Simply add the permissions you need and it will work. E.g:

[code]

[2018-02-06 12:57] nmocruz opened #551 "e"

[2018-02-06 13:23] #551 closed, assigned to nobody

[2018-02-07 19:21] #492 closed, assigned to nobody

[2018-02-09 17:32] #489 closed, assigned to nobody

[2018-02-10 21:13] JonBox commented on #436
This seems to be the behavior you receive when your JWT isn't validated correctly. I had this problem as a result of typing "Bearer: (JWT)" instead of "Bearer (JWT)" in the header

[2018-02-11 23:50] Trojaner opened #556 "signin-oidc not handled?"
For some reason the redirect to "/sigin-oidc" gets handled by the Angular SPA fallback (`app.UseSPA(...)`)
(Of course Angular reports that the given route does not exist)

I'm trying to add signin with implicit flow but because of this issue I can't get it to work.

I am using the [AspNetCoreSpa](https://github.com/asadsahi/AspNetCoreSpa) template with minor modifications.

Edit:
[code]

I don't k

[2018-02-12 00:01] kevinchalet commented on #556
Nope. The callback route is purely a client thing, not a server concern. The value `/signin-oidc` is usually used by the MSFT OIDC client middleware. Do you use it?

[2018-02-12 00:15] Trojaner commented on #556
Oh, ok, seems like I misunderstood how it works there. I'm using [angular-oauth2-oidc](https://github.com/manfredsteyer/angular-oauth2-oidc) on client. I will handle the request on client in that case.

Another issue I have:
After a successful authentication on an external provider, when SignIn() gets called [here](https://github.com/asadsahi/AspNetCoreSpa/blob/master/Server/Controllers/api/Author

[2018-02-12 00:22] kevinchalet commented on #556
That's a bit vague. Care to explain?
The line you mentioned only returns an OAuth2 response by redirecting the user agent to the callback URL of the client application (it doesn't create cookies if that's your question).

[2018-02-12 00:23] Trojaner commented on #556
I edited the message (I get `Bearer was not authenticated. Failure message: Authentication failed because the access token was invalid.` in console)

Well after the response the client gets redirected, I expected it to log in but apparently it fails..

#395 seems similar, I will have a look at it.

[2018-02-12 00:42] Trojaner commented on #556
So I get an access token from the server, however, for some reason the database does not contain any tokens?

[code]

The client also sends the said access_token but I get the error posted earlier
If needed I can move this to a new issue.

[2018-02-12 12:35] adnan-kamili opened #557 "unable to create oauth applications"
After updating to the latest version, the application creation code started crashing with following error:

`Unexpected character encountered while parsing value: h. Path ''`

Following is my code:
[code]

[2018-02-12 12:59] kinosang commented on #557
The latest version add a new field named `Permissions`, it should be a JSON-encoded array of the permissions <del>and cannot set to Null or empty string at this time</del>.

You can have a look at the sample.

https://github.com/openiddict/openiddict-core/blob/f503fb7e7a10a8dd86b27111515dda813cdc939c/samples/Mvc.Server/Startup.cs#L147-L162

[2018-02-12 13:18] kevinchalet commented on #557
@adnan-kamili don't miss the migration guide: https://openiddict.github.io/openiddict-documentation/guide/migration.html

Also, consider using the `CreateAsync()` overload that accepts an `OpenIddictApplicationDescriptor` instance. It will take care of encoding all the properties.

@kinosang actually, the field can be null or empty (we assimilate that to empty permissions), but if you manually pop

[2018-02-12 13:23] kinosang commented on #557
@PinpointTownes got it.

[2018-02-12 13:24] kevinchalet commented on #556
Change the default log level to `Trace` and post your entire log messages, please.

[2018-02-12 16:16] kevinchalet commented on #548
For the record, the application permissions feature is now optional. It's documented here: https://openiddict.github.io/openiddict-documentation/features/application-permissions.html

[2018-02-12 16:16] #548 closed, assigned to nobody

[2018-02-13 07:47] adnan-kamili commented on #557
Thanks for the clarification.  My OAuthApplication contains more properties than available in the descriptor. I will have to extend the descriptor class too.

I tried folllowing but got the same error:

[code]

[2018-02-13 13:23] Trojaner commented on #556
[log-20180213.txt](https://github.com/openiddict/openiddict-core/files/1720022/log-20180213.txt)

[2018-02-13 13:53] kevinchalet commented on #557
Does your mapper JSON-encode the `RedirectUris`/`PostLogoutRedirectUris` properties?

[2018-02-13 14:04] Trojaner commented on #556
Sorry, I forgot to change Serilog's min log level too.

Client sending access token:
![image](https://user-images.githubusercontent.com/1809172/36153577-c3ca950c-10df-11e8-8a10-62a8ead454e3.png)

[app-20180213.txt](https://github.com/openiddict/openiddict-core/files/1720145/app-20180213.txt)

But why do I still get this?

and

[2018-02-13 14:19] kevinchalet commented on #556
Are you 100% sure the access token is not stripped?

When validating the token, you should have a trace similar to this one indicating that ASP.NET Core Data Protection tried to decrypt it:

[code]

The fact you don't have this message makes me think the token is malformed and can't be base64url-decoded by ASP.NET Core.

[2018-02-13 18:53] Trojaner commented on #556
Finally I was able to figure out why it does not work.

I was using a `HttpInterceptor` from angular to set `Authentication` header (as you can see above on the image).
But since I was using the older and outdated `Http` class for API requests, [the HttpInterceptor didn't work](https://stackoverflow.com/questions/45418477/angular-4-3-interceptor-not-working), so the authentication header didn't ge

[2018-02-13 18:53] #556 closed, assigned to nobody

[2018-02-17 10:16] adnan-kamili commented on #557
Thanks it worked, but now I am having issues deleting the application.

`            await _applicationManager.DeleteAsync(oauthApplication);
`
I am getting following error:

[code]
@PinpointTownes The schema changes quite often, I believe atleast once every few months. I wonder why schema isn't get finalized yet.

[2018-02-17 13:24] kevinchalet commented on #557
It's an EF Core 1.x and 2.x bug (already hit in a different place). I'll try to fix it and re-push new RC2 packages with the fix.

Adding new features generally requires adding new columns so it's pretty much unavoidable.

That said, authorizations and scopes - that were WIP in RC1 - are now finalized so I don't think we'll have new schema changes in the next version.

It's also worth noting we no

[2018-02-17 13:45] kevinchalet commented on #557
@adnan-kamili fix pushed. New `1.0.0-rc2-final` and `2.0.0-rc2-final` packages are available on the MyGet feed (if you've already downloaded these versions, remove the `OpenIddict` folders from `C:\Users\[your username]\.nuget\packages`).

The fix will be part of the packages published to NuGet.org next week.

[2018-02-17 13:45] #557 closed, assigned to nobody

[2018-02-20 15:26] Trojaner25 commented on #544
When migrating from `rc2-0854` to `rc2-final` I get the following error on Add-Migration:

[code]
The error message translates to something like: Invalid columnname "ConsentType"

[2018-02-20 15:40] Trojaner opened #563 "Can not migrate to rc2-final: Invalid columnname "ConsentType""
When migrating from `rc2-0854` to `rc2-final` I get the following error on Add-Migration:

[code]
The error message translates to something like: Invalid columnname "ConsentType"
(Using SqlServer Express 2017)

Probably related commit: https://github.com/openiddict/openiddict-core/commit/efce0af4990ebd8b589f82c243cf7d640feb24d4

[2018-02-20 15:50] kevinchalet commented on #563
Simply add a new migration for the `ConsentType` column?

[2018-02-20 15:55] Trojaner commented on #563
Currently I'm working on that, but why did it not do it automatically (with Add-Migration)?

Just upgrading from rc2-0854 to rc2-final broke my application, I think that shouldn't happen.

[2018-02-20 15:58] kevinchalet commented on #563
There's unfortunately no support for automatic migrations in EF Core so you must manually add a migration every time the schema changes (which is something we'll no longer do once OpenIddict RTM ships).

[2018-02-20 15:59] Trojaner commented on #563
Ok, thanks.

[2018-02-20 15:59] #563 closed, assigned to nobody

[2018-02-20 16:01] Trojaner commented on #563
If anyone needs to do the migration manually like me:

[code]

[2018-02-21 13:23] ngohungphuc opened #564 "[Help wanted] Cant integrate JWT with cookie"
So I want to use JWT to protect my API route. Cookie to protect MVC
The problem I have is when I navigate to `http://localhost:5000/Account/Login` then I success login I will be redirect to `http://localhost:5000/Account/Login/?ReturnUrl=%2FPortal%2FIndex` not `http://localhost:5000/Portal/Index`

Here is my controller I want to protect using cookie scheme
[PortalController.cs](https://github.com/

[2018-02-21 13:36] kevinchalet commented on #564
Out of curiosity, why register a separate cookie instance? https://github.com/Awesome-CMS-Core/Awesome-CMS-Core/blob/master/src/AwesomeCMSCore/AwesomeCMSCore/Extension/ServiceCollectionExtensions.cs#L131-L132 already does it for you.

[2018-02-21 13:38] ngohungphuc commented on #564
@PinpointTownes you mean this line ?
[code]
If that you want to ask I want to register cookie scheme `AwesomeCMSCookie`

[2018-02-21 13:39] kevinchalet commented on #564
Identity already registers an "application cookie" instance: https://github.com/aspnet/Identity/blob/dev/src/Identity/IdentityServiceCollectionExtensions.cs#L74-L81. Not sure why you need an other instance.

[2018-02-21 13:57] ngohungphuc commented on #564
@PinpointTownes the issue still happend when I change to this
[code]

[2018-02-21 13:59] kevinchalet commented on #564
For the same reason: you're still creating a custom cookie instead of using Identity's built-in one. Remove that.

[2018-02-21 14:02] ngohungphuc commented on #564
@PinpointTownes Yes I try to remove it for first place and I got this exeption
[code]

[2018-02-21 14:02] kevinchalet commented on #564
Identity uses a different value: `IdentityConstants.ApplicationScheme`

[2018-02-21 14:06] ngohungphuc commented on #564
@PinpointTownes where should I put that

[2018-02-21 14:06] kevinchalet commented on #564
Did you take a look at our samples?

[2018-02-21 14:20] ngohungphuc commented on #564
Yes I'm already. Not sure what i'm missed

[2018-02-21 14:57] ngohungphuc commented on #564
@PinpointTownes I follow up with the Refreshflow sample and I still get same issue

[2018-02-21 15:23] ngohungphuc commented on #564
@PinpointTownes Here is my update code the issue still happend
[AuthorizationController](https://github.com/Awesome-CMS-Core/Awesome-CMS-Core/blob/master/src/AwesomeCMSCore/Modules/AwesomeCMSCore.Modules.Admin/Controllers/AuthorizationController.cs#L35-L157)

[ServiceCollectionExtensions](https://github.com/Awesome-CMS-Core/Awesome-CMS-Core/blob/master/src/AwesomeCMSCore/AwesomeCMSCore/Extension/S

[2018-02-21 16:49] kevinchalet commented on #564
HEH, why do you return an authentication cookie from the `Exchange` action? It's a pure abomination from a security perspective, as this action is not protected by antiforgery countermeasures.

[2018-02-21 19:11] ngohungphuc commented on #564
Not sure if I get what you mean you want me to delete this await SignInCookie(user.UserName, user.Email);
 I dont see any cookie return in exchange action that you mention.Could you point me directly in the file

[2018-02-21 19:12] kevinchalet commented on #564
https://github.com/Awesome-CMS-Core/Awesome-CMS-Core/blob/master/src/AwesomeCMSCore/Modules/AwesomeCMSCore.Modules.Admin/Controllers/AuthorizationController.cs#L155-L156

https://github.com/Awesome-CMS-Core/Awesome-CMS-Core/blob/master/src/AwesomeCMSCore/Modules/AwesomeCMSCore.Modules.Admin/Controllers/AuthorizationController.cs#L160-L210

[2018-02-22 03:05] ngohungphuc commented on #564
@PinpointTownes the issue still happend even I remove the cookie code

https://github.com/Awesome-CMS-Core/Awesome-CMS-Core/blob/master/src/AwesomeCMSCore/Modules/AwesomeCMSCore.Modules.Admin/Controllers/AuthorizationController.cs

[2018-02-22 14:24] ngohungphuc commented on #564
@PinpointTownes any ideas

[2018-02-22 14:25] kevinchalet commented on #564
What's the exact error you're seeing? Also, you should post your logs, otherwise it's hard to help you.

[2018-02-22 14:28] ngohungphuc commented on #564
@PinpointTownes like i said before

[2018-02-22 14:30] kevinchalet commented on #564
Your issue has pretty much nothing to do with OpenIddict (it's purely a cookie/Identity issue), but I'll try to take a look when I have some time.

[2018-02-22 15:31] ngohungphuc commented on #564
@PinpointTownes I try with [RefreshFlow sample](https://github.com/openiddict/openiddict-samples/tree/dev/samples/RefreshFlow) and I the error is still happend.

[2018-02-22 15:43] kevinchalet commented on #564
@ngohungphuc not sure how that's possible since the refresh token flow sample doesn't use cookie authentication and doesn't have an `/Account/Login` endpoint.

[2018-02-22 15:53] ngohungphuc commented on #564
@PinpointTownes I added view to test it. I think the problem when we validate the user credentail we dont store it in cookie

ASP.Net invidual authentication boilerplate code
`var result = await _signInManager.PasswordSignInAsync(model.Email, model.Password, model.RememberMe, lockoutOnFailure: false);`

Refresh flow code
`
  var result = await _signInManager.CheckPasswordSignInAsync(user, request.

[2018-02-22 15:55] kevinchalet commented on #564
Maybe my previous messages were not clear enough but **the password flow doesn't use cookies**. Don't be surprised if you see weird errors when trying to add cookie authentication for something that doesn't leverage cookies.

[2018-02-22 15:56] ngohungphuc commented on #564
So I have to manual add cookie authentication scheme in `exchange` method ?

[2018-02-22 16:00] kevinchalet commented on #564
I'm going to repeat it one more time: **don't use cookies in the `Exchange` method. It's an API action.**

[2018-02-22 16:03] ngohungphuc commented on #564
So is there anyway to achieve my goal

[2018-02-22 16:08] kevinchalet commented on #564
You haven't even explained it.

[2018-02-22 16:10] ngohungphuc commented on #564
I want to store a cookie when user login success. And a token return from `exchange` method use to protect API. Cookie to protect Admin route.

[2018-02-22 16:18] kevinchalet commented on #564
You can do that from the regular `AccountController`, but not in `Exchange`, which doesn't use cookie authentication: password is a non-interactive OAuth2 flow: you send the username and the password and you get back a token. No cookie is involved.

You can use cookies for your website, and the password flow w/tokens for your APIs. The two worlds are separate.

[2018-02-22 16:24] ngohungphuc commented on #564
Got it thank you

[2018-02-22 16:24] #564 closed, assigned to nobody

[2018-02-23 19:57] kevinchalet opened #565 "Update SetApplicationIdAsync()/SetAuthorizationIdAsync() to be compatible with QueryTrackingBehavior.NoTracking"
When query tracking is disabled, Entity Framework (Core) cannot detect that the application/authorization we bind to an authorization or a token already exists and thus tries to re-insert it, resulting in a duplicate element exception:

[code]

While disabling query tracking in non-readonly scenarios is definitely not recommended, we could improve that by explicitly telling EF the associated entit

[2018-02-25 07:04] Smartware commented on #565
If I reference 2.0.0-rc3 can I revert back to EF DBContext set to QueryTrackingBehavior.NoTracking?

[2018-02-28 15:09] kevinchalet commented on #565
Once such support is added in the RC3 nightly builds, yes.

[2018-02-28 15:10] #544 closed, assigned to nobody

[2018-03-04 18:26] xperiandri commented on #262
@PinpointTownes, does RC2 fixes anything about this?

[2018-03-06 20:06] replaysMike commented on #266
Funny, Google's first hit is this page (don't you love sarcasm?)

[2018-03-06 20:09] kevinchalet commented on #266
I personally do.

On a more serious note, while we can't afford writing and maintaining docs on how to create custom stores for ASP.NET Core Identity, a dedicated documentation page for custom OpenIddict stores is definitely planned: https://github.com/openiddict/openiddict-documentation/issues/9

[2018-03-06 20:12] kevinchalet commented on #266
BTW, for those interesting in having a look at non-EF-based OpenIddict stores, Orchard's OpenID module has custom stores that use YesSql (a "document-oriented SQL DB" provider): https://github.com/OrchardCMS/OrchardCore/tree/dev/src/OrchardCore.Modules/OrchardCore.OpenId/YesSql/Services

[2018-03-07 10:42] xperiandri commented on #262
As I tried to put try-catch into Exchange method but token is updated in database later when SignInResult is invoked.

[2018-03-07 14:01] kevinchalet commented on #262
@xperiandri all these exceptions are supposed to be caught. Are you seeing an error?

[2018-03-07 14:28] xperiandri commented on #262
Yes, `DbUpdateConcurrencyException`
I implemented RefreshExpiringAccessTokenFilterAttribute

[code]

When jQuery calls come simultaneously this exception occurs

[2018-03-07 14:29] kevinchalet commented on #262
Please share your logs to confirm it.

[2018-03-11 16:24] anorborg commented on #447
@PinpointTownes, I have a follow-up question on this. Where is the logic that determines where the user is sent when challenged? I don't see any references to the Account/Login view in any of the configuration or code?

[2018-03-11 16:29] kevinchalet commented on #447
@anorborg assuming your authorization endpoint is protected by cookies authentication, this is handled by the MSFT cookie handler:

  - https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/CookieAuthenticationHandler.cs#L456
  - https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.Cookies/PostConfigureCookieAuthenticationOptions

[2018-03-11 19:12] anorborg commented on #447
Thanks @PinpointTownes !

[2018-03-13 17:56] levia7han opened #571 "Unable to specify Claims Issuer"
When settings options I have tried to override the claims issuer but it seems as if the setting is being ignored.
[code]

Yet I still get an error when the token is being validated that the issuer is incorrect.

the .well-known/openid-configuration is also still showing
[code]
Not sure what I am doing wrong here.

[2018-03-13 18:00] kevinchalet commented on #571
`ClaimsIssuer` is a generic ASP.NET Core property we don't use. If you want to use a static issuer instead of the default mechanism (that computes it using the Host header), use `options.SetIssuer(...)`.

[2018-03-13 18:32] levia7han commented on #571
That worked, sorta. I guess maybe I am misunderstanding how this whole thing should be working.

I have an angular 4 front end trying to connect to the web api back end with jwt tokens.
The web api is located at localhost:28674 but the angular program runs at localhost:4200.
In the past I have always just set the issuer as 'myappname'. Maybe this was wrong, but it had worked.

I am only able to us

[2018-03-13 18:58] kevinchalet commented on #571
Generally, the `iss` of a JWT token corresponds to the address of the authorization server that issued it (and when the JWT is an identity token, it's even mandatory).

Why not configuring your JWT handler to use `http://localhost:28674/` as the issuer?

[2018-03-14 00:31] xperiandri commented on #262
[code]

[2018-03-14 01:32] kevinchalet commented on #262
Can you also post your OpenIddict configuration? Thanks.

[2018-03-14 14:16] levia7han commented on #571
First off, Thanks for helping me so quickly. I appreciate it greatly.

I guess the reason why I am trying not to change the iss in the handler is due to having this run on different servers, across load balancers, and in docker containers.
Although it seems my way might not be up to standards, it was easier to just put one issuer across the board and not have to deal with trying to set the issuer

[2018-03-14 14:22] kevinchalet commented on #571
In most cases, the issuer is a public address (e.g `http://connect.mysuperwebsite.com/`), not an internal address. Whether your site is hosted in a web farm on different servers has generally no impact on how your OpenID Connect clients connect to your server (since they use the public address).

[2018-03-14 14:34] levia7han commented on #571
I feel kinda stupid. It all just clicked. Everything is working as it should now. Thank you for your time.

[2018-03-14 14:34] #571 closed, assigned to nobody

[2018-03-15 00:15] xperiandri commented on #262
[code]

And I put `options.SetAccessTokenLofetime(TimeSpan.FromSeconds(10));` to simulate quick token expiration. But it crashes the same way if default lifetime expires without speed up

[2018-03-15 01:40] kevinchalet commented on #262
It's definitely not a "crash" as OpenIddict returns a valid OAuth2 response when a concurrency exception is thrown.

In RC1 (and non-final RC2), we used to return an error when failing to extend the token lifetime. This behavior changed in the latest RC2 bits to ignore such errors and return a positive OAuth2 response (as long as you don't opt for rolling tokens).

https://github.com/openiddict/op

[2018-03-15 09:37] a-patel opened #572 "ConnectionString support at configuration time"
[code]

[2018-03-15 09:39] a-patel commented on #572
In some cases,
DbContext is not directly used, and used IDbContext instead.

in such cases, we can use 'ConnectionString'

Note: not Asp.Net Identity used.
I am limited to used Connection String only

[2018-03-15 09:44] a-patel commented on #572
It may already support this feature, but did not found the solution.

Thanks in Advance.

[2018-03-15 13:09] kevinchalet commented on #572
I don't understand the question, sorry. Care to post more details? :sweat_smile:

[2018-03-15 15:15] a-patel commented on #572
Is it possible to configure 'OpenIddict' by  passing connection string (without EF Database Context)  only at application startup?

[2018-03-15 15:17] kevinchalet commented on #572
The connection string is configured in the EF context options, not in the OpenIddict options. So no (and honestly, it doesn't make much sense).

[2018-03-15 16:09] a-patel commented on #572
`
public void ConfigureServices(IServiceCollection services)
{
    services.AddOpenIddict(options =>
    {
        // Register the Entity Framework stores usnig connection string???
        options.AddEntityFrameworkCoreStores(configuration["Data:DefaultConnection:ConnectionString"]);
    });
}
`
I want something like this...

[2018-03-15 16:11] kevinchalet commented on #572
That's not how it works.

[2018-03-16 10:11] RostV opened #573 "Acces_token revokation"
When are you implementing a token revocation? #

[2018-03-16 12:31] kevinchalet commented on #573
It's already implemented: enable reference tokens in the options.

[2018-03-17 12:56] xperiandri commented on #262
Anyway it is better to eliminate such a case on client side which I have done.

[2018-03-17 12:58] xperiandri commented on #540
I post [dotnet global commands tutorial](https://github.com/dotnet/core/blob/master/samples/dotnetsay/README.md) here in order someone (maybe me or my student) will create such a command.

[2018-03-19 12:28] luboid opened #574 "Implementing custom store"
Hello,
I'am trying to implement custom store without Entity Framework, but there exists methods like:
[code]
if this method is mandatory, if yes - how query parameter can be converted to plain SQL.

[2018-03-19 14:29] kevinchalet commented on #574
Hey,

Implementing it with real logic is only required if you use the `OpenIddictScopeManager.CountAsync([query])` API (which is primarily offered as a helper for paging in admin UIs and is not internally used by OpenIddict). If you can't implement it, simply make it return an exception:

[code]

The two other methods that use this pattern are `GetAsync([query])` and `ListAsync([query])`. They are

[2018-03-19 14:46] kevinchalet commented on #574
If you want a real world example, you can take a look at the OrchardCore OpenID stores: they are based on SQL, use their own entities and don't inherit from our abstract classes: https://github.com/OrchardCMS/OrchardCore/tree/dev/src/OrchardCore.Modules/OrchardCore.OpenId/YesSql/Services

[2018-03-20 23:17] kevinchalet commented on #565
For the record: I've tried dozens of combinations to make the `QueryTrackingBehavior.NoTracking` mode "kinda work" for write scenarios (for which the EF Core team strongly discourages using it): it's pointless.

The best approach to ensure OpenIddict doesn't choke when this mode is enabled is to ensure all the OpenIddict entities are always tracked by EF Core's tracker, in every circumstance. This

[2018-03-20 23:26] #565 closed, assigned to kevinchalet

[2018-03-20 23:41] kevinchalet commented on #565
Updated packages are on the MyGet.org feed. Lemme know when you have a chance to try them.

[2018-03-21 01:46] kevinchalet commented on #521
More benchmarks:

## OpenIddictApplicationStore.FindByClientIdAsync() with in-memory database

[code]
|                               Method |      Mean |     Error |    StdDev | Scaled |  Gen 0 | Allocated |
|------------------------------------- |----------:|----------:|----------:|-------:|-------:|----------:|
|    FindByClientIdAsync_CompiledQuery |  11.29 us | 0.1013 us | 0.0898 us |   0.11

[2018-03-21 05:39] luboid commented on #574
Thanks

[2018-03-21 05:39] #574 closed, assigned to nobody

[2018-03-21 17:11] #521 closed, assigned to kevinchalet

[2018-03-22 00:37] replaysMike opened #577 "Configuring ASP.Net core 2.1 using JWT bearer tokens"
Hello all,

I'm having a lot of trouble trying to configure OpenIddict to use JWT tokens for authorization. I've spent a lot of time searching, read the docs, and have reviewed this post: [#485](https://github.com/openiddict/openiddict-core/issues/485) with no luck solving the issue.

I have no issues generating tokens, but when I go to use them on my `[Authorize(AuthenticationSchemes = JwtBearerD

[2018-03-22 00:46] kevinchalet commented on #577
Hey,

Anything interesting in the resource server logs? The root cause should be indicated somewhere.

[2018-03-22 01:21] replaysMike commented on #577
Quick response! I just found the root cause, it was not the aspnet configuration at all, it was in how I was passing the bearer token. I probably misread it somewhere in all my document hunting. Hopefully this helps others, drove me nuts for about 4 hours!

I was doing:
[code]

when I should have been doing:
[code]
(note the token must be prepended with the word Bearer+[space]). Was testing using

[2018-03-22 01:23] #577 closed, assigned to nobody

[2018-03-22 01:25] kevinchalet commented on #577
@replaysMike nice catch! :+1:

Thanks for sharing your answer.

[2018-03-22 05:27] replaysMike opened #578 "Possible to disable Identity cookies when using JWT tokens?"
Is it currently possible with .net core 2.1 to disable cookies completely?

I have JWT setup but noticed the calls to /connect/token and subsequent controllers all still return Identity cookies named `.AspNetCore.Identity.Application`. I'd love to be able to turn these off completely, haven't come across a way to do it yet.

[2018-03-22 20:19] kevinchalet commented on #578
I believe it's now possible in 2.1 but I haven't tried it and I have no idea what the syntax is.

Since this is mainly an Identity question, I'll let @HaoK point you to the right direction.

It's definitely not the expected behavior (and it's particularly unsafe, as it's essentially a session fixation flaw). Are you using `PasswordSignInAsync()` instead of `CheckPasswordSignInAsync()`?

[2018-03-22 20:21] kevinchalet commented on #578
@HaoK feel free to move this discussion to the Identity repo if you think it's a better place.

[2018-03-22 20:24] HaoK commented on #578
It should be possible even in 2.0, if you stop using SignInManager and use AddIdentityCore() instead of AddIdentity.  2.1 will add some extra sugar that builds on AddIdentityCore but doesn't really change anything from 2.0

[2018-03-22 20:26] kevinchalet commented on #578
I frankly doubt that's a reasonable suggestion. Validating the username/password/lockout/status without the sign-in manager is an absolute pain path.

FWIW, registering the Identity services without the cookies middleware was possible in 1.x...

[2018-03-22 20:33] HaoK commented on #578
Well this isn't an explicitly supported scenario for SignInManager as it has calls that depend on the identity cookies, but generally things should work if you steer clear of any of those... i.e. only call 'safe' operations like CheckPassword.

Its reasonable to file an issue asking for some new mechanism to use identity and some subset of sign in functionality only via UserManager...

[2018-03-22 20:38] kevinchalet commented on #578
I'll open a new thread after dinner.

I guess we can add this feature to the list of things that used to work in 1.x and that regressed in 2.0.

[2018-03-22 20:43] HaoK commented on #578
Why don't things continue to work as they did before here?  Identity didn't change much in 2.0

[2018-03-22 20:45] HaoK commented on #578
Any method that resulted in a SignIn or Authenticate in 1.x wouldn't work if the cookies didn't exist either

[2018-03-22 20:50] kevinchalet commented on #578
@HaoK things are not broken on our side: @replaysMike is looking for a way to use the Identity user validation APIs without all the cookies stuff, which makes no sense in an API app. In 1.x, you could do that by not calling `app.UseIdentity()`. In 2.x it's not possible.

[2018-03-22 21:15] HaoK commented on #578
Sure you can, call AddIdentityCore which doesn't add any auth stuff, Add sign in manager explicitly if its being used, that's equivalent to how things were in 1.x more or less.

[2018-03-22 21:17] HaoK commented on #578
Identity was pretty much unchanged from 1.x to 2.0, other than how you configure the cookie options which isn't an issue here.

[2018-03-22 21:24] kevinchalet commented on #578
So the final syntax is something like that?

[code]

If it is the right approach, that would be worth documenting it somewhere. That's not the first time I hear that question.

In 2.0, `app.UseIdentity()` is no longer a thing. To support the same scenario, removing a single line is no longer possible: you now have to go lower-level and manually add back the sign-in and role managers. It's not supe

[2018-03-22 21:34] kevinchalet commented on #578
This topic seems to confirm that's really a common scenario: https://github.com/aspnet/Identity/issues/1376.

[2018-03-22 22:10] HaoK commented on #578
There's no doubt that people keep trying to do this, which is why we added the AddIdentityCore overload, but SignInManager is still designed to work with cookies in general, only some of the methods work (and by accident as opposed by intent).  Hence there won't be official documentation support for identity + JWT in general since only some thing work right now...

[2018-03-22 22:13] kevinchalet commented on #578
So you've added an overload to support a scenario you don't recommend and that only works by accident? Okay...

Thanks for the info.

[2018-03-22 22:18] HaoK commented on #578
The supported scenario is to let you use identity services without auth/cookies, not to enable JWT + SignInManager scenarios.  If users can get things to 'work' via mixing and matching some auth services and core identity, that's fine, but that's why you won't see documentation or samples

[2018-03-22 22:34] kevinchalet commented on #578
Where did you see it was "JWT + SignInManager"? It's `SignInManager.CheckPasswordSignInAsync` without any of the cookie stuff. It has nothing to do with JWT. You'd have exactly the same problem if you only wanted to validate a username/password couple in a console app.

Yeah, it's much better to let folks ask the same question again and again :sweat_smile:

[2018-03-22 22:36] HaoK commented on #578
If all you want to do is check the password, use UserMangaer.CheckPassword

[2018-03-22 22:38] kevinchalet commented on #578
Add the lockout handling + the "is allowed login status" and it's way less trivial.
You agreed to introduce `CheckPasswordSignInAsync()` in 1.1. I believe that was a good reason for that, no?

Ultimately, I think the real problem is that it was added to the wrong place.

[2018-03-22 22:41] HaoK commented on #578
Its in the right place, the problem is all the authentication logic is tied to sign in manager which is tied to cookies in general.  Which is why I asked for the issue, there's no quick and easy fix, using sign in manager without cookies is always going to be hack (it also happens to be the only thing you can do today to use things like CheckPasswordSignIn), so it will never be officially supporte

[2018-03-22 22:41] kevinchalet commented on #578
[code]

That's what we did in 1.0. Certainly more complicated than a single call to `CheckPasswordSignInAsync()`.

[2018-03-22 22:43] HaoK commented on #578
Yeah the issue is basically that some of this logic needs to live in user manager as opposed to sign in manager.  Not to use sign in manager in more places.

[2018-03-22 22:45] HaoK commented on #578
UserManager = User + store operations manipulating the user
SignInManager = UserManager + authentication + cookies

That's the way to think of things as they were designed  (from the pre core days)

[2018-03-22 22:47] kevinchalet commented on #578
That's  why I said `CheckPasswordSignInAsync` should have been added to `UserManager` instead of `SignInManager`. It was added because Brock Allen needed a way to do the same checks without returning a cookie (which is what `PasswordSignInAsync` does). Since `SignInManager` is the place where you deal with cookies, this new cookie-less API was probably not a good candidate for this class.

[2018-03-22 22:49] HaoK commented on #578
SignInManager has all the logic that deals with signin in today, I don't disagree that all this stuff needs a good refactoring, it all predates core even, and was based on Owin authentication originally...

That said, its going to be a fairly hard sell for me to get yet another auth related rewrite/refactor approved :)

[2018-03-22 22:53] kevinchalet commented on #578
That's fine. The current approach is not perfect, but it does the job and is not hyper complicated . I just wish a snippet, a comment or a link to the Identity post was added somewhere to help folks achieve what they want without asking again and again the same question :laughing:

[2018-03-23 21:04] xperiandri opened #579 "Expose collection properties as real collections on model types"
Now you have ISet properties only on descriptor.
Let's add them publicly to model type and hide current string properties privately. Then EF will set private property and we will deserialize them from JArray to a HashSet back.

[2018-03-23 21:07] xperiandri commented on #579
[code]

[code]

[code]

[2018-03-23 22:33] kevinchalet commented on #579
Is there a particular reason why you'd want to use the "stringified" properties instead of the accessor exposed by the application manager?

I'm not opposed to adopt this pattern (even if the code is a bit ugly). But we'll face an issue: our stores uses the "stringified" properties in LINQ queries. E.g: https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.Core/Stores/OpenIddictApp

[2018-03-23 22:51] replaysMike commented on #578
oh wow, I walked away for a day and this thread blew up lol. Yes, I'm building a single page app and everything will route through the api. I'm attempting to do everything completely without cookies and rely on JWT/Local storage. I did add a quick hack (completely just a temporary hack) by placing:

[code]
right before returning from the `ExchangeAsync()` controller method. It works, but obviously

[2018-03-23 23:18] xperiandri commented on #579
Ah, you now expose methods on ApplicationManager to read and validate and on ApplicationStore to also set such parameters.
Well not bad in general.

Then let's wait EF Core 2.1. It will be more useful to just set converters for this properties.
Going such a long way with methods looks not very continent, doesn't it?

[2018-03-23 23:19] xperiandri commented on #579
I just wonder how to move evaluation of such properties to DB.

[2018-03-24 18:00] kevinchalet commented on #579
OpenIddict works this way since day 1. This pattern is inspired from ASP.NET Core Identity and allows writing components that don't depend on a particular model type.

In OrchardCore, this is what allows us to create controllers that work the same way independently of the stores chosen by the user: the default YesSql stores use their own models - completely optimized for the document-oriented natu

[2018-03-24 18:17] kevinchalet commented on #579
Note: the layering should be clearer once https://github.com/openiddict/openiddict-core/pull/580 is merged.

[2018-03-26 10:02] RostV commented on #573
@PinpointTownes Okay, but if we use a JWT token, we can somehow revoke this token? We use access token (jwt) and refresh token. We want revoke both tokens

[2018-03-26 10:27] dasMulli commented on #573
the idea behind JWT is that the token is and will stay valid until the expiration time signed by the issuer.

If you use the JWT for any service that accepts it, it will validate the signature based on the information retrieved from the issuer.

You could build a blacklist on the server that you use the JWT for to make a call like „no longer accept token XYZ“. But you have to do that for all servi

[2018-03-28 11:16] ISTAnsver opened #581 "Request Claims using Scope Values"
Hi, how I can realize [this](http://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims) using OpenIddict? I try set scopes to tickets, but it doesn't work.

My code when I'm creating ticket is

[code]

OfflineAccess works fine.

Through postman I send request with next scope parameters `profile email offline_access`. When I put gotten JWT to debugger [jwt.io](https://jwt.io/) I get next dat

[2018-03-28 12:45] kevinchalet commented on #581
What preconditions I must perform? How I can get this claims?

You must add them to the ticket principal (Identity will only add the username and the role claims). E.g:

[code]

If you don't use ASP.NET Core Identity, you can take a look at these files for actual examples that show how to create arbitrary identities:
  - https://github.com/openiddict/openiddict-compliance/blob/dev/src/OpenIddict.C

[2018-03-30 16:18] andrzejmartyna commented on #119
Just a note that might helps others. I was searching for a way to customize expiration time for a token.

Found this conversation with "Instead, you can replace context.Ticket.Properties.ExpiresUtc with the expiration date you want." which made mu stuck in thinking I'm doing something wrong.

Finally I've found that it is an obsolete advice and I should instead use this:

**ticket.SetAccessTokenLi

[2018-04-01 13:11] adnan-kamili opened #582 "How to add route param to token endpoint"
I have a multi-tenant app, so need to add account slug to the url:

.EnableTokenEndpoint("/connect/{slug}/token");

It didn't work. Is this supported?

[2018-04-01 14:14] kevinchalet commented on #582
No, it's not (just like in all the middleware developed by Microsoft, that don't support "parameters" in their `PathString` options).

For scenarios that require rock-solid multi-tenancy, I recommend going with OrchardCore, which has an OpenID module (based on OpenIddict). It's still quite young, but it's constantly updated.

[2018-04-01 14:18] adnan-kamili commented on #582
@PinpointTownes I don't think we can shift now, is there any other option.

Like sending it as a query param, but the opeinddict request view model doesn't seem to support additional parameters.

This is very crucial for us, does IdentityServer4 support route params?

[2018-04-01 14:24] kevinchalet commented on #582
Using a custom parameter is definitely possible. You can access it via `(string) request["slug"]`.

[2018-04-01 14:27] adnan-kamili commented on #582
@PinpointTownes But wouldn't it be an addition to OpenId Connect, or is sending custom post param & query params fine. We support password credentials, client credentials, implicit flows

[2018-04-01 18:21] kevinchalet commented on #582
Using custom parameters is allowed by the OAuth2/OIDC specifications but beware of interoperability issues if your clients don't allow specifying custom parameters.

Using a separate/isolated OpenIddict instance per tenant (with different databases/tables and separate cryptographic keys) is almost always a better option. That's what the OrchardCore OpenID module does.

[2018-04-03 09:47] TheBoneJarmer opened #584 "Method not found: 'System.Linq.IQueryable`1<!0> OpenIddict.Core.IOpenIddictApplicationStore`1.get_Applications()'."
Hi

I just started developing on an existing project which was made by others and I just cannot make it run. I stumble on a MethodNotFound exception:

Method not found: 'System.Linq.IQueryable`1<!0> OpenIddict.Core.IOpenIddictApplicationStore`1.get_Applications()'.'

I never worked with OpenIddict before so I have no clue what causes this error. I do asume it is not something I can repair since th

[2018-04-03 12:29] kevinchalet commented on #584
Hey,

Most likely, yes. The method mentioned in the exception message was removed a while ago (and I'm not even sure it was part of a public/stable release). You'll have to update your existing project to use a supported version (at the time of writing, `2.0.0-rc2-final` is the latest stable version).

[2018-04-04 17:52] #526 closed, assigned to nobody

[2018-04-04 17:54] kevinchalet commented on #515
Automatic scopes validation and scopes permissions have both been added in RC2. Read https://openiddict.github.io/openiddict-documentation/features/application-permissions.html and http://kevinchalet.com/2018/02/19/openiddict-rc2-is-now-on-nuget-org/ for more information.

[2018-04-04 17:54] #515 closed, assigned to nobody

[2018-04-04 17:55] kevinchalet commented on #442
Take a look at the "cookies" window to ensure the cookie is correctly retrieved by Postman.

[2018-04-04 17:55] #442 closed, assigned to nobody

[2018-04-04 17:56] #479 closed, assigned to nobody

[2018-04-04 17:56] #581 closed, assigned to nobody

[2018-04-04 17:57] #462 closed, assigned to nobody

[2018-04-04 17:58] kevinchalet commented on #517
You could use JWT's events model (e.g `OnTokenValidated`) to add your own post-validation routine.

[2018-04-04 17:58] #517 closed, assigned to nobody

[2018-04-04 17:58] #485 closed, assigned to nobody

[2018-04-04 17:59] #434 closed, assigned to nobody

[2018-04-04 17:59] #540 closed, assigned to nobody

[2018-04-04 17:59] #572 closed, assigned to nobody

[2018-04-04 18:00] #498 closed, assigned to nobody

[2018-04-04 18:01] kevinchalet commented on #578
Closing, as I believe your issue should now be fixed. Let us know if you're still having problems with your config.

[2018-04-04 18:01] #578 closed, assigned to nobody

[2018-04-04 18:02] #377 closed, assigned to nobody

[2018-04-04 18:03] kevinchalet commented on #573
Closing, as I believe @dasMulli (perfectly) answered your question.

[2018-04-04 18:03] #573 closed, assigned to nobody

[2018-04-05 06:48] replaysMike opened #585 "Configuring signing key for JWT"
Hi guys.

I'm having trouble setting up a certificate for signing JWT. I don't have any issues when I use `options.AddDevelopmentSigningCertificate()`. I've scoured stack overflow and none of the samples work that reference `SymmetricSecurityKey` work, and there aren't any OpenIddict docs on this.

I've tried both using a self-signed cert as well as a SymmetricSecurityKey. If I use a self-signed c

[2018-04-05 07:48] replaysMike commented on #585
Never mind. I have no idea what feature I enabled, but out of frustration I undid all of my changes and added the certificate using `options.AddSigningCertificate(signingCert);` and everything worked fine.

I did this after seeing the tokens would not decode on jwt.io - something was causing it to generate invalid tokens but I don't know what it was.

[2018-04-05 10:06] kevinchalet commented on #585
Yo,

Maybe you forgot to call `options.UseJsonWebTokens()`? That, or you entered your signing key in a bad format on jwt.io.

[2018-04-05 10:07] kevinchalet commented on #585
That would be nice to fix that. Interested in a submitting a PR?

[2018-04-05 14:28] bradmarder opened #586 "Unable to cast OpenIddictToken to OpenIddictAuthorization"
I'm not sure what is going on here. This is using the latest packages with `guid` keys.

[code]

[2018-04-05 14:58] kevinchalet commented on #586
Thanks tor reporting this bug.

Looks like a case of caching key collision. I’ll fix it tonight.

[2018-04-05 18:56] replaysMike commented on #585
I am, and will do

[2018-04-05 18:56] #585 closed, assigned to nobody

[2018-04-05 19:17] #586 closed, assigned to kevinchalet

[2018-04-05 20:16] replaysMike opened #588 "JWT AddEncryptingKey - is it supported?"
I've tried to add an encryption key for JWT using `options.AddEncryptingKey()` as follows:

[code]

or even,

[code]
either way throws exception: `An encryption algorithm cannot be automatically inferred from the encrypting key. Consider using 'options.EncryptingCredentials.Add(EncryptingCredentials)' instead.`

I'm not sure why the EncryptingCredentials are empty when I add the key. Perhaps it's

[2018-04-05 20:35] kevinchalet commented on #588
Only symmetric keys are supported for encryption:

[code]

[code]

[2018-04-05 20:41] kevinchalet commented on #588
Note: if you don't need to interoperate with non-.NET resource servers, I'd recommend going with the default token format (based on ASP.NET Core Data Protection, that uses authenticated encryption) instead of JWT.

[2018-04-05 21:37] replaysMike commented on #588
gotcha. Since it requires a 256-bit key exactly, a working implementation would be (and I tested to confirm):

[code]

[2018-04-05 21:39] #588 closed, assigned to nobody

[2018-04-05 21:45] kevinchalet commented on #588
It seems extremely weird to create a symmetric key based on an asymmetric private key. It would be much better to generate a crypto-secure key using `RandomNumberGenerator`.

[2018-04-05 22:22] kevinchalet commented on #582
I posted more details about another option here: https://stackoverflow.com/questions/49596938/openid-connect-identifying-tenant-during-login/49682427#49682427.

[2018-04-05 22:22] #582 closed, assigned to nobody

[2018-04-07 12:07] #584 closed, assigned to nobody

[2018-04-10 14:30] IsmailHassani commented on #361
In my case i'm using Azure as backend platform which gives me a better solution.
By using Azure Functions you can create a timer based function that calls a webapi endpoint which does the actual pruning.

Step 1.
First i create a controller (name whatever you want)
[code]

Step 2.
Create an Azure Function project with a new function. I set the time at every day at 3AM. But once a week or month sho

[2018-04-10 15:07] kevinchalet commented on #361
Out of curiosity, why not merging the API endpoint and the function? It would be better from a security perspective and would have less overhead. E.g:

[code]

[2018-04-10 15:30] IsmailHassani commented on #361
Because the function isn't aware of the service like web api.
The function is a simple (serverless)  class (linked to Microsoft.NET.Sdk.Functions) without any references to asp.net backend (and service). I thought first i could use this also, but was simply not available. I agree, from security perspective it would be a better solution.
In my example i used an anonymous endpoint, but one could use

[2018-04-10 15:34] kevinchalet commented on #361
Azure Functions runs on top of .NET Core 2.0, so you should definitely be able to use OpenIddict's core APIs without having to use ASP.NET Core nor even start a server.

[2018-04-10 15:35] IsmailHassani commented on #361
Ok, that's maybe a good thing to try. ;)
The first error i encountered was regarding the Newtonsoft.Json nuget package which is not compatible with OpenIddict and the version the sdk is using.

[2018-04-23 16:14] InDieTasten opened #591 "What's the difference: openiddict vs. identityserver4"
See title.

[2018-04-24 01:18] kinosang commented on #591
see #505

[2018-04-26 16:30] gecko-8 opened #592 "JWT using custom symmetric key not validating"
Hi there,
I'm using OpenIDDict to enable jwt tokens in my ASP.NET Core 2 api application. I'm manually setting the key using AddSigningKey. When I generate a token and try to validate it (using [https://www.jsonwebtoken.io/](url) with my custom key, it's telling me the signature is invalid. My key is a BASE64 encoded 256bit string. Here's my config:
    // Register database context
    services.Ad

[2018-04-27 10:07] kevinchalet opened #593 "UX improvements in OpenIddict RC3"
In this release, we focused on reworking the OpenIddict registration APIs to offer a better user experience.

As part of this change, we split the OpenIddict services into three areas - `Core`, `Server` and `Validation` - and the `IServiceCollection` APIs have been updated to reflect that:

![image](https://user-images.githubusercontent.com/6998306/39356406-39d1872e-4a10-11e8-94a7-ee7875e17f32.png

[2018-04-27 13:15] hoangdovan commented on #593
So tired with openiddict always change like this, my project broken because of this change. Why openiddict still rc after so long time and cannot be stable with official release version?

[2018-04-27 13:21] kevinchalet commented on #593
Your comment is so aggressive I’m not even sure I want to answer it.

[2018-04-27 13:27] hoangdovan commented on #593
So sorry with this comment, I appreciate your hard work! I'm considering using openiddict in production, but there is some risk... Wish you continue your great effort! Thanks!

[2018-04-27 13:43] kevinchalet commented on #593
Well, it’s a risk you accepted, specially since you decided to use our nightly builds instead of the latest stable release (RC2 at the time of writing).

To answer your question: OpenIddict is not RTM yet because I want to make sure we have the best API design before we ship it as a non-RC package. The improvements mentioned in this thread reflect that as they are based on community feedback and r

[2018-04-27 13:52] kinosang commented on #593
@hoangdovan as @PinpointTownes  said, choose the nightly builds means you accept the risk.

Most of projects have broken changes in nightly builds. It's unusual to upgrade packages (even rc, rtm or stable version) without having a look at the release note for production environment.

[2018-04-27 13:54] hoangdovan commented on #593
Yes, I see. Thanks!

On Fri, Apr 27, 2018, 8:52 PM Chino Chang <notifications@github.com> wrote:

[2018-04-27 15:52] kevinchalet opened #594 "Introducing the OpenIddict validation handler"
Starting with RC3 [and thanks to a great contribution from @kinosang](https://github.com/openiddict/openiddict-core/pull/589), OpenIddict now has its dedicated validation handler, based on the aspnet-contrib handler (`AspNet.Security.OAuth.Validation`).

This handler supports both the default token format (opaque) and reference tokens. Like the aspnet-contrib handler, you can use it as a standalon

[2018-04-27 17:42] kevinchalet commented on #592
Hey,

I tried with jwt.io and it worked with an ASCII-encoded secret. I haven't been able to make the Stormpath site work so I suspect there's simply a bug there.

[2018-04-27 17:44] gecko-8 commented on #592
Ah, okay, I'll be able to test better once I have the Javascript client setup for it. Thanks for the quick response.

[2018-04-27 17:46] kevinchalet commented on #592
If there's a bug on our side, it's not in OpenIddict itself. https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet is the component responsible of serializing and signing our JWTs.

[2018-05-03 10:20] CiprianPorumbescu commented on #582
@PinpointTownes I've tried implementing your second example using JWT

Accessing [http://localhost:2934/fabrikam/.well-known/openid-configuration](http://localhost:2934/fabrikam/.well-known/openid-configuration) works as expected but when trying to access a resource I get the following error:

[code]

I suspect that the error comes from the fact that [http://localhost:2934/.well-known/openid-confi

[2018-05-03 11:15] kevinchalet commented on #582
Your authority/configuration metadata endpoint is wrong. If you use the ˋfabrikam` tenant, use ˋhttp://localhost:port/fabrikam` as the authority.

[2018-05-03 11:35] CiprianPorumbescu commented on #582
I'm using the same api for a multitenant environemnt so I need to be able to do auth for both `http://localhost:port/fabrikam1` and `http://localhost:port/fabrikam2`

Can I change the authority/configuration based on the current tenant?

[2018-05-03 12:45] themidnightgospel opened #597 "OpenIddictCoreExtensions.AddCore not available in latest OpenIddict.Core Nuget package"
[Getting started](https://github.com/openiddict/openiddict-core#getting-started) section provides following code to setup OpenIdDict

[code]

`OpenIddictCoreExtensions.AddCore` extension method is not present in latest [OpenIddict.Core 2.0.0-rc2-final](https://www.nuget.org/packages/OpenIddict.Core/2.0.0-rc2-final) version.

`Microsoft.Extensions.DependencyInjection.OpenIddictCoreExtensions` was c

[2018-05-03 13:17] kevinchalet commented on #582
The solution described in the SO answer consists in creating separate/isolated issuers. You can’t arbitrarily pick one and expect the JWT handler to also validate tokens issued by the other ones.

You can use a similar approach and create a custom monitor for the JWT options.

[2018-05-03 13:20] kevinchalet commented on #597
RC3 is coming soon.

For RC2, you can find the instructions here: https://github.com/openiddict/openiddict-core/blob/2.0.0-rc2/README.md

[2018-05-03 13:52] CiprianPorumbescu commented on #582
Thanks so much, it worked.

I was aware of that but unfortunately I never thought to apply the same mechanism to the JWT options. It seems so obvious now

[2018-05-03 17:27] kevinchalet commented on #582
Glad it worked :tada:

[2018-05-04 12:10] kevinchalet commented on #357
@xperiandri FYI, I'm considering revisiting that in RC3.

The idea is to let you have access to the underlying ASOS events to take control of the various OIDC operations via an "advanced" API. To add new properties to an authorization/token response, you could something like that:

[code]

Thoughts?

[2018-05-04 20:44] xperiandri commented on #357
Like I add properties to a ticket as usual but then they are moved 1 level up (from Identity Token to main payload) by this logic?

[2018-05-05 13:26] ngohungphuc opened #598 "Config timeout for jwt token"
Is there anyway to change default expires_in response. Like i want to the after token is expire after 1 min to test my promises retry feature.
Best regard.

[2018-05-05 14:28] ngohungphuc opened #599 "Refresh flow doesn't return refresh token"
Hi @PinpointTownes
I have the problem with the refresh flow. The refresh flow doesn't return refresh_token
![postman_2018-05-05_21-18-55](https://user-images.githubusercontent.com/13591213/39664267-e89f9f2a-50aa-11e8-9205-6e506c1abd41.png)

Here is my author controller
https://github.com/Awesome-CMS-Core/Awesome-CMS-Core/blob/ACC-login-redirect/src/AwesomeCMSCore/Modules/AwesomeCMSCore.Modules.Acc

[2018-05-05 14:43] #598 closed, assigned to nobody

[2018-05-05 16:23] kevinchalet commented on #599
Hey,

https://github.com/openiddict/openiddict-core/issues/462 should put you on the right track.

[2018-05-05 16:37] ngohungphuc commented on #599
So you mean that I can only have 1 refresh_token. What if token expired again ?

[2018-05-05 23:01] ngohungphuc commented on #599
ok so that mean i can store the refresh_token in my local storage and use it for multi refresh request right ?

[2018-05-05 23:20] kevinchalet commented on #599
Yes.

[2018-05-06 00:24] ngohungphuc commented on #599
Thank for your confirmation

[2018-05-06 00:24] #599 closed, assigned to nobody

[2018-05-07 17:33] Sensarg22 opened #600 "Authentication pipeline does not checking OpenIddictAuthorization status "revoked""

[2018-05-07 18:18] kevinchalet commented on #600
That's intentional. The idea is that revoking an authorization doesn't affect the associated tokens but is only a hint you can use for future authorization requests (e.g [to avoid having to re-display a consent form](https://github.com/OrchardCMS/OrchardCore/blob/dev/src/OrchardCore.Modules/OrchardCore.OpenId/Controllers/AccessController.cs#L100-L105)). To prevent the tokens associated with a revo

[2018-05-10 22:43] johnsanmiguel commented on #593
You are doing an awesome work! Keep it going!

I tried IdentityServer, but this was by far the simplest, I really like it.

Just want to ask, when are you planning to release this rc3 ? No pressure of course, thanks for your all your hard work.

[2018-05-12 14:35] kevinchalet commented on #593
Hey @johnsanmiguel!

Thanks for the kind words (glad you like it!). I don't have a precise date yet, but I'd say later this month.

Cheers.

[2018-05-15 08:59] dragouf opened #603 "signin with ticket containing scopes do not return scope in response"
I'm returning a ticket with a list of scopes when user signin with password flow :

[code]

but the json response doen't contain scope property. I obtain something like that :

`{"resource":"resource_server","token_type":"Bearer","access_token":"","expires_in":3600,"refresh_token":"","id_token":""}`

any idea why ?

[2018-05-15 11:51] kevinchalet commented on #603
To reduce the length of token responses, scopes are only returned if they differ from the requested scopes, as allowed by the specification:

https://tools.ietf.org/html/rfc6749#section-5.1

[2018-05-15 12:24] dragouf commented on #603
ok I see, and is there a way to force to return them always ?

I use a library which expect it all the time. For the moment I did that :

`ticket.SetProperty("scope#public_string", ticket.GetProperty(OAuthValidationConstants.Properties.Scopes));`

Which seems ugly to me...

[2018-05-15 13:10] kevinchalet commented on #603
Any chance you can tell us what's the library you're using?

No. As a general rule, there's usually no option to deal with non-standard clients (otherwise, we'd end up with a ton of options and the configuration API would be a complete mess to work with).

It's worth noting the snippet you suggested won't work as you expect (multi-value properties are stored as JSON, but the `scope` must be return

[2018-05-15 14:01] dragouf commented on #603
sorry about the library, it's this one : https://github.com/manfredsteyer/angular-oauth2-oidc

thanks a lot for your quick reply and nice answer.

[2018-05-15 14:05] kevinchalet commented on #603
Looks like a known issue caused by a recent change: https://github.com/manfredsteyer/angular-oauth2-oidc/issues/309

/cc @manfredsteyer

[2018-05-15 14:26] kevinchalet commented on #125
@xperiandri now that you can register your own event handlers, I'm going to remove this feature as it relies on a non-standard metadata parameter.

Here's how you'll be able to implement that yourself in RC3 in a few lines of code:

[code]

[code]

[2018-05-15 21:53] xperiandri commented on #125
Looks good! Thanks.

[2018-05-17 19:06] kevinchalet commented on #603
Closing, as I believe @manfredsteyer pushed a fixed version :tada:

[2018-05-17 19:06] #603 closed, assigned to nobody

[2018-05-20 12:47] davidtimovski opened #606 "Get call to /.well-known/jwks fails resulting in an infinite loop"
My site is hosted on Ubuntu 16.04 with nginx as a reverse proxy. This started happening to me once I started hosting my site with HTTPS and started using redirects.

My aurelia app, which uses [aurelia-open-id-connect](https://github.com/aurelia-contrib/aurelia-open-id-connect) and 2.0.0-rc2 of OpenIddict at some point makes an HTTP (not HTTPS) call to `/.well-known/jwks` which fails with blocked:

[2018-05-20 16:31] kevinchalet commented on #606
My recommendation is to avoid using `options.DisableHttpsRequirement()` (that simply consists in not rejecting HTTP requests). Instead, consider fixing your app so that the ASP.NET Core components know that the request was made using TLS, even if the communication between nginx and Kestrel was made without transport security.

Read https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/linux

[2018-05-20 18:02] davidtimovski commented on #606
Okay so I had went through that article you linked when I initially setup for nginx but didn't pay too much attention to the [Configure ASP.NET Core to work with proxy servers and load balancers](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-2.0) link.

Specifically the code in [this part](https://docs.microsoft.com/en-us/aspnet/core/host-and-depl

[2018-05-20 18:02] #606 closed, assigned to nobody

[2018-05-26 16:57] philippk80 opened #607 "[Question] Multiple openiddict instances"
Hello,

I have the requirement to have one openiddict instance on the local network as fallback and one in the cloud on the internet. Is there a way to achieve this? This means I need two instances that synchronize each other or not? I've read about a public key that is able to validate tokens two but isn't able to create some.
Is this the right path to search informations?

Thanks.

[2018-05-27 04:14] kinosang commented on #607
You should configure the data protection manually to specify a key to sign, verify, encrypt and decrypt the payload of tokens, or the tokens will be invalid when your system switch from the cloud to the fallback or vice versa.

Then you can configure the locally fallback system to use the same database of the cloud one, or create a mirror or slave.

[2018-05-27 09:22] philippk80 commented on #607
Thanks for answering.

Are you talking about configuring the data protecting asp .net core?
(Like described here: https://docs.microsoft.com/de-de/aspnet/core/security/data-protection/configuration/overview?view=aspnetcore-2.0&tabs=aspnetcore2x )

Are there any best practices to exchange that keys between the two instances or would you recommend to set the keys to a fixed value on both instances?

[2018-05-27 09:33] kinosang commented on #607
@philippk80

Yep, openiddict and the ASOS (AspNet.Security.OpenIdConnect.Server) use the ASP.NET Core Data Protection.

BTW, I chose to use a fixed key on both side, I use the Azure Key Vault, but if you does not trust it (for the SLA etc), you can create your own encrypted store (see https://andrewlock.net/creating-a-custom-iconfigurationprovider-in-asp-net-core-to-parse-yaml/).

[2018-05-27 09:52] philippk80 commented on #607
In my scenario the slave will register himself on the master at runtime. Could I implement an api to retrieve the key from the master that is only accesible with a specific claim assigned to the slave? Or would this be a bad idea for security reasons? I mean offering a key over an api sounds bad to my ears. But I would love when this replication could be automated. That would make it much more eas

[2018-05-27 12:40] kinosang commented on #607
@philippk80  Use a famous key establishment logic maybe better if you decide to offer the key over an API, but I don't know if exist algorithm are compatible with the Data Protection feature.

I've done some search for you, see https://en.wikipedia.org/wiki/Key_exchange and https://crypto.stackexchange.com/questions/5069/is-there-a-symmetric-key-cryptography-based-on-key-establishment-techniques.

[2018-05-28 12:18] philippk80 commented on #607
Again thanks for the amount of information!

So as conclusion I thought about following:

Administrator starts setup on slave with a login to the master.
So the slave has the accesstoken and is able to create a "system-user" for the slave.
With this the slave is able to retrieve a refresh token to get access tokens for auth everytime with it's own account.
With the "system-user" registering proces

[2018-05-28 12:23] kinosang commented on #607
@philippk80 use the database-level master-slave or mirror function, or something alike

[2018-05-28 12:24] philippk80 commented on #607
Then I have to expose the database over the internet. Wouldn't that be bad?
In my mindset is set that you try everytime to disallow direct access to databases.

[2018-05-28 14:09] kinosang commented on #607
@philippk80

Not at all, just use some tunnel like SSH or VPN, or config the firewall to only allow access from your site (local network).

[2018-05-28 16:43] philippk80 commented on #607
I think a SSH tunnel established by login of the login would be a good option. Thanks for helping with all that information. 👍
I will no close this issue because we're drifting into stuff that isn't related to openiddict. 😄

[2018-05-28 17:46] #607 closed, assigned to nobody

[2018-05-28 18:09] kevinchalet opened #608 "Removal of OpenIddict.Models in OpenIddict RC3"
Starting with RC3, OpenIddict will no longer come with a default set of entities and stores base classes.

# Why?

In the previous iterations of OpenIddict, an important effort was made to create a shared set of entities (contained in the `OpenIddict.Models` package) that could be used not only by the official Entity Framework 6.x and Entity Framework Core stores, but also by third-party/custom st

[2018-05-28 18:24] kevinchalet opened #610 "Introduction of MongoDB stores in OpenIddict RC3"
Starting with RC3, OpenIddict will officially support MongoDB, one of the most popular NoSQL/document-oriented databases.

To configure OpenIddict to use MongoDB, reference the `OpenIddict.MongoDb` package and call the `options.UseMongoDb()` extension:

[code]

By default, the MongoDB stores will resolve the `IMongoDatabase` service from the DI container so you'll have to register it using the usu

[2018-05-28 20:41] edslas commented on #343
Bhail, I'm facing the same issue, with openidict for json api, unauthorized access to webapi does not redirect to login page. Did you ever solve this?

[2018-05-29 03:26] kinosang commented on #343
@edslas APIs are stateless, they don't do redirect.

[2018-05-29 10:21] kevinchalet commented on #328
OpenIddict RC3 now officially supports MongoDB. You can read the announcement here: https://github.com/openiddict/openiddict-core/issues/610.

[2018-05-29 13:45] DBhail commented on #343
@edslas yes...kinduve. I looked at the problem from another angle. Remember with token authentication you have you have a detachment of concerns i.e. a frontend and a backend (API).
The frontend in my case was Angular 4. All I needed to do was check the HTP status code returned.
400 is when it can't authenticate which actually would be right from a security perspective as you wouldn't want the API

[2018-05-29 18:28] kevinchalet commented on #610
Note: unlike the other OpenIddict packages, the MongoDB models and stores packages won't be strong-named because the MongoDB C# driver itself is not strong-named.

[2018-05-29 19:12] daveyjay commented on #608
Just wondering when will the samples be updated to reflect this change?

I am having some trouble migration from rc2 - when calling services.AddOpenIddict, where do I put the additional calls to methods such as  AddMvcBinders, RegisterScopes, SetAccessTokenLifetime etc.?

These methods are not available on the options object inside the the AddOpenIddict method or the AddCore method.

For example,

[2018-05-29 19:16] kevinchalet commented on #608
@daveyjay the samples will be updated as soon as RC3 is on NuGet.org.

Don't miss https://github.com/openiddict/openiddict-core/issues/593, it includes all the details you need to migrate to the new builders APIs.

[2018-05-29 19:22] kevinchalet commented on #608
Note that the samples hosted in this repository target RC3: https://github.com/openiddict/openiddict-core/blob/dev/samples/Mvc.Server/Startup.cs

[2018-05-30 19:56] daveyjay commented on #608
Thank you! I had missed #593 and the sample code helped as well.  I was able to get everything to work.  (I'm using the implicit flow and JWTs).  I will check back to see the updated sample code for implicit flow when it is available later.

FYI - one difference I noted  in the sample code as compared with #593 is that the line:
`options.AddMvcBinders();`
is now changed to:
`options.UseMvc();`

[2018-05-30 22:49] sethen commented on #608
@PinpointTownes What do you make of this error?  This is happening on `dotnet run` after a successful build:

[code]

My code looks pretty identical to the example you've shared as well.

[2018-05-30 22:52] kevinchalet commented on #608
@daveyjay nice catch. I'll update https://github.com/openiddict/openiddict-core/issues/593.

@sethen did you forget to call `services.AddOpenIddict().AddCore()`?

[2018-05-30 23:01] sethen commented on #608
@PinpointTownes That certainly got me closer because I wasn't calling it.  After adding that bit of code that you suggested and running I am getting another error that reads like this:

[code]

Is there some option I am missing?

[2018-05-30 23:28] kevinchalet commented on #608
Are you migrating from an old OpenIddict version (e.g RC1?). If so, you'll have to update your DB schema. Read https://openiddict.github.io/openiddict-documentation/guide/migration.html for more information.

[2018-05-30 23:28] sethen commented on #608
Ohhhhh, yeah I am.  Thanks.

[2018-05-31 19:12] sethen commented on #608
@PinpointTownes All I did was make the migrations, run the migrations and all is well -- there are additional steps... are these necessary?  It looks like everything is working properly without them.

[2018-06-01 00:55] BenHayat commented on #577
I just read your post and I was going to say you found out.

[2018-06-01 07:14] kevinchalet commented on #608
@sethen you should run the migration script to convert existing DB entries to the new denormalized JSON model. If you don't do that, you may see exceptions at runtime.

[2018-06-01 09:35] 1619digital opened #614 "UseOpenIdDict<TKey> vs ReplaceDefaultEntities<TKey>"
I'm wondering whether there's a certain redundancy here in defining the key type for the OpenIddict entities? Seems it has to be set in both places.

For the former the comments say

... (which is quite clear) but that seems to be what the second method is doing to? Thanks.

[2018-06-01 09:48] kevinchalet commented on #614
We can call that redundancy (which is mostly [due to historial reasons](https://github.com/aspnet/EntityFrameworkCore/issues/7185)), but it's worth mentioning the 2 methods actually configure 2 different things:
  - The EF Core `options.UseOpenIddict<TKey>()` registers the OpenIddict EF Core models in the `DbContext` using the specified key type.

  - `options.UseEntityFrameworkCore().ReplaceDefau

[2018-06-01 10:28] 1619digital commented on #614
Ok many thanks. Just thought I'd draw attention to it - it caught me out because I was thinking "I've already set this". Most importantly, when all set properly, everything's functioning as expected.

Feel free to close.

[2018-06-03 13:24] #591 closed, assigned to nobody

[2018-06-03 13:24] #592 closed, assigned to nobody

[2018-06-03 13:24] #579 closed, assigned to nobody

[2018-06-10 09:19] xperiandri opened #617 "How to replace deault interface for stores and managers to custom?"
My client MVC app needs display names
[code]

So I implemented such method on Store
[code]

And need to pass that through manager and access it in a controller.
Is there a better way than?
[code]

[2018-06-11 08:32] Myrmex opened #618 "OpenIdDict with MySql throws key too long on seeding db"
Hello, I'm trying to use OpenIdDict with MySql instead of SQLServer, but this seems to throw because of the database model.

I have created a full repro sample (which also works as an example for using this library in a password flow scenario) at <https://github.com/Myrmex/oid-credentials/tree/master/OidCredentials>. This code uses MySql, but you can easily change it to reproduce this error, as fo

[2018-06-11 10:39] kevinchalet commented on #618
2 of my clients have OpenIddict 2.0 RC2 instances targeting MySQL (used in production) and they both work flawlessly. They both use Pomelo, as the official driver was too buggy when they started deploying their apps.

We had an issue with timestamp fields in RC1 - used as concurrency checks - but they were replaced by simpler strings in RC2: https://github.com/openiddict/openiddict-core/issues/497

[2018-06-11 11:42] #600 closed, assigned to kevinchalet

[2018-06-11 13:19] kevinchalet commented on #618
I've tried with the OI MVC sample and with your app and I haven't been able to reproduce your issue with Pomelo.EntityFrameworkCore.MySql 2.0.1.

[2018-06-11 16:51] Myrmex commented on #618
What a quick reply! So I'll have to switch to Pomelo, hoping that this does not break anything else :). Thanks!

[2018-06-11 16:51] #618 closed, assigned to nobody

[2018-06-13 09:41] Myrmex commented on #328
This looks awesome, does anybody have a code sample for using this?

[2018-06-13 11:26] kevinchalet commented on #617
The most recent OpenIddict bits will also register `TenantApplicationManager` for you so you could directly inject it in your constructor.

You can do something similar using the regular DI extensions:

[code]

(that's also what ASP.NET Core Identity does internally)

[2018-06-13 11:26] #614 closed, assigned to nobody

[2018-06-13 11:30] kevinchalet commented on #328
@Myrmex there's no sample yet, but the change is really trivial, as indicated in https://github.com/openiddict/openiddict-core/issues/610:

  - Reference `OpenIddict.MongoDb` and remove the `OpenIddict.EntityFrameworkCore` dependency.

  - Remove `options.UseEntityFrameworkCore()` and use `options.UseMongoDb()` instead:

[code]

  - Replace the `OpenIddict.EntityFrameworkCore.Models` usings by `Op

[2018-06-13 11:32] xperiandri commented on #617
Thanks!

[2018-06-13 11:32] #617 closed, assigned to nobody

[2018-06-13 12:00] Myrmex commented on #328
Thanks, but I'm missing something obvious here in my configuration. If you start from this dummy sample: <https://github.com/Myrmex/oid-credentials>, and do the following:

1.add `OpenIddict.MongoDb` and remove `OpenIddict.EntityFrameworkCore`.
2.remove `Models/ApplicationDbContext`.
3.remove the seed service (will have to be refactored for MongoDB) from `Services/DatabaseInitializer` and delete i

[2018-06-13 12:13] kevinchalet commented on #328
As you figured out, this is an exception thrown by the DI stack and that indicates that Identity was unable to find a user store: it has nothing to do with OpenIddict.

If you want to use Identity with MongoDB, you'll have to use a package developed by the community, like https://github.com/alexandre-spieser/AspNetCore.Identity.MongoDbCore or https://github.com/tugberkugurlu/AspNetCore.Identity.Mo

[2018-06-13 21:46] xperiandri commented on #593
I like all the changes except `ReplaceDefaultEntities`.
They look extremely useful.

[2018-06-13 22:09] xperiandri commented on #479
I thought about this scenarios and came to a conclusion that the simplest way is to open a new window and start implicit flow there. When redirect URI matches your specific URI you get tokens from that window and close it.
This way you don't close SPA and preserve security.

Using [this](https://github.com/openiddict/openiddict-core/issues/479#issuecomment-343681349) suggestion you will have an in

[2018-06-14 07:08] Myrmex commented on #328
Thanks, I created a MongoDB version of my dummy API sample at <https://github.com/Myrmex/oid-credentials-mongo>.

[2018-06-14 13:53] kevinchalet opened #621 "Enabling scope validation and anonymous clients rejection by default in OpenIddict RC3"
Starting with RC3, OpenIddict will now enforce scope validation and reject token and revocation requests that don't specify a `client_id`.
In RC2, these checks were opt-in (enabled via `options.EnableScopeValidation()` and `options.RequireClientIdentification()`) ; in RC3, they are now opt-out.

# How do I react to this change?

If, after migrating to RC3, you see errors similar to these ones:

Si

[2018-06-14 13:55] kevinchalet opened #622 "Revamping application permissions in OpenIddict RC3"
In RC2, we introduced application permissions. To make the migration from RC1 to RC2 smoother, application permissions were mostly optional and OpenIddict had a fallback mechanism called "implicit permissions" it used to determine whether an application could perform the requested action. For instance, if no permission was explicitly attached to the application, it was considered fully trusted and

[2018-06-14 15:41] agiletuan commented on #577
Thank you and please help me!
My error:

      The token request validation process was partially skipped because the 'client_id' parameter was missing or empty.

[2018-06-14 15:45] kevinchalet commented on #577
It's not an error but an information (as indicated by the log level). If you have an issue, it's not caused by that. Please open a new thread and post your entire logs.

If you use the latest RC3 bits, don't miss https://github.com/openiddict/openiddict-core/issues/621

[2018-06-15 04:00] agiletuan commented on #577
@PinpointTownes   Thank you so much!

[2018-06-15 09:55] xperiandri commented on #527
It's better not to do this yourself. Do you know how to check token signature or hash?

[2018-06-19 14:20] kevinchalet commented on #597
OpenIddict RC3 is on NuGet.org.

You can read the announcement here: https://twitter.com/PinpointTownes/status/1009078430602850304.

[2018-06-19 14:20] #597 closed, assigned to nobody

[2018-06-19 19:15] gecko-8 opened #624 "Scheme already exists: Bearer error"
Hi there,
I just updated my code to use OpenIddict 2.0.0-rc3 using the code from the samples. When I start the server, I'm receiving the error "Scheme already exists: Bearer". As you can see in my code below, it's virtually identical to the RefreshFlow sample and uses Jwt tokens. Any idea why I'm getting this error? I believe the issue is in the JWT settings as when I comment it back out the serve

[2018-06-19 19:19] gecko-8 commented on #624
Nevermind, it was the .AddValidation line. I missed reading the comments for it. Closing ticket.

[2018-06-19 19:19] #624 closed, assigned to nobody

[2018-06-19 21:17] gecko-8 opened #625 "403 Error on endpoints that use role-based authorization"
Hi there,
I recently updated my app to 2.0.0-rc3 and have been trying to get everything working again. I think I'm almost there but I'm getting 403 errors on any endpoint that authorizes using roles. E.g.
[code]
I followed the instructions in your ticket here: [https://github.com/openiddict/openiddict-core/issues/621](https://github.com/openiddict/openiddict-core/issues/621).

Here's my Startup.cs

[2018-06-19 21:21] kevinchalet commented on #625
Hey,

`options.ClaimsIdentity.RoleClaimType = OpenIddictConstants.Claims.Roles` (roles) vs `RoleClaimType = OpenIdConnectConstants.Claims.Role` (role) is certainly the root cause of your issue.

[2018-06-19 21:28] gecko-8 commented on #625
Yep, that was it! I could have sworn I copied that right from your code but I guess not. Oh well, thanks for the incredibly quick response!

[2018-06-19 21:28] #625 closed, assigned to nobody

[2018-06-20 15:18] adnan-kamili commented on #557
@PinpointTownes

Hi in the rc3 the code fails to compile. I managed to update but got stuck in two places:

[code]
does not compile. Tried following but no luck:

[code]

Also `OpenIddictConstants` is no more recognized.

[2018-06-20 15:21] kevinchalet commented on #557
Hey.

The next syntax is demonstrated here: https://kevinchalet.com/2018/06/20/openiddict-rc3-is-out/

[2018-06-20 15:21] kevinchalet commented on #557
It's in `OpenIddict.Abstractions` now.

[2018-06-20 21:12] steve-79 opened #626 "The specified application type is not compatible with the Entity Framework Core stores."
I keep receiving this error -

And for the life of me I cannot figure out how to fix this.  I'm using this template https://github.com/herbat73/GenVue which appeared to be using outdated nuget packages, and I followed your upgrade instructions as best I could without any luck :(

I would really appreciate any advice you may have - and thank you very much for this amazing package!

(The code below

[2018-06-20 21:32] steve-79 commented on #626
Wow....after trying to figure out the issue for the past 10 hours, it was as simple as I had the wrong using reference at the top of my Startup.cs class.  Instead of using OpenIddict.Models, it must be using OpenIddict.EntityFrameworkCore.Models, additionally this requires the OpenIddict.EntityFrameworkCore.Models Nuget package and removing if you already have the OpenIddict.Models package.

Hopef

[2018-06-20 21:32] #626 closed, assigned to nobody

[2018-06-21 12:01] kevinchalet commented on #626
Thanks for the kind words :smile:

The deprecation of the `OpenIddict.Models` package was explained here: https://github.com/openiddict/openiddict-core/issues/608.

I'll update my blog post to mention the fact you must remove any reference to this package.

Note: you don't need to explicitly reference the `OpenIddict.EntityFrameworkCore.Models` NuGet package. It's already referenced by the `OpenId

[2018-06-21 13:52] muehan opened #628 "Unable to obtain configuration from: '/.well-known/openid-configuration' when hosted on IIS"
Hi

I use Version:
OpenIddict 2.0.0-rc2-final
OpenIddict.EntityFrameworkCore 2.0.0-rc2-final
OpenIddict.Mvc 2.0.0-rc2-final

with the folowing configuration:

[code]

OpenIddict is included in my API, also my SpaClient runs inside this single Application.
If I run this in my Visual Studio with IISExpress everything works fine.
But on my Test Server I have this error:

I tried diffrent configuratio

[2018-06-21 14:25] #528 closed, assigned to nobody

[2018-06-21 14:28] kevinchalet commented on #628
Hi,

The exception seems very clear to me: `options.MetadataAddress = "/.well-known/openid-configuration"` is not valid and should be an absolute URL, like `options.MetadataAddress = "http://localhost:[port]/.well-known/openid-configuration"`.

Usually, it's better not to set this property and simply set `options.Authority` with the absolute URL of your authorization server, without the `/.well-kn

[2018-06-22 05:57] muehan commented on #628
Thanks for the response.
config:
[code]
New Error:

The configuration endpoint is working:
[code]

The certificate I'm using is valid, I reused the one from the windows store as PFX:
![image](https://user-images.githubusercontent.com/1043865/41760045-da92f47e-75f1-11e8-8833-0d22f2bd1857.png)

[2018-06-22 05:58] muehan commented on #628
And all that is working on my local machine without any problem

[2018-06-22 06:42] muehan commented on #628
sorry, wrong button

[2018-06-22 07:13] muehan commented on #628
I added the PFX to the store and now the inner exception disappeard:

[code]

less information, some problem...

[2018-06-22 09:34] muehan commented on #628
i just deployed the application to the IIS on my win7 dev machine and its working there as well.
why is the server not happy with the certificate which works fine on my machine?

[2018-06-22 09:50] LunicLynx opened #629 "Full release"
Not to be picky. But why are there only pre releases?

From what i gather, you could already make a 2.0.0 release and instead of RC2,3,4 make patch releases?

Am I missing something?
Or are you suggesting to **not** use your library in production environment?

[2018-06-22 10:01] kinosang commented on #629
Features and APIs are still not stable, I think it's why there's no release published.

[2018-06-22 11:30] kevinchalet commented on #628
No idea. It's clearly not an OpenIddict issue so I suggest pinging the ASP.NET folks if you need assistance with TLS or with how to register your TLS certificate: https://github.com/aspnet/Home

[2018-06-22 11:32] kevinchalet commented on #629
OpenIddict strictly follows SemVer. If we wanted to introduce API changes in a released version, we'd have to release new major versions every time. Would having an OpenIddict `4.0.0` version be better than `2.0.0-rc3`? I don't think so.

That said, I mentioned it in my blog post: it's the last RC version: RTM is the next step.

[2018-06-22 11:41] muehan commented on #628
I now tried to load the certificate directly from the store:

`options.AddSigningCertificate(configuration["JwtConfiguration:thumbprint"]?.ToString(), StoreName.My, StoreLocation.LocalMachine);`

I tested several different certificates which all are valid and working for SSL.
So I don't think this is a certificate problem if none of them work.
I guess there is something wrong on the server or iis

[2018-06-22 11:44] kevinchalet commented on #628
It really has nothing to do with the signing certificate (only used by OpenIddict to... sign tokens).

It's a transport security issue: for some reasons, your TLS certificate - used to encrypt the HTTP/TCP communications - is not considered valid by your system. It's not an OpenIddict problem.

[2018-06-22 12:08] muehan commented on #628
Ok, maybe the problem ist that on the server we have dotnet 4.6.1 and the solution target is net47...

sadly I have to wait until beginning of next week until infrastructure team has installed the new version on the test server... I'm not allowed to do that :-(

so then I close this issue and if I somehow find a fix I add the info here.
many thanks for you help and also thanks for the library!

[2018-06-22 12:08] #628 closed, assigned to nobody

[2018-06-22 16:06] LunicLynx commented on #629
I see. Thanks for the info

- closed

[2018-06-22 16:06] #629 closed, assigned to nobody

[2018-06-26 20:46] davidtimovski opened #630 "Any way to change the default /Account/Login login path?"
When configuring cookie authentication it's usually done by setting the `options.Cookies.ApplicationCookie.LoginPath` property of the IdentityOptions argument. Not sure how to do it in OpenIddict though.

[2018-06-26 23:15] kevinchalet commented on #630
This endpoint is not managed by OpenIddict, it's purely a cookie handler/Identity thing.

To change it, use `services.ConfigureApplicationCookie()`.

[2018-06-26 23:15] #630 closed, assigned to nobody

[2018-06-27 08:12] muehan commented on #628
.net Version was not the problem.
Our Admin installed the intermediate certificate in the personal store and wasted 2 weeks of my live... probably more.
The certificate looked corrected if you open it in the certificate manager. the problem is only visible if you open the page with IE on the server (clients all have the certificate correctly installed). Who does open a angular page in IE on the se

[2018-06-27 19:35] xperiandri opened #631 "Application store must not require OpenIddict application to be nonabstract and has parameterless constructor"
You can apply this constraint to generic Descriptor and get the type from it.

Current implementation breaks my scenario where I want to have `WebApplication` and `ExternalApplication` classes derived from `abstract TenantApplication: OpenIddictApplication<Guid>`.
 Where WebApplicaton is used for in-house MVC app and ExternalApplication for third-party apps.

[2018-06-27 20:26] kevinchalet commented on #631
We can't do that because of https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictApplicationStore.cs#L712-L721.

It's not clear why you have 2 separate entities for representing the application but what prevents you from making your store generic?

[2018-06-28 11:17] xperiandri commented on #631
Do you mean register generic store without type parameter and then resolve it with type parameter?

[2018-06-28 11:17] kevinchalet commented on #631
Yup.

[2018-06-28 11:23] xperiandri commented on #631
Remove that method at all
Then [here](https://github.com/openiddict/openiddict-core/blob/e9c796ca37cb6970afceb4fb08b5321a783236a2/src/OpenIddict.Core/Managers/OpenIddictApplicationManager.cs#L164) you will do

[code]

[2018-06-28 11:26] kevinchalet commented on #631
It's not a good option. `OpenIddictApplicationDescriptor` should be non-generic to work with the non-generic `IOpenIddictApplicationManager` interface.

I can't see why you couldn't achieve a similar result at the store level by making your custom stores generic. You can even write your own `IOpenIddictApplicationStoreResolver` if the logic used to resolve your generic store is a bit complex.

[2018-06-28 11:27] xperiandri opened #632 "Why "resource" claim is resolved to array OpenIdConnectRequest.Resources?"
I used it as JSON object previously
Standard does not state that it will be an array.

[2018-06-28 11:28] kevinchalet commented on #632
Read https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/505.

[2018-06-28 11:28] #632 closed, assigned to nobody

[2018-06-28 12:04] kevinchalet commented on #631
If having a `new` constraint is really blocking, I'm not opposed to removing it and replacing it by an expression-tree-based/activator-based approach that would differ the check at runtime: it would only throw an exception if you tried to use `CreateAsync(OpenIddictApplicationDescriptor)`.

[2018-06-28 13:47] xperiandri commented on #631
The issue is that with constraint I will never be able to get all apllications at once. Becuase non abstract entity class must have discriminator in EF Core.
And I obligated to do this

[code]

instead of

[code]

[2018-06-28 14:43] xperiandri opened #633 "Why not make ConcurrenyToken generic?"
If it is a GUID, then I would better use UNIQUEIDENTIFIER column for it in database

Then it will have default stringified GUID in string representation only.

[2018-06-28 14:47] kevinchalet commented on #633
Because we'd need another generic parameter in the entities and in the stores definitions. I really don't think it's worth the added complexity. If you don't like the `ConcurrencyToken` - that is exactly the same as the method used in ASP.NET Core Identity - ignore it in the EF Core context and use your own property/column.

[2018-06-29 18:15] kevinchalet commented on #631
Are you interested in submitting a PR removing the `new()` constraints from the stores? Replacing them by `Activator.CreateInstance` should be enough (and shouldn't hurt perf' too much as we'd use default constructors).

[2018-06-30 01:32] xperiandri commented on #633
Then make it as shadow property.
Do you need it explicitly?

[2018-06-30 10:53] kevinchalet commented on #633
We could certainly move to a shadow property but it would be way more painful to set it and declare it as a concurrency check property using the EF Core model builder. I don't see a good reason to make this change.

FWIW, ASP.NET Core Identity has the same property in all their models. Have you contacted them to remove this property? :trollface:

[2018-06-30 10:53] #633 closed, assigned to nobody

[2018-06-30 14:45] xperiandri commented on #633
Agree. They introduced this ugly workaround

[2018-06-30 14:46] xperiandri commented on #631
OK, I will do that

[2018-07-02 12:39] devpedrofranco opened #635 "After update how to use UseDefaultModels()"
I have update my OpenIddict-Core from 2.0.0-rc3-0883 to 2.0.0-rtm-1034 now i'm getting the options.UseDEfaultModels() don't exists anymore.

How do i pass this option in new version ?

Thanks.

[2018-07-02 12:43] kevinchalet commented on #635
This extension was removed and is not part of the latest release (`2.0.0-rc3-final`). For more information, you can read https://github.com/openiddict/openiddict-core/issues/608 and https://kevinchalet.com/2018/06/20/openiddict-rc3-is-out/.

[2018-07-02 13:32] devpedrofranco commented on #635
Thanks @PinpointTownes

Where i can see the new model?

Cause my application use reverse migration so i have to create this on hand.

[2018-07-02 14:15] kevinchalet commented on #635
The new models (for EF Core) are here: https://github.com/openiddict/openiddict-core/tree/dev/src/OpenIddict.EntityFrameworkCore.Models

There's no difference between them and the models used in RC2. No schema/database change should be required.

[2018-07-02 17:30] devpedrofranco commented on #635
After the update i'm gotting the follow error, i was think that is because the model, but u sayed that no difference, could u take a look @PinpointTownes  ?

![image](https://user-images.githubusercontent.com/10779853/42177753-50e8b3a6-7e04-11e8-8e76-55240a21e700.png)

This is what i have changed in my Startup:

![image](https://user-images.githubusercontent.com/10779853/42220469-68461bc8-7ea5-11e

[2018-07-02 17:33] kevinchalet commented on #635
It has nothing to do with the EF model itself. It's a functional change regarding app permissions, which is explained in the blog post I mentioned :smile:

[2018-07-03 06:00] ArcadeRenegade opened #636 "Cannot move OpenIddict entities to custom schema after new version"
Hi, I have been putting the OpenIddict entities in their own "OpenIddict" schema in my database. It has worked fine until the latest version.

Right now, it is creating the tables in the "OpenIddict" schema like I want it to, but it is also creating the default schema (public as I'm using PGSQL) as well.

Any suggestions? I'm sure I'm just missing something in my Startup.cs.

Thanks!

![image](htt

[2018-07-03 11:43] kevinchalet commented on #636
Hey Ryan,

Any chance you could share the usings you have in `AppDbContext`? I want to make sure you're using the good models there.

[2018-07-03 13:44] devpedrofranco commented on #635
The problem is ocurring by the field Permissons, In other versions I believe it was not being validated.
I just update this field and put to be generate when the OpenIddictApplications register is created.

update OpenIddictApplications
SET [Permissions] = '["ept:token","gt:client_credentials"]'

[2018-07-03 13:44] #635 closed, assigned to nobody

[2018-07-04 00:31] ArcadeRenegade commented on #636
Hi @PinpointTownes ! It is using using the models from OpenIddict.Models.

`using OpenIddict.Models;`

[2018-07-04 00:43] kevinchalet commented on #636
This package was deprecated in RC3. You can read the announcement here: https://github.com/openiddict/openiddict-core/issues/608

[2018-07-04 00:54] ArcadeRenegade commented on #636
Sorry, I missed that announcement. I removed the deprecated package and updated my DbContext OnModelCreating to use the models from OpenIddict.EntityFrameworkCore.Models instead.

Works as expected now. Thanks for your help. OpenIddict has been very useful!

[2018-07-04 00:54] #636 closed, assigned to nobody

[2018-07-04 01:03] kevinchalet commented on #636
ICYMI, I wrote a blog post about RC3 that recaps the changes introduced in this version: https://kevinchalet.com/2018/06/20/openiddict-rc3-is-out/

[2018-07-04 01:08] ArcadeRenegade commented on #636
I'll take a look. Thanks!

[2018-07-04 01:12] ArcadeRenegade commented on #636
Quick question, how do I allow only clients granted a custom scope to access a specific API controller or method ?

[2018-07-04 01:15] kevinchalet commented on #636
Grant the client a `scp:[custom scope]` permission. E.g `scp:marketing_api`.

[2018-07-04 01:15] kevinchalet commented on #636
Note: you can use the `OpenIddictConstants.Permissions.Prefixes.Scope` constant.

[2018-07-04 01:16] ArcadeRenegade commented on #636
Cool, and is there an attribute I can decorate my controller or method with so that only that scope can use it?

[2018-07-04 01:19] ArcadeRenegade commented on #636
Sorry I'm still learning all the aspects of oauth, even after developing with it for 2 years 😀

[2018-07-04 01:22] kevinchalet commented on #636
You can use the ASP.NET Core authorization policy builder: `policy.RequireClaim(OAuthValidationConstants.Claims.Scope, "marketing_api")`.

[2018-07-04 01:26] ArcadeRenegade commented on #636
Thanks, I'll do that.

[2018-07-05 12:41] felipecruz91 commented on #398
Same issue here

[2018-07-05 12:48] kevinchalet commented on #398
@felipecruz91 you're most likely referencing both 1.x and 2.x ASP.NET Core packages, which causes an incompatibility.

[2018-07-05 14:08] kevinchalet commented on #631
@xperiandri if you want that in RTM, we'll need to make the change in the next few days so we have enough time to test it.

[2018-07-08 01:22] cloudstr21 opened #640 "Cross-Origin Request Blocked"
Hi there...

I am using openiddict with password flow.
I recently updated my app to RC3, and have been trying anything, but nothing succeeds.
I using a different port for backend (1111) and frontend (2222), both running local and work well when using RC2 version.

and this is my error.
`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:7

[2018-07-08 01:30] kevinchalet commented on #640
Hi,

The error clearly indicates it's a CORS issue. Try to move `app.UseCors()` before `app.UseAuthentication()`.

[2018-07-08 10:04] cloudstr21 commented on #640
OMG... Thank you so much @PinpointTownes , you saved my day 👍
and thank you for super fast response.

[2018-07-08 10:04] #640 closed, assigned to nobody

[2018-07-10 12:02] kamleshdelat opened #641 "how to invalidate all jwt token?"

[2018-07-10 12:58] kevinchalet commented on #641
https://github.com/openiddict/openiddict-core/issues/573.

[2018-07-10 12:58] #641 closed, assigned to nobody

[2018-07-13 21:01] antonsacz opened #642 "How to sign out some certain user"
Hello,

in the system, I'm currently working on an admin could mark user account as "Disabled", is there any way to force logout process for this user immediately (probably invalidate all issued tokens)?

Thanks,
Anton

[2018-07-16 10:20] #631 closed, assigned to nobody

[2018-07-16 10:35] kevinchalet commented on #631
Note: I backported this PR to OpenIddict 1.x so you can support the same scenarios in 1.x.

[2018-07-16 10:54] kevinchalet commented on #642
Hey,

To revoke all the tokens associated with a specific subject (i.e user) **that are stored in the database**, you can do something like that:

[code]

It's worth noting it will only work with authorization codes or refresh tokens OOTB: by default, tokens are not stored in the database and thus can't be revoked. If you need support for immediate revocation, you'll have to use reference tokens (

[2018-07-16 15:27] xperiandri opened #643 "NullReferenceException in OpenIddictServerProvider.ApplyAuthorizationResponse"
[This line](https://github.com/openiddict/openiddict-core/blob/0cf731166482040d2d1a60a3fa3b8b3db6ee3fdc/src/OpenIddict.Server/Internal/OpenIddictServerProvider.Authentication.cs#L496) produces exception because of `context.Request` is null

Maybe it must be `context.Request?.RequestId`?

[2018-07-16 15:40] kevinchalet commented on #643
Nice catch. Thanks for reporting this bug :+1:

I'll fix it and make sure it's included in the nightly and RTM bits.

[2018-07-16 16:37] #643 closed, assigned to kevinchalet

[2018-07-18 01:25] slimwizard opened #645 "Authenticating default token type in separate project from where "/connect/token" endpoint is"
Hello, I've been struggling with this for quite a few long days now so I figure that it's time to reach out for help as I am working against a deadline and don't have anyone inside my company to go to. It's an issue that I just can't seem to wrap my head around after doing a lot of research but may be obvious to someone who has done it before and will be easy to explain.

The solution I am working

[2018-07-18 12:40] kevinchalet commented on #645
Hey,

When using the default token format (i.e not JWT), the access tokens are encrypted using ASP.NET Core Data Protection, that you must configure explicitly if you want it to work across multiple apps. https://stackoverflow.com/questions/46956866/openiddict-authorization-and-authentication-with-microservices/46961090#46961090 should put you on the right track.

Note: the snippet you shared indi

[2018-07-19 16:32] #642 closed, assigned to nobody

[2018-07-19 16:33] #645 closed, assigned to nobody

[2018-07-20 21:17] slimwizard commented on #645
This is exactly what I needed. Thank you!

[2018-07-23 17:31] robwillup commented on #509
Hi,
I was getting the error message: "Unable to get configuration from 'https://login.microsoftonline.com/.../.well-known/openid-configuration" only when I was using Visual Studio. When using Postman or any browser I was able to get the response.

I finally figured this out.
The problem is that .NET does not use a system proxy to make the HTTP requests, while Postman does, and so do the web browse

[2018-07-24 22:53] pholly commented on #594
Hi @PinpointTownes,

I used JWTs because I didn't want to use introspection in my resource servers because introspection makes a request to the auth server for every new token.

Today I had a need to add an api to my auth server. I had trouble configuring my auth server for jwt validation.

I found a comment you made on an issue where you recommended using the built-in opaque tokens if resource se

[2018-07-24 23:19] kevinchalet commented on #594
Hey,

I agree with that. I just lack enough free time to work on that personally.

Yep, great idea. Here's the documentation ticket that tracks this part: https://github.com/openiddict/openiddict-documentation/issues/5.

If you want to work on that, **please don't hesitate**. Let me know if you need additional details.

All the samples have been updated to use it, except the implicit flow that sti

[2018-07-25 21:30] pholly commented on #594
I'll take a stab at it. Are these statements correct?

1. Reference tokens are opaque tokens, just validated differently. No additional openiddict server configuration is needed to create them.
1. Reference tokens can be validated using either:
   1. Introspection (openid connect, not openiddict specific), which requires connecting to openid connect server https endpoint for either every new token

[2018-07-25 21:46] kevinchalet commented on #594
Yep, that's exact. Basically, reference tokens are opaque tokens that are stored in the database and for which we instead return a crypto-secure random 256-bit ID to the client application.

[2018-07-25 22:56] replaysMike commented on #622
With the new configuration, I'm getting the following error:

when trying to configure the descriptor:

[code]

Is there some new syntax here as well?

[2018-07-25 23:06] kevinchalet commented on #622
Nope. The error you're getting is a SQL error indicating EF Core can't find the OpenIddict app tables. Are you sure it's there?

[2018-07-25 23:36] replaysMike commented on #622
Hmm you're right - this is a new project with code being converted from RC2. I was under the assumption that `await context.Database.EnsureCreatedAsync();` would have created them but perhaps I've missed something!

[2018-07-25 23:42] replaysMike commented on #622
Indeed, deleting the database and having that call run again recreated all the proper schema. I probably did this in 2 steps and didn't add OpenIddict until after. Probably related to this issue - https://github.com/openiddict/openiddict-core/issues/439

I'll make sure to put proper migrations in, this isn't related to RC3 then.

[2018-07-25 23:58] replaysMike commented on #622
I see why my migrations didn't have the schema - my EF project is separate from the web project. I needed to add in my ef context (as pointed out by https://github.com/openiddict/openiddict-core/issues/401):
[code]

[2018-07-26 09:04] gregsdennis opened #646 "Sample code in readme requires context"
The sample code in the repo's README file contains references that only exist in the sample server project.  It's not exactly a copy/paste as the reader is lead to believe.

The missing references are  `ApplicationDbContext` and `ApplicationUser`.  It also requires the user to add a SQL Server connection string under `Data:DefaultConnection:ConnectionString` in the *appsettings.config* file.

It t

[2018-07-26 14:46] pholly commented on #594
I see. So the openiddict server does have to be configured to serve reference tokens, and sure enough there's `options.UseReferenceTokens()`.

The default opaque tokens can be validated in api servers by either Introspection or shared DataProtection with ApplicationName.

It's nice that validation is now in the openiddict library because users don't have to add aspnet-contrib nuget package source.

[2018-07-26 16:20] kevinchalet commented on #646
Here's what the README says:

`ApplicationDbContext` and `ApplicationUser` are ASP.NET Core Identity artifacts and are present when using the mentioned template. Did you use this template or did you create an application from scratch?

[2018-07-26 19:08] kevinchalet commented on #594
I did! I didn't opt for this option for 3 reasons:

  - The aspnet-contrib validation handler is registered using `services.AddAuthentication().AddOAuthValidation()`. Having an OpenIddict-specific extension would have been confusing.

  - The `AuthenticationBuilder` extensions usually return `AuthenticationBuilder` to enable fluent-style programming. Yet, in OpenIddict, we now have our specialized

[2018-07-26 22:18] gregsdennis commented on #646
I created one from scratch using an empty template.

I had planned on just using client auth only, so I didn't need user accounts.  Then I changed my mind afterward.

[2018-07-27 18:44] pholly commented on #594
Makes sense.

Created pull request finally! Not done yet though.

[2018-07-28 23:54] replaysMike opened #647 "OpenIddict RC3 configuration issue"
I'm not entirely convinced this is an OpenIddict RC3 issue, but I'm at a loss to explain what's going on with my configuration as it all looks correct to me.

When I go to activate my AuthorizationController, I get a DI error:

But it is indeed registered, it seems like it can't inject all of the required objects for the ApplicationSignInManager (and ApplicationUserManager). It doesn't appear to b

[2018-07-29 00:13] replaysMike commented on #647
I should note that I have pretty much this exact configuration with another project using RC2, and I don't seem to have this issue. But I'm not going to rule out I missed something within the project configuration.

As a quick DI test, I ran in Startup.cs:

[code]
Neither are resolved. But in my old project they both get resolved. I'm scratching my head and can't find why the DI registration isn't

[2018-07-29 01:34] kevinchalet commented on #647
It's definitely not an OpenIddict issue as all these classes are ASP.NET Core artifacts.

Maybe @HaoK will be able to help. If you don't get an answer, don't hesitate to post your issue here: https://github.com/aspnet/Identity

[2018-07-29 03:16] replaysMike commented on #647
I agree, the only obvious difference between the projects was the OpenIddict version. I’ll keep testing this and ask over at the .Net Identity project.

[2018-07-29 04:38] zinczinc commented on #401
@PinpointTownes : Instead of code-first, where can I find the SQL Server script to create the OpenIddict tables directly in the database?

[2018-07-29 05:38] kinosang commented on #401
@zinczinc You can use LocalDB or install a SQL Server locally, use the ef migration to create the tables, and use a tool to dump the SQL script from LocalDB (or local-installed SQL Server)

[2018-07-29 05:46] zinczinc commented on #401
@kinosang : I know I can do that (code-first), then get the tables after db generation. I am just a bit lazy maybe. I was wondering if there are readily available sql scripts of those tables somewhere so I can just run the scripts. Going all the way to creating a whole solution in VS just to get the tables !!!! Maybe someone can post the sql scripts...-:)

[2018-07-29 19:19] kevinchalet commented on #401
@zinczinc the whole point of leveraging an ORM like EF Core is that you don't have to deal with SQL and all its dialects yourself.

If we wanted to provide SQL tables creation scripts, we'd need one for MSSQL, one for MySQL, one for Sqlite, one for PostgreSQL, one for Oracle... it would be a nightmare.

The steps listed by @kinosang are your best chances to get the raw SQL you're looking for.

[2018-07-29 19:20] kevinchalet commented on #647
@replaysMike maybe you should post the complete stack trace so it's easier to determine what's causing the DI issue.

[2018-07-30 12:25] MaklaCof commented on #621
`await _applicationManager.CreateAsync(descriptor);` what is `_applicationManager` adn where should I put this code? In `startup.cs`?

[2018-07-30 12:28] kevinchalet commented on #621
https://github.com/openiddict/openiddict-core/blob/7cf18dc1eaf4c60f0cd672a2db965084ac17cd7f/samples/Mvc.Server/Startup.cs#L177-L197

[2018-07-30 16:07] kevinchalet commented on #646
@gregsdennis so this explains why the things you mentioned were missing. If you think you can improve the README, feel free to submit a PR.

[2018-07-30 16:07] #646 closed, assigned to nobody

[2018-07-30 16:08] kevinchalet commented on #647
Closing, as this issue is now tracked by https://github.com/aspnet/Identity/issues/1898.

[2018-07-30 16:08] #647 closed, assigned to nobody

[2018-07-30 20:58] codeaid commented on #594
I was going to create a new issue but seeing how there is a ticket regarding validation I'll post my question here.

Long story short - after being a PHP developer for more than a decade I recently switched to .NET Core. Loving everything so far and only now I realise how lacking PHP is 🤦‍♂️...

Anyway, I'm rewriting my current API from PHP into ASP.NET Core and one of the first things I'm trying

[2018-07-30 21:23] pholly commented on #594
Hey. I drafted some documentation but it hasn't been vetted by @PinpointTownes  yet: https://github.com/openiddict/openiddict-documentation/pull/20

At first glance -

 - You still have remnants of IdentityServer in your using statements and in `.AddAuthentation`
 - Remove `services.AddAuthentication()...` - the whole section - if you are using reference tokens. Reference tokens are validated by t

[2018-07-30 21:31] pholly commented on #594
Welcome to .NET land. .NET / ASP.NET Core is great, but because things are changing every release it's a little hard keeping up with updates (e.g. Asp.net core Razor pages, Identity framework). But the framework does a lot of heavy lifting for you and Visual Studio is a great IDE.

The best part about PHP to me is [Processwire](https://processwire.com/)  :) I've considered switching my company ove

[2018-07-30 21:44] codeaid commented on #594
Oh my god, @pholly! You are an absolute legend!!! It worked :D [Removed](https://gist.github.com/codeaid/7024791a34d373e4a1951bbd0e177680/revisions) the whole `AddAuthentication` section and added `options.UseReferenceTokens()` as you suggested and I got this from the endpoint:

[code]

I swear I had that validation option set at one point, but something else must've been broken at that time. I ow

[2018-07-30 21:48] codeaid commented on #594
Actually, while you're here - do you know if there's a way to be able to use just `[Authorize]` instead of having to define `[Authorize(AuthenticationSchemes = "Bearer")]` above every controller?

Edit: never mind, I found a potential solution:
https://stackoverflow.com/a/46475072/1288418

[2018-07-31 00:06] pholly commented on #594
Oh that's an answer by @PinpointTownes , the creator of OpenIddict.

If you want all your routes to authorize with bearer authorization, you can set it as the default scheme. Since you installed ASP.NET Core Identity cookies are the default authentication scheme.

To set "Bearer" as your default authentication scheme, try adding this to `ConfigureServices` after registering Identity and OpenIddict

[2018-07-31 15:12] matthiasleitner opened #648 "JWT refresh token storage & validation"
I am using openiddict with JWT and have the problem that all refresh token become invalid once I redeploy the application using docker.

Since I've set a SinginKey I assumed that all tokens should stay valid regardless of application lifetime.

We use EntityFramework token store and there are refresh token objects in the database but they don't contain the actual token values.

Can someone clarify

[2018-07-31 15:21] kevinchalet commented on #648
They are generated and validated using ASP.NET Core Data Protection, on which your signing key has no effect.

https://stackoverflow.com/questions/42628862/openiddict-401-errors-when-two-or-more-service-instance-count/42632239#42632239 should put you on the right track.

[2018-07-31 15:33] matthiasleitner commented on #648
@PinpointTownes thanks for the link

two questions on that:
1. The SO answer notes that Core Data Projection is only used

does this mean its not used if I am calling **AddJwtBearer**?

2. The Microsoft actually cover the handling for key handling for docker containers, is this something openiddict can cover using its token persistence?
[code]

[2018-07-31 15:38] kevinchalet commented on #648
Authorization codes and refresh tokens are always encrypted using Data Protection, independently of the format used for access tokens. In other words, authorization codes and refresh tokens CAN'T be JWT tokens.

Concerning DP, OpenIddict will use whatever you configure globally. If you configure DP to store the key ring in a Docker volume, it will use it.

[2018-07-31 18:25] codeaid commented on #594
@pholly I tried doing what you suggested but for some reason it didn't work. What I ended up doing is this:

[code]

Also, an important thing to remember is that it only works if I add this AFTER the `services.AddOpenIddict()` call, it doesn't do anything if I place it before. The good thing is this removes the necessity for a custom authentication scheme provider.

On a side note - I find it stra

[2018-07-31 20:45] matthiasleitner commented on #648
I've now tried to implement a store based on entity framework like shown below, unfortunately the  DataProtectionKeyRepository implementing IXmlRepository is never being called on new token generation.

[code]

I am setting it up like this in startup.cs

[code]

Any ideas on that? Thanks in advance!

[2018-07-31 21:08] kevinchalet commented on #648
The XML repository service is not registered via DI but as an option. Take a look at https://github.com/aspnet/DataProtection/blob/master/src/Microsoft.AspNetCore.DataProtection.AzureStorage/AzureDataProtectionBuilderExtensions.cs#L170 to see how you can override the default instance.

If you have questions about DP, I encourage you to post them on the DP repo as the ASP.NET team has much more ban

[2018-07-31 21:21] matthiasleitner commented on #648
Setting it as an option worked - thanks for your help @PinpointTownes

[2018-07-31 21:21] #648 closed, assigned to nobody

[2018-08-01 17:04] kevinchalet commented on #594
I don't think it's caused by OpenIddict as we never override the default schemes. It's most likely caused by `services.AddIdentity()`, that registers its application cookie scheme as the default scheme. And indeed, depending on the order, it may not work as you'd expect.

FWIW, for hybrid cookies+tokens apps, I don't recommend opting for tokens as the default scheme (tho' I agree it's a safer defa

[2018-08-02 15:41] tschennie opened #651 "netcoreapp2.0 - Could not load type 'Microsoft.AspnetCore.Builder.AuthenticationOptions'"
I migrated my project from ASP.NET Core 1.1 to 2.0 and with starting the WebAPI, I got following exception within the **Program.BuildWebHost**:

_**System.TypeLoadException: "Could not load type 'Microsoft.AspNetCore.Builder.AuthenticationOptions' from assembly 'Microsoft.AspNetCore.Authentication, Version=2.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'."**_

I'm using following version

[2018-08-02 16:00] kevinchalet commented on #651
If you Google this error, you'll see it's caused by the fact you're mixing packages designed for ASP.NET Core 1.x and packages written for 2.x. Migrate everything to the latest version and it will work.

[2018-08-02 16:00] #651 closed, assigned to nobody

[2018-08-02 22:18] codeaid commented on #594
@PinpointTownes I got everything working as I wanted to and your library is working beautifully so big thanks for that!

Speaking about the order - I can't really comment as my knowledge is still limited but from what I see in the logs now the framework is not accessing cookies, but only the token from the header, which is exactly what I wanted. As I mentioned it's an API so cookies is the last th

[2018-08-07 12:46] tschennie opened #653 "Error while migrated from v1 to v2"
Using OpenIddict 2.0.0-rtm-1075 and ASP.NET Core 2.1

I migrated from ASP.NET Core 1.1 to 2.1 and therefore I had to update OpenIddict with JwtBearer as well.

So, now when I request a token (/connect/token) I'll get following error:
**_OpenIddictServerProvider: The token request was rejected because the application was not allowed to use the token endpoint._**

**Startup.cs**

[code]

**Program.c

[2018-08-07 13:10] kevinchalet commented on #653
Have you read the [migration guide](https://openiddict.github.io/openiddict-documentation/guide/migration.html#if-necessary-adjust-the-permissions-granted-to-your-clients)? :sweat_smile:

[2018-08-07 14:31] #653 closed, assigned to nobody

[2018-08-09 16:07] ghost opened #654 "404 when using options.AcceptAnonymousClients() in RC3"
I get a 404 response when I POST to /connect/token in my .NET Core 2.1 app.  The request doesn't include client_id, but I'm using the new options.AcceptAnonymousClients() in RC3, so I'd expect this be fine and get a token in the response.

This is from the console log:

This is from my Startup class:

    public void ConfigureServices(IServiceCollection services)
        {
            services.Add

[2018-08-09 17:34] kevinchalet commented on #654
Does your authorization controller have appropriate routes that match the token endpoint path?

[2018-08-10 07:51] ghost commented on #654
Thanks @PinpointTownes. No, I'd messed-up my controller. As soon as I fixed it, it worked. I'd just misunderstood the console output.  Thank you.

[2018-08-10 07:51] #654 closed, assigned to nobody

[2018-08-10 10:41] unixrex opened #655 "Cant validate opacue token while using tenant example. Access token was invalid."
Hello! I have some issue while using example implementation of tenant there - https://stackoverflow.com/questions/49596938/openid-connect-identifying-tenant-during-login.

Just using code flow sample to add example implementation and cant validate request to {tenant}/api/userinfo

Logs:

Got token:

Performing protect operation to key {270f5b10-d8a5-4983-8213-a7c1db6fef52} with purposes ('E:\openi

[2018-08-10 11:03] kevinchalet commented on #655
Hey,

Definitely. That's even the whole point: not being able to decrypt an access token if the receiver is not the expected one.

The validation part should be fairly identical, except you'll amend `OpenIddictValidationOptions` instead of `OpenIddictServerOptions`.

[2018-08-10 11:08] unixrex commented on #655
Did I understand correctly - i must create custom OpenIddictValidationOptions in OpenIddictServerOptionsProvider to add tenant purpose? or?

[2018-08-10 11:14] kevinchalet commented on #655
You must create a custom `OpenIddictValidationOptionsProvider` and an `OpenIddictValidationOptionsInitializer`, exactly like the server ones, but with `OpenIddictValidationOptions` instead of `OpenIddictServerOptions`.

[2018-08-10 11:24] unixrex commented on #655
Yeap! Thx for a beautiful library!

[2018-08-10 11:24] #655 closed, assigned to nobody

[2018-08-10 11:37] kevinchalet commented on #655
Glad you like it :smile:

[2018-08-13 18:28] peterfournier opened #656 "Entity Framework Error: Second operation"
Hi,

Currently I've been experiencing this error when working with OpenIddict:

_A second operation started on this context before a previous operation completed. Any instance members are not guaranteed to be thread safe._

I believe it's stemming from some .FirstOrDefaultAsync() calls that are not being awaited, e.g. OpenIddictScopeStore.cs line 183. There are more throughout the core.

Here is a

[2018-08-13 18:36] kevinchalet commented on #656
Hey Pete,

That's the first time I hear that. Any chance you could share your Startup and your dependencies?

Very unlikely. It's a very common optimization (described here: https://particular.net/blog/async-await-tips-and-tricks) and it shouldn't cause such issues.

[2018-08-14 03:22] ghost commented on #242
@Gillardo I am trying to implement a custom store (IOpenIddictApplicationStore) for RavenDb and I am stuck at IDataContext from your sample code. Is there a working example you can share.

From the OpenIddict Mongo Db module it seems I need to build a entire dbcontext for RavenDb. Can you shed some light on how the DbContext for a custom store is created. Thanks.

[2018-08-14 06:46] Gillardo commented on #242
@ganu81 what exactly are u stuck on? IDataContext is just an interface I use for DI

[2018-08-14 15:08] kevinchalet commented on #656
@peterfournier FWIW, RTM is shipping soon. If there's a bug somewhere (in OI or EF), it would be nice to know it before we release it. Please let me know if you're still blocked by this threading issue.

[2018-08-15 01:16] CryptoMinerd opened #657 "Help With Missing Property"
@PinpointTownes I'm having trouble with an introspection endpoint call and I'm needing some help because I'm not sure if I know what I'm doing.

I'm having trouble with a code changes specifically from commit #634 at this specific line: https://github.com/openiddict/openiddict-core/commit/62ea1176824eb92eda9e3b6de07df53e3763d0e9#diff-831220152205e64b5a58c3b1f65d04a9R110

When I hit the line:

var

[2018-08-15 01:57] kevinchalet commented on #657
This property is only set when a database token entry associated with the access token is created by OpenIddict ; i.e when you explicitly enabled reference tokens support in the server options.

By default, OpenIddict issues access tokens without creating an entry in the database (for perf' reasons). In this case, having a null `.internal_token_id` is expected.

[2018-08-15 15:04] #656 closed, assigned to nobody

[2018-08-15 16:35] CryptoMinerd commented on #657
I'm using JWT so I didn't enable UseReferenceTokens. Thanks @PinpointTownes I'll close the question.

[2018-08-15 16:35] #657 closed, assigned to nobody

[2018-08-20 07:06] ghost opened #658 "Missing client_id parameter in token request authorization code flow using postman"
Hi everyone,

I have an issue with my authorizatian. I created an application and I added my authorization and token endpoint. I used mostly the same code as in the samples solutions from github to get aquainted with the code and openiddict. When I try to test the authrization code flow with postman I get an error in the token endpoint, generated in openiddict code, saying the required client_id i

[2018-08-20 16:03] ghost commented on #658
Hi,

A short update on this. I found out that Postman is posting the consent form with parameters as querystring instead of form serialization. Content type seems correct: x-wwwform-urlencoded. When I manually post with parameters as form all goes well. Anyone else experienced the same issue?

[2018-08-20 17:05] kevinchalet commented on #658
Hey.

The OAuth2/OpenID Connect specifications are pretty clear about that: when using GET, the OIDC parameters must be flowed as query string parameters and when using POST, they must be specified as form parameters.

[2018-08-20 17:20] ghost commented on #658
Hey Kevin,

Thanks for your response. I have read the specifications as well and it makes perfect sense. So kudos for the library and samples. Therefor my question if anyone knows of this issue with postman. Maybe not the right place though but I wanted to place an update on the issue.

[2018-08-24 01:44] peterfournier commented on #656
Hey, apologies for the late reply.

I'm not 100% sure it's OpenIddict. It might be exposing an issue with my DI in my own application. The error does do away however when I remove the authorization attributes on my api controllers, that lead me to believe it was OpenIddict.

Anyway, thanks for your time. I'll continue digging.

[2018-08-24 01:46] kevinchalet commented on #656
@peterfournier hey. Is your app OSS and visible somewhere so I can take a look?

[2018-08-25 07:14] deepakkumpala commented on #334
It says "UseOpenIdConnectAuthentication" is obsolete !

[2018-08-27 09:11] RayKoopa commented on #577
Seriously had the exact same error when adding the JWT to my request headers.
[code]
better be
[code]
Nice!

[2018-08-29 14:30] kevinchalet commented on #509
@Murtuzakabul this repository is dedicated to OpenIddict. If you have a question about the IdSrv validation or JWT bearer packages, contact the IdSrv folks or MSFT.

[2018-08-31 10:23] mastrox opened #659 "problem in OpenIddictConstants inside NuGet packages 2.0.0-rc3-final"
Hi
I have followed the getting started tutorial:
i've linked the NuGet packages
`<PackageReference Include="OpenIddict" Version="2.0.0-rc3-final" />`
`<PackageReference Include="OpenIddict.EntityFrameworkCore" Version="2.0.0-rc3-final" />`

 i have added the sample AuthorizationController to my app, the code don't compile because it seem to be missing some constants and clsses in OpenIddictConstan

[2018-08-31 13:08] kevinchalet commented on #659
Hey,

The samples in this repository use the latest OpenIddict bits, and the not the packages published on NuGet.org. The new constants have been introduced in the RTM nightly builds and that's why you can't use them when targeting RC3. In RC3, you can find them in the `OpenIdConnectConstants` class. In RTM, we copied them to `OpenIddictConstants` for convenience.

You can find the samples for RC3

[2018-08-31 15:22] marcrib opened #660 "Custom JWT vs Openiddict"
I currently issue tokens myself in my web api with JwtSecurityToken and I use standard ASP.NET Core middleware calling AddJwtBearer to verify the tokens. It works fine.

What advantage will give me using OpenID Connect  over the approach described above? How to answer myself question "Do I need OpenID Connect?"

From my basic understanding about OpenID Connect, it is used to allow third parties to

[2018-08-31 16:49] ghost commented on #658
Hey Kevin, one update on this. I found out the problem was in my view. When it posts it only posts the form. Since the client_id etc. are not part of the form they are not serialized in the form data. I tricked it by making these part of the viewmodel and give them a hidden field. This doesn't feel right however because these fields can be tampered with. Furthermore in the sample, inclusief in the

[2018-09-02 06:43] tedvanderveen opened #661 "ASP.Net Core version 2.2 shall have an OpenID Connect Authorization Server. Is it based on this library?"
https://github.com/aspnet/Announcements/issues/307
In the coming months there shall be a built-in Authorization Server provided with the upcoming ASP.Net Core version 2.2. Shall that implementation be based on this project?
Main question: for new projects should we start use ASP.Net Core (preview) 2.2 releases, or can we use this project now and easily port to the Authorization Server implementati

[2018-09-02 19:41] shaunluttin commented on #661
The announcement says that the built-in OpenID Connect Authorization Server will support only first-party client applications:

Is your new project going to be supporting only first-party applications?

---

I'll leave it to @PinpointTownes to speak about porting from OpenIddict.

[2018-09-04 16:08] #660 closed, assigned to nobody

[2018-09-04 16:08] marcrib commented on #661
@PinpointTownes idea?

[2018-09-04 16:59] kevinchalet commented on #661
That's a question you should ask to @DamianEdwards or someone from the ASP.NET team. Recent rumors seem to indicate that they may consider building something on top of IdentityServer4, but I have no idea whether it's true or false.

FWIW, this project is not exactly new since Vittorio Bertocci (who now works at Auth0) privately contacted me in July 2016 to chat about it as they were considering us

[2018-09-04 17:30] kevinchalet commented on #660
Related topic: https://github.com/aspnet/Security/issues/1723.

[2018-09-07 11:02] ShiningRush opened #663 "How can i generate id token with hs256?"
I found that the encrypt way of default id token is generated by openiddict is "RS256",
and now i need to decrypt id token in Kong(using jwt plugin) so i need to know the public key.
Any idea is appreciated.

[2018-09-07 12:38] kevinchalet commented on #663
The signing key used to sign your identity tokens is the one you register in the OpenIddict server options (using `AddSigningKey()`, `AddEphemeralSigningKey()`, `AddSigningCertificate()` or `AddDevelopmentSigningCertificate()`).

The public key can be access using discovery (typically, by visiting http://server/.well-known/jwks).

[2018-09-07 14:10] ShiningRush commented on #663
It is very useful to me, thanks!

[2018-09-07 15:14] #659 closed, assigned to nobody

[2018-09-07 15:16] kevinchalet commented on #658
Nah, it's fine (one could change the parameters in the query string anyway).

The sample uses request caching: https://github.com/openiddict/openiddict-core/blob/9a0689150765df61c4ad2d5f22b8c79c8e63cd34/samples/Mvc.Server/Startup.cs#L104-L109

[2018-09-07 17:01] ghost commented on #658
Hey, thank you so much. I got my authentication set up. Both on the server side and my angular app. I still think the request caching solution is cleaner and I will set it up too.

Thanks for all the help. Kudos.

[2018-09-07 17:01] #658 closed, assigned to nobody

[2018-09-10 15:17] marcrib commented on #661
"I don't have any plan to abandon it, even if Microsoft decides to release its own thing and even if it's based on IdentityServer4."

If you die @PinpointTownes ?  :(
Can I be your pupil?

[2018-09-10 15:31] kevinchalet commented on #661
This will be a disappointing answer... but dying is not the first item on my todo list, sorry :sweat_smile:

On a more serious note, 5 other people have write access to this repository (incl. @shaunluttin). If anything bad happens to me, they'll be able to keep working on it (assuming they want to). And since the source code is public, nothing prevents you from forking it and maintaining it yourse

[2018-09-11 03:01] ShiningRush commented on #663
Hi,guys, i ready to generate id token with hs256, but i found openiddict is just allowed  AsymmetricSecurityKey?
Some snippet is like that
[code]

Is there some reason for that?

[2018-09-12 11:33] kevinchalet commented on #663
Because using a globally registered symmetric key makes no sense: it means any client - first-party or third-party - could create identity tokens using the shared key. It also prevents exposing it via the discovery endpoints, as symmetric keys can't be safely returned.

If you absolutely want to use a symmetric signing key (tip: it's a bad idea), use the events model to use a per-client signing ke

[2018-09-12 11:33] #663 closed, assigned to nobody

[2018-09-12 16:00] ddydeveloper commented on #439
@PinpointTownes good evening!

Maybe I am not completely understand, could you explain how to set up the OpenIdDict db tables. Now I am working on the old project and try to migrate to the .net 2 version. There is an initial migration with openiddict tables, but I think this tables should be updated for the 2 version.

Cause I am getting DbUpdateException, related with the missing columns, such as

[2018-09-13 06:12] ddydeveloper opened #664 "Update sql tables on migration to .net 2"
@PinpointTownes good evening!

It is unclear for me how to update SQL tables with add-migration command. Now, when I try to create new migration all openiddict tables getting removed:

       protected override void Up(MigrationBuilder migrationBuilder)
        {
            migrationBuilder.DropTable(
                name: "OpenIddictScopes");

            migrationBuilder.DropTable(

[2018-09-13 17:55] kevinchalet commented on #664
Hey,

Any chance you could list the steps that led to this oddity?
Would https://openiddict.github.io/openiddict-documentation/guide/migration.html#ensure-migrations-are-correctly-enabled-for-your-project help solve your issue?

[2018-09-14 09:50] schmitch opened #665 "Question/Implementation Detail - Authorization Handler Redirect on existing Authorization?"
Hello, currently I'm not sure if this is correct and I'm also not sure if this is a question or if the examples should be updated or if it is plain invalid.

However currently if I try the sample `Mvc.Server` with `Mvc.Client` or even the `Postman` example with the grant_type=authorization_code it will **always** create a new authorization + request after a user was logged out manually or automati

[2018-09-14 13:26] schmitch commented on #594
Hello, first of all thanks for your great library and all.

Currently I have one problem with the `OpenIddictValidationHandler`.
At the moment the ValidationHandler runs **after** any middleware, this makes it hard to actually do the following:

[code]

because normally the User would already be Authenticated at that point, (i.e. cookie authentication, Identity framework, etc...) [`IsAuthenticated

[2018-09-15 08:31] kevinchalet commented on #594
Thanks for the kind words!

It's not something we can safely control from our side. In 2.0, this is possible if these 2 conditions are met:
  - `app.UseAuthentication()` appears very early in your `Configure` method. If it's invoked too late, `HttpContext.User` will not be populated.
  - `OpenIddictValidationDefaults.AuthenticationScheme` is configured as the default "authenticate scheme" in the A

[2018-09-15 08:32] kevinchalet commented on #594
Note: the conditions I describe in my post are absolutely not specific to our validation handlers. All the authentication handlers in ASP.NET Core 2.0 work the same way.

[2018-09-17 09:13] ddydeveloper commented on #664
@PinpointTownes , thank you for the reply!

I've solved my problem, it was more about the Entity Framework migration changes in .net core 2.1 version, not the Openiddict problem!

Sorry for the anxiety.

[2018-09-17 09:13] #664 closed, assigned to nobody

[2018-09-17 15:48] steve-79 opened #666 "OpenIddict Core with SignalR"
I've been looking all over, and cannot figure out how to get the access token from a query string to be used with Signalr.  Could somebody by chance help provide an example?

I've tried doing both this:
[code]

and this:
[code]

in my Startup.cs file (as found in another issue [here](https://github.com/openiddict/openiddict-core/issues/467))

Is there something I am missing?  I'm using .net core 2

[2018-09-17 15:51] steve-79 commented on #666
My code on the client side looks like this:
[code]
which gives this error:
signalr.min.js:16 POST https://localhost:44318/authTest/negotiate?access_token=XXXXXX 401 ()

[2018-09-17 17:17] steve-79 commented on #666
Okay I feel a little stupid, and finally figured this out (ironically pretty quickly after posting the issue).  The key is that if you add to the OAuthValidation options - in services.AddOauthValidation(options => ...), then you must completely comment out the .AddValidation(); after .AddServer in services.AddOpenIddict();

For example here's a sample of working code, that does not use JWT tokens:

[2018-09-17 17:18] #666 closed, assigned to nobody

[2018-09-18 07:53] ddydeveloper opened #667 "Multiple token endpoints"
Good morning!

Is it possible to implement multiple token end points?
    `options.EnableTokenEndpoint("/connect/token");
     options.EnableTokenEndpoint("/connect/token2");
    `

It can be useful, for instance, when you have multiple client apps but with the different user access rules: admin app, log app, etc.

Sure we can implement logic inside the single endpoint, but in this case I should p

[2018-09-18 11:31] kevinchalet commented on #667
Hey,

Technically, it's possible to force OpenIddict to listen on multiple paths. There's a sample in this blog post: https://kevinchalet.com/2018/07/02/implementing-advanced-scenarios-using-the-new-openiddict-rc3-events-model/

[code]

(the syntax will vary a bit in the RTM nightly builds)

Now, would I personally recommend it? **Very likely not**, as it will force your clients to manually specif

[2018-09-18 11:38] kevinchalet commented on #665
Hey,

Redirecting your users to the token endpoints: no, as it's basically an API endpoint made to be used by non-interactive clients so that they can redeem an authorization code for an access token.

But yeah, immediately returning an authorization response when your users have already approved the application is a very common scenario, as you said.

OpenIddict has already everything you need to

[2018-09-18 11:42] ddydeveloper commented on #667
@PinpointTownes  thank you so mauch!

Actually, I just want to provide the most predictable and simple flow for authenticating user through the multiple SPA apps.

The same user can work with one app, but can't access the admin one, for instance. I want to keep all of the authentication logic inside one API, but separate authentication process for different apps.

And what do you think about Clien

[2018-09-18 11:47] ddydeveloper commented on #667
But in my case I need smth like mixed Password and ClientId flow: use the credentials to authenticate the user and ClientId to define the authentication rules.

[2018-09-19 15:06] kevinchalet commented on #667
You can certainly do that, as the password flow supports client authentication. But don't forget SPA are public clients by definition as they can't keep a secret really secret (since it's accessible by the browser and the user), so you can't be 100% sure the request comes from a trusted app, even if it specified a `client_id`.

[2018-09-19 15:25] ddydeveloper commented on #667
@PinpointTownes , if it is possible could you provide an example how to combine password and client workflow.

Actually it is not required to follow this approach, but I really can't find the best way, how to use the same endpoint to authorize a lot of clients without sending this info through the authentication request.

This looks like potentially weakness even if I set client_guid (let's say th

[2018-09-23 07:58] pabhashasync opened #668 "TKey<int> or <Guid> Not working when using ReplaceDefaultEntities<TKey>"
Right now is not possible to change the Id Keys to Guid or int. The db context does not recognize the entities, and I tried different workaround and none of them worked.
Please review how ReplaceDefaultEntities<Tkey> works together with the UseOpenIddict<Tkey>.

[2018-09-23 12:04] kevinchalet commented on #668
Post your code.

[2018-09-23 12:23] pabhashasync commented on #668
I tried different ways, none worked. This is the basic configuration one I tried :
http://prntscr.com/kxoor2

[2018-09-23 12:28] kevinchalet commented on #668
What’s the exact exception you’re getting when using this configuration?

[2018-09-23 12:34] pabhashasync commented on #668
It says that the db context cannot find the entity `OpenIddictAuthorizations<int>`
I also tried explicitily adding the OpenIddict in the dbContext, and as well using `options.UseOpenIddict<All OpenIdDict entities>()` and none solved the exception.
Since most people do not like to have Id as string, would be great to have more documentation on how to chanhe the Id types. There is no documentation a

[2018-09-23 12:55] kevinchalet commented on #668
I need the complete exception, including the exact message and the stack trace.

The process is explained in the README.md and what you have should work.

I tested locally and it worked fine. Consider posting uploading a repro on GitHub and I'll take a look.

[2018-09-23 13:14] #665 closed, assigned to nobody

[2018-09-23 17:00] jmelosegui opened #669 "Cannot use custom schema"
Hi,

I am using version RC3 and I want to change the tables to a custom schema `Security`

I have the following code in the method `OnModelCreating(ModelBuilder modelBuilder)`

[code]

I have also using the models in the new `OpenIddict.EntityFrameworkCore.Models` namespace.

When running the application I get the following error

![image](https://user-images.githubusercontent.com/450246/45930606-

[2018-09-27 15:41] marcrib opened #671 "Add claim on access_token by api"
I want to create a service to only authenticate users in different softwares(products). The openiddict will only have basic user information, ID, Name, Email, Password.
For each software will have its API and also a table called UserInfo that will have additional user information

How do I add custom claims in access_token after authenticated by the openiddict?

[2018-09-27 15:44] kevinchalet commented on #671
I'm not sure what's the point of your question as you recently declared you were using IdSrv and posted exactly the same question on their repo yesterday.

I hope you don't think I have time to waste answering fake questions?

[2018-09-27 16:37] marcrib commented on #671
Hello @PinpointTownes

Yes, I also asked the same question in Idsrv
As described, I want to have a single microservice for user authentication for several different softwares.

All my searches so far have been with Idsrv, but OpenIddict seems easier to implement and more complete examples.

Also the support and answers are faster, clearly you care more about the project

Sorry, I did not mean to o

[2018-09-28 01:01] rodrigocezar commented on #671
Use a custom event handler

https://kevinchalet.com/2018/07/02/implementing-advanced-scenarios-using-the-new-openiddict-rc3-events-model/

[2018-09-28 12:32] marcrib commented on #671
@rodrigocezar  ResourceAPI include the claims iand not the openIddict

[2018-09-28 13:55] kevinchalet commented on #671
With OpenIddict, you're responsible of creating the `ClaimsIdentity`/`ClaimsPrincipal` used to create tokens. To support your scenario, you'd just have to add new claims here: https://github.com/openiddict/openiddict-samples/blob/dev/samples/PasswordFlow/AuthorizationServer/Controllers/AuthorizationController.cs#L84-L91

[code]

[2018-09-28 15:38] #668 closed, assigned to nobody

[2018-09-28 15:39] kevinchalet commented on #669
Hey,

Hard to say what's going on. Could you try to revert the tables names back to their original names to see if the message disappears? If anything, it would likely be an EF Core issue, as we don't deal with schema names ourselves.

[2018-10-02 13:02] sir-boformer commented on #430
If you stumble across this issue, various solutions can be found here:

https://stackoverflow.com/questions/37099136/aspnet-core-using-in-memory-repo-for-data-protection-when-running-in-iis

Running [this shell script](https://github.com/aspnet/DataProtection/blob/b876319379248788100e0dec3ed54ff9076bc752/Provision-AutoGenKeys.ps1) for every AppPool seems to be the best solution.

[2018-10-02 14:54] adadurov commented on #667
@ddydeveloper , as you mentioned SPA clients, it it seems there are only front-channel communications involved in your use cases, right? However, it's not clear whether you plan on using individual user accounts along with the apps, or not?

[2018-10-02 15:42] marcrib commented on #671
@PinpointTownes how my resource api add claim in access_token?

[2018-10-02 16:02] kevinchalet commented on #671
Resource APIs don't issue tokens so your question makes no sense: it's the authorization server that produces tokens and I showed you how you can add custom claims.

[2018-10-02 16:29] tjpeel opened #672 "Multi tenant guidance (in relation to different auth types such as Facebook, Azure AD etc)"
I would like to configure OpenIddict so that different authentication types (Facebook, Azure AD etc) can be configured by tenant.

I have referenced this guidance - https://stackoverflow.com/a/49682427/31412 - and have path based tenants running, which works well.

Each tenant might have different authentication types configured and they should be configured at runtime. They cannot be added during

[2018-10-02 18:11] #671 closed, assigned to nobody

[2018-10-03 16:43] ddydeveloper commented on #667
@adadurov I need to provide the clients credentials usage. Maybe the problem more about the authorization, not the authentication.

I have two client apps written with the angular framework, one for the ordinary users and one for administrators only.

So, maybe the right way is to authenticate users by token endpoint and manage the access on the client sides by guards, for instance. But it seems n

[2018-10-04 15:20] tjpeel commented on #672
I've looked briefly at the Orchard source in relation to the OpenID options and can't see much difference in what I have running in my project (based on the tenant config from SO link above).

I think the resultant work for this is what I would need?

https://github.com/OrchardCMS/OrchardCore/issues/2029

[2018-10-05 07:21] TheElectricCo commented on #645
@slimwizard Hi! Do you got this working? I followed the suggestions of @PinpointTownes, but I can't seem to validate my generated token...

In ConfigureServices I have set in both my auth and api service:
`services.AddDataProtection()
                .PersistKeysToFileSystem(new DirectoryInfo(@"C:\Temp"))
                .SetApplicationName("MyApp");`

And I have add in my api service:
`services.A

[2018-10-05 14:59] slimwizard commented on #645
I believe you will need to add and use authentication.

'''
services.addAuthentication()
'''

'''app.useAuthentication()'''

[2018-10-05 15:03] slimwizard commented on #645
In the ConfigureServices method you need to 'add authentication' and in Configure method you need to 'use authentication'. These are methods that can be called on your services and app objects. You will also need to specify what type of authentication scheme to use in the .addAuthentication() method. If you look at the stack overflow link that is posted, you will notice that the asker already has

[2018-10-06 15:23] adadurov commented on #594
@codeaid, @PinpointTownes -- you guys saved me. Thank you so much!

I was migrating my project to Openiddict-RC3 + reference tokens and the final touch (that I spent almost two days struggling with) was that 'Default authentication scheme' thing that I should have put after adding ASP.NET Core Identity & OpenIddict services to my Startup.cs.

@PinpointTownes , do you think it is worth mentioning i

[2018-10-06 21:15] adadurov commented on #667
@ddydeveloper , indeed, I believe you could solve it with authorization policies based on roles, permissions and/or scopes.

[2018-10-08 14:32] kevinchalet commented on #672
OrchardCore achieves multitenancy by having a separate DI container per tenant, which is very different from what I described in my SO post, that uses a single DI container for everything, but different options instance per tenant.

If you want to use Facebook/Azure AD with OpenIddict and adopt the same pattern as the one described in the SO thread, you definitely can. You'd have to create custom

[2018-10-09 10:16] debchy commented on #509
Hi @RWillup,
I am not getting the property/variable **_config["System:Proxy"]**. clear me about **_config**

[2018-10-09 11:01] debchy commented on #509
I have solved the problem. This problem is happening for proxy address which is not resolving with OIDC connection.
So, Instead of
`options.Authority = "http://app.mycompany:5959/";`
I am now using IP address.
`options.Authority = "http://41.4.40.41:5959/";`

[2018-10-09 14:47] Tsjerno opened #673 "How to add a property to a jwt token"
Hi,
We're using openiddict in combination with orchard core. With orchard core, we've created an openid server. Server works fine. We'd like to add an extra property to our jwt token. So a resource server can filter the content which is returned based on information in the jwt-token.

Like the current items in our jwt "aud": "oct:Default",  "azp": "client", we would like to add an extra property "

[2018-10-09 15:18] tjpeel commented on #672
@PinpointTownes thanks for getting back to me.

I think this is fine if a specific auth type is available all the time, but if one tenant has it enabled and another tenant doesn't then the configuration convention becomes a little counter intuitive. As you can't remove it once configured. You're left with having to fake it and configure dummy required data and then never let it be used in the UI.

[2018-10-10 10:53] GuidoNeele opened #674 "Using openiddict with android/ios native apps keeping user logged in"
What is the best way to use openiddict with ios/android native apps that need to keep the user logged in at all time? I would like the following:
1. User opens the app for the first time.
2. User needs to login using username and password + 2fa
3. User is logged in and receives token
4. Token is used to call api
5. User closes app and returns 5 days later
6. Token is used to call api
7. etc

What'

[2018-10-11 00:09] marcrib opened #675 "OpenIddict for multiple applications - one central place for authentication"
I want to create a scenario like this image

![0003](https://user-images.githubusercontent.com/31016251/46772762-00979c80-ccd0-11e8-99e3-098e70e031ba.png)
_(Image from google)_

The three applications are mult tenant with different business logic and all my tables contains a TenantId column to be filtered, dbo.Products.Where (x => x.TenantId == MyTenantId)
In each application the user may have a d

[2018-10-11 00:16] marcrib commented on #674
hi @GuidoNeele
This is a logic that you should determine in your android application / ios
Openiddict provides the token and refresh token

In android you have the following methods to store your token
https://developer.android.com/guide/topics/data/data-storage

[2018-10-11 00:19] marcrib commented on #673
Hi @Tsjerno

Add new claims here: https://github.com/openiddict/openiddict-samples/blob/dev/samples/PasswordFlow/AuthorizationServer/Controllers/AuthorizationController.cs#L84-L91

[code]

Duplicate of https://github.com/openiddict/openiddict-core/issues/671

[2018-10-11 04:05] kinosang commented on #675
If you use the interactive flow, users are redirected to the OpenId Connect when login from the apps, you can filter the authentication requests on the side of OpenIddict to prevent users from unauthorized app (e.g. throw an exception in `AuthorizationController.Authorize`) and return the TenantId within the AccessToken and/or IdToken.

For password flow, just filter the requests in the token endp

[2018-10-11 07:07] MatthijsKrempel commented on #673
`            services.AddOpenIddict()
                .AddServer(options =>
                {
                    options.AddEventHandler<OpenIddictServerEvents.ProcessSigninResponse>(opt =>
                    {
                        var claim = new Claim("CustomClaim", "Contoso");
                        claim.SetDestinations(OpenIdConnectConstants.Destinations.AccessToken);

[2018-10-11 09:56] GuidoNeele commented on #674
Hi @marcrib,

Yes I understand. But what is the best practice in this case? Short lived access tokens and long lived refresh tokens (6 months/1 year) based on client_id? Get a new access token each time the user opens the app?
If I extend the lifetime of the refresh token by that much it probably would be good (for extra security) to tie the token with the device ID, right?

It also would be nice

[2018-10-11 11:11] marcrib commented on #675
But how Auth server will return the Tenant? In each application the user may have a different TenantId
This is my biggest doubt.

I thought about having a project that handles subscription/payment/tenant and users. This way I could control all the rules (subscription/payment/tenant) and return the token

But in several surveys they say that the authserver should only be authserver (only user data

[2018-10-11 11:14] kinosang commented on #675
Create your own tables in your database (the database of your OpenIddict server) to store the TenantId, ApplicationId, and the UserId, btw, create an API for your applications (with client credentials grants) to manage the TenantId.

[2018-10-11 12:37] marcrib commented on #675
I assume that the project that will use OpenIddict will do much more than just user authentication, sure?

[2018-10-11 17:12] kevinchalet commented on #672
In theory, you could do something like that:

[code]

Sadly, this just won't work because `AuthenticationOptions` actually maintains 2 disconnected collections ; so even if you remove the scheme from the dictionary, the scheme will be registered anyway: https://github.com/aspnet/HttpAbstractions/blob/master/src/Microsoft.AspNetCore.Authentication.Abstractions/AuthenticationOptions.cs

What you hav

[2018-10-12 02:50] kinosang commented on #675
It's also provide the APIs, or you can create a standalone Resource Provider project to do that. On a RP, you can validate the access tokens via the Introspection Endpoint.

For more information about the IdP (Identity Provider), RP (Resource Provider) and the client, have a look at https://www.oauth.com

[2018-10-12 03:24] Bartmax commented on #674
@GuidoNeele I think best practice is to have short lived access tokens and long lived refresh token.

My logic is simple as this:
Access tokens have access to the app / data, you normally don't validate the access token on every request, on the other hand, you can always validate when issuing a refresh token.

So if you want to prevent a user for accessing the system for whatever reason, or the ac

[2018-10-12 05:34] ghost commented on #668
Here is the basic code example using int as primary key
https://github.com/alespab/openiddict-replacing-primary-key

Note that I tried different variants, and none works. Similar code works fine with version 1. The problem comes with version 2 giving any kind of error.

[2018-10-12 05:35] ghost opened #676 "Tkey of Int or Guid not working on ReplaceDefaultEntities"
Here is the basic code example using int as primary key
https://github.com/alespab/openiddict-replacing-primary-key

Note that I tried different variants, and none works. Similar code works fine with version 1. The problem comes with version 2 of openIdDict which is giving any kind of error.

[2018-10-12 07:05] #673 closed, assigned to nobody

[2018-10-12 11:25] kevinchalet commented on #676
It works like a charm on my machine (except I had to manually update the .csproj as it referenced a .props file not present in the project, which is a simple copy of the password sample and not a repro of your own).

As I said last time, without a complete strack trace, it's impossible to help you.

[2018-10-15 11:04] ddydeveloper commented on #667
@adadurov  @PinpointTownes, thank you for discussion! Close the issue

[2018-10-15 11:04] #667 closed, assigned to nobody

[2018-10-15 11:15] ddydeveloper opened #677 "Refresh token renew flow"
Morning! Just want to confirm the right way of the refresh token usage.

As I understand from the version 2 we should enable the UseRollingTokens option to get a new refresh_token (every access_token refresh request using refresh_token flow) and revoke an old one. It was by default for the version 1.

A question is how to manage multiple async queries to the API in case when one of them renew the

[2018-10-15 11:46] #675 closed, assigned to nobody

[2018-10-16 13:47] davebat opened #679 "How are tokens regenerated without logging back in"
Hi,

This is less of an issue and more of a query of what is going on behind the scenes, if this would be more suitable for StackOverflow please let me know.

I have a separate client MVC app, a Web Api resource server and authorization server, set up to support the code flow as in the sample provided. I am also using the JWT token format for my access and identity tokens.

Everything is working n

[2018-10-16 14:46] kevinchalet commented on #679
Hey,

You probably didn't realize it - since it's set up for you by `services.AddIdentity()` - but the MVC server sample also uses cookies authentication (separate from the MVC client cookie). It's precisely what keeps the "user session" alive and allows skipping the authentication screen.

To control the duration, you can use the standard Identity extensions:

[code]

[2018-10-16 15:23] davebat commented on #679
Thankyou for your quick response, I had missed that, makes perfect sense now.

Cheers

[2018-10-16 15:23] #679 closed, assigned to nobody

[2018-10-16 22:30] garyapps opened #680 "No way to generate token on behalf of user"
I cannot find a way to generate a token on behalf of a user in my asp.net core web app. How can I generate bearer tokens inside a controller action and return it as part of a view when when using openiddict?

To provide some background -
I am building an asp core website which uses the built in asp identity authentication system. This provides cookie based authentication. The user logs in and can

[2018-10-16 23:53] brett-m commented on #669
I have done exactly the same as @jmelosegui and renamed the tables to a custom schema.

@PinpointTownes , I can confirm that renaming the tables back to the original names that it works; that is the error goes away.

The error is occurring in in OpenIddict.EntityFrameworkCore.OpenIddictScopeStore in method FindByNameAsync.

[2018-10-17 00:16] kevinchalet commented on #669
@brett-m unfortunately, I'm not able to reproduce the error locally: I tested with migrations and without and it worked flawlessly in both cases.

Any chance you could upload a repro?

[2018-10-17 03:49] ghost opened #681 "Should openiddict be in a separate project ?"
It's a more a question than an issue. I am new to the whole identity server world.

I'd like to start from scratch a new web app with an UI (mvc), a backend (webapi) and a database.
Nothing fancy. All in asp.net core.

Usually, I use the System.IdentityModel.Tokens.Jwt package on both ui and backend. I have a login an register views. The controller tied to them calls the backend which will generat

[2018-10-18 17:26] TheElectricCo commented on #645
Thanks, it works 😃
Sorry for the late comment!

[2018-10-20 11:54] kevinchalet commented on #677
Hey,

My recommendation is to avoid using rolling tokens when you know your clients are likely to send concurrent requests, as indicated in https://github.com/openiddict/openiddict-core/issues/462.

If you absolutely want to use rolling tokens, then you'll indeed have to write some synchronization logic to ensure all the instances of your apps don't try to redeem the same refresh token at the same

[2018-10-20 11:59] kevinchalet commented on #680
Generating tokens yourself is something you could do, but it's really not the right solution to your demand.

For the kind of hybrid server-side/SPA apps you describe, I'd probably go with an interactive flow like code and configure the MVC app to use the OIDC client handler developed by MSFT. To make the access token accessible to the JS front-end, you could do something like that and expose it v

[2018-10-20 12:04] kevinchalet commented on #681
Both options are possible. If you have a few first-party clients, no need to have it in a separate project. If you plan to have many third-party clients and expect a more intense workload, you may want to consider putting it in a dedicated app.

OpenIddict by itself doesn't handle the external login step, but in general, you'll let Identity and its account controllers (or built-in Razor Pages UI i

[2018-10-20 14:25] ddydeveloper commented on #677
I am agree that it is a good decision if we are talking about the concurrent token requests.

But what about the refresh token lifetime, is it really securely to have just single token?

[2018-10-20 14:27] kevinchalet commented on #677
https://github.com/openiddict/openiddict-core/issues/462#issuecomment-330270543

[2018-10-21 23:44] ghost commented on #681
Thanks for all the pointers.
I feel that the security I am trying to put in place is too much.

I am planning to just add cookie authentication on the web client with some socials authentication too.
I'll save those user datas using the api without security (they are all in the same secured network).

The web app is not an SPA.

Am i wrong ?

[2018-10-22 09:04] tjpeel commented on #672
Thanks, that's a great help.

[2018-10-22 09:05] tjpeel commented on #672
Thanks, that's a great help.

[2018-10-22 09:36] tjpeel commented on #672
@PinpointTownes actually, sorry, your final comment:

How would this help as the `IConfigureOptions<AuthenticationOptions>` implementation would only be called if I made a call to `AddFacebook()` or `AddGoogle()` etc? This is different to me using `IAuthenticationSchemeProvider`.

Or am I missing something?

Thanks

[2018-10-22 11:33] kevinchalet commented on #672
No, `IConfigureOptions<AuthenticationOptions>` is always called, even if you don't use `AddFacebook()`.

FWIW, registering an `IConfigureOptions<AuthenticationOptions>` is pretty much what `AddFacebook()` and similar extensions do under the hood.

[2018-10-22 13:00] tjpeel commented on #672
Yes, can see it's called, apologies. But I still think I'm missing something in my understanding.

Considering this:

[code]

The above adds the Facebook handler for each company who has a corresponding Facebook auth scheme enabled.

I have also added the following to my startup class:

[code]

But the Configure call of FacebookOptions is never called, as I have never defined any FacebookOptions a

[2018-10-22 13:32] kevinchalet commented on #672
Replace:

[code]
... by

[code]

Sure. Did I say something that made you think otherwise?

If you're happy with `IAuthenticationSchemeProvider`, don't hesitate to use it (I just suggested a different approach that I personally prefer).

[2018-10-22 13:32] #672 closed, assigned to nobody

[2018-10-23 15:45] nurhat opened #682 "Client scope permissions are not checked as expected on version 2.0.0-rc3-final"
Hi,

With password grant type, clients can request any registered scope even if the permission for the scope is not given. Is it an issue with the release or sth else. When I investigate the part of code , it seems it should work as expected.

Thx.
Nurhat

[2018-10-23 16:16] kevinchalet commented on #682
Hey,

Thanks for reporting this security issue, which causes scope permissions to be ignored for public clients (confidential clients are not impacted).

I'll take care of fixing it and make sure it's included in the RTM release.

Thanks!

[2018-10-23 16:23] kevinchalet commented on #682
Fixed by https://github.com/openiddict/openiddict-core/commit/e7c4942777984d677b745af90a25c9352ac90cf7.

New nightly builds should be pushed to MyGet.org within in the next minutes.

Thanks again for reporting it :+1:

[2018-10-23 16:39] mkellsy commented on #334
In the ConfigureServices method add;

[code]

[2018-10-24 07:56] nurhat commented on #682
Thank you for the quick fix,  when it will be released on nuget.org?

[2018-10-24 07:56] #682 closed, assigned to kevinchalet

[2018-10-24 11:09] tjpeel commented on #672
Thanks again for your assistance. And didn't mean to infer any problems with what you had suggested, I was just trying to understand the second approach (hope I didn't cause offence). I've got an example working now based on the change you noted.

From my review/research/testing of OAuth2/OpenID Connect servers/frameworks, OpenIddict has been the best to work with, most logical to implement/custom

[2018-10-24 19:01] blakenorman37 opened #683 "JWT Middleware not getting claims from OpenIddict Issued JWT"
I am using OpenIddict to issue JWT tokens for my spa. I have the JWT being issued, but I am unable to get the claims out of them with the JWT Middleware. I have verified that the claims are being put into the token correctly. Note: I am using EF 6 and I am not using Identity

Startup.cs

    public Startup(IHostingEnvironment env)
    {
        var builder = new ConfigurationBuilder()

[2018-10-25 14:02] kevinchalet commented on #683
Replied here: https://stackoverflow.com/questions/52976122/jwt-middleware-not-getting-claims-from-openiddict-issued-jwt/52991240#52991240

(oh yeah... please avoid crossposting :smile:)

[2018-10-25 14:02] #683 closed, assigned to nobody

[2018-10-26 14:45] tjpeel opened #684 "OpenIddict with SqlLite (in memory) for integration tests"
I'm trying to configure Sql Lite (in memory) for integration tests and I can't seem to get it working. This is my config:

[code]

And for OpenIddict:

[code]

I have a seed process that is run on startup, where I ensure the database is created:

[code]

As a result, I can see the schema being created in logs when running integration tests:

[code]

Yet when my app executes, I get the following er

[2018-10-26 15:02] kevinchalet commented on #684
That's because Sqlite's in-memory databases are cleared when the connection is closed. To work around that, you can create a single connection and share it between all your `DbContext` instances: https://docs.microsoft.com/en-us/ef/core/miscellaneous/testing/sqlite#writing-tests

I'd love to hear more about that. Any chance you could share more info (like the exception type/message/stack trace)?

[2018-10-26 15:30] tjpeel commented on #684
Thanks for the quick reply, much appreciated. Noted re: SqlLite, it's not really what I wanted to use anyway. Regarding my other issue, these are my tests:

[code]

My Startup configuration is as stated in my original post, but using EFCore in memory instead of SqlLite.

Run together, the first test above passes with:

[code]

Yet the second one fails with:

[code]

Run in isolation, the first tes

[2018-10-26 15:34] kevinchalet commented on #684
I'm tempted to think that using `options.UseInMemoryDatabase(nameof(DbContext));` causes EF to share the same underlying in-memory store for all your tests, which may result in the weird things you're describing. You should try with a test-specific name like `options.UseInMemoryDatabase("Exchange_WhenPost_AndValidCredentialsThenReturnsOk");` or something random, e.g using `options.UseInMemoryDatab

[2018-10-26 15:39] tjpeel commented on #684
Funny you should say that, I did actually try it and the same failure happened. But what I did see was that multiple databases were being used in the same request. You can see it with the Guid being different. I'll do it now and post back the detail.....

[2018-10-26 15:46] tjpeel commented on #684
This is the second test output now (note the different Guids for in memory store name):

[code]

Could it be the use of `WebApplicationFactory<Startup>` perhaps?

I'll try refactoring now so the test name can be chained through a test specific startup.

Does feel like the in memory store is being shared though like you say.

[2018-10-26 16:02] kevinchalet commented on #684
Are you using some sort of startup initialization like what we do in the samples, that create a scope to create the applications?

If so, then having 2 different contexts - that are scoped - is expected. Using a fixed test-specific store name could be a nice solution to work around that.

[2018-10-26 16:10] tjpeel commented on #684
Yes, I have this:

[code]

I'm just trying to work out how best I can inject the test name into all the startup behaviour. Feels like some progress though, which is good, thanks again for assistance!

[2018-10-26 16:26] tjpeel commented on #684
Hmmm, same issue. Second test erroring (when run in parallel):

[code]

Then succeeding when run in isolation:

[code]

So it must be something else in my setup that is leading to the problem.

[2018-10-27 14:58] kevinchalet commented on #684
Have you tried to share the `WebApplicationFactory` instead of creating a new instance every time? Assuming you never remove the applications from the in-memory database, it should work fine in parallel.

[2018-10-29 13:12] alejandronic opened #685 ""cannot insert NULL values in the Status column" error since update 1135"
Hi, I', using openIddict in my app made in core2.0/angular.
Since version 2.0.0-rtm-1135 update I can't update my database with the last migration created, because i get this error:
You can not insert the NULL value in the 'Status' column, table 'Salud.dbo.OpenIddictTokens'. The column does not support NULL values. UPDATE error.
I checked Status column and there is several rows with null value in

[2018-10-29 13:37] kevinchalet commented on #685
Hey,

How can i solve this problem being able to continue updating this dependencie?

This property was never supposed to be nullable and we started setting the default status to `valid` in February. In the RTM bits, we're going to fix this oversight and make the column non-nullable.

To solve your issue, simply assign a value - e.g `valid` - to the null entries before executing the migration. E.g

[2018-10-29 13:49] alejandronic commented on #685
Thank you for the quick response.
I didn't want to update the database without asking you first.
I'm using openIddict 2.0 since around november 2017.
I did what you said and it worked.
Thanks again.

[2018-10-29 14:58] #669 closed, assigned to nobody

[2018-10-29 15:59] tjpeel commented on #684
Yes, good suggestion, and this worked when I tried it. However, ideally I'd like to keep things fully isolated and know what my tests setup is actually correct when they run, regardless of running in parallel or within context of a fixture.

I may switch approach and look at mocking the data store instead (similar to how you do things in your tests). I can then remove the need for any in memory EF

[2018-10-29 16:13] kevinchalet commented on #684
Well, in integration tests, running things in parallel against a shared DB is generally a good thing as it allows detecting threading issues that can't be caught easily.

I've considered it but I'm not sure it's worth it now that we have a very good in-memory store in EF Core.

When you have a moment, consider uploading your tests project (that uses EF Core in-memory) somewhere so I can take a loo

[2018-10-29 16:37] tjpeel commented on #684
Thanks, and I will do

[2018-11-01 07:41] a-patel opened #686 "Roadmap of the Stable release of version 2.0 and new features"
What is the estimated date of the Stable release of version 2.0?
And new features and major changes?
How it will handle refresh token scenario?
Which .NET Core framework support?

[2018-11-01 12:16] kevinchalet commented on #686
Later today, with 1.0.0 too.

Compared to RC3? Nope, mostly bug fixes and some improvements based on internal and external feedback.

Same way as previous iterations.

OpenIddict 1.0 runs on >.NET Framework 4.5 and >.NET Core 1.0.
OpenIddict 2.0 runs on >.NET Framework 4.6.1 and >.NET Core 2.0.

[2018-11-01 12:51] a-patel commented on #686
@PinpointTownes thanks.

[2018-11-01 20:20] kevinchalet commented on #686
https://kevinchalet.com/2018/11/01/openiddict-1-0-and-2-0-general-availability/

[2018-11-01 20:20] #686 closed, assigned to nobody

[2018-11-01 20:22] kevinchalet commented on #661
The RTM bits are now available: https://kevinchalet.com/2018/11/01/openiddict-1-0-and-2-0-general-availability/

[2018-11-01 20:22] #661 closed, assigned to nobody

[2018-11-01 20:22] #677 closed, assigned to nobody

[2018-11-05 09:24] ahanoff opened #687 "Use more meaningful message for ValidatePostLogoutRedirectUriAsync"
@PinpointTownes thanks for amazing library.

Today I tried to logout using post_logout_redirect_uri parameter and got the following message:

but after review the source code, I figure out that the actual reason was my client permissions. I had to simply add logout permission:

`OpenIddictConstants.Permissions.Endpoints.Logout`

Is it possible for ValidatePostLogoutRedirectUriAsync function throw

[2018-11-08 09:02] georgeonofrei opened #688 "How can i register the ephemeral key in JWT bearer authentication on the auth server?"
Hello,

First off I want to congratulate you on the great package that you are creating and the OAuth documentation that you have provided in various locations.

In my case, I have an openiddict server that is working fine and in development i am using ephemeral key. I would have liked to use symmetric key, but i am using implicit flow and it's not possible (exception is thrown during runtime).

T

[2018-11-08 09:20] georgeonofrei commented on #684
@PinpointTownes I have a simplistic implementation of in memory stores for dev purposes. If it's useful, let me know where I can put it.

[2018-11-08 09:49] tjpeel commented on #684
@georgeonofrei push to a repo perhaps?

[2018-11-09 09:29] davebat opened #689 "Using the code flow sample how to get the clientId at Login"
Hi,

I am extending identity to be multi tenanted, and as users will be separated by client the clientId seems ideal for this use.

At the login screen on my auth server I would like to access the clientId of the request, but it doesnt seem to be available in the httpContext.

I looked at using  the following in my client

   options.Events = new OpenIdConnectEvents
                {

[2018-11-12 17:52] magnusfox opened #690 "How to customize the authorization error produced by OpenIddict?"
I'm using OpenIddict for auth in a .NET Core 2 API. Client side I'm relying on any API errors to follow a custom scheme. However, when e.g. a refresh token has been outdated, I can't seem to find out how to customize the error sent back.

The /token endpoint is never reached, so the error is not under "my control".

The result of the request is a status code 400, with the following JSON:

{"error"

[2018-11-13 20:26] shakeelosmani opened #691 "Access the value of access_token from the SignInResult"
I have some custom implementation and I need to store the access token, Is it possible to get the properties of access_token like its expiration, the value itself from the SignInResult.

[2018-11-14 13:09] lutvdh commented on #628
@muehan , did you get resolve this issue?

[2018-11-14 20:14] #691 closed, assigned to nobody

[2018-11-14 20:14] shakeelosmani commented on #691
Will open as a questions

[2018-11-16 09:37] TerraVenil opened #692 "Customization response of endpoint ```/connect/token```"
Hi! Is it possible to enhance response to endpoint ```/connect/token```, for example with additional field like ```expires_at``` which contains time of expiration not just a seconds (```expires_in```) as a recommended per OAuth2 spec? One of the pros for that to skip calculation logic on the client to track token expiration. Besides as I understand when response generated we already have current p

[2018-11-16 20:45] felipesantanadev opened #693 "OpenIddictApplication is not included in the model for the context"
I have read similar issues in order to try solving my problem, but I didn't find any answer that could help me.

I'm trying to find an client application:

`var clientApplication = await _applicationManager.FindByClientIdAsync(client.ClientId);`

But I'm getting the error:

That is my configurations:

[code]
Those extensions are applied in my Web API:

[code]

I think OpenIddictDbContext is not lo

[2018-11-19 16:28] xperiandri commented on #287
Is custom revocation logic required?

[2018-11-20 10:34] ddydeveloper opened #694 "Migration rollback failed"
Good morning!

I've updated the following packages:
OpenIddict
OpenIddict.Core
OpenIddict.EntityFrameworkCore
OpenIddict.Mvc

2.0.0-rc3-final to "2.0.0

After I've created migration with the set of openiddict schema changes. Update-database was successfully but, unfortunately, I can't rollback to the previous migration, the error is:

DECLARE @var6 sysname;
SELECT @var6 = [d].[name]
FROM [sys].[de

[2018-11-20 16:59] Kukks opened #695 "ValidateAsync does not cater for Updates"
Trying to update an existing Application however the `OpenIddictApplicationManager` throws a validation error saying that `An application with the same client identifier already exists` even though I am doing an `Update` and not `Create`

[2018-11-21 13:26] marcrib opened #696 "ROPC is secure? Which flow to choose?"
I recently read that ROPC may have several security holes, this link addresses some of them:
https://tools.ietf.org/html/rfc6749#section-10.7
brute force, save password in client log, others ...

What is your opinion about this?

I think it should be a question that many novice developers, like me

Which flow to choose when your client is just a SPA and a mobile app?

[2018-11-21 13:28] Kukks opened #697 "EventHandler examples for Authorization and Logout"
With the introduction of EventHandlers, it seems possible to get rid of that mysterious "technical debt"  Authorization Controller every OpenIddict into a cleaner pattern, thanks! I've successfully converted the grant type handling into the new pattern .

I am talking about these(they require the context to challenge/forbid the user):
[code]

[2018-11-22 23:22] frankvdb7 commented on #693
I'm also receiving this error doing something like this in my application. Debugging shows that the OpenIddict models are indeed missing in the entity list of the datbase context.

[2018-11-22 23:37] kevinchalet commented on #693
@itsfelipesan what's the type of the `_applicationManager` field? I suspect you're using `OpenIddictApplicationManager<OpenIddictApplication>` instead of `OpenIddictApplicationManager<OpenIddictApplication<long>>`.

If you don't care about the actual entity type, you can also use `IOpenIddictApplicationManager`, which is not generic.

@fmavdb you should post some code. Otherwise, it's hard to say

[2018-11-22 23:41] frankvdb7 commented on #693
Adding OpenIddictApplication<long> works! It's very easy to overlook something like this, I'm glad it's solved, thanks!

[2018-11-23 15:38] Materix opened #698 "Refresh token cannot be found in the database."
I have two tests. Both perform refreshing token. When I run it one after another, the second one always fails with response:
[code]
and in logs I have message:
[code]

After digging I found that `OpenIddictTokenStore.FindByIdAsync` during second test returns `null`
Watch window with defined watches when stopped on first line of `OpenIddictTokenStore.FindByIdAsync([NotNull] string, CancellationToke

[2018-11-23 15:59] jonathanantoine commented on #684
please share it with us @georgeonofrei  :)

[2018-11-23 22:18] javico2609 commented on #692
i need too this feature, to change token_type for TokenType and access_token = AccessToken

[2018-11-23 22:20] javico2609 opened #699 "Add Versioning using Microsoft.AspNetCore.Mvc.Versioning"
Hi, how can Versioning options.EnableLogoutEndpoint() using Microsoft.AspNetCore.Mvc.Versioning ?

[2018-11-27 04:19] petedavis commented on #149
Hey @PinpointTownes, I found a way to invoke this behaviour. Using Postman to request a token, if you add openid to the list of scopes then you will get this error. Is this expected behaviour?

![image](https://user-images.githubusercontent.com/164331/49058430-e8fe7e00-f253-11e8-92d6-a773a5dc9329.png)

[2018-11-27 14:14] #696 closed, assigned to nobody

[2018-11-27 15:16] kevinchalet commented on #149
@petedavis hey.

Yep, it's completely expected: in OpenID Connect, implicit flow requests must include a nonce, which is unfortunately not sent by Postman (which is a pure OAuth2 client).

To avoid that, simply don't send the `openid` scope: OpenIddict will fall back to a "legacy" mode and accept your `response_type=token` request, even if it doesn't include `nonce`, which would be required for an

[2018-11-28 14:59] kevinchalet commented on #687
Thanks for the kind words! :+1:

We can certainly update the log message to make that clearer. Would you like to send a PR?

[2018-11-28 15:22] kevinchalet commented on #688
Hey,

Thanks for the kind words!

You can register multiple keys: symmetric keys will be preferred for access tokens, while only asymmetric keys will be used for identity tokens.

A super simple solution would be to populate the JWT options from the OpenIddict server options. Here's an example (it requires ASP.NET Core 2.1):

[code]

You could write and register a custom `IConfigureOptions<JwtBear

[2018-11-28 15:25] kevinchalet commented on #689
Hey,

For multi-tenancy, my recommendation is to go with a single OpenIddict/OpenID Connect client handler and multiple options, resolved per request:
  - https://stackoverflow.com/questions/49596938/openid-connect-identifying-tenant-during-login
  - https://stackoverflow.com/questions/52955238/how-can-i-set-the-authority-on-openidconnect-middleware-options-dynamically/52977687#52977687

If you pr

[2018-11-28 15:28] kevinchalet commented on #694
Hey,

Honestly? No idea :smile:

I've tested the "normal" path and decided to revert some of the schema changes introduced in RTM to ensure everyone could migrate flawlessly, but I haven't tried the opposite way.

That said, all these changes are minor tweaks (mostly column length changes). You should be able to use the latest schema with OpenIddict RC3.

[2018-11-28 15:30] kevinchalet commented on #695
This error is only returned if we can find an existing entry in the database with the same key AND if the keys of the updated and existing applications don't exactly match (binary comparison):

What's the key type you're using? Is there a chance two calls to `GetIdAsync` might produce different results for the same entity?

[2018-11-28 15:31] ddydeveloper commented on #694
@PinpointTownes Hey, thank you for reply!

I hope there will be no needs to rollback the DB schema :) But just wanted to be sure that there won't be unexpected problems!

[2018-11-28 15:31] #694 closed, assigned to nobody

[2018-11-28 15:36] kevinchalet commented on #697
Glad you like it!

I wrote a few samples in the post introducing the event model, including one showing how to use `notification.Context.Validate()` and `notification.Context.Reject()`, which is what you're looking for: https://kevinchalet.com/2018/07/02/implementing-advanced-scenarios-using-the-new-openiddict-rc3-events-model/

That said, I encourage you to keep using MVC if your application has

[2018-11-28 15:40] kevinchalet commented on #698
Hard to tell without having a repro. Would you mind posting a minimal one on GitHub? (one that builds and runs, please :smile:)

[2018-11-28 15:45] kevinchalet commented on #696
Technically, the ROPC flow is very much like the API equivalent of any login page, so I have nothing against it as long as it's properly used (I know some identity experts would like to kill it, but that's not my case).

You can find more information about ROPC (and the other flows) here: https://kevinchalet.com/2016/07/13/creating-your-own-openid-connect-server-with-asos-choosing-the-right-flows/

[2018-11-28 15:50] Kukks commented on #697
What about for
[code]

I am guessing Validate and Reject don't make sense here? (we don't have consent forms)

[2018-11-28 15:53] Kukks commented on #695
Using the default key type, `string`.
No, no chance for that.
 I have a custom application type, but still the same key and only added fields.

[2018-11-28 16:06] kevinchalet commented on #697
`await notification.Context.HttpContext.SignOutAsync(notification.Context.Scheme.Name);`

[2018-11-28 16:12] Kukks commented on #697
That will actually cause an except stating something  along the lines of cannot start request when it has already started (mentions `OnStarting`)

[2018-11-28 16:17] kevinchalet commented on #697
You probably forgot to call `notification.Context.HandleResponse()` to inform the authentication stack you handled the response yourself?

[2018-11-28 17:30] Kukks commented on #697
That's the one! Thanks :D

[2018-11-28 17:30] #697 closed, assigned to nobody

[2018-11-28 17:46] javico2609 opened #700 "how disable the client credentials automatically validated ?"
how disable the client credentials automatically validated ?

[2018-11-28 17:53] kevinchalet commented on #699
Hey,

I'm tempted to think that endpoints that follow very strict standards like OAuth2 or OpenID Connect don't need to be versioned, as you can't introduce breaking changes without breaking the specification.

If you absolutely need this feature, you can use the OpenIddict event model to customize the routes resolution logic. E.g:

[code]