[2015-10-04 18:02] kevinchalet opened #1 "Add a README.md file"

[2015-10-05 10:00] ilmax opened #2 "Allow custom Application retrieval logic on DbContext"
To allow easy plug in of custom business logic, it would be nice to avoid using DbContext directly, and instead depending on some kind of abstraction (e.g. OpenIddictManager/Store) and provide a default implementation.

[2015-10-09 17:41] Bartmax opened #3 "Customize Views"
Currently views are loaded as embedded resources that cannot be changed without affecting the source package.

Ideally we could use something like this: https://github.com/aspnet/FileSystem/issues/49 if it's ever implemented.

[2015-10-16 17:34] kevinchalet commented on #1
Assigned to you, @Bartmax :smile:

[2015-10-19 21:10] kevinchalet opened #9 "Implement userinfo support"
ASOS now supports userinfo requests: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/pull/97

[2015-10-20 19:22] kevinchalet opened #10 "Implement client_secret hashing/key derivation"
Currently, `client_secret` is stored as-is in the database. Implementing key derivation + hashing would help mitigating the risks of a database leakage and make brute force attacks harder.

aspnet/Identity has a password hasher that could be used for this exact purpose: https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNet.Identity/PasswordHasher.cs. Sadly, it requires a `TUser` paramet

[2015-10-20 20:53] Bartmax commented on #10
Does the aspnet/identity `PasswordHasher` even use the `user` ? can't see any reference on code.

[2015-10-20 20:56] Bartmax commented on #1
Here is a draft https://github.com/openiddict/core/pull/12. How can I link the PR to this issue ?

[2015-10-21 07:06] henkmollema commented on #10
@PinpointTownes you could have just asked :smile:

~~What do you mean by deprecated CoreFX packages?~~
I'll update the package.

[2015-10-21 08:18] henkmollema commented on #10
@Bartmax the Identity implementation is indeed somewhat strange. The reason behind it is to provide access to the user when implementing your own password hasher. See https://github.com/aspnet/Home/issues/765#issuecomment-124702657.

[2015-10-21 08:19] henkmollema commented on #10
@PinpointTownes I've updated [CryptoHelper](https://www.nuget.org/packages/CryptoHelper) in case you still need it.

[2015-10-21 10:24] kevinchalet commented on #10
@henkmollema fantastic, thanks! :+1:

[2015-10-21 12:16] kevinchalet opened #14 "Consider constraining NWebSec to OpenIddict endpoints"

[2015-10-21 12:21] kevinchalet opened #15 "Add missing code documentation"

[2015-10-21 19:00] kevinchalet opened #16 "Implement automatic scope support"

[2015-10-21 19:23] kevinchalet opened #17 "Implement authorization storage"
In the current bits, the authorization consent form is always displayed. We should add a new `Authorization` model and offer an option to avoid re-displaying the consent form.

[2015-10-21 19:29] kevinchalet commented on #9
I'll take this one :clap:

@ilmax @Bartmax what should we expose? The username, the email address, the name?

[2015-10-21 20:32] ilmax commented on #9
What about exposing all claims of current users by default, and allow the user to confirue a UseinfoClaimFilter to select wich claim hide?

[2015-10-21 20:47] kevinchalet opened #18 "Add built-in logging"
We should update `OpenIddictManager` and/or `OpenIddictProvider` to log important events, like ASP.NET Identity does: https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/UserManager.cs#L586

[2015-10-21 20:52] kevinchalet commented on #9
Not sure how I feel exposing all the claims by default, specially since one could store critical claims that are not directly related to the user's profile, like access tokens.

I think we should only expose the standard claims defined by the OIDC specs: http://openid.net/specs/openid-connect-core-1_0.html#StandardClaims

@Bartmax your thoughts?

[2015-10-21 21:41] Bartmax commented on #9
Let's have a IList<Claims> UserInfoClaims that the developer can add any claim with the standard claims defined by OIDC as default and expose those.

[2015-10-21 21:51] ilmax commented on #9
LGTM

[2015-10-21 22:14] kevinchalet commented on #9
Postponed until https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/109 is done :tada:

[2015-10-23 00:25] kevinchalet commented on #2
Fixed: https://github.com/openiddict/core/pull/8 :tada:

[2015-10-23 00:25] #2 closed, assigned to kevinchalet

[2015-10-23 14:09] kevinchalet opened #21 "Consider implementing the client credentials grant"
https://tools.ietf.org/html/rfc6749#section-4.4

ASOS exposes a `GrantClientCredentials` method in `OpenIdConnectServerProvider` for this exact scenario.

[2015-10-24 16:46] kevinchalet commented on #9
Done: https://github.com/openiddict/core/pull/19

We may re-consider adding a extensibility hook in the future.

[2015-10-24 16:46] #9 closed, assigned to kevinchalet

[2015-10-24 17:31] kevinchalet opened #22 "Support EF contexts that don't inherit from OpenIddictContext"
`OpenIddictStore` only supports contexts derived from `OpenIddictContext`.

[2015-10-24 17:31] kevinchalet commented on #22
Fixed: https://github.com/openiddict/core/commit/002eff080fa57e950f01d7fd99c379c9b65a79b3

[2015-10-24 17:31] #22 closed, assigned to kevinchalet

[2015-10-24 21:01] Bartmax commented on #22
:+1: greatt!!

[2015-10-24 21:23] Bartmax opened #23 "User UI management out of the box."
We should provide a UI to manage users out of the box.

User creation, listing, editing, claims inspection/modification, revocation, token issued, etc.

[2015-10-26 19:31] kevinchalet commented on #3
Will be fixed via https://github.com/openiddict/core/pull/25 :dancers:

[2015-10-29 14:37] kevinchalet opened #26 "Reject authorization requests using the implicit/hybrid flow when the client is a confidential application"
To prevent downgrade attacks (code -> hybrid/implicit), `OpenIddict` must be updated to reject authorization requests using the implicit/hybrid flow.

[2015-10-29 14:40] kevinchalet commented on #26
Done: https://github.com/openiddict/core/commit/50eb0c94bd301e42d41ec4cb1a544e7554f600f2 :stars:

[2015-10-29 14:40] #26 closed, assigned to kevinchalet

[2015-10-29 19:31] kevinchalet commented on #10
Re-assigned.

@henkmollema surprisingly, the following snippet crashes on DNX CLR when using the latest version (but it used to work with the first version):

[code]

FYI, `PasswordHasher` works as expected:

[code]

[2015-10-29 20:12] henkmollema commented on #10
Oops, I introduced a bug in reading some copying of byte arrays. I'll fix it ASAP.

[2015-10-29 20:39] henkmollema commented on #10
@PinpointTownes fixed: https://www.nuget.org/packages/CryptoHelper/1.0.0-rc1-build03 :sparkles:

[2015-10-29 21:26] kevinchalet commented on #10
Woot, thanks, it now works like a charm! :+1:

[2015-10-30 11:50] kevinchalet commented on #10
Done: https://github.com/openiddict/core/commit/4a318920caa3ab7a2bdb6f634148bf2a5db461b6.

[2015-10-30 11:50] #10 closed, assigned to kevinchalet

[2015-11-05 11:52] kevinchalet commented on #3
Wooops, forgot to close this ticket :smile:

Merged: https://github.com/openiddict/core/commit/7795fbe7958e2683330a94606fd529c79d3daae6

[2015-11-05 11:52] #3 closed, assigned to kevinchalet

[2015-11-06 00:41] kevinchalet commented on #21
Done: https://github.com/openiddict/core/commit/d296738afef6012fcb65c28878d0620b5f2529d5

[2015-11-06 00:41] #21 closed, assigned to kevinchalet

[2015-11-06 12:09] kevinchalet commented on #1
Done: https://github.com/openiddict/core/commit/ae38ba119360ae2d30f34f15bb952d55793a9a49 :tada:

[2015-11-06 12:09] #1 closed, assigned to Bartmax

[2015-11-07 00:23] kevinchalet commented on #14
@ilmax @Bartmax still no sign of a port of NWebSec for vNext. Should we simply replace it by something else, that would also work on CoreCLR?

[2015-11-07 00:28] kevinchalet opened #28 "Implement CORS support"
In the current bits, the CORS support is far too large (we use wildcards everywhere :smile:) and needs to be fully re-worked.

[2015-11-08 02:16] kevinchalet opened #29 "Add native support for prompt=login and max_age/auth_time"
http://openid.net/specs/openid-connect-core-1_0.html#IDToken
http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest

[2015-11-09 21:31] ilmax commented on #14
Maybe we should ping @klings :)

[2015-11-10 07:57] klings commented on #14
Hey guys, you're well underway with your ASP.NET 5 support? Which NWebsec libraries have you been using, the middleware? ASP.NET 5 support is next in line for NWebsec, but there's no trace of it on GitHub as I've been poking around with the new ASP.NET locally so far.

[2015-11-11 23:41] kevinchalet commented on #14
Hey André (and sorry for the late answer)! :smile:

Actually, OpenIddict is totally new and was designed from scratch for ASP.NET 5, but ASOS (the OpenID Connect library behind this project: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server) comes with a default sample that demonstrates how to use NWebSec with ASP.NET 5 for a long time now (more than a year, actually: https://

[2015-11-12 04:05] damccull opened #30 "Rename Application model ID property for better inheritance"
@PinpointTownes I would like to suggest renaming OpenIddict.Models.Application.ApplicationID to OpenIddict.Models.Application.Id to allow for better inheritance in EF. If I name my class something different (MyApplication), then I can't use ApplicationID as the EF id because EF expects it to be named either "Id" or "MyApplicationId". There is an annotation you can put on the field to tell it which

[2015-11-12 11:19] kevinchalet commented on #30
Good idea! Wanna submit a PR? :smile:

[2015-11-12 18:39] damccull commented on #30
Sure! Give me a day or two.

On Thu, Nov 12, 2015, 05:19 Kévin Chalet notifications@github.com wrote:

[2015-11-13 13:59] damccull commented on #30
Pull request https://github.com/openiddict/core/pull/31

[2015-11-13 14:02] kevinchalet commented on #30
Merged, thanks: https://github.com/openiddict/core/commit/592cca06f07cd0e69186b96b8ca7810d27bd71e8 :clap:

[2015-11-13 14:02] #30 closed, assigned to nobody

[2015-11-28 09:46] ghost commented on #23
In my opinion the authorization server is not responsible for providing a user management UI. This could be done by a plugin, e.g. OpenIddict.UI? What do you think?

[2015-11-28 14:10] kevinchalet commented on #23
Yup, ideally, this new management should have its own repository :smile:

[2015-11-30 21:03] kevinchalet opened #32 "Implement native refresh token storage"
Definitely something we'll want to implement when https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/181 is done :smile:

[2015-12-04 17:11] kevinchalet opened #33 "Add built-in support for ASP.NET Identity's security stamp"
OpenIddictProvider`and`OpenIddictController`will have to be updated to automatically add the security stamp to the authentication tickets they issue and`GrantRefreshToken` will be implemented to reject the refresh token requests that uses revoked security stamps.

[2015-12-05 16:00] #33 closed, assigned to kevinchalet

[2015-12-06 20:50] klings commented on #14
I've made progress and the first version of the vnext packages are out. This includes ASP.NET 5 middleware, as well as an updated MVC package. It's a gamma release, as I'll have to make a few minor breaking changes before I'm happy calling it an RC. Still, it works (mostly) as before, and should be safe to "put in production". The middleware is almost identical, but there were a few system.web spe

[2015-12-07 06:20] singlewind opened #35 "signin-oidc where this redirect url get set on client?"
Firstly, I'd like thank you guys' effort to make that all happen. I'm very close to finish my own server by spy your code. I have a question may be for the team is the redirect_uri is always something signin-oidc when I use Microsoft.AspNet.Authentication.OpenIdConnect on a client. Is this we should implement or I have missed a middleware on the client.

[2015-12-07 06:34] singlewind commented on #35
Finally, I found the source code of Microsoft.AspNet.Authentication.OpenIdConnect. We should not worry about the signin-oidc. It should be handled by middleware.

[2015-12-07 08:49] kevinchalet commented on #35
Yep, `signin-oidc` is the default value used by the OIDC client middleware. You can change it via `OpenIdConnectOptions.CallbackPath`: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNet.Authentication.OpenIdConnect/OpenIdConnectOptions.cs#L51

[2015-12-07 22:53] singlewind commented on #35
@PinpointTownes thanks. Does this need to be handled by implementing an action or it will catch by OpenIdConnect middleware?

[2015-12-07 22:54] kevinchalet commented on #35
It's automatically handled by the OIDC middleware itself, no need for a custom middleware or an MVC action :clap:

[2015-12-07 23:06] singlewind commented on #35
@PinpointTownes Thanks very much. Save my day. I got error in this OIDC. Will have a look the source code to figure out what is wrong.

[2015-12-07 23:07] kevinchalet commented on #35
Curious: what's the error you're seeing?

[2015-12-07 23:16] singlewind commented on #35
![image](https://cloud.githubusercontent.com/assets/7637/11642855/086bb480-9d8c-11e5-9818-d6866291a2af.png)
It happens when user approve the application. I will think I did something wrong. It doesn't happen in your sample/demo. Will let you know when I have some updates.

[2015-12-07 23:17] kevinchalet commented on #35
Hum, interesting, it seems that the userinfo (= profile) endpoint returns a 500 error.
Have you tried enabling tracing to see what could be causing that?

[2015-12-07 23:18] kevinchalet commented on #35
I reopened the ticket to make sure we're tracking the underlying error, just in case it would be an ASOS bug.

[2015-12-08 01:26] kevinchalet commented on #14
Woooo, it looks really nice, we'll give it a try ASAP! :tada:
Thanks for the info, André.

/cc @damccull

[2015-12-08 02:17] singlewind commented on #35
@PinpointTownes, the error is because the context.Request.Prompt is null, it is not "none" as we expected. I will keep looking.

[2015-12-08 02:30] kevinchalet commented on #35
Are you sure it's related? It sounds hardly related to the fact you get a 500 response from the userinfo endpoint. Can you share the logs of your OpenIddict server app?

[2015-12-08 02:30] kevinchalet commented on #35
(if you prefer keeping them private, you can send them via Gitter, in PM)

[2015-12-08 03:14] singlewind commented on #35
@PinpointTownes, I don't mind to share the log. It is still in early age. Nothing is really secret. I found the issue may related to missing audience. But I think I have specified Audience in OpenIdConnect already.

[code]

[2015-12-08 03:28] singlewind commented on #35
I did wrong. I should branch the jwt middleware just for api calls, not every requests as the another demo you have built.

[2015-12-08 15:18] damccull commented on #14
Just waiting on rc2 HTTPS bug to be fixed so I can use it properly. I'll be submitting an issue on it today.

[2015-12-08 15:22] kevinchalet commented on #14
FYI, it's not a bug. See my remark on JabbR :clap:

[2015-12-08 15:54] damccull commented on #14
Haha! Looking.

On Tue, Dec 8, 2015, 09:22 Kévin Chalet notifications@github.com wrote:

[2015-12-08 22:14] kevinchalet commented on #35
For your audience issue, take a look at http://stackoverflow.com/questions/32798244/separating-auth-and-resource-servers-with-aspnet-security-openidconnect-the-au/32801010#32801010 :smile:

[2015-12-09 05:04] damccull commented on #14
Today we merged in an update using the aspnet5 nwebsec middleware (https://github.com/openiddict/core/pull/37). I'm looking at how to allow OpenIddict users to set the CSP headers themselves.

[2016-01-02 20:40] capesean opened #40 "Relax the refresh token policy to exclude client_id & client_secret"
A public client needs to send the client_id and client_secret in order to refresh a token. It would be much better to relax this constraint and let the refresh token be used without needing to send this information, or using workarounds like hidden frames and cookies, etc.

[2016-01-03 15:49] kevinchalet commented on #40
Here's the relevant check (in `OpenIddictProvider.ValidateTokenRequest`):

[code]

As mentioned in the associated comment, client authentication is **required** by the OpenID Connect core specification so we shouldn't - _in theory_ - allow public applications to use the refresh token grant.

That said, I agree this is not ideal from a usability perspective (specially when using the resource owner

[2016-01-03 18:03] chrisjmccrum commented on #40
I second that, from a usability perspective, requiring the client authentication should be optional.  We're in the midst of developing a front end angular app and are jumping through unnecessary hoops to use refresh tokens. Inevitably with the help of the community we are circumventing this obstacle but it all seems like a round-a-bout solution to a simple adjustment to the OpenID Connect specific

[2016-01-04 23:33] #40 closed, assigned to kevinchalet

[2016-01-06 17:16] #35 closed, assigned to nobody

[2016-01-06 20:47] Gillardo opened #43 "Using rc2 nightly builds fails"
Currently the nightly builds are beoken with a webapplication exception in startup.cs.  is there not a normal nuget package i can refernece to use this??

[2016-01-06 21:07] kevinchalet commented on #43
The nightly builds work fine, and no, there's no "normal" NuGet package, only RC2 nightly packages.

[2016-01-06 21:21] Gillardo commented on #43
If i create a new web application and follow the instructions on the readme file it errors....

[2016-01-06 21:26] kevinchalet commented on #43
I'm not really good at psychic debugging. If you don't share - at least - the error message you're seeing, there's nothing we can do for you.

[2016-01-06 21:43] Gillardo commented on #43
Sorry not at laptop atm. It is something about webapplication but i will get the error for u later

[2016-01-06 21:44] Gillardo commented on #43
I was doing it with a brand new application thus why confused. Will post error as soon as i can

[2016-01-06 23:16] jimnorth55 commented on #43
Pardon my jumping in here, but I have a related question...  If I want to incorporate OpenIddict into an existing "rc1-final" solution (consisting of several projects), is it a requirement that I convert the entire Solution to use rc2 nightly builds for all asp.net 5 dependencies?   Thanks.

[2016-01-06 23:19] kevinchalet commented on #43
Yes, you can't mix RC1 and RC2 packages in the same application (at least, not without seeing tons of exceptions at runtime :smile:)

[2016-01-07 22:31] kevinchalet commented on #43
@Gillardo are you still seeing an error?

[2016-01-08 12:41] Gillardo commented on #43
Yes i am, but i do not think it is your code, but maybe you can still help.  I have updated all my packages to rc2, but when i build, this line is invalid

[code]

If i add a using like so `using Microsoft.AspNet.Hosting.Internal;`

Then it appears that the Run method is no longer there??

What do i need to change this to?  Really want to try out your software, so if you can help, that would be gr

[2016-01-08 12:44] kevinchalet commented on #43
The hosting API has been completely revamped: https://github.com/aspnet/Announcements/issues/131

Take a look [at this commit](https://github.com/openiddict/core/commit/ec34de77244b1dd6235cff99e46c22ef91c09c0c) to see how we fixed the OpenIddict samples to use the new API.

[2016-01-08 12:52] Gillardo commented on #43
Thank you!!!! I will now try and install your software

[2016-01-08 12:52] #43 closed, assigned to nobody

[2016-01-08 13:19] Gillardo opened #44 "Invalid object name 'Application'"
I have finally got my application running on rc2 (brand new web application so i can test your software).

Now i have followed all the steps on the readme and my project builds.  Problem is that this run in my startup.cs file is causing an error.

`if (!context.Applications.Any())`

When this line executes my sql database is created, but the Application table is completely missing? I have deleted

[2016-01-08 13:27] kevinchalet commented on #44
Have you tried the samples?

[2016-01-08 14:47] Gillardo commented on #44
I have not, i wanted to start with a clean project to start with, so i could follow everything.  I can try a sample project, which one do i need, Server or Client?

[2016-01-08 15:02] Gillardo commented on #44
Right, i have narrowed the problem down, and found out what is causing the error.  Not sure if this is my mistake, or whether the readme file needs to be updated.  In a default webApplication, this appears in the startup.cs file.

[code]

I have not got my site in development mode, so it is calling the Database.Migrate() method.  I am not sure why the Application table is not created, because this

[2016-01-08 17:29] jimnorth55 opened #45 "Embedding OpenIddict in MVC app question"
It appears that your Mvc.Server sample would provide a starting place for building an MVC application with an embedded OpenIddict server.  Is this correct, and are there any caveats?

[2016-01-09 23:40] singlewind commented on #44
Make sure your application DataSet is inside your ApplicationDbContext and the OnModelCreating has code to create the application table. If database already exists, you need create the migration code as well.

[2016-01-10 06:25] Gillardo commented on #44
Dbset added as tried inheriting from openid context as well as using own
and it compiles successfully.

Database didnt exist so would expect Application table to be created like
all other tables are
On 9 Jan 2016 23:41, "Yue Zhou" notifications@github.com wrote:

[2016-01-10 12:53] kevinchalet commented on #45
Yes, the Mvc.Server sample demonstrates how you can integrate your own OpenID Connect server to support interactive flows (which is the recommended approach).

We don't provide a sample for the resource owner password grant yet, but @capesean wrote [one for his blog](http://capesean.co.za/blog/asp-net-5-jwt-tokens/): https://github.com/capesean/openiddict-test.

[2016-01-10 13:10] kevinchalet opened #46 "Consider moving to a template generation model"
Currently, `OpenIddict.Mvc` exposes a special (generic) controller and a few embedded assets/views to handle the entire authorization flow. Though really convenient for people who don't want to customize the controller or the view models, this approach offers a less flexible experience than the generated controller/models used by Identity.

The question is: should we move to a template generation

[2016-01-10 13:26] jimnorth55 commented on #45
Thank you for your time and assistance!

On Sun, Jan 10, 2016 at 7:54 AM, Kévin Chalet notifications@github.com
wrote:

[2016-01-10 20:53] Bartmax commented on #46
There isn't a really and standard way of managing controllers/view. That's something I would expect to change soon since is a request for various authors, and even more now that everything is more "composable".

That being said, I think the normal workflow for someone is to :
- install package
- quickly make it work and get a feel of it
- customize little
- use it lightly
- customize heavily.

If

[2016-01-13 11:27] #44 closed, assigned to nobody

[2016-01-13 11:27] Gillardo commented on #44
This was an issue with the DI.  All sorted now

[2016-01-13 11:38] Gillardo opened #47 "Question: How can i get a token from a controller?"
Creating a webApi using asp.net 5, but i do not want to use cookies, and i have implemented googleAuthentication.  This doesnt work using the standard SignInManger, as for some reason i get an error message saying No authentication handler is configured to authenticate for the scheme: Microsoft.AspNet.Identity.External, as i have logged on StackOverflow http://stackoverflow.com/questions/34763335/

[2016-01-13 14:50] kevinchalet commented on #47
This is not something we support (at all): https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/194#issuecomment-165212679

Though popularized by well-known libraries like Satellizer, the flow you're trying to implement - that consists in starting the authorization process from your JS app and making the token request server-side - is not really standard and thus, not supp

[2016-01-13 15:41] atrauzzi commented on #46
Here's my first round of thoughts on the matter... I'm sure additional information could influence how I feel, so do help me out if I have something wrong here :)

In my travels creating packages for a different framework and language (although with similar challenges and structures to ASP.NET & C#), I landed on the practice of including controllers in my package, but not trying to wire them into

[2016-01-13 15:55] Gillardo commented on #47
So the accountController needs a server side view, like the ones in the example?  Does this also allow you to "not" use cookies?  Just want to get this work asap, but the right way as well.

Happy to help on a sample, that would really help me.  What would you like me to do?  I can strip my current application, to a very basic with angular and satellizer if you want?

[2016-01-13 16:09] kevinchalet commented on #47
True, you'd need server side views to render the login page (and you'd have to use cookies, at least during the login process).

Yeah, having a basic Angular/Satellizer app would be nice :+1:

[2016-01-13 17:02] Gillardo commented on #47
Working on one now :+1:

[2016-01-13 19:58] sashasochka commented on #43
Possible somebody knows if it's possible to use rc2 projects on Azure App Service? Does it support rc-2 version of dnx?

[2016-01-13 23:23] Gillardo commented on #47
This is harder than i thought, i have created a basic app, but because the angular app is on the Index page, you cant just open the server side Accounts page, as this will lose the angular app, and thus Satellizer will not work.  I am figuring out something else though, so will keep you posted

[2016-01-14 03:32] ctolkien commented on #23
What's the thoughts on this needing to integrate with an existing "admin" system that would be part of the application? Or should it be entirely standalone as per the reeeaally old asp.net membership UI that was shipped previously?

[2016-01-15 09:39] Gillardo commented on #47
Right, i am created a basic angular app (using the Mvc.Server as a template) and i can open a window, login and callback to the angular app.  How can i get the accessToken for the logged in user??

[2016-01-15 14:07] soeron opened #48 "Question on OpenidDict"
Hi! Thank you for the effort you put on the project!
I am trying to achieve some sort of architecture like on the picture, which eventually will have to become on premise multiuser system.

![idsrv](https://cloud.githubusercontent.com/assets/726938/12354733/82200e5c-bba0-11e5-913a-ce37f7fe138e.jpg)

There will be any number of services which may or may not talk to each other.
WebAPIs will be consu

[2016-01-15 16:20] kevinchalet commented on #48
Sure.

As mentioned in the README, the user management part is handled by ASP.NET Identity 3 itself (which includes username/password authentication and external provider association).

There's deliberately no provider-specific features in OpenIddict, as external authentication (with a well-known social provider like Google or Facebook or with your own server) can be easily implemented using the A

[2016-01-15 16:45] soeron commented on #48
Hi there.
Which version of what?
I am using dev branch of OpenidDict and rc2 of asp.net.
Just playing around and creating PoCs. For the ADFS I will probably want to support ADFS2, but since the intention is to target full framework, then I think it wont be such problem. There are few examples how to validate against DC using ASP.NET4 and with some tweaks managed to run on dnx451 which for now is o

[2016-01-15 16:52] kevinchalet commented on #48
Of ADFS.

So yeah, with ADFS2, it's pretty much the easiest approach.

As long as you can create a `ClaimsIdentity`/`ClaimsPrincipal` with at least a unique `ClaimTypes.NameIdentifier` claim and use Identity's `SignInManager` (or the ASP.NET 5 authentication API it uses internally) to create an authentication cookie, then it should be fine for OpenIddict.

[2016-01-16 08:31] Gillardo opened #49 "Bearer not working?"
I have setup my code as stated on the readme file, but when i call my resourceController i get an error saying **Authorization failed for the request filter.**

The only changes i have done to use Bearer is thus

[code]

My resourceController looks like so

[code]

To call this, i call http://localhost:5000/connect/token with a valid username and password, and then using the accessToken string ret

[2016-01-16 13:28] kevinchalet commented on #49
As mentioned in the sample, you need another middleware to validate the bearer tokens: https://github.com/openiddict/core/blob/dev/samples/Mvc.Server/Startup.cs#L64-L66

Add the validation middleware, remove `options.Options.AuthenticationScheme = OAuthValidationDefaults.AuthenticationScheme;`and it should work.

[2016-01-16 15:11] Gillardo commented on #49
This worked perfectly, sorry for the stupid question. Since you answered that question so well :), could you help me with another problem?  When a user is authenticated by an external provider (lets say google), how do you get a local access_token for the user once they have registered (in the ExternalLoginConfirmation method of the AccountController)??

[2016-01-16 15:13] kevinchalet commented on #49
You need to redirect the user agent back to the authorization endpoint (contained in the `returnUrl` parameter): http://stackoverflow.com/a/34821722/542757

[2016-01-16 16:12] Gillardo commented on #49
@PinpointTownes really appreicate your help on this, that was my post on stackoverflow, so thanks, but still not working.  So, as you suggested, i have reverted my AccountController to be the same as the Mvc.Server example.  I have now added Satellizer to my angular app, with config like so

[code]

Where i register my application, in startup.cs, it looks like this

[code]

Now if i click the logi

[2016-01-16 16:15] kevinchalet commented on #49
[code]

Since your JS app is a public app, you can't use `OpenIddictConstants.ApplicationTypes.Confidential`. Instead, don't assign a secret and use `OpenIddictConstants.ApplicationTypes.Public`. That said, I don't think that's what's causing your issue.

As said on the other post, **yes** :smile:
Upload it somewhere on GitHub and I'll give it a try.

[2016-01-16 16:32] Gillardo commented on #49
Tried Public, just encase but that didnt fix it.  Here is my example project.

[Mvc.Angular.zip](https://github.com/openiddict/core/files/92965/Mvc.Angular.zip)

[2016-01-16 17:27] kevinchalet commented on #49
I tried your app and the OpenIddict part works fine (I just had to replace the `redirect_uri` to match the port used by IIS). It's probably a bug in the JS part, but I can't figure out where.

[2016-01-16 17:35] kevinchalet commented on #49
Okay, it's a Satellizer bug: `Popup.pollPopup` immediately closes the popup if the authorization server and the JS app share the same address (which is not surprising in your case) without even checking if the current address of the popup matches the `redirect_uri`.

I suggest moving this bug to the Satellizer repository.

[code]

[2016-01-16 18:09] kevinchalet commented on #49
FYI, here's the Satellizer configuration I've used (after fixing the buggy `Popup.pollPopup`, it works fine):

[code]

[code]

[2016-01-17 04:56] Gillardo commented on #49
@PinpointTownes you said that the Satellizer code is buggy because of the redirect_uri.  I believe i have fixed it, but can i just check with you that this is right, so i have the "flow" clear in my head.  So when you open the window, the AccountController is called, and the user can login/register/use external login etc.  Once that is done oauth redirects to the to /connect/authorize.  The user i

[2016-01-17 16:22] kevinchalet commented on #49
Yes.

Your fix seems fine, but I'm definitely not a JS expert.
FWIW, here's my quick and dirty version:

[code]

[2016-01-18 09:08] jduenas opened #50 "Openiddict release roadmap"
Hi, I'm currently working on a web api and openiddict was exactly what I was looking for. So far it's working great! Thanks for the hard work. I'm currently using it to generate jwt tokens.

Would you be able to share your thoughts on Openiddict's release roadmap?

[2016-01-18 09:45] soeron commented on #50
This would be interesting to me too. And also would like to ask if you plan to implement unit tests?

[2016-01-18 12:56] kevinchalet commented on #50
Ideally, I'd like to release a first alpha next month (when RC2 final ships). Sadly, there are still many things to do, and I'm quite busy ATM, so there's absolutely no guarantee. If you want to contribute, don't hesitate, PRs are welcome! :smile:

Yes, that's planned. The first bunch of tests will be pushed to ASOS soon. No timeline for OpenIddict, though. If you want to submit a PR for that, tha

[2016-01-18 13:04] kevinchalet commented on #49
@Gillardo I opened a new ticket on Satellizer's repository for you: https://github.com/sahat/satellizer/issues/711.

[2016-01-18 13:27] Gillardo commented on #49
Thanks @PinpointTownes .  just want to say again how thankful i am for your help!! Btw, does IdDict support refreshTokens?

[2016-01-18 13:38] kevinchalet commented on #49
Yes, OpenIddict supports refresh tokens, even with public apps (like JS apps). But you need to use the code flow to retrieve a refresh token, it won't work with the implicit flow.

Alternatively, you can use prompt=none authorization requests by flowing the identity token in id_token_hint. It's the approach recommended by the OIDC specs. It's usually done in a hidden iframe.

[2016-01-18 14:15] Gillardo commented on #49
Are you saying i cant use any of my existing authentication, or i just need to do something else to support refreh tokens?  I dont suppose you could point me in the direction of an example, as i am not sure what i should be looking for exactly?

[2016-01-20 16:50] Gillardo opened #51 "Use alternate DI framework to vNext?"
I have setup a website that uses OpenIddict and Angular based on the Mvc.Server sample.  If i use the vNext DI then it all works fine.  However, i need to use SimpleInjector.

Is this possible with OpenIddict because everywhere i look it seems to be tied into vnext DI?

I have tried to override everything, but doesnt seem to work.  I have followed the code to actually create a OpenIddictProvider,

[2016-01-20 17:05] kevinchalet commented on #51
If you want to replace the default container offered by ASP.NET Core 1.0 (ex-ASP.NET 5), you need to update your `ConfigureServices` method to return an `IServiceProvider` instance calling your SimpleInjector container. Simply replacing specific services like the controller activator won't work (`context.HttpContext.RequestServices` won't return your own container but the default one).

[2016-01-20 17:10] Gillardo commented on #51
This is not recommended by SimpleInjector, but i will ask them also and see what they say. Thanks

[2016-01-20 17:12] kevinchalet commented on #51
Curious: why not using the built-in DI system?

Alternatively, you could use a DI provider that fully supports the new abstractions, like the great Autofac.

[2016-01-20 18:22] Gillardo commented on #51
I was using simpleinjector before going to vnext as it is far faster than autofac. The new aspnet DI i aimt convinced fully yet. I believe i have fixed this problem now as well without returning IServiceProvider and i will post here later encase others need to do it

[2016-01-20 18:25] Gillardo commented on #51
Plus i want to handle the creation of my services. I will let vnext resolve asp.net services, but not mine.  Vnext DI also had limitations last time i checked

[2016-01-20 19:25] kevinchalet commented on #51
This kind of hybrid thingy is not something we support (nor the rest of ASP.NET Core 1.0 does): if you don't want to use the recommended approach, you're sadly pretty much on your own.

[2016-01-20 19:50] ghost commented on #50
You mentioned that there is still many things to do. Would you like to share it with us? I'd like to contribute. I gained a lot of insights working on enterprise identity solutions with AD/ADFS, IdentityServer, OAuth2 and OIDC.

I like this project because it's still small and lean.

[2016-01-20 20:20] kevinchalet commented on #50
Thanks. Glad you like it! :clap:

Sure. Most of these things are decorated with the ["help wanted"](https://github.com/openiddict/core/labels/help%20wanted) label and the most important ones are decorated with ["important"](https://github.com/openiddict/core/labels/important):
- CORS support: https://github.com/openiddict/core/issues/28
- Scope support: https://github.com/openiddict/core/issues/16

[2016-01-21 05:37] #51 closed, assigned to nobody

[2016-01-22 10:02] #47 closed, assigned to nobody

[2016-01-22 13:26] Gillardo opened #52 "Doesnt work on Local IIS, found bug..."
This has caused me a right headache, but there seems to be a problem with OpenIddict.  I added all this code to my application, and it worked perfectly using the `dnx web` command, and also if i run my code using IISExpress.  But if i upload this to my web server running IIS, the site never loaded.

My site is setup, like a normal basic site, i have an applicationPool which is running using the II

[2016-01-22 14:23] kevinchalet commented on #52
When you don't explicitly register a signing key, one is automatically created and persisted for you on the disk (in the AppData folder or in the current directory if the user profile is not available).

Last week, I pushed a commit to replace the last fallback value to use the TEMP directory instead of the current directory, so the "bug" you're seeing should disappear when updating your packages:

[2016-01-23 07:03] Gillardo commented on #52
@PinpointTownes Thanks for this, this works perfectly

[2016-01-23 12:23] kevinchalet commented on #52
Nice! :clap:

[2016-01-23 12:23] #52 closed, assigned to nobody

[2016-01-24 09:15] ghost commented on #50
So are the assignees working on it?

#17 Implement authorization storage for instance is assigned to Bartmax

[2016-01-24 14:52] kevinchalet commented on #50
/cc @Bartmax

[2016-01-25 14:18] Gillardo opened #53 "ContentSecurityPolicy being set. How do you change it?"
I want to add links to fonts on my web application, but since implementing OpenIddict, i have just just given CSP errors.

After hacking away at my project and then the source of OpenIddict, i see that a CSP Policy is added by default in the `OpenIddictExtensions` file, like so

[code]

This is all very well, but how can i override these settings?  Why are these settings added by default? Surely t

[2016-01-25 14:24] kevinchalet commented on #53
@damccull is working on a PR to make it configurable: https://github.com/openiddict/core/pull/38

[2016-01-25 14:25] Gillardo commented on #53
Excellent!! Glad to hear that, i have tried setting the CSP on the Html page for about an hour, until i realised that this happened once i implemented OpenIddict.

Will watch this space for change

[2016-01-26 03:09] kevinchalet commented on #50
@nklap looks like Bart is busy ATM. If you're interesting in contributing to this work item, feel free! :smile:

[2016-01-26 03:14] Bartmax commented on #50
I won't be able to help for at least 15 days. I will unassign myself now and take a look at items for pickup later. I will be implementing in production in a few weeks so expect me to be more active soon.

[2016-01-26 04:34] damccull commented on #53
Alright, this feature is ready and awaiting merge. @PinpointTownes should do it soon.

[2016-01-26 04:42] damccull commented on #28
CORS currently installed stuff is being moved to OpenIddict.Security.OpenIddictExtensions.UseCORS() in #38 for whoever gets on this.

[2016-01-26 04:43] damccull commented on #16
What IS this? No description provided...pretty vague. :)

[2016-01-26 12:59] kevinchalet commented on #53
PR merged: https://github.com/openiddict/core/commit/dad1b307b88e20dd9dd3a01c485ddcfbfeff189c :smile:

The updated package should be on MyGet.org soon.

[2016-01-26 19:54] kevinchalet commented on #53
@Gillardo don't hesitate to share your thoughts when you have a moment :clap:

[2016-01-26 19:54] #53 closed, assigned to damccull

[2016-01-27 09:38] Gillardo commented on #53
@damccull very nice work with the Csp option.  I have downloaded the latest version via myGet now and it works perfectly with my application! Thank you.

@PinpointTownes  thanks for merging so quickly.

[2016-01-28 11:03] Gillardo opened #55 "Can we use EF6 instead of EF7?"
I have an existing database that uses EF6.1 and i would like to use that is possible.  I cannot update my existing database to EF7, because you cant define complex properties yet.

I just wonder if this is possible and what i would have to implement to do this.

[2016-01-28 12:44] kevinchalet commented on #55
Yes, it's possible. You'll have to create your own implementation of the [`IOpenIddictStore` interface](https://github.com/openiddict/core/blob/dev/src/OpenIddict.Core/IOpenIddictStore.cs#L6) and register it in your DI container:

[code]

[2016-01-28 13:47] Gillardo commented on #55
It doesnt seem to be possible... Unless i am missing something.  I have implemented my own service implementing `IOpenIddictStore`, but my website now cannot reference `UserManager` or `UserStore` because these exist in both library as seen in this message.

Also the IOpenIddictStore implements the interface Microsoft.AspNet.Identity.IUserStore which is in Identity 3.

![image](https://cloud.githu

[2016-01-28 13:47] #55 closed, assigned to nobody

[2016-01-28 13:49] kevinchalet commented on #55
Of course, you can't reference both Identity 2 and Identity 3. You need to provide your own implementation, you can't reuse the Identity 2 EF package.

[2016-01-31 21:57] barriestewart opened #56 "Solution won't build"
I'm not sure if anyone else is having the same issue but the solution doesn't build for me. I've run `dnvm upgrade -u` and `dnvm list` is showing me as running `1.0.0-rc2-16357 clr x86 win` with that being the default alias.

When I try to build the solution I get a lot of errors which may be due to breaking changes in the RC2 nightlies. I was just wondering if anyone else was experiencing the sam

[2016-01-31 22:19] kevinchalet commented on #56
I guess you're using more recent packages than the ones we officially support (https://www.myget.org/gallery/aspnetvnext). If you've used packages from the `aspnetcidev` feed, you'll need to wipe your `.dnx\packages` folder and run `dnu restore` to download and use the right packages.

[2016-02-01 08:27] barriestewart commented on #56
Yep - that fixed it. I ran `dnu feeds list` from the root of the `core` folder just to check if I had any global config that was overriding the project but that just returned this:

[code]

Just for clarity, my steps to fix this were:
1. Close all instances of VS2015
2. Ensure I was back to a clean version of your code by running `git reset --hard`
3. Delete the contents of `%UserProfile%\.dnx\pac

[2016-02-02 02:09] kevinchalet opened #57 "Support live update of refresh tokens"
Currently, the claims stored in a refresh token are used as-is to create a new access token when receiving a `grant_type=refresh_token` request, which may potentially result in outdated claims being returned to the caller application/resource server.

To fix that, we should update `GrantRefreshToken` to call `CreateIdentityAsync` to get a fresh `ClaimsIdentity` from ASP.NET Identity instead of reu

[2016-02-02 02:20] kevinchalet commented on #57
Done: https://github.com/openiddict/core/commit/bf5b44981bd42e1190e219a84fdc76abfab0a319 :clap: :clap:

[2016-02-02 10:05] #56 closed, assigned to nobody

[2016-02-03 11:05] #49 closed, assigned to nobody

[2016-02-03 11:35] Gillardo opened #58 "Cookies and Tokens"
Just want to say, love this project btw!!  Love the examples as well, although an AngularJs one would be nice, with details on how to use refresh_tokens, but i am sure this will all come with time.

I am not sure if this is a problem with OpenIddict, or my setup, or if it aint a problem.

I am using (want to use only) tokens for authentication.  I am sending the tokens with angular, and this works

[2016-02-03 22:33] singlewind commented on #16
fetch scope definition from data store and filter and patch claims, if I understand correctly.

[2016-02-04 23:41] kevinchalet commented on #58
The "issue" you're seeing is by design and is caused by the fact the cookies middleware added by ASP.NET Identity uses the automatic authentication mode (so when a request arrives, both the cookies middleware and the validation middleware are invoked).

You could consider switching to manual authentication, but the recommended approach is to set up an authorization policy restricting the authentic

[2016-02-11 16:08] Gillardo commented on #58
Worked, but after i had to download the source code.  it appears that a change was done, so you need to request roles in scope, else they are not included.  After that, it was fine, thanks.
Maybe nice for a "summary" of changes to be somewhere??

[2016-02-11 16:08] #58 closed, assigned to nobody

[2016-02-11 17:29] chrisjmccrum opened #59 "Expose roles to the userinfo endpoint"
Similar to the roles option for the identity_token, I propose the userinfo endpoint should give info on the roles of the user. This would eliminate the need to generate & decrypt an additional token just for user attributes.

[2016-02-11 17:39] kevinchalet commented on #59
Actually, it's already supported: https://github.com/openiddict/core/blob/dev/src/OpenIddict.Core/OpenIddictProvider.cs#L86-L92 :smile:

[2016-02-11 17:39] #59 closed, assigned to kevinchalet

[2016-02-12 15:40] Gillardo commented on #49
@PinpointTownes do you know a guide that i could look at to implement refresh tokens in openiddict?  I have tried to use code flow, but upon requesting a token using a code, it doesnt return a refresh token.  I suspect i am not setting up something correctly

[2016-02-12 16:22] kevinchalet commented on #49
Yup, you can read https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/204#issuecomment-174002248.

[2016-02-13 09:46] #57 closed, assigned to kevinchalet

[2016-02-15 22:55] singlewind commented on #17
I have completed few features in my fork. However, I have different release roadmap. Need to catch up your guys progress. I still haven't updated since ASP.NET rc1.

[2016-02-15 23:00] kevinchalet commented on #17
Nice!

The current bits use the RC2 packages present on the aspnetvnext feed (stuck for more than a month now).

I'm in the process of migrating OpenIddict - and all the aspnet-contrib projects - to .NET CLI and the latest ASP.NET Core 1.0 packages (from the aspnetcidev), which means that existing applications will break (hard). It will likely be done today or tomorrow.

You can take a look at the

[2016-02-18 15:44] barriestewart opened #61 "Passing DbContextOptions to OpenIddictContext"
The `OpenIddictContext` class extends `IdentityDbContext` but doesn't appear to provide any explicit constructor. It would be nice if this class provided constructors in line with the public constructors provided by `IdentityDbContext` which would, in turn, call the base `IdentityDbContext`. For example, it would be nice to be able to have a class extending `OpenIddictContext` which looks like thi

[2016-02-18 15:46] kevinchalet commented on #61
Good idea, feel free to send a PR to fix that :clap:

[2016-02-18 16:04] barriestewart commented on #61
Ok I'll take a look.

[2016-02-20 16:52] kevinchalet commented on #61
Merged, thanks: https://github.com/openiddict/openiddict-core/commit/9ea6a517bd6c0adff3db3988a89abeff5c14db7c :clap:

[2016-02-20 16:52] #61 closed, assigned to kevinchalet

[2016-02-25 10:34] Gillardo opened #64 "Cannot restore dependencies"
Tried restoring my dependencies today, using `dnu restore` and option via visual studio, but i seem to get this error?

I have noticed that the readme file has changed, and the nuget.config file sources have changed to include

`<add key="AspNetCiDev" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />`

If i remove this, then my project cant find these dependencies, but if i include

[2016-02-25 12:48] kevinchalet commented on #64
That's likely caused by the fact you're using an old DNX runtime.
Read http://stackoverflow.com/a/35519150/542757 for a quick migration guide.

[2016-02-25 13:49] Gillardo commented on #64
@PinpointTownes thanks for the reply.  I am using the latest dnvm install.  I have run

[code]

But this did not upgrade anything as it said 1.0.0-rc2-16357 is the latest version (i am using x64)

I have changed the nuget.config sources, including `<clear />` at the start, but upon running `dnu restore` i still get the error

I installed the .NET CLi and see that there is a `dotnet restore` comman

[2016-02-25 13:52] kevinchalet commented on #64
Have you tried running `dnvm update-self` to update your DNVM?

[2016-02-25 13:56] Gillardo commented on #64
Yep, my actual dnvm version is as so

![image](https://cloud.githubusercontent.com/assets/7406381/13321551/87ddff4c-dbc7-11e5-8007-47ff59021e80.png)

[2016-02-25 13:59] kevinchalet commented on #64
Ahhh, you're using Powershell. Don't forget it doesn't support SET for creating environment variables. Use the appropriate syntax or use a good old console.

[2016-02-26 12:11] Gillardo commented on #64
@PinpointTownes since your "in the know", can i ask you some questions.  This works btw, i can compile, although now my website doesnt load, says imports are recognised for some reason when i try to run it via IISExpress.

Yet if i run `dotnet run` (which i assume is correct now?) then i get a compile error, saying my appsettings.json file isnt found.  Upon looking at it, it thinks that the applic

[2016-02-26 12:50] kevinchalet commented on #64
For the dotnet run error, no idea, sorry. You should open a ticket on the CLI repository.

Concerning the error bug, it's a breaking in MVC: https://github.com/aspnet/Mvc/commit/80b6996701ca240b8b4b1ba8f56c7ecae3e69b60#commitcomment-16288972.

[2016-02-26 13:40] Gillardo commented on #64
So this is why my project fails on all imports now?  And there is no fix yet?

[2016-02-26 15:20] Gillardo commented on #64
I am guessing then this is why yrou project does not currently run, when i download the zip and try to run the Mvc.Server sample now as well??

[2016-02-26 15:22] kevinchalet commented on #64
Yes, all the ASP.NET Core projects using MVC and running on DNX are impacted.

[2016-02-26 15:23] Gillardo commented on #64
How can they not realise that before release?

[2016-02-26 15:25] kevinchalet commented on #64
This is an intentional breaking change. If the ASP.NET team doesn't revert it, I'll have to push this (horrible) workaround:

[code]

[code]

[code]

[2016-02-28 09:24] Gillardo commented on #64
@PinpointTownes that bug fix seems to sort the import errors and the site now runs.  Now i think a namespace of something has changed as my Views/OpenIddict/Error.cshtml and other pages are reporting errors with the using statement `@using Microsoft.IdentityModel.Protocols.OpenIdConnect`

[2016-02-28 20:37] Gillardo commented on #64
Duh, @PinpointTownes dont worry i realise that this is because you havent yet uploaded the AddMvcDnx fix yet.  Just let me know when you have please. Thanks

[2016-02-28 20:56] kevinchalet commented on #64
That's planned, but I'm seeing weird restore issues when trying to update OpenIddict.Mvc to use AddMvcDnx.

I'll investigate.

[2016-02-28 21:11] ghost commented on #64
@Gillardo Did adding MvcDnx fix your _The type or namespace name 'xxxxx' could not be found_ ?

[2016-02-28 21:12] Gillardo commented on #64
It did in my project. Just waiting for openiddict to be updated as it
currently says it now when i access the views in openiddict.assets, like
authorize etc
On 28 Feb 2016 21:11, "Nikolai Paul" notifications@github.com wrote:

[2016-02-28 21:50] kevinchalet commented on #64
I just pushed a commit to fix/work around that: https://github.com/openiddict/openiddict-core/commit/a6b85f1f15b8d50d9097b57e0628ede3c412f7cf

Give the CI server a few minutes before updating your packages.

[2016-02-28 21:56] kevinchalet commented on #64
The new package is online :smile:

[2016-03-01 08:46] henkmollema opened #65 "CryptoHelper"
I noticed that you removed CryptoHelper from the project. Is there any issue you ran into? I've just deployed a new version using the latest RC2 bits: https://www.nuget.org/packages/CryptoHelper/1.0.0-rc2-build02.

[2016-03-01 12:28] kevinchalet commented on #65
Hey!

Yep, I had to temporarily remove CryptoHelper when migrating all the aspnet-contrib projects to the latest ASP.NET Core/.NET CLI bits as it was referencing the old `Microsoft.AspNet` packages, which prevented OpenIddict from building correctly: https://github.com/openiddict/openiddict-core/commit/c8d8afccd0a6b14d59ffe4d4c5e8b59bf60a4f32

AFAICT, you haven't migrated to the new `Microsoft.Asp

[2016-03-01 12:56] henkmollema commented on #65
Ah, you're right. I've updated the package to use the AspNetCore packages: https://www.nuget.org/packages/CryptoHelper/1.0.0-rc2-build03. I'll send a PR using CryptoHelper.

[2016-03-01 17:39] kevinchalet commented on #65
Merged, thanks! :+1:

https://github.com/openiddict/openiddict-core/commit/cac0a3594ef9637a72a4016345899e90dd5993e7 :clap:

[2016-03-01 17:39] #65 closed, assigned to nobody

[2016-03-02 00:41] DarrenARBell opened #67 "ResolveContextType : Sequence contains more than one element"
Hi
I'm customizing the OpenIddictStore by inheriting from it. And I believe that this is causing the issue. What's my best approach to solving it. One solution would be to use `FirstOrDefault()` instead of `SingleOrDefault()` in the method  `private static Type ResolveContextType([NotNull] OpenIddictServices services)` but I dont believe this is the correct approach as its just hiding the fact the

[2016-03-02 01:23] kevinchalet commented on #67
Hey and thanks for reporting this bug :clap:

I guess you're calling `UseEntityframework()` from `AddOpenIddictCore(config => { ... })`?
If yes, then it's expected, as it only works with the built-in instance.
To register a custom store, you must use the DI extensions (`AddScoped` in this case).

That said, that's something I'll improve. I'll push a big PR adding a `UseStore` method to easily regi

[2016-03-03 03:03] Challagolla opened #69 "Error: "netstandard1.3" is an unsupported framework"
I fetched the latest Openiddict-core repository sources and built the openiddict solution. I am getting the below error in each project.

**Error NU1008  "netstandard1.3" is an unsupported framework.**

I ran the dnvm upgrade and also  I have the  dnx 1.0.0-rc2-16551   clr     x86   win     set as default on my machine. Still the same error.

I am i missing some settings to successfully build this

[2016-03-03 16:42] kevinchalet commented on #69
You need to use the latest DNX runtime (v1.0.0-rc2-16566 when writing this message)

See http://stackoverflow.com/a/35519150/542757 for more information about how you can override the default feed used by DNVM.

[2016-03-04 01:14] Challagolla commented on #69
Hi PinpointTownes,

Thanks for the response. I have installed the dotnet CLI and updated the dnx version. The current default dnx on my machine is
*\* \*    1.0.0-rc2-16591   clr     x86          win             default**

With this DNX also, i am getting huge number of errors. I am using the latest sources from this repository. I am using the same Nuget feeds that were mentioned in the repo. I am

[2016-03-04 01:16] kevinchalet commented on #69
Weird. Can you try running `dnu restore` manually and copy the output here?

[2016-03-04 01:31] Challagolla commented on #69
Hi PinpointTowens,
Here is the output when i try  running dnu restore manually.

[code]

[2016-03-04 01:44] kevinchalet commented on #69
Looks fine. TBH, I don't think it's an OpenIddict bug so I'll ping the ASP.NET team and ask them to take a look :smile:

Have you tried clearing your .nuget\packages folder? (`C:\Users\[profile name]\.nuget\packages`)

[2016-03-04 06:50] Challagolla commented on #69
Hi PinpointTownes,

I cleared the .nuget\packages folder and ran the dnu restore. It builds without errors.Thanks for the help.

[2016-03-04 12:46] #69 closed, assigned to nobody

[2016-03-06 10:51] DarrenARBell commented on #67
Hi. Yes I am in deed calling `UseEntityFramework()`. I've given the `AddScoped` a bash and that seems to be working for me.
Thanks for the library and the help!

[2016-03-09 04:16] ahmed-abouelkhaire opened #70 "dependency problem in caching"
using rc2 nightly build 20116
openiddict core project failed to build because of this line in OpenIddictExtensions

[code]

what  lead me to discover this error is when i tried to update my project database using dotnet ef
it gave me this error

[code]

please can you update the project with the correct dependency
thanks a lot

[2016-03-09 13:47] kevinchalet commented on #70
Thanks for reporting this bug :clap:

Fixed: https://github.com/openiddict/openiddict-core/commit/576d42bc35705740bd761c1a30fc3ba9e7144162.

FY, it was caused by a breaking change added yesterday in the caching block: https://github.com/aspnet/Caching/commit/a6c044c1590b16c98df1cc6d01eca1140a86ee99.

[2016-03-09 13:47] #70 closed, assigned to kevinchalet

[2016-03-09 13:52] kevinchalet commented on #28
I removed the default CORS registration. We'll probably want to re-introduce it in the future, but in the meantime, removing it makes OpenIddict much safer.

https://github.com/openiddict/openiddict-core/commit/4199fa23d613bc4d3ff48bbb9d53f0ca1eae4b81

[2016-03-11 06:07] kevinchalet commented on #17
Alright, it's time to implement this (super) important feature (without that, a client application can currently ask more scopes during a prompt=none request, which is terribad).

@singlewind did you make some progress?

[2016-03-13 23:09] singlewind commented on #17
The most important thing for you is define an interface :), So we can implement based on different storage. The tricky is that we may extend the default userstore and rolestore compared to the default implementation of Microsoft.AspNet.Identity.EntityFramework. We need store scope information regards a claim. I was thinking the Subject property of Claim (https://msdn.microsoft.com/en-us/library/sy

[2016-03-14 04:03] kevinchalet commented on #67
Thanks! :smile:

Fixed as part of https://github.com/openiddict/openiddict-core/commit/5899533ae7028a30cb126de38713b7d8793ca653.

[2016-03-14 04:03] #67 closed, assigned to kevinchalet

[2016-03-14 10:37] #64 closed, assigned to nobody

[2016-03-16 21:13] haroldma-zz opened #74 "Unable to locate Dependency Microsoft.Extensions.DependencyModel"
`Unable to locate Dependency Microsoft.Extensions.DependencyModel >= 1.0.0-dev-1452673922`

That's following the Readme guide.

[2016-03-16 21:19] #74 closed, assigned to nobody

[2016-03-17 14:35] haroldma-zz opened #75 "Visual Studio doesn't seem to support RC2"
Gives a not found when restoring. I've updated the NuGet.config. Downloading the sample projects seems to work but when I try to upgrade one of the templates from VS it just goes haywire.

![image](https://cloud.githubusercontent.com/assets/5519816/13849723/b99a7af8-ec2d-11e5-9c5b-c0570b36b851.png)

Example error:
`The dependency Microsoft.Extensions.Caching.Abstractions 1.0.0-rc2-20247 in project

[2016-03-17 14:51] kevinchalet commented on #75
Congrats, that's the least actionable ticket I've ever read. Do you really think we have psychic debugging skills? :smile:

FYI, there's currently a NuGet bug that prevents our projects from restoring and compiling correctly. It should be fixed soon, tho.

[2016-03-17 14:52] kevinchalet commented on #74
Not sure what's the point of opening a ticket to immediately close it, but anyway: this package has been reversioned: clear your .nuget\packages folder in your Windows profile folder.

[2016-03-17 14:53] haroldma-zz commented on #75
:laughing: thought that maybe I skipped a step haha

Is the NuGet bug strictly with openiddict or expands to the whole aspnet-contrib?

[2016-03-17 14:54] haroldma-zz commented on #74
Solved it by doing just that. Hence why I closed it.

[2016-03-17 14:54] kevinchalet commented on #75
It impacts all the ASP.NET Core projects, including the packages maintained by the ASP.NET team (that don't build correctly on DNX) and the aspnet-contrib projects.

[2016-03-17 14:55] kevinchalet commented on #74
In general, it's better to post the solution, since it may be useful for someone else.

[2016-03-17 15:08] shima20 commented on #75
So there's no way to use an rc1 version of openiddict?

[2016-03-17 15:11] kevinchalet commented on #75
No, absolutely no way.

[2016-03-17 21:33] haroldma-zz commented on #75
Seems to be working fine now.

[2016-03-17 21:35] shima20 commented on #75
Hmm, I'm still having the same issue

[2016-03-17 21:36] shima20 commented on #75
Same issue still for me.

[2016-03-18 01:54] Challagolla opened #76 "Not able to build Openiddict-core with latest sources"
I fetched the latest Openiddict-core repository sources and built the openiddict solution. I am getting the below errors in each project. I have the latest dnx  **1.0.0-rc2-20221  clr  x86  win**  available on my machine. I restored the nugets after clearing the catche .nuget\packages folders. Still i am getting the below errors. Could someone help me on whether i am missing something.

I also fol

[2016-03-18 02:10] kevinchalet commented on #76
We're already aware of this issue (actually, all the aspnet-contrib packages are impacted).
AFAIK, it's caused by a NuGet bug that was fixed earlier today.

@Eilon @davidfowl do you guys happen to know when we will get an updated NuGet package?

[2016-03-18 04:20] Eilon commented on #76
@PinpointTownes if it's the issue I think it is, then hopefully tomorrow. We tried grabbing new packages today but ran into a problem, but we think that problem is now fixed, so tomorrow we'll try again.

[2016-03-18 09:38] Gillardo commented on #76
Hope so, i am not having this bug, but since Openiddict is referencing an old version of AspNetCore.Identity (version 20143) but ApplicationDbContext is now not working because of the changes to constructors found here
https://github.com/aspnet/EntityFramework/issues/4825

[2016-03-18 10:30] kevinchalet commented on #76
@Eilon thanks! :clap:

@Gillardo the fix is already checked in (https://github.com/openiddict/openiddict-core/commit/24b167b952d9797a1d6d32933dfa7b1fd4351013), but we can't get a new package due to the build issues we're currently experiencing.

[2016-03-18 10:33] Gillardo commented on #76
Thanks @PinpointTownes I will just have to wait for build for the moment

[2016-03-21 00:17] Challagolla commented on #76
@PinpointTownes any update on this issue? are we still waiting for the rc2 build to successfully build the Openiddict-core repository sources?

This morning, when i run the dotnet restore command for the openiddict solution, i am getting the following errors.

_Errors in E:\Learning\Learning-Security\openiddict-core\samples\Mvc.Client\project.json
    Unable to locate Dependency Microsoft.Dnx.Comp

[2016-03-21 00:38] kevinchalet commented on #76
This error occurs because the _aspnetcidev_ feed doesn't have the latest Microsoft.Dnx packages referenced by the MVC/DNX compat' package (1.0.0-rc2-20222 vs 1.0.0-rc2-20221). I pinged @davidfowl about this inconsistency but no solution came up so far.

There's sadly nothing I can do.

@Eilon could you please take a look tomorrow?

[2016-03-21 09:58] Gillardo commented on #76
Oh this is becoming a pain... I know we are all working with the latest stuff and its the chance you take.  Keep up the good work @PinpointTownes @davidfowl @Eilon

Please let us know when this issue is resolved

[2016-03-21 14:22] joshcomley commented on #76
I've even tried downloading the relevant git repositories and compiling them myself, but they don't seem too keen on compiling :/

[2016-03-21 16:04] Eilon commented on #76
There was a new build a few days ago - is this being built with DNX (problematic) or with dotnet-cli (should work fine)?

[2016-03-21 16:10] kevinchalet commented on #76
@Eilon the inconsistent package issue is orthogonal and affects both DNX and CLI:

![image](https://cloud.githubusercontent.com/assets/6998306/13925179/aece063c-ef87-11e5-8d60-6b70b2b3c97b.png)

[2016-03-21 21:45] Eilon commented on #76
@pranavkm any idea on what this is? Could it be related to the package stuff we're fixing?

[2016-03-21 22:37] pranavkm commented on #76
Sorry about this - looks like we ran into issues publishing DNX packages to MyGet. It had run enough of the build process so that our build agents could get to these packages, but not enough to get it to aspnetcidev. I'll update this thread once we have new packages on the feed.

[2016-03-21 22:50] kevinchalet commented on #76
@pranavkm thanks! :clap:

[2016-03-22 15:27] dotnetjunkie commented on #51
We (the Simple Injector team) advice against the use of an adapter on top of the new DI system, because this is an implementation of the [Conforming Container anti-pattern](http://blog.ploeh.dk/2014/05/19/conforming-container/) and because such adapter is highly incompatible with Simple Injector. You can see an interesting discussion about me and Fowler [here](https://github.com/simpleinjector/Sim

[2016-03-22 16:42] joshcomley commented on #76
FYI you can hackily work around this locally by editing the cached nuspec file for the `Microsoft.AspNetCore.Mvc.Dnx` package, changing anything that says `1.0.0-rc2-20222` to `1.0.0-rc2-20221`.

You may need to close and re-open Visual Studio, but you will need to delete and re-add the `Microsoft.AspNetCore.Mvc.Dnx` package, but once you do, it all works great.

**C:\Users\[username]\.nuget\packa

[2016-03-22 17:28] pranavkm commented on #76
The 20222 builds of DNX should be up on http://myget.org/gallery/aspnetcidev. Could you try restoring now?

[2016-03-22 17:53] joshcomley commented on #76
@pranavkm great news, I can confirm it works for me receiving 20222 all OK. Thanks!

[2016-03-22 17:58] kevinchalet commented on #76
@pranavkm fantastic, thanks! :clap:

Now, I need to find how to make CLI and DNX happy, but I guess DNX is broken ATM?

[2016-03-22 17:59] joshcomley commented on #76
Although actually it only restores OK using Visual Studio (or, of course, `dnu restore`); if I use `dotnet restore` I still get:

[code]

[2016-03-22 18:49] pranavkm commented on #76
Does your `dnxcore50` tfm include this: `"imports": "portable-net451+win8"`?

See https://github.com/aspnet/Mvc/blob/dev/samples/MvcSandbox/project.json#L31-L35

[2016-03-22 21:54] joshcomley commented on #76
Interesting. Mine looked like this:

[code]

But I changed it to (from your link):

[code]

And still the same result.

[2016-03-23 01:12] kevinchalet commented on #76
Aaaaaaaaaaand we're back to business. I've **finally** found a workaround to make both DNX and CLI happy: https://github.com/openiddict/openiddict-core/commit/8df3b5ca0e7990a5cc5f7eadd6c836c45ac0968e. It's hacky but it works. @troydai told me he would take a look at the CLI bugs we've encountered.

ASOS and the OAuth2 extensions are already fixed and AppVeyor is pushing new OpenIddict packages ATM

[2016-03-23 01:18] kevinchalet commented on #75
FYI, I've finally found a workaround to make both DNX and CLI work. The new packages are online.

[2016-03-23 01:18] #75 closed, assigned to nobody

[2016-03-23 02:14] Challagolla commented on #76
@pranavkm thanks for the dnx fix.

@PinpointTownes  now i could able to build the Openiddict-core repository sources without any issues :+1:  Thanks

[2016-03-23 03:37] BearTM opened #77 "System.Security.Cryptography.CryptographicException using latest dnx 1.0.0-rc2-20222 clr x86 win"
I've cloned the current version of OpenIddict, and have installed the latest dnx 1.0.0-rc2-20222 clr x86 win. The projects all compile successfully, however I'm encountering a runtime error:

An exception of type 'System.Security.Cryptography.CryptographicException' occurred in Microsoft.AspNetCore.DataProtection.dll but was not handled in user code

`// Add OpenIdConnectServerMiddleware to the AS

[2016-03-23 03:38] BearTM commented on #77
Exception Detail:

[openiddict-exception.txt](https://github.com/openiddict/openiddict-core/files/185354/openiddict-exception.txt)

[2016-03-23 03:43] kevinchalet commented on #77
It's a (terrible) bug in the ASP.NET Core Data Protection stack: https://github.com/aspnet/DataProtection/issues/129

I'm not sure why it's not fixed yet but you can probably disable logging or lower the log level to work around it.

/cc @Eilon @blowdart

[2016-03-23 03:45] blowdart commented on #77
Tagging us in the actual data protection issue would have been more useful.

[2016-03-23 03:47] kevinchalet commented on #77
You're watching the DP repo, so you should be aware of this bug without needing additional buzzing, no? :santa:

[2016-03-23 03:49] blowdart commented on #77
Do you realise how many issues and commits I see every day? If I don't get tagged I don't see it, and as I don't own that repo or triage for it I don't check it.

And tagging me in personal repos ends up in my personal inbox, which always annoys.

[2016-03-23 03:59] kevinchalet commented on #77
No, what's really annoying is dealing with bugs you - the ASP.NET team - are supposed to triage and fix. TBH, it even became super annoying these days and hearing your silly remarks is not really helpful. I don't expect gratefulness, just a bit of compassion.

Anyway, lesson learned, I won't ping you and I'll ask people to move their issues to the appropriate ASP.NET repos. After all, someone once

[2016-03-23 03:59] #77 closed, assigned to nobody

[2016-03-23 07:53] Gillardo commented on #76
@PinpointTownes thanks for getting this all updated.  Can i ask why you have dropped dnx451 framework and replaced it with net451?

[2016-03-23 16:33] Eilon commented on #76
@Gillardo `net451` is a superset of `dnx451` because it applies to all apps that run on .NET 4.5.1 and higher, which by definition includes all apps that use DNX on .NET 4.5.1 and higher. Plus, as DNX is going away, there is no point in targeting that.

[2016-03-23 21:17] kairohmer opened #78 "not able to run the samples"
Hi,
after the last update today I was able to build the entire solution. But when running the Server, I get an exception in OpenIddict.Core\OpenIddictExtensions.cs line 152

This is the nicely formatted error page ;)
[500 Internal Server Error.zip](https://github.com/openiddict/openiddict-core/files/186866/500.Internal.Server.Error.zip)

[2016-03-23 21:26] kevinchalet commented on #78
Yo.

This ticket is a duplicate of https://github.com/openiddict/openiddict-core/issues/77.
It will be fixed by https://github.com/aspnet/Logging/pull/395.

[2016-03-23 21:26] #78 closed, assigned to nobody

[2016-03-23 22:29] singlewind commented on #76
@Eilon part of their rename ASP.NET 5 to .NET Core, is there any targets profile name has been renamed?

[2016-03-23 23:37] Eilon commented on #76
Everything DNX related is going away. Depending on the usage scenario, some things target `net451` (and related), and some target `netstandard1.0` - `netstandard1.5`. For example, MVC's assemblies target this: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.Core/project.json#L53-L55

[2016-03-23 23:51] Challagolla commented on #76
@Eilon  Does this mean, when we are using that particular assembly in our project we need to use the matching target version? for example, if we use Microsoft.AspNetCore.Mvc.Core package in our application, we need to use

[code]

?
is there any guidance on how to decide our target framework based on the packages in our project.json file?

[2016-03-24 04:42] Eilon commented on #76
Well, your target framework(s) should match whichever frameworks you wish to target, of course :smile:

The only real rule is that you can't target any _more_ than your dependencies target. But as to how _few_ frameworks you wish to target, you can target any subset that the intersection of your dependencies target.

If you wish to target _exactly_ what your dependencies target then using the same

[2016-03-24 05:36] Challagolla commented on #76
@Eilon  thanks :)

[2016-03-24 22:27] Challagolla commented on #76
As the mentioned problem in the issue description is fixed, i am closing this issue.

[2016-03-24 22:37] kevinchalet commented on #76
Reopening, as we're now facing a new issue, caused by insane recent changes in the CoreFX packages...

The IdentityModel packages on the aspnetcidev feed were probably built a long time ago with an old `System.Runtime` dependency, that used `4.1.0.0` as the assembly version while the latest `System.Runtime` on the aspnetcidev feed uses `4.0.20.0`, which causes weird issues with DNX :trollface:

`S

[2016-03-24 23:18] kevinchalet commented on #76
BTW, it's not specific to `System.Runtime` as a few other packages have also been reversioned (e.g System.Collections, System.Xml.ReaderWriter, System.Security.Principal).

[2016-03-28 22:38] kevinchalet commented on #76
Closing, as the IdentityModel packages have been re-built with the latest CoreFX packages and no longer cause the weird issues we were seeing with DNX.

CryptoHelper is impacted by a similar issue but it should be fixed soon. I created a ticket on the CryptoHelper repo and @henkmollema said he would take a look: https://github.com/henkmollema/CryptoHelper/issues/9 :clap:

[2016-03-28 22:38] #76 closed, assigned to nobody

[2016-03-30 20:44] kairohmer opened #82 "What do I need to do to enable SSL"
Hi,
I'm wondering if there are any changes in the setup to enable https.
I changed the IIS Express settings of the sample server. The page can be accessed in the browser, but the postman test described at the bottom of the startup.cs fails after waiting a longer time. (... I updated the authentication and token url)

while listening on http everything works as expected.

Thanks!

[2016-03-30 20:58] kevinchalet commented on #82
Hey,

AFAIK, having the override headers middleware and the IIS platform handler middleware in the Startup class should be enough for IIS Express + SSL to work correctly (assuming VS is correctly updating the IIS settings).

You should ping @guardrex on JabbR, he's definitely the guy to ask :smile:

[2016-03-30 21:28] guardrex commented on #82
@kairohmer Take a look at ...

https://github.com/aspnet/Home/issues/1331
https://github.com/aspnet/Hosting/issues/629 (scroll down about half-way in the discussion)

If you're talking about the latest bits for `WebHostBuilder` and `Microsoft.AspNetCore.Server.IISIntegration`, there are recent Announcements ...

https://github.com/aspnet/Announcements/issues/163
https://github.com/aspnet/Announcem

[2016-04-11 09:50] Gillardo opened #84 "Something broken when using with dotnet cli?"
Like everyone i have now changed to use the dotnet cli and changed my target frameworks from dnx451 to net451.  Since doing this, restoring the latest packages etc, openiddict no longer works.

If i use postman and connect to http://localhost:5000/connect/token with a username and password, this returns an access_token.  Now if i use that access token, i always get a 401 error?

Apart from the url

[2016-04-11 11:38] kevinchalet commented on #84
It's not caused by CLI, but by a bug in IdentityModel.

More context:
https://github.com/capesean/openiddict-test/issues/8
https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/232
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/360

The bug was fixed recently by the AzureAD team, but the updated package is not on the aspnetcidev

[2016-04-11 21:56] renatohh opened #85 "Is there a way to get this to work with RC1?"
Is there a way to get this to work with RC1?
thanks

[2016-04-11 22:29] kevinchalet commented on #85
Unfortunately, no: OpenIddict will only work with RC2.

FWIW, the ASP.NET team is finalizing the RC2 packages. They will be likely released in the next few weeks.

[2016-04-12 15:14] kevinchalet commented on #84
The aspnet-contrib feed is now mirroring the Azure AD feed and ASOS was just updated to use the latest IdentityModel packages: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/commit/e3a8781af075157af944d575d441bab3e7773a05.

The JWT issue you're seeing should disappear when updating your packages.

[2016-04-12 15:14] #84 closed, assigned to nobody

[2016-04-12 19:24] stefan505 opened #86 "Possible bug with remote packages"
1) Clone https://github.com/stefan505/openiddict-core
2) Run `Mvc.Server` using `dotnet run`
3) Register user
3) Use PostMan to sign in using user : `http://localhost:5000/connect/token`
4) Get `access_token` and append to auth header and call `http://localhost:5000/api/message`

Result is 401

Now change from `"OpenIddict": "1.0.0-alpha2-0214"` to `"OpenIddict": "1.0.0-alpha2-0216"` and re-perfor

[2016-04-12 20:02] kevinchalet commented on #86
Nothing changed between OpenIddict `1.0.0-alpha2-0214` and `1.0.0-alpha2-0216`, except its dependencies: ASOS and the validation middleware were recently updated to use different data protection strings than the ones we were previously using.

As long as you're using compatible ASOS/validation middleware versions, it should work fine.
Due to the (stupid, IMHO) "lowest applicable version" dependenc

[2016-04-12 20:02] #86 closed, assigned to nobody

[2016-04-12 20:19] stefan505 commented on #86
Thanks @PinpointTownes, that explains what happened then. Will note this kind of behavior going forward for future reference.

[2016-04-14 19:22] shima20 opened #87 "How to have OpenIddict.Core dependencies only use RC2 instead of RC3?"
How do I prevent OpenIddict.Core to use only the RC2 dependencies instead of RC3

![image](https://cloud.githubusercontent.com/assets/9735056/14540815/de04d5f4-023b-11e6-81e9-18f4f0a7c25f.png)

[2016-04-14 22:15] kevinchalet commented on #87
OpenIddict uses the ASP.NET Core RC3 packages as it needs a few bug fixes that are not included in the latest RC2 nightly builds (like the JWT bug).

The "RC2 final" packages should include them so we'll move back to RC2 when they are ready. In the meantime, the RC3 packages should work fine.

[2016-04-14 22:23] shima20 commented on #87
Thanks @PinpointTownes

[2016-04-14 22:23] #87 closed, assigned to nobody

[2016-04-22 00:14] nicolasr75 opened #90 "dotnet build does not create exe"
First of all: thanks so much for this great work! It is amazing how seamlessly this works and how much care you took for a great sample and good documentation.

My problem is with publishing a server project, either self-hosted or IIS.
The sample web.config shows this:
`<aspNetCore processPath=".\Mvc.Server.exe"`
The problem is that neither _dotnet build_ nor _dotnet publish_ produce an exe. They

[2016-04-22 01:17] kevinchalet commented on #90
Thanks for the kind words :smile:
ATM, there's no real documentation, but that's something we'll address in the future.

Hum, that's a good question. Actually, the fact it doesn't produce an .exe doesn't seem surprising, since all our samples use the shared runtime model, which offers a similar approach to DNX (it's the approach used by all the ASP.NET Core samples, AFAIK).

TBH, I haven't tested

[2016-04-22 01:18] kevinchalet commented on #90
@Guardrex yo! Do you happen to know if these items are required for the IIS integration to work? https://github.com/aspnet/cli-samples/blob/master/HelloMvcApi/project.json#L24-L32

[2016-04-22 01:30] guardrex commented on #90
@PinpointTownes Yeah ... if it's going to be shared, then use a diff `processPath` and `arguments` in https://github.com/openiddict/openiddict-core/blob/dev/samples/Mvc.Server/web.config#L7 ...

Use ...

[code]

... and the server will need the `AspNetCoreModule` ...
[AspNetCoreModule x64 MSI Installer](http://download.microsoft.com/download/7/2/D/72DD68D5-7386-4A41-8B8F-E21779A69E33/aspnetcoremod

[2016-04-22 01:37] guardrex commented on #90
@PinpointTownes ^^ No, on the `publish-iis` tool ... you have the `web.config` file in your project and set in the `content` section of `project.json` to be published with the app output. Therefore, you can go without Pawel's `publish-iis` tooling.

HOWEVER ... he did build that tooling to produce the `web.config` file for you with the proper entries for `processPath` and `arguments`. You could do

[2016-04-22 01:41] kevinchalet commented on #90
@GuardRex alright, thanks for the precious info. Per your suggestion, I'll remove the web.config files from the samples and add the uber cool IIS tool :smile:

Am I right thinking this tool will be automagically executed by the VS tooling when targeting IIS Express? :smile:

[2016-04-22 01:41] kevinchalet commented on #90
Oh no, I love mine :cry:

[2016-04-22 01:47] guardrex commented on #90
`dotnet cli` will trigger the tooling **only** on post-publish, so you have to run the `dotnet publish` command to get the tool to run. Therefore, it won't fire off on a `dotnet build` or `dotnet run`.

The only "catch" with the tool is that Pawel shot down my idea to have custom settings for the `web.config` it generates. For example, his default `web.config` will be produced with the module log

[2016-04-22 11:44] Gillardo opened #91 "Incorrect references?"
Just updated using `dotnet restore` and now getting this error with version alpha2-0224

[2016-04-22 12:09] kevinchalet commented on #91
As announced on Gitter, OpenIddict was recently updated to use the RC2 "CI release" packages instead of the RC3 packages. We'll migrate to the final RC2 packages when they are available on NuGet.org.

I recommend removing the `aspnetcidev` feed from your NuGet.config file and using `aspnetcirelease` instead: https://www.myget.org/gallery/aspnetcirelease.

Any chance you could change it and wipe yo

[2016-04-22 12:14] Gillardo commented on #91
Thank you, project now seems to build.  I have changed my feed in my project to point to the new myget url

[2016-04-22 12:14] #91 closed, assigned to nobody

[2016-04-22 14:08] nicolasr75 commented on #90
I gave this a first try. Publishing is fine and calling it from IIS too but adding OpenIddict fails

`2016-04-22 16:03:17.329 +02:00 [Error] System.UnauthorizedAccessException: Access to the path 'C:\WINDOWS\system32\config\systemprofile' is denied.
   at System.IO.Win32FileSystem.CreateDirectory(String fullPath)
   at System.IO.DirectoryInfo.Create()
   at Microsoft.AspNetCore.Builder.OpenIdConne

[2016-04-22 14:30] kevinchalet commented on #90
You can read https://github.com/openiddict/openiddict-core/issues/52#issuecomment-173933098 for more information.

Looks like the existing fix didn't completely solve this issue. I'll push a new one, with some try/catch to handle that.

[2016-04-25 11:16] nicolasr75 commented on #90
@PinpointTownes Ok, thanks, using an explicit certificate fixed it. So I can confirm that it works with IIS and newest dotnet cli
Product Information:
 Version:     1.0.0-rc2-002485
 Commit Sha:  d3c65aee87

Runtime Environment:
 OS Name:     Windows
 OS Version:  10.0.10586
 OS Platform: Windows
 RID:         win10-x64

I think it would make using OpenIddict still easier when there were a few lin

[2016-04-25 11:23] kevinchalet commented on #90
Good idea, I'll add a few words in the README.md.

FYI, the `UnauthorizedAccessException` you were seeing should now be caught in the latest bits.

[2016-04-25 11:34] nicolasr75 commented on #90
Great! Then I can now proceed to actually using OpenIddict and find out what to do with it ;-)

[2016-04-25 11:34] #90 closed, assigned to nobody

[2016-04-26 13:01] eduardoluizm opened #93 "Execution error using a custom TKey"
Hi,

I tried to use a custom TKey (Guid) and it compiles, but, when I try to run, it doesn't work.

**It works:**
![image](https://cloud.githubusercontent.com/assets/3385836/14818690/d886e6fa-0b94-11e6-89bf-7e3d5bbbc066.png)

![image](https://cloud.githubusercontent.com/assets/3385836/14818707/ecd0ad80-0b94-11e6-97ac-77269b17cc2d.png)

![image](https://cloud.githubusercontent.com/assets/3385836/14

[2016-04-26 13:24] kevinchalet commented on #93
Hey,

Looks like you're not registering the `AppClient` type.
Can you try calling `AddOpenIddict<AppClient>()` instead of `AppOpenIddict()`?

[2016-04-26 13:49] eduardoluizm commented on #93
@PinpointTownes Thanks! I've forgot something.. rsrs

[2016-04-26 13:49] #93 closed, assigned to nobody

[2016-04-26 22:24] shima20 opened #96 "default Identity Server question"
I have an app using the JWT Bearer Authentication in the startup and in Configure Services I'm doing the below.  Is there a way to authenticate the username and password from a different provider (sidestepping the default identity configuration) but still use the claims etc from the default identity server provider after the username and password has been validated?

services.AddIdentity<Applicati

[2016-04-26 22:29] kevinchalet commented on #96
I'm not sure to understand what you're trying to do. Any chance you could post more details?

[2016-04-26 22:35] shima20 commented on #96
Sorry, it's a bit confusing.  Basically I have a separate server that already has usernames and passwords stored and I would like to authenticate using that. But utilize the default identity server for the claims, roles.  So technically there's 2 databases.

[2016-04-26 22:47] kevinchalet commented on #96
Interesting scenario. Since OpenIddict simply relies on Identity's `UserManager` to validate the user credentials, I'd simply create my own `UserManager`, override the `UserManager.VerifyPasswordAsync` method and replace the default user manager by the custom one in the DI container.

Overriding the default user manager is a pretty common scenario in Identity and I'm pretty sure there's some docum

[2016-04-26 22:53] shima20 commented on #96
Thank you for the suggestion.  Not the best scenario as the other team does not want to manage the roles etc so they wanted to keep it separate.

[2016-04-27 11:57] BrainCrumbz commented on #85
Just a recent update on RC2 state of the art: http://www.hanselman.com/blog/AnUpdateOnASPNETCore10RC2.aspx

[2016-04-27 12:37] kevinchalet commented on #85
@BrainCrumbz FYI, OpenIddict now targets the RC2 "CI release" packages: https://github.com/openiddict/openiddict-core/issues/91#issuecomment-213397775.

[2016-04-27 12:37] #85 closed, assigned to nobody

[2016-04-27 17:20] shima20 commented on #96
@PinpointTownes Who might I contact on the ASP.NET team?

[2016-04-27 17:27] kevinchalet commented on #96
You can open a ticket [there](https://github.com/aspnet/Identity/issues) and ping @HaoK, @rustd or @danroth27.

[2016-04-27 17:39] shima20 commented on #96
Thank you, I will do that and close this one...

[2016-04-27 17:39] #96 closed, assigned to nobody

[2016-04-27 22:34] #82 closed, assigned to nobody

[2016-04-27 22:34] #48 closed, assigned to nobody

[2016-04-28 15:42] DreamingDevs opened #98 "Access to custom parameters passed in grant_type=refresh_token request"
We have following implementation in `ASP.Net Core RC2 - 20222`. In code, I want to access a custom parameter which is sent in `grant_type=refresh_token` request.

[code]

I am making below request to /connect/token endpoint.

But unfortunately I am not getting custom parameter from request. Please let me know my available options.

[2016-04-29 11:07] ibrmohammed opened #99 "Could not run MVC.server project in openiddict-core"
got the latest version today. Build was successful.But when I run the MVC.Server solution on IISexpress, it gives me an error.
http://localhost:54540/.  Site can't be reached.

My clr runtime is
![error](https://cloud.githubusercontent.com/assets/5870046/14914526/90b08142-0e28-11e6-839f-95ec1e17b1e4.png)

[2016-04-29 12:12] kevinchalet commented on #99
DNX no longer works with OpenIddict: you need to use CLI to run the samples:

Mvc.Client: `dotnet run server.urls=http://localhost:53507/`
Mvc.Server: `dotnet run server.urls=http://localhost:54540/`

[2016-04-29 12:19] ibrmohammed commented on #99
@PinpointTownes how could you arrive to a point that I was using dnx but not .NET CLI

[2016-04-29 12:21] kevinchalet commented on #99
The screenshot you posted lists all the DNX runtimes installed on your machine, so it was reasonable to think you were using DNX (unless the screenshot has nothing to do with the rest of your question)

That... or I have a crystal ball.

[2016-04-29 12:23] ibrmohammed commented on #99
i did install dotnet CLI on my machine. how to check that i am using dotnet runtime.

[2016-04-29 12:28] kevinchalet commented on #99
Not sure to understand your question. If you're using commands that begin with "dotnet", then you're using CLI.

[2016-04-29 12:32] ibrmohammed commented on #99
got it.so i did try dotnet restore on MVC.Server. got the following errors.
![e2](https://cloud.githubusercontent.com/assets/5870046/14915987/79ee61c0-0e34-11e6-830a-5f7a601c7071.png)

[2016-04-29 12:34] kevinchalet commented on #99
Which CLI version are you using? (run dotnet --info)

[2016-04-29 12:37] ibrmohammed commented on #99
![e3](https://cloud.githubusercontent.com/assets/5870046/14916116/30f36d70-0e35-11e6-8437-ea539ae6792d.png)

[2016-04-29 12:44] kevinchalet commented on #99
I can't reproduce your issue on my machine (and the latest CI build worked fine). I'll ping a friend to confirm this is not a global issue.

[2016-04-29 13:47] kevinchalet commented on #99
It's likely an issue with your own configuration as we're unable to reproduce your issue.
I tested the MVC samples on a brand new machine where CLI was not installed yet and it worked fine.

[2016-04-29 13:49] ibrmohammed commented on #99
which particluar configuration are you referring to.

[2016-04-29 13:49] ibrmohammed commented on #99
I did remove all my dnx runtimes as well

[2016-04-29 13:51] kevinchalet commented on #99
Nothing specific: the packages installed on your machine, your CLI version, or something else.

There's nothing I can do since the issue you're seeing is not caused by our samples, so I'd recommend pinging someone from the ASP.NET team to get live assistance.

[2016-04-29 13:51] #99 closed, assigned to nobody

[2016-04-30 03:34] ibrmohammed commented on #99
@PinpointTownes Thanks for helping me out.It worked.
I was missing the json dependency in the project.json that you added yesterday.
close

[2016-04-30 08:20] DreamingDevs opened #100 "How to save Access and Refresh Token to database using OpenIddictManager"
I wanted to save generated Access and Refresh tokens my custom database. How to get them in my code?

I have below implementation to validate user credentials -

[code]

[2016-05-03 11:14] kevinchalet commented on #100
We'll implement that as part of the built-in refresh token revocation support: https://github.com/openiddict/openiddict-core/issues/32.

[2016-05-05 13:24] smbecker opened #101 "ArgumentNullException when null email"
When the 'email' scope is requested and the user does not have an email address on file, then a ArgumentNullException is thrown. Perhaps just add a string.IsNullOrEmpty check [here](https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.Core/OpenIddictManager.cs#L90)?

[2016-05-05 19:50] #101 closed, assigned to kevinchalet

[2016-05-05 19:51] kevinchalet commented on #101
Thanks for reporting this bug :smile:

It should be fixed by https://github.com/openiddict/openiddict-core/commit/5c09b2ef8ec373c6d5fd19ea46b77b6a27abe49a.

[2016-05-06 17:26] kevinchalet commented on #16
Reassigned.

[2016-05-06 17:26] kevinchalet commented on #17
Reassigned.

[2016-05-06 17:27] kevinchalet commented on #32
Assigned to me. I'll implement that with the authorization/scope support.

[2016-05-08 02:59] kevinchalet opened #103 "OpenIddictProvider.HandleLogoutRequest throws an exception when the authentication cookie is no longer valid"
[code]

Reported by @joshcomley.

[2016-05-08 03:30] #103 closed, assigned to kevinchalet

[2016-05-08 09:52] ibrmohammed opened #105 "Hosting the Mvc.Server project on IIS with net451 not working"
## Publishing Mvc.Server

<h4>Commands Used</h4>

dotnet publish --configuration Release --runtime win81-x64 --framework "net451"

<h4>Publish Results</h4>

![image](https://cloud.githubusercontent.com/assets/5870046/15097107/30240c8c-152f-11e6-951f-b6fba1ae0c9c.png)
## Hosting on IIS

<h3>Issues seen while hosting on IIS</h3>

![image](https://cloud.githubusercontent.com/assets/5870046/15097138/d

[2016-05-08 12:11] kevinchalet commented on #105
By quickly looking at the log, I'd say that's because the native Libuv DLL cannot be found.

Sadly, I have no idea why it's happening. I'd recommend pinging someone from the ASP.NET team (e.g @moozzyk, who's the "IIS publish" specialist :smile:)

[2016-05-09 00:17] guardrex commented on #105
The Application log Error code is the same one that is received for ...

It's not likely that that applies here, so I'm all :ear:'s on the cause of this, because I'd like to distinguish between these two exceptions in the IIS doc.

[2016-05-09 03:40] ibrmohammed commented on #105
No. The platform is not set.

## compilation options

  "compilationOptions": {
    "debugType": "portable",
    "emitEntryPoint": true,
    "preserveCompilationContext": true
  },

Another info that i would like to add is when i published using netcoreapp1.0, i got the following folder structure
refs
runtimes
Views
wwwroot

But with net451,  runtimes folder is missing.

[2016-05-09 15:57] moozzyk commented on #105
Can you try running your application without IIS? I expect it will fail the same way. If it does, can you check (e.g. using process monitor) where it is trying to load libuv from? Is libuv.dll there? There can be a few causes of failing to load a dll - from the library not being in the target path to missing dependecies to bitness mismatch.

[2016-05-09 17:36] moozzyk commented on #105
Looks like the issue is in dotnet publish where libuv.dll is not published if you publish for full .NET and non-win7-x64 RID: https://github.com/dotnet/cli/issues/2956. For now stick to `--runtime win7-x64`

[2016-05-09 17:56] kevinchalet commented on #105
Ah great, that explains why I was unable to reproduce it on my Windows 7 machine, since I was using `win7-x64` and not the buggy `win81-x64` :smile:

Thanks for investigating :clap:

Closed as external.

[2016-05-09 18:34] dasMulli commented on #105
Adding the

[code]

dependency to the project.json of `Mvc.Server` seems to make it publish including the native dependencies as it provides a `runtime.json` that defines the needed [`#import` definitions](https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json).

[2016-05-09 18:42] guardrex commented on #105
@dasMulli Indeed ... yes! I should have looked earlier. The deps do not pull ...
`Microsoft.NETCore.App`, so there is no pull on `NETStandard.Library`, so there is no pull on `Microsoft.NETCore.Platforms`, so ... :boom:

[EDIT] I could expand the guidance for `Publishing to IIS` to include this. /cc @shirhatti, would you like me to add this? ... or do you feel that this really isn't an IIS-thingy?

[2016-05-11 05:38] kevinchalet commented on #105
Reopening, as we'll have to fix the samples to include the `Microsoft.NETCore.Platforms` package under `net451/dependencies`.

[2016-05-11 13:07] Gillardo opened #106 "Access to the path error, but doesnt exist?"
If i run `dotnet publish` and upload this to my server, and then try to run this code via IIS, i get the error below, however, if i run the .exe file using command line window, it works, and the file is wrote to a completely different location?

Here is the location when running the exe via command prompt

Any ideas?  Running on Windows Server 2012, using runtime win8-x64

[2016-05-11 14:36] kevinchalet commented on #106
Same root cause as https://github.com/openiddict/openiddict-core/issues/90#issuecomment-213442540.

I'm considering removing the automatic key generation feature from ASOS/OpenIddict as it seems impossible to find an appropriate keys folder that works everywhere. This feature is quite useful as you don't have to manually create a X509 certificate, but it's causing too much pain when going to produ

[2016-05-11 14:42] Gillardo commented on #106
THANKS @PinpointTownes

[2016-05-11 14:42] #106 closed, assigned to nobody

[2016-05-11 15:10] kevinchalet commented on #106
Moved to https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/269.

[2016-05-12 03:10] kevinchalet commented on #105
Fixed: https://github.com/openiddict/openiddict-core/commit/b08a25cc5813a7cf48cdb4e67f31093639bc6e1b.

[2016-05-12 03:10] #105 closed, assigned to nobody

[2016-05-12 14:51] DreamingDevs opened #108 "How to server multiple sites from same resource server site?"
I have TWO sites, `http://localhost:5000/` (MVC + WebAPI + Resource Server) and `http:localhost:63845/` (MVC Site). I have all the OpenIddict code in 5000 site which was enabled for CORS. I wanted to get token and validate all the requests from 63485 site as well. So I want to authenticate users from both sites, how to do that?

I have following code in startup.cs -

[code]

And I have following i

[2016-05-12 16:21] kevinchalet commented on #108
Not sure to fully understand your question. Are you trying to add a new OAuth2/OpenID Connect client? Or a new API (= resource server)?

[2016-05-12 16:34] DreamingDevs commented on #108
I have two sites hosted on 5000 and 63845, Both sites got AngularJS pages which will be interacting with WebAPI (which is also hosted in 5000). Now my Web API is protected by Authorize attribute through OpenIddict. And I have `/connect/token` endpoint in 5000.  I was able to get token in below way and use the same in 5000 hosted pages and everything is working fine.

![image](https://cloud.githubu

[2016-05-12 16:36] kevinchalet commented on #108
Can you please share the token requests you're sending and the tokens you get?
You should also enable logging to determine why the token is rejected.

[2016-05-12 16:39] DreamingDevs commented on #108
I updated my previous answer with a screenshot. Now I tried to get different tokens using different `resource` (one for 5000 and other for 63845). I was able to get 5000 token working, but not 63845 token from that site. I mean 5000 hosted pages working with token got from resource - 5000. But 63845 pages were not able to access secured endpoints using token got from resource - 63845.

[2016-05-12 16:43] kevinchalet commented on #108
That's totally expected, `resource` identifies the resource server (= the API), not the client that makes the request. Use `resource=http://localhost:5000/` in both apps and it should work.

[2016-05-12 17:09] DreamingDevs commented on #108
Thanks @PinpointTownes , it works.

[2016-05-12 22:19] Bartmax commented on #106
Maybe we should make that an explcit call and provide the folder? Or we can make it optional, catch the exception and tell how to fix it.

Like: OpenIddict failed to create the RSA Key on "{path}", most likely written permission. You can give writting permissions to folder or use .UseKeyGeneratorPath(path) and provide a path that has writting permissions. On production servers we recommend that yo

[2016-05-12 23:15] kevinchalet commented on #106
The cool thing about this feature is that it was fully automatic: you didn't have to configure anything. Having to configure this feature seems to defeat its entire purpose. And in this case, it's probably "as complicated" as configuring an embedded X509 certificate, which is what we recommend when going live.

Do you strongly feel X509 certificates are too hard to configure?
Here's the syntax I'd

[2016-05-13 00:50] Bartmax commented on #106
the certificate problem is that you must create and add to your server, those are steps I really don't want to do when developing, i like the automatic, but if people have a problem right now is hard for them to understand what's wrong. I guess a proper error message will be enough. I agree that configuring the folder has no sense, because is not what we want on production.

[2016-05-13 01:25] kevinchalet commented on #106
Ideally:
- When testing OpenIddict, you don't have to configure anything as the default samples use an embedded test certificate, that doesn't have to be persisted in the machine store.
- When creating your own project based on OpenIddict, you can generate your own certificate using a tool like [`self-cert`](https://s3.amazonaws.com/pluralsight-free/keith-brown/samples/SelfCert.zip) (please give i

[2016-05-13 07:04] #108 closed, assigned to nobody

[2016-05-13 07:33] DreamingDevs opened #109 "How to configure UseJwtBearerAuthentication on multiple application to use same token for authentication?"
I am following this example - [http://capesean.co.za/blog/asp-net-5-jwt-tokens/](http://capesean.co.za/blog/asp-net-5-jwt-tokens/).

Now I have App1 which is giving token through `/Connect/Token/` endpoint (in App1). I will call this App1 endpoint and get token from App2 (i enabled CORS on App1). Now I want to use the same token to authenticate the call for Web API which is present in App2.

So ba

[2016-05-13 12:03] kevinchalet commented on #109
The `resource` parameter supports multiple endpoints, just separate them with spaces and you'll get an access token targeting multiple audiences (= APIs)

e.g `resource=http://app1.domain.com/ http://app2.domain.com/`

[2016-05-13 18:29] DreamingDevs commented on #109
In that case, having following code in App2 Startup would be enough? Audience and Authority pointing to App1 base url (because that is my authorization server).

My understanding is that there is no need to add OpenIddict in App2, is that right? Having App2 configured for JWT Bearer Authentication (with code below) should be fine.

[code]

[2016-05-13 18:32] kevinchalet commented on #109
Yep. Except the Authority property must point to your authorization server (that uses the port 5000 IIRC).

[2016-05-13 18:42] DreamingDevs commented on #109
Yes, 5000 is my Auth Server, 58292 is my App2. So I am going to use following in App2 Startup.cs.

[code]

I will try this suggestion and will keep you this thread posted with update. Thanks for the info.

[2016-05-14 14:28] DreamingDevs commented on #109
Thanks @PinpointTownes, it worked. Thanks for your help and support.

[2016-05-14 14:28] #109 closed, assigned to nobody

[2016-05-14 17:27] Ciantic opened #112 "Separating client_id and Application primary key"
I'm using a Integer as a keys for User, Role etc. Currently this also forces an application client_id to be a integer. This is not necessarily wanted, and they could be decoupled.

Right now I'm registering my official apps with e.g. with client_id 10000 and increment the number with another 10000 to make room for the possiblity of thirdparty apps (if there ever is any).

Ideally I would like to u

[2016-05-14 17:30] kevinchalet commented on #112
Sounds like a good idea (as long as we can define the client_id column as an index for maximal performance).

/cc @Bartmax @ilmax thoughts? :smile:

[2016-05-14 20:38] Bartmax commented on #112
Agree, client_id type shouldn't be forced to be the same as user_id.

[2016-05-15 19:30] ilmax commented on #112
Ideally we could use a genircs here, so int or string can be used based on Dev needs

[2016-05-15 19:48] kevinchalet commented on #112
@ilmax the `Application` type supports custom key types thanks to its `TKey` generic argument (as requested by @khellang), but `TKey` is shared by all the OpenIddict/Identity models, so you can't use `string` for `Application` and `long` or `Guid` for the other models. We could of course use a key type per entity, but it would quickly become a real nightmare, as it would end up having an insane nu

[2016-05-15 21:03] ilmax commented on #112
@PinpointTownes yes, that makes sense

[2016-05-16 20:18] kevinchalet opened #116 "Remove the internal NWebSec package"
We currently use an internal version of NWebSec that works with RC2. We should remove it when the official package is available on NuGet.org.

[2016-05-17 10:21] stap123 opened #117 "App Gets Directed to /signin-oidc"
I suspect there is a really simple answer to this that I just don't know but i'll ask the stupid question anyway :).

We are using IdentityServer3 to authenticate our applications when using AspNetCore I have one application that authenticates with the server using the UseOpenIdConnectAuthentication() Middleware. But when we added the same middleware to another application (With a different client

[2016-05-17 12:00] kevinchalet commented on #117
Then, this is obviously the wrong repository :smile:
Here's the one you're looking for: https://github.com/IdentityServer/IdentityServer3.

[2016-05-17 12:00] #117 closed, assigned to nobody

[2016-05-17 12:26] stap123 commented on #117
Not sure I explained that very well.

The Identity Server functionality is working correctly, I think the issue is with the Open Id Authentication OWIN Middleware. It is not catching the callback when it comes in to {Appurl}/signin-oidc

The Identity Server issue is probably irrelevant (Because it is working perfectly well with other applications including another on aspnet core) and I have mislea

[2016-05-17 12:31] kevinchalet commented on #117
I'm not sure to understand how it's related to OpenIddict. The OIDC client middleware is developed by the ASP.NET team. Issues related to this middleware should be filed via https://github.com/aspnet/Security

[2016-05-18 08:48] DreamingDevs opened #119 "Allow specifying per-user and/or per-application token lifetime"
Currently I have following configuration in `Startup.cs` -

[code]

And this is my Custom OpenIddictManager -

[code]

One request to `/connect/token`, I get following token response.
![image](https://cloud.githubusercontent.com/assets/5579127/15352705/13afd5fa-1d03-11e6-8995-2be89729104a.png)

Now I want to set the token's `expires_in` property (basically AccessTokenLifetime) based on user (from

[2016-05-18 14:51] DreamingDevs commented on #119
Update - I used below code by handling `OnSerializeAccessToken`. With this approach I am only able to get the "expires_in" set after first request.

What I mean is that when ever I change value in DB, the immediate request to TokenEndpoint uses the OLD value, but from second request (to TokenEndpoint) uses NEW value. Can some one point me what I am doing wrong here.

[code]

[2016-05-18 15:31] kevinchalet commented on #119
Not surprising, since you're updating the global options by replacing `builder.Options.AccessTokenLifetime`, which is terribad as it's not thread-safe.

Instead, you can replace `context.Ticket.Properties.ExpiresUtc` with the expiration date you want. It will only impact the access token lifetime and won't affect the other tokens or the other requests.

That said, this kind of extensibility is not

[2016-05-18 15:50] DreamingDevs commented on #119
Thanks @PinpointTownes Setting `ExpiresUtc` is working fine.

[2016-05-18 15:54] kevinchalet commented on #119
Reopening, to make sure we track this scenario.

[2016-05-18 21:19] ilmax commented on #46
This is a hard one :)

Security is hard, and so provide maximum flexibility yet ensuring the correct behavior of the system should be hard as well.

I completely agree with @Bartmax for the typical user workflow, so we have to get up & running very quickly (e.g. provide a meta package that brings in all required dependencies)

We need to figure out which pieces of the puzzle are the most frequentl

[2016-05-18 21:34] ilmax commented on #119
Interesting one, can we implement an abstraction around token lifetime? I think of something like this one

[code]

Maybe the application can also be passed in to have more granularity?

The default implementations can simply return the default values e.g. `Options.AccessTokenLifetime`

Should we provide similar method for
- RefreshTokens
- AuthorizationCode
- IdentityToken

In that case we can pa

[2016-05-18 21:50] ilmax commented on #16
@damccull @singlewind you are correct, we could provide a little infrastructure around scope management because in some scenario the scopes issued in the token can be a subset of the scopes requested by the client RPs

[2016-05-18 22:07] ilmax commented on #28
We should allow configuring CORS application dependently, so Ideally we can store all CORS informations

In the past I've done something like the following in a OWIN `OAuthAuthorizationServerProvider`

[code]

All the allowed origins were added to the context based on `client_id` some
The same can be done with the other CORS related settings.

/cc @PinpointTownes  @Bartmax

[2016-05-20 19:35] mkelley82 opened #120 "How to go about implementing purely as an API?"
Is there an example somewhere how to implement openiddict purely as part of an API? So that users can be registered, etc... from say an Angular/Vue client? And then access to the API is regulated by openiddict?

[2016-05-20 20:41] kevinchalet commented on #120
We don't have a specific example yet, but this blog post might help you: http://capesean.co.za/blog/asp-net-5-jwt-tokens/

FYI, OpenIddict is not directly responsible of registration, since it's handled by Identity (via `AccountController`), so you're totally free to implement it using an API controller.

[2016-05-20 20:59] ilmax commented on #18
Self assigned

[2016-05-22 03:59] bouchepat commented on #44
Can you explain how you sorted it out? Tried with new project and run the examples but still getting the same error. Invalid Applications object.

Thanks

[2016-05-22 13:51] bouchepat commented on #44
Might exists a better solution, but this fixed the issue:

public class ApplicationDbContext : IdentityDbContext<ApplicationUser>
    {
        public ApplicationDbContext(DbContextOptions options)
            : base(options)
        {   }

[code]

Hopefully this can help others.

[2016-05-22 14:58] kevinchalet commented on #44
Nope, it's the right approach if you don't want to inherit from `OpenIddictContext`. It's clearly mentioned in the README:

![image](https://cloud.githubusercontent.com/assets/6998306/15454611/54d04f2c-203e-11e6-8de9-3702b12dd327.png)

[2016-05-22 15:26] bouchepat commented on #44
Thanks, I read the readme and it did help resolving the issue; however the readme does not mention if inheriting from OpenIddictContext the Applications table will not be created. Which is the issue reported.
If there is a reason why the table is not created when inheriting from OpenIddictContext I would be interested to know why. Thanks

[2016-05-22 15:32] kevinchalet commented on #44
Hum weird. Are you sure you didn't have a pre-existing database before updating your context class to inherit from `OpenIddictContext`?

[2016-05-24 04:48] kevinchalet commented on #116
Done: https://github.com/openiddict/openiddict-core/commit/657634c13e10517a56ceff611ae111dc11464eee

Note: `NWebsec.AspNetCore.Middleware` currently requires `.NET Standard 1.5` so `OpenIddict.Security` had to be updated to target `netstandard1.5` instead of `netstandard1.4`. I will keep an eye on the NWebsec packages and update `OpenIddict.Security` if we get a new version compatible with `netsta

[2016-05-24 04:48] #116 closed, assigned to kevinchalet

[2016-05-24 13:19] damccull commented on #116
Yay!

[2016-05-24 15:49] Gillardo opened #123 "How can you change the UI?"
Is it possible to use a custom view for openiddict-core?  I want to change the buttons on this screen, if so, how do you go about it, cos cant find anything on there?

![image](https://cloud.githubusercontent.com/assets/7406381/15510495/760908c2-21cf-11e6-8a53-741e6025301e.png)

[2016-05-24 15:53] kevinchalet commented on #123
Yep, it's possible: create an `OpenIddict` folder under `Views` and add an `Authorize.cshtml` view.

You can reuse the default view and customize it the way you want:

[code]

[2016-05-24 16:00] ilmax commented on #46
See related issues

#123

[2016-05-25 07:34] Gillardo commented on #123
@PinpointTownes thanks for this, it seems nice and easy.  On a similar note, you will notice that on my screen shot, the available endpoints seem to be empty??  Why?  What should i of done in order to populate them?

[2016-05-25 08:56] Gillardo commented on #123
Also, if i have created a login and accepted everything, why upon logging in everytime should i have to Confirm authorization?  Is it possible to drop this screen altogether?

[2016-05-25 12:07] kevinchalet commented on #123
The `resources` list is determined by the `resource` space-separated parameter. It's useful when using JWT access tokens, as the JWT bearer middleware requires a non-empty audience by default. If you use our validation middleware, it's not needed.

I sent a PR to improve this view a bit: https://github.com/openiddict/openiddict-core/pull/124.

For security reasons, you can't skip the authorization

[2016-05-26 21:36] xperiandri commented on #123
I agree with @Gillardo that if I am an owner of a Server App and a Client App my user must not be prompted for authorization.

[2016-05-26 21:38] xperiandri commented on #123
With regard to the discussion above I want to ask if Mobile App developed by the Server App owner can be treated as `Confidential`?

[2016-05-26 21:46] xperiandri opened #125 "Get available Identity Providers metadata from Provider metadata endpoint"
Basically I wonder if `Provider metadata` endpoint is implemented and if I can get Identity Providers metadata from it.

[2016-05-27 00:55] devilsuraj opened #126 "Need help to merge client and server in single project"
Hi i am trying to merge client and server in single project for learning exercise but getting error on invalid redirect_uri or postlogout_uri.
check my copy here https://github.com/devilsuraj/openiddict-core/tree/dev/samples/Mvc.Server

[2016-05-29 09:43] xperiandri commented on #126
What is your intent of doing this?

[2016-05-29 16:50] devilsuraj commented on #126
actually its my personal preference dont want to manage so many files from different projects .. anyways i am almost there , i am following this project https://github.com/capesean/openiddict-test but with angular2 . now i am stuck at a point please help if you can.

the problem is that
when i have this inlcuded

[code]

angular2-jwt decodes my token but on server [authorize] tag sends me login ur

[2016-05-30 16:06] kevinchalet commented on #120
FYI, @KerryRitter posted a great blog post demonstrating how you roll your own `AccountController` to register a user with a simple API call: http://kerryritter.com/authorizing-your-net-core-mvc6-api-requests-with-openiddict-and-identity/

[2016-05-30 16:06] #120 closed, assigned to nobody

[2016-06-04 09:34] ilmax opened #129 "Update readme to point to the new samples repo"
We should update readme and point to samples in the new samples repo as soon as samples are available.

[2016-06-05 12:44] rpicone commented on #123
Hi,

about "...but we'll unlikely allow skipping it completely (maybe except for confidential clients).", how can I help with this?

This feature would be very cool. In many cases, the developers creates an openid server just for one application/service, and a user who doesn´t whant use that application, doesn´t want to register anyway. Today, after be registered, they are asked to authorize the c

[2016-06-06 19:20] kevinchalet commented on #123
If you want to implement that, I'd recommend creating your own authorization controller instead of using the optional MVC module (that might be removed if we decide to use a template-only approach: https://github.com/openiddict/openiddict-core/issues/46).

Here's an example: https://github.com/Ciantic/AspNetApiMonolithSample/blob/master/src/Api/Controllers/OpenIdController.cs#L114

When using your

[2016-06-07 20:04] ORuban opened #133 "Consider using last available version of AspNet.Security.OpenIdConnect.Server in dev branch."
Current dev branch contains 1.0.0-beta5-final version of AspNet.Security.OpenIdConnect.Server. It could be more useful to have reference to last available version of package.

`"AspNet.Security.OpenIdConnect.Server": "1.0.0-*",`
instead of
`"AspNet.Security.OpenIdConnect.Server": "1.0.0-beta5-final",`

There is the same approach in ASP.NET Core projects - for specific versions the release branch w

[2016-06-07 20:45] kevinchalet commented on #133
OpenIddict is still in alpha and there's no official release yet. We will move to ASOS beta6 and ASP.NET Core RTM when they are released, but in the meantime, we'll keep using ASOS beta5-final and RC2.

[2016-06-07 21:06] jkpindahbc commented on #105
This appears to still be broken for net451.

[2016-06-07 21:10] kevinchalet commented on #105
You should spend 2 or 3 minutes trying to explain what doesn't work exactly. Or maybe it was just some random rant? :smile:

[2016-06-07 22:32] levitatejay opened #134 "Return custom message from policy based authorization handler"
I've written some requirements and handlers to handle authorization for my controller actions. In my handler if the requirement fails I write a custom response with a message. Like so:

[code]

It seems like all the middleware I can find is overwriting this response and only returning a 403 status code with no body.

I've tried:
app.UseIdentity()
app.UseOAuthValidation()
app.UseJwtBearerAuthentica

[2016-06-08 01:02] kevinchalet commented on #134
Moved to https://github.com/aspnet/Security/issues/872.

[2016-06-08 01:02] #134 closed, assigned to nobody

[2016-06-08 14:43] kevinchalet commented on #32
This feature is now fully supported.

[2016-06-08 14:43] #32 closed, assigned to kevinchalet

[2016-06-09 23:15] levitatejay opened #136 "How to manually login or generate a token from a controller?"
I'd like to do something like the following in a controller:

[code]

Then I will write some middleware to shift incoming cookies with the name "CookieBearer" to an Authorization bearer header.

Is there a way to do this?

[2016-06-09 23:21] kevinchalet commented on #136
No, there's **deliberately** no way to generate a token outside an OAuth2/OIDC request, just like the cookies middleware doesn't allow you to manually generate an authentication cookie.

That sounds like a crazy idea and in this case, why not just using cookies authentication?

[2016-06-09 23:47] levitatejay commented on #136
I'm using bearer auth currently to secure my API for native running applications and its working well.

There are a couple of reasons I want to use a cookie instead for my angular website:
1. Storing the token in session/local storage is vulnerable to XSS attacks
2. I can redirect unauthenticated users attempting to load the web application before having to load and run any javascript

This link r

[2016-06-09 23:59] kevinchalet commented on #136
Contrary to popular belief, cookies are also vulnerable to XSS, even if they are marked with HttpOnly, since nothing prevents me from sending an API request on behalf of a victim if I find a XSS vulnerability in your app (no need to steal the token in this case, since it is automatically sent by the victim's browser)

I had a brief discussion with Nathanael Barbettini (from Stormpath) about one of

[2016-06-10 00:47] levitatejay commented on #136
Okay thank you for the suggestions. I'll use both the bearer and identity cookie middleware together for now.

What about signing out? I'd like to make a controller action for admins to invalidate any tokens/cookies linked to a certain user. That way we can force a user to enter his credentials again.

[2016-06-10 00:56] kevinchalet commented on #136
The latest OpenIddict bits support refresh token invalidation/revocation: take a look at `OpenIddictUserManager.GetTokensAsync()` and `OpenIddictTokenManager.RevokeAsync()`.

You can also use the built-in revocation endpoint. You can learn more about revocation by reading the RFC: https://tools.ietf.org/html/rfc7009#section-2.1

Access token revocation is not supported and will likely never be for

[2016-06-10 15:32] kevinchalet opened #138 "Fix the introspection/userinfo endpoints to support client application tokens"
This check currently prevents validating access tokens issued during a `grant_type=client_credentials` token request (i.e access tokens representing a client app):

[code]

We could simply remove this check, but I wonder if we shouldn't adopt a more general approach distinguishing tokens representing apps and tokens representing users.

/cc @ilmax

[2016-06-10 15:40] kevinchalet commented on #138
Title updated, as it also impacts the userinfo endpoint. We should decide if we allow using "app access tokens" with the userinfo endpoint. If we think we shouldn't, we'll have to return a better error message.

[2016-06-10 22:34] ilmax commented on #18
Can this be closed or do you plan other changes?

[2016-06-10 22:35] kevinchalet commented on #18
Looks like we have a solid logging base now. I think we can indeed close this ticket :+1:

Thanks :clap:

[2016-06-10 22:35] #18 closed, assigned to ilmax

[2016-06-10 22:57] ilmax commented on #138
I like the second option to distinguish between apps and user tokens, and make this check smarter.

About allowing "app access tokens" in the userinfo endpoint I cannot find nothing preventing this from the specs, but shouldn't be that useful. No strong opinion.

[2016-06-13 15:08] kevinchalet commented on #28
@ilmax do you strongly feel we should have a list of allowed origins? Using an "allow all" policy for all the non-interactive endpoints (configuration, crypto, introspection, revocation, token, userinfo) would make the work item much easier to implement :smile:

Actually, I'm not convinced using a fine-grained CORS policy is really useful from a security perspective as all these endpoints don't us

[2016-06-14 04:10] levitatejay commented on #136
Thank you for your help so far... I've written the following in my admin user service:

[code]

But the RevokeAsync method takes an `OpenIddictToken`and not a `string`(which is what GetTokensAsync returns)... How can I convert the strings returned my the user manager to tokens so I can revoke them? Is there a better way that involves less round trips to the DB?

[2016-06-14 07:05] ilmax commented on #28
No strong opinion, we could go with the "allow all" approach and eventually add a more fine graded control, if needed, later on.

[2016-06-14 19:40] kevinchalet commented on #136
Making `GetTokensAsync` return a list of `TToken` was unfortunately not an option, so we had to return token identifiers instead.

You can retrieve the token entity using `var token = await _tokenManager.FindByIdAsync(id);`.

[2016-06-17 14:19] kevinchalet commented on #112
Fixed, thanks to @xperiandri :clap:

[2016-06-17 14:19] #112 closed, assigned to nobody

[2016-06-24 21:34] xperiandri opened #143 "How to login with a particular identity provider?"
How and where to specify which identity provider I want to use?
Is this possible in a request?
Do I have to create my own authorization controller?
How to tell ASP.NET infrastructure that I want to use particular identity provider and navigate directly to it's page but not my login page?

[2016-06-28 07:26] ghost opened #145 "Error after upgrade to Asp.net core 1.0.0."
Hi there & thanks for your amazing work :)

I ran into an issue after upgrading asp.net core rc2 -> 1.0.0. yesterday:

When loading my dev-app, the line
`services.AddOpenIddict<Core.Entities.User, DataAccess.ApoNextDbContext>).DisableHttpsRequirement();
`
causes

I am using Openiddict 1.0.0-alpha2-0331 .   Everything was running fine with asp.net core RC2 & OpenIddict alpha 302.

Let me know if yo

[2016-06-28 08:27] henkmollema opened #146 "Update CryptoHelper to v2.0"
I released [CryptoHelper v2.0](https://www.nuget.org/packages/CryptoHelper/2.0.0) which targets .NET Core RTM. Either I'll send a pull request when you are updating to RTM or you can update yourself. :smile:

[2016-06-28 10:08] kevinchalet commented on #145
Haha, thanks :smile:

The issue you're seeing is unfortunately a known one, caused by class name changes in the logging stack (and in a few other places): https://github.com/aspnet/DependencyInjection/issues/411

This incompatibility will be fixed when migrating to the RTM bits. In the meantime, I'd recommend using the ASP.NET Core RC2 packages :clap:

[2016-06-28 10:09] kevinchalet commented on #146
Ha great, thanks, I'll include that in my local branch! :tada:

Curious: is the <net451 TFM deprecation the only breaking change?

[2016-06-28 10:11] henkmollema commented on #146
Yeah, I removed the `net40` and `net45` targets and the associated API's which were `ifdef`'d. The API for `net451` and `.netstandard1.3` stays the same.

[2016-06-28 10:23] ghost commented on #145
Alright! Thanks for your quick response. Keep up the good work!

[2016-06-28 20:51] smbecker commented on #145
Not to push but any idea when a new package that targets the RTM bits will be available? I can't upgrade to RTM until it is so just want to plan accordingly.

[2016-06-28 23:26] kevinchalet commented on #145
In the next few days. Actually, I already have a working "OpenIddict for ASP.NET Core RTM" prototype, but I'd like to share it with a few testers before releasing it publicly.

[2016-06-29 18:33] kevinchalet commented on #145
For those who want to try the experimental "OpenIddict for RTM" bits, you can download the corresponding packages here: https://ci.appveyor.com/project/openiddict/openiddict-core/build/1.0.0-alpha2-337/artifacts

[2016-06-30 06:28] ghost commented on #145
Thanks for the upload!

I get a new error now on Startup

`var host = new WebHostBuilder()
                .UseKestrel()
                .UseContentRoot(dir)
                .UseIISIntegration()
                .UseStartup<Startup>()
                .Build();
`

throws:

But that might not be Openiddict related at all... ?

UPDATE: Seems to be a problem with: AspNet.Security.OAuth.Validation, I'll

[2016-06-30 10:27] kevinchalet commented on #145
I'd recommend using 1.0.0-alpha2-final. It was published yesterday on MyGet and will be pushed soon on NuGet.org.

[2016-06-30 18:10] jjennings commented on #145
I stuck in a rabbit hole.  Hopefully, someone here can point me in the right direction.  I'm trying to upgrade to the RTM from RC2 and having many issues related to AspNet.Security.OpenIdConnect.Server.  Everything compiles, but it won't run.  I was able to install ASOS 1.0.0-beta6-0839 but then I started getting issues with Microsoft.IdentityModel.Tokens.  Any help or pointers are greatly appreci

[2016-06-30 18:35] moraleslos commented on #145
@PinpointTownes

I'm all new to OpenIddict and when creating my first project in Core 1.0.0, I encountered the same issue @MoxxNull has seen.  The link to the alpha2-337 nuget artifacts, how do I incorporate them into my project (total newb here).

[2016-06-30 18:48] jaredcnance commented on #145
@moraleslos the way I did it was:
- download the artifacts to a local directory
- add that directory to your NuGet configuration
- update project.json

[2016-06-30 18:50] ghost commented on #145
I did the same as @jaredcnance

[2016-06-30 19:13] moraleslos commented on #145
@jaredcnance So what am I suppose to change in the project.json file?  I already downloaded those files in a folder called C:\TempOpenIddict and my nuget.config now looks like this:

[code]

[2016-06-30 19:14] jaredcnance commented on #145
@moraleslos change project.json to:

[code]

[2016-06-30 19:16] moraleslos commented on #145
thanks @jaredcnance that was it!

[2016-06-30 19:37] moraleslos commented on #145
Getting a new error now which looks a bit different:

[code]

[2016-06-30 23:09] #145 closed, assigned to kevinchalet

[2016-06-30 23:09] kevinchalet commented on #146
Fixed as part of https://github.com/openiddict/openiddict-core/commit/dced1cd8fee9aa3c8ef9ff9a4271f204bb15f66c.

@henkmollema thanks! :clap:

[2016-06-30 23:09] #146 closed, assigned to kevinchalet

[2016-06-30 23:11] kevinchalet commented on #145
@jjennings you're using a pretty old version of ASOS. The latest OpenIddict bits will require `1.0.0-beta6-final`.

[2016-06-30 23:28] kevinchalet commented on #145
FYI, the "OpenIddict for RTM" packages are now on MyGet.org

[2016-07-01 03:03] jayrulez opened #148 "Two factor authentication"
How can we achieve two factor authentication with ROPC workflow?

[2016-07-01 07:18] kevinchalet commented on #148
You can't. This flow doesn't offer a standard way to support 2FA authentication and OpenIddict will systematically reject `grant_type=password` requests when 2FA is enforced for an account.

Instead, consider using an interactive flow like the authorization code flow or implicit.

[2016-07-01 08:34] Alados opened #149 "How get token?"
I try connect on server used postman, but can't get access_token.
May be I do not understand what a few parameters means.
Why in scope required openid, if not add him, displays it:
"error: invalid_request
error_description: openid scope missing"

What is nonce?
I dont now what is it, and get this:
"error: invalid_request
error_description: nonce parameter missing"

Pls, help me understanding how t

[2016-07-01 10:21] kevinchalet commented on #149
You're likely trying to use a `response_type` that includes `id_token`. In this case, you must request the `openid` scope.

http://openid.net/specs/openid-connect-implicit-1_0.html#RequestParameters

[2016-07-01 11:49] Alados commented on #149
Thank, this problem resolved. But i meet new problem. Was not found my redirect_uri. May be may get token without that? I have mobile application and for authorization need have token.

[2016-07-01 14:24] papaytl185 opened #150 "Error with OpenIddict.Mvc"
I am on the newest .netcore 1.0.0
When I add "OpenIddict.Mvc": "1.0.0-*" I get the below error when running

**InvalidOperationException: Can not find compilation library location for package 'OpenIddict.Mvc'**

[code]

[2016-07-01 14:29] kevinchalet commented on #150
A repro would be really helpful. Any chance you could share your app with us?

FYI, `OpenIddict.Mvc` is likely going to be removed in the near future, and replaced by a template approach, similar to the AccountController that comes with Identity.

[2016-07-01 14:33] papaytl185 commented on #150
[PapayAppService.zip](https://github.com/openiddict/openiddict-core/files/343646/PapayAppService.zip)

I attached the project. Just need to uncomment the OpenIddict.Mvc in project.json
With it changing in the near future should I hold off on using it? Or add it a different way?
Thanks

[2016-07-01 17:27] jayrulez commented on #148
Thanks for your feedback. I will look into this.

[2016-07-01 17:27] #148 closed, assigned to nobody

[2016-07-04 17:56] Ciantic opened #154 "Logout action customization to replace SignIn.SignOutAsync"
Currently I have my own implementation that calls SignOutAsync, but I can't use it because the middleware does it for me.

Specifically I would like to replace this https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.Core/Infrastructure/OpenIddictProvider.Session.cs#L96 with my own implementation, that takes in account multiple logged in clients so that not all clients get logged

[2016-07-04 18:21] Ciantic commented on #154
Better alternative is to inherit from SignInManager, then use `services.TryAddScoped<SignInManager<TUser>, YourSignInManager<TUser>>();`.

[2016-07-04 18:21] #154 closed, assigned to nobody

[2016-07-04 19:47] ilmax commented on #133
Move to ASP.NET Core RTM and ASOS beta 6 was adressed by #147.

Closing.

[2016-07-04 19:47] #133 closed, assigned to nobody

[2016-07-06 20:41] kevinchalet commented on #150
OpenIddict.Mvc was removed. Using your own controller is now the recommended approach (take a look at the MVC sample for more information).

[2016-07-06 20:41] #150 closed, assigned to kevinchalet

[2016-07-06 20:41] kevinchalet commented on #149
Are you still facing this issue? If so, please post more details.

[2016-07-07 11:11] ghost opened #155 "Make phone number requestable via scope"
Hey,

is there a possibility to make the phone requestable via a "phone" scope parameter. The OpenID Connect draft mentions phone as optional scope parameter.

The discovery document also has phone in the response:

`"scopes_supported": [
    "openid",
    "profile",
    "email",
    "phone",
    "roles",
    "offline_access"
  ],`

Thanks in advance

[2016-07-07 12:11] Ciantic opened #156 "SignOut when user does not exist in the database"
Problem:
1. User logs in, and gets Identity cookie in the browser
2. Someone deletes the user from the db
3. If user tries to authorize again, but without User in database, this causes server_error
4. The identity cookie is still in the user's browser, causing a infinite loop of server_error when trying to authorize

Solution is to clear the cookies when user does not exist in the database anymore

[2016-07-08 09:26] brunombsilva opened #158 "RoleManager.SupportsRoleClaims"
I'm trying to add claims to roles, and I'm getting them with the user claims.

In OpenIddict.OpenIddictUserManager.CreateIdentityAsync SupportsUserRole is checked, and roles are added as claims, but SupportsRoleClaims is not supported.

In Microsoft.AspNetCore.Identity.UserClaimsPrincipalFactory we have something like

[code]

It this a bug/not implemented feature, or was it a design decision? I'l

[2016-07-08 09:32] brunombsilva commented on #158
Actually, maybe OpenIddict.OpenIddictUserManager.CreateIdentityAsync usage should be replaced by a Microsoft.AspNetCore.Identity.IUserClaimsPrincipalFactory implementation

[2016-07-08 10:12] kevinchalet commented on #158
This was indeed a deliberate decision. Keeping access/identity tokens to a reasonable size is one of our most important constraints (a very annoying one, TBH). Yet, people are often tempted to attach tons of custom claims with the roles they create, which can potentially make tokens quite big.

That said, if a majority of people vote to include them, I'm not opposed to implementing this feature.

[2016-07-08 11:55] #156 closed, assigned to kevinchalet

[2016-07-08 14:53] brunombsilva commented on #158
Fair enough. I'll add these claims just for my use-case. Another issue that I've bumped into is the fact that the connect/userinfo endpoint doesn't use CreateIdentityAsync, so it's kind of cumbersome to add custom claims.

[2016-07-10 11:19] xperiandri opened #163 "What is the reason to require developer to set endpoints manually?"
If I satisfied with defaults

[2016-07-10 11:24] kevinchalet commented on #163
Reducing the attack surface, as explained in https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/312.

[2016-07-10 13:31] #163 closed, assigned to nobody

[2016-07-10 13:31] #149 closed, assigned to nobody

[2016-07-10 13:31] #136 closed, assigned to nobody

[2016-07-10 13:32] #126 closed, assigned to nobody

[2016-07-10 13:32] #123 closed, assigned to nobody

[2016-07-10 13:32] #45 closed, assigned to nobody

[2016-07-14 22:26] johnkwaters opened #164 "How do I get a refresh token?"
I followed the basic steps, and can get a token, and can use it
However, the call to connect/token does not return a refresh token.

[2016-07-14 22:28] kevinchalet commented on #164
You must request the `offline_access` scope. And for that, the refresh token flow must be allowed in the OpenIddict options.

[2016-07-14 22:30] johnkwaters commented on #164
I see. So then I get:

A database operation failed while processing the request.
DbUpdateException: An error occurred while updating the entries. See the inner exception for details.SqlException: Invalid object name &#x27;OpenIddictTokens&#x27;

[2016-07-14 22:33] kevinchalet commented on #164
Your database is probably a bit old now and doesn't match the new schema. You must either re-create it or migrate it.

[2016-07-14 22:40] johnkwaters commented on #164
That did the trick, thanks.

[2016-07-14 22:40] #164 closed, assigned to nobody

[2016-07-14 22:42] johnkwaters opened #165 "Claims"
In my old homegrown bearer implementation, I added some custom cliams that got serialized in the token and then became avaialble in the claims identity
How do I do that with openiddict?

[2016-07-14 22:48] kevinchalet commented on #165
Create your own `OpenIddictUserManager` and override `CreateIdentityAsync` (e.g https://github.com/capesean/openiddict-test/blob/master/src/openiddict-test/Infrastructure/CustomOpenIddictManager.cs#L32).

Make sure you register it using `services.AddOpenIddict<...>().AddUserManager<...>()`

[2016-07-15 13:48] kevinchalet commented on #15
All our public types are now correctly documented :clap:

[2016-07-15 13:48] #15 closed, assigned to kevinchalet

[2016-07-15 14:40] kevinchalet commented on #100
Refresh token revocation was fully implemented, which includes refresh token metadata storage.
Accessing the raw access/refresh tokens is deliberately not possible for security reasons.

[2016-07-15 14:40] #100 closed, assigned to nobody

[2016-07-15 14:41] kevinchalet commented on #155
Hey.

@nklap would you like to submit a PR to update `OpenIddictUserManager.CreateIdentityAsync`? :smile:

[2016-07-15 14:43] kevinchalet commented on #46
Closing, as `OpenIddict.Mvc` and `OpenIddict.Assets` have been removed and people are now encouraged to create their own controller.

[2016-07-15 14:43] #46 closed, assigned to nobody

[2016-07-15 14:46] Ciantic commented on #28
Currently I can't access the WWW-Authenticate on the _client_ side, I think OpenIddict reponds with this:

[code]

If I try to call in _browser_ `xhr.getResponseHeader("WWW-Authenticate")` it gives me error: Refused to get unsafe header "WWW-Authenticate"

Which means that the Response given by OpenIddict is incorrect.

I `UseCors()` in other requests and they have headers correctly:

[code]

But

[2016-07-15 14:46] kevinchalet commented on #14
Closing as invalid (`OpenIddict.Security` - that used NWebsec - has been removed from the core code base).

[2016-07-15 14:46] #14 closed, assigned to nobody

[2016-07-15 14:48] kevinchalet commented on #28
Very unlikely. Sounds like a challenge response returned by the JWT middleware.
Since CORS support was completely removed from the latest bits, so it's likely an issue with your own policy.

[2016-07-18 21:04] alexxonline opened #167 "Redirect to client application after sign out"
Hi! I'm using openiddict-core 1.0 and I added an implicit flow using the AutorizationController in the sample. When I logout the user is not redirected to a client application it stays in blank. Is that a not implemented feature,a bug or I'm doing something wrong?

[2016-07-18 21:14] kevinchalet commented on #167
It's fully supported. Do you send the post_logout_redirect_uri parameter?
http://openid.net/specs/openid-connect-session-1_0.html#RedirectionAfterLogout

[2016-07-18 21:28] alexxonline commented on #167
I  can confirm the feature is working correctly the parameter was not being sent by the client application. Thanks!

[2016-07-18 21:30] kevinchalet commented on #167
Nice :clap:

[2016-07-19 22:02] snowping opened #169 "After deployment to IIS Server: A signing key must be provided"
Dear community,

Since a newer version of openiddict I am having an issue with deployment to my IIS host. It seems that the access token cannot be signed anymore. I got the following error: `A signing key must be provided`

I also tried to install a self cert 509 certificate using the plural sight cert tool and installed it added it to the startup config using `AddSigningCertificate()` (see below)

[2016-07-19 22:41] kevinchalet commented on #169
Hey,

The `A signing key must be provided` error message you're seeing is thrown when OpenIddict is unable to find an appropriate signing key to sign an access token.

That said, a check is made at startup time to ensure at least one signing key is manually registered if a new key cannot be dynamically generated and stored (`At least one signing key must be registered.`). Not sure why you're not s

[2016-07-19 22:55] snowping commented on #169
Thanks for your fast response. I use .NET Core (latest 1.0.0) on a Windows 2012 R2 server with IIS 8.5.9600. This is my exception trace when I try to let a key to be generated:

[code]

**The exception trace when I use my own certificate:**

[code]

[2016-07-19 23:03] kevinchalet commented on #169
And you're not seeing any error at startup? I'll try to replicate your scenario: the app should "crash" during startup when no signing key can be generated.

Concerning the second bug, can you please try running your app on .NET Desktop to see if it changes something?

[2016-07-19 23:11] snowping commented on #169
Nope, the app is running besides the authentication (/connect/token). I only get warnings but they seem not to be related:
warn:

[code]

How can I run the app in .NET Desktop mode? Do I need to change the libraries in project.json? (sorry I am new to asp dev)

[2016-07-19 23:14] kevinchalet commented on #169
Yep, you need to target `net451` instead of `netcoreapp1.0` (under frameworks, in project.json)

[2016-07-19 23:21] kevinchalet commented on #169
Hum, I can't reproduce the first bug on my machine. I get the expected exception at startup:

![image](https://cloud.githubusercontent.com/assets/6998306/16969832/218d330c-4e18-11e6-84d2-700fb59f337b.png)

Is there a chance you could enable logging (debug level) and share your complete logs?

[2016-07-19 23:29] snowping commented on #169
seems not about an easy switch from .net core to .net desktop as several code parts are not working anymore...
Using my dev machine it also works but on iis host... I am generating the logs now.. just a sec.

[2016-07-19 23:32] kevinchalet commented on #169
FYI, I tested on IIS 7.5 (Windows 7), with ApplicationPoolIdentity and "load user profile" disabled.

[2016-07-19 23:44] snowping commented on #169
here my debug log (issue with my own cert)
[stdout_7288_2016719234036.zip](https://github.com/openiddict/openiddict-core/files/372638/stdout_7288_2016719234036.zip)

[2016-07-19 23:48] kevinchalet commented on #169
That's all you get? There's nothing before these 2 lines?

[code]

[2016-07-19 23:50] snowping commented on #169
yes, hmm maybe I need to change some iis settings as well..

[2016-07-19 23:50] kevinchalet commented on #169
If you could share a complete log in the first scenario (without any certificate), that would help.

A bunch of questions:
- How did you register your certificate in the machine store?
- Are you using a custom identity for your app pool?
- Have you correctly set the private key permissions?

[2016-07-19 23:59] snowping commented on #169
ok, here my debug log with first scenario:
[stdout_6352_2016719235810.zip](https://github.com/openiddict/openiddict-core/files/372650/stdout_6352_2016719235810.zip)

[2016-07-20 00:03] snowping commented on #169
To answer your questions:
- Using the helper tool from keith: https://www.pluralsight.com/blog/software-development/selfcert-create-a-self-signed-certificate-interactively-gui-or-programmatically-in-net
  => tested with "My" and with "Root" store
- No, I use the 'ApplicationPoolIdentity'
- Which private key permission do you mean?

[2016-07-20 00:05] kevinchalet commented on #169
Thanks for the log, it helped me find the first bug (a stupid return at the wrong place). I'll fix it in the next release.

I mean the read permission you have to grant to the app pool identity to allow IIS to access the private key associated with your certificate: http://stackoverflow.com/a/3176253/542757

[2016-07-20 00:18] snowping commented on #169
Good point, I was not aware of that. You are awesome! That did the trick with my own certificate. Thank you very much for your help and patience.

[2016-07-20 00:28] kevinchalet commented on #169
Glad it worked :clap:

Surprisingly, the error you were seeing was a bit cryptic (more than the `Keyset not found` error we usually see on .NET Desktop when there's a permission issue somewhere).

I'll ping @bartonjs tomorrow and ask him if the CoreFX team has plans to re-align the error messages between .NET Desktop and .NET Core.

[2016-07-20 01:23] bartonjs commented on #169
@PinpointTownes My ears are burning :fire:.

Yeah, I'm not sure off the top of my head why the error is different.  2148073494 does seem to be the same Keyset does not exist error.  I think this line got messed up when it moved from inside the VM to inside managed code.  If you haven't already, it'd be good to open a bug in corefx; I'll want to spend more than a few seconds seeing what changed to

[2016-07-21 02:01] KerryRitter opened #171 "User is authorized, but the Identity has an empty Name property"
Not sure if I'm missing any steps - everything works well (I can get a token, then use the token in the request to authorize) but the HttpContext.User.Identity.Name property is null and I can't figure out why.

https://github.com/KerryRitter/CigarBar/tree/51ef659f655f6342e8a5859cf4a865ced56d26fb/CigarBar/CigarBar.Api is the current state of my project.

http://screencast.com/t/j3BZvg6t is what I s

[2016-07-21 06:23] ghost commented on #171
You need to request the Name with the scope, e.g. scope = openid profile name.

Hope that helps

[2016-07-21 14:08] KerryRitter commented on #171
This is most likely my problem. Will check back in soon.

[2016-07-21 16:42] kevinchalet commented on #171
@nklap is right. You need to request the "profile" scope to get back the username.

[2016-07-21 19:16] kevinchalet commented on #169
@bartonjs thanks for your prompt answer :smile:

I opened a ticket to track that: https://github.com/dotnet/corefx/issues/10218. Feel free to rename it if the title doesn't illustrate the work item.

@snowping FYI, the automatic RSA key generation/persistence feature was completely removed from ASOS/OpenIddict. Registering an explicit key/certificate is now mandatory and an exception is thrown if

[2016-07-21 19:16] #169 closed, assigned to nobody

[2016-07-21 22:35] ppkdo opened #172 "Cannot add custom user store"
OpenIddictBuilder AddUserStore method has wrong validation.

 typeof(**IOpenIddictTokenStore**<>) should be  typeof(**IOpenIddictUserStore**<>)

Otherwise we cannot add a custom user store of type IOpenIddictUserStore

[2016-07-21 22:42] kevinchalet commented on #172
Fixed, thanks! https://github.com/openiddict/openiddict-core/commit/aac69a011c64f7f39290705b3aaad26b450e5541

[2016-07-21 22:42] #172 closed, assigned to kevinchalet

[2016-07-22 01:52] snowping commented on #169
@PinpointTownes Ok, good to know. Thanks.

[2016-07-22 02:15] KerryRitter commented on #171
That was correct. I said "scope" to "email profile" in my request and all is well. Thanks!

[2016-07-22 02:15] #171 closed, assigned to nobody

[2016-07-22 18:56] rajivcodes commented on #169
So that means its required even when you running on localmachine (using IISExpress) ? Why would we want it when we are just creating the app and testing it on our local machine? Cant we bypass it and only keep it when we are in production mode?

[2016-07-22 18:59] kevinchalet commented on #169
That's right.

If you don't want to configure a static certificate/key, you can generate an in-memory/ephemeral key by calling `AddEphemeralSigningKey`.

[2016-07-23 00:08] xperiandri commented on #165
Can we add [other claims](http://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims) of profile scope to default implementation of `OpenIddictManager`?

I thought about

[code]

But it becomes quite complicated

[2016-07-24 13:58] quietphoenix commented on #165
@PinpointTownes I tried exactly that, even made sure it's being properly registered by breaking in the override CreateIdentityAsync funct, but for some reason, it's not returning anything except for token_type, access_token and expires_in .

[2016-07-24 14:22] kevinchalet commented on #165
Claims are never returned as (non-standard) token response properties. Use the identity token instead.

[2016-07-24 15:10] quietphoenix commented on #165
Not sure what you mean by that, can you send me a link to look up identity tokens?

[2016-07-24 15:13] quietphoenix commented on #165
@PinpointTownes Not sure what you mean by that, how can I use an identity token instead? Can you send me some reference link to look up?

[2016-07-24 15:14] kevinchalet commented on #165
http://openid.net/specs/openid-connect-core-1_0.html#IDToken

[2016-07-24 17:15] xperiandri commented on #165
@quietphoenix, use https://github.com/xperiandri/IdentityModel.OidcClient on a client an be happy :)

[2016-07-27 13:05] jasdefer commented on #165
@PinpointTownes When creating my own OpenIddictUserManager, how do I include custom claims from the AspNetUserClaims table?

[2016-07-28 10:26] daver77 opened #174 ""redirect_uri must be included" error"
Hi,

I've added OpenIddict to an ASP.NET Identity website and now i'm trying to use that to authenticate from another website, when I redirect I get the following error

error: invalid_request
error_description: redirect_uri must be included when making an OpenID Connect request

Does anyone know what is missing, here is the URL that is passed to the OpenIddict website

`https://mysts/connect/auth

[2016-07-28 10:33] kevinchalet commented on #174
Hi,

As explained by the error message you're seeing, your authorization request doesn't include the mandatory `redirect_uri` parameter and is rejected.

[2016-07-28 10:37] daver77 commented on #174
I had redirect Uri set in the OpenIddictApplications table for the client so I didn't think that would be needed. I've added it to the StartUp OpenIdConnectAuthenticationOptions call now and have got past that error, now I get

error: unsupported_response_type
error_description: The specified response_type parameter is not allowed.

[2016-07-28 10:39] kevinchalet commented on #174
It is, because it's required by the OIDC specification: http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest

For your second error, enable logging and you'll immediately understand what's wrong.

[2016-07-28 14:28] daver77 commented on #174
I'm getting the following from the logs

2016-07-28 15:24:01.052 +01:00 [Error] The authorization request was rejected because the implicit flow was not enabled.
2016-07-28 15:24:01.055 +01:00 [Error] The authorization request was rejected with the following error: "unsupported_response_type" ; "The specified response_type parameter is not allowed."

I have created the views as described [here](ht

[2016-07-28 14:54] kevinchalet commented on #174
Both the authorization code and implicit flows must be enabled to use the hybrid flow (code + id_token)

[2016-07-28 17:46] KerryRitter opened #175 "Add an option to make client identification mandatory for token requests and userinfo requests"
Ideally, there would be an option on the configuration to enforce requiring a client credentials' access token to retrieve a token for a user, or to get results from the userinfo endpoint (maybe others that might be suitable?).

[2016-07-28 21:21] shaunluttin commented on #28
In that case, `AllowAnyOrigin` makes the most sense. Then constrain the allowed headers and methods.

[2016-07-29 09:20] daver77 opened #176 "Error after login"
Hi,

I'm having some trouble setting up OpenIddict.

I have my ASP.NET Identity site setup with OpenIddict and i'm am trying to authenticate from a WebForms website. When I hit the WebForms website I get redirected to the Identity site where I login and get redirected to https://localid2.idsite.org/connect/authorize?request_id=1c3fede0-707b-48cb-bdd4-f7b14c056775 which shows an error? I have copie

[2016-07-29 09:27] kevinchalet commented on #176
Sharing your `ConfigureServices` method would help.

[2016-07-29 09:33] daver77 commented on #176
Here you go

[code]

The error seems to be

InvalidOperationException: Unable to resolve service for type 'OpenIddict.OpenIddictApplicationManager`1[OpenIddict.OpenIddictApplication`1[System.Guid]]' while attempting to activate 'MPS.IdentityServer.Controllers.AuthorizationController'.

[2016-07-29 12:01] kevinchalet commented on #176
You can't use `OpenIddictApplicationManager<OpenIddictApplication<Guid>>` if you don't override the default entity key type (`string` -> `Guid`).

Instead, use `OpenIddictApplicationManager<OpenIddictApplication>`.

[2016-07-29 13:25] daver77 commented on #176
Thanks for that. I get to the authorisation page now and get redirected back to the relying party site. The site does seem to save a cookie named OpenIdConnectxxxxxx by Request.IsAuthenticated is false, do you know what i'm missing

I'm redirecting to the Identity site using this on my replying party

[code]

[2016-07-29 13:30] kevinchalet commented on #176
http://stackoverflow.com/questions/33661935/owin-middleware-for-openid-connect-code-flow-flow-type-authorizationcode/33662736#33662736

[2016-07-29 13:45] daver77 commented on #176
Ah, so it should be
`ResponseType = "id_token"`

This throws an error on /connect/authorize/accept/

2016-07-29 14:40:39.230 +01:00 [Debug] Executed action method "MPS.IdentityServer.Controllers.AuthorizationController.Accept (IdServer)", returned result "Microsoft.AspNetCore.Mvc.SignInResult".
2016-07-29 14:40:39.230 +01:00 [Information] Executing SignInResult with authentication scheme ("ASOS")

[2016-07-29 13:47] kevinchalet commented on #176
You know you can search error codes on Google/Bing/Yahoo, right? :sweat_smile:

https://github.com/openiddict/openiddict-core/issues/169#issuecomment-233800475

[2016-07-29 13:59] daver77 commented on #176
Indeed :) Cert not setup correctly from the look of it!

[2016-07-29 14:49] daver77 commented on #176
All working now !
Final question of the day :) Is it possible to skip the auth pages so that when logging in successfully it just goes straight back to the return uri?

[2016-07-29 14:50] kevinchalet commented on #176
Since you're responsible of creating the authorization controller, it's up to you to implement that.

[2016-07-29 15:06] daver77 commented on #176
Oh yeah, easy as that :)

Thanks for all your help!

[2016-07-30 02:23] brion-fuller opened #177 "Error when creating Migration script"
I'm currently trying to create my initial migration script using the template that is location [here](https://github.com/openiddict/openiddict-core/tree/dev/samples/Mvc.Server/Models).  When I run Add-Migration Initial, I receive the error below.

[code]

[2016-07-30 12:10] Bartmax commented on #177
Are you using ASP.NET Core? @brion-fuller

[2016-07-30 12:13] brion-fuller commented on #177
Yes, everything runs fine when I have Identity hooked up but errors when I move applicationdbcontext and applicationuser over.

[2016-07-30 13:13] Bartmax commented on #177
Entity Framework 6 or Entity Framework Core ? Did you try adding a parameterless constructor to ApplicationDbContext as the error suggest?

[2016-07-30 13:26] brion-fuller commented on #177
This issue can be closed, Entity Framework was corrupted.  The error before when I added the constructor is below.

[code]

[2016-07-30 13:50] #177 closed, assigned to nobody

[2016-07-30 16:53] kevinchalet commented on #177
So was having a parameterless constructor mandatory to fix your issue?

I'm a bit surprised the migration stack can't handle the `DbContextOptions`, which is what we use to flow things like the connection string up to `DbContext`.

[2016-07-30 17:03] brion-fuller commented on #177
No, I removed the parameterless constructor and uninstalled Entity Framework Core and reinstalled the package.  Everything worked fine after that.  There was no issue on OpenIdDict side.

[2016-07-30 17:04] kevinchalet commented on #177
Alright, thanks for the heads-up.

[2016-07-30 18:06] kevinchalet commented on #175
@KerryRitter FYI, I'm working on this feature ATM, but I'm facing a dilemma:
- Should this feature only reject token/revocation requests that don't specify a client_id?
- Or should it also reject token/revocation revocation that don't specify a client_secret (i.e prevent public apps from using these endpoints)?

[2016-07-30 21:22] jayrulez opened #179 "Cannot set audiences with instrospection"
[code]

options.Audiences is readonly.

It would be cool if we could get a sample where the resource server is not the same as the authorization server.

I'm having a bit of trouble setting this up at the moment.

[2016-07-30 21:25] jayrulez opened #180 "Add sample where resource server is separate from auth server"
It is a bit confusing to set up a resource server that is different from the auth server.

I'm not sure which configs should go in the resource server server and which in the auth server.

[2016-07-30 21:56] kevinchalet commented on #179
The property itself is readonly but the collection is mutable. You can add new items by calling `options.Audiences.Add(...)`.

[2016-07-30 21:58] kevinchalet commented on #180
The resource server only needs the token validation part (JWT bearer middleware, OAuth2 validation or OAuth2 introspection middleware).

@shaunluttin is working on a sample that uses separate resource servers (https://github.com/openiddict/openiddict-samples/pull/8)

[2016-07-30 23:06] jayrulez commented on #179
I see. Thank you for the quick answer.

[2016-07-30 23:06] #179 closed, assigned to nobody

[2016-07-30 23:17] jayrulez commented on #180
Looks good. I'll follow it.

However, it doesn't seem to be far enough along for me to use. Do you mind having a look at my project and letting me know where I'm going wrong with this please:

Auth server: https://github.com/jayrulez/Etherkeep/tree/master/src/Etherkeep.Accounts

Resource server: https://github.com/jayrulez/Etherkeep/tree/master/src/Etherkeep.Server

[2016-07-30 23:27] kevinchalet commented on #180
I see at least one issue: the introspection endpoint is not enabled.

[2016-07-30 23:58] jayrulez commented on #180
I enabled the introspection endpoint:

https://github.com/jayrulez/Etherkeep/commit/2e030d7fadb724cc37565fdb7f894d8f12e2ce60

The auth server seems to work fine when i interact directly with the auth server (I can get a token, refresh token, introspect etc...).

However, when I make a request to the resource server through postman, I am getting a 404 for all protected endpoints. I am expecting to

[2016-07-30 23:59] kevinchalet commented on #180
Is there anything interesting in the logs?

[2016-07-31 00:01] jayrulez commented on #180
Yes:

Microsoft.AspNetCore.Hosting.Internal.WebHost:Information: Request starting HTTP/1.1 GET http://localhost:5001/api/users
Microsoft.AspNetCore.Hosting.Internal.WebHost:Information: Request starting HTTP/1.1 GET http://localhost:5001/api/users
AspNet.Security.OAuth.Introspection.OAuthIntrospectionMiddleware:Information: Bearer was not authenticated. Failure message: Authentication failed becau

[2016-07-31 00:02] kevinchalet commented on #180
This error is caused by an invalid audience.

[2016-07-31 00:15] jayrulez commented on #180
It seems I don't get how this actually works.

So my auth server is http://localhost:5000

My resource server is http://localhost:5001

In the startup.cs file on my resource server, I have:

[code]

I used postman to request a token using grant type = password with the client id and secret of my resource server.

I then tried to access a protected endpoint on the resource servr with the token I go

[2016-07-31 00:27] kevinchalet commented on #180
To be able to configure an audience in the introspection options, your access tokens must contain this specific audience. And for that, you must use the `resource` token request parameter to set it.

The 401 response is likely caught by `app.UseIdentity()` (why do you need it BTW?)

[2016-07-31 01:31] jayrulez commented on #180
I actually do get a 401.

I overlooked adding the error controller back to the resource server when i separated it from the auth server. I was getting a 404 because the error endpoint could not be found.

This commit fixes that: https://github.com/jayrulez/Etherkeep/commit/5c99f0538b519ba92b945e8c8aad9424a7e28872

Making progress but I'm still having a bit of trouble.

I interpret your answer abov

[2016-07-31 02:32] jayrulez commented on #180
I finally understand this now. I need to add the resource server as an audience in the introspection config. I need to pass the resource server to the token request endpoint.

For my use case, I do not need to limit the audience of a token so I don't need to do any of this.

Thank you for your assistance @PinpointTownes

[2016-08-01 08:36] dalestone opened #181 "Using Json Web Tokens with OpenIddict"
Hi,

I am trying to implement JWT in my API, after following through the example in the READ ME and successfully implementing as described, when I  add the `.UseJsonTokens()` method all my resource endpoints result in **401** when trying to  make a request with `Authorization: Bearer "access_token"`.

Is there an additional configuration step I am missing?

I have a Angular2 SPA and a few other cl

[2016-08-01 10:07] kevinchalet commented on #181
The OAuth2 validation middleware only works with the default token format. If you really want to use JWT access tokens, you'll have to use the JWT middleware.

[2016-08-01 15:20] dalestone commented on #181
OK so I removed `app.UseOAuthValidation()` and added

[code]

I still get 401 on all requests passing the Authorization header and token

[2016-08-01 15:32] kevinchalet commented on #181
If you enabled logging, you'd immediately understand what's failing.

Related: https://github.com/openiddict/openiddict-core/issues/180#issuecomment-236398830

[2016-08-01 15:33] kevinchalet commented on #181
Out of curiosity, why not using the default token format?

[2016-08-01 15:53] dalestone commented on #181
Yep I did turn on logging but none the wiser, as I am new to implementing OAuth but I gather its something to do with audiences.

[code]

I have a client that only accepts JWT tokens at the moment but if I cannot get this working looks like I will have to change it

[2016-08-01 16:01] kevinchalet commented on #181
If you read the link I posted, it will work. You need to set the `resource` token request parameter.

This doesn't make much sense, as client applications are not supposed to read the access token.

[2016-08-01 17:37] dalestone commented on #181
Yep I read that and finally understood what you mean't, thanks.

For anyone else that runs into this issue:

Add the following to configure

[code]

When making a request to your token endpoint e.g `http://localhost:5000/connect/token` make sure the `resource` parameter is set to the audience you specified in the JwtBearerOptions e.g `http://localhost:5000`

![get_token](https://cloud.githubuserco

[2016-08-01 23:47] jayrulez opened #182 "Save access tokens to database"
Does openiddict support saving access tokens to the database out of the box?

I see where there is a table for token storage.

If it does, how can I enable it?

When I get a token ropc style, I do not see the record in the database.

My motivation for doing this is to implement two factor auth for ropc flow.

I am thinking of creating a TokenClaim table that stores claims for a token. One of those

[2016-08-01 23:55] kevinchalet commented on #182
No. Mainly for performance reasons. Only refresh tokens are stored and can be revoked.

Very bad idea. ROPC has never and will never support 2FA. Of course you could probably hack it and make your own non-standard sauce, but I don't recommend it.

You should **strongly** consider using an interactive flow like code or implicit.

[2016-08-02 00:05] jayrulez commented on #182
I do agree with you that it is a bad hack having done it in another project.

There is a native android app consuming the api.

They would rather not to deal with non-native views... Can I still satisfy them without using ropc?

[2016-08-02 00:11] kevinchalet commented on #182
The recommended approach is to open the native browser and handle everything there (registration, login, 2FA, consent, etc.).

If it's definitely not an option for you, you could consider creating your own non-standard grant... but OpenIddict deliberately doesn't allow that. I'd recommend going with ASOS in this case: http://kevinchalet.com/2016/07/13/creating-your-own-openid-connect-server-with-a

[2016-08-02 01:38] kevinchalet commented on #181
It's not supposed to do that (at all). Access tokens are opaque for clients. Instead, consider requesting the `openid` scope to get an identity token you can use to get the user data you need.

[2016-08-02 08:05] dalestone commented on #181
Ah OK understood thanks.

[2016-08-02 16:07] #167 closed, assigned to nobody

[2016-08-02 16:08] #174 closed, assigned to nobody

[2016-08-02 16:08] #176 closed, assigned to nobody

[2016-08-03 00:37] KerryRitter commented on #175
I was thinking the latter. We should be able to authorize the client as a registered client.

[2016-08-03 00:45] kevinchalet commented on #175
Note that even with the first option, the client_id would have to be valid (i.e a correspond entry would have to be found in the applications table)

[2016-08-03 03:38] jayrulez commented on #182
@PinpointTownes I'll evaluate this. Thank you.

[2016-08-05 09:12] daver77 opened #186 "Returning [AspNetUserClaims] to relying party"
I have my ASP.NET Core web app using Identity 3 and OpenIddict setup and can authenticate from my relying party fine. However, claims do not get sent to the relying party ([AspNetUserClaims]), I do see roles though ([AspNetUserRoles]).

My Scope is "openid email name profile roles" and responseType is "token id_token", am I missing something to get claims back?

[2016-08-05 10:47] daver77 opened #187 "Signout not redirecting back to relying party"
I'm currently using the logout code from the samples [https://github.com/openiddict/openiddict-core/blob/dev/samples/Mvc.Server/Controllers/AuthorizationController.cs](url), when I logout using /connect/logout/ from the relying party I get blank page and do not get redirected back. The logs show post_logout_redirect_uri as missing although it is set from OpenIdConnectAuthenticationOptions and is a

[2016-08-05 11:10] daver77 commented on #187
My bad, I was doing it wrong, I was linking directly to /connect/logout/ from the relying party, oops! I have now done this which now signs out correctly

[code]

[2016-08-06 13:07] #187 closed, assigned to nobody

[2016-08-06 13:08] kevinchalet commented on #186
For security reasons, we never return custom claims. You'll have to create your own manager for that. Take a look at https://github.com/openiddict/openiddict-core/issues/165 for more information.

[2016-08-09 06:46] maxprilutskiy opened #188 "Refresh tokens"
Hi all,
I've been looking though the docs, however I didn't found a sample code on how to work with refresh tokens. I've read [this article](http://kerryritter.com/authorizing-your-net-core-mvc6-api-requests-with-openiddict-and-identity/) but it seems like refresh tokens are being auto generated, which is definitely not my case. I have the following code in my Startup.cs:

[code]

[code]

So, the

[2016-08-09 08:48] daver77 commented on #186
Great, that was easy enough!

Does OpenIddict support any way of restricting scopes per relying party? eg I might want 1 to just authenticate and not be able to access profile data

[2016-08-09 08:59] codethetalk commented on #188
Try appending scopes to your request. To retrieve refresh tokens, add 'offline_access' scope to your request.
[](http://openid.net/specs/openid-connect-core-1_0.html#OfflineAccess )

![refresh_token](https://cloud.githubusercontent.com/assets/15163662/17510640/7347f81e-5e3d-11e6-8348-76f89bd54991.jpg)

[2016-08-09 09:16] maxprilutskiy commented on #188
@codethetalk seems reasonable. And what should I do to be able to exchange the refresh token for a new pair of tokens? Is there a built-in functionality for that purpose in openiddict? Or, if not, could you please give me an short example of how this can be done.

Thanks

[2016-08-09 09:44] codethetalk commented on #188
If you read on to the next sections in the specification that i shared, you should find the answer.
However, to test using postman, you could do the following,

![refresh_token](https://cloud.githubusercontent.com/assets/15163662/17512063/a131790c-5e43-11e6-99bc-4fcb49d53eea.jpg)

once you have a refresh token, you could later exchange it for another access token

![exchange_token](https://cloud.g

[2016-08-10 12:37] maxprilutskiy opened #191 "Token revokation"
How can I revoke the bearer and refresh token?

[2016-08-10 12:47] kevinchalet commented on #191
For performance reasons, access tokens are not stored in the database and thus, are not revocable.

Refresh token can be revoked using the built-in API or the revocation endpoint. See https://github.com/openiddict/openiddict-core/issues/136#issuecomment-225068490 for more information.

[2016-08-10 12:53] maxprilutskiy commented on #191
@PinpointTownes so I don't need to revoke the access token on log out, right?

One more question: what are my actions in situation when refresh token expires? Or refresh tokens are being reissued after refreshing the access token?

[2016-08-10 13:25] kevinchalet commented on #191
They are. The refresh token used to make a refresh token request is automatically revoked and a new one is issued (unless you disabled sliding expiration in the OpenIddict options: in this case, the refresh token is not revoked and no refresh token is returned).

[2016-08-11 19:24] bumblebee333 opened #192 "Quick question"
Hi there,
        We are using openIddict in our angular web application(asp.net mvc core). It is using the JWT auth flow at the moment. We are using a http interceptor to add the token to the headers for the API calls. We do have a requirement to load one of the views in a new window (something like $window.open). It is calling an MVC controller in that new window. I want to pass the JWT token to

[2016-08-12 10:37] ivanmariychuk opened #193 "OpenIddict + EF6"
Hello can you give more detailed information how to use Openiddict with EF6?

[2016-08-14 09:46] MehdiSaeedifar commented on #193
+1

[2016-08-14 10:56] kevinchalet commented on #193
There's no plan to create an "official" OpenIddict package for EF6, but you're free to create your own stores, similarly to what we have for EF Core.

[2016-08-14 10:59] kevinchalet commented on #192
Cookies is generally better for interactive MVC views (i.e non-API controllers), but I guess you could flow the access token as a query string parameter. You can use the validation middleware events to override the default token resolution logic: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Samples/blob/master/samples/SignalR/HelloSignalR/Startup.cs#L22-L33

Similar hooks exist

[2016-08-14 11:16] kevinchalet commented on #180
Tracked by https://github.com/openiddict/openiddict-samples/pull/8.

[2016-08-14 11:16] #180 closed, assigned to nobody

[2016-08-14 11:17] kevinchalet commented on #182
Closing. Feel free to reopen if you still need help.

[2016-08-14 11:17] #182 closed, assigned to nobody

[2016-08-14 11:43] MehdiSaeedifar commented on #193
But i think it's more than stores, for example OpenIddictExtensions class is coded specifically for ef core.

[2016-08-14 11:51] kevinchalet commented on #193
The extensions you can find in the `OpenIddict` package are only there for convenience. You don't have to use them. `OpenIddict.Core` has all the extensions you need to configure OpenIddict with your own stores.

[2016-08-15 15:00] ivanmariychuk commented on #193
Thx for your response!

[2016-08-15 15:00] #193 closed, assigned to nobody

[2016-08-16 16:55] t3hmun opened #194 "Simple Password Grant fails after alpha2-0410"
I am able to get a token via password grant flow on version `1.0.0-alpha2-0410` and older, but in any newer versions (NuGet skips forward to 0417) password grant won't give me a token, it 404s.

The only clue I have is that when it was working it complained : `AspNet.Security.OpenIdConnect.Server.OpenIdConnectServerMiddleware: Information: No explicit audience was associated with the access token.

[2016-08-16 17:02] kevinchalet commented on #194
Thanks for reporting that. I suppose it's related to this recent design change, since it's the only thing that changed recently: https://github.com/openiddict/openiddict-core/pull/190.

Any chance you could share a repro?

[2016-08-16 18:14] t3hmun commented on #194
I just wrote a repro project from scratch but it worked properly instead, so I'll need to spend some time figuring out exactly where the failure occurs. Maybe I'll solve this myself.

I'll work on this tomorrow. Thanks.

[2016-08-17 06:32] ghost opened #195 "Returning token directly"
From the examples I'm seeing online it seems that the default way of authenticating someone directly is by setting a cookie via the LoginManager.

As I'm using bearer tokens, I want to be able to return their access token, refresh token, etc, when they finish the registration process, rather than forcing them to make another API call to achieve this.

Is this possible in any way with OpenIddict?

[2016-08-17 09:31] kevinchalet commented on #195
OpenIddict doesn't allow you to return a token outside an OpenID Connect request, deliberately.

To achieve what you want, you'll have to redirect your users back to the authorization endpoint, since it's the only place where you're allowed to ask OpenIddict to return an authorization code/access token/identity token as part of an authorization response.

[2016-08-17 11:00] t3hmun commented on #194
My repro:
https://github.com/t3hmun/repro-openiddict-passwordgrant

The actual problem is that it has started falling through to the `app.Run(...)` at the end of my `Configure()` instead of showing the token. If I remove the `app.Run(...)` it works fine (a good enough work around).

[code]

I was using `app.Run(...)` as a universal 404 message, that's not a abuse right?

[2016-08-17 11:41] kevinchalet commented on #194
It's definitely an unwanted consequence of the recent design change I mentioned. Looks like we'll have to rework it a bit :smile:

[2016-08-17 17:18] jon-imagine opened #196 "how to Authorize client_credentials"
client:
 type 'client_credentials'  and accesstoken ,
server:
 ....AllowClientCredentialsFlow()
controller:
 [Authorize]
var identity = User.Identity as ClaimsIdentity;

in controller:
identity.IsAuthenticated=false

how to Authorize access_token

[2016-08-19 08:39] KipRiptide opened #197 "Role-based authorisation"
First of all apologies if this question is really stupid - I'm new to both openiddict and open id connect / oauth.

I'm doing my best to wire up an application through openiddict with the following basic structure:
1. Authentication Server (.net core web api)
2. Web Client (.net core web application)
3. Web Api (.net core web api) - with authorisation

The Web Client is very basic - a static html

[2016-08-19 14:12] ivanmariychuk opened #198 "Windows Authentication"
Hello! Is it possible somehow to use both windows and custom authentication using WebListener instead of Kestrel? Maybe not with OpenIddict... I would appreciate any thoughts!

[2016-08-19 14:20] kevinchalet commented on #197
Does your "Web Client" request the "roles" scope? If it doesn't, the roles won't be added in the access token.

[2016-08-19 14:21] kevinchalet commented on #198
Since OpenIddict doesn't handle the authentication part for interactive flows like code or implicit, it should be definitely possible (you could even use Kestrel behind IIS for that).

[2016-08-19 15:41] KipRiptide commented on #197
Yes it does request the roles scope.

When I make exactly the same request as my WebClient through Postman it works fine.

[2016-08-19 16:16] kevinchalet commented on #197
@HughMaclachlan it's really hard to say without seeing any log or any code ( someone broke my crystal ball recently :sweat_smile:)

[2016-08-19 16:20] KipRiptide commented on #197
Haha, sorry mate, and thanks for responding to my query so promptly.

Would have sent you more code but have left work for the day (in the UK).

Will send you everything when I get back into the office on Monday.

And I'm very sorry to hear about your crystal ball!

[2016-08-20 05:17] jayrulez commented on #182
So a custom grant type is definitely the way to go based on my considerations over the past few weeks.

I'm at a loss here though as I see openiddict does not support custom grant types.

I would hate to have to implement all the conveniences that openiddict offers which we definitely want to make use of just to implement this.

Is there any chance that openiddict will support custom grant types i

[2016-08-20 11:55] kevinchalet commented on #182
There's technically nothing that prevents us from allowing devs to implement custom grants since it's supported by ASOS (see this SO post for [a sample implementing the assertion grant](http://stackoverflow.com/questions/39008642/use-openidconnectserver-and-try-to-connect-to-facebook-through-api-service)).

The biggest concern I have is that doing that is frankly risky. Not everyone is an OAuth2/O

[2016-08-20 18:55] jayrulez commented on #182
Sounds great. I'm looking forward to see the design you come up with.

I envision something like this.

Configuring openiddict, I would add a line like:

.EnableCustomFlow("MyCustomGrantType", CustomGrantTypeHandler)

CustomGrantTypeHandler could implement some kind of interface to conform to whatever requirements are needed.

CustomGrantTypeHandler should take care of handling the token request a

[2016-08-21 12:15] piotrek-k opened #199 "Decoding token; Passing user name with token endpoint"
I have few questions:
1. How can I decode token generated by openiddict? [This decoder](http://jwt.calebb.net/) says my token needs to have three segments whatever that means.
2. Can I somehow configure what TokenEndpoint returns? I need to return username of token owner.

I've configured everyting exactly like in [README.md file](https://github.com/openiddict/openiddict-core#getting-started). I'm

[2016-08-21 16:45] kevinchalet commented on #199
By default, OpenIddict uses encrypted tokens so you can't use any of these JWT debug tools.

The username is returned in the identity token if you request the profile scope.

[2016-08-21 16:46] kevinchalet commented on #196
I don't understand the question, sorry.

[2016-08-21 17:01] piotrek-k commented on #199
@PinpointTownes thanks for response, but I still have some questions, if you don't mind.

I don't remember if I specified anything like key/password to encrypt this token. How can I check it and eventually modify it in my app?

I'm also interested in what exactly happens when I use:
`services.AddOpenIddict<something>().EnableTokenEndpoint("/connect/token")`
and call `mywebsite.com/connect/token` i

[2016-08-21 17:04] kevinchalet commented on #199
OpenIddict simply relies on the ticket serializer and the DataProtection stack offered by ASP.NET Core. You'll find all the details you need here: https://docs.asp.net/en/latest/security/data-protection/index.html

The serializer can be found in the Security repo: https://github.com/aspnet/Security/tree/dev/src/Microsoft.AspNetCore.Authentication/DataHandler

[2016-08-21 17:24] #199 closed, assigned to nobody

[2016-08-22 08:20] KipRiptide commented on #197
Well the weekend has fixed the issue.

In short, I'm an idiot. I had "scopes" instead of "scope" in my web client request. I spent a good few hours last week not being able to spot that typo, but coming in on Monday morning I spotted it straight away.

Sorry for wasting your time, and thanks for responding so quickly to my "issue"!

[2016-08-22 08:20] #197 closed, assigned to nobody

[2016-08-22 15:40] pholly commented on #194
Thanks for posting this issue - I think I get what's happening. The OpenIddict middleware doesn't handle the request for that endpoint immediately - it invokes the next middleware delegate in the pipeline. Your `app.Run` delegate handles the request by writing to the response. Because the request has been handled, the OpenIddict middleware won't try handling the request "on the way back" in the pi

[2016-08-22 17:15] kevinchalet commented on #194
@pholly yup. It's precisely what's happening.

[2016-08-23 18:29] armartinez commented on #172
Has this been released already, I seem to be having this problem

[2016-08-23 18:33] kevinchalet commented on #172
This fix was included in 1.0.0-alpha2-0393 and is part of all the next versions.

[2016-08-23 22:19] josh-sachs opened #200 "Scopes not being stored as a claim in identity token."
When a user is authenticated using an access_token, the level of access can be determined by an authorization policy evaluating the "scope" claim.

This does not appear to be available within the identity token received via the OpenIdConnect authentication scheme.

[2016-08-25 10:21] tedvanderveen opened #202 "OpenIdConnectOptions - resolve ClientId / ClientSecret dynamically"
I have a ASP.Net WEB API application that is a "client" to a OpenIddict server. This API is used by various customers. And refresh token should be provided by the OpenIddict server in the correct customer scope. When configuring UseOpenIdConnectAuthentication on the WEB API Startup, we can set the ClientId / ClientSecret. But we would like to set these fields per request, depending on the customer

[2016-08-25 10:38] kevinchalet commented on #202
Since the OIDC middleware is not developed or maintained here, I moved your question to the appropriate repo: https://github.com/aspnet/Security/issues/953.

[2016-08-25 10:38] #202 closed, assigned to nobody

[2016-08-25 19:24] kevinchalet commented on #194
Will be fixed by https://github.com/openiddict/openiddict-core/pull/203. The approach I have in mind is to make having your own "token endpoint action" mandatory to support password token requests. i.e you'll have to include something like that in your project:

[code]

(of course, token requests will still be validated by OpenIddict itself before MVC is invoked)

[2016-08-25 19:28] kevinchalet commented on #182
@jayrulez the current approach I have in mind is to allow you to handle token requests directly in a custom controller action. You can read https://github.com/openiddict/openiddict-core/issues/194#issuecomment-242507822 for more information.

[2016-08-25 19:59] jayrulez commented on #182
This will work for us. Thank you @PinpointTownes .

Do you still intend to look look at supporting custom grant types in openiddict?

I feel bit dirty bastardizing ROPC ;)

I'm also thinking about implementing our identity system around ASOS as asp.net identity doesn't really fit with our requirements (Multiple email addresses and phone numbers per account and some other stuff) though this is not

[2016-08-25 22:15] kevinchalet commented on #182
Yep, I'm working on a PR that will remove the "non-standard flows checks" and add a `EnableCustomFlow` method.

[2016-08-27 16:45] atmdevnet opened #204 "WindowsCryptographicException "Object was not found" at OpenIddictBuilder.AddEphemeralSigningKey on Windows Server 2008 R2"
I'm using latest version of OpenIdDict in web service asp.net core mvc project. When it runs on my local win 10 or 2012 server then it works like a charm, but when it try to run on win 2008 r2 server then it throws cryptographic exception at AddEphemeralSigningKey call. Is there a way to run openiddict with ephemeral signing key on win 2008 server? Maybe anyone has it running and could help?
My co

[2016-08-27 17:02] kevinchalet commented on #204
Thanks for reporting this bug. TBH, I don't think it's caused by ASOS/OpenIddict (it sounds like a CoreFX bug).

Question: can you reproduce it on the full .NET Desktop framework?

[2016-08-27 18:47] atmdevnet commented on #204
Thanks for quick feedback.
Answer: No, I can't reproduce it on the full .NET Desktop framework. When I switched project to full .net then it ran successfuly on win 2008 r2 without exception.
I didn't think exception was caused by OpenIddict. It is rather problem in AspNet.Security.OpenIdConnect.Server and System.Security.Cryptography related to older win versions.
By the way, thanks for inspiratio

[2016-08-27 18:53] kevinchalet commented on #204
Thanks for the details. Is there a chance you could run this snippet on your Windows Server 2008 RC2 machine for me?

[code]

I'd like to ensure it's not related to ASOS before moving this ticket to the right repo.

[2016-08-27 19:30] atmdevnet commented on #204
I was tested yesterday the same snippet on my win 2008 server R2 coming from AspNet.Security.OpenIdConnect.Server assembly and it passed the tests successfully.
RSA.Create creates RSACng object.

[2016-08-27 20:03] kevinchalet commented on #204
So you get the same exception with the snippet I posted?

[2016-08-27 20:11] atmdevnet commented on #204
no, this snippet ran without exception.

[2016-08-27 20:20] kevinchalet commented on #204
Hum, weird. That's pretty much what `AddEphemeralKey` does internally:

[code]

Did you test this snippet with .NET Desktop and .NET Core? Was it included in the same app as your OpenIddict-based app?

[2016-08-27 20:40] atmdevnet commented on #204
Yes, indeed, it's weird. The above code is the code I tested, hoping to find some clue. I tested this code with .net core console standalone project without referencing OpenIddict.
This is my project.json:

[code]

and testing code:

[code]

[2016-08-27 21:02] kevinchalet commented on #204
Hum, if you can't reproduce this issue consistently, I'm not sure there's something I can do.
FWIW, my main machine uses Windows 7 (which is basically the client equivalent of Windows Server 2008). and it works like a charm.

[2016-08-27 22:49] atmdevnet commented on #204
It's a pitty :( I did some additional tests with my entire web service .net core project with OpenIddict moved on win 2008 server r2 machine and here are results:
- when running on Kestrel: it works correctly,
- when running on IIS Express: it works correctly,
- when running on IIS: it throws exception on startup.
  On IIS it is configured exactly like on my local win 10 machine and my other win 2

[2016-08-28 00:00] kevinchalet commented on #204
@atmdevnet thanks for the details, it helped me find where the issue was.

When using IIS, your app process is hosted under a specific application pool identity created by IIS (at least, by default, 'coz you can change that in the pool options).

For reasons I ignore, Windows CNG doesn't properly work with these non-user accounts and returns an error when trying to create a new key: `The profile f

[2016-08-28 01:17] kevinchalet commented on #204
@atmdevnet note: to generate an ephemeral signing key with CNG without getting an error, you can use `CngKeyCreationOptions.MachineKey` to force CNG to create an ephemeral key that is not bound to the user profile.

[code]

Note that it won't work on .NET Desktop due to a bug in IdentityModel: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/480

[2016-08-28 18:09] #194 closed, assigned to kevinchalet

[2016-08-29 07:25] spacedsweden opened #206 "token enpoint started to return 404"
So trying the with invalid credentials and i get all the good error codes, but submitting good credentials
IIS return 404 right after the seclect application. Strange thing is that it worked like a charm

[code]

To be honest i probably f***ed up something since it did work, but i have no idea after an hour of look in to this. Let me know if you can help and you need any more info.

[2016-08-29 07:29] spacedsweden commented on #206
Downgrading to 0419 solved it. so prop something wrong with the brand new one

[2016-08-29 08:39] vip30 commented on #206
I have same issue too and I just think what am I doing wrong as it work as expected before
Thanks for the comment.

[2016-08-29 09:09] kevinchalet commented on #206
Nope, that's a deliberate design change introduced in the last version. As explained in the README, you must know provide your own token endpoint action to handle token requests.

[2016-08-29 14:32] mkontula commented on #206
A deliberate braking change that requires "a Swedish 99.9%" of all users of token authentication based on client creds to write mostly unnecessary b**r**oilerplate code. Are you serious? :-1:

[2016-08-29 14:48] kevinchalet commented on #206
@mkontula this change was introduced to give you more flexibility (e.g you can now easily add more claims or set scopes based on your app policy). It also makes the token endpoint consistent with how Identity and its AccountController work in general. It's less magic.

[2016-08-29 15:01] mkontula commented on #206
@PinpointTownes I totally agree, but a total removal? Why not keep the old functionality and make it possible to write your own? Or make it a new configuration option like: .EnableOldMonstrouslyMagicDefaultTokenEndpoint("path_goes_here") ? It's alpha2, yes, we understand but still the change was a bit rough? It's yours and usage is voluntary, but still.

[2016-08-29 15:44] vip30 commented on #206
I agree with mkontula. It is better that If you keep the old method and support for overriding.
It make me just so scary that it give out a 404 whole day and I don't know why (Sorry, I haven't seen the update log on these days)
But finally , I think this added feature is cool.

[2016-08-29 15:46] guilliho opened #207 "Quick question ... does openiddict only work with Entity Framework?"
Hi, I'm wondering if openiddict can be used with a different ORM like Dapper for example. If it's possible can you please point me in the right direction.

Thank you!

[2016-08-29 23:36] kevinchalet commented on #207
Hey,

Though only EF Core is supported OTB, OpenIddict offers `IOpenIddictXYZStore` interfaces you can implement to create your own store.

[2016-08-29 23:55] ruben0909 commented on #206
I agree with @mkontula and thank you for your awesome work @PinpointTownes

[2016-08-30 02:41] vip30 commented on #206
@PinpointTownes
Sorry, I would like to ask is there any sample code for other flow? (like refresh token)

[2016-08-30 07:05] armartinez commented on #206
Yeah I would also appreciate an example for the code flow, I tried the one in the server sample and it didn't work for me, I'm sticking with 0419 for the moment

[2016-08-30 07:19] kevinchalet commented on #206
@vip30 @armartinez `grant_type=authorization_code` and `grant_type=refresh_token` token requests are still managed by OpenIddict itself. It hasn't changed and there's no plan to change it.

[2016-08-30 07:21] armartinez commented on #206
@PinpointTownes I had to rollback to 0419 for it to work with the authorization code flow, it returns a 404 when trying to GET /connect/authorize?request_id=...

[2016-08-30 07:23] kevinchalet commented on #206
Have you created your authorization endpoint? https://github.com/openiddict/openiddict-core/pull/190 had introduced a default logic but it was rolled back last weekend.

[2016-08-30 07:31] armartinez commented on #206
Sorry I didn't read you correcty, I thought we didn't need that for the code flow but you meant only the token endpoint. I tried to implement the same endpoint as the MVC Server example and it didn't work for me, so for now I'm using the old one.

[2016-08-30 07:33] kevinchalet commented on #206
@armartinez does the MVC server sample work for you? I just tried it and it behaves as expected.

[2016-08-30 07:38] armartinez commented on #206
@PinpointTownes No it doesn't work for me but my implementation is different since my server behaves like and API not an MVC application like the sample, so there are differences that I need to take into account. One question, do I still need to add the call  EnableAuthorizationEndpoint("/connect/authorize") even if I implemented my own endpoint?

[2016-08-30 07:38] kevinchalet commented on #206
Sure. If you don't, the authorization endpoint won't be enabled.

[2016-08-30 17:53] piotrek-k commented on #206
~~@PinpointTownes there is some problem with this line of your code (Exchange() method):~~

~~`var identity = await _userManager.CreateIdentityAsync(user, request.GetScopes());`~~

Fixed. I was using `UserManager` instead of `OpenIddictUserManager`

BTW: wow, I wasted a few hours figuring out why my token endpoint returns 404. You should definitely throw some exceptions when your library is used w

[2016-08-30 18:04] kevinchalet commented on #206
@piotrek-k `_userManager` is an `OpenIddictUserManager<TUser>` instance.

It's hard in this case: once your app gets back flow control, it's nearly impossible to say if you've handled the token request.

[2016-08-30 19:20] guilliho commented on #207
Got it! That's what I needed! Thank you! Just one more thing, in order to use [Authorize] and  [Authorize(Roles="role")] in my Controllers, I would have to implement IRoleStore and IUserStore from Microsoft.AspNetCore.Identity since they also use EntityFramework right? I know that this question is not related to OpenIddict but I just wanted to ask in case OpenIddict handles this already.

Thanks!

[2016-08-31 04:11] shaunluttin opened #208 "The dependency Openiddict >= 1.0.0-* could not be resolved."
[code]

[2016-08-31 04:15] shaunluttin commented on #208
My mistake. I was restoring with nuget instead of `dotnet restore` in Azure.

[2016-08-31 04:15] #208 closed, assigned to nobody

[2016-08-31 05:06] jayrulez opened #209 "Example in readme produces unexpected results"
The ROPC example in the README file returns 200 OK when credential are invalid.

return Json(... will return 200.

[2016-08-31 06:46] jayrulez commented on #209
Should be BadResult(... when there is an error

[2016-08-31 15:23] kevinchalet commented on #207
The authorization stack is entirely based on claims and only needs a `ClaimsPrincipal` to work: it doesn't use stores at all. So you could have an "API project" using the JWT bearer middleware or the validation middleware without having to reference Identity or OpenIddict.

[2016-08-31 15:25] kevinchalet commented on #209
Nice catch. I'll replace it by `BadRequest` and decorate the action with `[Produces("application/json")]` to ensure the JSON formatter is always used to serialize the response.

[2016-08-31 15:55] guilliho commented on #207
Ahh I see! Great man! Thank you very much!

[2016-08-31 15:55] #207 closed, assigned to nobody

[2016-08-31 15:59] #209 closed, assigned to nobody

[2016-08-31 17:29] javico2609 opened #211 "get token enpoint return 404"

[2016-08-31 18:21] kevinchalet commented on #211
Duplicate of https://github.com/openiddict/openiddict-core/issues/206.

[2016-08-31 18:21] #211 closed, assigned to nobody

[2016-09-01 13:18] felipesantanadev opened #212 "Unable to resolve service for type Microsoft.AspNetCore.Identity.IPasswordHasher"
Hello guys, I have been received this error when I try to inject the OpenIddictUserManager in my Controller. Can someone help me?

Controller constructor:

`private readonly OpenIddictApplicationManager<OpenIddictApplication<int>> _applicationManager;
        private readonly SignInManager<ApplicationUserDapper> _signInManager;
        private readonly OpenIddictUserManager<ApplicationUserOpenIddi

[2016-09-01 13:44] kevinchalet commented on #212
Don't forget to register the Identity services (`services.AddIdentity()`).

[2016-09-01 13:45] dalestone commented on #196
I think he is asking how do you get a token using client_credentials when you implement your own AuthorizeController, well that's what I gathered anyway

There is an example for if the request is a password grant but how do you return an AuthenticationTicket if the grant is client credentials e.g

[code]

*\* How do you authenticate this? Use the application manager to check if client id and secre

[2016-09-01 13:54] felipesantanadev commented on #212
I have already registered the Identity Service with a lib we are developing to use Identity with Dapper:

[code]

Can I register for both? Entity and Dapper?

[2016-09-01 14:37] kevinchalet commented on #204
Closing, as this is an external "by design" bug.

@atmdevnet feel free to open a new ticket via https://github.com/dotnet/corefx/issues if you think it should be fixed.

[2016-09-01 14:37] #204 closed, assigned to nobody

[2016-09-01 15:15] javico2609 commented on #206
if you want the default behavior
download the OpenIddictMiddleware.cs here [GitHub](https://github.com/openiddict/openiddict-core/tree/1ac09594d1c40b2f8d375c0e27335cab73bab2f9/src/OpenIddict.Core/Infrastructure)`

 and create one Extensions method to include this middleware into pipeline

[code]

and call into Startup.cs always after app.UseOpenIddict();

[code]

[2016-09-01 15:17] felipesantanadev opened #213 "I need help to understand the flow"
I'm trying to understand the flow of authentication and authorization with tokens in .NET Core, so I have some doubts.

First of all, I need to pass the username and password and get a token, refresh token and expiration.

So, let me shoe the questions:

1)

I have followed the action structure that you show us as example:

[code]

I am using Postman to test this action and in the x-www-form-urlen

[2016-09-01 15:22] kevinchalet commented on #206
@javico2609 there was a reason if `OpenIddictMiddleware` was removed: it didn't work as expected :smile:

The recommended approach is to have a custom controller action, similarly to what's required for interactive flows.

[2016-09-01 15:24] javico2609 commented on #206
ok, thx @PinpointTownes

[2016-09-01 15:24] kevinchalet commented on #213
There are 2 cases where the request might be null: when registering OpenIddict after MVC (which is invalid) or when the action route doesn't correspond to the token endpoint path registered via `EnableTokenEndpoint` (which is also an invalid configuration)

It doesn't work for the same reason as above: if OpenIddict is unable to extract (and validate) an OIDC request, it will never allow you to re

[2016-09-01 15:33] felipesantanadev commented on #213
So, this are my codes:

[code]

I think it's correct, right?

[2016-09-01 16:04] kevinchalet commented on #213
Without seeing the route template associated with your authorization controller, it's impossible to say.

[2016-09-01 16:39] felipesantanadev commented on #213
Here is that

[code]

[2016-09-01 16:41] kevinchalet commented on #213
Try replacing `[Route("api/[controller]")]` by `[Route("api/authorization")]`. If it still doesn't work, consider creating a repro so I can debug it.

[2016-09-01 17:01] felipesantanadev commented on #213
It still doesn't work. I am not understanding the reason. HttpContext.GetOpenIdConnectRequest() is always returning null.

[2016-09-01 17:02] kevinchalet commented on #213
Have you tried with `[Route("api/[controller]/[action]")]`?

[2016-09-01 17:13] felipesantanadev commented on #213
![print](https://cloud.githubusercontent.com/assets/16308565/18176944/400e09b6-704e-11e6-922c-a51c73cb9388.png)