[2018-11-28 17:53] kevinchalet commented on #700
What do you have in mind, exactly?

[2018-11-28 17:56] kevinchalet commented on #695
Then no idea. This method is heavily used in OrchardCore and no similar bug has been reported so far.

Consider posting a repro on GitHub (one that builds and runs) and I'll take a look.

[2018-11-28 18:07] javico2609 commented on #700
Hi. i implement my custom client credential validate like for  E.g:

FindByClientIdAsync implement another logic to find the client-application object.

            var application = await service.FindByClientIdAsync(request.ClientId, CancellationToken.None);
           if (application == null)
            {
                throw new InvalidClientException();
            }
in the current behavior

[2018-11-28 21:25] kevinchalet commented on #700
Customizing the client authentication logic performed by the OpenIddict server components is not a supported scenario.

1. starting with RTM, OpenIddict now comes with a built-in cache to avoid sending multiple queries to retrieve the same object (it's enabled by default)

2. the OpenIddict server doesn't use exceptions to reject requests that don't pass the client authentication validation logic.

[2018-11-28 22:29] marcrib commented on #696
Very thanks @PinpointTownes

I do not know why they do not like ROPC, it's a transparent authentication

Others flow require to use razor. Exist other alternative? Create a authserver use only api and spa framework?

[2018-11-29 01:30] kevinchalet commented on #690
For the record, this question was answered here: https://stackoverflow.com/a/53302167/542757

[2018-11-29 01:30] #690 closed, assigned to nobody

[2018-11-29 09:29] Materix commented on #698
I prepared demo project on https://github.com/Materix/OpenIddict698

AuthorizationController is a copy of AuthorizationController from https://github.com/openiddict/openiddict-core/blob/dev/samples/Mvc.Server/Controllers/AuthorizationController.cs

If you run both tests at once, one of then fails. If then you run this failed test alone, it will succeeded

[2018-11-29 15:38] jonathanantoine opened #701 "Why do we need to provide clientId/clientSecret in password flow ?"
In my understanding of OpenId Connect, when I choose the password flow, I should be able to provide only the clientId without clientSecret (not secure storage in my case). Is it possible without disabling ClientId Verification as a whole ?

[2018-11-29 16:22] davebat commented on #689
Thanks, I've got quite far along with the separate client approach now so will probably have to stick with that.

I can access clientId in the authorize endpoint, but I would like to use this as part of the login process which is hit before.

PS - The more I've been using this framework the more impressed I am, its incredibly useful, thanks!

[2018-11-29 16:42] marcrib opened #702 "How api resource create new ticket with additional claims?"
I have 2 software with totally different business logic

I  use  openiddict as a single authentication server for these 2 softwares

How can I create a new ticket with additional claims for each of my apis?

[2018-11-29 17:01] kevinchalet commented on #701
It's only possible if your client application is declared as a public client. In this case, there's no client secret, and the request will be considered valid if the `client_id` is sent (and valid, obviously).

Such a thing is not possible for confidential clients: if you omit the client secret in this case, an error is returned, stating that the client secret was missing (otherwise, there would b

[2018-11-29 17:49] jonathanantoine commented on #701
Thanks for answering me. How can I set a client application as public ?

[2018-11-29 18:19] kevinchalet commented on #689
If you want to keep using `[Authorize]` for your authorization endpoint, you can do something like that:

[code]

Alternatively, you can remove the `[Authorize]` attribute from your authorization endpoint and do that:

[code]

[code]

[2018-11-29 18:20] kevinchalet commented on #689
Glad you like it! :smile:

[2018-11-29 18:23] kevinchalet commented on #701
Simply don't set a client secret when creating your app using the app manager and it will create a public client. If you want things to be explicit, you can set `OpenIddictApplicationDescriptor.Type` to `OpenIddictConstants.ClientTypes.Public`.

[2018-11-30 08:56] jonathanantoine commented on #701
Merci @PinpointTownes, that was the missing part in my mind :)

[2018-11-30 08:56] #701 closed, assigned to nobody

[2018-11-30 10:11] davebat commented on #689
First approach works perfectly - thank you again for the assistance

[2018-11-30 10:12] #689 closed, assigned to nobody

[2018-11-30 13:25] marcrib commented on #702
Any solutions:

1 - Use `IClaimsTransformation`

    public class MyClaimsTransformer : IClaimsTransformation
    {
        private bool isTransformed = false; //Use because all request duplicate claim
        public Task<ClaimsPrincipal> TransformAsync(ClaimsPrincipal principal)
        {
            if (!isTransformed)
            {
                //Add custom claim  - I could not access the da

[2018-12-01 18:37] felipesantanadev commented on #693
You're right. The problem was the entity type. I thought we should specify it only during OpenIddict configuration.

[2018-12-03 19:10] #702 closed, assigned to nobody

[2018-12-05 07:46] MunazzahNawaz opened #703 "While doing silentRenew token manually I get "Frame window timed out""
I have checked many links but no solution worked for me.
I am using oidc-client in angular 6 app and I am calling
this.userManager.signinSilent(); to refresh tokens, and getting "Frame window timed out" error. I have checked all redirect Uris also and everything seems to be OK. here is my config:

{
        authority:  'https://localhost:44360/',
        client_id: 'SPA_Client',
        redirect_u

[2018-12-05 10:34] ahanoff commented on #687
@PinpointTownes I will do it next week, thanks

[2018-12-05 12:54] davebat opened #704 "How to customise what claims are included in JWT"
Hi,

I am comfortable with adding my own claims to the JWT, but was wondering if there is a way to stop some of the existing claims being added.

My decoded token looks like this:

{
  "sub": "62bf7a04-da00-4279-975e-39538c5c77ff",
  "name": "dbattersby@example.com",
  "EntityId": "2",
  "token_usage": "access_token",
  "jti": "32bcb635-8d30-4b29-9cbe-636e3041f290",
  "cfd_lvl": "private",
  "scop

[2018-12-06 12:05] muehan commented on #628
@lutvdh sorry for the late response. Yes, as mentioned in the comment before, the intermediate certificate was not installed in the intermediate store. it was in the personal store. so in the vertificate manager the cert and the chain was shown as valid. but the browser was not able to verify the certificate chain because he did not found the intermediate cert in the intermediate store. moving the

[2018-12-11 07:48] nurhat opened #705 "Rolling tokens bug"
Hi,

When using rolling tokens option,  1st refresh token request returns new refresh token and access token, but the request revokes authorization, that concludes 2nd token request to return "The authorization associated with the refresh token is no longer valid." response. could you please check, what is wrong with it?

[2018-12-11 09:20] nurhat commented on #705
Please ignore

[2018-12-11 09:20] #705 closed, assigned to nobody

[2018-12-12 11:55] johanndev opened #706 "Authorization Code Grant with PKCE supported?"
I'm using OpenIddict on ASP.NET Core in conjunction with an angular app (and the angular-oauth2-oidc lib). Up until now, I've been using the Resource Owner Password Credentials Grant Type (I know, booooooo!!! ;) ) My original plan was to switch to the implicit flow, but while researching I've come across several sites that advise against using the implicit flow in a SPA (e.g. [here](https://www.or

[2018-12-15 13:08] kevinchalet commented on #703
Did you take a look at the logs? This may be the cause of an invalid request, for which you couldn't be redirected to the `silent_redirect_uri`.

[2018-12-15 13:30] kevinchalet commented on #704
Something like that should do what you want:

[code]

[code]

Would I recommend it? It depends, as the scope claims are extremely useful for your APIs (assuming you use scopes, of course): they are a great way to limit what client applications are allowed to do/access on behalf of the authenticated users, so if you have third-party clients, I encourage you to use them.

[2018-12-15 13:39] kevinchalet commented on #706
**PKCE is fully supported** by the underlying OIDC server library (ASOS), with some additional security constraints added by OpenIddict:

  - `code_challenge_method=plain` is deliberately not allowed. Only `S256` is.

  - No access token can be returned from the authorization endpoint when using PKCE. Concretely, this means that if you try to send a `response_type=token`/`response_type=id_token to

[2018-12-15 13:40] #700 closed, assigned to nobody

[2018-12-15 13:40] #699 closed, assigned to nobody

[2018-12-15 13:40] #695 closed, assigned to nobody

[2018-12-15 13:40] #693 closed, assigned to nobody

[2018-12-15 13:40] #685 closed, assigned to nobody

[2018-12-15 13:41] #688 closed, assigned to nobody

[2018-12-15 13:41] kevinchalet commented on #692
https://stackoverflow.com/questions/53261820/how-to-customize-the-authorization-error-produced-by-openiddict should put you on the right track.

[2018-12-15 13:41] #692 closed, assigned to nobody

[2018-12-15 13:42] #680 closed, assigned to nobody

[2018-12-15 13:42] #676 closed, assigned to nobody

[2018-12-15 19:59] kevinchalet commented on #698
Thanks for the repro. I can confirm I'm seeing the same weird thing.

After spending 2 hours on that, my conclusion is that it's likely not caused by OpenIddict itself but by a strange bug in EF Core's in-memory stores that seems to impact compiled queries, massively used in OpenIddict since RC3: https://github.com/aspnet/EntityFrameworkCore/issues/13483 (kudos to @JanEggers for his excellent inve

[2018-12-16 15:24] kueronya opened #707 "Multiple authorizations for the same identity user?"
Hello

I am implementing resource owner password flow along with a custom urn:ietf:params:oauth:grant-type:google_access_token flow for single sign on.

The latter is creating a single authorization record on the first sign in, while the password flow is creating an authorization record on every sign in. I feel like i'm doing something wrong here. Should there multiple authorizations for the same

[2018-12-16 16:15] kevinchalet commented on #707
Hey,

Here's how it works: by default, OpenIddict creates a **new ad-hoc and independent authorization** each time an authorization code or refresh token is about to be returned to the client application, which includes the authorization code flow, the password flow or any custom flow as long as a refresh token is returned. This authorization is automatically reused when receiving a `grant_type=re

[2018-12-16 22:42] kueronya commented on #707
Thank you @PinpointTownes ! I really appreciate your dedication to this whole topic. Learned so much just reading through your various comments.

That said, is there any downside reusing authorizations?

[2018-12-17 11:36] davebat commented on #704
thankyou, thats exactly what I need. I appreciate your point about third party access and will think about whether  this is really the approach i want

[2018-12-17 13:54] marcrib commented on #706
This is very confusing.

Many say that one should not use ROPC. But varios web frameworks (nodejs/ruby/others) use ROPC by default to work with JWT

Many say you should use Implicit Flow

Most small projects use SPA and Mobile client

[2018-12-19 14:36] TerraVenil commented on #707
Hi, @PinpointTownes. Am I right understand that based on previous example with Orchard when call to token endpoint you generate a new access/refresh tokens EVERY time without reusing existing one??? I thought you should always reuse existing access_refresh token keys. From that perspective do we need endpoint for access_token generation based on refresh_token if we can always reuse password grant_

[2018-12-19 17:54] kevinchalet commented on #707
Hey @TerraVenil,

Orchard's OpenID module will generate a new refresh token for every `grant_type=refresh_token` or `grant_type=password` token request,

If you simply send a refresh token request (`grant_type=refresh_token`), it won't generate a new refresh token but just an access token. You can force it to issue a new refresh token every time by turning on rolling tokens in the advanced options

[2018-12-24 01:49] jinweijie opened #708 "Where are properties of OpenIddictApplications and OpenIddictScopes been used?"
Hi Kevin,

Thanks for this great project. One quick question is that, in the OpenIddictApplications and OpenIddictScopes tables, there are Properties columns. But I couldn't find where the properties columns been used. Is it for future extensibility or did I miss to find the usage?

Thanks for advance.

Weijie

[2018-12-24 13:24] kevinchalet commented on #708
Hey,

Glad you like it!

That's exactly what they are used for: extensibility. Most notably, they are used in the OrchardCore OpenID module as a way to store Orchard-specific data without having to make any schema change ; which is particularly important, as we want to be able to use the management UI feature with any non-Orchard OpenIddict deployment (if we had schema differences, it wouldn't wor

[2018-12-26 06:33] jinweijie commented on #708
Thanks a lot for the prompt reply, very clear now, you may close this issue.

Thanks & Happy New Year!

[2018-12-26 06:33] #708 closed, assigned to nobody

[2019-01-06 16:49] ajithkumarrai commented on #599
HI @ngohungphuc , @PinpointTownes
Could you please help or share me on openiddict  related sample in ASP.NET Core 2.2 as per below scenario
1. Without EF integration
2.Openiddict refresh token generation(even i followed steps as per samples but no use at the time of token generation it is not giving refresh token)
[AuthorizationController.docx](https://github.com/openiddict/openiddict-core/files/2

[2019-01-06 18:48] kinosang commented on #599
@ajithkumarrai

For OpenIddict refresh token flow, see https://github.com/openiddict/openiddict-samples/tree/dev/samples/RefreshFlow.

Unfortunately, there's no official sample without EF integration, but there's only one real different from the samples, you should create your own models and storages, see OpenIddict.EntityFrameworkCore, OpenIddict.EntityFrameworkCore.Models, OpenIddict.MongoDb, an

[2019-01-07 03:25] ajithkumarrai commented on #599
Hi

Thanks you for reply
In attached files i crated sample by following https://github.com/openiddict/openiddict-samples/tree/dev/samples/RefreshFlow this link, but while generating token(in password type response) it is not giving refresh_token attribute in response.

we are using Enterprise NoSQL otherthan MongoDb and we don't want to maintain storage for refresh tokens.

Could you please check

[2019-01-07 03:55] kinosang commented on #599
@ajithkumarrai

`offline_access` scope should be add to your request for `refresh_token`,

[2019-01-07 03:58] ngohungphuc commented on #599
@ajithkumarrai You can check my code here
https://github.com/SaiGonSoftware/Awesome-CMS-Core/

[2019-01-07 05:46] ajithkumarrai commented on #599
do we need to maintain refresh token in db ?

Even after following sample not getting refresh token
added scope like this

  ticket.SetScopes(new[]
                {
                    OpenIdConnectConstants.Scopes.OpenId,
                    OpenIdConnectConstants.Scopes.Email,
                    OpenIdConnectConstants.Scopes.Profile,
                    OpenIdConnectConstants.Scopes.OfflineAcc

[2019-01-07 07:10] ngohungphuc commented on #599
@ajithkumarrai I save refresh token in localstorage but you can save to db. It's just personal preference

[2019-01-07 07:14] ajithkumarrai commented on #599
It means we need to store refresh token, it will not be handled by openiddict automatically like ASOS ?
we don't have sql or mongodb we are using Marklogic and also we don't want to save tokens in db
could you please guide me on this.

Local storage means : client script side right ? but before only i am not getting refresh token as per above screen shot.

In this above screen when i was requestin

[2019-01-08 06:36] azim-bl opened #710 "Why Openiddict automatically validate client_id?"
I want to generate a token with four parameter client_id,client_secret, username & user password. Client_Id & client_secret are optional requirement. When I generate token with username & user password its working fine but when i try to pass client_id, it fails with 500 internal server error.

When i check the log and found: No database provider has been configured for this DbContext.

My Service

[2019-01-08 06:51] kinosang commented on #710
see #701

[2019-01-09 11:53] azim-bl commented on #710
@kinosang I read this , but i cant understand what need to do on my case .

[2019-01-09 14:15] kevinchalet commented on #710
I posted an explanation on SO: https://stackoverflow.com/questions/54061296/why-openiddict-automatically-validate-client-id/54112110#54112110.

[2019-01-09 15:05] #707 closed, assigned to nobody

[2019-01-09 15:06] kevinchalet commented on #706
And now, some even say we should no longer use implicit for SPAs: https://auth0.com/blog/oauth2-implicit-grant-and-spa/

Wonderful world, isn't it? :trollface:

[2019-01-09 15:06] #706 closed, assigned to nobody

[2019-01-09 15:06] #704 closed, assigned to nobody

[2019-01-09 16:35] #703 closed, assigned to nobody

[2019-01-09 16:35] #681 closed, assigned to nobody

[2019-01-09 16:36] #674 closed, assigned to nobody

[2019-01-09 17:59] pfaner commented on #578
I done everithing and it works but when I check is the user is logged in asp.net Core Razor login page it fails. SignInManager.IsSignedIn(User) returns allways false. How I can acces to JWT Claims in Razor Pages?

[2019-01-10 14:20] #687 closed, assigned to nobody

[2019-01-10 16:40] anujamalviya opened #714 "unable to authenticate ASOS token in asp .net identity core 2.0"
i am trying to generate token using openiddict ASOS authentication in asp .net core identity 2.0, the generated token does not allow me to authenticate the user, the userContext object is getting null value due to my code below in startup.cs:

services.AddIdentity<User, Role>()
.AddEntityFrameworkStores(SomedbContext)
.AddDefaultTokenProviders();

The same code i am using for asp .net core solutio

[2019-01-10 16:41] kevinchalet commented on #714
I'm not sure I understand what you mean. Care to explain?

[2019-01-10 16:49] anujamalviya commented on #714
My code is like this
[code]

Authorization Attribute
[code]

If I remove the line
[code]
context.HttpContext.User is giving me correct data in AuthorizationFilter, when I pass the token bearer from client application

adding
[code]
context.HttpContext.User is coming null

[2019-01-10 17:08] kinosang commented on #714
@anujamalviya you should add OpenId Connect token Authentication extension or OpenIddict.Validation extension to your Core Authentication

[2019-01-11 04:08] anujamalviya commented on #714
added more details

[2019-01-12 16:11] AnandKThakur commented on #714
@PinpointTownes Could you please help us to solve above issue

[2019-01-12 16:21] kinosang commented on #714
You mean you want to valid the ASOS token without asp.net core Identity?

You should create your own core Authentication middleware to do that, all the tokens are protected with asp.net core DataProtection, you can create a DP instance with the same key of ASOS and unprotect the token by using the DP instance, then you got the payload.

[2019-01-12 16:24] kevinchalet commented on #714
@anujamalviya @AnandKThakur the issue is with the default schemes. This thread should put you on the right track: https://github.com/openiddict/openiddict-core/issues/436#issuecomment-325369288

[2019-01-14 13:41] #710 closed, assigned to nobody

[2019-01-15 16:28] jonathanantoine opened #716 "Is there a way to enforce the usage of PKCE for the authorization code flow ?"
Hello,

Is there a way to enforce the usage of PKCE for the authorization code flow ?
Do I have to check it manually ?

Thanks !

[2019-01-15 18:02] kevinchalet commented on #716
Hey,

When I added PKCE support 3 years ago, I decided against adding a flag to make its use mandatory, mostly because client support was completely inexistant and because PKCE was designed as an "additive" security feature, that would benefit to clients supporting it without breaking existing clients (which would have been terrible).

Now, 3 years later, things have - luckily - changed a bit: cli

[2019-01-15 19:19] jonathanantoine commented on #716
Thanks for answering me! I added a check in my authorization endpoint instead of where you pointed me and it will works while we have the proper release. Do you want me to work on it and create a PR?

[2019-01-15 19:41] kevinchalet commented on #716
@jonathanantoine here we go: https://github.com/openiddict/openiddict-core/pull/717

It will be introduced in 3.0, but depending on the demand, this feature may be backported to 1.x and 2.x at a later date.

[2019-01-17 11:55] Booster2ooo commented on #664
@ddydeveloper Hello, could you discribe your fix please ? I'm facing the same problem but can't figure out the solution :'(

[2019-01-17 12:06] ddydeveloper commented on #664
@Booster2ooo I've updated my nuget references of the .net core and entity framework and have added a one more migration included openiddict updates.

After I have updated the db and get the working stuff.

Hope it will be usefull

[2019-01-17 13:53] jonathanantoine commented on #716
I would love to have it in 2.0 :)

[2019-01-18 11:30] pareshr13 commented on #410
you need to pass parameter as follow

fetch('https://ServiceURL', {
      method: "POST",
      headers: header,
      "body" : "param1=val1&param2=val2......paramn=valuen"
    })

[2019-01-21 11:46] jonathanantoine opened #718 "Two calls to the Authorization endpoint produces an exception"
When I call twice the authorization endpoint with the below parameters, the second call receive a 500 status code with an exception "Cannot insert duplicate key row in object 'portal.OpenIddictTokens'

Call made : `client_id=client_id_custom&redirect_uri=http%3A%2F%2Flocalhost%3A5000&response_type=code&scope=openid&state=15480681920150.40786101043532397&code_challenge=63ZdUz7TVmbTdcssm0vgNGirHdL13

[2019-01-21 14:00] kevinchalet commented on #718
Can you please double-check that the `IX_OpenIddictTokens_ReferenceId` index includes an `IS NOT NULL` filter?

E.g:

[code]

[2019-01-21 14:08] jonathanantoine commented on #718
it does not include this filters (I used the default created database btw).

[2019-01-21 14:12] kevinchalet commented on #718
What version of EF Core did you use to create the database?

It's weird, because EF Core is expected to add a non-null filter when using the MSSQL provider:

https://docs.microsoft.com/en-us/ef/core/modeling/relational/indexes#fluent-api

[2019-01-21 14:32] jonathanantoine commented on #718
I use the 2.1.4 version of EF.CORE. I have this when I dump it's sql create script :
[code]

[2019-01-21 14:58] kevinchalet commented on #718
I am unable to reproduce that locally. With EF Core 2.1.4, here's what it generates on my machine (with SQL Server Express 2014):

[code]

[2019-01-21 15:05] kevinchalet commented on #718
Even when using migrations, it generates a correct index:

[code]

[code]

[2019-01-21 15:10] #714 closed, assigned to nobody

[2019-01-21 15:12] #593 closed, assigned to nobody

[2019-01-21 15:12] #594 closed, assigned to nobody

[2019-01-21 15:12] #608 closed, assigned to nobody

[2019-01-21 15:12] #610 closed, assigned to nobody

[2019-01-21 15:12] #621 closed, assigned to nobody

[2019-01-21 15:12] #622 closed, assigned to nobody

[2019-01-21 15:29] kevinchalet commented on #684
FYI, I posted more details about the in-memory database issue here: https://github.com/openiddict/openiddict-core/issues/698#issuecomment-447594003 (TL;DR: it's a bug in EF Core that impacts compiled queries).

[2019-01-21 15:29] #684 closed, assigned to nobody

[2019-01-21 15:29] #698 closed, assigned to nobody

[2019-01-21 17:44] jonathanantoine commented on #718
I digged a little more and seems it's an issue with the tool I used to dump the database and recreate it (using sql scripts in automated tests). Sorry for the disturbance.

[2019-01-21 17:44] #718 closed, assigned to nobody

[2019-01-26 20:09] #716 closed, assigned to kevinchalet

[2019-01-26 21:01] codeaid opened #719 "Length of authorization Subject property causes "key was too long" on MySQL 5.6"
I'm currently working on a project that will be hosted on AWS Aurora Serverless, which unfortunately only supports MySQL 5.6 and after having implemented OpenIddict and generated migrations I am getting the following error when it gets to genrating indexes for the authorization model:

[code]

I see that the `OpenIddictAuthorizationConfiguration` class is setting maximum length of the `Subject` pr

[2019-01-26 21:03] codeaid commented on #719
My relevant dependencies:

[code]

Edit:
Adding the following code to my `ConfigureOpenIddictTables` method fixes the issue:

[code]

Reason for having `OpenIddictToken` there is because once authorization gets fixed it fails with the same error when migrating tokens.

Still, not perfect as seeing how it's set to be 450 by deafult makes me wonder if 250 is enough to store the subjects.

[2019-01-31 06:31] anujamalviya commented on #714
@PinpointTownes  Thank you so much!

[2019-02-05 02:43] kevinchalet commented on #719
I tested locally with MySQL 8.0.12 and I was unable to reproduce it so yeah, the fact Aurora uses an older version is likely the root cause here.

FWIW, setting an explicit maximum length was precisely made to avoid issues with MySQL but I should probably have tested with older versions.

The dilemma is that the `Subject` column corresponds to arbitrary data - the `sub` claim added to the claims p

[2019-02-05 14:10] pb123456 opened #720 "Question: Refresh token expiration upon deployment"
I'm trying to figure out what causes our refresh token to be invalidated when we deploy new code. Is it something I can configure, or is it cased by our building pipeline (in Azure), where we first deploy to a staging server and then swap staging with production. We are using a signing certificate and json web tokens. Do something here use e.g. random numbers that is replaced during our swap?

Loc

[2019-02-05 14:27] kevinchalet commented on #720
OpenIddict uses the rock-solid ASP.NET Core Data Protection stack to encrypt/HMAC its authorization codes and refresh tokens (certificates are only used to sign identity tokens... and access tokens if you opt for JWT access tokens).

If you haven't configured DP to use an explicit storage location, it will persist its master keys on the local disk. On Azure App Service, this storage method - that

[2019-02-08 18:26] #720 closed, assigned to nobody

[2019-02-10 12:50] lutaiphong opened #721 "NOT working on Chrome"
Hi,

I'm not sure why but all of your `Authorization code` and `Implicit` examples are NOT working on Chrome. Firefox is ok, Edge is ok, even Internet Explorer is ok.
This issue happens with the examples in this repository and also in `openiddict-samples`

OS: Windows 10 Pro
Chrome version: 71.0.3578.98 (Official Build) (64-bit)

Hope you could have some time to look at it.

BTW, the project is wo

[2019-02-10 13:48] kevinchalet commented on #721
Hey.

Interesting. I use Chrome and I haven't noticed any issue lately. Any chance you could describe what's not working for you?

[2019-02-10 14:25] lutaiphong commented on #721
Sorry, I forget this part.

The registration flow is fine, but the login isn't.
I'll try to record it to show.

[2019-02-10 14:50] lutaiphong commented on #721
[Here](https://drive.google.com/drive/folders/1QXKm_14u3SwcP5bx5PBvvMDxIADPZ-gQ?usp=sharing) you are.

[2019-02-10 14:53] kevinchalet commented on #721
@lutaiphong well, the only thing I can see is Visual Studio's main window, without any file opened 😄

[2019-02-10 15:09] lutaiphong commented on #721
Sorry, stupid me.

[Here](https://tinytake.s3.amazonaws.com/pulse/lutaiphong/attachments/9873771/TinyTake10-02-2019-10-07-23.mp4) is the correct one.

[2019-02-10 19:10] kevinchalet commented on #721
Weird. Is there anything interesting in the Chrome logs? In the ASP.NET Core logs? Is the ASP.NET Core Identity cookie correctly sent?

[2019-02-10 19:21] lutaiphong commented on #721
OMG. I must go kill myself.
Cognito mode went through easily.
The reason must be one of my extension...
Thanks a lot, @PinpointTownes , you save my day.

I gotta close this.

[2019-02-10 19:21] #721 closed, assigned to nobody

[2019-02-13 13:26] #719 closed, assigned to nobody

[2019-02-19 07:05] Krangth opened #722 "External login .AddAzureAD not working"
I was able to get this sample to successfully authenticate against my Azure AD v2 App Registration which is configured for single tenancy. However, I have been unable to get OpenIddict to successfully authenticate with it. In fiddler the two apps send the same requests to Microsoft and get the same replies. The sample app is signed in at the end, but OpenIddict doesn't seem to complete the process

[2019-02-19 15:30] phonglt7 opened #723 "External Authorize server"
Hi,

I'd set up my project using OpenIddict successfully.
Register, login, logout, authorize is ok, on the same server.
However, we have a new urgent request that we need to separate the Authorization out of the Authorization Server.
Consider this:
- Authorization Server A will receive a request at /connect/token and returns access_token.
- Client B will add access_token to the header and make a r

[2019-02-19 16:24] kinosang commented on #723
Use JWT, or the Introspection middleware in Resource Server.

[2019-02-20 08:20] azim-bl commented on #289
I am getting the same error like this.

Here is my configuration:

           public void ConfigureServices(IServiceCollection services)
            {
            services.AddMvc().AddXmlSerializerFormatters();
            services.AddSingleton<IHttpContextAccessor, HttpContextAccessor>();

            services.AddDbContext<ApiHubContext>(options =>
            {
                options.UseMySql(C

[2019-02-20 21:20] ianpowell2017 opened #724 "Could OpenIdDict support Table storage instead of EntityFramework?"
Hi,

I was just wondering how hard this would be to use Azure table storage instead of Entity Framework?

I am currently using ElCamino.AspNetCore.Identity.AzureTable nuget package for storage of user credentials and looking to add OpenIdDIct.

I currently have no requirement to use SQL server in the solution.

Please advise where I should start?

[2019-02-20 21:58] kevinchalet commented on #724
Hey,

Hard, I dunno but painful, yeah, likely. The main challenge to solve would be to deal with partition and row keys.

You can take a look at the MongoDB stores, tho' I'm not sure it will help, as Mongo's API is much simpler to use than ATS 😅

[2019-02-21 17:32] murillio4 opened #725 "Not allowed to retrieve an access token from the authorization endpoint"
Hi,

I'm getting an error when i include `token` in the `response_type` parameter. I can't seem to find out if I'm doing something wrong (probably), or there is a bug. The error does not occur when I'm setting the `response_type` parameter to `id_token` only, but does occur when i combine it with `token`.

**From the console**
[code]

**ConfigureServices**

[code]

**Configure**

[code]

**Autoriz

[2019-02-21 20:16] murillio4 commented on #725
I managed to resolve it. The solution was to change the application type to "public"

[code]

[2019-02-21 20:16] #725 closed, assigned to nobody

[2019-02-24 10:24] ianpowell2017 commented on #724
The problem I am facing is that a site I am working on uses https://github.com/dlmelendez/identityazuretable which uses Azure table storage as its underlying data source.

I have the requirement to add OAuth Code flow to the website and found this project which shows a lot of promise.  Any help you can offer would be very appreciated.

[2019-02-24 15:03] kevinchalet commented on #724
I don't plan to add support for ATS myself, but if you have precise questions about the OpenIddict integration part, feel free to ask.

[2019-02-24 15:26] #724 closed, assigned to nobody

[2019-02-25 18:26] jonathanantoine opened #726 "Cannot run and use two identity server in integrations tests"
Hello,

I have an integration test which run 2 identity server both using OpenIddict.
I can call the first one and it works fine but when I call the second one, I get this error :

```Unable to resolve service for type 'XXX.Api.IntegrationTests.Infra.XXIntegrationTestDbContext' while attempting to activate 'OpenIddict.EntityFrameworkCore.OpenIddictAuthorizationStore`5[OpenIddict.EntityFrameworkCor

[2019-02-25 20:06] jonathanantoine commented on #726
I did have a workaround and a possible cause, these services uses static cache and therefore does not allow the described scenario :

- OpenIddictApplicationStoreResolver
- OpenIddictAuthorizationStoreResolver
- OpenIddictScopeStoreResolver
- OpenIddictTokenStoreResolver

As a work-around, I created my own version of the services and registered them :
[code]

[2019-02-26 15:58] kevinchalet commented on #726
Hey,

I identified this issue a few weeks ago thanks to another report and fixing it is indeed on my radar (actually, I started working on a PR last week). The fix would be to remove the static cache and replace it by a private singleton cache injected via DI, whose lifetime would match the lifetime of the root DI container.

The EF Core/EF 6/NHibernate stores are impacted, but not the MongoDB sto

[2019-02-26 19:20] jonathanantoine commented on #726
Thanks and thank you again for this awesome project!

[2019-02-27 00:23] marcrib opened #727 "What is the best flow for spa and mobile applications?"
Password Flow is not secure
Implicit flow is not secure

For oauth2 the two flow are not secure

Is not it really safe?
To this day several frameworks by default implement password flow or simple jwt generation (not password flow, not send client and secret in request)

Which one should we use?

Many developers just want to make their applications safer, but why so many rules?

[2019-03-01 01:33] kguernsey opened #728 "Add Client Id and Secret to Password Flow"
I would like to include the Client Id and Secret in the Password Flow, but I can't figure out how to include them in the request.

Any help would be appreciated.

Thanks

[2019-03-01 01:35] kevinchalet commented on #728
It works the same way as the other flows that use the token endpoint. You can either:
  - Specify them in the request form, using `client_id` and `client_secret`.
  - Specify them in the `Authorization` header, using basic authentication: https://tools.ietf.org/html/rfc6749#section-2.3.1

[2019-03-01 17:00] kguernsey commented on #728
Thanks - I'll give it a try.

I appreciate your fast reply.

[2019-03-02 03:38] #723 closed, assigned to nobody

[2019-03-02 03:38] phonglt7 opened #729 "audience"

[2019-03-02 03:42] phonglt7 commented on #729
Hi, I see that as the specs https://tools.ietf.org/html/rfc7519#section-4.1.3, we can set multiple audiences.
However, I tried different formats, it still gives the error "Unable to validate audience".
For e.g.:

- "audience1 audience2"
- "audience1,audience2"
- "['audience1', 'audience2']

Please show me the correct input.

Thanks,
Phong.

[2019-03-02 07:55] phonglt7 commented on #729
I managed to work it out.

[2019-03-02 07:55] #729 closed, assigned to nobody

[2019-03-02 08:56] YasinLaw commented on #188
Thanks, really help a lot!!!

[2019-03-02 08:57] YasinLaw commented on #188
@user09987 thanks, really help a lot!!!

[2019-03-03 13:12] xperiandri commented on #728
@kguernsey just use IndentityModel NuGet

[2019-03-03 13:15] xperiandri commented on #727
Implicit or Hybrid
Anyway it is implicit for SPA
Open popup, navigate to auth URI, catch when redirected to redirect URI, get tokens

[2019-03-03 17:45] cristian-eriomenco commented on #668
Was this solved? I get same issue but using it as a Guid instead of int.

[2019-03-03 18:12] kevinchalet commented on #668
@cristian-eriomenco AFAICT, there was no issue on my side. What's the actual exception you're seeing?

[2019-03-07 14:25] auriou opened #730 "OpenIddict Store with Stored Procedure SQL - IQueryable"
Hi, I'm implementing OpenIddict Store classes to use SQL stored procedures because we can not use EF in my business.
I have a problem with ListAsync methods that have IQueryable arguments because for a stored procedure it does not make any sense because the parameters are determined.
I can return the entire table and then convert the result to IQueryable with .AsQueryable (), but that will degrade

[2019-03-07 16:29] kevinchalet commented on #730
Hey Philippe,

They are only used by the `OpenIddictXYZManager.CountAsync()/GetAsync()/ListAsync()` overloads accepting queryable delegates, that only exist to allow users to execute arbitrary queries in an asynchronous way. They are not used by OpenIddict.

In your case, I'd simply throw a `NotSupportedException`. It's what we do in the YesSql stores for OrchardCore: https://github.com/OrchardCMS

[2019-03-08 13:21] auriou commented on #730
Great, thank you Kevin

[2019-03-08 13:21] #730 closed, assigned to nobody

[2019-03-11 15:24] iretibe opened #731 "Unable to obtain configuration from: .../.well-known/openid-configuration'"
I am running into a security issue while deploying to external live server. I have 2 separate web api applications secured by an identityserver4 projects.

I have successfully secured both api application but ran into issues when trying to fetch data and this happens only the external live server because it works on my local machine and the internal server machine.
i am able to login successfully

[2019-03-11 15:54] kevinchalet commented on #731
Then that's likely the wrong repository.

[2019-03-11 15:54] #731 closed, assigned to nobody

[2019-03-12 08:54] iretibe commented on #731
Hello PinPoint Townes, I get redirected to the api application on the external server which means my login is successfull. But i cannot fetch data from the swagger. I can only fetch data on those with AllowAnonymous options

[2019-03-13 14:25] fingers10 commented on #726
Hi Jonathanantonie,

I'm also trying to write integration test with openiddict in asp.net core 2.2 web api. But when I make a request to token end point to get bearer token, I'm getting 400 Bad Request. Please could you assist or share some code on how to get bearer token in integration tests?

Thanks,
Abdul

[2019-03-13 17:00] NetTecture opened #732 "How to implement API keys?"
Stnadard scenario access tokens are short term and not revocable - which makes total sense if you have the code in place to use a refresh token.

API keys otoh should not be too long and *must* be revocable and durable - people do not want to upgrade their excep spreadsheets every week, i.e.

is there any code example how to implement an API key based on openiddict?´as server? Need to add API keys

[2019-03-13 17:29] kevinchalet commented on #732
I'm afraid API keys are not a good fit for OpenIddict, which is an OpenID Connect library.

The closest equivalent you can find in the OAuth2/OpenID Connect world is the client credentials grant type: https://tools.ietf.org/html/rfc6749#section-4.4

[2019-03-13 17:41] NetTecture commented on #732
So basically implement a SECOND security database somehow?

And no, client credentials do not work. Clients include non modifiable software like i.e. Excel (that can handle REST API's, in our case OData, for reporting). I can enter an API key. Entering the access token is not wanted due to excessively small lifetime and roles (noramlly with an API key you acutally allow further limitation - yes, t

[2019-03-13 17:51] kevinchalet commented on #732
Looks like you're trying to use OpenIddict for something it hasn't been designed for, which is probably not a good idea. If you want to use API keys, implementing your own `AuthenticationHandler` (or picking an existing one developed by the community) would be a much better approach.

[2019-03-18 01:08] dbarrios1907 opened #733 "ConfirmEmailAsync flow exit with exception during user validation process"
Hi,

Im trying to get a activation flow with OpenIddict, i have followed all migration configuration steps to latest version 2.0.0-rc3-final, authentication working as expected, but while activating user using EmailConfirmedAsync exits with following exception during ValidateUserAsync step:

![image](https://user-images.githubusercontent.com/12056326/54500934-c1195000-4900-11e9-9a56-6e4b8b21557e.p

[2019-03-18 16:42] auriou opened #734 "Prune and LifeTime- when is this executed ?"
Hello,
I would like to know when PruneAsync functions are executed to purge the base of the old token and authorization ?

And what are the following variables for ?

[code]
Is it only for purging?

Thx

[2019-03-21 12:43] AlphaCreativeDev opened #735 "Question: Recent Implicit Flow/Hybrid Angular example without using MVC?"
I've been pouring through the documentation and examples for a couple of weeks now and I'm having a hard time understanding how to implement what I want.  Every 'spa' or 'angular' example I have seen doesn't use Angular for most of the interactions with OpenIdDict/IdentityServer.  The examples use a MVC client instead but have an Angular app that loads after their account is setup.  I want the who

[2019-03-26 16:37] kevinchalet commented on #734
Hey,

Currently, never: it's something you have to do yourself (e.g in a cron-based Azure Function).
https://github.com/openiddict/openiddict-core/issues/361 tracks future improvements for automatic pruning.

"only", no, the lifetime assigned to a token type also directly impacts the validation stage, since expired tokens will be rejected.

[2019-03-26 17:05] kevinchalet commented on #735
While it doesn't use a SPA for the server-side-managed login part, there's an Aurelia sample using the implicit flow in the samples repository: https://github.com/openiddict/openiddict-samples/tree/dev/samples/ImplicitFlow

That said, it's definitely not the first time I hear the scenario you described.

The complicated thing about it is that it completely **blurs the line** between the authorizat

[2019-03-26 17:09] AlphaCreativeDev commented on #735
Thank you for your response.  We will be looking into your reply more and will respond here with further questions.

[2019-03-26 17:15] kevinchalet commented on #733
Hey,

I'm not sure to understand how OpenIddict may impact the fact a user - managed by ASP.NET Core Identity - doesn't have a security stamp? It looks like a question for the ASP.NET folks to me.

Are you 100% confident your user has a security stamp assigned?

[2019-03-29 07:51] auriou commented on #734
Thank you Kevin.

[2019-03-29 07:51] #734 closed, assigned to nobody

[2019-04-04 16:04] kevinchalet opened #736 "OpenIddict 3.0 roadmap"
I recently announced on Gitter that I was working on an OpenIddict 3.0 prototype and shared some details about how I envision it. To make things a bit more formal, here's the list of changes I'd like to make as part of the 3.0 overhaul.

## Things that will change:

### Merging the aspnet-contrib introspection, validation and server middleware into OpenIddict

Historically, the aspnet-contrib OIDC

[2019-04-10 19:12] Belaroth opened #737 "Missing id_token in response"
I created an authentication server using openiddict with the authorization code and was using the sample mvc.client project to validate that everything was working properly.  After the user logs in to the server and get's redirected back to the client I keep getting the error: SecurityTokenException: Unable to validate the 'id_token', no suitable ISecurityTokenValidator was found for: ''.".  I bel

[2019-04-10 19:59] Belaroth commented on #737
I found that the application needed to have the profile permission `OpenIddictConstants.Permissions.Scopes.Profile` and I needed to remove options.Scope.Clear() or else I get the above error.  Not really sure why I have DisableScopeValidation() turned on.

It no longer errors but it doesn't seem like it's working properly.  Once it complete's the signin it posts to /signin-oidc which does a 302 re

[2019-04-11 09:23] phonglt7 opened #738 "Refresh_token in cluster environment"
Hi,

Currently, I'm using OpenIddict in JWT.
Everything works fine until we deployed it on production.
Our production site setup as:
- 1 load balancer for below A, B.
- 2 containers (name A, B) as Authorization servers.

The issue happens when A issue tokens (access_token and refresh_token) and somehow if the load balancer point to the container B, it can't deserialize the refresh_token, then it r

[2019-04-11 15:19] matteobruni opened #739 "signin-oidc 404"
Hello,

I followed the sample of this repository to create a project with openiddict.
My login works fine until signin-oidc, the server returns 404 error.

I tried running the sample and the login doesn't reach the authorize controller, it continues to display the login form but the passwordsignin methods returns success.

I tried reading all the issues here similar to mine but I can't find a solu

[2019-04-11 15:36] matteobruni commented on #739
I found the problem, the Userinfo uri was wrong. For others that have this issue check it!
Sorry for the issue.

[2019-04-11 15:36] #739 closed, assigned to nobody

[2019-04-11 18:15] kevinchalet commented on #739
Glad you found the root cause of your issue! 👏

[2019-04-11 18:16] kevinchalet commented on #738
Hey,

https://github.com/openiddict/openiddict-core/issues/720#issuecomment-460656652 should put you on the right track 😄

[2019-04-11 18:18] kevinchalet commented on #737
Hum, weird, none of the steps you described should have any impact on whether an identity token is returned or not. Are you just you didn't forget to grant the `openid` scope when calling `ticket.SetScopes()`?

[2019-04-11 21:33] Belaroth commented on #737
@PinpointTownes, you are correct, I wasn't granting the openid scope.  When I did that I not longer got the error above.

Once it get's back to the client, it's still not actually logged in.  I'm seeing the same behavior when I run ([the sample](https://github.com/openiddict/openiddict-core/tree/dev/samples/Mvc.Client).  It still says "Welcome, Anonymous"

[2019-04-12 19:51] Belaroth commented on #737
I finally figured it out.  I was able to get the sample (and my client) to work once I set the cookie name in the startup class.
[code]

My guess is that there is a conflict because both the client and the server are running under localhost.

[2019-04-12 19:51] #737 closed, assigned to nobody

[2019-04-15 07:51] xperiandri opened #740 "Custom flow with authentication via instant messengers"
Can I use OpenIddict to organize my own flow similar to Authorization Code?
I want my mobile app to subscribe a user to a bot in messenger (Telegram, Viber, Messenger) and send the message
My backend will receive the message from the messenger, read user id and issue a link with an authorization code
The link will have my special scheme and be caught by my mobile app.
The user will click a link, r

[2019-04-15 07:52] xperiandri commented on #740
Actually, I want to register a user in Orchard CMS this way in 2 clicks

[2019-04-15 13:21] theVietCoder commented on #599
@ajithkumarrai:
You need to set the scope as openid offline_access in your request. Read more here: https://kevinchalet.com/2016/07/13/creating-your-own-openid-connect-server-with-asos-testing-your-authorization-server-with-postman/

[2019-04-16 12:09] xperiandri commented on #740
![Messenger Flow](https://user-images.githubusercontent.com/2365592/56208683-60de1100-605a-11e9-9524-48fb795f329f.png)

[2019-04-17 13:14] phonglt7 commented on #738
Awesome @PinpointTownes . Thanks a lot!

[2019-04-17 13:14] #738 closed, assigned to nobody

[2019-04-18 10:13] hermanho opened #741 "Support Source Link"
Support Source Link on NuGet will improve the experiences on source debugging.

Ref:
https://github.com/dotnet/sourcelink

[2019-04-18 10:20] kevinchalet commented on #741
Good idea. Let's do that as part of the 3.0 update!

[2019-04-28 04:44] HesamKashefi opened #742 "Problem with validation of Urls"
Hi,
When the client apps send their redirectUri and postLogoutUri , ... we always face a very simply problem which is :
if the urls are stored in the database like this : `https://www.github.com` and the client sends `https://www.github.com/` that ending slash makes the validations fail!
I wanted to know is this an intended behavior?
The problem is the deploy team configures urls in config files .

[2019-04-28 05:01] kevinchalet commented on #742
Hey,

Yes, it's the expected behavior: the OpenID Connect specification requires doing "simple string comparisons" (as defined in https://tools.ietf.org/html/rfc3986#section-6.2.1) without any URI normalization.

I'd recommend registering both `https://www.github.com` and `https://www.github.com/` if the two are used.

[2019-04-28 17:34] HesamKashefi commented on #742
Great, Thanks.

[2019-04-28 17:34] #742 closed, assigned to nobody

[2019-05-06 10:04] lonix1 commented on #578
@PinpointTownes or @HaoK or anyone else - this issue is so frustrating, confusing... and common!

`SignInManager` contains the auth-goodness, e.g. lockout, email confirm, etc. But it is meant for cookies.

`UserManager` is meant for JWT, but doesn't have those features, so we need to re-implement them.

Is there an example implementation somewhere? I don't want to reinvent the wheel :cry:

[2019-05-06 19:24] PayteR opened #743 "GetOpenIdConnectRequest() without EnableTokenEndpoint() to use it in GraphQL"
Hi, is there a way how to get `OpenIdConnectRequest`
[code]
withtout enabling EnableTokenEndpoint?

I need it to make it work in GraphQL. GraphQL uses only one http endpoint url to make all requests, so i can't set endpoint to that. Any idea? thx

[2019-05-07 17:46] PayteR commented on #743
I dig deeper and realized, that i don't really need to have `OpenIdConnectRequest`, i could SignIn with

[code]
But i get error `An authorization or token response cannot be returned from this endpoint`

From this, https://stackoverflow.com/questions/42048770/asp-net-core-openiddict-throws-an-openid-connect-response-cannot-be-returned-fr  i understand that i need to avoid default checking of Enabl

[2019-05-08 13:24] kevinchalet commented on #743
Hey,

It's not exactly clear to me what you're trying to achieve. Why do you want to return an OIDC response from a GraphQL endpoint? 😕

[2019-05-08 15:54] PayteR commented on #743
@PinpointTownes i just want to generate Token from my graphql endpoint, but i don't know how...

[2019-05-08 15:55] kevinchalet commented on #743
@PayteR it's not supported (and will never be): OpenIddict deliberately prevents you from returning token responses from endpoints it doesn't manage.

[2019-05-09 04:29] #743 closed, assigned to nobody

[2019-05-09 13:05] daview opened #744 "need openiddict base on netstandard 2.1"
A project base on netstandard 2.1 and package reference the openiddict, but build failure:

the type System.Threading.Tasks.ValueTask is conflict.

[2019-05-09 13:07] kevinchalet commented on #744
It's a known issue, that should be fixed in the next .NET Core 3.0 preview: https://github.com/dotnet/corefx/issues/36719.

[2019-05-09 23:22] luyseyal opened #745 "The token request was rejected because an invalid 'Content-Type' header was specified: application/json;charset=utf-8."
`The token request was rejected because an invalid 'Content-Type' header was specified: application/json;charset=utf-8`

Using 2.0.0 from Nuget

[2019-05-09 23:38] kevinchalet commented on #745
https://tools.ietf.org/html/rfc6749#section-4.1.3

[2019-05-10 12:15] iqbal369 opened #746 "Password flow, unable to verify access token,"
I am using password flow, I have auth server and api,
If call http://localhost:54540/connect/token
it return access token, I need to validate request on my api
It returns 401 Unauthorized

I am unable to understand what I am missing, I tried to find solution but still failed.
This is what is need.
I have one auth server and multiple api clients.
I want to get access token from server and communica

[2019-05-13 15:56] #745 closed, assigned to nobody

[2019-05-15 19:25] kevinchalet commented on #744
https://github.com/dotnet/corefx/issues/36719 was just closed, so the fix should likely land in the next .NET Core 3.0 preview.

[2019-05-15 19:25] #744 closed, assigned to nobody

[2019-05-16 12:36] nnfeng commented on #746
Hi, I think you are pretty close to getting it up and running.

You need to match the "ClientId" and "ClientSecret" on your "Api startup" class to the ones you initialize in the method "InitializeAsync" in your Auth Server Startup class.

If you take the sample for your auth server:
openiddict-samples/samples/ImplicitFlow/AuthorizationServer/Startup.cs

Then your "Api startup" should look like thi

[2019-05-17 09:05] jerriep opened #747 "Refresh token not being returned"
I am authorizing a user with OpenIddict using the implicit grant flow and want to have a refresh token returned, but for some reason OpenIddict is only returning an `id_token` and an `access_token`.

I have OpenIddict configured as follows:

[code]

This is the configuration for my client that I registered with OpenIddict:

[code]

And this is the authorization request I am sending

[code]

Is the

[2019-05-17 10:34] jerriep commented on #747
FWIW, I had a look at the `OpenIddictTokens` table and it contains no records. I assume this is related?

[2019-05-17 12:58] kevinchalet commented on #747
It's actually much simpler: no refresh token can be returned when using the implicit flow. While there's a way to force OpenIddict to issue one by leveraging the events model, I don't recommend it - specially for new applications - as it's a clear violation of the OAuth 2.0/OpenID Connect specifications.

Instead, consider using silent authorization requests (with `prompt=none`). The implicit flow

[2019-05-17 14:10] jerriep commented on #747
Thank you for the reply Kevin. I am actually coming to the conclusion that going with a Personal Access Token based approach is probably going to be less hassle in the long term.

The "clients" in my case is a Google Docs Add-On (and in the future, an Office Add-In). Their support for OIDC and OAuth 2 are questionable and I think I may run into many other issues following that approach.

A persona

[2019-05-17 14:10] #747 closed, assigned to nobody

[2019-05-22 09:20] kmiskiewicz commented on #735
You can also check the project from Asad Sahi, before he switched to Identity Server he was using OpenIdDict, you can check on my fork of his project https://github.com/kmiskiewicz/AspNetCoreSpa
There is also FB flow included

[2019-05-27 14:10] #732 closed, assigned to nobody

[2019-06-03 09:29] nurhat opened #748 "Using entiyframework custom execution strategy is not possible"
Due to user initiated transactions in  OpenIddict.EntityFrameworkCore, we are not able to use  custom execution strategies [link](https://docs.microsoft.com/en-us/ef/ef6/fundamentals/connection-resiliency/retry-logic#user-initiated-transactions-are-not-supported). There should be a configuration to enable usage of custom execution strategies.

Best Regards
Nurhat

[2019-06-11 16:57] anorborg opened #749 "Authorization Claims Request Parameter Support"
I was looking for a way to augment specific claims based on the context. I realize scope is one way to accomplish this, but was looking for potentially something more granular and found the "claims" Request Parameter here https://openid.net/specs/openid-connect-core-1_0.html#ClaimsParameter. I was trying to figure out how to implement this in OpenIddict-Core when usering the "userinfo" parameter.

[2019-06-12 15:05] kevinchalet commented on #749
There's no built-in mechanism for that, but you could store the claims list as a claim in your `ClaimsPrincipal`. You could alternatively store it as an authentication property in `AuthenticationProperties`.

[2019-06-12 15:10] kevinchalet commented on #748
Places where we use transactions in the EF Core stores are fairly rare (they are typically used for delete and pruning operations, since we can't use cascade deletes due to the circular nature of the OpenIddict entities).

Can't you just suspend the execution strategy prior to invoking the OpenIddict managers?

[2019-06-13 00:20] anorborg commented on #749
Thanks @PinpointTownes! Forgive my ignorance, but if I and the claims list as a claim to the `ClaimsPrincipal`, that would then place it in the access_token, correct? Then on the call to the userinfo endpoint, it will be available on the current `HttpContext.User`? And in the case of the `AuthenticationProperties`, they would be stored in a cookie? If so how would I access those on the userinfo en

[2019-06-14 13:43] kevinchalet commented on #749
Correct.

Actually no, adding it to `AuthenticationProperties` would also place it in the access token (not as a claim but as a special authentication property). You can access it via `(await HttpContext.AuthenticateAsync("Bearer"))?.Ticket.Properties`.

[2019-06-22 14:08] 1619digital opened #750 "Curious key generation when using Guid keys"
I'm using  `ReplaceDefaultEntities<Guid>()` ... and curious about how key generation is working.

There's something a bit fishy about the keys in my [OpenIddictAuthorizations] table - they all end the same! I'm not sure it's a big deal, but it is a bit odd. Or, maybe I've just been very lucky and should buy a lottery ticket.

![image](https://user-images.githubusercontent.com/1035220/59964922-5bd8

[2019-06-23 09:24] kinosang commented on #750
https://en.wikipedia.org/wiki/Globally_unique_identifier
https://microsoft.fandom.com/wiki/Globally_Unique_Identifier

the final 7 octets are a 56-bit host ID in the form specified by the address family

[2019-06-26 02:15] courtenayparserr opened #751 "Getting a refresh token for offline access"
I'm busy using the authorization sample to make requests to an authorized endpoint.

Of course these tokens expire and so I get:

![image](https://user-images.githubusercontent.com/24819057/60145993-2b4c6580-980b-11e9-90ef-7f0f7eda5f46.png)

How do i setup the authorizationcontroller to accept a refresh request?
How do I allow offlineaccess to occur? I've done the following in the startup.cs:
![im

[2019-06-27 03:02] courtenayparserr commented on #751
It is similar to this question here:

https://stackoverflow.com/questions/55282896/openiddict-code-flow-handling-access-token-expiration

[2019-06-28 17:10] kevinchalet commented on #751
Here's the client code responsible of sending the refresh token request - which is nothing more than a simple API request with a few parameters: https://github.com/openiddict/openiddict-samples/blob/dev/samples/RefreshFlow/AngularApp/src/core/auth.service.ts#L99-L119

It matches what the specification describes here: https://tools.ietf.org/html/rfc6749#section-6

That said, since you're using the

[2019-07-02 12:44] binq1000 opened #752 "AllowHybridFlow not available."
I'm trying to create a application that uses "code id_token" as response type.
Even if i specify that it should allow all 5 Flows and a custom flow that takes those response types as a parameter, i still get response type not supported.

The client will be a .Net framework 4.6.1 MVC app that uses OWIN. In https://stackoverflow.com/a/33662736/7957165 @PinpointTownes says that just code is not suppo

[2019-07-02 13:22] kevinchalet commented on #752
The hybrid flow is available when both the code and implicit flows are enabled (using `AllowAuthorizationCodeFlow()` and `AllowImplicitFlow()`). Did you do that?

[2019-07-03 07:25] binq1000 commented on #752
Hey very sorry, it seems that the 'Unsupported response type' error came from the own code in my authorize method.

I already tried it with both enabled, but the problem was in my own code.

[2019-07-03 07:25] #752 closed, assigned to nobody

[2019-07-03 09:23] lucazoffoli opened #753 "Database don't support datetimeoffset type"
Hi,
My database don't support DateTimeOffset, so I create table OpenIddictTokens with CreationDate and ExpirationDate as DateTime.
Is Possible override a OpenIddictTokenStore to use DateTime instead of DateTimeOffset?
Other solutions? (I can't upgrade my database...)

[2019-07-05 20:55] jeremycook commented on #753
@lucazoffoli As a random passerby, I'm curious what database and version of said database are you using? DateTimeOffset has been around since SQL Server 2008.

[2019-07-06 08:03] lucazoffoli commented on #753
@jeremycook Unfortunately sql server 2005...

[2019-07-06 13:29] jeremycook commented on #753
@lucazoffoli is it due to 3rd party hosting or are you hosting on premises?

If you are on prem I would recommend standing up SQL Server Express. It would likely be powerful enough to cover your needs as an auth server database, is free to use and totally legal to use for any purpose. The main limitations of Express are memory footprint and database file size.

If you're using 3rd party hosting th

[2019-07-08 18:14] kevinchalet commented on #753
I completely agree with @jeremycook 😄

That said, if you absolutely can't migrate to a different host, you could copy the EF Core stores and models and update them to use `DateTime` instead of `DateTimeOffset`. It's trivial and that's what we do in the MongoDB stores (to ensure we have the best BSON representation possible for dates):

  - https://github.com/openiddict/openiddict-core/blob/dev/src

[2019-07-10 07:39] lucazoffoli commented on #753
Ok, thanks for your replies. :)
@jeremycook
@PinpointTownes

[2019-07-10 07:39] #753 closed, assigned to nobody

[2019-07-11 05:52] tapos007 opened #754 "OpenIdConnectRequest request how to add parameter"
my requirement is i need to add device id, device token and lat lon in request for token endpoint . how can i add this 3 field in this request class. I extend this class but then all others property not working

[2019-07-11 09:53] kevinchalet commented on #754
Answered here: https://stackoverflow.com/questions/56970097/openiddict-asp-net-core-openidconnectrequest-parameter

[2019-07-11 09:53] #754 closed, assigned to nobody

[2019-07-24 09:27] binq1000 opened #755 "Using an ECC certificate for signing the keys"
When adding a ECC certificate with AddSigningCertificate, it will give a NotSupportedException. Would it be possible to add support for ECC certificates and maybe add some documentation regarding this?

[2019-07-24 10:52] kevinchalet commented on #755
What's the exact exception? Are you using OpenIddict on .NET Framework? If so, what version?

[2019-07-24 11:54] binq1000 commented on #755
Using OpenIddict with .NET core 2.2

Retrieving the Certificate with:
private X509Certificate2 RetrieveCertificate()
        {
            X509Store store = new X509Store(StoreName.My, StoreLocation.LocalMachine);
            store.Open(OpenFlags.ReadOnly);

            var certificates = store.Certificates.Find(
                X509FindType.FindBySubjectDistinguishedName,
                "CN=subj

[2019-07-24 12:25] kevinchalet commented on #755
Oh yeah, that's due to IdentityModel, that still doesn't support X.509 EC certificates.

To work around this limitation, you can do something like `options.AddSigningKey(new ECDsaSecurityKey(certificate.GetECDsaPrivateKey()));`, which will treat the EC key as a raw key (i.e no `x5c/t` will be returned by the JWKS endpojnt).

@BrentSchmaltz is EC certificates support on your radar?

[2019-07-24 13:25] binq1000 commented on #755
Got it working with the code you provided, first i got an exception about Keyset not found, but that was simply because Visual studio wasn't running in Administrator mode.

Still interested in the answer from brent, so if you don't mind i'll leave it open until he responded.

[2019-07-25 07:55] binq1000 commented on #755
Hey, I tried running a client (should have probably done this before) and got the following error now:

fail: Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectHandler[17]
      Exception occurred while processing message.
Microsoft.IdentityModel.Tokens.SecurityTokenSignatureKeyNotFoundException: IDX10501: Signature validation failed. Unable to match keys:
kid: 'GY2GC-QE6RHPHRP-3FBAIC

[2019-07-29 08:21] binq1000 commented on #755
@PinpointTownes any update?
Note: The issue reference i made was on the wrong IdentityModel.....

I think i found the problem that i had.
I had to add:
TokenValidationParameters = new TokenValidationParameters
                    {
                        IssuerSigningKey = new ECDsaSecurityKey(RetrieveCertificate().GetECDsaPublicKey()),
                    },

To the client application, this was

[2019-07-29 13:26] kevinchalet commented on #755
What `Microsoft.IdentityModel.Tokens` version do you use? EC keys resolution support in `JsonWebKeySet` is rather recent and you need a fairly recent version for discovery to work correctly with EC keys (IIRC, 5.5.0 or newer).

[2019-07-29 15:18] binq1000 commented on #755
It seems we're using 5.4.0, will updating it to 5.5 make it possible to leave it up to discovery to get the token?

Edit: After updating the Client to use 5.5.0 it indeed does not need to be specified explicitly again.

[2019-07-29 15:39] #755 closed, assigned to nobody

[2019-07-30 17:08] brentschmaltz commented on #755
@PinpointTownes @binq1000 I guess the answer to if we support EC is yes :-).
all good now?

[2019-07-30 17:10] kevinchalet commented on #755
@brentschmaltz actually, EC support is missing in `X509SecurityKey`, hence my question: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel.Tokens/X509SecurityKey.cs#L95

See the exception mentioned earlier: `PrivateKey` will throw an exception for EC certificates.

[2019-08-01 11:48] talhumy opened #756 "Support Different Refresh Token & Access Token Lifetime For Different Clients"
Hello,
Can I set different token expiration for different clients?

[2019-08-05 23:05] kevinchalet commented on #756
Sure: https://stackoverflow.com/questions/42442109/is-there-a-way-to-have-different-ticket-expiry-lengths-in-openiddict

[code]

[2019-08-05 23:05] #751 closed, assigned to nobody

[2019-08-05 23:06] kevinchalet commented on #750
Yeah, that's an EF Core/SQL Server thing, not something specific to OpenIddict 😃

[2019-08-05 23:06] #750 closed, assigned to nobody

[2019-08-05 23:06] #748 closed, assigned to nobody

[2019-08-06 08:05] talhumy commented on #756
Thank you so much :-)

[2019-08-09 13:08] D1mitry opened #757 "Refresh Flow with Guid for key of Identity entities"
Hi,
I used the same approach as described in example here https://github.com/openiddict/openiddict-samples/tree/dev/samples/RefreshFlow, but instead of string key of Identity entity I have Guid:

    public class ApplicationDbContext : IdentityDbContext<ApplicationUser, IdentityRole<Guid>, Guid, IdentityUserClaim<Guid>, ApplicationUserRole, IdentityUserLogin<Guid>, IdentityRoleClaim<Guid>, Identit

[2019-08-09 13:27] kevinchalet commented on #757
Hey,

Did you re-create the tables after switching to `Guid` keys?

[2019-08-09 13:35] D1mitry commented on #757
Yes, tables has been created with a `Guid`, I have CRUP operations for users which are working fine

[2019-08-09 13:37] kevinchalet commented on #757
Still, the exception clearly indicates that the expected type (Guid) was not the type found in the DB (string):

You should double-check the table definition, just to be sure.

[2019-08-09 13:43] D1mitry commented on #757
Ok, got it now. I thought that Users tables should be just with Guid identifiers. So  OpenIdDict tables should be recreated with Guid as identifiers. After this change it works as expected.
Thanks.

[2019-08-09 14:22] kevinchalet commented on #757
Good to hear it's working properly!

[2019-08-09 14:22] #757 closed, assigned to nobody

[2019-08-16 17:43] kevinchalet opened #759 "Consider using Darc to manage dependencies"
Documentation: https://github.com/dotnet/arcade/blob/master/Documentation/Darc.md

The only pain point is that Darc seems to require authentication for some of its core features. We'll need to see if it also applies to public NuGet/MyGet repositories.

[2019-08-16 17:48] kevinchalet opened #760 "Reintroduce logout, introspection, revocation and userinfo support"
As part of the initial 3.0 batch, only the authorization, discovery, JWKS and token endpoints were implemented. We'll need to progressively bring back the other endpoints by adding server handlers for each of them.

[2019-08-16 17:58] kevinchalet opened #761 "Add unit tests for the new OpenIddict.Server, OpenIddict.Server.AspNetCore, OpenIddict.Server.Owin and OpenIddict.Server.DataProtection handlers"
Starting with 3.0, most of the server logic is now contained in implementations of `IOpenIddictServerHandler<TContext>`, that can be easily unit-tested without using `TestServer`. As part of the 3.0 work, we need to add unit tests for all these handlers.

[2019-08-16 18:01] kevinchalet opened #762 "Port the functional server tests from ASOS and OpenIddict 2.x"
Both ASOS and OpenIddict have a ton of functional tests that rely on ASP.NET Core's `TestServer`. As part of the 3.0 effort, we'll need to progressively bring them back:

  - ASOS tests: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/tree/dev/test/AspNet.Security.OpenIdConnect.Server.Tests

  - OpenIddict tests: https://github.com/openiddict/openiddict-core/tree/2.0.0/test/

[2019-08-16 18:02] kevinchalet opened #763 "Reintroduce OpenIddict.Validation"
The validation middleware was temporarily removed from the repository. We'll need to bring it back and update it to adopt the same event-based infrastructure as `OpenIddict.Server`.

As part of this task, we'll need to introduce `OpenIddict.Validation.AspNetCore` and `OpenIddict.Validation.Owin`.

[2019-08-16 18:09] kevinchalet opened #764 "Convert OpenIddict, OpenIddict.AspNetCore and OpenIddict.Owin to real meta-packages"
These packages are currently not real meta-packages as they include an empty .NET assembly. We should fix that to avoid having to reference and deploy unnecessary assemblies.

[2019-08-16 18:25] kevinchalet opened #765 "Update OpenIddict.EntityFramework to use 6.3.0-preview8 and add a netstandard21 TFM"
Let's update to EF 6.3 and make our stores compatible with .NET Standard 2.1: https://www.nuget.org/packages/EntityFramework/6.3.0-preview8-19405-04

Note: don't replace the existing `net461` TFM by `netstandard21`, as we want to keep it compatible with .NET Framework.

[2019-08-16 18:56] kevinchalet opened #766 "Re-implement authorizations storage and reference tokens support"
These features were temporarily removed from the first 3.0 batch as they were quite massive. We'll need to re-introduce them.

[2019-08-16 19:14] #727 closed, assigned to nobody

[2019-08-16 19:15] kevinchalet commented on #722
Wooops, looks like I missed this thread. Do you still need help?

[2019-08-16 19:15] #722 closed, assigned to nobody

[2019-08-16 19:16] #728 closed, assigned to nobody

[2019-08-16 19:16] #733 closed, assigned to nobody

[2019-08-16 19:16] #735 closed, assigned to nobody

[2019-08-16 19:16] #746 closed, assigned to nobody

[2019-08-16 19:17] #756 closed, assigned to nobody

[2019-08-16 19:23] #749 closed, assigned to nobody

[2019-08-16 20:56] kevinchalet commented on #765
This was done as part of https://github.com/openiddict/openiddict-core/pull/758.

[2019-08-16 20:56] #765 closed, assigned to kevinchalet

[2019-08-16 21:06] kevinchalet opened #767 "Configure AppVeyor to push artifacts to MyGet"
Note: Arcade requires a very specific format for build identifiers, which doesn't seem to be directly supported by AppVeyor.

https://github.com/dotnet/arcade/blob/master/Documentation/CorePackages/Versioning.md#build-kind

[2019-08-16 21:12] kevinchalet opened #768 "Replace ValueTask<ImmutableArray<T>> by IAsyncEnumerable<T>"
Note: on .NET Framework/.NET Standard 2.0, using `IAsyncEnumerable<T>` requires adding the `Microsoft.Bcl.AsyncInterfaces` package, which is now referenced by `OpenIddict.Abstractions`.

[2019-08-17 13:49] kevinchalet opened #769 "Add per-application PKCE enforcement"
With https://github.com/openiddict/openiddict-core/pull/717, we introduced the ability to enforce PKCE at the global level (i.e for all applications). Feedback from selected users indicated this wasn't granular enough, so we're going to replace that by a per-application switch.

[2019-08-17 14:44] #726 closed, assigned to kevinchalet

[2019-08-17 15:12] kevinchalet opened #771 "Remove the CryptoHelper reference from OpenIddict.Core"
As part of 3.0, we'll need to remove the dependency `OpenIddict.Core` has on `CryptoHelper` (used to generate client secret hashes and validate client secrets sent in introspection/token/revocation requests).

More info: https://github.com/henkmollema/CryptoHelper/issues/22

[2019-08-17 15:28] kevinchalet opened #772 "Consider replacing Newtonsoft.Json by System.Text.Json"
JSON.NET is used in many places in OpenIddict (e.g in the stores, in the OIDC primitives, in the server handlers), so it may not be a trivial task.

[2019-08-17 15:41] kevinchalet commented on #741
Would you be interested in submitting a PR to enable it?

[2019-08-17 23:03] kevinchalet commented on #741
Looks like we got that for free when moving to Arcade 😄

[2019-08-17 23:03] #741 closed, assigned to kevinchalet

[2019-08-19 18:14] kevinchalet opened #774 "Port the AspNet.Security.OpenIdConnect.Extensions tests"
In 1.x/2.x, OpenIddict relied on a bunch of extensions provided by ASOS as part of the `AspNet.Security.OpenIdConnect.Extensions` package.

When decoupling OpenIddict from ASP.NET Core, most of these extensions have been updated to act on `ClaimsPrincipal` instead of `AuthenticationTicket` (which means what used to be stored in authentication properties is now stored as claims)

We'll need to port

[2019-08-19 18:19] kevinchalet commented on #736
FYI, the first 3.0 bits were pushed to the repository.

If you're interested in contributing, there are many "help wanted" tickets waiting for you: https://github.com/openiddict/openiddict-core/labels/help%20wanted :smile:

Thanks!

[2019-08-20 02:37] Krangth commented on #722
Unfortunately, I never resolved the issue and had to move on. I felt that the problem with with Azure AD anyway. Perhaps something has changed on their end. I do not think I'll be able to allocate any time to reviewing this problem any time soon even though you are ready :(
I'll post again if I can get back into it and still have an issue.

[2019-08-20 13:08] marc-mueller commented on #736
Hi @PinpointTownes

Great to see the new version is evolving. As mentioned in your comments above, we should still be able to use openiddict-core as a replacement for ASOS. Since we have a pretty large solution based on ASOS, we'd like to start initial migration as soon as possible. Is there any detailed information on how to replace ASOS with the openiddict-core in bare mode?

Thanks,
Marc

[2019-08-20 13:12] kevinchalet commented on #736
Hey @marc-mueller,

Nope, it's too early for that, as there are still many things to re-implement. Documentation is pretty much at the end of the todo-list. If it's important for you, consider contributing (there are many tasks you could help with) or sponsoring the project, so I can dedicate more time to it 😄

[2019-08-20 13:21] marc-mueller commented on #736
Thanks for your feedback, I almost expected this answer ;-) We can definitely contribute to this project, since this update is important for us. What we are currently looking for is something like an impact analysis for our code which is based on ASOS. But currently, we do not know where to start with this analysis. Is there any sample for bare mode planned? any roadmap? We basically need a starti

[2019-08-20 13:43] kevinchalet commented on #736
Well, it's something you'll have to figure out yourselves (unless your project is OSS?). But the main promise remains: everything that was possible with ASOS will still be possible with OpenIddict's bare mode. Every report indicating something cannot be done with 3.0 will be treated as a regression and progressively addressed.

There'll be differences, tho'. The most notable one is the event model

[2019-08-22 13:45] #768 closed, assigned to kevinchalet

[2019-08-22 15:19] kevinchalet opened #776 "Use X509KeyStorageFlags.EphemeralKeySet on supported platforms"
https://github.com/openiddict/openiddict-core/blob/2113b573ad3551448385d69983e1e1aa8fd0f477/src/OpenIddict.Server/OpenIddictServerBuilder.cs#L412-L414

https://github.com/openiddict/openiddict-core/blob/2113b573ad3551448385d69983e1e1aa8fd0f477/src/OpenIddict.Server/OpenIddictServerBuilder.cs#L857-L859

[2019-08-22 16:33] #776 closed, assigned to kevinchalet

[2019-08-28 10:36] kowalski77 commented on #509
Thanks! that solved my problem.

[2019-09-05 22:20] kevinchalet opened #782 "Remove the claims conversion logic and directly set SecurityTokenDescriptor.Subject"
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1193

[2019-09-06 10:30] GuidoNeele opened #783 "Disable refresh token revocation"
We are having some trouble with our iPhone apps where users are being logged out because the access token couldn't be refreshed. The problem seems to be related to the racing condition that was mentioned in issue https://github.com/openiddict/openiddict-core/issues/462#issuecomment-330270543.

Currently we are using rolling tokens but I would like to stop with those to keep the refresh tokens aliv

[2019-09-06 11:17] kevinchalet commented on #783
The option mentioned in the XML docs is `DisableTokenStorage()`, that will tell OpenIddict to not store any token in the database. There's currently no option that would do just what you're looking for.

The relevant code is here: https://github.com/openiddict/openiddict-core/blob/ab9b77a8bb1907c2013c802d0cd44c418d79979e/src/OpenIddict.Server/Internal/OpenIddictServerProvider.cs#L140-L203

[2019-09-06 11:35] kevinchalet commented on #736
A quick update to say I'm a bit disappointed as I haven't seen any actual contribution, even from long-time OpenIddict users.

It's unfortunate because .NET Core 3.0 is expected to officially ship in approximately 3 weeks, which is a very short window. While I'll likely have a first alpha version available for my clients by then, I strongly doubt I'll be able to dedicate more time to write blog po

[2019-09-06 11:51] GuidoNeele commented on #783
Thanks for the fast reply! Thought I had a way to give myself some time, but alas. I will turn off background fetch for the iOS app, because it looks like fetch is often triggered while opening the app resulting in two services asking for the token to be refreshed at the same time, one fails and logs out the user.

[2019-09-06 11:51] #783 closed, assigned to nobody

[2019-09-06 11:58] kevinchalet commented on #783
It’s worth noting that all the features that rely on token storage haven’t been ported to the new 3.0 design yet so it’s possible we may have a way to do that in 3.0 (e.g by removing the event handler responsible of revoking previous tokens).

On a related note, I’m desperately looking for code contributors for 3.0. If you’re interested, let me know. You’ll find some details here: https://github.c

[2019-09-06 12:49] GuidoNeele commented on #783
To be honest I feel I have too little knowledge of the OpenId protocol and security protocols in general to contribute code to the project. I never really looked into the inner workings of it, until today.

[2019-09-06 12:53] kevinchalet commented on #783
Well, the two most important tasks consist in adding unit tests for the new `IOpenIddictServerEventHandler` implementations and porting existing functional tests from previous versions, which shouldn't require any particular security knowledge, and can easily be split if you don't want to/can't contribute to the entire thing 😄

https://github.com/openiddict/openiddict-core/issues/761
https://githu

[2019-09-06 13:04] GuidoNeele commented on #783
I can't promise you anything but I'll have a look this weekend.

[2019-09-08 12:26] #782 closed, assigned to kevinchalet

[2019-09-09 00:46] kevinchalet opened #786 "Add RSA Probabilistic Signature Scheme (PS256/PS384/PS512) support"
PSS RSA is now supported by IdentityModel. We should add native support in `OpenIddictServerBuilder` and in the discovery endpoints ~~and determine whether it should become the new default~~.

[2019-09-09 01:48] #786 closed, assigned to kevinchalet

[2019-09-09 15:56] #771 closed, assigned to kevinchalet

[2019-09-09 16:18] kevinchalet commented on #761
**OpenIddict.Server**:

  - https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.Server/OpenIddictServerHandlers.cs
  - https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.Server/OpenIddictServerHandlers.Authentication.cs
  - https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.Server/OpenIddictServerHandlers.Discovery.cs
  - https://github.com/o

[2019-09-09 16:44] kevinchalet opened #789 "Move to BouncyCastle 2.0 when available"
`OpenIddict.Core` now references `Portable.BouncyCastle` on `netstandard2.0`, which was necessary to work around the lack of PBKDF2 w/ SHA256 and SHA512 support on `netstandard2.0`-only platforms (which includes .NET Framework 4.6.1, 4.6.2, 4.7 and 4.7.1).

The "official" `BouncyCastle` package should be updated to support .NET Standard 2.0 at some point, as part of the 1.9.0 release. Once availab

[2019-09-10 12:40] #760 closed, assigned to nobody

[2019-09-11 14:29] xperiandri commented on #759
What is the benefit of it?
Is there any introductory video about Darc?

[2019-09-11 14:51] kevinchalet commented on #759
The main advantage is the impressive dependencies flow mechanism, that allows sending changes subscriptions: when a package (or a whole set of packages) is updated, a Microsoft-operated bot called Maestro automatically opens a PR with the necessary changes in each repository.

It's also a very convenient way for Arcade to auto-update itself, as Maestro also creates PRs when Arcade itself is update

[2019-09-12 16:09] #764 closed, assigned to kevinchalet

[2019-09-12 16:10] kevinchalet commented on #767
Done as part of https://github.com/openiddict/openiddict-core/pull/792.

[2019-09-12 16:10] #767 closed, assigned to kevinchalet

[2019-09-15 13:05] uttom-akash commented on #578
in dotnetcore  web api ,it works well when we use this combination

                      signInManager.PasswordSignInAsync();
                      Response.Cookies.Delete(".AspNetCore.Identity.Application");

[2019-09-18 12:58] anorborg commented on #759
(Hey you considered [dependabot](https://dependabot.com)?. Acquired by github and now free.

[2019-09-19 14:15] kevinchalet commented on #759
@anorborg very good idea! Do you know whether it now supports dependencies versions defined in external `.props` files?

https://github.com/openiddict/openiddict-core/blob/dev/eng/Versions.props

[2019-09-19 16:12] joaomsa commented on #759
Dependabot does support versions specified in prop files
https://github.com/dependabot/dependabot-core/issues/541#issuecomment-423818311

[2019-09-24 01:56] kevinchalet opened #802 "Investigate query issues with Entity Framework Core"
https://github.com/PwdLess/Cierge/issues/43

[2019-09-25 23:38] #766 closed, assigned to kevinchalet

[2019-09-27 16:30] kevinchalet opened #806 "Update OpenIddict.Validation and OpenIddict.Validation.SystemNetHttp to support introspection"
https://github.com/aspnet-contrib/AspNet.Security.OAuth.Extensions/tree/dev/src/AspNet.Security.OAuth.Introspection

[2019-09-27 16:41] kevinchalet opened #807 "Add unit tests for the new OpenIddict.Validation, OpenIddict.Validation.AspNetCore, OpenIddict.Validation.Owin, OpenIddict.Validation.DataProtection and OpenIddict.Validation.ServerIntegration handlers"
Starting with 3.0, most of the validation logic is now contained in implementations of `IOpenIddictValidationHandler<TContext>`, that can be easily unit-tested without using `TestServer`. As part of the 3.0 work, we need to add unit tests for all these handlers.

[2019-09-27 16:44] kevinchalet opened #808 "Port the functional validation tests from aspnet-contrib and OpenIddict 2.x"
Both the aspnet-contrib validation/introspection handlers and OpenIddict have a ton of functional tests that rely on ASP.NET Core's `TestServer`. As part of the 3.0 effort, we'll need to progressively bring them back:

  - aspnet-contrib tests: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Extensions/tree/dev/test/AspNet.Security.OAuth.Introspection.Tests and https://github.com/aspnet-co

[2019-09-27 16:56] #763 closed, assigned to kevinchalet

[2019-09-27 18:22] #740 closed, assigned to nobody

[2019-09-28 17:12] kevinchalet opened #809 "Make the caching of token validation parameters configurable"
https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.Validation.SystemNetHttp/OpenIddictValidationSystemNetHttpHandlers.cs#L290

[2019-09-29 12:02] kevinchalet opened #810 "Test the validation handler with other standard-compliant OAuth 2.0/OpenID Connect servers"
Things to test:
  - OIDC provider discovery.
  - Local token validation.
  - Introspection.

[2019-09-29 15:58] gustavdw commented on #807
I've started on this one, working on the validation handlers at the moment.

[2019-09-29 16:14] kevinchalet commented on #807
@gustavdw excellent, thanks for contributing! 👏

[2019-09-30 10:10] noizecamp opened #811 "ResourceController message API is always returning Bad Request for me"
I am trying to use MVC Client and Server sample applications. Everything works fine until Message API endpoint is invoked. User is always null for me, hence throwing bad request. I am still a bit new to this OIDC implementation so any help would be grateful.

P.S. I tried decorating the method with Authorize attribute but did not work as well.

var user = await _userManager.GetUserAsync(User);

[2019-09-30 12:53] kevinchalet commented on #811
What OpenIddict version do you use?

[2019-09-30 14:32] noizecamp commented on #811
Version 3.0.0 Alpha 1 I suppose. I did not do much. Just cloned the dev branch and ran Mvc.Server and Mvc.Client to test out the flow. Everything was okay till I reach the following point but clicking on "Query the resource controller" gives me the bad request.

![image](https://user-images.githubusercontent.com/11703462/65888371-fe8f8780-e3d1-11e9-9291-70e178d0b453.png)

[2019-09-30 14:34] kevinchalet commented on #811
The validation handler was reintroduced very recently (less than 3 days ago). Are you sure your clone has the latest commits?

[2019-09-30 14:54] noizecamp commented on #811
I pulled the latest codes and that fixed it. Thank you!

[2019-09-30 14:54] #811 closed, assigned to nobody

[2019-09-30 19:27] kevinchalet opened #814 "Backport bug fixes to OpenIddict 2.x"
- https://github.com/openiddict/openiddict-core/commit/32a51c026bb95bbb420b217fd02e09da7cd7d8b1
  - https://github.com/openiddict/openiddict-core/commit/f6aa21b46ad29b57181df2a2720e5afc92c06859
  - https://github.com/openiddict/openiddict-core/commit/4242e43638ffec34a6d7cef28d599ed9836affef
  - https://github.com/openiddict/openiddict-core/commit/dddf7c7186964fa5fe40721455902eb04ff04dc6

[2019-10-03 16:05] kevinchalet opened #817 "Port the AspNet.Security.OpenIdConnect.Primitives tests"
As part of 3.0, we'll need to port the ASOS primitives tests to OpenIddict: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/tree/dev/test/AspNet.Security.OpenIdConnect.Primitives.Tests

The new primitives live here: https://github.com/openiddict/openiddict-core/tree/dev/src/OpenIddict.Abstractions/Primitives

Note: a few tests will need to be added to test the new `TryGetPar

[2019-10-05 00:52] kevinchalet commented on #736
Multiple customers informed me they were interested in using OpenIddict 3.0 in ASP.NET Core 2.1 and 2.2 applications. While 2.2 will reach end of support in December, supporting ASP.NET Core and .NET Core 2.1 would be particularly useful, as .NET Framework applications that can't move to .NET Core could stay on ASP.NET Core 2.1 (that will be supported indefinitely) while still being able to use th

[2019-10-07 16:18] #802 closed, assigned to kevinchalet

[2019-10-08 17:02] onthegoldenpath opened #823 "SignOut() fails to redirect to the specified post_logout_redirect_uri if request caching is disabled"
[code]

When request caching via `OpenIddictServerOptions.EnableRequestCaching()` is enabled, initiating a logout from RP goes to url:
`/connect/logout?request_id=theRequestId`.
**Expected behavior** - logout user, redirect to RP;
**Result** - logout successful, redirect successful

If request caching is **not** enabled, initiating a logout from RP goes to url:
 `/connect/logout?post_logout_redire

[2019-10-08 17:12] kevinchalet commented on #823
[code]

Looks like the `PostLogoutRedirectUri` parameter is not correctly named (it should be `post_logout_redirect_uri`). If the `post_logout_redirect_uri` parameter is not present, OpenIddict simply returns an empty response, which is likely what you're seeing.

[2019-10-08 17:45] onthegoldenpath commented on #823
@PinpointTownes
Yep, That was it. Thanks! Changing the name resolved the issue.
Closing.

[2019-10-08 17:45] #823 closed, assigned to nobody

[2019-10-09 11:54] kevinchalet opened #824 "Reintroduce token generation/validation log traces"

[2019-10-09 14:55] kevinchalet commented on #736
I'm working on a patch for OpenIddict 2.0 that would allow using it on 3.0 - even the EF Core stores - and that would backport a few fixes from 3.0.  Let me know if you're interested in giving it a try.

[2019-10-09 15:02] kevinchalet commented on #807
@gustavdw don't hesitate to ping me if you have any question or need help.

[2019-10-09 15:22] kevinchalet commented on #824
https://github.com/openiddict/openiddict-core/commit/b80244cf9282d2c2044cf5c94b76e56c13e85b2d

[2019-10-09 15:22] #824 closed, assigned to kevinchalet

[2019-10-10 01:45] kevinchalet opened #825 "Update the validation handler to support returning the error/error_description/error_uri as part of the WWW-Authenticate header"
https://github.com/aspnet-contrib/AspNet.Security.OAuth.Extensions/blob/dev/src/AspNet.Security.OAuth.Validation/OAuthValidationHandler.cs#L228-L320

[2019-10-10 01:48] kevinchalet opened #826 "Update the validation ASP.NET Core handler to use a different error for forbidden responses"
https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.Server.AspNetCore/OpenIddictServerAspNetCoreHandler.cs#L182-L183

[2019-10-13 06:54] NicolasDorier opened #828 "Authenticated request has an incorret RoleClaimType"
I am using OpenIddict2.0.

My `UserManager` create a principal when it treat the OpenIdRequest, this `UserManager` is using the ClaimType `role`.

Then, when the user is using the token for accessing a resource, the `Identity.RoleClaimType` is set to `http://schemas.microsoft.com/ws/2008/06/identity/claims/role` instead of `role`.
The claim `role` is included in the principal, but because it is no

[2019-10-13 07:00] NicolasDorier opened #829 "Identity.AuthenticationType is not OpenIddictValidationDefaults.AuthenticationScheme"
I made a bunch of AuthorizationHandlers each handling their special type of identity.

For example, I can use this for the cookie authorization handler. (Where `Policies.CookieAuthentication` is the name of my authentication Scheme, `Identity.Application`)

[code]

However, for openiddict I needed to do

[code]
Which is different from `OpenIddictValidationDefaults.AuthenticationScheme`.

Is it nor

[2019-10-13 10:59] kevinchalet commented on #829
Yes, it is. The authentication type is typically not stored in JWT tokens (unlike Data Protection tokens) so it's never preserved between the moment you create the principal and the moment you consume it. When deserializing a JWT token, the authentication type is arbitrarily set by IdentityModel to `AuthenticationTypes.Federation`, which is the default type: https://github.com/AzureAD/azure-active

[2019-10-13 11:02] kevinchalet commented on #828
Same root cause as https://github.com/openiddict/openiddict-core/issues/829: the claim types are not stored in JWT tokens, so you must set them yourself.

In 2.0, the MSFT JWT handler is what validates JWT tokens so you'll have to configure it to use different values. Here's how you can do that: https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.Validation/OpenIddictValidationOp

[2019-10-13 11:06] kevinchalet commented on #829
Note: if you don't like the `AuthenticationTypes.Federation` value, you can override it in the token validation parameters, in either the MSFT JWT handler (2.0) or the OpenIddict validation handler (3.0).

[2019-10-13 13:18] NicolasDorier commented on #829
I'll leave it at Federation, if it is not a bug then all is fine

[2019-10-13 13:18] #829 closed, assigned to nobody

[2019-10-13 13:19] NicolasDorier commented on #828
Awesome, this make sense thanks!

[2019-10-13 13:19] #828 closed, assigned to nobody

[2019-10-14 20:47] refactoredmarc commented on #736
What version of OpenIdDict is necessary for using .NET Core 3.0?

[2019-10-15 01:40] kevinchalet commented on #736
@refactoredmarc either the preview bits of `2.0.1` (e.g `2.0.1-preview1-1298`) or the nightly builds of `3.0.0`.

[2019-10-15 03:35] phonglt7 opened #830 "AccessFailedCount on Master Slave cluster"
Hi, we have an issue happened after the database move to cluster.
We have a writer database and a reader database.

After moving, the AccessFailedCount didn't increase anymore after a failed attempt.

Here is the debug output we got
<img width="1675" alt="Untitled" src="https://user-images.githubusercontent.com/46190930/66798013-d6a63500-ef36-11e9-9014-beac1bd97e93.png">

As we observe, it happene

[2019-10-15 03:38] kevinchalet commented on #830
Hey,

It's not clear to me how your question is related to OpenIddict. For general questions about Identity, you should go to https://github.com/aspnet/AspNetCore/issues and post a ticket there, so that the ASP.NET team can take a look at your problem.

[2019-10-15 08:38] toralux commented on #736
@PinpointTownes Where is the 2.0.1 preview-package? Don't find it in nuget and only 3.0.0 packages in myget

[2019-10-15 11:34] kevinchalet commented on #736
@toralux it's on the OpenIddict MyGet feed, whose address is mentioned in the README.

[2019-10-15 11:35] #830 closed, assigned to nobody

[2019-10-16 07:38] phonglt7 commented on #830
The reason is that the original code which is using OpenIddict worked fine for the Single database.
However it didn't on Cluster, then I assume that it's must be some kind of config of OpenIddict.
I wonder if you ever applied OpenIddict on the cluster database?

[2019-10-16 07:53] kinosang commented on #830
@phonglt7 `UserManager.AccessFailedAsync` is part of AspNetCore, not OpenIddict. Please use https://github.com/aspnet/AspNetCore/issues to report your problem.

[2019-10-16 12:09] refactoredmarc commented on #736
Has anyone else encountered the following problem? I am trying to migrate a project to .NET Core 3.0 and am getting the following exception: "Method not found: 'Microsoft.EntityFrameworkCore.Metadata.Builders.IndexBuilder Microsoft.EntityFrameworkCore.Metadata.Builders.EntityTypeBuilder`1.HasIndex(System.Linq.Expressions.Expression`1<System.Func`2<System.__Canon,System.Object>>)'."

This is happen

[2019-10-16 12:13] kevinchalet commented on #736
@refactoredmarc what version do you use?

[2019-10-16 13:18] yogster commented on #736
@refactoredmarc @PinpointTownes I had the same problem when migrating to EF Core 3.0 but using OpenIddict 2.0.0. Upgrading OpenIddict to 2.0.1-preview1-1298 stops the issue.

I'm assuming it's because OpenIddict 2.0.0 still uses EF Core 2.x pakages, as suggested [here](https://github.com/aspnet/AspNetCore/issues/8467#issuecomment-538217516).

[2019-10-16 13:23] kevinchalet commented on #736
Then yes, it's expected: the OpenIddict 2.0.0 bits rely on APIs that were impacted by breaking changes in EF Core 3.0.

The OpenIddict 2.0.1 patch will still reference EF Core 2.x, but I removed the problematic calls so that things don't break when using EF Core 3.x.

[2019-10-16 13:26] yogster commented on #736
Thanks @PinpointTownes for all your hard work with OpenIddict and sorry you're having trouble finding contributors for 3.0.

Where's the best place to get notified when 2.0.1 is ready?

[2019-10-16 14:22] yogster commented on #736
See [the comment above](https://github.com/openiddict/openiddict-core/issues/736#issuecomment-542104156) and [the answer directly below it](https://github.com/openiddict/openiddict-core/issues/736#issuecomment-542168528).

You'll need to add the MyGet feed (https://www.myget.org/F/openiddict/api/v3/index.json) to your NuGet.config

[2019-10-17 10:59] heeyahnuh commented on #736
Please how can I fine the 2.0.1-preview ?

[2019-10-17 11:02] heeyahnuh commented on #736
The 2.0.1 package is missing on nuget, How can I find it ?

[2019-10-17 12:02] heeyahnuh commented on #736
Thanks, I am good to go now

[2019-10-17 16:02] kevinchalet commented on #736
The 2.0.1 packages are now on NuGet.org. You can find the changelog here: https://github.com/openiddict/openiddict-core/releases/tag/2.0.1

[2019-10-17 16:18] #814 closed, assigned to kevinchalet

[2019-10-17 16:19] kevinchalet commented on #814
https://github.com/openiddict/openiddict-core/releases/tag/2.0.1

[2019-10-17 16:19] kevinchalet commented on #802
Note: the fix was also backported to 2.0.1: https://github.com/openiddict/openiddict-core/releases/tag/2.0.1

[2019-10-17 18:26] kevinchalet commented on #726
FYI: the fix was backported to 2.x as part of the 2.0.1 release.

[2019-10-17 18:26] kevinchalet commented on #698
Note: as part of 2.0.1 and 3.x, I removed the compiled queries from the EF Core stores, so this error should disappear when migrating your apps.

[2019-10-19 17:32] kevinchalet opened #832 "Replace the token usage claim by the standard typ header"
To determine whether a JWT token was an identity or access token, ASOS/OpenIddict 1.x/2.x relied on a special `token_usage` claim. While this worked well, recent standards recommend using the JWT `typ` header to achieve a similar purpose.

Support was added to IdentityModel and will be part of 5.6.0: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/pull/1275

[2019-10-20 12:40] hamidish opened #833 "The name 'OpenIddictValidationAspNetCoreDefaults' does not exist in the current context"
i cant find using OpenIddict.Server.AspNetCore

[2019-10-20 12:49] kevinchalet commented on #833
It's in `OpenIddict.Validation.AspNetCore`.

[2019-10-20 12:49] #833 closed, assigned to nobody

[2019-10-21 09:51] NicolasDorier opened #834 "[3.0]: Unable to track an entity of type 'BTCPayOpenIdAuthorization' because primary key property 'Id' is null"
Tests of openiddict on .net 3.0 are failing, but work well on 2.1. (we use openiddict3.0 in both case) 3.0.0-alpha1.19515.63

Entity Framework breaking change of not initializing primary keys anymore.

[code]

[2019-10-21 10:36] kevinchalet commented on #834
Looks like a breaking change in EF Core 3.0, that no longer assigns a default value for `string` and `byte[]` primary keys client-side: https://docs.microsoft.com/fr-fr/ef/core/what-is-new/ef-core-3.0/breaking-changes#string-and-byte-array-keys-are-not-client-generated-by-default

Our default "non-generic" entities are not impacted because we always manually generate the key for them (e.g: https:/

[2019-10-23 05:23] NicolasDorier commented on #834
@PinpointTownes I gave up on .net core 3.0. There is too many breaking thing (not only openiddict), will try again in .net core 3.1.

[2019-10-23 15:47] PaulCombal opened #835 "The 'offline_access' scope is not allowed."
Hello,

Forgive me if it's a basic question, but I could not find an answer to it online or in the docs.
I'm trying to generate refresh tokens for my app, but I can't get an authorization code since I'm getting the error: `invalid_request The 'offline_access' scope is not allowed.`

I'm getting this error on this URL:
`http://localhost:5001/connect/authorize?response_type=code&redirect_uri=myuri&c

[2019-10-23 15:53] kevinchalet commented on #835
Hey,

Are you sure the refresh token flow is allowed in the OpenIddict server options?
Not enabling it causes this error:

https://github.com/openiddict/openiddict-core/blob/2abdd3c3f906f9015291f4dbab6b64c6ed38f006/src/OpenIddict.Server/Internal/OpenIddictServerProvider.Authentication.cs#L175-L184

You'll also need to make sure application is granted the `OpenIddictConstants.Permissions.GrantTypes

[2019-10-24 07:47] Gillardo opened #836 "EntityFramework.Models giving warning with .NETCoreApp3.0"
If i include version 2.0.1 or even the latest 3.0.0-alpha1-1184 preview of this project, then i get the following warning, even though it all builds and works correctly

[2019-10-24 10:11] PaulCombal commented on #835
Thank you very much, I fixed the issue using this in Startup:
`options.AllowAuthorizationCodeFlow().AllowRefreshTokenFlow();`

Though, I still don't get a refresh token when I get the access token, which I would like.

Here is the code of my request to get an access token:
[code]

And using the debugger on my authorization server, I can see that the ticket I create has the scope `offline_access`.

[2019-10-24 11:41] kevinchalet commented on #836
The EF 6 package shipping with OpenIddict 2.x only supports .NET Framework >=4.6.1 so it's not meant to be used on .NET Core, tho' you shouldn't hit any particular issue.

For official .NET Core support, use the OpenIddict 3.x nightly builds, that reference EF 6.3 and are cross-compiled for both `net461` and `netstandard2.1`.

This is not the latest version. Make sure you use the new OpenIddict My

[2019-10-24 12:47] kevinchalet commented on #835
2 things that would help determine what's going on:
  - The ASP.NET Core logs, with the default log level lowered to Trace.
  - The source of `CreateTicketAsync()` to be sure there's nothing wrong there.

FWIW, the `CreateTicketAsync()` helper used in the samples proved to be too confusing so I updated the 2.0.1 samples (in the samples repo) to use a simpler and more explicit approach, similarly t

[2019-10-24 14:43] PaulCombal commented on #835
Good to know, I'll probably migrate when I will have time. After digging a little more into the issue, it is definitely a deserialization issue on my end, sorry for bothering you. I think this issue has been resolved.

Thank you so much for your help!

[2019-10-24 14:43] #835 closed, assigned to nobody

[2019-10-24 14:44] kevinchalet commented on #835
C'était avec plaisir :smile:

[2019-10-29 23:31] CryptoMinerd opened #840 "Metadata requests must be made via GET"
@PinpointTownes I think I may have a quick bug fix submission for you. I am not totally sure so forgive if I messed up how to fix it.

Symptom: When running metadata discovery against the new 3.0.0-alpha bits #758 I noticed that it will accept either a GET or POST request.

Issue: The specification says only GET is allowed. See http://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConf

[2019-10-29 23:57] kevinchalet commented on #840
Haha, nice catch and thanks for the bug report :smile:

Definitely a copy and paste issue here 😄

[2019-10-29 23:58] #840 closed, assigned to kevinchalet

[2019-10-30 00:19] kevinchalet commented on #840
Fixed (both the ASP.NET Core and OWIN hosts were impacted, because well, bad copy and paste 🤣)

[2019-10-30 16:49] #836 closed, assigned to nobody

[2019-11-02 20:36] #374 closed, assigned to kevinchalet

[2019-11-02 20:39] kevinchalet commented on #374
Now that the device grant type was officially adopted (in August 2019), its addition to OpenIddict can be safely considered: such support will be introduced in 3.0 and be available for ASP.NET Core 2.1, 2.2, 3.0 and OWIN/Katana 4.0 apps.

As device codes are not limited by artificial length limits, securing the token exchange part is not really a problem, as they have enough entropy to make rate-l

[2019-11-02 20:45] #769 closed, assigned to kevinchalet

[2019-11-13 06:03] dcworldwide commented on #401
`dding modelBuilder.UseOpenIddict() to my ApplicationDbContext override works`

Is this required in latest (2.0.1)?

Is it documented in the main project readme.md? I didn't see it. It wasn't obvious in the docs either

[2019-11-13 06:06] kinosang commented on #401
@dcworldwide didn't you see `options.UseOpenIddict()` in the README.md nor the docs?

[2019-11-13 06:11] dcworldwide commented on #401
Yes I followed the readme exactly.  Migrations did not include openiddict tables. I had to use  modelBuilder.UseOpenIddict() within my model builder to solve that issue. That isn't documented on the readme.

[2019-11-22 19:36] kevinchalet opened #843 "Split authorization and logout requests caching into two distinct options"
Both the ASP.NET Core and OWIN/Katana hosts should be updated.

[2019-11-24 23:43] #843 closed, assigned to kevinchalet

[2019-11-27 12:01] IgorHrabrov commented on #817
Hello @PinpointTownes, I can help here.

[2019-11-27 12:03] kinosang commented on #817
@IgorHrabrov PRs are welcome :)

[2019-11-27 14:06] kevinchalet commented on #817
@IgorHrabrov excellent, thanks! Let us know if you need help! 👏

[2019-11-27 18:36] kevinchalet opened #846 "Update GetAcrValues()/GetResponseTypes()/GetScopes() to return values in the specified order"
While technically not wrong, returning acr values, response types or scopes in an order different than the one specified by the user is a surprising behavior. Yet, `ImmutableHashSet` doesn't respect the order of the values you give it. To fix that, we'll ~~migrate to `ImmutableSortedSet`~~ restore the previous `IEnumerable`-based signatures or return `ImmutableArray`.

[2019-11-28 14:52] #817 closed, assigned to IgorHrabrov

[2019-11-29 04:05] #846 closed, assigned to kevinchalet

[2019-11-29 05:37] #772 closed, assigned to kevinchalet

[2019-11-29 17:17] #832 closed, assigned to kevinchalet

[2019-11-29 17:36] kevinchalet commented on #774
@IgorHrabrov you did a great job with the primitives tests. Would you be interested in porting the `AspNet.Security.OpenIdConnect.Extensions` tests too? 😃

[2019-11-30 11:45] IgorHrabrov commented on #774
@PinpointTownes , yes, I can try, you can assign it to me

[2019-11-30 14:48] kevinchalet commented on #774
Thanks!

[2019-12-03 20:27] #774 closed, assigned to IgorHrabrov

[2019-12-04 08:58] Rathavithey opened #852 "If the user denies resource access, redirect to home doesn't work in client sample"
An unhandled exception occurred while processing the request.
OpenIdConnectProtocolException: Message contains error: 'access_denied', error_description: 'error_description is null', error_uri: 'error_uri is null'.
Unknown location

Exception: An error was encountered while handling the remote login.
Microsoft.AspNetCore.Authentication.RemoteAuthenticationHandler<TOptions>.HandleRequestAsync()
<im

[2019-12-04 15:58] kevinchalet commented on #852
I don't think you're using OpenIddict, to which this repository is entirely dedicated... our MVC client 3.0 sample correctly handles `access_denied` errors.

[2019-12-04 15:58] #852 closed, assigned to nobody

[2019-12-05 04:51] Rathavithey commented on #852
I am using OIDC.
And try to create a test project to connect with Identity server 4
It's okay if I accepted consent, But it's getting an error when I Don't Allow the consent.
May you can tell more details about my issue?

[2019-12-08 18:11] kevinchalet commented on #759
Closing for now, as neither Dependabot nor RenovateBot can currently help us with keeping Arcade up-to-date (which was the most compelling reason to use them).

[2019-12-08 18:11] #759 closed, assigned to nobody

[2019-12-08 18:19] kevinchalet opened #858 "Add localization support"
We'll need to:
  - Introduce new APIs to get localized versions of the application display name and scope description/display name.
  - Use `IStringLocalizer` to localize all the error messages used by OpenIddict. We'll store the resources as .resx files.

[2019-12-09 18:13] kevinchalet opened #859 "Investigate using endpoint routing in the ASP.NET Core host"
https://github.com/aspnet/AspNetCore/issues/17615

These 3 modes are currently supported by OpenIddict's ASP.NET Core 2.x and 3.x host:

  - Pass-through mode (enabled globally - per endpoint - using e.g `options.UseAspNetCore() .EnableAuthorizationEndpointPassthrough()`): in this case, OpenIddict extracts the OIDC payload, validates it and allows the rest of the ASP.NET Core pipeline to be invoke

[2019-12-09 19:08] Tratcher commented on #859
Endpoints would be for the non-pass through mode. You'd need to opt-out of endpoints for the other two.

[2019-12-09 19:15] tanveer-ali opened #860 "EnableRevocationEndpoint works with no auth"
There are 2 issues which I didn't any solution yet.
using version 2.0.1

- Using this endpoint options.EnableRevocationEndpoint("/revoke"), I created one endpoint and added some logic but the endpoint never gets hit. However, if I make a request to that endpoint providing the refresh token in the token field all works but just for that refresh token. I need to revoke all refresh tokens for that us

[2019-12-09 19:28] kevinchalet commented on #859
That's unfortunate as it's fairly unpractical for average users.

Correct me if I'm wrong but the only point of using endpoint routing is to avoid instantiating handlers that are eventually not going to handle requests that don't match the expected URL path. Couldn't you only use the "routing" part while still keeping `HandleRequestAsync()`?

Something like that (in `AuthenticationMiddleware`):

[

[2019-12-09 19:33] Tratcher commented on #859
Clever, we might be able to do something like that. You'd still need to run HandleRequestAsync for some other scenarios (Negotiate), and you'd still need a plan to handle fall-through (Skip) that still allowed other HandleRequestAsync's to run.

[2019-12-09 19:35] kevinchalet commented on #860
You'll need to create a custom event handler for `HandleRevocationRequestContext` and do that manually, as OpenIddict only revokes the received token.

I'm not able to reproduce that: if I send a revocation request without a `client_id`, it returns an error:

[code]

If the request don't specify the `client_id` (assuming the client is a confidential client), I get the expected error:

[code]

And

[2019-12-09 19:42] kevinchalet commented on #859
Excellent, good to know we're on the same page!

/cc @rynowak I believe you're the Routing Master, so please don't hesitate if you have any remark regarding the scenarios I mentioned 😄

[2019-12-09 20:49] tanveer-ali commented on #860
Actually I was expecting to verify access token before allowing the revoke endpoint but I guess that's not the standard as I looked here:
https://connect2id.com/products/server/docs/api/token-revocation

I wanted this revocation to be done from SPA which doesn't have client secret as its a public site. So I guess my option is to perform this through confidential client?

Also I added a confidentia

[2019-12-09 21:28] ianpowell2017 opened #862 "How can I get the authorization code for the user who is currently logged in?"
Hello,

I am hoping someone can advise me how i can get an authorization code for the currently logged in user.  I am trying to implement App to App Linking for an Amazon project. On this [page](https://developer.amazon.com/docs/account-linking/app-to-app-account-linking.html#step-6), it says
```The security provider that you use must authorize calls from the app to the app's backend server and pr

[2019-12-09 21:42] Tratcher commented on #859
Looking at this sample again, I'm not sure it accomplishes anything new. Either way you need something like scheme.Options.UseEndpoints to create the endpoints, so you can use that to skip them in the auth middleware. The endpoint definition can call HandleRequestAsync itself, it doesn't need the auth middleware to do that.

[2019-12-09 22:19] kevinchalet commented on #859
The problem is that it's normally done by `app.UseEndpoints()`, which is basically the very last middleware to be invoked. Even if the "endpoints" stack was updated to include a "non-terminating" option,, you can no longer decide to invoke the rest of the pipeline at that stage, since there's basically nothing registered after `app.UseEndpoints()` (except the 404 handler).

When `HandleRequestAsyn

[2019-12-09 22:22] Tratcher commented on #859
But `Skip` isn't enough there if you want to run a different endpoint, you actually have to replace the endpoint or re-run routing.

[2019-12-09 22:25] Tratcher commented on #859
Again, if you want a fall through option then you need to completely opt out of using endpoints for auth.

[2019-12-09 22:27] kevinchalet commented on #859
It's pretty much why I think routing and endpoints should be decoupled. We'd have very few design issues if authentication could use routing without endpoints, that are way too limited.

I suppose that's what I'll end up doing, sadly.

[2019-12-09 23:27] rynowak commented on #859
I don't have a super ton of context what's going on here 😁 - what can I help with?

Routing (selecting an endpoint) is decoupled from the rest of the pipeline (make decisions based on an endpoint's metadata/run the endpoint).  Hopefully that's clear enough, but you don't have to be "the router" to set the endpoint for a request.

[2019-12-09 23:28] Tratcher commented on #859
@rynowak let's take the design discussion back to aspnet/AspNetCore#17615.

[2019-12-10 10:26] kevinchalet commented on #860
No, it works with public clients too.

This error sounds pretty clear to me: you forgot to grant the revocation endpoint permission to your client.

[2019-12-10 10:49] kevinchalet commented on #859
@rynowak oops, sorry, I read somewhere that you and @Tratcher had a chat about endpoint routing and authentication, so I assumed you had the full context already 😄

I opened this thread so we can discuss the special needs OpenIddict has - [detailed in my initial post](https://github.com/openiddict/openiddict-core/issues/859#issue-535098171) - and whether it could be updated to use endpoint routing

[2019-12-10 10:56] kevinchalet commented on #862
Hey,

Isn't that the classical authorization code you get as part of the code flow? You'll need to start an authorization dance using an OIDC client to get one so you can send it to Amazon. You can take a look at the code flow demo to see how it's done.

[2019-12-10 14:32] arthas1888 opened #863 "HttpContext.GetOpenIddictServerRequest() is null"
I'm trying to reproduce the example for OpenIddict 3.x, however when I test with a js client, postman or mobile client (Android) always I get the same error The OpenID Connect request cannot be retrieved, it means when I do a request for connect/token/ this value HttpContext.GetOpenIddictServerRequest() is null, but I don't know how to fill it, the code is the same than the repository so I don't n

[2019-12-10 17:00] kevinchalet commented on #863
Does your code call `options.UseAspNetCore().EnableTokenEndpointPassthrough()`? Are you sure the route exactly matches the registered endpoint path?

[2019-12-10 17:23] rynowak commented on #859
Based on this I don't think Endpoints are a good fit for what you're trying to do.

[2019-12-10 17:26] kevinchalet commented on #859
Roger, @rynowak. Now, the question is: could authentication handlers depend on routing without forcing the use of endpoints?

Because AFAICT, the motivation to use that is to avoid creating instances of authentication handlers that are not going to handle the request (i.e because the request path doesn't match the registered path), which is more a routing concern than anything else.

[2019-12-10 17:28] rynowak commented on #859
I'll catch up with @Tratcher on this discuss then. It sounds like there's a desire to improve this, but I'm not sure why it requires anything other than looking at the currently selected endpoint.

[2019-12-10 20:36] ianpowell2017 commented on #862
Hi, thanks for taking the time to respond.  Is there any other way to do this?
The steps Amazon require do not permit another oauth code flow dance.

[2019-12-10 21:28] kevinchalet commented on #862
Nope. And it's not clear to me why you'd want another way to achieve that. What's wrong with the standard flow?

[2019-12-10 21:58] ianpowell2017 commented on #862
Personally, I don't see anything wrong with the standard flow.  Except that I am trying to build a system that works with the Amazon flow they've outlined in the link I referred to earlier.

If the customer connects their Amazon account to my website, the OAuth code flow system works fine. Amazon also allows the customer to connect my website to the customers Amazon account (same as earlier just f

[2019-12-10 22:31] kkagill opened #864 "This server only accepts HTTPS requests."
I'm using openiddict 2.0.1 with aspnet.core 2.0
This is my only option since paypal support for .net core is stopped at 2.0 so far.

So my problem is, for example: `http://localhost:83917/connect/token` will spit out `access_token` in a local environment, but when it's deployed to production in Azure, (`https://api.blabla.com/connect/token`) I get HTTPS error:

`This server only accepts HTTPS requ

[2019-12-10 22:46] kevinchalet commented on #862
I sadly don't have much free time to dedicate to understanding how Amazon implemented their super weird non-standard flow, but it seems like you could create a client registration for Amazon and initiate an authorization code flow with the `client_id` assigned to Amazon and a `redirect_uri` you own, pointing to a page where you'd intercept the authorization code from the query string and send it t

[2019-12-10 22:48] kevinchalet commented on #864
For some reasons, ASP.NET Core doesn't infer the correct scheme, that OpenIddict uses to determine whether the request uses transport security or not. Read https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1 for options to mitigate that.

[2019-12-10 23:09] kkagill commented on #864
@PinpointTownes Thanks for the guidance. According to the article, I believe I need to use `app.UseCertificateForwarding();` but this is not supported in .net core 2.0. Am I really the only person who's encountering this issue? people must have faced the similar issue before, but I can't find the resolution :(

[2019-12-10 23:11] kevinchalet commented on #864
No, that extension is for client certificates, it has nothing to do with server authentication. It's meant for people who use mutual or client authentication, you don't need it.

[2019-12-10 23:17] kkagill commented on #864
Ok. I think this can be related to TLS/SSL binding in my server app. I binded private certificate with a custom domain. (ex: api.blabla.com). What do you think?

[2019-12-10 23:23] kevinchalet commented on #864
I think https://github.com/aspnet/AspNetCore would be a more appropriate place for non-OpenIddict-specific questions 😄

[2019-12-11 00:01] kkagill commented on #864
Alright, so is it transport security related? I just wanna narrow it down so they can understand what I'm asking.

[2019-12-11 00:03] kevinchalet commented on #864
Yes, it's a classical SSL/TLS issue.

[2019-12-11 13:00] tanveer-ali commented on #860
Thanks right this works with public clients too but revoking tokens with public clients without any credentials isn't secure so it's better to use it with some backend API i.e. confidential client which will at least be secure. Thanks for the answers @PinpointTownes

[2019-12-11 13:00] #860 closed, assigned to nobody

[2019-12-11 13:44] kevinchalet commented on #860
If your "proxy" endpoint simply accepts a token and calls the authorization server with its credentials, I'm not sure how this makes it "more secure". And frankly, there are much more evil things to do with a leaked token than to revoke it... 🤣

[2019-12-11 13:53] tanveer-ali commented on #860
what I mean is that at least I can an endpoint in the backend API which is JWT protected from the client and that API i.e. confidential client can revoke it. For revocation, you don't want anyone to revoke any token so can't do this with the public client

[2019-12-11 18:22] icebergdelphi opened #865 "openiddict-core and Ocelot ApiGateway"
Hello, I have a question, I want to know if there is any example of how to use openiddict-core with Ocelot ApiGateway, because there are only examples with IdentityServer 4 or JWT and ocelot, I have tried to make some example with openiddict-core and Ocelot, but I always have the answer 401 or errors. Thank you so much.

[2019-12-11 23:06] kevinchalet commented on #865
Hey,

I'm not super familiar with Ocelot, but AFAICT, it simply uses ASP.NET Core's authentication stack, so you should be able to easily leverage either OpenIddict's validation handler (in 2.x for the default access token type and in 3.x, for both JWT and Data Protection tokens) or the regular JWT bearer handler developed by Microsoft.

If you have a repro app that uses OpenIddict and Ocelot, I d

[2019-12-12 12:16] #863 closed, assigned to nobody

[2019-12-12 14:02] arthas1888 commented on #863
yes, of course,

`// Register the ASP.NET Core host and configure the ASP.NET Core-specific options.
                    options.UseAspNetCore()
                           .EnableTokenEndpointPassthrough()
                           .DisableTransportSecurityRequirement(); // During development, you can disable the HTTPS requirement.`

totally, I am using the correct endpoint, when I have to migrat

[2019-12-12 14:12] kevinchalet commented on #863
Yet you're the only one impacted by that bug, that may be in OpenIddict... or in your code.
And luckily, no, the number of bugs reported so far is quite low, specially considering the quite massive refactoring.

Excellent choice. Since you'll benefit from another free OSS project, consider contributing or sponsoring it.

[2019-12-12 14:24] kevinchalet commented on #863
And BTW, no, you're not using "exactly the same address": `/connect/token/` is different from `/connect/token`. In 3.x, the logic that treated such paths as identical was not ported from 2.x but I'll consider changing that to make migration easier.

https://github.com/openiddict/openiddict-core/issues/866

[2019-12-12 14:26] kevinchalet opened #866 "Reintroduce relaxed request paths comparisons"
In ASOS 1.x and 2.x, we had special logic to treat `/connect/token/` and `/connect/token/` as identical paths, even though these 2 addresses are semantically different, because the ASP.NET Core routing system doesn't treat them as different.

We'll need to reintroduce that in 3.x to make migration easier.

[2019-12-12 14:50] arthas1888 commented on #863
thank you for everything, the support is so good, I really appreciate your work here, and I like working much more with this library but sadly I had to change

I'm gonna keep that in mind

[2019-12-12 15:03] #866 closed, assigned to nobody

[2019-12-12 15:10] #864 closed, assigned to nobody

[2019-12-12 20:50] ianpowell2017 commented on #862
Ok thank you very much

[2019-12-12 20:50] #862 closed, assigned to nobody

[2019-12-13 06:16] kevinchalet opened #868 "Consider assigning max column lengths to more properties"
Things like `OpenIddictApplication.ConsentType` or `DisplayName` could be assigned a max length of 100 chars.

[2019-12-13 07:45] a-patel commented on #736
@PinpointTownes
Any update on OpenIdDist 3.0?

[2019-12-13 19:47] #865 closed, assigned to nobody

[2019-12-14 11:23] kevinchalet commented on #736
@a-patel it's still being actively developed.

Unfortunately, due to the lack of contributions, it's not going as fast as I'd like. That said, @IgorHrabrov started to contribute recently and did a great job porting the primitives tests, so thanks a lot to him! 👏

We're still looking for contributors, so don't hesitate.

[2019-12-16 20:36] kevinchalet commented on #357
For the record, this feature was removed in OpenIddict 3.0. One will still be able to use the events model to achieve a similar result.

[2019-12-16 20:38] xperiandri commented on #357
Oh
As far as I remember you don't use ASOS in 3.0, do you?
Does that mean some OpenIddict 3.0 events?

[2019-12-16 20:46] kevinchalet commented on #357
Yeah. OpenIddict 3.0 will come with a new overhauled events model, inspired from ASOS but more powerful (in 3.0, OpenIddict itself is a massive collection of event handlers you can replace, remove or reorder if you want to).

The equivalent in 3.0 will be something like that:

[code]

[2019-12-16 20:48] xperiandri commented on #357
Looks nice, thank you very much for the sample!

[2019-12-16 20:54] kevinchalet commented on #357
You're welcome 😄

[2019-12-19 20:18] dlimkin opened #873 "[3.0] OpenIddict 3 + SignalR 3 Authentication"
Hello,
I maked authentication on OpenIddict 3 (NetCore3.1), but I can't get it to work with SignalR 3

**Startup ConfigureServices**
[code]

**Startup Configure**
[code]
**Hub**

[code]
I get **System.InvalidOperationException**
[code]
Please, help. How to fix this?

[2019-12-19 20:24] kevinchalet commented on #873
It's the expected behavior: the OpenIddict server ASP.NET Core handler is not meant to be used to validate tokens for endpoints it doesn't own.

Replace `OpenIddictServerAspNetCoreDefaults.AuthenticationScheme` by `OpenIddictValidationAspNetCoreDefaults.AuthenticationScheme`.

[2019-12-19 20:27] kevinchalet commented on #873
I'll update the exception message to mention that, since it's a quite common user error (not new in 3.0, BTW).

[2019-12-19 20:29] dlimkin commented on #873
Thanks a lot, now everything works

[2019-12-19 20:37] kevinchalet commented on #873
Good to hear!

[2019-12-20 11:10] kinosang opened #874 "Make ObfuscateClientSecretAsync public"
Make `ObfuscateClientSecretAsync` public so that users can remove reference to CryptoHelper.

[2019-12-20 11:35] #874 closed, assigned to nobody

[2019-12-20 12:27] kevinchalet commented on #874
FYI, the reference to CryptoHelper was removed in this PR: https://github.com/openiddict/openiddict-core/pull/788/files

[2019-12-26 20:24] kevinchalet commented on #873
The exception message was improved as part of https://github.com/openiddict/openiddict-core/pull/876.

[2019-12-26 20:24] #873 closed, assigned to nobody

[2019-12-29 18:34] kevinchalet opened #878 "Consider rejecting code_challenge_method=plain"
Unlike OpenIddict 1.x and 2.x, 3.x doesn't reject the plain code challenge method. This requirement was relaxed to match what ASOS 1.x/2.x did, but we may want to revert to the previous OpenIddict behavior, to discourage developers from using plain.

[2019-12-30 18:05] #878 closed, assigned to nobody

[2020-01-06 15:48] #834 closed, assigned to kevinchalet

[2020-01-13 17:37] kevinchalet opened #891 "Add new integration tests for the revamped authorization/logout endpoints caching feature"
In OpenIddict 1.x/2.x, authorization and logout requests were serialized to BSON and stored in the distributed cache. In 3.x, this logic was changed and these requests are now stored as signed and encrypted JWTs in the distributed cache. We'll need to port and adapt the integration tests guaranteeing this feature works as intended.

[2020-01-13 17:38] kevinchalet opened #892 "Add integration tests for the verification/device endpoints and the device code grant type"
Device code support was added in 3.0 alpha1 before we started porting the integration tests. Now that it is almost complete, new tests will need to be added for that feature.

[2020-01-14 01:12] kevinchalet opened #894 "Port the OpenIddict.Server unit tests from OpenIddict 2.x"
The following classes will need to be adapted from 2.x:
  - https://github.com/openiddict/openiddict-core/blob/2.0.1/test/OpenIddict.Server.Tests/OpenIddictServerBuilderTests.cs
  - https://github.com/openiddict/openiddict-core/blob/2.0.1/test/OpenIddict.Server.Tests/OpenIddictServerExtensionsTests.cs
  - https://github.com/openiddict/openiddict-core/blob/2.0.1/test/OpenIddict.Server.Tests/Interna

[2020-01-15 18:17] kevinchalet commented on #736
FYI: a functional breaking change was introduced in the latest 3.0 nightly builds: access tokens will now be encrypted by default (which matches OpenIddict 2.x's behavior, where Data Protection tokens are always encrypted). If you only have a "local API" (i.e in the same project as the OpenIddict server), this change will be completely transparent, as OpenIddict imports the encryption keys from th

[2020-01-16 19:36] kevinchalet opened #900 "Remove the initialization logic from the MongoDB stores"
For performance reasons, I'm considering inverting the initialization logic to be opt-in rather than opt-out (so that we don't try to create indexes each time the app starts, unless being asked for by the developer).

As part of this change, we'll probably want to add some "do the OpenIddict collections exist" checks to inform users how they can manually initialize the OpenIddict collections or co

[2020-01-20 08:32] Typiqally opened #901 "Remote token validation for securing a .NET Core 3.0 Web API, openiddict 3.0"
Hi there,

I'm trying out the new openiddict 3.0 and am still quite new to the scene. I currently have 2 projects, an openiddict 3.0 server (the one from [Mvc.Server sample](https://github.com/openiddict/openiddict-core/blob/dev/samples/Mvc.Server/Startup.cs)) and a Web API.

I want to secure my Web API using bearer tokens that get validated by the openiddict server. I'm not quite sure if this is

[2020-01-20 10:45] Typiqally commented on #901
I'm sorry, I think I've found the issue myself. I tried validating with a different audience than the default `resource_server` but forgot to change the resources in the authorization controller from the sample. So in short, the snippet from above works fine as long you don't change the audience. Otherwise you will have to change the resources in the authorization controller.

They can be found at

[2020-01-20 10:45] #901 closed, assigned to nobody

[2020-01-20 12:36] kevinchalet commented on #901
Hey,

Glad you found the root cause of your issue! I'll update the comment associated to `options.AddAudiences("resource_server")` to make that more obvious.

May I ask you why you decided to try OpenIddict? 😃

[2020-01-20 14:09] Typiqally commented on #901
Hi there,

I felt like OpenIddict was a more modern option and I also liked the implementation with ASP.NET Core Identity out-of-the-box. I also found that IdentityServer doesn't meet my personal requirements when it comes to code quality. I get the feeling OpenIddict has a higher code quality and thus I think it will serve me better than IdentityServer.

And from the point of writing this comment

[2020-01-20 17:23] ajfleming1 commented on #706
Hello! I am using the fantastic library ASOS version 2.0.0-rc2-final to implement my very own OAuth 2.0 server but I am having trouble with supporting PKCE. The requests below result in being granted a valid token. The `code_challenge` parameter is equal to the hash of '12345'. As you can see, I can send in any arbitrary value as a code_verifier to the token endpoint without issue. I am not sure i

[2020-01-20 17:52] kevinchalet commented on #706
Hey,

I was not able to reproduce the issue you mentioned. Is your source code public so I can take a look? If not, you can reach me at contact@kevinchalet.com to share a repro privately.

Two things:
  - `2.0.0-rc2-final` is quite old now and is no longer supported. Consider migrating to the RTM version (`2.0.0`).

  - The correct `code_challenge` for `12345` is not  `5994471abb01112afcc18159f6cc

[2020-01-20 17:54] kevinchalet commented on #901
Thanks for sharing your thoughts! It's always interesting to know why people opt for a specific library instead of another, as it's a good way to focus on what people want 😄

[2020-01-20 19:03] ajfleming1 commented on #706
Thanks for the quick reply. I updated to 2.0.0 and I created the `code_challenge `using the recommend method, but I am still seeing the same behavior (any `code_verifier` works on the token endpoint). My repo is public and available here - https://github.com/ajfleming1/OAuth. Thanks again!

[2020-01-20 19:15] kevinchalet commented on #706
I'd say it's simply caused by a bug in your consent view, that doesn't flow all the authorization request parameters but just a limited list that doesn't include `code_challenge`/`code_challenge_method`: https://github.com/ajfleming1/OAuth/blob/master/OAuth/Views/Authorize/Index.cshtml#L42.

Since the second call to the authorization endpoint doesn't send the PKCE parameters, the authorization cod

[2020-01-20 19:18] kevinchalet commented on #706
Note: to make things more obvious, we could introduce a check in OpenIddict 3.0 to reject token requests that specify a `code_verifier` and an authorization code that doesn't have a challenge attached.

[2020-01-20 19:42] ajfleming1 commented on #706
Adding the hidden inputs on index.cshtml for `code_challenge` and `code_challenge_method `enabled the desired behavior. Thank you!

[2020-01-20 19:47] kevinchalet commented on #706
Good to hear!

Would you be interested in sending a PR to add the check I mentioned? It should be trivial to add and should ideally go there: https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.Server/OpenIddictServerHandlers.Exchange.cs#L1619

[2020-01-20 19:55] #825 closed, assigned to kevinchalet

[2020-01-20 20:16] ajfleming1 commented on #706
I would love to do this and help out! I reckon I need to be a contributor to the repo?

[2020-01-20 20:22] kevinchalet commented on #706
Being a regular contributor is definitely not necessary to send code contributions.

For that, simply fork the project (there's a button on the project's main page), clone your fork locally (e.g using GitHub Desktop), make your changes locally, commit and push them to your fork. When you're done, send a PR against this repo 😄

[2020-01-20 20:30] ajfleming1 commented on #706
Yes - okay. Done.

https://github.com/openiddict/openiddict-core/pull/903

[2020-01-22 14:43] #826 closed, assigned to kevinchalet

[2020-01-29 20:16] ajfleming1 commented on #892
Is the device code flow ready for test as of today? I was trying to think how many different tests would be needed to cover the flow.

[2020-01-29 21:29] kevinchalet commented on #892
Yep, I think no non-trivial change will be introduced at this point (I'm quite satisfied of the result).

Hard to say how many exactly, but probably a hundred at most. That said, a very large part can actually be copied from existing integration tests:

  - For the device endpoint: the tests can all be adapted from `OpenIddictServerIntegrationTests.Exchange.cs`, as the device endpoint is quite sim

[2020-01-30 17:25] x360andy opened #905 "JWT Token always Invalid"
Hello everybody,
I am migrating from 1.0 to 3.1 ... I have managed everything so far, but the token is not accepted, if I check it on jwt.io, it is also invalid.

Can anyone spot a mistake?
The Type in the Screenshot below is also interesting, "at+jwt" and not as before "JWT"....

Received with postman
![2020-01-30 18_18_05-Postman](https://user-images.githubusercontent.com/13310887/73473556-44af2

[2020-01-30 17:48] kevinchalet commented on #905
Hey,

The JWT access tokens produced by the latest OpenIddict 3.0 nightly builds are now encrypted, to match the behavior we had in 1.x and 2.x. JWE is not something jwt.io supports, so it's not surprising if you get an invalid error there.

In your case, you should simply remove the JWT handler and let the OpenIddict validation handler deal with token validation. Alternatively, you can remove the

[2020-01-30 17:48] ajfleming1 commented on #892
I am still interested but I do have a full time job and I don't know how urgent this is. I haven't looked at the code very much so I don't think think I can commit to more than completing a few tests a week sight unseen. Also, I will probably have questions along the way. If that's okay with you I can get started.

[2020-01-30 17:52] kevinchalet commented on #892
Thanks!

Since the device code support is a totally new feature, adding tests is much less urgent as there's no risk of regression for people who decide to migrate from a previous version.

Feel free to split the task into multiple PRs if it's easier for you. And don't hesitate to ask questions if you have any 😄

[2020-01-30 17:57] kevinchalet commented on #905
It's a deliberate change, to comply with the latest recommendations: https://tools.ietf.org/html/draft-ietf-oauth-access-token-jwt-03#section-2.1

[2020-01-30 18:25] x360andy commented on #905
Thank you very much, both already explain a lot.

But for understanding and just for sure:
You mean this part to remove?
[code]

and also
[code]
(Can't detect any difference by execution/checking token)

The problem was / is not only that the token is "invalid", the application to be used is not working correctly with it. (However, I have not yet looked closer here, since I assumed that it is due

[2020-01-30 18:50] kevinchalet commented on #905
Yes, remove `.AddJwtBearer()` but keep the `.AddValidation()` call. Don't forget to replace `JwtBearerDefaults` by the equivalent in `OpenIddictValidationAspNetCoreDefaults`.

If it still doesn't work, you'll have to post your complete logs to figure out what's going on.

[2020-01-30 22:11] ajfleming1 commented on #892
Just for my own curiosity, in general what is the design pattern used for OpenIddict? I am getting a little confused when I look at some of the classes like OpenIddictServerHandlers and all the Descriptors. I just want to be able to understand from an OOP point of view how everything is organized and the execution flows from an initial request to providing a response.

[2020-01-30 23:34] kevinchalet commented on #892
OpenIddict 1.x/2.x and ASOS 1.x/2.x historically used the same approach as Katana's `OAuthAuthorizationServerMiddleware`, where the logic was almost entirely contained in private
methods (under the `OAuthAuthorizationServerHandler` class) and where extensibility was possible using a fairly simple events model centered around the `OAuthAuthorizationServerProvider` class.

I was a huge fan of this p

[2020-01-31 13:24] x360andy commented on #905
Still no difference in the behavior
Is there a special location for the log? In the default location (using IIS Express) in logs I Can't find any current entry?

In my other application I use the following code - so in my opinion it doesn't make sense to remove the specific way
[code]
Also important - I only get one token as response and not an idToken & accessToken as before in 1.0

[2020-01-31 14:50] kevinchalet commented on #905
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1

Use the JWT handler if you want, but your configuration is invalid: if you don't register the decryption key, you'll never be able to read the encrypted JWT access tokens. Alternatively, you can disable access token encryption in the server options.

Do you call `principal.SetScopes` to grant the `openid` scope

[2020-02-02 17:22] x360andy commented on #905
Thank you (very much), both suggestions probably solve the biggest part of this topic.

When I use the ID Token
SecurityTokenException: IDX10702: Jwt header type specified, must be 'JWT' or 'http://openid.net/specs/jwt/1.0'. Type received: 'jwt'.

Before it was "JWT".
I' am not 100% sure if this is a openiddict-core issue, but one one side, OWIN or OIDC, this must be changed or ignored... Can this

[2020-02-02 17:41] kevinchalet commented on #905
The OIDC spec doesn't require that a `typ` be present or equal to a particular value for identity tokens (if you take a look at the examples in the spec, you'll see they don't have a `typ` header).

That said, I don't deny back compat' is important and so far, there's no consensus on what a good value would be for identity tokens (unlike access tokens, where we're now encouraged to use `at+jwt`).

[2020-02-02 19:17] #905 closed, assigned to nobody

[2020-02-06 01:39] kevinchalet commented on #905
@x360andy did that solve your issue?

[2020-02-06 06:06] x360andy commented on #905
yes this solve the hole problem ;)

[2020-02-08 18:12] gonzaloluna opened #907 "OpenIdConnect 2.0: how to override HandleAsync when validating request contet-type at OpenIddictServerAspNetCoreHandlers.cs"
Hi there, I would like to understand if there's a way to override how requests are validated during a token request. It seem's there's a handle event in the class ExtractGetOrPostRequest at OpenIddictServerAspNetCoreHandlers.cs which validates the Content-Type of the request, among other things.

Is this possible? I dig this trying to override OpenIdConnectServerProvider but had no luck.

Thanks,

[2020-02-08 18:26] kevinchalet commented on #907
Hey,

Yes, it's possible, but only in OpenIddict 3.0 (thanks to its more advanced events model, that gives you more control than in previous versions).

For that, you'll need to remove the default handler by calling `options.RemoveEventHandler(OpenIddictServerAspNetCoreHandlers.ExtractPostRequest<ExtractTokenRequestContext>.Descriptor)`. Then, you'll need to create your own handler and register it

[2020-02-08 19:38] kevinchalet opened #908 "Update Arcade and use the latest .NET Core 3.1 SDK"
aspnet-contrib will soon be updated to use the latest .NET Core 3.1 SDK and a more recent version of Arcade: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/364

[2020-02-08 19:45] kevinchalet opened #909 "Use embedded package icons instead of external GitHub links"
See https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/pull/364.

[2020-02-08 20:04] kevinchalet opened #910 "Drop .NET Core 3.0 support and update the packages to target netcoreapp3.1"
With 3.0 going out of support next month, there's no much point targeting it. Instead, OpenIddict 3.0 beta1 will target 3.1, which is a LTS version.

[2020-02-10 15:29] gonzaloluna commented on #907
Hi Kevin, yes I'm dealing with non standard customers. We moved from net47-owin to netcore-openidconnect and some how the content-type was not being validated on owin.
We need to support application/x-www-form-urlencoded (_EDIT: application/json)_ content-type while the customer is able to fix their code.

I'll try to see how hard is to move from openiddict 2.0 to openiddict 3.0
Thank you for the

[2020-02-10 15:34] kevinchalet commented on #907
`application/x-www-form-urlencoded` is fully supported (and it's even the only content type allowed by the specification). ASOS 1.x/2.x, OpenIddict 1.x/2.x/3.x all use a similar check to ensure the `Content-Type` header is equal to `application/x-www-form-urlencoded`, so it's weird. Are you 100% sure your issue is not caused by something else? (a weird proxy?)

[2020-02-10 15:38] gonzaloluna commented on #907
Sorry, the customer is sending application/json not application/x-www-form-urlencoded.

[2020-02-10 15:40] kevinchalet commented on #907
Oh yeah, it makes much more sense in this case. You should be able to support that using the procedure I described. It should be trivial to implement by using `System.Text.Json` to deserialize the request payload.

[2020-02-15 00:05] #907 closed, assigned to nobody

[2020-02-22 16:54] GDreyV opened #914 "OpenIddict v 2.0.1 doesn't persist authorization properties in db"
It looks like function PopulateAsync doesn't really populate descriptor properties: https://github.com/openiddict/openiddict-core/blob/2.0.1/src/OpenIddict.Core/Managers/OpenIddictAuthorizationManager.cs#L990 so they are not persisted in database and can't be populated later. I'm not making PR as I might be wrong in my idea how does it suppose to work in general. In my case I need to persist and u

[2020-02-22 17:49] kevinchalet commented on #914
It’s the expected behavior and it’s indicated in the XML documentation: https://github.com/openiddict/openiddict-core/blob/2.0.1/src/OpenIddict.Abstractions/Descriptors/OpenIddictAuthorizationDescriptor.cs#L25

I’ll consider removing this property bag in 3.0 and encourage users to subclass the descriptor class like we do in OrchardCore.

[2020-02-22 18:53] kevinchalet commented on #914
`OpenIddictAuthorizationDescriptor.Properties` was removed when decoupling OpenIddict from ASP.NET Core and I just merged https://github.com/openiddict/openiddict-core/pull/915 to get rid of `OpenIddictTokenDescriptor.Properties`.

It's worth noting that despite the fact `OpenIddictAuthorizationDescriptor`/`OpenIddictTokenDescriptor` both had a `Properties` bag, this property was different from th

[2020-02-22 20:00] #914 closed, assigned to nobody

[2020-02-24 13:37] Tsjerno opened #916 "Refresh token multiple times with refreshtoken"
Question,

I'm using the openiddict orchardcore module.
There I've seen the following behaviour.
-> Get access token with offline_access.
System returns accesstoken and refresh_token (eg UvhcWzipcg)

Then I'm exchanging the refesh_token(UvhcWzipcg) for a new one.
System returns new refresh_token (_rUgzgg2WQ).
So far so good.

Due to multi threading issues (my bad) It can happen that refresh_token

[2020-02-24 14:16] kevinchalet commented on #916
Yes: once you **explicitly opt** for rolling tokens, trying to redeem a refresh token multiple times - concurrently or not - always results in a single request being honored. All the OpenIddict stores use optimistic concurrency (even the YesSql stores, that now support it), so when a race condition happens, a special exception is thrown and caught by OpenIddict to return a proper error instead of

[2020-02-25 08:41] Tsjerno commented on #916
Thanks for your response.
I get the point from #462. In a concurrent system I get that this happens. So exchanging the token twice gives an error at the second exchange.

The concurrency is a problem in my App. I can handle this.
What I did not expect is that when exchanging a refresh token which is already redeemed that all valid tokens for the authorization(user_id/client_id) are redeemed. (Thes

[2020-02-25 14:20] kevinchalet commented on #916
There are actually 2 mechanisms that shouldn't be mixed up to fully understand how things work when rolling tokens are enabled:
  - In the normal case, when sending a unique refresh token request, OpenIddict marks all the tokens using the same authorization identifier as the refresh token as revoked. In this case, the new access and refresh tokens returned in the token response are fully usable. T

[2020-02-25 15:43] NetTecture opened #917 "Accessing (custom) fields in OpenIdConnectRequest broken"
2.0.1 on Dotnet Core 3.1. Endpoint routing is disabled.

I am trying to access custom fields in OpenIdConnectRequest. This worked in dotnet core 2.2 and the openiddict version I had installed at this time.

Basically for reasons of statistics I am supposed to send additional information with an authorization request.

I see no way now to get this information. All fields except the required fields

[2020-02-25 16:50] kevinchalet commented on #917
All the request parameters (extracted from the request form for a POST request or from the query string for a GET request) are stored in the `OpenIdConnectRequest` (`OpenIddictRequest` in 3.0).

You can retrieve custom parameters by doing `request["custom_parameter"]`. Explicit conversion operators are available, so that you can do things like `(string) request["custom_parameter"]` or `(int?) requ

[2020-02-26 08:45] Tsjerno commented on #916
Disabling rolling tokens works for my concurrent/serial case. I can continue.
I get the point of revoking all tokens in the chain.
I think I'm looking for a rollingtokens (light) version.
rfc6749#section-10.5 for authorizationcodes is absolutely necessary.
But for refreshtokens I'm looking for a solution in between. When a refreshtoken gets leaked I don't want it to be usefull (rollingtokens). But

[2020-02-26 11:53] NetTecture commented on #917
@kevinchalet

Nope, not seeing them.

? tokenRequest
Parameters: 3
    AccessToken: null
    AcrValues: null
    Assertion: null
    Audiences: null
    Claims: null
    ClaimsLocales: null
    ClientAssertion: null
    ClientAssertionType: null
    ClientId: null
    ClientSecret: null
    Code: null
    CodeChallenge: null
    CodeChallengeMethod: null
    CodeVerifier: null
    Display: null

[2020-02-26 12:44] kevinchalet commented on #917
I am unable to reproduce your issue. Consider posting a repro and I'll take a look.

[2020-02-26 14:56] NetTecture commented on #917
AAAAAH. Found it. You are right. SOme part of my test framework was doing a request without that infor first to establish some baseline logged in info ;( That triggered my breakpoint.

[2020-02-26 14:56] #917 closed, assigned to nobody

[2020-02-26 15:00] kevinchalet commented on #917
Watch out, this is the kind of rookie mistake that may get you fired :trollface:

[2020-02-27 14:56] kinosang opened #918 "Client Credentials flow with openiddict 3.x"
With openiddict 2.x, we can use the following codes to issue a token.

[code]

* codes from https://github.com/openiddict/openiddict-samples/blob/92b9631f7cc82a399ec7906e56c114e224d736e8/samples/ClientCredentialsFlow/AuthorizationServer/Controllers/AuthorizationController.cs#L47-L69

What's the best practice to do so with openiddict 3.x?

[2020-02-27 15:04] kevinchalet commented on #918
The concept is very similar, but we no longer use `AuthenticationTicket` (which an ASP.NET Core type). Instead, use `ClaimsPrincipal` as the source of truth:

[code]

[2020-02-27 15:19] kevinchalet commented on #918
For those using OpenIddict 3.0's server feature in "legacy" ASP.NET/OWIN apps, the approach will be very similar. Here's an example with MVC 5:

[code]

[2020-02-27 15:19] #918 closed, assigned to nobody

[2020-02-28 14:26] kevinchalet commented on #916
I hear your concerns. I'll think more about it and decide if it's worth changing the behavior in 3.0.

[2020-03-04 14:12] Danielks92 opened #920 "Authorization Code Grant for Alexa Skill"
I've tried to implement the authorization code grant as defined on the official amazon page for account linking:
https://developer.amazon.com/de-DE/docs/alexa/account-linking/configure-authorization-code-grant.html

However when I receive the token request from Amazon I get the following error:

The authorization response was successfully returned as a plain-text document: {
"error": "invalid_requ

[2020-03-04 14:44] kevinchalet commented on #920
This version is obsolete and no longer supported. Consider migrating to 2.0.1.

This error is returned by the authorization endpoint. You likely mixed up the token endpoint and authorization endpoint addresses.

[2020-03-05 14:35] kevinchalet commented on #920
Does that work now?

[2020-03-05 15:45] Danielks92 commented on #920
Yes, the error I had yesterday is gone.
However I have a new error now. If I try to get a token by providing the authorization code I get:

The token response was successfully returned: {
         "error": "invalid_client",
         "error_description": "The specified client credentials are invalid."
 }.

Does that mean the provided code is wrong?

The token request was successfully extracted from

[2020-03-05 15:55] Danielks92 commented on #920
Problem solved, I had to include the client_secret.
Thanks for the help!

[2020-03-05 16:09] kevinchalet commented on #920
You're welcome!

[2020-03-05 16:09] #920 closed, assigned to nobody

[2020-03-06 11:48] Danielks92 opened #921 "Access token in body"
Hi, I have another Alexa related question.
The way Amazon sends the access token is a bit wired:

How can I validate the token if it's sent in the body and how can I get the corresponding user for the token?

Thanks in advance

[2020-03-07 15:42] kevinchalet commented on #921
Hi,

It's probably a question you should ask to the Amazon folks, as this is not directly related to OpenIddict.

[2020-03-11 15:24] kevinchalet opened #922 "Use System.Net.Http.Json once available"
https://github.com/dotnet/designs/blob/master/accepted/2020/json-http-extensions/json-http-extentions.md

[2020-03-16 17:33] #921 closed, assigned to nobody

[2020-03-17 17:38] kevinchalet commented on #357
New plan: in 3.0, the ASP.NET Core host will natively support returning custom parameters set via the new `AuthenticationProperties.Parameters` property introduced in ASP.NET Core 2.1. Both challenge, sign-in (authorization and token responses) and sign-out will be supported. E.g:

[code]

Note: a custom event handler will be required when using OpenIddict on OWIN, as `AuthenticationProperties.Par

[2020-03-30 10:01] knoxi opened #928 "TypeLoadException for TokenValidationResult in ValidateIdentityModelToken"
We updated the package `System.IdentityModel.Tokens.Jwt` from V5.6.0 to V 6.5.0 referenced in our solution. The package was released last week.

Now we get an exception while authenticate.

[code]

The only workaround we found is to roll-back the update of the package in the solution.

[2020-03-30 13:41] kevinchalet commented on #928
@brentschmaltz @mafurman was this breaking change expected? Can we safely move to 6.5.0 without breaking ASP.NET Core 2.1 or 3.0 (or more precisely, the OIDC and JWT handlers)?

[2020-03-30 16:14] halitkalayci opened #929 "Get Access Token from Get Request Using Query Parameters"
Hi I use this for steam authentication and i set up everything nicely.
I can create a new access token from Postman's New Access Token Creator like this:
![image](https://user-images.githubusercontent.com/59770497/77935646-627c0580-72ba-11ea-8e88-ab2edf74c7d3.png)
If not logined it shows me steam login page and than give me the token. Perfect.

But I have to implement that in my react project so I

[2020-03-30 17:44] brentschmaltz commented on #928
@knoxi @kevinchalet this is the one breaking change that will affect users. We made a mistake a put TokenValidationResult in the M.IM.JsonWebTokens namespace, instead of M.IM.Tokens. We need this type to be in M.IM.Tokens as we develop our Async model, this is a key part of that model with a signature:

`Task<TokenValidationResult> ValidateAsync(...)`

We debated keeping M.IM.JsonWebTokens.TokenVa

[2020-03-30 17:51] kevinchalet commented on #928
Thanks for taking the time to reply.

Unlike previous versions, OpenIddict 3.0 supports ASP.NET Core 2.x, 3.x and OWIN/Katana 4.x, so if we can safely migrate to Wilson 6.5 without breaking ASP.NET Core 2.1 or OWIN/Katana, it should be fine. Are you sure there are no other breaking change that may affect 2.1 or OWIN apps?

Since validation will be sync in most cases, you'll probably want to use `V

[2020-03-30 18:47] brentschmaltz commented on #928
@kevinchalet good idea about ValueTask, we will look into that.

Our thinking is the async pattern is normally a Sign or Decrypt operation as private keys are needed and KeyVault OR some similar off-box call is needed.

[2020-03-31 06:48] #929 closed, assigned to nobody

[2020-04-02 06:54] anilvebilisetty opened #930 "An unhandled exception occurred while processing the request. InvalidOperationException: An authorization or token response cannot be returned from this endpoint. AspNet.Security.OpenIdConnect.Server.OpenIdConnectServerHandler.SignInAsync(AuthenticationTicket ticket)"
An unhandled exception occurred while processing the request.
InvalidOperationException: An authorization or token response cannot be returned from this endpoint.
AspNet.Security.OpenIdConnect.Server.OpenIdConnectServerHandler.SignInAsync(AuthenticationTicket ticket)

I could able to get identity token but due to openiddict restriction I couldnt able to redirect to externallogincallback after auth

[2020-04-02 15:29] kevinchalet commented on #930
This error indicates you tried to call `SignIn` from an arbitrary location that doesn't correspond to the authorization or token endpoint. To fix that, don't call `SignIn` from `ExternalLoginCallback` but make sure your users are redirected to your authorization endpoint by `ExternalLoginCallback`.

[2020-04-02 15:29] #930 closed, assigned to nobody

[2020-04-02 17:52] kevinchalet commented on #928
Makes total sense. I've used `RSAKeyVaultProvider` a few times, but it ends up doing blocking calls due the fact the base `RSA` class doesn't expose async methods that Wilson could use (https://kevinchalet.com/2017/08/15/using-azure-key-vault-with-asos-and-openiddict/).

Back to the initial topic, are you 100% positive upgrading to Wilson 6.5 won't cause any other breaking change for existing ASP.

[2020-04-02 18:21] brentschmaltz commented on #928
@kevinchalet

Full transparency: we have focused on asp.net core.
I would be surprised if there were issues.

[2020-04-02 18:26] kevinchalet commented on #928
Hahaha, thanks for your honesty, I appreciate 😄

I'll probably give it a try later to ensure there's no regression.

[2020-04-02 18:26] #928 closed, assigned to kevinchalet

[2020-04-03 14:54] SaeidSabzalizadeh opened #932 "Get byte array of ECC encryption certificate"
I'm using [this way](https://github.com/openiddict/openiddict-core/issues/755) for sign and validate ecc certificate in my .Net core 2.1 application.

[code]

Now I need to get string or byte array of certificate private and public keys? How could I fetch these keys from ECC certificate?

[2020-04-03 15:17] kevinchalet commented on #932
Is your question related to OpenIddict?

[2020-04-04 01:26] #932 closed, assigned to nobody

[2020-04-06 14:25] kevinchalet opened #933 "Use the new AddQueryString overload accepting an IEnumerable<KeyValuePair<string, StringValues>> parameter"
After adding the `net5.0` TFM, we'll be able to use this new overload, which should be more efficient than calling `AddQueryString` multiple times, which is required to support multiple parameters with the same name.

https://github.com/dotnet/aspnetcore/pull/20133

[2020-04-06 18:16] #908 closed, assigned to nobody

[2020-04-06 18:16] #909 closed, assigned to nobody

[2020-04-06 18:16] #910 closed, assigned to nobody

[2020-04-17 13:04] anorborg commented on #808
@kevinchalet I wanted to give contributing a shot and was going to at least attempt this issue. I have never contributed to a mainstream dotnet project like this so apologies for my green-ness, but I'm have a bit of trouble getting started. I have cloned locally and got everything building. I attempted to create a new test project and was attempting to follow the patterns of the existing test proj

[2020-04-17 14:48] kevinchalet commented on #808
@anorborg thanks a lot for your interest!

It's definitely not a problem, and contributing is always a good way to learn new things, so please don't hesitate 😄

As you figured out, the xUnit package references are indeed automagically added by Arcade, for which the documentation is a bit limited. That said, it mostly works using conventions: your test project must be in the `test` folder and end w

[2020-04-17 14:52] kevinchalet commented on #808
FYI, the introspection feature hasn't yet been ported to OpenIddict, so please ignore the tests in `AspNet.Security.OAuth.Introspection.Tests` for now.

[2020-04-23 20:56] martinkoslof opened #937 "EntityFramework incompatibility with ASP.net core 3.1"
I am trying to use Openiddict in a very simple fashion -> to provide openid tokens and a simple wrapper around Windows Authentication and Kerberos. I am planning on using the ClientCredentialsFlow. We will probably only have a handful of "accepted" clients and I was really hoping to just store these in a json file, local file on the server, or if I really had to, a simple database and just load th

[2020-04-24 15:39] kevinchalet commented on #937
Because it's the most popular option, just like Identity is the de-facto reference for membership operations. But that doesn't mean OpenIddict depends on EF Core or Identity.

The 2.0.1 EF Core package works fine on 3.1. Without having any error detail, it's hard to help you.

OOTB, EF 6.x, EF Core and MongoDB are supported, but you can also write your own stores.
In OpenIddict 3.0 (still a WIP),

[2020-04-24 20:43] martinkoslof commented on #937
Thanks Kevin, I would absolutely be interested in "degraded mode" but we have an escalated delivery date and I don't think we can wait for 3.0 to get to release candidate. Apologies, for whatever reason, it appears 2.0.1 EF Core does compile without warning, perhaps I was in some odd state before.

However, sadly its just not working for me. Right now, all I want to do is use Openiddict with some

[2020-04-25 00:31] kevinchalet commented on #937
The error message seems to indicate you’re using referencing different versions of the EF Core packages. Can you triple check that your csproj references the latest version of the core/in-memory EF packages?

If it still doesn’t work, post your project somewhere and I’ll take a look.

[2020-04-28 14:24] #937 closed, assigned to nobody

[2020-05-12 00:14] kevinchalet opened #941 "Update OpenIddictServerAspNetCoreHandler to use AuthenticateResult.NoResult() for missing_token and remove some log messages to reduce noise"
https://stackoverflow.com/questions/61740467/allowanonymous-skipped-over-with-openiddict-3-0

[2020-05-12 07:14] kinosang commented on #922
seems add via dotnet/runtime#33459

[2020-05-12 12:03] Gillardo opened #942 "OpenIddict and PowerBI"
I am not sure if this is the right use for this or not, so maybe someone can just asy if this how we are supposed to use it or not.

But i have my application using openIddict (great piece of software thank you).  Users type in a username and password ot gain access, i return a token/refresh token etc.  This works great.

Now we have a client that wants to use PowerBI with our app, i have told the

[2020-05-12 13:03] kevinchalet commented on #942
I'm not familiar enough with Power PI to make recommendations.
That said, it sounds like a good scenario for the code flow (without a client secret, if the Power BI client is installed on machines you don't control).

[2020-05-12 13:06] Gillardo commented on #942
its more about the user wanting to use our api and not having to login with uesrname and password each time.

What is code flow?

[2020-05-12 13:13] kevinchalet commented on #942
https://kevinchalet.com/2016/07/13/creating-your-own-openid-connect-server-with-asos-choosing-the-right-flows/

If you're happy with the ROPC flow, why not using refresh tokens so that you can retrieve new access tokens without re-asking for user credentials?

[2020-05-12 14:11] kevinchalet commented on #922
Yeah. There's no RTM package yet but I started using it for my local introspection branch and it's really promising 👏

[2020-05-12 15:24] lcetinapta opened #943 "How to use it with nhibernate?"
I am building an application by using NHibernate, and I don't see any samples on how to do it.
I only see that NHibernate stores were removed. Is NHibernate no longer supported?

[2020-05-12 15:35] kevinchalet commented on #943
I added NHibernate support for one of my clients in 2019, but they moved away from NHibernate and opted for Dapper shortly after that. Due to an extremely low demand, the NHibernate stores have never been officially released.

It's worth noting there was a bug with `Id` generation - possibly introduced in recent versions of NHibernate - which motivated me to remove them from the repository earlier

[2020-05-13 19:21] #942 closed, assigned to nobody

[2020-05-13 19:25] kevinchalet commented on #943
@lcetinapta if it's important for you or your company, I'm not opposed to bringing back the NHibernate stores. If so, please consider sponsoring the project, as there's some time to dedicate chasing the key generation bug and adding the recently added APIs to the stores.

[2020-05-15 16:26] #943 closed, assigned to nobody

[2020-05-24 06:50] anilvebilisetty opened #945 "Revocation of reference token is success but still revoked token is working fine. I am not using cache."
I could see the status of the token as revoked in "OpenIddictTokens" table but i am surprised how it is getting validated successfully.
My code:
var res = await httpClient.RevokeTokenAsync(new TokenRevocationRequest
                {
                    ClientId = "ClientId***",
                    Address = "https://localhost:5000/connect/revoke",
                    Token = token,

[2020-05-24 12:20] kevinchalet commented on #945
What version are you using?

[2020-05-24 12:52] kevinchalet opened #946 "Update the ASP.NET Core/OWIN server/validation hosts to store the access token in AuthenticationProperties"
To make the access tokens used in the API requests easier to access, we should store them in `AuthenticationProperties`.

[2020-05-25 03:01] anilvebilisetty commented on #945
@kevinchalet  I am using 2.0.1 version. One more thing i would like you to know even after deleting all records in openiddictToken table token is getting validated.
Below is my Introspection code:

 .AddOAuthIntrospection(options =>
                {
                    options.Authority = new Uri(Configuration.URL.AUTH);
                    options.Audiences.Add(Configuration.Credentials.ID);

[2020-05-25 03:20] kevinchalet commented on #945
I am not able to reproduce the issue you describe. I've tried with both the validation and the introspection handlers.

Also, you don't seem to be overriding the default caching policy - that caches introspection responses for 15 minutes. Are you sure it's not a caching issue?

[2020-05-25 03:26] anilvebilisetty commented on #945
@kevinchalet can you help me how can I override cache policy. I felt if we explicitly mention cache it will use cache or else no.

[2020-05-25 03:28] kevinchalet commented on #945
https://github.com/aspnet-contrib/AspNet.Security.OAuth.Extensions/blob/dev/src/AspNet.Security.OAuth.Introspection/OAuthIntrospectionOptions.cs#L120-L129

[2020-05-25 04:08] anilvebilisetty commented on #945
@kevinchalet  My bad,yes it worked on updating cache policy to null. Thank you 😊

[2020-05-25 04:32] #945 closed, assigned to nobody

[2020-05-26 14:56] kevinchalet commented on #922
For the record, the 3.2.0 RTM version of the `System.Net.Http.Json` package was released last week.

[2020-05-26 15:10] #806 closed, assigned to nobody

[2020-05-26 15:10] #922 closed, assigned to nobody

[2020-05-26 15:46] kevinchalet commented on #809
We now use IdentityModel's `ConfigurationManager`, that natively allows changing the caching duration.

[2020-05-26 15:46] #809 closed, assigned to nobody

[2020-05-26 15:51] kevinchalet opened #948 "Determine whether introspection responses should be cached"
In the aspnet-contrib introspection handler, a built-in caching feature was implemented with a default caching duration of 15 minutes, to reduce the performance impact of the additional HTTP call. We should determine whether this feature is needed/useful and consider porting it to 3.0.

[2020-05-26 15:54] kevinchalet opened #949 "Implement client_secret_basic support in the introspection handler"
The validation handler now supports introspection, but only with `client_secret_post`. While it's the safest option as it doesn't have the same encoding compatibility issues as `client_secret_basic`, `client_secret_post` may not be supported by all implementations.

[2020-05-27 15:28] kevinchalet opened #953 "Add a way to configure the OpenIddict validation OWIN handler as an AuthenticationMode.Active middleware"

[2020-05-28 16:59] #953 closed, assigned to nobody

[2020-05-28 19:25] biapar opened #955 "Does it support LDAP/Active Dir authentication?"
Does it support LDAP/Active Dir authentication?

[2020-05-28 19:49] kevinchalet commented on #955
OpenIddict doesn't handle the user authentication part. You're free to use whatever you want, Windows Integrated Authentication (NTLM/Kerberos) or manual LDAP lookups included.

[2020-05-28 19:52] biapar commented on #955
Is there an example how to include it?

[2020-05-28 19:54] kevinchalet commented on #955
No.

[2020-05-29 12:02] #955 closed, assigned to nobody

[2020-05-30 13:26] #941 closed, assigned to kevinchalet

[2020-05-30 13:26] #946 closed, assigned to kevinchalet

[2020-05-30 17:03] kevinchalet commented on #808
Note: the introspection feature was ported as part of https://github.com/openiddict/openiddict-core/pull/947.

[2020-05-30 17:08] kevinchalet commented on #762
Most server integration tests have been ported. Only the token creation/validation tests (JWT + DataProtection) need to be added back.

[2020-06-02 00:00] #949 closed, assigned to kevinchalet

[2020-06-02 13:09] cadilhac commented on #661
What is the status for a RavenDb store? Thanks.

[2020-06-02 13:14] kevinchalet commented on #661
The demand was unfortunately too low, so it didn't materialize. Feel free to open a new thread to discuss that if you want to.

[2020-06-02 13:25] cadilhac opened #959 "In need of a RavenDb Store"
Hi,

I have several web platforms without corresponding mobile apps and I think it's time to be modern and think about it. I currently use Asp.Net MVC 5 and RavenDb as the database. It uses simple authentication with email/password and login with facebook/twitter/google. Creating a Xamarin app will be totally new for me as well as migrating to asp.net core. Authentication will have to be changed f

[2020-06-02 13:30] cadilhac commented on #661
Thanks. Done.

[2020-06-02 14:00] kevinchalet commented on #959
Hey,

Thanks for your interest. There are still many things to do for OpenIddict 3.0, so introducing new stores is unlikely to happen in the near future. However, two things could help change that:

  - An external contribution: if you or someone else is interested in submitting a PR to add complete RavenDB support, I'll try my best to help review it.

  - Sponsoring: if RavenDB support is importa

[2020-06-02 14:13] cadilhac commented on #959
It can't be me in both cases, but just to add some info on this case, is there some documentation to help understand all the moving pieces involved and how to build a custom data store?

[2020-06-02 14:29] kevinchalet commented on #959
No, but you can take a look at the existing stores to see how they are implemented.

[2020-06-02 15:55] kevinchalet commented on #736
We're getting very close to the release of `3.0.0-beta1`, which is now feature complete. I will add more details in a blog post coming in the next few days.

In the meantime, please keep testing the beta1 nightly builds, to ensure there's no last minute bug 😃

[2020-06-02 16:15] a-patel commented on #736
@kevinchalet
Also, share the blog post/doc link here.

[2020-06-03 10:34] jonathanantoine opened #960 "Two calls to the Authorization endpoint produces an exception if refres_token asked"
When I call twice the authorization endpoint with the offline_access scope and password flow, the second call receive a 500 status code with an exception "Cannot insert duplicate key row in object 'portal.OpenIddictTokens'

Exception :
SqlException: Cannot insert duplicate key row in object 'portal.OpenIddictTokens' with unique index 'IX_OpenIddictTokens_ReferenceId'. The duplicate key value is (<

[2020-06-03 11:58] kevinchalet commented on #960
The password flow doesn't use the authorization endpoint.

It's hard to say what's going on without at least knowing what OpenIddict version you're using. A `CREATE` script of your tokens table (with the indexes) would also help.

[2020-06-03 12:13] jonathanantoine commented on #960
Sorry for not providing enough information. I use the "2.0.1" version.

Here are the create script :

[code]

[2020-06-03 12:22] jonathanantoine commented on #960
pff I am so sorry for making you waste your time, my creation script is wrong (again... :().

Sorry again.

[2020-06-03 12:22] #960 closed, assigned to nobody

[2020-06-03 12:24] jonathanantoine commented on #960
For the reference, I should have this creation script for `IX_OpenIddictTokens_ReferenceId` :

[code]

[2020-06-03 12:55] kevinchalet commented on #960
No problem. Out of curiosity, how was the original script - that doesn't have the `IS NOT NULL` filter - generated?

[2020-06-04 06:42] jonathanantoine commented on #960
It was generated using Jetbrains Rider.

[2020-06-07 15:00] kevinchalet opened #964 "Use the generic host builder on .NET Core 3.1/5.0"
The web host builder will be deprecated in 5.0: https://github.com/dotnet/aspnetcore/issues/20964.

We should update the integration tests to use the generic host builder on .NET Core 3.1 and 5.0.

[2020-06-07 21:02] #964 closed, assigned to kevinchalet

[2020-06-09 00:07] Darthruneis commented on #894
@kevinchalet I'm considering taking a look at this one based on our discussion in #956 - can you clarify specifically what you mean when you say 'Port' the tests? My best guess is to fix them/update them after they have broken during changes for 3.0, is that correct?

[2020-06-09 09:35] kamikyo opened #967 "Have you considered supporting MFA?"
Have you considered supporting MFA?
like this:

`builder.EnableMultiFactorAuthentication(opts=>{...});`

Thank you for your efforts, Openiddict is a great tool.

[2020-06-09 14:06] kevinchalet commented on #967
Glad you like it!

2FA/MFA is mostly a user authentication thing, which is not something OpenIddict itself deals with. In general, you'll want to use ASP.NET Core Identity to implement MFA support at the authorization server level (tho' the options are quite limited OOTB: SMS or TOTP).

If you want your clients to be able to know whether the user was authenticated using MFA, you can add a standard

[2020-06-09 14:18] kevinchalet commented on #967
I sent https://github.com/openiddict/openiddict-core/pull/968 to add the `amr` values defined by the RFC8176 specification in `OpenIddictConstants`.

[2020-06-09 14:24] kevinchalet commented on #894
Thanks @Darthruneis!

Yep, exactly. There are also new methods that were added to `OpenIddictServerBuilder` in 3.0 for which we'll need to add new unit tests after porting the tests class from 2.x (but it can be done in a separate PR).

[2020-06-10 01:45] kamikyo commented on #967
Thanks kevinchalet. Thank you for your valuable comments!

[2020-06-10 01:45] #967 closed, assigned to nobody

[2020-06-11 19:12] kevinchalet commented on #736
Today's the day! https://kevinchalet.com/2020/06/11/introducing-openiddict-3-0-beta1/ 🎉

[2020-06-12 03:30] shengjing2019 opened #976 "Question on Certificate.pfx and Azure"
I have an ASP.NET Core MVC app running on Azure App Service and the site is using HTTPS and I'd like to use token authentication to protect some of the pages. I'm very new to token auth and openiddict, I read that a JWT token needs to be signed on the server and I see in your [MVC sample](https://github.com/openiddict/openiddict-samples/tree/dev/samples/Velusia), there is a `Certificate.pfx` provi

[2020-06-12 14:37] kevinchalet commented on #976
Don't reuse the certificate sample, it would make your application vulnerable.

You have multiple options when it comes to generating/storing certificates/raw keys on Azure:
  - You can generate it locally and upload it via the portal. [Set the `WEBSITE_LOAD_CERTIFICATES` environment variable](https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate-in-code) and use `Add*Certif

[2020-06-12 21:39] shengjing2019 commented on #976
Thank you @kevinchalet for detailed answer. I have this question I'd like to ask, when you do a File New Project on a Blazor WebAssembly project with Individual User Accounts, it puts the server and client code in the same project. Part of app is the wasm SPA and when you register or login user in it redirects you to the views from the /Identity folder. In that sample I don't see it's doing any ce

[2020-06-12 22:27] kevinchalet commented on #976
The VS templates use IdentityServer4 with a custom layer on top of it. That layer creates a ["development" RSA key for you and persists it in `obj/`](https://github.com/dotnet/aspnetcore/blob/master/src/Identity/ApiAuthorization.IdentityServer/src/Configuration/ConfigureSigningCredentials.cs#L47), but just like the X.509 development certificate offered by OpenIddict, it's not suitable for producti

[2020-06-14 19:15] kevinchalet opened #977 "Improve the message of the exception thrown when a request is not handled"
E.g: https://github.com/openiddict/openiddict-core/blob/b6e19a918b9babf3255396b1caa4314ed4d1812a/src/OpenIddict.Server/OpenIddictServerHandlers.Authentication.cs#L311-L316

/cc @Bartmax

[2020-06-15 03:45] Bartmax commented on #977
I think there are 2 main points that can improve the message:

1) Don't make one better than the other. Right now the message sounds like if event handler is the correct way to do it while passthru is a "workaround". I understand that is not the case, it's a matter of choice. Maybe is me but the word "alternative" suggest that the later is less preferred than the former.

2) Explain how to enable

[2020-06-15 19:21] shengjing2019 commented on #976
I see that Azure now provides [free TLS/SSL certificate](https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate#create-a-free-certificate-preview), could I create and use this same certificate for both token Encryption and Sigining?

[2020-06-15 19:46] kevinchalet commented on #976
Technically, nothing prevents you from doing that, but I strongly encourage you to use self-signed certificates dedicated to this purpose, instead of trying to reuse a TLS certificate, free or not.

[2020-06-15 19:50] kevinchalet opened #978 "Update the logout endpoint logic to not trigger a sign-out response by default"
In 3.0 beta1, the `HandleLogoutRequest` handler automatically triggers a sign-out response unconditionally, which hides the exception message thrown when the logout response is not handled (https://github.com/openiddict/openiddict-samples/issues/92).

We should add a flag and require that user call a dedicated method to trigger a sign-out response (e.g `context.ProcessSignOut()`).

https://github.

[2020-06-16 05:35] Bartmax opened #980 "Ambiguity in System.Linq on NET 3.0 when using openiddict and EF Core."
There's ambiguity in System.Linq when referencing either
`OpenIddict.AspNetCore` or `OpenIddict.EntityFrameworkCore` in the same project as `Microsoft.EntityFrameworkCore.SqlServer`

![image](https://user-images.githubusercontent.com/3386797/84735176-3434ca80-af79-11ea-9a05-b81b14845dda.png)

Here's the full csproj:

[code]

I'm not sure if this is directly related to https://github.com/dotnet/efc

[2020-06-16 14:17] kevinchalet commented on #980
It's definitely a manifestation of https://github.com/dotnet/efcore/issues/18124. In 3.0, `OpenIddict.Core` references `System.Linq.Async`, whose extensions are in the same `System.Linq` namespace as the good old `IQueryable<T>` LINQ extensions coming from the BCL. If you add a `System.Linq` using, you're immediately impacted.

We have a couple of options here:
  1. Don't change anything on our si

[2020-06-16 15:00] mfarkan opened #981 "Getting error when successful login."
Hi , I'm new at this project but I'm trying to learn. I've facing one issue with succesfuly login returning error ;

[code]

[code]
This is my web app startup ;

[code]
And this is the error page;

![image](https://user-images.githubusercontent.com/20838613/84791191-f8dae000-affa-11ea-85ac-6d9e556bd859.png)

In my opinion i forgot something but i can't figure it out.

[2020-06-16 15:07] kevinchalet commented on #981
Hey.

The exception indicates that an empty 400 response is returned when trying to communicate with the token endpoint. Are there any other message in the logs? Do you have a token action to handle token requests? Can you please share it?

Thanks.

[2020-06-16 17:00] mfarkan commented on #981
Thank you for your reply. Yes , I've token method. Here is the method ;

[code]

[code]
This is the error on webApplication ;

[code]

[2020-06-16 17:06] kevinchalet commented on #981
I meant the authorization server logs. It's not clear to me what's causing the 400 response.
Are you sure your authorization controller is not decorated with `[ValidateAntiforgeryToken]` and that your app doesn't use the `AutoValidateAntiforgeryToken` filter?

[2020-06-16 20:12] mfarkan commented on #981
well , you're rock dude. Thanks so much. I forgot the autovalidate attribute on startup.

[2020-06-16 21:19] kevinchalet commented on #981
![](https://media.giphy.com/media/V53jWRdPWwO0U/giphy.gif)

My pleasure :smile:

[2020-06-16 21:19] #981 closed

[2020-06-17 14:35] clairernovotny commented on #980
There’s nothing we can change. We are System.Linq, and we defined the extension methods. EF created the conflict, they need to solve it.

[2020-06-17 14:42] kevinchalet commented on #980
You could change the namespace.

True, but I suspect EF Core will not be the only one in this situation: after all having a type that implements both `IAsyncEnumerable<T>` and `IQueryable<T>` is not that unreasonable.

Anyway, thanks for your reply. It's quite unfortunate we'll have to remove our dependency on `System.Linq.Async`, but if neither the EF folks nor the RX team want to improve the sit

[2020-06-17 15:08] Bartmax commented on #980
Agree, let's remove the dependency on `System.Linq.Async` as others are doing and I guess many will follow.
Worst case scenario, we can make the code available as `OpenIddict.Linq.Async` for the bits we need.

[2020-06-18 11:17] egorpavlikhin commented on #937
I had the same issue, which is resolved by adding reference to Microsoft.AspNetCore.Identity.EntityFrameworkCore of the same version as EF Core package.

Side comment: Entity Framework reference is very had to get rid of. Yes, you can theoretically write your own store, but it's hundreds of lines of code, that are not explained in how they are supposed to work. The fact that InMemoryStore is the p

[2020-06-18 11:52] kevinchalet commented on #937
Heh no, only the user authentication part is always left as an exercise (for that, you can use ASP.NET Core Identity, some form of Windows Integration Authentication, manual LDAP calls or anything else you want). The OIDC request validation logic uses EF to store the application details and manage some authorization and token entries for tracking and revocation purposes.

Would you be interested i

[2020-06-18 16:03] #980 closed, assigned to kevinchalet

[2020-06-19 13:56] kevinchalet commented on #955
@auroris created a very nice sample showing how to use Windows Integrated Authentication with OpenIddict 3.0's degraded mode (on IIS): https://github.com/auroris/OpenIddict-WindowsAuth

[2020-06-19 17:38] #976 closed, assigned to nobody

[2020-06-19 22:29] garethrampton opened #983 "Unable to get examples working"
I have been using version 2 for some while with great success, but for some reason I’m really struggling with version 3.

The issue I’m having is with the authorization code flow.

I can’t even get the samples working from the either the samples repo or the example in the main repo.

Specifically with the AuthorizationController in the Authorize action, the following line always fails resulting in

[2020-06-19 22:52] kevinchalet commented on #983
Can you try with Firefox? It sounds like a browser-side issue to me.

[2020-06-20 11:11] garethrampton commented on #983
Ok, interesting. More testing reveals this is indeed a browser issue:

Working:
Edge: 83.0.478.50 (Official build) (64-bit)
Edge: 83.0.478.54 (Official build) (64-bit)
Firefox: 77.0.1 (64-bit)

Not working:
Chrome: 83.0.4103.106 (Official Build) (64-bit)

Whatever has changed recently in Chrome has clearly broken things.

[2020-06-20 12:44] kevinchalet commented on #983
Interesting. Is there anything in the browser logs? I'm tempted to think it's related to the recent changes in their `Set-Cookie` validation routine. Could you please try enabling TLS and see if it makes any difference?

[2020-06-21 17:13] garethrampton commented on #983
Ok, can confirm that enabling TLS with the samples fixes this in Chrome. There was nothing at all logged by Chrome to indicate the issue though.

[2020-06-21 18:01] kevinchalet commented on #983
Thanks! Would you be interested in sending a PR to fix the samples? 😃

[2020-06-22 15:15] kevinchalet commented on #959
Closing as no one offered to sponsor or contribute to the initiative and the demand is not strong enough to implement it myself.

[2020-06-22 15:15] #959 closed, assigned to nobody

[2020-06-23 06:12] dysangelist-1 opened #985 "Custom EF models causing failed Authorize calls, with System.InvalidOperationException in FindByClientIdAsync - validation handler using default Application class?"
I'm putting together an OpenIddict 3.x-based auth service (.NET Core 3.1), but am running into problems with custom OpenIddict EF (Core) models. I've managed to reduce things to a repro case based on making some narrow changes to the current (`dev` branch) [Mvc.Server sample](https://github.com/openiddict/openiddict-core/tree/dev/samples/Mvc.Server).

The problem: I make a basic GET request of `/c

[2020-06-23 12:27] kevinchalet commented on #985
Actually, it looks like you don't override the default models in the OpenIddict EF Core options. Call `ReplaceDefaultEntities` and it should work:

[code]

The syntax hasn't changed in 3.0, but I removed the instructions from README.md to make it lighter. I'll update the samples to mention the entities must be also set in the OpenIddict options.

[2020-06-23 12:55] kevinchalet commented on #983
@garethrampton let me know if it's something you're interested in doing.

[2020-06-23 16:02] dysangelist-1 commented on #985
Many thanks Kevin, no idea how I missed that. I did see some comments about custom entities which included the `ReplaceDefaultEntities` call, but I guess at some point I started to erroneously assume that it was an old OpenIddict thing, rather than a new(er) one. After adding the missing `ReplaceDefaultEntities` call, everything seems to be working as expected.

While I do understand that two diff

[2020-06-23 16:02] #985 closed, assigned to nobody

[2020-06-23 16:30] kevinchalet commented on #985
I'd love to, but it's unfortunately not as easy as it should be:
  - EF Core uses an internal DI container for each of the configured `DbContext`. This means `DbContextOptionsBuilder` provides no access to the application DI container we'd need to amend the default entities configured in `OpenIddictCoreOptions`. Concretely, the `options.UseOpenIddict()` helper called from `AddDbContext()` can't be

[2020-06-23 16:35] kevinchalet commented on #985
Thanks for the kind words! ❤️

[2020-06-23 20:51] mfarkan opened #987 "Invalid token for access token."
Hi , It's me again :) I've one web app , one api resource and id server. I'm succesfully logged in web app(with getting succesfully access_token) but i can't call api resource with specific scope. I also add my scopes dynamically in ticket;

[code]

web app adding api scopes;

[code]

These are my clients and scopes ;

[code]

[code]

[code]

And this is my api resource's startup ;

[code]

[2020-06-23 21:22] kevinchalet commented on #987
Hey.

It's very likely due to the fact OpenIddict 3.0 always encrypts its access tokens by default. As indicated in https://kevinchalet.com/2020/06/11/introducing-openiddict-3-0-beta1/, the OpenIddict validation handler is now the recommended option, even for JWT tokens, which is the new default access token format in 3.0. It comes with a simpler configuration option when the API is in the same pr

[2020-06-24 06:11] mfarkan commented on #987
So should i change the version of openid? I usually look at your core example projects as a reference to me and i can't see the difference between mine and yours. by the way my version is 2.0.1.

[2020-06-24 06:58] mangowi commented on #987
@mfarkan I had a similar issue. "Invalid token for access token"

You can consider upgrading to beta version 3.0 and following this example.

https://github.com/openiddict/openiddict-samples/tree/dev/samples/Zirku

[2020-06-24 07:31] mfarkan commented on #987
@mangowi thanks but i think my company doesnt accept to using beta version.

[2020-06-24 14:23] mfarkan commented on #987
@mangowi @kevinchalet so there is no solution for this on 2.0.1 , isnt it ?

[2020-06-24 14:24] kevinchalet commented on #987
You should post your complete Startup, to ensure things are correctly configured. 2.0.1 should work fine.

[2020-06-24 14:45] mfarkan commented on #987
Well , dude you're rock again ! I figure it out. Thanks for helping. it is flying like a seagol :) :punch:

[2020-06-24 14:54] #987 closed

[2020-06-24 17:44] farlee2121 opened #989 "Endpoints 404 with Asp.net MVC 5"
I'm trying to get OpenIddict running with Asp.Net 4.8 and MVC 5.

I first followed the OWIN example at https://kevinchalet.com/2020/03/03/adding-openiddict-3-0-to-an-owin-application/.
I am using the the recommended AutoFac registration method.

I was able to get this working properly. The tutorial says that the same should apply for other hosts, including System.Web.

However, I cannot get throug

[2020-06-24 17:49] kevinchalet commented on #989
First of all, are you sure your `Startup` is correctly invoked?

[2020-06-24 18:03] farlee2121 commented on #989
I now feel quite silly. You, sir, are a champion.

[2020-06-24 18:03] #989 closed, assigned to nobody

[2020-06-24 18:04] kevinchalet commented on #989
Don't hesitate to add some details on what was causing that. It may help other people 😃

[2020-06-24 18:23] farlee2121 commented on #989
Good point.
I was working in a new MVC 5 project straight from the template, but I forgot to change the identity option from 'none' to individual accounts.

This means that the project doesn't come with Microsoft.Owin.Host.SystemWeb out of the box. It also doesn't install that library when you install the other requisite Owin packages or if you choose to add an Owin startup file through the 'add n

[2020-06-24 18:24] kevinchalet commented on #989
Makes total sense 😄

[2020-06-25 14:02] farlee2121 commented on #989
2 things
First, I've been digging through the issues a lot to understand some aspects of the framework. I really appreciate how patient and encouraging you are with people's questions.

Second, the [example](https://kevinchalet.com/2020/02/18/creating-an-openid-connect-server-proxy-with-openiddict-3-0-s-degraded-mode/) I found on challenging requests from event handlers doesn't seem to be current.

[2020-06-25 14:16] kevinchalet commented on #989
Thanks 🤟

That's because the sample uses ASP.NET Core instead of OWIN/Katana (the authentication APIs have changed quite a lot in ASP.NET Core 2.0).

Your snippet looks good. I have 2 remarks, tho':
  - you can retrieve the OWIN authentication manager in a non-static, non-IIS-specific way if you prefer:

[code]

  - it's not clear why `context.HandleResponse()` didn't work in your case: `context.S

[2020-06-25 14:34] farlee2121 commented on #989
Ah. I figured it should be possible to get the Authentication context off of the event context. I first looked for it on Principle, got as far as `context.Transaction.GetOwinRequest()`, and got tripped up at Context. This is definitely a nicer solution.

`HandleResponse()` does work. I just misinterpreted the description thinking that it would prevent my login flow from taking over. It doesn't bec

[2020-06-26 15:13] matthewwren opened #991 "Empty claims list"
Unless I explicitly add the attribute decorator below the User instance has no claims on it,  I would be very helpful for any guidance on what I might be doing wrong,

`[Authorize(AuthenticationSchemes = OAuthValidationDefaults.AuthenticationScheme)]`

My Startup.cs is as follows:

[code]

[2020-06-26 15:21] kevinchalet commented on #991
You're not doing anything wrong, it's the right thing to do. ASP.NET Core Identity registers itself as the default authentication scheme, and using `[Authorize(AuthenticationSchemes = OAuthValidationDefaults.AuthenticationScheme)]` is the best option to opt out the default cookie-based scheme. Alternatively, you can override the default schemes globally via `services.AddAuthentication(options => {

[2020-06-26 15:32] matthewwren commented on #991
Hi Kevin,

That fixed it.  Many thanks. :)  For completeness here is the solution for anyone else with a similar problem:

[code]

[2020-06-26 15:47] kevinchalet commented on #991
My pleasure 😃

[2020-06-26 15:47] #991 closed, assigned to nobody

[2020-06-29 16:48] kevinchalet commented on #900
Change of plan: the MongoDB initialization logic will be removed in OpenIddict 3.0 to be consistent with the other stores. Instead, a separate C# script will be offered to create the MongoDB indexes:

[code]

[2020-06-29 18:01] #900 closed, assigned to kevinchalet

[2020-07-02 06:32] kevinchalet opened #1000 "Don't reference the System.Net.Http.Json package on .NET 5.0"
In the same vein as https://github.com/openiddict/openiddict-core/pull/999, we'll want to avoid depending on `System.Net.Http.Json` once the `net5.0` TFM is added to the `OpenIddict.Validation.SystemNetHttp` package, as the `HttpClient` JSON extensions are directly included in the .NET SDK in 5.0.

[2020-07-02 07:59] kevinchalet commented on #1000
Looks like .NET Core is smart enough to not include the package-based assemblies in the output directory when the same assemblies are already provided by the referenced .NET frameworks. Closing.

[2020-07-02 07:59] #1000 closed, assigned to kevinchalet

[2020-07-04 17:11] #977 closed, assigned to kevinchalet

[2020-07-04 17:11] #978 closed, assigned to kevinchalet

[2020-07-08 18:46] kevinchalet commented on #736
OpenIddict 3.0 beta2 is out. Read https://kevinchalet.com/2020/07/08/openiddict-3-0-beta2-is-out/ for more information.

[2020-07-08 21:45] kevinchalet commented on #361
Tentatively placing this in the 3.0.0-beta4 milestone to re-evaluate our options.

[2020-07-09 12:15] kevinchalet opened #1022 "Automatically disable the incompatible options when enabling the degraded mode"
When enabling the degraded mode, the following options should be automatically set:
  - `OpenIddictServerOptions.DisableAuthorizationStorage = true`
  - `OpenIddictServerOptions.DisableTokenStorage = true`
  - `OpenIddictServerOptions.IgnoreEndpointPermissions = true`
  - `OpenIddictServerOptions.IgnoreGrantTypePermissions = true`
  - `OpenIddictServerOptions.IgnoreScopePermissions = true`
  - `Op

[2020-07-09 12:26] askalione commented on #1022
@kevinchalet, and `OpenIddictServerOptions.UseSlidingExpiration = false`, because DisableTokenStorage requires this

[2020-07-09 12:29] kevinchalet commented on #1022
Actually, when token storage is disabled, you can either disable sliding expiration or use rolling refresh tokens. With the degraded mode enabled, the best option is likely to use rolling tokens and keep sliding expiration enabled.

[2020-07-09 12:31] askalione commented on #1022
Got it, thanks.

[2020-07-15 13:09] kinosang commented on #828
How's it going with OpenIddict 3.0 (beta2) for `NameClaimType` and `RoleClaimType`? I have tried to set those options but not work.

[code]

[2020-07-15 13:24] kevinchalet opened #1026 "Update OpenIddictValidationHandlers.Introspection.PopulateClaims to honor NameClaimType/RoleClaimType"
The `NameClaimType`/`RoleClaimType` are currently not honored when using introspection, as the `ClaimsIdentity` is not created by IdentityModel but by OpenIddict in this case:

https://github.com/openiddict/openiddict-core/blob/0f4258695965c6c3bdba1a5ba7a6af3b4bdc2015/src/OpenIddict.Validation/OpenIddictValidationHandlers.Introspection.cs#L429

[2020-07-15 13:25] kevinchalet commented on #828
The `NameClaimType`/`RoleClaimType` are currently not honored when using introspection, as the `ClaimsIdentity` is not created by IdentityModel but by OpenIddict in this case.

I opened https://github.com/openiddict/openiddict-core/issues/1026 to track that. It's trivial to fix, so let me know if you're interested in sending a PR 😄

[2020-07-15 13:53] kevinchalet commented on #1026
In the same vein, we should also attach the issuer to the created claims:

[code]

So calls like

[code]

should be updated to

[code]

[2020-07-15 16:10] kevinchalet commented on #828
It will be fixed in the next release. In the meantime, it's very easy to work around using a tiny handler that runs after `PopulateClaims` and recreates the identity with the correct name/role claim types:

[code]

[2020-07-15 17:23] #1026 closed, assigned to kevinchalet

[2020-07-23 06:28] vengi83644 commented on #207
@GuilliHo  @kevinchalet  Is there a sample you have for OpenIdDict without EF?

[2020-07-23 09:00] kevinchalet commented on #207
@GuilliHo I wrote this blog post about OpenIddict 3.0's degraded mode, that allows using it without a backing database: https://kevinchalet.com/2020/02/18/creating-an-openid-connect-server-proxy-with-openiddict-3-0-s-degraded-mode/

OpenIddict natively supports EF 6, EF Core and MongoDB, and switching from one to another is quite easy: reference the stores package you need and call the appropriate

[2020-07-28 01:05] kevinchalet opened #1036 "Use T? on unconstrained type parameters when migrating to C# 9"
Roslyn now supports the `?` annotation on unconstrainted type parameters: https://github.com/dotnet/roslyn/pull/45993

Both the EF 6 and EF Core stores use the `[MaybeNull]`/`[AllowNull]` attributes and will have to be updated to use the `?` syntax once we move to a SDK/Roslyn bundle that supports C# 9.

[2020-07-28 01:07] kevinchalet opened #1037 "Enable nullable reference types support in the unit/integration tests projects"
As part of https://github.com/openiddict/openiddict-core/pull/1035, all the OpenIddict projects have been updated to use nullable reference types.
We'll now need to enable them in the unit/integration tests projects and update them accordingly.

[2020-07-31 09:36] #1022 closed, assigned to kevinchalet

[2020-07-31 09:37] #916 closed, assigned to kevinchalet

[2020-07-31 11:13] kevinchalet opened #1042 "Consider updating the Set*EndpointUris methods to block relative paths starting with ~"
OpenIddict 3.0 moved away from ASP.NET Core's `PathString`, that typically blocks paths that don't start with `/`. In 3.0, it uses `Uri` instead and it seems "root-relative" paths are now no longer pro-actively blocked.

We should probably update the `OpenIddictServerBuilder` methods taking a `Uri` or `string` instance when it starts with `~`.

[2020-07-31 16:56] kevinchalet commented on #858
@hishamco @agriffard @sebastienros FYI, OpenIddict 3.0 beta 3 has been entirely updated to use `ResourceManager`/`IStringLocalizer` and all its resource strings are now available in French (except exceptions, assertions and log messages).

It would be nice if we could determine together whether additional languages should be added in the next beta versions to offer a complete localization experien