[2022-08-04 14:33] kevinchalet commented on #1492
Yep, it's the right option: generate a new pair of signing and encryption certificates just like you did for the server certificates.

I opened https://github.com/openiddict/openiddict-core/issues/1496 to track adding logout support in the client.

[2022-08-04 18:24] Thodor12 opened #1497 "Resource server requests result in 403 (insufficient_access)"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

3.x

### Question

Hello, first off thanks for making this amazing library. I'm running into an issue where my resource server is constantly giving back errors saying insufficient_access.

I get the following log (enabled trace logging):
[code]

I find this st

[2022-08-04 18:32] kevinchalet commented on #1497
Hey,

Thanks for your kind words 😄

The line `AuthenticationScheme: OpenIddict.Validation.AspNetCore was forbidden` present in the logs - thanks for including them! - indicates that the 403 error response is likely not triggered by OpenIddict itself but by something else in your pipeline (that called `IAuthenticaticationService.ForbidAsync()`). In most cases, `ForbidAsync()` is indirectly called b

[2022-08-04 18:45] Thodor12 commented on #1497
If I remove the `[Authorize]` attribute entirely (the one I mentioned) it still does not work.

My base controller does have `[Authorize(AuthenticationSchemes = OpenIddictValidationAspNetCoreDefaults.AuthenticationScheme)]` could that have anything to do with it?

[2022-08-04 19:00] kevinchalet commented on #1497
It's unlikely: 403 responses indicate an authorization issue that can't be resolved by (re)authenticating. If there was an authentication issue, you'd get a 401 response.

Can you please add the following event handler in the OpenIddict validation configuration in your API project?

[code]

Then put a breakpoint on the `return default;` line and grab the stack trace from the `trace` variable. This

[2022-08-04 19:15] Thodor12 commented on #1497
[code]
There's more lines below this but those don't seem relevant.
Also, I'm still testing this currently with the authorization policy commented out.

[2022-08-04 19:22] kevinchalet commented on #1497
[code]

It's super weird, the authorization middleware triggers a challenge operation even though authentication seemed successful (in OpenIddict, `Challenge` and `Forbid` are assimilated to the same operation concept and OpenIddict automatically choses between 401 and 403 depending on whether the authentication was initially successful or not).

Try to remove `[Authorize(...)]` and add `var resul

[2022-08-04 19:23] kevinchalet commented on #1497
Ah, I see you edited your message, so my first remark no longer applies (did you forget to attach the token? 😄)

[2022-08-04 19:24] Thodor12 commented on #1497
![2022-08-04 21_24_05-THOM-PC_SQLEXPRESS IPM_Dev - dbo CRM_Company - Microsoft SQL Server Management S](https://user-images.githubusercontent.com/14359461/182935988-ecb70187-9277-4651-abe7-0edf8edb128d.png)
My tokens do get attached to the requests yes

[2022-08-04 19:27] kevinchalet commented on #1497
I meant before you edited your message.

Your updated logs include the following lines:

[code]

This indicates that for some reasons, one of the authorization policies enforced for the request failed and `ForbidAsync()` was called by the authorization middleware. It's definitely not OpenIddict that is triggering this errored response.

Do you see anything related to authorization in the logs?

[2022-08-04 19:35] Thodor12 commented on #1497
I don't have any other logging but everything from OpenIddict, do you know of any way I can debug the authorization policy so I can check if all the requirements pass?

I did notice the following
![2022-08-04 21_33_06-IPMWebsite (Debugging) - Microsoft Visual Studio](https://user-images.githubusercontent.com/14359461/182937544-f96dca1e-bd93-4f71-92a2-f4a72acaf229.png)

The IsInRole check claims I'

[2022-08-04 19:41] kevinchalet commented on #1497
If this check doesn't work, it's likely because the `ClaimsIdentity` doesn't have its `RoleClaimType` correctly configured.
In your claims transformer, do you re-create the `ClaimsIdentity`? If so, do you specify the correct claim type in the constructor?

[2022-08-04 19:46] Thodor12 commented on #1497
The claims transformer returns the original principal passed to it, only modifying the scopes.
The identity says that the RoleClaimType is `http://schemas.microsoft.com/ws/2008/06/identity/claims/role`, does it have to be this exact string?

[2022-08-04 19:47] kevinchalet commented on #1497
It's not the correct value, it should be `role`. Can you share your transformer?

[2022-08-04 19:48] Thodor12 commented on #1497
[code]

[2022-08-04 19:50] Thodor12 commented on #1497
Also here's what the Identity looks like in total:
![2022-08-04 21_50_02-+ Actor = null](https://user-images.githubusercontent.com/14359461/182940304-14320575-d514-4aec-b1ee-77016cb0cda5.png)

(It's what I get from `assertion.User` in the policy)

[2022-08-04 19:52] Thodor12 commented on #1497
Oddly enough, the AuthenticationType says `Server`, I'd expect `Validation` since this is the resource server, is that correct?

[2022-08-04 20:09] kevinchalet commented on #1497
Ahhhhhhh, that's because you use the opt-in ASP.NET Core Data Protection integration (there's an issue in 3.x where the OpenIddict validation handler will allow the DP integration to validate tokens locally even if you enabled introspection but it should be fixed in 4.x: I'll consider backporting this fix to 3.x).

Unlike JWTs, Data Protection tokens preserve the `AuthenticationType`, `NameClaimTy

[2022-08-04 20:12] Thodor12 commented on #1497
You're a lifesaver, I would not have figured that one out 😄, it works like a charm!

[2022-08-04 20:15] kevinchalet commented on #1497
BTW, you can remove `options.AddEncryptionCredentials(encryptionKey);` and `options.UseDataProtection();` as they should have no effect when using introspection.

[2022-08-04 20:16] Thodor12 commented on #1497
I'm not 100% on what everything does, introspection asks the authorization server if the token they received is valid or what does it do?

[2022-08-04 20:17] kevinchalet commented on #1497
Yes, that's exactly what it does (by sending a backchannel HTTP request)

[2022-08-04 20:18] Thodor12 commented on #1497
Alright, good to know, saves me the trouble of having to throw that certificate around to multiple runtimes, haha.
Thanks so much for your help, I'll close this now.

[2022-08-04 20:23] kevinchalet commented on #1497
Glad I could help 😃

[2022-08-05 00:52] feededit commented on #1496
Velusia.Server is the old version and  Velusia.Client is the new version.

[code]

How does signout() work?

[2022-08-05 15:56] #1495 closed, assigned to kevinchalet

[2022-08-05 16:15] kevinchalet commented on #1491
@salimz22 you can email me at contact [at] kevinchalet [dot] com to discuss the details 😃

[2022-08-05 16:15] #1491 closed, assigned to nobody

[2022-08-07 10:16] Thodor12 opened #1501 "Client secrets must always be hashed according to ValidateClientSecretAsync"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Describe the solution you'd like

I've been getting errors in my logs saying that my introspection requests are failing because the client_secret is not a base64 string, this is because I just put a GUID in there for testing purposes.

If you create applications throug

[2022-08-07 12:53] kevinchalet commented on #1501
By scripts, I didn't exactly have "SQL scripts" in mind, but more like minimal setup helper applications that help bootstrap the initial database and use the managers to populate it if necessary.

Bypassing the managers and directly populating the database is not a supported scenario and definitely not something I want to encourage: as you said, the managers (not just the app' one) enforce a lot o

[2022-08-07 13:24] Thodor12 commented on #1501
In that case I just interpreted the meaning of scripts wrong, thanks for the clarification.
I'll just use the manager classes if that is the intended way, thanks!

[2022-08-07 13:24] #1501 closed, assigned to nobody

[2022-08-09 07:37] flyfear opened #1502 "OpenIddict Refresh-Token for native Xamarin.Forms app"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

3.x

### Question

Hello, we are using the OpenIddict server to authorize on the site, and we are also trying to connect the authorization of the Xamarin.Forms application, which should receive Access-token and Refresh-Token.

When setting scope = 'openid' , g

[2022-08-09 12:31] a-a-k commented on #433
is there any point to use reference id tokens?

[2022-08-09 12:38] kevinchalet commented on #433
It's not supported (and  couldn't be implemented in a standard way anyway)

[2022-08-09 12:40] kevinchalet commented on #1502
Hi,

You likely forgot to add `OpenIddictConstants.Permissions.GrantTypes.RefreshToken` to the list of permissions granted to that specific client: https://documentation.openiddict.com/configuration/application-permissions.html#grant-type-permissions.

[2022-08-09 12:40] #1502 closed, assigned to nobody

[2022-08-09 13:10] a-a-k commented on #1502
wouldn't be enough just add it as a plain string `offline_access`?

[2022-08-09 13:14] a-a-k commented on #1502
`["ept:authorization","ept:token","gt:authorization_code","gt:client_credentials","scp:openid","scp:sync_api","scp:offline_access","rst:code"]`

I took out that permissions from OpenIddict db, so that client has that grant type

[2022-08-09 13:16] kevinchalet commented on #1502
No, it doesn't 😄

[2022-08-09 13:22] a-a-k commented on #1502
the scope `offline_access` does not grant this permission?

[2022-08-09 13:24] a-a-k commented on #1502
arrgghh, I compared with other clients and now I see

[2022-08-10 06:58] Thodor12 commented on #1497
Hey, I ran into the bug again but for a different reason now. I'm using the introspection endpoint now so my resource server cannot decode my access token anymore, however the claims identity does not get any scopes anymore. This is because the introspection endpoint doesn't give back any scopes so how would the resource server be able to validate if the token has any of the required scopes to cal

[2022-08-10 11:40] kevinchalet commented on #1497
Hey,

For security reasons, OpenIddict will return a stripped-down introspection response in two cases:
  - The caller is a public client.
  - The caller is not explicitly listed as an audience for the token.

You'll likely want to double-check the client_id of your introspection client is listed when calling `principal.SetResources()`.

Cheers.

[2022-08-10 12:34] Thodor12 commented on #1497
I added audencies to my resource server and authorization server but now it's erroring saying that the authorized party is not valid:
[code]

Authorization endpoint:
[code]

Resource server:
[code]

[2022-08-10 12:43] kevinchalet commented on #1497
As I said in my last post, you must set the resources using `principal.SetResources()`:

[2022-08-10 13:22] Thodor12 commented on #1497
Sorry, I added "api" to `principal.SetResource()` but now I'm getting the error:
[code]

However I can see just prior in the logging:
[code]

[2022-08-10 13:51] kevinchalet commented on #1497
I tested locally with the latest OpenIddict 3.1.1 bits and I wasn't able to reproduce this issue.
Is your application open-source? If it's not, a repro app would help.

[2022-08-10 13:55] Thodor12 commented on #1497
I can add you to the repo, maybe you can see something I don't

[2022-08-10 13:57] Thodor12 commented on #1497
I sent an invite, there's 2 projects, NextLevel.Auth and NextLevel.API, those are the authorization server and resource server respectively.

Both projects have the OpenIddict configuration inside AuthorizationExtensions.cs

[2022-08-10 14:40] kevinchalet commented on #1497
Well, these projects are not exactly "minimal" and need some heavy configuration to run properly 😄
I managed to execute the migrations but I'm eventually blocked by a `HttpContext does not contain any tenant information` exception during the login flow (likely because I end up with a blank database).

If you want me to take a closer look, please provide a minimal repro.

[2022-08-10 14:52] Thodor12 commented on #1497
I'll see if I can put together a minimal repo later 👍🏻

[2022-08-10 18:06] Thodor12 commented on #1497
I tried to replicate the problem by forking the Zirku example and modifying that, but to no avail.

I tried testing in my application a bit before but I'm noticing something strange in the logs.
![2022-08-10 20_00_46-](https://user-images.githubusercontent.com/14359461/183984215-4be9c7cd-550b-45b3-b8fd-559068c1b4d5.png)

Those 3 red critical errors are logged by myself through a custom event:
[cod

[2022-08-10 18:28] Thodor12 commented on #1497
It looks like these are separate requests sent in quick succession, so the logs are probably confused.
This is only happening on my mobile app, not the website, that one turns out to work fine. So I think I have to look at my client side application to see what it's doing.

[2022-08-10 18:32] kevinchalet commented on #1497
You have to call it. Otherwise, it won't work at all as the ASP.NET Core integration won't be registered if you don't.

You're likely on the right track: the logs likely include traces for 2 concurrent requests, with one of them not including the access token and being rejected for this reason.

[2022-08-12 19:19] Thodor12 commented on #1497
Hey, after some further debugging it doesn't seem to be 2 independent requests, I've fixed some problems in my mobile app but the `missing_token` problem keeps occuring, one request seems to go all the way through the logs that I showed, it's 1 complete request.

Full log for a singular request here: https://gist.github.com/Thodor12/3895ddbb97d7bca40de7548bd11b63a3
This log is repeated twice in th

[2022-08-12 20:38] kevinchalet commented on #1497
It's actually not exactly the OpenIddict transaction but the attached ASP.NET Core `HttpContext` that seems to have a null `Authorization` header in the second part of the logs. And in this case, since the header is not present, OpenIddict does the right thing when it rejects the request.

To be frank, the logs you shared don't make much sense to me at all: the `ProcessAuthentication(Context)` eve

[2022-08-12 21:40] Thodor12 commented on #1497
My god I think I finally see the problem, I'm using localtunnel to be able to actually access the API on the application I'm running on my phone, and I saw this in the logs:
[code]
It's doing a https redirect to the localtunnel domain, that's probably why it loses it's token...

I feel sorry for blaming the problem on OpenIddict, I didn't think this could've been the problem, I'm just gonna go rew

[2022-08-12 21:41] #1497 closed, assigned to nobody

[2022-08-13 00:12] timbze opened #1503 "Database store support for LinqToDB"
### Confirm you've already contributed to this project or that you sponsor it

- [ ] I confirm I'm a sponsor or a contributor

### Describe the solution you'd like

I'm working on adding LinqToDB support by using EntityFrameworkCore and MongoDb as references. Is this something you'd be interested to add to this repo? Would you be happy for a PR?

### Additional context

_No response_

[2022-08-13 00:21] kevinchalet commented on #1497
Ockham would love that 🤣

No problem 😄

I'll upgrade the sponsor a level since this has basically become a second support request within the first one 😄

Glad I could help! Thanks for sponsoring the project 👍🏻

[2022-08-13 08:25] jacojvv-dev opened #1504 "Setting Up JwtBearerEvents"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

3.x

### Question

I have been trying for a couple of days now to set up JwtBearerEvents with no luck and was hoping someone here could help me out.

I have tried it in a couple of ways but I can't get it to work,

Attempt 1:
[code]

Attempt 2:

[code]

For re

[2022-08-13 12:27] kevinchalet commented on #1504
Thanks for sponsoring the project! 😃

In general, trying to mix both the JWT bearer and OpenIddict validation handlers is the sign of an invalid configuration: your first snippet creates an instance of the JWT bearer handler but it's not used and the JWT bearer options have no effect on the OpenIddict validation handler. The second snippet has also no effect because `EventsType` is not used by the

[2022-08-13 12:30] kevinchalet commented on #1503
Thanks for your offer! Unfortunately, maintaining many stores on the long term has a very high cost and the demand for LinqToDB is sadly way too low to justify having "official" support (you're the first one mentioning it here).

That said, I'd encourage you to open source them and release them under your own name on NuGet. If you're fine with that, I can add a link in the docs to mention your wor

[2022-08-13 13:25] jacojvv-dev commented on #1504
Not a problem at all. Thanks for the prompt response.

I'm glad to see that this is supported without needing any changes from my side. I do however have a different case where I need to add claims to the principal on the resource server because the authorization server is not responsible for managing roles (a lot of effort to migrate as we are moving away from Azure B2C as our solution).

This is

[2022-08-13 13:58] kevinchalet commented on #1504
You have two options:
  - Using ASP.NET Core, by implementing `IClaimsTransformation`: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/claims?view=aspnetcore-6.0#extend-or-add-custom-claims-using-iclaimstransformation

  - Using OpenIddict, using its event model:

OpenIddict 3.x:

[code]

[code]

OpenIddict 4.x, using the new `ValidateToken` event triggered by `ProcessAuthenti

[2022-08-13 15:21] timbze commented on #1503
Ok no worries! 😄

What is good and acceptable practice regarding the namespace? Should I use OpenIddict.LinqToDB, or should I rather use something else instead of OpenIddict?

I'll let you know when it's done so you can link to it if you wish.

[2022-08-13 15:48] kevinchalet commented on #1503
The `OpenIddict` prefix is reserved so you'd get an error if you tried to upload a package named `OpenIddict.LinqToDB`.
The recommended approach is to name it `[name of your company].OpenIddict.LinqToDB` or `[your name].OpenIddict.LinqToDB`.

Let me know if you need any additional information 😃

[2022-08-13 15:58] timbze commented on #1503
Great, thanks!

[2022-08-14 11:49] feededit commented on #1496
When will you complete  adding logout support in the client?

[2022-08-14 12:59] jacojvv-dev commented on #1504
Thanks for the help. I ended up using `IClaimsTransformation` with minimal changes required and it is all working as expected.

[2022-08-14 13:01] kevinchalet commented on #1504
Awesome 👍🏻

[2022-08-14 13:01] #1504 closed, assigned to nobody

[2022-08-16 10:34] #1492 closed, assigned to nobody

[2022-08-16 10:34] #1456 closed, assigned to nobody

[2022-08-16 10:34] #1426 closed, assigned to nobody

[2022-08-16 10:34] #1447 closed, assigned to nobody

[2022-08-16 10:35] #1446 closed, assigned to nobody

[2022-08-16 10:35] #1496 closed, assigned to kevinchalet

[2022-08-16 10:36] kevinchalet commented on #1496
@feededit support will be available in the next preview.

[2022-08-17 09:27] indranilatcal commented on #582
Hi @kevinchalet

I tried to add multi-tenancy based on option 2 suggested in https://stackoverflow.com/questions/49596938/openid-connect-identifying-tenant-during-login/49682427#49682427 (i.e. by "Override the options monitor used by OpenIddict to use per-tenant options". However, the well-known config is not available under /mytenantname/.well-known/openid-configuration. Likewise, when I try to h

[2022-08-19 12:41] timbze commented on #1503
Hey Kevin, I'm about done with [the library](https://github.com/TecMeet/tecmeet-openiddict-linq2db) (without actual testing yet)... I'm wondering about tests for Stores, e.g. `OpenIddictEntityFrameworkCoreApplicationStore`, I don't find any tests for that class, and the other 3 Stores. Have they just not been created or am I not finding them?

Do you think unit tests would be beneficial or should

[2022-08-19 12:59] kevinchalet commented on #1503
Hey,

Yep. It was on my radar at some point but I never had enough time to work on that. As you said, such tests would need to be integration tests to be truly useful. The code in the stores is fairly boring as they are basically simple wrappers around the underlying provider methods: all the interesting parts (persistence and queries) are actually evaluated by the provider itself.

Setting the in

[2022-08-19 19:57] timbze commented on #1503
Hmm it does seem like a huge job that I won't have enough time for at this point. I realized that the stores have a quite a few methods that don't use the database and can be perfectly tested with unit tests. I started with ApplicationStore and already spent a few hours to get it mostly covered, but whew! Will have to see when I can take more time to continue with the other 3 stores.

[2022-08-19 19:57] #1503 closed, assigned to nobody

[2022-08-22 22:18] kevinchalet commented on #1492
@feededit FYI, logout support was added in 4.0.0-preview3, that was released today: https://github.com/openiddict/openiddict-core/releases/tag/4.0.0-preview3

Both the Velusia and Mortis client samples were updated to target preview3:
  - https://github.com/openiddict/openiddict-samples/tree/dev/samples/Velusia/Velusia.Client
  - https://github.com/openiddict/openiddict-samples/tree/dev/samples/Mo

[2022-08-26 12:37] nestedclasses commented on #864
After I use EnableTokenEndpointPassthrough() also I am facing same error.

     "error": "invalid_request",
    "error_description": "This server only accepts HTTPS requests.",
    "error_uri": "https://documentation.openiddict.com/errors/ID2083"

I am using .Net Core 6 API project. Hosted in AWS ECS
Anyone please help me on this

[2022-08-26 12:45] nestedclasses commented on #864
After I use EnableTokenEndpointPassthrough() in my .Net Core 6 API project I am getting same error.

"error": "invalid_request",
    "error_description": "This server only accepts HTTPS requests.",
    "error_uri": "https://documentation.openiddict.com/errors/ID2083"

Could anyone help me on this please

[2022-08-27 15:26] zhlavinka commented on #863
THANK YOU for adding that. It would have taken me a long time to catch that *facepalm*

[2022-08-29 12:43] a-a-k commented on #1401
Did I understand that correctly, I have to implement refreshing myself if I use MS OIDC client? I was thinking it's going silently, but when checked this I got that refresh token flow never initiates.

[2022-08-31 08:50] feededit commented on #1492
Ask about [client options].

### LogIn

    public ActionResult LogIn(string returnUrl)
    {
        var properties = new AuthenticationProperties(new Dictionary<string, string>
        {
            // [OpenIddictClientAspNetCoreConstants.Properties.Issuer] = "https://localhost:44313/"
        })

[code]
    }

login works.

but why doesn't logout work?

[2022-09-02 07:37] feededit commented on #1492
[HttpPost("~/logout"), ValidateAntiForgeryToken]
    public async Task<ActionResult> LogOut(string returnUrl)
    {

It's not an error, but I fixed it like this:

    [HttpGet("~/logout"), HttpPost("~/logout"), ValidateAntiForgeryToken]
    public async Task<ActionResult> LogOut(string returnUrl)
    {

[2022-09-05 11:49] nesheimroger commented on #1387
This might be slightly unrelated, but I have been looking over the code trying to figure out if this is a match for our project that is currently using ASOS and is in need of an upgrade. Looking at the sample code for clients it adds the core components and uses the entity framework stores. The way I look at it this should never be the case since its the servers job to communicate with the databas

[2022-09-05 15:05] kevinchalet commented on #1387
The sample is correct and the integration of the core managers is a deliberate design choice. By default, the OpenIddict client works in a **stateful** mode: it creates and persists state tokens the same exact way the server stack creates authorization codes or refresh tokens (with automatic redeeming, replay protection and reference identifiers), so reusing the same token manager instead of havin

[2022-09-06 08:06] Camuvingian commented on #1486
Hi @kevinchalet, sorry to dig this up again, but I am seeing my token and authorization collection bloat again. Based on the thread above, I reduced the token lifespan to 7 days, but the tokens and authorizations are not being pruned.  It seems like I am not configuring this correctly; some further questions if you would be so kind:

1. Does OpenIddict automatically set the token and authorization

[2022-09-06 08:34] Camuvingian commented on #1486
In the live Development environment with logging switched on - I only ever see

2022-09-06T08:25:59.867635734Z [08:25:59.864 DBG] [] [Quartz.Core.QuartzSchedulerThread] Batch acquisition of 0 triggers
2022-09-06T08:26:24.752237178Z [08:26:24.751 DBG] [] [Quartz.Core.QuartzSchedulerThread] Batch acquisition of 0 triggers
2022-09-06T08:26:50.775855402Z [08:26:50.775 DBG] [] [Quartz.Core.QuartzSchedu

[2022-09-06 11:57] kevinchalet commented on #1486
Hi,

No, the pruning job doesn't change the status and directly uses the `expiration_date` field to determine whether the expiration date has been reached or not.

[code]

Try using `IOpenIddictTokenManager.PruneAsync()` and `IOpenIddictAuthorizationManager.PruneAsync()` manually with the threshold of your choice to see if it correctly removes the expired tokens.

[2022-09-09 13:59] #1486 closed, assigned to nobody

[2022-09-16 13:53] salimz1 opened #1510 "Openiddict openiddictRequest object in login controller returns null"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

3.x

### Describe the bug

Hi
In authorization flow, when control reach to authorization controller, am able to access openiddictRequest Object successfully using below code
 var request = HttpContext.GetOpenIddictServerRequest() . (Ref Image 01_authorize_meth

[2022-09-16 13:54] #1510 closed, assigned to kevinchalet

[2022-09-16 14:02] salimz1 commented on #1510
have not received any response.  Is there any reason/response to close that. Or do i need to put in some other category. Please let me know.

[2022-09-16 14:09] kevinchalet commented on #1510
Hi,

As (clearly) indicated in the issue template, tickets opened by people who don't sponsor or contribute to the project are automatically closed:

![image](https://user-images.githubusercontent.com/6998306/190658455-5b79f665-dd94-4774-bcec-7018936d7dd0.png)

Cheers.

[2022-09-16 14:18] salimz1 commented on #1510
Hi Kevin, have sponsored now. can you please look into the issue and guide me.(#1510)

[2022-09-16 14:48] kevinchalet commented on #1510
Thanks!

The behavior you're seeing is not a bug and is completely expected: your login endpoint is not an endpoint managed by OpenIddict so `HttpContext.GetOpenIddictServerRequest()` will always return `null`.

To achieve what you want, you must manually flow the parameters you need between the authorization endpoint (your `/connect/authorize` action) and your login endpoint. For that, you can at

[2022-09-17 07:20] salimz1 commented on #1510
Thanks Kevin for the quick support. It is helpful. I can try the suggested options to render view.

[2022-09-20 07:22] aldari commented on #1329
Hello, how proper is to use ValidIssuers for a such case ? This settings allow to keep public issuer uri unchanged and pass internal address calls to identity from internal api services. From my point it works.

[code]

[2022-09-20 10:35] a-a-k opened #1511 "Refresh token flow in ASP.NET Core MVC environment"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

3.x

### Question

Hi, Kévin!

1. Could you provide some sample(-s) where refreshing tokens is implemented for MVC with cookie authentication scheme? If not, could you give us some ideas how it could be implemented? I found [this one](https://github.com/mderri

[2022-09-20 11:25] Thodor12 opened #1512 "Signing certificate invalid on production in docker container"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

3.x

### Question

I've deployed my application using docker to a server, I've generated certificates using OpenSSL and passed them as a volume to my docker container.

When the application starts up I get an exception in the log saying:
[code]
This is an exce

[2022-09-20 13:52] kevinchalet commented on #1512
Can you try generating the certificates without OpenSSL? There's a snippet in the OpenIddict docs that uses the (excellent) .NET `CertificateRequest` API: https://documentation.openiddict.com/configuration/encryption-and-signing-credentials.html#registering-a-certificate-recommended-for-production-ready-scenarios

[2022-09-20 14:25] kevinchalet commented on #1511
Hey,

Unfortunately, I don't have a public sample for this scenario, but:
  - There's nothing built-in in ASP.NET Core to handle token management so it's necessarily something you have to implement yourself.
  - The link you shared is indeed one way to implement it (i.e using the events model of the cookie handler to refresh the tokens contained in the cookies when it's about to expire).
  - If yo

[2022-09-20 16:31] Thodor12 commented on #1512
That did not give me a whole lot of progress, I have had to remove the data protection stuff because it errored with the exact same problem, I do not know which flags to attach to that. I've changed the code to:
[code]

However I am getting the exception:
[code]

I think underwater this is still for the same reason as the other exception

[2022-09-20 16:56] kevinchalet commented on #1512
How do you register the certificate? Using the `Add*Certificate(X509Certificate2)` overload?

Can you please try to run `CryptoConfig.CreateFromName("SHA256")` and see what it returns on Docker?

[2022-09-20 17:11] Thodor12 commented on #1512
I use the
[code]
overloads.

That cryptoconfig returns
![2022-09-20 19_05_39-IPMWebsite (Debugging) - Microsoft Visual Studio](https://user-images.githubusercontent.com/14359461/191320859-f301b452-890f-433e-9ca6-489a5188fe03.png)
but that is not in the docker.

So how would I log that instance, if it's an instance of SHA256Managed inside Docker is it good enough or are you looking for a specific p

[2022-09-20 17:14] Thodor12 commented on #1512
Inside Docker on my server this prints an empty line (when just print `x` by using `Console.WriteLine`) so I'm assuming it's NULL

[2022-09-20 17:14] kevinchalet commented on #1512
I only need to know whether null is returned or not and what's the actual type if an instance is returned. Something like `Console.WriteLine(CryptoConfig.CreateFromName("SHA256")?.GetType().FullName)` should be enough 😃

[2022-09-20 17:16] kevinchalet commented on #1512
It's going to be a fun one to debug 🤣

I'll need more information before involving someone from the .NET team:
  - Do you use assembly trimming?
  - What .NET version do you target?

[2022-09-20 17:18] Thodor12 commented on #1512
I have no clue what assembly trimming means but if you refer to this then yes:
[code]

I target .NET 6.

Full DockerFile for reference:
[code]

[2022-09-20 17:19] kevinchalet commented on #1512
Can you try without `-p:PublishTrimmed=true`? It's likely the root cause of your pain 😄

[2022-09-20 17:21] Thodor12 commented on #1512
Let's hope the images fit on my registry because that makes them quite a bit bigger now

[2022-09-20 17:23] Thodor12 commented on #1512
Alright, short of the fact that my production app attempts to talk to localhost now that did it 🤣
Next time I'll just leave the docker file they give me as-is and not follow some janky tutorial on how to make it (they told me to add that line).

Thank you so much though, I've been stuck on this for a while and neither StackOverflow nor the C# Discord server were really any help!

[2022-09-20 17:32] kevinchalet commented on #1512
My pleasure 😄

So, as I suspected, the root cause is that `CryptoConfig.CreateFromName()` (used by OpenIddict to resolve hash algorithms in a dynamic and configurable way) is likely not trimming-friendly so when the linker kicks in, the `SHA256` type (and its actual implementations) is considered "unused" and removed from its assembly (and thus cannot be resolved by `CryptoConfig.CreateFromName()`

[2022-09-20 21:02] bartonjs commented on #1512
You're correct, which is why `CryptoConfig.CreateFromName` is painted with `[RequiresUnreferencedCode("The default algorithm implementations might be removed, use strong type references like 'RSA.Create()' instead.")]`.

It might work to just have strong references somewhere else in your code; but in the BCL we never call into CryptoConfig, just use our own switchafalls (e.g. https://github.com/do

[2022-09-20 21:50] kevinchalet commented on #1512
Makes total sense. While OpenIddict itself doesn't enable trimming support on its assemblies (yet), enabling it at the app-level actually affects it directly given the linker treats all assemblies as a whole, so yeah, not unreasonable 😄

I guess a good approach preserving the ability to swap implementations while making it trimming friendly would be to use something like `CryptoConfig.CreateFromNa

[2022-09-20 22:02] bartonjs commented on #1512
Yeah, I almost said "aside from SignedXml and EncryptedXml".  They're legacy components that we basically don't touch.

[2022-09-20 22:11] kevinchalet commented on #1512
Makes sense, thanks for your insights 😃

I don't see in the docs that trimming might break ASP.NET Core Data Protection when using key protection via a certificate. Should that be mentioned somewhere?

[2022-09-20 22:20] bartonjs commented on #1512
I think it hasn't come up automatically yet because we haven't finished [trimmer analysis on System.Security.Cryptography.Xml](https://github.com/dotnet/runtime/issues/73432).  That's not to say that wherever the data protector lives wouldn't benefit from a nudge to let them know they might want to draft a "how to make data protector happy in this scenario" doc.

[2022-09-21 04:23] a-a-k commented on #334
can somebody tell me what is the reason of returning `Task.FromResult(0)` instead of `Task.CompletedTask`?

[2022-09-21 04:44] a-a-k commented on #1511
Big thanks for advertising your competitors! :grin: I've taken a brief and realized there are no nuget packages released, what a weird thing...

About silent re-authentication, sorry, I didn't get - is it implemented in MS OIDC client and switched on by default? The fact is that it works, but I am unable to understand which part is responsible and where can we configure the process.

[2022-09-21 09:14] jwillmer commented on #1489
@kevinchalet I'm looking at a similar use case and have one question regarding your example in this task:

You propose to add a new parameter to the authentication cookie if the parameter value was defined/transferred by the request. That means each app that supports the impersonation of a user has to implement a check if this parameter exists and then use this information to display the (imperson

[2022-09-23 21:16] arthursmuller opened #1513 "Audience not authentication with [Authorize(Roles = "XXX,XXX")]"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

3.x

### Describe the bug

Audience micro services are not being able to retrieve roles information

### To reproduce

### Exceptions (if any)

_No response_

[2022-09-23 22:59] #1513 closed, assigned to nobody

[2022-09-26 13:20] kevinchalet commented on #1511
🤣
You can find the package on NuGet.org: https://www.nuget.org/packages/Duende.AccessTokenManagement

What we name "silent re-authentication" is just a regular authorization request with `prompt=none` sent from an iframe, which is not something the server-side MSFT OIDC handler does (which makes sense). A server-side component like the MSFT OIDC handler can definitely create a `prompt=none` reques

[2022-09-26 13:22] kevinchalet commented on #1392
After thinking about it, supporting multiple client registrations for the same issuer would be incompatible with webfinger-based discovery, should OpenIddict implement it in the future. Closing as _wontfix_.

[2022-09-26 13:22] #1392 closed, assigned to kevinchalet

[2022-09-27 07:23] Kaushal-Goswami opened #1516 "how to use OpenIddictTokenManager in openiddict (2.0.1)"
### Confirm you've already contributed to this project or that you sponsor it

- [ ] I confirm I'm a sponsor or a contributor

### Version

2.x (no longer supported)

### Question

Is there any way to trigger revoke all valid token of a user in openiddict version 2.0.1,
i added following code in my controller (took reference from issue #642 ,#380,#381)-
.....
OpenIddictTokenManager<**OpenIddictTok

[2022-09-27 10:39] AKlaus commented on #628
Confirm the issue on .NET 6, Windows 10 (doesn't happen on macOS and Linux).
It's occurred on the client side, so clearly the .NET Identity problem, not OpenIdDict. I suspect it's caused by a self-issued certificate.
Also confirm that setting `options.MetadataAddress` and `options.RequireHttpsMetadata` (as discussed above) didn't make a difference.

[2022-09-27 11:45] #1516 closed, assigned to nobody

[2022-09-28 12:53] Kaushal-Goswami commented on #1432
Hi @stantoxt ,

I have similar requirements. I saw above code, I have doubts -

1.  How **_applicationManager** and **_tokenManager** declared, and any additional config required in startup.cs file?

2. var descriptor = new **CustomOpenIddictTokenDescriptor()**;
Is CustomOpenIddictTokenDescriptor() your custom code, if yes can you please provide that code?

Thanks

[2022-09-29 14:16] a-a-k commented on #1511
Okay, could you hint that to me, how can I configure ReturnUrl for silent authentication? I still don't understand the mechanism how it is implemented and where to dig. It just somehow works.

[2022-10-03 16:26] Shayan-To commented on #1387
@kevinchalet I'm reading blog posts and docs, and one thing is bothering me. I cannot pronounce OpenIddict. How should I pronounce it? Is it like open addict but open iddict instead?!

(Sorry, I didn't know where to ask this question, so I ended up posting it here.)

[2022-10-03 16:51] kevinchalet commented on #1387
Yep, that's the right way to pronounce it. As you likely guessed, the name is a play on words (OpenID + Addicted -> OpenIddict). It was originally intended to be a codename only, but the name was cool so I kept it for the final project name 😄

[2022-10-11 17:03] dicksonkimeu commented on #976
Am having below error. Have added the cert file on the web root server

2022-10-11 20:01:14.125 +03:00 [INF] Starting web host.
2022-10-11 20:01:15.120 +03:00 [FTL] Host terminated unexpectedly!
Volo.Abp.AbpInitializationException: An error occurred during ConfigureServicesAsync phase of the module Volo.Abp.OpenIddict.AbpOpenIddictAspNetCoreModule, Volo.Abp.OpenIddict.AspNetCore, Version=6.0.0.0,

[2022-10-13 14:26] kevinchalet commented on #976
@dicksonkimeu https://support.abp.io/QA/Questions/3537/OpenIddict-WindowsCryptographicException-Access-is-denied should put you on the right track 😃

[2022-10-13 14:53] kevinchalet commented on #976
@dicksonkimeu FYI I updated the OpenIddict documentation to mention more clearly that the development certificates feature is not meant to be used on IIS/Azure App Service (https://documentation.openiddict.com/configuration/encryption-and-signing-credentials.html#registering-a-development-certificate) and I'll see with the ABP team whether they can also mention that in the ABP documentation: https

[2022-10-14 22:23] Bazaillion opened #1534 "Keycloak"
### Personal contribution

- [ ] I'm not interested in submitting a pull request and understand that this provider may not be implemented in the near future without my contribution.

### Provider name

Keycloak

### Provider address

keycloak.org

### Documentation page

https://www.keycloak.org/documentation

### Supported environments

_No response_

### OpenID Connect discovery/OAuth 2.0 author

[2022-10-15 01:07] #1534 closed, assigned to kevinchalet

[2022-10-18 16:23] amadare42 commented on #863
Another stupid mistake that can cause this is forgetting to set `app.UseAuthentication()` in Startup.

[2022-10-19 09:20] salimz1 opened #1541 "scopes format in access token"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

3.x

### Question

Hi Kevin,
We would like to have scopes format in access token as an array. However whenever request include standard scopes "openid offline_access" it always shows a string in the access token using JWT.io. When there is no standard scopes (

[2022-10-19 09:50] salimz1 commented on #1541
Sponsored.

[2022-10-19 12:04] salimz1 commented on #1541
[github-salimz1-receipt-2022-10-19.pdf](https://github.com/openiddict/openiddict-core/files/9820225/github-salimz1-receipt-2022-10-19.pdf)

[2022-10-19 13:44] kevinchalet commented on #1541
Hi,

In OpenIddict 3.x, the public `scope` claim is always represented as a space-separated string in access tokens, as required by the specification: https://datatracker.ietf.org/doc/html/rfc9068#section-2.2.3 (https://datatracker.ietf.org/doc/html/rfc9068#section-3).

OpenIddict's `GetScopes()`/`SetScopes()` use private `oi_scp` claims that are mapped from/to `scope` at runtime, so you can do `p

[2022-10-20 04:49] shao200 opened #1543 "Can you provide an aspnetcore MVC mode client?"
### Version

3.x

### Question

I used 3.x to build MVC three projects, server, client, webapi, I want to get webapi data through client, I refer to the zirku project and other projects but can't access, I don't know why? Can you make a client example of aspnetcore's MVC mode?

[2022-10-20 04:51] #1543 closed, assigned to nobody

[2022-10-20 14:02] kevinchalet opened #1546 "Investigate why build errors are not correctly reported in GitHub Actions"
For reasons I ignore, xUnit tests don't cause builds to fail as they should. E.g: https://github.com/openiddict/openiddict-core/pull/1545.
Trying to bump Arcade to the latest RC2 didn't help, sadly.

[2022-10-21 11:51] kevinchalet commented on #1534
Hum, looks like my message wasn't sent correctly when I posted it.

Thanks for your suggestion.
I went ahead and added support for Keycloak as part of the 4.0.0-preview4 release: https://www.nuget.org/packages/OpenIddict.Client.WebIntegration/4.0.0-preview4.22517.68. Don't hesitate to test it and share your feedback.

Cheers.

[2022-10-24 02:50] shao200 commented on #285
I can't test the zirku project at all, can't access the api through the Client

[2022-10-24 03:10] shao200 commented on #1541
var token = await HttpContext.GetTokenAsync(
                CookieAuthenticationDefaults.AuthenticationScheme,
                OpenIdConnectParameterNames.AccessToken);
                var t = await blogClient.GetBlogsAsync(token, ct);
I got the token, but I can't access the API using the method below:
 public async Task<Blog[]> GetBlogsAsync(string token, CancellationToken ct)
        {

[2022-10-24 03:18] shao200 commented on #1387
var token = await HttpContext.GetTokenAsync(
CookieAuthenticationDefaults.AuthenticationScheme,
OpenIdConnectParameterNames.AccessToken);
var t = await blogClient.GetBlogsAsync(token, ct);
I got the token, but I can't access the API using the method below:
public async Task<Blog[]> GetBlogsAsync(string token, CancellationToken ct)
{
_client.DefaultRequestHeaders.Authorization =
new AuthenticationH

[2022-10-25 17:26] #1541 closed, assigned to nobody

[2022-10-28 09:34] salimz1 opened #1554 "Redirect URI issue in openiddict 'redirect_uri' parameter must be a valid absolute URL'"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

3.x

### Question

Hi Kevin
While running one of the client application, we are getting the following error in the authorization flow.

The 'redirect_uri' parameter must be a valid absolute URL

We have configured redirect URI as   'http://dev.test.com/v2/#/de

[2022-10-28 09:59] kevinchalet commented on #1554
Hi,

The error you're getting is sadly clear about what's wrong: you're specifying a **malformed URL** as a valid URL cannot include two fragments. BTW, OpenIddict performs the same check when creating the client application via `IOpenIddictApplicationManager` so it's likely you bypassed it by directly injecting this invalid URL in the database, which is not a recommended (or supported) scenario.

[2022-10-28 15:51] salimz1 commented on #1554
Thanks Kevin for your response. As client application is Vue.js application which do not have more control. Is there any way where can skip these validation for redirectURI and PostLogoutURI so that application can work.

[2022-10-28 17:15] kinosang commented on #1554
u may use a device flow to avoid uri checks

[2022-10-29 06:52] salimz1 commented on #1554
Have tried with below code snippet..but not sure about how to handle same validation for post logout URI and all other validation that openiddict framework out of the box performs.
 options.AddEventHandler<OpenIddictServerEvents.ValidateAuthorizationRequestContext>(builder =>
                {
                    builder.UseInlineHandler(context =>
                    {
                        //v

[2022-10-31 09:59] salimz1 commented on #1554
HI Kevin,
Would you let us know if anything can be done to skip validation for post logout redirect uri and redirect URI..

[2022-10-31 13:01] kevinchalet commented on #1554
Would you let us know if anything can be done to skip validation for post logout redirect uri and redirect URI..

Validation of callback URLs is one of the most **critical** parts of OAuth 2.0. Skipping it completely is not a good idea at all and will result in token leakages, ruining the entire security of your system.

The right and only reasonable approach in your case is to fix the client to u

[2022-10-31 15:57] salimz1 commented on #1554
Thanks Kevin for quick response. Agree with you and trying to push 3 rd party to give URL without fragment.

After running above code, We are still getting error for post logout redirect URI, the 'post_logout_redirect_uri' parameter must not include a fragment. If you could share event handler for post logout redirect URI to remove, would be helpful

[2022-10-31 17:16] kevinchalet opened #1555 "Normalize uses of `CryptoConfig` and fall back to the static algorithm factory methods to support trimming"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Describe the solution you'd like

OpenIddict itself doesn't support trimming yet, but since it uses `CryptoConfig.Create(...)` to resolve crypto algorithms and allow swapping them at runtime, it's indirectly affected by trimming once it's enabled at the application lev

[2022-10-31 17:17] kevinchalet commented on #1512
Improvements are tracked by https://github.com/openiddict/openiddict-core/issues/1555.

[2022-10-31 17:17] #1512 closed, assigned to nobody

[2022-11-02 03:16] #1555 closed, assigned to kevinchalet

[2022-11-02 03:18] kevinchalet commented on #1554
Should be something like this:

[code]

Again... at your own risks 🤣

[2022-11-02 09:09] salimz1 commented on #1554
Hi Kevin, have put the same code using in line event handler in my class for validateAuthrization request and ValidateLogoutRequestContext. but both events continues fires and it goes to indefinite loop after login process. Below is the code for reference.
//** to ignore the validation of redirectUriParameter
options.RemoveEventHandler(OpenIddictServerHandlers.Authentication.ValidateRedirectUriPar

[2022-11-03 02:25] kevinchalet opened #1558 "Add `AddClaim`/`SetClaim` overloads accepting `bool` and `long`"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Describe the solution you'd like

Previous previews introduced revamped `AddClaim()`/`SetClaim()` extensions, but no overload accepting `bool` and `long`.

### Additional context

_No response_

[2022-11-03 02:26] kevinchalet commented on #1554
Hey. Without seeing logs or a network trace, it's impossible to give any clue, sadly 😕

[2022-11-08 00:02] #1554 closed, assigned to nobody

[2022-11-09 10:10] 1alikhan commented on #361
This stack overflow post might be helpful in implementing the PruneAsync method in azure function.
[](url)https://stackoverflow.com/questions/74316330/delete-the-expired-or-invalid-openiddict-tokens-used-in-azure-function

[2022-11-09 12:34] SebastianStehle opened #1567 "ETA for 4.x"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

3.x

### Question

Hi,

do you have an ETA for 4.x or will your provide an update for 3.x and .NET 7. I am not in hurry, I just want to plan it.

[2022-11-09 13:43] kevinchalet commented on #1567
Hi Sebastian,

OpenIddict 4.0 RTM is expected to ship early December so our friends at Volosoft can use it in ABP 7.0 😃

In the meantime, OpenIddict 3.1.1 works fine on ASP.NET Core 7 and only requires using an ASP.NET Core compatibility switch when the validation _xor_ server feature is used alone without any other authentication handler (e.g ASP.NET Core Identity). More information here: https:/

[2022-11-09 17:52] SebastianStehle commented on #1567
Btw: This is the switch you have to turn on:

[code]

Also mentioned here: https://learn.microsoft.com/en-us/dotnet/core/compatibility/aspnet-core/7.0/default-authentication-scheme

[2022-11-09 18:02] kevinchalet commented on #1567
@SebastianStehle yup, that's the right one. Is Squidex affected?

[2022-11-09 18:10] SebastianStehle commented on #1567
I have not upgraded Squidex yet, I am working on https://github.com/notifo-io/notifo as a first test. To be honest I have no idea whether I am affected or not, if the flag helps I will just turn it on for now ;)

[2022-11-09 18:14] kevinchalet commented on #1567
Nice. Don't hesitate to keep me informed 😃

In practice, applications that are affected are in most cases microservice-oriented authorization servers that only use the OpenIddict server feature without Identity. Not sure if it's your case or not 😄

[2022-11-09 18:24] SebastianStehle commented on #1567
No, usually you have at least 5 authentication methods I guess:

* Cookie
* Google
* Github
* Microsoft
* OpenIdDict

The migration was incredibly smooth. A few nullable changes, in 3-4 files, but thats it.

[2022-11-10 18:47] kevinchalet commented on #1546
It's actually not just unit tests: all errors returned as part of the MSBuild execution don't result in a non-`0` error code being returned by the CI scripts.

I took some time to investigate and the root cause is this change in .NET Arcade: https://github.com/dotnet/arcade/pull/6635.
TL;DR: to avoid logging errors twice on Azure Pipelines, Arcade returns a `0` status code from the build script, w

[2022-11-10 18:57] kevinchalet commented on #1546
Done: https://github.com/dotnet/arcade/issues/11589.

[2022-11-11 18:40] #1558 closed, assigned to kevinchalet

[2022-11-11 21:34] jdebache commented on #1202
Hello @kevinchalet,

I faced the same issue as @drsmile1001 and solved it the same way. However, I simply do not understand why this works and it feels hacky. What I would expect is that:
[code]
and
[code]
are doing the same thing, but evidently they don't. From the code, I can see that they use the type `Claims.Private.Scope`. Is that the difference ? Why is it using this `Private` type instead o

[2022-11-12 01:37] kevinchalet commented on #1202
Hey @hypdeb,

Great, thanks for that! 😃

It's important to note that the standard `scope` claim actually only became a standard thing in October 2021 with the [JSON Web Token (JWT) Profile for OAuth 2.0 Access Tokens](https://datatracker.ietf.org/doc/html/rfc9068) specification. And as the name implies, it's only a standard claim for JWT access tokens, not for all types of JWT tokens (OpenIddict i

[2022-11-15 13:59] maliming opened #1577 "Destination array is not long enough to copy all the items in the collection. Check array index and length."
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

`4.0.0-preview5.22557.92`

### Describe the bug

There seems to be a problem with the code here.

https://github.com/openiddict/openiddict-core/blob/51c09bec8a3bea75d8d72ad5c18c81d4e40e5a9b/src/OpenIddict.Server/OpenIddictServerHandlers.Protection.cs#L1330-L13

[2022-11-15 20:39] kevinchalet commented on #1577
Thanks for the report, @maliming.

This regression (_12 bits vs 12 bytes_ 😅 ) was caused by https://github.com/openiddict/openiddict-core/pull/1556. I'll make sure it's fixed in the next preview, as it prevents the device code flow from working properly.

[2022-11-16 01:13] paluru1 opened #1578 "How to use existing ClientId/Secret from IdentityServer4"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

4.x (in preview)

### Question

Hi,

Currently we are using IdentityServer4 and planning to use OpenIddict, but we would like to keep the existing Auth DB so that there should not be any impact on existing clients to use the same ClientId/Secret.

Please let m

[2022-11-16 02:52] kevinchalet commented on #789
BouncyCastle 2.0 was released earlier today: https://github.com/bcgit/bc-csharp/pull/68#issuecomment-1314922176 :tada:

[2022-11-16 03:10] #1577 closed, assigned to kevinchalet

[2022-11-16 03:44] kevinchalet commented on #1578
Hi @paluru1,

As indicated in the issue template, support is reserved to sponsors. If you need dedicated assistance, please consider becoming a sponsor 😃

Cheers.

[2022-11-16 03:44] #1578 closed, assigned to nobody

[2022-11-16 03:45] #789 closed, assigned to kevinchalet

[2022-11-16 17:04] kevinchalet commented on #1577
@maliming FYI, OpenIddict 4.0 preview6 was just pushed to NuGet.org: https://github.com/openiddict/openiddict-core/releases/tag/4.0.0-preview6

https://www.nuget.org/packages/OpenIddict.Server/4.0.0-preview6.22566.67

Cheers.

[2022-11-16 19:57] paluru1 commented on #1578
Hello Kevin & Team

Hope all is well and Thank you for your response.

This is Prasad Aluru(Principal Software engineer) & Kasi Gogula(Sr Development Manager) from BlackBerry .
As I mentioned in the ticket below, we are planning to switch from IdentityServer4 to OpenIddict and we would like to know more details for the items below.

We are planning to sponsor or ready to purchase enterprise licens

[2022-11-17 00:32] maliming commented on #1577
Thanks @kevinchalet , I will update it asap.

[2022-11-17 12:46] nuhrecep commented on #976
Hi, i have a similar problem
I have 3 separate projects for Frontend - API - OpenId server.
In localhost, I can send a request from FE and get a successful token.
However, when I deploy the code in AppService, I get an error.

I don't have a clear error message, only lines with incorrect cert are displayed in the AppService console.

do you have an idea?

[code]

Error message :

Unhandled excepti

[2022-11-18 11:30] nuhrecep commented on #976
I created an SSL with openssl

`openssl req -x509 -newkey rsa:4096 -keyout key.pem -out cert.pem -sha256 -days 365`

Then I applied the openssl pkcs12 command to export the pfx file from the key and pem files.

`openssl pkcs12 -export -in cert.pem -inkey key.pem -certpbe PBE-SHA1-3DES -out cert.pfx`

I keep the resulting pfx file in the project.

When I defined the certificate on the OpenId Server

[2022-11-18 16:06] kevinchalet commented on #976
Should be fine, but consider using 2 separate certificates (one for signing, one for encryption) 😃

[2022-11-18 16:06] devv-guru opened #1584 "Using with Blazor BFF, with shared cookies and JWT Authorization"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

3.x

### Question

Hi Kevin

I need some help with an issue.

I have a OpenIdDict server and a Blazor BFF app.
At the moment the two apps share a cookie using a shared KeyRing, as I have a situation where when a request is sent to my BFF api, it redirects to a

[2022-11-18 16:46] kevinchalet commented on #1584
Hey @Deon-v,

Did you take a look at the Dantooine sample to see how it implements the BFF pattern? https://github.com/openiddict/openiddict-samples/tree/dev/samples/Dantooine

To help you, I'd need to see some code (at least the logs and the Startup config 😃)

Cheers.

[2022-11-18 17:01] devv-guru commented on #1584
Hey @kevinchalet

Yes I used it as my go to, I need to get home now, but I will send you a sample solution tomorrow.

[2022-11-19 09:25] cryo75 opened #1585 "How to use SetDestinations in 4.0.0preview6?"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

4.x (in preview)

### Question

I upgraded my OpenIddct server from 3.1.1 to the lastest nightly build in order to avoid the workaround with the `AppContext` switch. I have a breaking change when adding claims.

How do I upgrade the following code?

[code]

I

[2022-11-19 15:02] devv-guru commented on #1584
@kevinchalet [Here](https://github.com/Deon-v/openidditsharedcookie) is an example project.

So basically my OpenIdDict server need to support Cookie and JWT Authorization in it's self.

[2022-11-19 15:43] kevinchalet commented on #1585
Hi,

As mentioned in https://kevinchalet.com/2022/06/22/openiddict-4-0-preview1-is-out/, these extensions have been removed in 4.0. Instead, you're encouraged to use either `Claim.SetDestinations(...)` or the one-shot `ClaimsIdentity.SetDestinations()`/`ClaimsPrincipal.SetDestinations()` extension:

[code]

Note: canceling monthly sponsorships immediately after your question is answered (as you di

[2022-11-21 10:05] devv-guru commented on #1584
Btw, I Love the library!

[2022-11-21 12:43] devv-guru commented on #1584
@kevinchalet I may have found the issue, I'm using [FastEndpoints](https://github.com/FastEndpoints/FastEndpoints) and i think there is some issue with how they try and use the validation.

Is there a way that i can specify .AddJwtBearer(options => ) at startup to then use JwtBearerDefaults.AuthenticationScheme for the fast endpoints?

[2022-11-21 14:26] devv-guru commented on #1584
@kevinchalet Turns out I'm just dumb, you can close the issue

[2022-11-21 14:26] #1584 closed, assigned to nobody

[2022-11-21 15:46] kevinchalet commented on #1584
Thanks for the (great) repro! Sadly, it seems I'm late to the party 😄

I didn't know FastEndpoints so your app was a good opportunity to try it.
In case it could help others, the root cause was actually quite interesting:

To return a response from a "fast endpoint," you need to call `SendAsync()` from `HandleAsync()`: the first parameter is the object to return and the second one is the HTTP stat

[2022-11-21 15:46] kevinchalet commented on #1584
Thanks for your kind words ❤️

[2022-11-21 15:57] devv-guru commented on #1584
@kevinchalet If you want I can make a bit of a more usable/practical example of the repo

[2022-11-22 07:42] a-a-k commented on #1511
@kevinchalet could you help us on this, or should I open another issue?

[2022-11-22 08:02] kevinchalet commented on #1511
As I already said, silent authentication via `prompt=none` is likely not what you want for an ASP.NET Core MVC client: the redirection would be visible by the user - aka the "flashing window" syndrome - and it's not a great user experience.

That said, creating `prompt=none` requests is not hard, if you're 100% sure that's what you want:
  - With the new OpenIddict client:

[code]
  - With the MSF

[2022-11-22 08:09] a-a-k commented on #1511
ought this fix the incorrect redirection after refreshing?

[2022-11-22 08:13] kevinchalet commented on #1511
I have sadly no idea what "incorrect redirection" you're referring to.

[2022-11-22 08:16] a-a-k commented on #1511
I'm talking about this part. I did nothing to implement silent re-authentication, so I have no idea what have I to check and where. You're my only hope :)

[2022-11-22 08:20] a-a-k commented on #1511
In other words, imagine the next situation - I explore web page A for ages so that my cookie expires, then I go to page B, and while the process is going the silent re-authentication happens, and then I expect to get to the page B, but it gets me to page HOME.

[2022-11-22 08:20] kevinchalet commented on #1511
Silent authentication/`prompt=none` is not magic: it's just a regular authorization request. And with any authorization request, **if the cookie still exists at the authorization server level**, the provider doesn't need to re-authenticate the user and the authorization response can be directly returned without showing a login form. That's likely what you're seeing.

The only difference when using

[2022-11-22 08:29] kevinchalet commented on #1511
Hah, that's a clearer question 😄

When you're hitting an "authenticated-only" page while being unauthenticated, two things can happen:
  - The MSFT OIDC handler is the `DefaultChallengeScheme`: in this case, the OIDC handler automatically stores the current URL in the `state` and will eventually return the user agent to that URL once the login process is done.
  - The cookie handler is the `Defaul

[2022-11-22 08:35] a-a-k commented on #1511
Huh, big thanks and sorry for giving so out of square description )
I'll check this right now/

[2022-11-22 09:29] a-a-k commented on #1511
Big thanks again, the issue fixed!

[2022-11-22 09:29] #1511 closed, assigned to nobody

[2022-11-22 14:17] kevinchalet commented on #1511
Great to hear!

[2022-11-22 14:25] emanuelecastelli opened #1588 "Access/refresh token in OpeniddictClient signin callback with Microsoft provider"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

4.x (in preview)

### Question

Hi @kevinchalet ,
i'm using Opeinddict Client to perform external provider login before issue a token with Opeinddict server (the flow is barely the same seen in sandbox Client, with `authorize` endpoint secured by `[Authorize]`

[2022-11-24 09:51] cryo75 commented on #1585
Thanks. Where there any database changes from 3.1.1 to 4.0? Or will 4.0 work fine with a database created in 3.1.1 and vice-versa?

[2022-11-25 14:40] kevinchalet commented on #1588
Hi.

1) redeeming the code yourself is not a supported scenario as it's already done by the OpenIddict client transparently. If the server implements authorization code detection replay, it's likely the authorization would be revoked anyway when doing that.

2) the root cause is likely very simple, like forgetting to request the `offline_access` scope.

[2022-11-25 16:28] kevinchalet commented on #1585
There are no database changes between 3.1.1 and the 4.0 previews and it's likely there won't have any in RTM.

[2022-11-25 17:56] cryo75 commented on #1585
Thanks.

[2022-11-25 17:56] #1585 closed, assigned to nobody

[2022-11-26 08:53] emanuelecastelli commented on #1588
Thanks @kevinchalet ,
i had completely missed the `AddScopes` in WebProvider configuration.
Now `refresh_token` is correctly issued by AzureAD.

Cheers.

[2022-11-26 18:36] #1588 closed, assigned to nobody

[2022-11-26 22:19] jdebache commented on #1202
Thank you for the answer. I won't pretend I understood all of it, but I now know what I have to do with more confidence.

[2022-11-29 12:08] mgrobovsek opened #1602 "Client and server on different domains - No correlation cookie with the specified state can be found"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

4.x (in preview)

### Question

Hi,

I modified the Velusia sample (latest dev branch) so that:
- the client runs on http://b.local2:44338
- the server runs on http://a.local1:44313

(b.local2 and a.local1 point to 127.0.0.1 in etc/hosts)

I also disabled Tran

[2022-11-29 12:20] mgrobovsek commented on #1602
The modified projects are here:
https://github.com/mgrobovsek/openiddict-samples

[2022-11-29 14:50] kevinchalet commented on #1602
Hi Miha,

Unfortunately, all the Chromium-based browsers now ignore `SameSite=None` cookies returned from non-HTTPS pages. Since the new OpenIddict client uses `SameSite=None` by default for the correlation cookie, it's simply discarded by your browser as your application doesn't use SSL/TLS.

You have two options:
  - Use HTTPS for all your environments (by far the BEST option).
  - Use `SameSite

[2022-11-29 14:53] kevinchalet commented on #1602
If you're interested in learning more about that, CanIUse.com has a very helpful matrix: https://caniuse.com/same-site-cookie-attribute

[2022-11-29 15:35] kevinchalet commented on #1602
Note: I opened https://github.com/openiddict/openiddict-core/pull/1603 to update the OpenIddict client to require TLS by default so that users are warned earlier that not using TLS might cause issues.

[2022-11-30 07:05] MDzyga commented on #381
Hello,
I have similar problem. I'm using OpenIdDict in version 3.1 and client credentials flow.
My OpenIdDict server is configured to use Introspection because it can work in proxy mode.  If I configure validation to useLocalServer, I see more claims (e.g. oi_tkn_id, scope) but then server rejects token because signing keys are different.

[code]

[2022-11-30 07:28] MDzyga opened #1606 "Missing claims using Introspection"
### Confirm you've already contributed to this project or that you sponsor it

- [X] I confirm I'm a sponsor or a contributor

### Version

3.x

### Question

Hello,
I have 1 application which can work in standalone or proxy mode. In standalone mode an instance is responsible for verifying his tokens. In proxy mode token is generated on master instance and proxy verifies if token contain all requi

[2022-11-30 07:37] kevinchalet commented on #1606
Hey @MDzyga,

Thanks for sponsoring the project 😃

Two conditions are required for application claims to be returned by OpenIddict via introspection:
  - The caller MUST be a confidential application.
  - The caller MUST have its `client_id` listed as a valid audience (i.e it must be included when calling `principal.SetResources(...)`).

Take a look at the logs to confirm it's indeed the root caus

[2022-11-30 08:27] MDzyga commented on #1606
Hi @kevinchalet,
Thank you for your very fast answer :)
It helped. I have additional question.

I notice that when the app works in standalone or offline (mode), introspection doesn't have access to token ID claim (oi_tkn_id). Setting resource solve a problem with validating token on master instance.

My logs in offline mode with set introspection:
[code]

Currently I think we have to change valid

[2022-11-30 09:20] mgrobovsek commented on #1602
Hi, thank you Kevin . I did a quick experiment with a wildcard certificate on 127.0.0.1 and it seems to work.
I was planning an https experiment as a last resort, but because of the legacy staging environment constraints hoped for a http solution :). Thank you for your help, I will take your advice and use https in all environments.

[2022-11-30 09:20] #1602 closed, assigned to nobody

[2022-11-30 11:03] kevinchalet commented on #1606
The server has access to that claim and validates the token entry when handling the introspection request but `oi_tkn_id` is not returned to the introspection client/resource server because it would be useless anyway (the whole point of using introspection is to offload most of the validation logic to the server so that the resource server doesn't even need an access to the tokens DB).

OpenIddict

[2022-11-30 11:22] MDzyga commented on #1606
We use `oi_tkn_id` to get token from databse and verify if it's valid - it can be revoked. Does introspection check if token is revoked?
In offline mode we use token from master instance but this instance is unavailable. So, we verify token locally if it contains custom claim `custom_iss` but unfortunately this claim is missing.

I change logs level on verbose and I attached all logs or maybe I sh

[2022-11-30 11:39] kevinchalet commented on #1606
Always. As I said in my last message, the server validates the token entry (including its status) when handling the introspection request. If the token is revoked, a standard `active: false` introspection response is returned.

A diagram would probably help make things clearer for me, but did you check the claims destinations to ensure your custom claim is allowed to be stored in access tokens?

A

[2022-11-30 12:07] a-a-k commented on #1235
is there a way to redefine only one entity if I need to extend only one?

[2022-11-30 12:17] kevinchalet commented on #1235
No, not with the EF/EF Core models, as their generic definitions are inter-dependent.
If it's important for you, the MongoDB entities don't use generics and allow that.

[2022-11-30 12:46] MDzyga commented on #1606
![openiddict](https://user-images.githubusercontent.com/38663990/204797853-8ac49e7c-7eee-4114-a9fd-39e0708b1f82.png)
I prepared diagram how my application works.

This is our code how we generate client token:
[code]
So, yes, we set destination to all our claims.

I will check my logs again.