[2017-04-06 16:50] kevinchalet commented on #386
FYI, this feature was removed in ASOS beta7 a few months ago because it was unreliable, despite numerous tries to harden it: http://kevinchalet.com/2016/11/30/the-new-aspnet-contrib-packages-are-out/

For more information, read https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/269 and https://github.com/openiddict/openiddict-core/issues/204.

[2017-04-09 14:16] dazinator commented on #386
Thanks. If i understand correctly, feature was removed because write access to the folder where keys were persisted, could not be guaranteed for some production environment scenarios.

I'm curious to know if there is some reasoning behind not making this directory configurable (like dataprotection API does)

[2017-04-09 15:10] kevinchalet commented on #386
Yep: https://github.com/openiddict/openiddict-core/issues/106#issuecomment-218912174

[2017-04-09 16:53] dazinator commented on #386
Thanks

I'm probably too late now to offer up my humble opinion, but as this is the internet, I feel I can get away with it:

I do think that the complexity in specifying a directory is much simpler, than the complexity of working through the following though:

When creating your own project based on OpenIddict, you can generate your own certificate using a tool like self-cert (please give it a tr

[2017-04-09 18:01] dazinator commented on #386
Just listing some thoughts out loud on some other options:

1. Allow open id dict to generate a PFX and add it to machine cert store automatically for re-use - dismissing this as giving a website process write access to machine cert store is a big no-no security wise i'd imagine.
2. Allow open id dict to generate a PFX and add it to the current user cert store automatically for re-use? - Wouldn't

[2017-04-10 15:36] kevinchalet commented on #381
No no, I mean the introspection endpoint (which is transparently implemented for you by OpenIddict, so no need to provide an action for this endpoint).

For more info, don't miss: https://tools.ietf.org/html/rfc7662#section-2.1.

[2017-04-17 10:24] altair256 commented on #381
Ok. but I not understand how this help me get token id? I did not find there token id param.

I'm interested in the token id

![default](https://cloud.githubusercontent.com/assets/3997002/25086442/52b6ab42-2370-11e7-8ccc-0e47aa0f1545.png)

Example revoke token by subject I do so
[code]
I need to do the same only with the token ID.

[2017-04-17 13:41] kevinchalet commented on #381
I don't understand. Are you trying to retrieve the token identifier associated with a token, or remove a token corresponding to a given identifier?

For the later, use `OpenIddictTokenManager.FindByIdAsync("8895")`.

[2017-04-17 13:41] #381 closed, assigned to nobody

[2017-04-17 15:07] altair256 commented on #381
I want that when a user logs out of the system the token is removed from the database, but only a specific token, and not all tokens associated with this user. To do this, I need to find the identifier of the token to remove it from the database. But I do not know how to get this identifier and whether this is possible in principle. That is, I want to get the token ID associated with the user who

[2017-04-17 15:11] kevinchalet commented on #381
You can't do that, as there's no direct relationship between the user session (= represented by an authentication cookie managed by Identity) and the refresh tokens (that are usually not revoked after an interactive logout, BTW).

[2017-04-17 15:14] altair256 commented on #381
Thank you! I understood.

[2017-04-17 15:23] kevinchalet commented on #381
@altair256 note: if you want to manually implement such a scenario, you can use the new `OpenIddictAuthorizationManager<TAuthorization>` class, create a new ad-hoc "authorization" per login using `CreateAsync()`, store the authorization identifier as a claim in the Identity authentication cookie and bind the `AuthenticationTicket` you return from `CreateTicketAsync()` to the authorization you crea

[2017-04-17 15:34] altair256 commented on #381
Ok. Thanks again. I will try to do this.

[2017-04-20 00:14] ryzenalways opened #388 "Sample project with JWT token and Introspection"
Hi,

I am trying to setup a auth server with jwt token based on the sample code. But keep getting a 500 error. Is it possible for you to build a sample application with this requirement Or can you please point me to the right direction?

Thanks.

[2017-04-20 01:26] kevinchalet commented on #388
Hi,

Actually, there's already a sample that uses introspection: https://github.com/openiddict/openiddict-samples/tree/master/samples/ImplicitFlow

Tho' it's definitely supported, using JWT and introspection doesn't make much sense, as the tokens can be validated by the resource servers without having to use introspection.

[2017-04-21 08:13] trzewior opened #389 "Openiddict Unable to resolve service for type 'OpenIddict.Core.IOpenIddictApplicationStore`"
Hey im following this sample (https://blogs.msdn.microsoft.com/webdev/2016/10/27/bearer-token-authentication-in-asp-net-core/) and im getting the error as in the post title:
http://stackoverflow.com/questions/43536709/openiddict-unable-to-resolve-service-for-type-openiddict-core-iopeniddictapplic

[2017-04-21 12:19] kevinchalet commented on #389
Hey.

Have you registered the OpenIddict stores, as mentioned in the SO thread?

[2017-04-21 13:15] kevinchalet commented on #389
Closing, as your question was answered here by Set: http://stackoverflow.com/questions/43536709/openiddict-unable-to-resolve-service-for-type-openiddict-core-iopeniddictapplic.

[2017-04-21 13:15] #389 closed, assigned to nobody

[2017-04-21 18:50] astegmaier opened #390 "Access to earlier builds of openiddict"
Is there any way to get access to alpha builds of openiddict? I'm trying to follow along with Valerio De Sanctis' [excellent book](http://a.co/8xZfy9L) about angular2, and the sample code requires openiddict 1.0.0-alpha2-0419. It looks like the earliest version available on the [myget feed](https://www.myget.org/feed/aspnet-contrib/package/nuget/OpenIddict) is 1.0.0-beta2-0559. There were some maj

[2017-04-21 19:06] kevinchalet commented on #390
Nope, sorry. The alpha builds have been removed from the MyGet feed (mainly because the ASP.NET Core VS tooling was unable to display the recent versions ; see https://github.com/aspnet/Tooling/issues/828 for more information).

I haven't read Valerio's book, so I can't tell which flow(s) his sample uses, but up-to-date samples can be found here: https://github.com/openiddict/openiddict-samples/tr

[2017-04-21 23:07] astegmaier commented on #390
Thanks for the response!

I went ahead and tried to move Valerio's sample to the latest builds of openiddict. You can see the result here: https://github.com/astegmaier/OpenGamesListWebApp_Chapter10-updated. The "Initial Checkin" is Valerio's code, and the other checkins are the changes I had to make.

It seems to be building and running more-or-less without errors. However, POST calls to the endp

[2017-04-21 23:20] kevinchalet commented on #390
That's right: the alpha bits used to handle tokens requests for you but this design was not flexible and we opted for something different when decoupling OpenIddict from ASP.NET Core Identity in the subsequent releases, and you now have to implement a custom action for that.

Here's how you can do that: https://github.com/openiddict/openiddict-samples/blob/master/samples/PasswordFlow/Authorization

[2017-04-21 23:46] astegmaier commented on #390
Ah--that make so much more sense. I thought I was going crazy! I'll take a look at the sample you mentioned and see if I can get it working. Thanks so much for taking the time to help me. And thanks also for making OpenIddict--it's super awesome!

Re: the change to require folks to implement their own endpoints, I can understand why it's an improvement to make OpenIddict more flexible. However, fo

[2017-04-22 09:48] kevinchalet commented on #390
Haha, thanks for the kind words!

That's right. If you use ASP.NET Core Identity 1.1, you can simplify the authorization controller sample a bit by using the new `SignInManager.CheckPasswordSignInAsync(user, password)` API instead of these ~50 lines: https://github.com/openiddict/openiddict-samples/blob/master/samples/PasswordFlow/AuthorizationServer/Controllers/AuthorizationController.cs#L61-L109

[2017-04-24 04:30] astegmaier commented on #390
This is awesome! I really appreciate the detailed response. I'm going to chew on this for a while and update the Valerio's sample code to use this pattern. Once I get my head around all the options and the optimal flow, I might consider making a package for others to use in the pattern you suggested. I'll reach out for feedback once I have something to share.

[2017-04-27 03:27] osharper opened #391 "Validate openiddict token on node.js server"
Hi! Started to explore your library and have, probably, dumb architectural question.

We're using .net core server for authorization and REST API and node.js server for web socket communication (via socket.io).

Currently, PasswordFlow is used and auth part of the code is mostly same as in your [sample](https://github.com/openiddict/openiddict-samples/tree/master/samples/PasswordFlow)

We're able

[2017-04-27 08:21] zafrulhassan opened #392 "How to reach signup page of openiddict authorization server?"
I have built opeiddict as separate web application as authorization server. I am stuck with small problem, that is how I can go to user registration page directly though a link from the client web application. Right now I can go to login page, as your sample example:

[code]
Is there a way to go to authentication server Account/Register from client app?

[2017-04-27 18:01] kevinchalet commented on #391
Hey,

Consider using JWT as the access token format.

[2017-04-27 18:06] kevinchalet commented on #392
OpenIddict itself has no signup page (it's not an OpenID Connect concept), so it depends on how your authorization endpoint is implemented (in the sample, the user is redirected to the main login page, that also allows them to register).

You could use a specific OIDC request parameter to tell your authorization endpoint - the `Authorize` action in the sample - that you'd like the user to be redir

[2017-04-28 08:07] osharper commented on #391
Thanks, I will. Just supposed that if [jwt kinda sucks](https://github.com/capesean/openiddict-test/issues/25#issuecomment-256617420) and at the same time it's a common practice to separate auth and rest instances - there should be a way to do that :)

[2017-04-28 14:36] kevinchalet commented on #391
@osharper using JWT is fine (and pretty much the only option in your case). What's wrong is using a JS client that relies on the fact that access tokens are necessarily JWT tokens.

[2017-05-02 14:36] moraleslos opened #393 "Implement access token revocation for password flow"
Currently access tokens in password flow can not be revoked.  Would like this to be implemented in future versions and can think of a couple of reasons:  1) explicit logout in a web app the uses password flow and 2) prohibit use of services after a certain amount of invocations (e.g. SLA).

[2017-05-03 18:08] m2017atTR opened #395 "Authentication failed because the access token was invalid"
OpenIddict 1.0.0-beta2-0608 working fine but ...
1.0.0-beta2-0612 gives  error

I am working ower

 https://github.com/asadsahi/AspNetCoreSpa

[2017-05-03 18:12] kevinchalet commented on #395
What's the exact error you're seeing?

[2017-05-03 18:18] m2017atTR commented on #395
And hey, thanks for very fast answer...
1.0.0-beta2-609, 611, 612 same result but 1.0.0-beta2-608 is _working_
in source of openiddict corresponding to ticket = null

**Error like this..**

`Microsoft.AspNetCore.Hosting.Internal.WebHost:Information: Request starting HTTP/1.1 GET http://localhost:5000/api/admin/doadminoperation application/json; charset=UTF-8
AspNet.Security.OAuth.Validation.OAuthV

[2017-05-03 18:39] kevinchalet commented on #395
Actually, this is the expected behavior if you haven't updated the validation middleware to the RTM version (1.0.0), as OpenIddict itself has been updated to use ASOS 1.0.0, that only works with the 1.0.0 validation middleware.

Note that it's a deliberate choice (I didn't want to support weird ASOS 1.0.0/validation pre-RTM combinations). I'll write a blog post to mention this requirement in the n

[2017-05-04 09:31] devjaw opened #396 "can't install openiddict with asp core"
hi

i'm trying to install openiddict with my project (asp core 1.1.1)
and give me this error :

this is my NuGet.config
`<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="aspnet-contrib" value="https://www.myget.org/F/aspnet-contrib/api/v3/index.json" />
  </packageSources>
</configuration>`

[2017-05-04 15:33] kevinchalet commented on #396
Hi,

There's no RTM release for OpenIddict, so `1.0.0` is not a valid version. Use `1.0.0-*` to use the latest nightly build.

[2017-05-04 15:51] devjaw commented on #396
yes i'm using 1.0.0-*
i added the following lines to csproj file :
`    <PackageReference Include="AspNet.Security.OAuth.Validation" Version="1.0.0-*" />
    <PackageReference Include="OpenIddict" Version="1.0.0-*" />
    <PackageReference Include="OpenIddict.EntityFrameworkCore" Version="1.0.0-*" />
    <PackageReference Include="OpenIddict.Mvc" Version="1.0.0-*" />
`

[2017-05-08 11:09] kevinchalet commented on #396
Reopening, as demanded privately.

[2017-05-08 11:10] kevinchalet commented on #396
@devjaw could you please try running `dotnet restore` and share what you get?

[2017-05-08 11:25] devjaw commented on #396
@PinpointTownes thank you for reopening,
 yes i tried dotnet restore. nothing happened.

[2017-05-08 11:26] kevinchalet commented on #396
To ensure you're not missing something obvious, please copy/paste the console output you're seeing.

[2017-05-08 11:44] devjaw commented on #396
this the output

  Restoring packages for C:\Users\user\Documents\Visual Studio 2017\Projects\ang\ang\ang.csproj...
  Restoring packages for C:\Users\user\Documents\Visual Studio 2017\Projects\ang\ang\ang.csproj...
  Restoring packages for C:\Users\user\Documents\Visual Studio 2017\Projects\ang\ang\ang.csproj...
  Restore completed in 1.84 sec for C:\Users\user\Documents\Visual Studio 2017\Project

[2017-05-08 12:02] kevinchalet commented on #396
Then what's the problem if it restores fine?

[2017-05-09 06:01] devjaw commented on #396
this is my dependencies :
![1](https://cloud.githubusercontent.com/assets/15944990/25837159/43078570-349d-11e7-9423-b27a8651e1d5.jpg)

[2017-05-09 06:10] devjaw commented on #396
i did `dotnet restore` again and it looks like the problem is solved and now i can use `options.UseOpenIddict();` in Startup.cs   ! but the following error is still showing to me :

also , it show me a warning in openiddict dependencies  :

[2017-05-09 14:16] kevinchalet commented on #396
Could you please try specifying an explicit version and see what it does? (e.g `1.0.0-beta2-0614`)

Related ticket: https://github.com/aspnet/Tooling/issues/1035.

[2017-05-11 00:03] kiwiingenuity commented on #395
I've made the change you suggested, but I'm still getting a "Authorization failed for user: null" response?
Is there some other action that needs to be done to get api calls working again?

[2017-05-11 00:12] kevinchalet commented on #395
@kiwiingenuity could you please enable verbose logging (`LogLevel.Trace`) and post your traces? Make sure they contain nothing sensitive like user passwords.

[2017-05-11 04:52] kiwiingenuity commented on #395
Verbose log attached.
api call line 1059
<Removed>

[2017-05-11 05:33] dfederm opened #398 "Support ASP.NET Core 2.0 (Auth 2.0)"
It looks like instead of registering auth middleware per scheme, there's just one auth middleware and different auth schemes are added by calling `services.AddScheme<TOptions, THandler>`.

See: https://github.com/aspnet/Announcements/issues/232

[2017-05-11 17:05] kevinchalet commented on #398
The new authentication stack - that I helped design - is so different than the previous one that it will require massive changes in both ASOS and OpenIddict. I'll probably have something ready for 2.0-preview2.

https://github.com/OrchardCMS/Orchard2/issues/730#issuecomment-298250282

[2017-05-11 17:17] kevinchalet commented on #395
I don't see logs indicating that the ASP.NET Core Data protection stack is trying to decrypt the access token. Did you remove some lines?

[2017-05-11 21:13] kiwiingenuity commented on #395
I'm unsure if that data is missing because I have not set the loglevel correctly, so I tried again.

[2017-05-11 21:30] kevinchalet commented on #395
Really weird, it looks like ASP.NET Core Data Protection is not even trying to decrypt the access token.

Any chance you could trace the HTTP calls using something like Fiddler? That would really help.

[2017-05-11 21:37] kiwiingenuity commented on #395
Just so I understand better....

Below are some lines from a working sample.  Not the application I've been sending you logs on to date.
Are the decrypt line present on the snippet below?

2017-05-12 09:25:02.315 +12:00 [Information] AuthenticationScheme: "ASOS" signed in.
2017-05-12 09:25:02.316 +12:00 [Information] Executed action "AspNetCoreSpa.Server.Controllers.api.AuthorizationController.Exc

[2017-05-11 21:48] kevinchalet commented on #395
Yes:

[code]

Interesting. What's the difference between this sample and the one that doesn't work? Different packages?

[2017-05-11 21:58] kiwiingenuity commented on #395
That's the question I'm asking myself?
The main difference is that one package uses SqlLite and the other uses Sql Express.
Would you think that makes a difference?

[2017-05-11 22:05] kevinchalet commented on #395
I really doubt it. I'll play with `AspNetCoreSpa` and see if I can reproduce the issue you're experiencing.

[2017-05-11 22:10] kiwiingenuity commented on #395
I'm thinking that because it's not working for me, then it's something I've done wrong with my app, so you may not find the issue in AspNetCoreSpa.
I'm concerned about wasting your time?
Can we take this offline, as I have another idea
allan.wissing@computercraft.co.nz

[2017-05-11 22:28] kiwiingenuity commented on #395
Fiddler files attached

[2017-05-11 22:37] kevinchalet commented on #395
[code]

You're trying to use the JWT identity token as an access token, which cannot work. Send the access token and it should work.

Note: it looks like you're not using the latest bits that were pushed to NuGet. Consider clearing your packages as explained in this post: http://kevinchalet.com/2017/05/08/aspnet-security-openidconnect-server-1-0-0-general-availability/

[2017-05-11 22:44] kiwiingenuity commented on #395
In the AspNetCoreSpa app
See https://github.com/asadsahi/AspNetCoreSpa/blob/master/Client/app/core/services/data.service.ts#L129
Are you saying this is wrong?

[2017-05-11 22:45] kevinchalet commented on #395
This line is correct, but what your own code is doing is likely wrong, as it's the identity (not access) token that ends up being sent to the API.

[2017-05-11 22:54] kiwiingenuity commented on #395
That was it!
Yes I did change that line while debugging last week and DIDN"T CHANGE IT BACK!
Thank-you for your help!
I'll action the items in your blog and start going into productive mode again! <g>

[2017-05-12 00:48] dfederm commented on #398
Correct me if I'm wrong (and I don't doubt that I am), but isn't the majority of the change just moving where you provide your AuthHandler to DI (AddScheme) rather than having a middleware do it? When I glanced through the changes in the external auth providers actual AuthHandlers seemed the same. To be fair though that's on the validation side and not on the issuing side.

[2017-05-12 13:14] jpflick commented on #242
@Gillardo I am interested in your sample on how you implemented custom tables in oppeniddict.
Could you possibly upload it?

[2017-05-12 13:24] Gillardo commented on #242
@jpflick I can create a sample for you, if you require with all basic code.  I am using EF6, so you may have to adept.

Will upload shortly for you

[2017-05-12 14:06] Gillardo commented on #242
@jpflick I have created a simple project with all the bits you need.  It doesnt run as i am sorry but strapped for time, but you should be able to figure it all out from here.  I have created all my custom objects with a prefix of My, so you can tell what i have done.

[2017-05-12 14:07] Gillardo commented on #242
[UsingCustomModels.zip](https://github.com/openiddict/openiddict-core/files/996901/UsingCustomModels.zip)

[2017-05-12 14:07] Gillardo commented on #242
Hope this helps

[2017-05-13 17:26] kevinchalet commented on #398
Well, it's indeed the most visible change, but it's not the only one: there's a bunch of API signatures changes and things that are not possible at all in the new world for which we'll have to find different approaches (e.g authentication middleware selection via pipeline branching: https://github.com/openiddict/openiddict-samples/blob/master/samples/CodeFlow/AuthorizationServer/Startup.cs#L103-L1

[2017-05-19 08:14] gtzinos opened #399 "Use Dapper instead of EntityFramework Core"
I'm developing a Web API with .Net core api 1.1. After searching I can't find any document or sample that use authorization without the use of Entity Framework. Instead of this i need to use dapper with a mysql connector in order to connect my app with a mysql server. Is it possible to do it with your library ? If yes please can i have an example ?

[2017-05-20 06:36] gtzinos opened #400 "Error during authentication"

[2017-05-20 13:33] kevinchalet commented on #400
Moved to https://stackoverflow.com/questions/44083901/authentication-using-dapper-mysql-and-openiddict-in-net-core-api-1-1-2.

[2017-05-20 13:33] #400 closed, assigned to nobody

[2017-05-20 13:35] kevinchalet commented on #399
EntityFramework Core has a MySQL connector, so you can use our default EF Core-based stores with your MySQL database.

If you prefer using Dapper, create your own stores and register them in the DI container. Take a look at https://github.com/openiddict/openiddict-core/tree/dev/src/OpenIddict.EntityFrameworkCore to see how it's done.

[2017-05-20 13:51] gtzinos commented on #399
Thank you very much.

[2017-05-20 13:51] #399 closed, assigned to nobody

[2017-05-20 15:10] NtFreX commented on #393
I thought an access token white/black list is not in openiddict for performance reasons? Also limiting an ressource on the amount of requests sounds like an implementation detail not to be tied to authorization.

[2017-05-21 14:16] robertcck opened #401 "Please Help... OpenIddict tables aren't presented in migrations (Dot net core)"
Hi all,

I am having the issue as described in the title.
My solution has two projects, DAL and Web

DAL
- Contains the application model and Identity Model (ApplicationUser and Application Role)
- Contains the Migrations
- Contains ApplicationDbContext.
- Its referenced by Web proj

Web
- Using OpenIddict
- Angular 4 app

The app is currently working but I have a very annoying problem in which Op

[2017-05-23 11:24] mattburrell commented on #401
Have you run Add-Migration to create the new migration for OpenIddict?

[2017-05-23 17:17] gtzinos opened #402 "ID is varchar(255)"
HI,
I am using your library and i checked in my mysql database, that the user id is defined as varchar(255). Why not int or long with auto incremental option ?

[2017-05-23 20:16] kevinchalet commented on #402
We use the same default key type as ASP.NET Core Identity (string). If you want to customize the default key type of the OpenIddict entities, use the `services.AddOpenIddict<TKey>()` overload that accepts a key type generic parameter.

[2017-05-24 02:44] robertcck commented on #401
@mattburrell I ran Add-Migration for my applicationContext and I thought this is all I have to do because OpenIddict is configured for the ApplicationDbContext

Please correct me if I am wrong. Would be great if you can clarify what you mean or show me the code if I do understand is incorrectly.

Many thanks

[2017-05-24 05:37] mattburrell commented on #401
@robertcck can you confirm that one of your migrations looks similar to this?

[code]
Then you would run the EF command ``Update-Database`` (assuming you are using Visual Studio) or ``dotnet ef database update`` if you're using the CLI.

[2017-05-24 06:16] gtzinos commented on #402
I think that for performance is better to use a number instead of string. I am not sure if is good to follow Entity Framework guidelines.

[2017-05-24 07:25] robertcck commented on #401
@mattburrell

Thanks for your reply.

After II ran Add-Migration nameOfMigration
I will only get my application specific table and OpenIddict tables are not included in the migration. For some reason it's not included

As mentioned on my first post, my web project configured to use OpenIddict and the DbContext from DAL project

The dal project has the identity as well as  application entity models

[2017-05-24 09:02] mattburrell commented on #401
@robertcck could you share your setup code? I assume you are calling ``options.UseOpenIddict();`` in your ``services.AddDbContext<ApplicationDbContext>`` setup?

[2017-05-24 09:13] robertcck commented on #401
@mattburrell

Yes, Here is the setup. Please let me know if you need to see anything else

This is the setup in my webApplication Project
[code]

[2017-05-24 10:08] mattburrell commented on #401
@robertcck I think you are probably running into a quirk with EF Core. Have you tried deleting your database, deleting all your migrations and adding the initial migration again?

[2017-05-24 10:13] robertcck commented on #401
@mattburrell
good point.... i will do that and see if this resolve this issue.

I will try and let you know my result.
Thanks again 👍

[2017-05-24 11:24] Bartmax commented on #401
shouldn't `services.AddDbContext( ..` be `services.AddDbContext<ApplicationDbContext>(...` ?
Also, you `DbContext` is inheriting from `IdentityDbContect`?
like this:
[code]

[2017-05-24 13:10] robertcck commented on #401
@Bartmax Thanks for you reply

Yes, that was a missing bit on my code above. I have set it up like this
services.AddDbContext<ApplicationDbContext>(options =>
            {
                options.UseSqlServer(Startup.Configuration.GetConnectionString("Default"), b => b.MigrationsAssembly("webapplication"));
                options.UseOpenIddict();
            });

Yes ApplicationDbContext is inhe

[2017-05-24 13:21] kevinchalet commented on #401
@robertcck did moving the context class back to your main project helped work around this issue?

If it still doesn't work, you can try to register the OpenIddict entities in the `OnModelCreating` method:

[code]

[2017-05-24 18:34] kevinchalet commented on #402
Consistency always wins and that's why `string` is the default key type in OpenIddict. As I said, you're free to choose a different key type like `int` or `long` :smile:

[2017-05-25 05:28] robertcck commented on #401
@PinpointTownes Thanks for your reply and your solution works. I have thought about this before but never have done it.

Here are the steps i did to fix the issue
* Added OpenIddict packages to DAL project
* Used @PinpointTownes solution above
* Deleted all tables in database
* Delete all existing migrations
* Run Add-Migration Initial

Thanks for everyone.
A big thank you for @mattburrell and @Pi

[2017-05-25 06:37] gtzinos commented on #402
Hehe okay.

[2017-05-25 10:22] jsinh opened #403 "Sample of EnableRevocationEndpoint"
@PinpointTownes First of all, I must appreciate what you did with openiddict.

I am following samples for PasswordFlow to create access_token and refresh token - and want to have way (endpoint) to revoke issued (not yet expired token) in this flow.

I did same as sample for `EnableTokenEndpoint` in `AuthorizationController.cs` and that works

I do not see in the sample is what exactly do to when w

[2017-05-25 11:03] #402 closed, assigned to nobody

[2017-05-25 20:17] kevinchalet commented on #403
Glad you like it!

There's no custom code to add to use the revocation endpoint as OpenIddict handles revocation requests internally.

Note that you can't currently revoke access tokens (see https://github.com/openiddict/openiddict-core/issues/191 and https://github.com/openiddict/openiddict-core/issues/393 for more context).

[2017-05-27 19:56] kevinchalet commented on #401
Glad it worked for you @robertcck.

I'll update the README to mention that registering the OpenIddict entities directly from the context is required when it's part of a separate project.

That said, it really sounds like an EF bug/limitation. Could you please open a new ticket in the EF repo to track it? Thanks!

[2017-05-27 21:00] Bartmax commented on #401
I don't think it's a requirement. I have an `ApplicationDbContext` on another project defined as:
[code]

and works just fine.

[2017-05-27 21:14] kevinchalet commented on #401
@Bartmax really strange. And you don't override `OnModelCreating` nor `OnConfiguring`?

[2017-05-27 21:15] Bartmax commented on #401
this is my override
[code]

[2017-05-27 21:16] kevinchalet commented on #401
@Bartmax hum. What's the exact EF version you're using?

[2017-05-27 21:28] Bartmax commented on #401
[code]

[2017-05-27 21:30] kevinchalet commented on #401
@robertcck when you have a minute, please share your .csproj/EF Core versions :smile:

[2017-05-28 00:14] robertcck commented on #401
@Bartmax @PinpointTownes

As @mattburrell said
It should just work because I did see another project from Github somewhere that works and that's why I found it strange too.

However when I think about it. I think its probably something to do with my Nuget.config

[code]
I configured my solution to download Nuget packages into ./packages folder include OpenIddict. Perhaps when I run the EFCore Migr

[2017-05-28 00:24] Bartmax commented on #401
you can try removing the key, restore and see if that is the issue. (don't think it is tho but it's worth a shot)

[2017-05-28 00:30] robertcck commented on #401
@Bartmax

What do you mean by removing the key? Do you mean the Nuget.config?

[2017-05-28 00:30] Bartmax commented on #401
yes removing this:
[code]

[2017-05-28 00:31] robertcck commented on #401
I could give it a shot

[2017-05-28 00:39] robertcck commented on #401
@PinpointTownes @Bartmax
I removed the key, run dotnet restore and also removed modelBuilder.UseOpenIddict();

Migration script is dropping OpenIddict ><

[2017-05-28 00:48] Bartmax commented on #401
the only thing that I see different from my startup is:
[code]
i don't have `options.UseOpenIddict();` on mine on the `services.AddDbContext` call.

[2017-05-28 00:51] Bartmax commented on #401
Maybe you are missing the constructor with the options or the call to base():
[code]

[2017-05-28 00:53] robertcck commented on #401
@Bartmax

No I did have the call to base()
`
 public ApplicationDbContext(DbContextOptions<ApplicationDbContext> options): base(options) { }

        protected override void OnModelCreating(ModelBuilder modelBuilder)
        {
            base.OnModelCreating(modelBuilder);

            modelBuilder.UseOpenIddict();

            #region Security Tables
            modelBuilder.Entity<ApplicationUs

[2017-05-28 00:53] robertcck commented on #401
Adding modelBuilder.UseOpenIddict() to my ApplicationDbContext override works
That was the solution provided by @PinpointTownes

[2017-05-28 09:45] kevinchalet commented on #401
@Bartmax wait, where do you register the OpenIddict entities, then? :sweat_smile:

[2017-06-01 01:14] #391 closed, assigned to nobody

[2017-06-03 14:53] davidtimovski opened #404 "404 response when token is invalid or missing"
I've set up OpenIddict and everything works fine but there's something puzzling me.

When I send a request without a token or one where the token is wrong I get a response code of 404. That seems somewhat counterintuitive. Shouldn't I get a response code of 400 (bad request) when the token is missing and a 401 (unauthorized) when it's invalid?

[2017-06-03 15:15] kevinchalet commented on #404
Duplicate of https://github.com/openiddict/openiddict-core/issues/337 ?

[2017-06-03 15:36] davidtimovski commented on #404
Ahhh, should've found that. It's a duplicate alright.
Thank you.

[2017-06-03 15:36] #404 closed, assigned to nobody

[2017-06-05 05:38] Bartmax opened #405 "Support high dpi nuget icon. Size from 64 to 256"
https://github.com/openiddict/openiddict-core/blob/dev/build/packages.props#L13

[code]

[2017-06-05 12:46] kevinchalet commented on #405
According to https://docs.microsoft.com/en-us/nuget/schema/nuspec, the icon URL is a "URL for a 64x64 image with transparency background to use as the icon for the package in UI display" so I'm not sure higher definitions are (officially) supported. I took a brief look at the .NET Core/ASP.NET Core packages and they all use 64x64 icons.

I'm not opposed to this change, but I want to make sure it w

[2017-06-05 19:51] Bartmax commented on #405
Asking ...
https://github.com/NuGet/Home/issues/5346

[2017-06-08 09:59] Gillardo opened #406 "netcoreapp2.0 - Could not load type 'Microsoft.AspnetCore.Builder.AuthenticationOptions'"
I am trying to rebuild my project from EF6 + net461, to EFCore2.0 + netcoreapp2.0.

Everything seems to compile but when i try and run my application, i can the following exception

![image](https://user-images.githubusercontent.com/7406381/26923239-6b5f385c-4c39-11e7-8441-0fffe387f292.png)

This seems to happen on this line `options.EnableAuthorizationEndpoint("/connect/authorize");` within my ca

[2017-06-08 10:20] Lissbrict opened #407 "Nginx proxy Authorization server, Refresh token fial"
this my ` Authorized server` Architecture:

![default](https://user-images.githubusercontent.com/22954464/26923942-477a73ce-4c76-11e7-92d6-3f5d049d0bcf.png)

- Program configuration

[code]

[2017-06-08 11:31] Bartmax commented on #406
I don't think OpenIddict supports netcoreapp2.0 yet see https://github.com/openiddict/openiddict-core/issues/398

[2017-06-08 11:40] kevinchalet commented on #407
Closing, as your ticket is not actionable.

If you still need help, post complete details about what's not working and at least share your logs.

[2017-06-08 11:40] #407 closed, assigned to nobody

[2017-06-11 13:27] #392 closed, assigned to nobody

[2017-06-11 13:27] #388 closed, assigned to nobody

[2017-06-11 13:27] #385 closed, assigned to nobody

[2017-06-11 13:27] #390 closed, assigned to nobody

[2017-06-11 13:27] #395 closed, assigned to nobody

[2017-06-11 13:27] #401 closed, assigned to nobody

[2017-06-11 13:27] #403 closed, assigned to nobody

[2017-06-11 13:28] #396 closed, assigned to nobody

[2017-06-12 05:49] Bartmax commented on #390
I may have an idea to balance those 2 options, will think about it a create a new issue if i found a reasonable actionable work.

[2017-06-12 08:30] joelnotified opened #408 "Microsoft.EntityFrameworkCore.DbUpdateConcurrencyException when creating new token"
Sometimes I get a `DbUpdateConcurrencyException`. I'm not really sure how to reproduce it, but it involves two tabs trying to sign in/refresh token at the same time.

I guess the fix would be the same as #307?

[code]

[2017-06-12 08:35] Foroughi opened #409 "OPTIONS requets returns 400 error while adding openiddict to asp.net core api"
hi
Do I need to enable cors on OpenIddict separately? because I thought adding the following codes will handle the cors but as soon as Chrome want to send an options request, my app returns 400!

`services.AddCors();`
and
`app.UseCors(builder =>
                builder.AllowAnyHeader()
                        .AllowAnyMethod()
                        .AllowAnyOrigin()
            );`

I dont know

[2017-06-12 08:40] Foroughi commented on #409
Here is the configuration of openIdDict , it may help

        public void ConfigureServices(IServiceCollection services)
        {

            services.Configure<ApplicationSettings>(x => Configuration.GetSection("AppSettings").Bind(x));

            services.AddDbContext<AroosiDbContext>(options =>
            {
                options.UseSqlServer(Configuration.GetConnectionString("DefaultConn

[2017-06-12 08:42] kevinchalet commented on #409
You do.

You must register the CORS middleware before OpenIddict.

Don't forget to update your CORS policy to use specific origins (`AllowAnyOrigin` is not safe).

[2017-06-12 08:43] kevinchalet commented on #408
Thanks for reporting that.

I guess so. Interested in making a giant pass to add that everywhere it makes sense? :smile:

[2017-06-12 08:46] Foroughi commented on #409
WOW thanks a lot, by registering the Cors before OpenIddict the problem solved really easy, thank you man. you saved my day

[2017-06-12 08:58] kevinchalet commented on #409
Glad it worked :smile:

[2017-06-12 08:58] joelnotified commented on #408
Don't mind that no. My only concern is that I do not really know where it would make sense or not though... 😄

I'm not sure what could lead to the concurrency exception in this case, since it's an add operation? Or maybe there have been other changes made to the Context in the same request... Haven't really checked through the code.

[2017-06-12 09:48] Foroughi commented on #409
Can I ask something else here ?! or I should create a new issue? now even if I don't send the JWT Bearer token in my request, the Authorize attribute won't deny it! (using postman) . Seems there is a logged in user already which allow the postman to fetch data from Authorize marked action without any token

[2017-06-13 17:11] kevinchalet commented on #409
@Foroughi do you use `AddMvcCore()`?

[2017-06-13 17:11] #409 closed, assigned to nobody

[2017-06-14 12:19] joelnotified commented on #408
Having a look at this, but I'm not sure what I should return (or throw?) if `SaveChangesAsync` throws a `DbUpdateConcurrencyException` exception. I think it's weird that we get the exception when adding a row. I would have thought it came with an update or delete.

Let's say that we'd do something like this:

[code]

[2017-06-14 13:02] kevinchalet commented on #408
That's indeed very weird. Do you have special logic that may update or delete entities in the database during the request processing? (e.g a logger or a filter)

[2017-06-19 12:59] moutono opened #410 "OpenIdConnectRequest paramter not bound and connect/token not called"
Hi. I have a problem where my "connect/token" method is not being called when I try to request a token.
But when I change the OpenIdConnectRequest parameter to object. It is called.
It is as if the OpenIdConnectRequest parameter is not bound correctly.

I did see this comment somewhere:
[code]

But I am calling options.AddMvcBinders() in my ConfigureServices method below.
Is there anything else th

[2017-06-19 15:44] kevinchalet commented on #410
Can you please share your entire logs?

[2017-06-22 16:33] #410 closed, assigned to nobody

[2017-06-22 16:34] #408 closed, assigned to nobody

[2017-06-23 09:00] matteobortolazzo opened #411 "Method not found GetTicketId in Asp.NET Core"
Hi, the server logs this error when try to call "connect/token": "Method not found: 'System.String AspNet.Security.OpenIdConnect.Extensions.OpenIdConnectExtensions.GetTicketId(Microsoft.AspNetCore.Authentication.AuthenticationTicket)".

Am I missing something?

[2017-06-23 09:32] matteobortolazzo commented on #411
Nuget wasn't able to find the latest version. Now I downloaded it and it works. Sorry for opening a useless issue.

[2017-06-23 09:32] #411 closed, assigned to nobody

[2017-06-24 10:29] xperiandri opened #412 "Return more standard info from OpenID Connect Discovery endpoint"
It would be nice provide already available values there and to be able to configure more options of discovery endpoint
https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata

[2017-06-24 10:56] kevinchalet commented on #412
What values are you particularly interested in?

[2017-06-24 14:48] xperiandri commented on #412
- registration_endpoint
- scopes_supported
- response_types_supported
- claim_types_supported
- claims_supported
- service_documentation
- claims_locales_supported
- ui_locales_supported
- op_policy_uri
- op_tos_uri

[2017-06-24 14:56] kevinchalet commented on #412
Dynamic client registration is not yet supported by ASOS/OpenIddict. We'll expose this value once it is.

We already return a hardcoded scopes list. Making that configurable is planned.

It's already fully supported.

ASOS/OpenIddict only support normal claims (not distributed or aggregated claims). Returning this parameter is not planned.

For the others, I'm not against supporting them. We just

[2017-07-03 06:23] MJomaa opened #413 "401 Invalid Access Token because of version missmatch"
This is just an information post. The issue has been solved.

**My issue was following:**
I've upgraded an application from 1.0.0 to 1.1.2 and suddenly I got 401.
It said  **invalid_token**  and returned **401**, but the token is valid and in the logs you could see:

**Versions used:**
OpenIddict: 1.0.0-beta2-0585
OpenIddict.EntityFrameworkCore: 1.0.0-beta2-0585
OpenIddict.Mvc: 1.0.0-beta2-0585
As

[2017-07-03 18:23] xperiandri commented on #398
Any news about this?
Do you mean that in general OpenIddict does not require changes except middleware registration logic?

[2017-07-03 18:29] kevinchalet commented on #398
The ASOS/OpenIddict/validation/introspection handlers' port is currently blocked by https://github.com/aspnet/Security/issues/1282 and https://github.com/aspnet/Security/issues/1287. I'll publish 2.0 preview3-compatible bits as soon as these bugs are fixed.

The internal changes are massive but the plan is to keep OpenIddict's public APIs identical to their 1.0 equivalent.

[2017-07-03 18:31] kevinchalet commented on #406
@Bartmax is right. I'll close this ticket so we can focus on the other one.

[2017-07-03 18:31] #406 closed, assigned to nobody

[2017-07-03 18:34] xperiandri commented on #398
That is perfect. Then starting new project on 1.0
Thanks!

[2017-07-04 19:30] kevinchalet commented on #413
Thanks for the detailed report, @MJomaa :+1:

[2017-07-07 18:29] LimeyTX opened #414 "AuthorizationController at /connect/token not being called"
I recently asked a [this](https://stackoverflow.com/questions/44915677/jwt-openiddict-and-asp-net-core-500-internal-server-error/44915942?noredirect=1#comment76820923_44915942) question on StackOverflow which has not been resolved.
As a way of diagnosing the problem I opened a completely new project based on [this](http://blog.medhat.ca/2017/03/token-authentication-with-openiddict-in.html) example

[2017-07-07 18:35] kevinchalet commented on #414
If that was true, you wouldn't see this error :trollface:

Both the OAuth2 specification and the tutorial you mentioned are pretty clear about the fact the token request parameters must be specified in the request form (formurl-encoding) and **not in the query string**.

Fix that, and it should work.

[2017-07-07 18:51] LimeyTX commented on #414
I really can’t believe how dumb I was. It’s working fine I was just using Postman incorrectly.

I have been struggling with this for days! I guess senility has finally set in. I had set the Content-Type in the header, but I put the data in the params.

Gawd, now maybe I can make some progress!

Thanks.

From: Kévin Chalet [mailto:notifications@github.com]
Sent: July 7, 2017 1:35 PM
To: openiddict/

[2017-07-07 18:54] kevinchalet commented on #414
lol, no problem :sweat_smile:

Glad you sorted it out.

[2017-07-07 18:54] #414 closed, assigned to nobody

[2017-07-10 21:12] Foroughi commented on #409
@PinpointTownes  sorry for late responding , yes i used to which changing it to AddMVC fixed my issue

[2017-07-11 09:02] PiyumalS opened #416 "Openiddict official release date for nuget"
I'm currently using **Openiddict**  for a commercialized project. Currently we are using **OpenIddict 1.0.0-beta2-0615**. Since it's a commercialized project we prefer to use RC Version. Will it be released any soon?

[2017-07-11 11:54] kevinchalet commented on #398
OpenIddict and aspnet-contrib packages compatible with the ASP.NET Core 2.0 preview3/RTM nightly builds are now available and can be downloaded from the aspnet-contrib MyGet feed.

For those who are interested, you can take a look at these PRs to see what's changed:
  - https://github.com/aspnet-contrib/AspNet.Security.OAuth.Extensions/pull/74
  - https://github.com/aspnet-contrib/AspNet.Security.

[2017-07-11 11:54] #398 closed, assigned to kevinchalet

[2017-07-13 06:49] amasasi opened #417 "Can not install latest OpenIDDict 2 into .netcore 2"
I am trying to install in the AspetCore 2.0 but it fails to install from Nuget and  gives the following results in the Output window

  GET https://api.nuget.org/v3/registration2-gz-semver2/openiddict/index.json
  GET https://www.myget.org/F/aspnet-contrib/api/v3/registration1/openiddict/index.json
  OK https://www.myget.org/F/aspnet-contrib/api/v3/registration1/openiddict/index.json 498ms
  NotFo

[2017-07-13 11:23] kevinchalet commented on #417
Unfortunately, these logs contain no error, so it's hard to say what's causing your issue. Is that all you have?

[2017-07-13 14:11] FrogsLegs opened #418 "Pull all OpenIddict applications and un-encrypted client secrets"
I have several created a client applications and they're stored in the database, I now need to show each customer their ClientID / Secret on a page within our web portal. The Client Secret is encrypted in the database, how do I retrieve this and decrypt it to show to the customer?

Thanks,
Leigh

[2017-07-13 14:15] kevinchalet commented on #418
The client secret is not encrypted, it's hashed ([using PBKDF with HMAC-SHA256](https://github.com/henkmollema/CryptoHelper/blob/master/src/CryptoHelper/Crypto.cs)). You can't retrieve the original secret once it's stored in the database, for obvious security reasons.

Instead, have you considered offering a way to simply reset the client secret?

[2017-07-13 14:27] kevinchalet commented on #416
I replied to your email. Please check your inbox.

[2017-07-13 14:27] #416 closed, assigned to nobody

[2017-07-13 14:45] FrogsLegs commented on #418
Thanks @PinpointTownes, the customer is never shown the Secret. We create it for them the first time they log into the portal with a new account. It looks like I'll need to implement some form of secure email mechanism in order to send the secret when it is generated.

Thanks for your reply
Leigh

[2017-07-13 14:51] FrogsLegs commented on #418
Would it be safe to encrypt the Client Secret and decrypt it from my database when the customer needs to view it? Similarly to if you had API access to PayPal or DropBox, you can log on to each respective site and see both the the Client ID & Secret?

[2017-07-14 05:27] kamleshdelat opened #419 "How to decode refresh token?"
I am trying
services.AddDataProtection()
        .SetApplicationName("Testervice")
        .ProtectKeysWithCertificate(newCert);

but got error

System.Security.Cryptography.CryptographicException: was not found in the key ring
--

[2017-07-14 17:03] kevinchalet commented on #419
This is not an OpenIddict error. You likely have an issue with how your DataProtection keys are stored or encrypted at rest. If you need additional guidance, feel free to open a ticket here: https://github.com/aspnet/DataProtection.

[2017-07-14 17:03] #419 closed, assigned to nobody

[2017-07-14 17:06] kevinchalet commented on #418
Not sure I would recommend it, but it's technically doable. Of course, it's always preferable to only show the client secret - ideally, generated using a crypto-secure RNG - when the user creates the application, but if your flow doesn't allow that...

[2017-07-15 07:30] amasasi commented on #417
It is that all, but i have noted that i didn't put the proper nuget source, now fixed

[2017-07-15 07:30] #417 closed, assigned to nobody

[2017-07-15 08:52] ArtemAlekhin opened #421 "Validate token by subdomain/Issuer"
Hello.
I would like to use OpenIddict to develop a multi-tenancy application. Each my client has its own subdomain on my application (sub1.example.com, sub2.example.com). Can you please tell me how to implement the validation of the token separately for each subdomain/Issuer?
For example, after receiving a token at http://**sub1**.example.com/connent/token the issued token should **not be valid**

[2017-07-17 12:38] kevinchalet commented on #421
Hey,

The scenario you describe is implemented in Orchard for ASP.NET Core, so feel free to give it a try: https://github.com/OrchardCMS/Orchard2/blob/master/src/OrchardCore.Modules/Orchard.OpenId/Startup.cs

The important part is to specify a "derived" `IDataProtectionProvider` per tenant, so your tokens are only valid (at the crypto level) for the tenant that issued them:
  - https://github.com/

[2017-07-18 00:14] HelloKitty opened #423 "Sample contains HTTP RFC Violation"
In the AuthorizationController it returns BadRequest for various failed authentication results. However the [HTTP RFC for BadRequest](https://tools.ietf.org/html/rfc7231#section-6.5.1) states:

   will not process the request due to something that is perceived to be
   a client error (e.g., malformed request syntax, invalid request
   message framing, or deceptive request routing).

I don't think

[2017-07-18 03:04] kevinchalet commented on #423
Returning a 400 response is required by the OAuth2/OpenID Connect specifications:
  - https://tools.ietf.org/html/rfc6749#section-5.2
  - http://openid.net/specs/openid-connect-core-1_0.html#TokenErrorResponse

[2017-07-18 09:07] HelloKitty commented on #423
I see, you're right. Such a shame that it appears to conflict.

[2017-07-18 09:07] #423 closed, assigned to nobody

[2017-07-18 21:47] ArtemAlekhin commented on #421
Hi.
Thank you very much Kevin for your help.

I'm looking at the design of the Orchard2 project, but it seems difficult for me to understand.
I figured out that I need to use the IDataProtectionProvider for each individual tenant
`protector = dataProtectionProvider.CreateProtector(tenantName);`

But I do not understand how I can use the IDataProtectionProvider **instance for an individual tenant**

[2017-07-19 17:45] kevinchalet commented on #421
@sebastienros will surely know better than me, but basically Orchard creates a separate services container + a middleware pipeline per tenant. I've never used SaasKit so I'm not sure exactly if it could support multiple DI containers.

Note: OpenIddict for ASP.NET Core 2.0 will get better multitenancy support. I'm currently writing a blog post about that.

[2017-07-23 06:00] srivch commented on #181
hi -
i am following the grant_type='password' sample provided your samples section... (https://github.com/openiddict/openiddict-samples/tree/master/samples/PasswordFlow)
i have custom claims that get added, but i always get the access_token only...(which gets bigger and bigger)  i dont see any item called id_token in my response? Am i missing something?

Note: i am not using JWT, just

[2017-07-24 14:23] asadsahi opened #424 "Issue with .net core 2.0 upgrade."
Hi @PinpointTownes I am trying to upgrade [my project](https://github.com/asadsahi/AspNetCoreSpa) to .net core 2.0. Branch name is **netcore2**.

Managed to login using credentials and token model is returned from server, including refresh_token. But when request is sent using refresh token (e.g by doing full page reload), getting following error:

`
{"message":"No authentication handler is config

[2017-07-24 14:40] kevinchalet commented on #424
Hey @asadsahi,

It looks like you're still using the old authentication manager that was obsoleted in 2.0 (and no longer works). I'd recommend reading https://github.com/aspnet/Announcements/issues/262 to determine how you can migrate your own code to the new authentication service.

[2017-07-24 14:43] kevinchalet commented on #424
Please also note that the aspnet-contrib OAuth2 social providers for 1.0 won't work with 2.0 (https://github.com/asadsahi/AspNetCoreSpa/blob/netcore2/AspNetCoreSpa.csproj#L13-L14). Unfortunately, there's currently no version compatible with 2.0 so you should maybe exclude them until a compatible version is released.

[2017-07-24 14:52] asadsahi commented on #424
Thanks @PinpointTownes . I followed most of the code from the example code of this project.

But if you reckon that its something to do with .net core code rather openidconnect. I will try to read and understand what it could be. Changes seem to be quite daunting as there are so many.

Also, the those social providers aren't working so their registration is commented out anyway so I will keep and

[2017-07-24 14:55] asadsahi commented on #424
@PinpointTownes

Also, any plans to upgrade https://github.com/openiddict/openiddict-samples to .net core 2?. Followed those sample initially when i implement openiddict in my project. so They will be quite handy too.

Thanks

[2017-07-24 14:57] kevinchalet commented on #424
Not before 2.0 is officially released as the new LTS version (which may not happen before 2.0.1 or 2.0.2).

[2017-07-24 14:59] kevinchalet commented on #424
@HaoK is there a discussion topic where folks can ask questions about the "auth 2.0" changes? I didn't see one when reading the announcement.

[2017-07-24 16:00] HaoK commented on #424
Good idea, I'll create one now and link it to the announcement

[2017-07-26 11:25] amasasi commented on #421
@PinpointTownes  i am waiting to read the blogpost on openididict multitenancy support

[2017-07-26 15:59] sebastienros commented on #421
@amasasi me too

[2017-07-28 11:33] kinosang opened #426 "404 response from authorization endpoint"
I followed the sample files to create my OpenID Connect server. I enabled the code flow, the refresh token flow and the password flow.

The server works well for refresh token flow and password flow, but I cannot reach the authorization endpoint for the code flow.

I'm using OpenIdDict 1.0 beta 2 **0636**.

Here's codes from `Startup.cs`

        public void ConfigureServices(IServiceCollection se

[2017-07-28 14:02] kevinchalet commented on #426
Could you please share your authorization controller?

[2017-07-28 14:06] kinosang commented on #426
Here it is
[code]

[2017-07-28 14:08] kinosang commented on #426
BTW, I use `app.UseMvcWithDefaultRoute();` in `Startup.cs` to register the default routes

[2017-07-28 14:15] kevinchalet commented on #426
It sounds fine. Could you also share your logs? (make sure you change the default log level to "Trace").

[2017-07-28 14:19] kinosang commented on #426
In my `Startup.cs`, between `app.UseStaticFiles();` and `app.UseOpenIddict();`

            app.UseWhen(context => context.Request.Path.StartsWithSegments("/api"), branch =>
            {
                // Add a middleware used to validate access
                // tokens and protect the API endpoints.
                // branch.UseOAuthValidation();

                // If you prefer using JWT, do

[2017-07-28 14:19] kinosang commented on #426
and the app is running on Azure Web Service

[2017-07-28 14:40] kevinchalet commented on #426
Likely not. The logs will help confirm that.

[2017-07-28 15:17] kinosang commented on #426
Here's the RawLogs exported from Azure.

https://pastebin.com/t9m5yNaq

[2017-07-28 15:21] kevinchalet commented on #426
I need the ASP.NET Core logs, not the IIS logs (that are not really helpful in this case).

[2017-07-28 15:26] kinosang commented on #426
sorry for the mistake, I'm trying to download the logs.

[2017-07-28 16:10] kinosang commented on #426
finally, I get the log by running it in a virtual machine (dotnet crashes on macOS 10.13).

[code]

Request successfully matched the route with name 'default' but no actions matched the current request.

[2017-07-28 16:14] kevinchalet commented on #426
Do you have an MVC action that handles the /Error route?

As you can see in the logs, OpenIddict detected that something was wrong with your request (`The authorization request was rejected because the mandatory 'client_id' parameter was missing.`) and prepared an error. Since you've added `branch.UseStatusCodePagesWithReExecute("/Error")` to your pipeline, the error is not directly returned but t

[2017-07-28 16:21] kinosang commented on #426
No I don't think it's the problem.

It still return 404 when I provide the client_id, response_type and redirect_uri parameters on my production environment.

[2017-07-28 16:23] kevinchalet commented on #426
Then it's probably an MVC issue:

      => RequestId:0HL6LQ61KG5MB RequestPath:/Connect/Authorize
      Request successfully matched the route with name 'default' and template '{controller=Home}/{action=Index}/{id?}'.
dbug: Microsoft.AspNetCore.Mvc.Internal.MvcRouteHandler[3]
      => RequestId:0HL6LQ61KG5MB RequestPath:/Connect/Authorize
      No actions matched the current request

Try to decora

[2017-07-28 17:03] kinosang commented on #426
Now it's works well after rename the `Authorize` action to `Authenticate` and decorate it with address.

I've tried to decorated the action before I submit the issue, but it doesn't work. maybe the problem is the name of the action?

[2017-07-28 17:06] kevinchalet commented on #426
I really doubt it, all the samples (and most the apps I've developed) use `Authorize` and they work just fine.

[2017-07-29 13:08] #426 closed, assigned to nobody

[2017-07-29 13:09] kevinchalet commented on #421
@sebastienros while you're here, feel free to add more details about how OrchardCore handles multitenancy... I'm sure it would help @ArtemAlekhin :sweat_smile:

[2017-07-29 13:22] kevinchalet commented on #386
@dazinator thanks to the new X.509 certificate creation APIs introduced in `netcoreapp2.0`, this is something we could now easily implement in both ASOS and OpenIddict for ASP.NET Core 2.0.

Are you still interested in this feature?

[2017-07-29 13:33] dazinator commented on #386
Sure, but how are you thinking it would work? Are you thinking the x509 cert would be automatically saved to a configurable folder location? If so - what are the benefits of generating a X.509 cert over just saving the key, encrypted via data protection `Protect()` ?

[2017-07-29 13:48] kevinchalet commented on #386
I'm tempted to think it would be preferable to keep this feature development-only.
In this case, storing the certificate in the X.509 machine/user store would be my preferred option.

Something like that:

## ASOS

[code]

## OpenIddict

[code]

[2017-07-29 13:58] dazinator commented on #386
Do those certifcate store API's work accross platforms other than windows, that net core runs? I'm not a linux guru but I think linux does have the concept of certificate stores. If this is a windows only thing, then I think it would still be better to just encrypt the key with DPAPI and save it to a user directory which is something that should be supported everywhere.

[2017-07-29 14:04] kevinchalet commented on #386
`X509Store` is cross-platform (with a few limitations on macOS IIRC).
Though I haven't tested them yet, I believe the new certificate creation APIs are also x-plat.

[2017-07-29 14:09] dazinator commented on #386
Cool - if this is going to work cross plat, and allow stuff to "just work" in development then I am all for it!
I guess, in your application, you would have code that says when running in development mode, make a call to ensure the cert exists or is created, on startup. When running in production mode, you would have an alternate code path that just tells it what cert store / cert to point at, and

[2017-07-29 14:15] kevinchalet commented on #386
That would be `AddDevelopmentCertificate`'s mission, yeah.

For production, I believe a CLI tooling story would be a much better approach. You could directly create and persist production-ready certificates using cmd.

Something like...

[code]

I'll take a look at the EF tooling to see how complicated it would be to create such a CLI tool.

[2017-07-29 17:52] kevinchalet commented on #386
Updated API proposal (IdentityModel doesn't support DSA and ECDSA certificates, so it's not worth having an overload allowing to configure the algorithm):

## ASOS

[code]

## OpenIddict

[code]

[2017-07-29 20:48] dazinator commented on #386
I'll pretend I know enough about certs that I am familiar with those terms from your last statement.
One quick suggestion, if calling those API's are idempotent, might be better to call them something like `EnsureDevelopmentSigningCertificate` rather than `Add` - assuming it only adds them if necessary.

[2017-07-31 14:46] ghost commented on #396
'dotnet restore' worked for me but I have to do it every time after I do rebuild instead of build.

[2017-08-02 18:44] ArtemAlekhin commented on #421
SaasKit has a method that creates [multi-tenant middleware pipelines](http://benfoster.io/blog/aspnet-core-multi-tenant-middleware-pipelines) - app.UsePerTenant.
Now I can set DataProtectionProvider for UseOAuthValidation middleware per tenant
[code]
But, app.UseOpenIddict() does not have options argument.
How I can set DataProtectionProvider instance for OpenIddict in **Configure** method?

[2017-08-02 21:39] kevinchalet commented on #421
You can't. OpenIddict works exactly like Identity (and all the authentication middleware in ASP.NET Core 2.0): it requires configuring the options in `ConfigureServices`.

[2017-08-02 21:43] sebastienros commented on #421
In Orchard each tenant gets its own set of services, so each tenant can have different options and configured services. Same thing for middlewares.

[2017-08-02 21:44] sebastienros commented on #421
Maybe take a look at https://github.com/OrchardCMS/OrchardCore.Samples if you want to try it.

[2017-08-03 14:44] ArtemAlekhin commented on #421
@PinpointTownes Do I understand correctly that after app.UseOpenIddict(), DataProtectionProvider  can not be specified at runtime?

[2017-08-03 16:06] kevinchalet commented on #421
Not sure I understand your question, sorry.

2017-08-03 16:44 GMT+02:00 ArtemAlekhin <notifications@github.com>:

[2017-08-03 16:49] ArtemAlekhin commented on #421
@PinpointTownes Sorry for my bad explanation.

If it would be possible to set DataProtectionProvider option for OpenIddict middleware at runtime, and not just in the `services.AddOpenIddict()` method, it would immediately solve my problem

[code]
When application starts:
    1) app.UseMultitenancy
    2) app.UseOpenIddict
    3) app.UseMvc
When request handling:
    1) app.UsePerTenant

[2017-08-03 19:42] kevinchalet commented on #421
As I already said, what you're trying to do is not supported by OpenIddict, just like it's not supported by Identity.

In 2.0, all the 'app.UseXYZ()` extensions associated with the security middleware (e.g OpenIddict, the validation middleware, the cookies middleware, Identity, etc.) will be gone, so the approach used by SaasKit won't be feasible at all.

Give Orchard's multitenancy a try if you w

[2017-08-04 08:17] ArtemAlekhin commented on #421
Thanks again Kevin for the detailed explanation.

[2017-08-07 20:23] #386 closed, assigned to kevinchalet

[2017-08-07 20:46] kevinchalet commented on #386
Please note that the `AddDevelopmentSigningCertificate()` method won't be automatically called by OpenIddict. It's an opt-in feature that requires invoking it explicitly. As such, the `Add` prefix seemed appropriate.

To make sure this feature is visible enough, I've updated the exception messages that are thrown when no signing credentials are registered (e.g when using JWT as the access token fo

[2017-08-11 11:16] brenmartin commented on #396
Has anyone got a permanent solution to this i have to run dotnet restore everytime i add/update a reference. This is annoying

[2017-08-15 10:49] JanEggers commented on #424
@PinpointTownes  hi there .net core 2.0 is final and im having problems getting password / refreshtoken flow working. updated samples would be very helpful

[2017-08-15 11:08] kevinchalet commented on #424
@JanEggers it's on my todo list :sweat_smile:

Can you tell us more about the issue you're seeing?

[2017-08-15 12:11] JanEggers commented on #424
my biggest problem is in AuthorizationController:
1. error CS7069: Reference to type 'AuthenticationTicket' claims it is defined in 'Microsoft.AspNetCore.Authentication', but it could not be found

2. Authentication.GetAuthenticateInfoAsync should be replaced with GetTokenAsync according to the migration announcement. that function just returns a string and so i dont know how to get principal and

[2017-08-15 12:14] JanEggers commented on #424
by the way it would be nice if that functions in the samples could be refactored into a service that could be used. right now i copy and paste the code from the samples to all projects im using your library...

[2017-08-15 12:16] kevinchalet commented on #424
`AuthenticationTicket` is now part of `Microsoft.AspNetCore.Authentication.Abstractions` (namespace: `Microsoft.AspNetCore.Authentication`).

I did some CTRL+F and couldn't find a trace of `GetTokenAsync()` in the announcement, so not sure where you saw that. `GetAuthenticateInfoAsync()` was replaced by `AuthenticateAsync()`.

[2017-08-15 12:17] kevinchalet commented on #424
It's not something I plan to do in the short term. For full flexibility, we opted for a template approach exactly like what Identity does with its `AccountController`/`ManageController`, which sounds better than forcing you to use our own authentication logic.

[2017-08-15 12:18] JanEggers commented on #424
yet another issue on startup:

the type "Microsoft.AspNetCore.Builder.AuthenticationOptions" in the Assembly "Microsoft.AspNetCore.Authentication, Version=2.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60" could not be loaded

   at Microsoft.AspNetCore.Builder.OpenIddictExtensions.EnableTokenEndpoint(OpenIddictBuilder builder, PathString path)

[2017-08-15 12:19] kevinchalet commented on #424
Are you sure you're using the OpenIddict 2.0 packages?

[2017-08-15 12:27] JanEggers commented on #424
oops no sry

[2017-08-15 13:02] ghost commented on #424
@JanEggers did you manage to solve your problem?

[2017-08-15 13:06] JanEggers commented on #424
the startup error is gone by updating 2.0 preview1 packages but i still dont know how to correctly implement AccountController CreateAuthTicket

[2017-08-15 13:28] kevinchalet commented on #424
@JanEggers I'm a bit surprised you're blocked by that since there's no difference between 1.x and 2.x except the `GetAuthenticateInfoAsync()` -> `AuthenticateAsync()` change.

[2017-08-15 14:19] ghost commented on #424
@JanEggers total newb here I also have the same startup errors as you and I updated the packages but I still get the errors. Is there something wrong with my version? `<PackageReference Include="OpenIddict" Version="2.0.0-preview1" />
    <PackageReference Include="OpenIddict.EntityFrameworkCore" Version="2.0.0-preview1" />
    <PackageReference Include="OpenIddict.Mvc" Version="2.0.0-preview1" />

[2017-08-15 14:21] kevinchalet commented on #424
@vincealdrin there's no final `2.0.0-preview1` version. Use wildcard versions: `2.0.0-preview1-*` or `2.0.0-*`

[2017-08-15 17:34] brenmartin commented on #396
Updating references numbers for all OpenIddict from 1.0.0-* to 1.0.0-beta2-0614 did the job

[2017-08-15 17:38] ghost opened #428 "Wrong table names with netcoreapp2.0 /EF Core 2 when using OpenIddict"
Hi there,

I just upgraded my existing netcore1.1 app to 2.0 (including new Openiddict version) and got it working basically.
But as soon as I tried to query my existing database via EF Core 2.0 I saw that my sql queries do not use my DbSet table names (e.g. "Pharmacies") but instead use the Entity name "Pharmacy".
The moment I comment out ._UseOpenIddict();_ within my _"services.AddDbContext"_ se

[2017-08-16 14:58] kevinchalet commented on #428
Hi @MoxxNull,

This bug was reported on Gitter by @bradmarder a few weeks ago: https://gitter.im/openiddict/openiddict-core?at=59710e43f5b3458e306809a1.

We haven't dug enough to determine what's causing it, but my feeling is that it's a regression in EF Core 2.0 because the code that registers the OpenIddict models in the model builder hasn't changed between OpenIddict 1.0 and 2.0 (and yet it wor

[2017-08-16 15:03] ghost commented on #428
Ah thanks for the link, I didn't check gitter.  Okay, I'll see what I can do!

[2017-08-16 15:14] kevinchalet commented on #428
FYI, here's the EF thread: https://github.com/aspnet/EntityFramework/issues/9225 (it was closed because no repro was provided to the EF team)

[2017-08-17 16:59] ghost commented on #428
I've uploaded a project to reproduce the error. Therefor I modified your code to a minimum to produce the error : https://github.com/MoxxNull/efcore2test

To be honest I have no idea about the whole Customizer stuff and just copied that :)

Hope that helps  (posted it in EF Core thread aswell)

[2017-08-17 17:01] kevinchalet commented on #428
Awesome @MoxxNull, thanks for taking the time to do that :clap:

[2017-08-17 17:28] JanEggers commented on #424
@PinpointTownes: i tried AuthenticateAsync but that fails for valid refreshtokens. is there any way to diagnose why it fails?

succeeded is false and none is true all other properties of info are null.

[2017-08-17 17:37] kevinchalet commented on #424
@JanEggers enable logging and take a look at your logs?

FYI, I ported all the OpenIddict samples to 2.0 last night, including the ROPC and refresh flow samples: https://github.com/openiddict/openiddict-samples

[2017-08-18 08:15] asadsahi commented on #424
Thanks @PinpointTownes .

[2017-08-18 09:18] joelnotified opened #430 "Invalid refresh tokens after apppool recycle"
Hi!
I have password flow with refresh tokens set up according to your examples and everything works as expected when running on localhost.

When deployed to IIS, we receive a 400 Bad Request `{"error":"invalid_grant","error_description":"The specified refresh token is invalid."}` when trying to refresh a token after the application pool has been recycled.

I'm guessing there is something that is b

[2017-08-18 13:03] kevinchalet commented on #430
Hi @joelnotified,

When deploying your app to IIS, you must configure Data Protection to ensure it uses a persisted key ring. See https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview for more information.

[2017-08-18 23:45] gizmohd commented on #428
OK guys.. I had this Exact same issue.. and was hitting my head against the wall...   Eventually I found a work around.. which almost seems to go against the current logic...

I noticed that with all of the Openiddict services disabled.. My EF tables and data were returning as expected.  But.. When i enabled the  options.UseOpenIddict(); in this section.. Things broke again..

      // Add framewo

[2017-08-19 00:44] kevinchalet commented on #428
Thanks for the detailed feedback :+1:

Using the `ModelBuilder` extension is indeed one potential workaround: it achieves the same result, but unlike the `DbContextOptionsBuilder` extension, it doesn't have to register an `IModelCustomizer` to be able to register the OpenIddict entities.

The very cool thing with the `DbContextOptionsBuilder` extension is that it allows you to register the OpenIdd

[2017-08-20 11:02] ghost commented on #428
2.0.0-preview1-0648 seems to work as it shoud, thanks for fixing!

[2017-08-20 11:02] #428 closed, assigned to nobody

[2017-08-21 08:25] IlyaShkapo commented on #377
Hello @PinpointTownes,

I faced with the same issue. When can we expect for this enhancement?
What workaround can we implement to avoid this issue now?

Thanks.

[2017-08-21 08:49] joelnotified commented on #430
That did the trick. Thank you! Haven't read up on .NET Core enough I guess.

[2017-08-21 08:50] #430 closed, assigned to nobody

[2017-08-21 09:10] JanEggers commented on #424
hi @PinpointTownes ,

sorry to bother you but i cant get it working.

i updated my playground project and im having the same issues, i digged a little further. the login / refresh requests seem to be ok but the handling of the auth token itself seems not to work.

i copied over the logs at

https://gist.github.com/JanEggers/f5014ab1ca21d2846b6eab550f8f554c

and updated the code at

https://github.

[2017-08-21 11:39] JanEggers commented on #424
finally i found my error.

i called AddIdentity after AddOAuthValidation which overrides default authentification and challange themes to use cookie auth. narf that wasted 2 days of my life.

[2017-08-21 12:38] kevinchalet commented on #424
@JanEggers glad you fixed your issue!

Identity is indeed a bit greedy and if you try to register your default scheme before calling Identity, it will be ignored.

@HaoK would that be worth considering updating `services.AddIdentity()` to avoid overriding the default schemes when they are not null (i.e when already set by the developer?).

[2017-08-21 14:16] HaoK commented on #424
Sure, that's something we can consider, please file an issue in identity.  But I'm not sure we can do it in 2.1 as that might be considered a breaking change (even if its a 'good' one in most cases).

[2017-08-21 14:22] kevinchalet commented on #424
@HaoK thanks! Done: https://github.com/aspnet/Identity/issues/1381.

[2017-08-22 10:01] michaelsogos commented on #180
Dear,

Come some one help me? I have a similar issue; my auth server and resource server are in different projects.

I configured my resource server startup in this way:
[code]
My config look like this:
[code]

I already share data protection key with redis.

But when i call my resource server with postman i receive this message from Auth Server:

the step to repro are:
1. Get token with PASSWORD

[2017-08-22 12:21] kevinchalet commented on #180
@michaelsogos the `client_id` of your resource server doesn't match the `resource` value you store in the authentication ticket. Rename `myClientId` to `resource_server` and it should work.

[2017-08-22 18:14] michaelsogos commented on #180
**It works, thanks**. (i did the opposite but it is the same) :)

_**I'd like to leave here an explanation for next coming.**_

An `resource` must be equals to the `clientId` to be valid when using the introspection endpoint.
The case is exactly when you want to implement Auth Server separated by Resource API (example when you implement microservices architecture).

The introspection endpoint ente

[2017-08-22 18:32] kevinchalet commented on #180
Thanks for the detailed feedback, @michaelsogos :+1:

[2017-08-22 18:35] michaelsogos commented on #180
Can i suggest you to add the explanation on wiky or at least on readme.md?

[2017-08-22 20:11] kevinchalet opened #433 "Implement reference tokens support as an opt-in feature"
## Objective:

Offering built-in support for reference tokens in OpenIddict, so that things like immediate access token revocation can be easily achieved in OpenIddict-based apps.

## Proposed API:

[code]

## Usage:

[code]

Open question: should we have an equivalent to the aspnet-contrib validation middleware for reference tokens, or is the introspection middleware enough for this task?

[2017-08-22 20:12] kevinchalet commented on #393
We will do that as part of https://github.com/openiddict/openiddict-core/issues/393, but for every supported flow (not just password).

[2017-08-22 20:12] #393 closed, assigned to nobody

[2017-08-22 20:12] #412 closed, assigned to nobody

[2017-08-22 20:13] kevinchalet commented on #405
Closing, as we didn't hear back from the NuGet folks.

[2017-08-22 20:13] #405 closed, assigned to nobody

[2017-08-22 20:15] #413 closed, assigned to nobody

[2017-08-22 20:15] #418 closed, assigned to nobody

[2017-08-22 20:15] #421 closed, assigned to nobody

[2017-08-23 08:00] adnan-kamili commented on #424
Hi @PinpointTownes ,

After upgrading to .net core 2.0, authorization is failing in JWT, in logs I can see user is (null) causing the challege to get executed:

https://github.com/adnan-kamili/AspNetCore-Web-Api-Rest-Starter-Kit/blob/master/Startup.cs

[2017-08-23 15:45] adnan-kamili commented on #424
To get it working I had to explicitly set:
[code]

[2017-08-25 13:22] michaelsogos opened #434 "Is possible to customize OpenIdDictApplication adding a new field?"
Dear,

Our needs is to add a new field on OpenIddictApplication.
We try to customize that entity, create an ef migration, update database schema, and referencing the new class (MyApplication that inherit from OpeniddictApplication<int>) when we need an instance of OpeniddictApplicationManager<MyApplication>(); till here everything ok.

But when we use dependency injection to get ApplicationManager

[2017-08-25 14:22] kevinchalet commented on #434
There are 4 things you need to do when creating your own entities (assuming you're willing to derive from ours, 'cause you don't have to if you also provide your own stores):

  - Create subclasses for `OpenIddictApplication<...>`/`OpenIddictAuthorization<...>`/`OpenIddictScope<...>`/`OpenIddictToken<...>` (using the longest generic overloads)

  - Use the `services.AddOpenIddict<...>()` overload

[2017-08-25 14:46] scharada opened #435 "Question :"
Hi, first thank you for sharing this great piece of software.

i am new to openiddict and looking to integrate it into an existing platform.
here is the scenario i am looking at:
the existing platform is a multi-tenant framework , it does take care of everything needed to handle tenants, users, registration, authentication .... all the nine yards. however, when it comes to external authentication,

[2017-08-25 14:53] michaelsogos commented on #434
Can you supply me an example? I'm stuck somewhere.

My need is to add a property `bool IsReserved` like this
[code]

[2017-08-25 15:07] kevinchalet commented on #434
[code]

[code]

[code]

[2017-08-25 16:38] michaelsogos commented on #434
Great, it work perfectly!!!

Just you forgot to mention this :) , but i not understood if it is needed again or not, time ago there was an issue that the DbContext options was not enought; i didn't try again without the below code. :)
[code]

[2017-08-25 16:39] michaelsogos commented on #434
For who come next, i implemented it for PK int, i can share example in case it is needed :)

[2017-08-25 18:18] kevinchalet commented on #434
@michaelsogos using the `ModelBuilder` is an alternative way to register the OpenIddict entities. In my sample, I used `options.UseOpenIddict<MyApplication, MyAuthorization, MyScope, MyToken, string>();` directly in Startup, which does the same thing.

[2017-08-25 21:14] michaelsogos commented on #434
yes, I suspected this ;) , i had both.

[2017-08-28 04:37] Bartmax commented on #405
not really much compromise from the nuget team but ...

https://github.com/NuGet/Home/issues/5346#issuecomment-325086938

[2017-08-28 13:49] TomTF opened #436 "Issue validating token on .net core 2.0"
Hi, i followed the following sample: [RefreshFlow](https://github.com/openiddict/openiddict-samples/tree/dev/samples/RefreshFlow/AuthorizationServer).

I set it up to use JWT-Tokens. My Problem is that every request (with an Authorize-Attribute) fails with 404.
After some investigation I found out that AddIdentity seems to cause the problem here. I tried to remove AddIdentity and register all requ

[2017-08-28 14:13] kevinchalet commented on #436
Hey,

Looks like `services.AddAuthentication(JwtBearerDefaults.AuthenticationScheme)` is correctly called after `servides.AddIdentity()`, so this should really override the default Identity schemes...

@HaoK any idea?

[2017-08-28 14:14] kevinchalet commented on #435
Hey,

It sounds a bit vague, but that should be possible using the code or implicit flows, depending on the nature of your client apps.

[2017-08-28 14:28] TomTF commented on #436
Figured it out, yay :)

I changed

[code]
to
[code]

 Thx

[2017-08-28 14:28] #436 closed, assigned to nobody

[2017-08-28 14:34] kevinchalet commented on #436
Arf yeah, Identity overrides `DefaultAuthenticateScheme`/`DefaultSignInScheme`/`DefaultChallengeScheme` so setting a `DefaultScheme` has absolutely no effect... even if you do it after calling `services.AddIdentity()` :cry:

@HaoK we absolutely need to do something to change that, it's really a common trap.

[2017-08-28 16:47] HaoK commented on #436
Yeah that's a bug, AddIdentity should set the default + default challenge scheme instead of Authenticate/SignIn, but in 2.1 we'll probably refactor the authentication settings into something different as well.

AddIdentityCore().AddAuthentication() or something

[2017-08-28 20:15] Flash717 commented on #424
@adnan-kamili thanks your posts, ran into same issue migrating to .net core 2.0, setting default-schemes as per your post resolved our token validation issue.

[2017-08-29 16:27] criistii opened #437 "POST Json: The specified 'Content-Type' header is not valid"
Hi,
I just started using your product and it seems an excellent solution for my Web API. Great work. I managed to make the app work with POST form parameters. However, I would like to be able to POST Json, since this will be the standard communication with the web-services. Is this possible?

{
	"username" : "user",
	"password" :"****",
	"grant_type" : "password"
}

[2017-08-29 18:02] chriseugenerodriguez opened #438 "validate id token"
Hi,

I would like to know the settings I need to add to validate id token for the front end. I am using angular 2. oidc-client.js thanks.

[2017-08-29 18:06] kevinchalet commented on #437
Hey @criistii and thanks for the kind words! :+1:

Nope, it's not. The OAuth2 specification explicitly requires sending the token request parameters using the "formurl" encoding. JSON is not allowed and thus not supported.

[2017-08-29 18:07] kevinchalet commented on #438
Hi,

Take a look at the implicit flow sample:
  - https://github.com/openiddict/openiddict-samples/blob/dev/samples/ImplicitFlow/AureliaApp/src/open-id-connect-configuration.ts
  - https://github.com/openiddict/openiddict-samples/blob/dev/samples/ImplicitFlow/AuthorizationServer/Startup.cs

[2017-08-29 23:41] #438 closed, assigned to nobody

[2017-08-30 00:31] kevinchalet commented on #438
@premiumwd you're welcome.

[2017-08-30 08:46] criistii commented on #437
I understand. Thanks for clearing that up for me.

[2017-08-30 08:46] #437 closed, assigned to nobody

[2017-08-31 17:19] peterman304 opened #439 "OpenIddict schema not getting created"
Steps to reproduce...

1. Clone sample project.
2. Run openiddict-password-flow-sample AuthorizationServer & Client App.
3. Ensure database & schema is created
4. Remove the OpenIddict tables
5. Run openiddict-password-flow-sample AuthorizationServer & Client App again
6. OpenIddict tables do not get created.

It seems to me that the OpenIddict schema only is created when AspNetCoreIdentity schema

[2017-08-31 19:12] kevinchalet commented on #439
As the name suggests, `context.Database.EnsureCreated()` only ensures that the database is created, it doesn't check whether all the tables are present or not.

To add the OpenIddict entities in an existing app, use the EF Core migrations.

[2017-09-01 05:33] ghost opened #440 "Multiple clients having same post_logout_redirect_uri causes openiddict to throw exception"
https://github.com/openiddict/openiddict-core/blob/6b7a1752894e23012c125621f2abdeb5daa21c38/src/OpenIddict/OpenIddictProvider.Session.cs#L87

---
Steps two create:
Create two client applications having same post_logout_redirect_uri.

Cause: Line 87 of src/OpenIddict/OpenIddictProvider.Session.cs
[code]

Applications.SingleOrDefaultAsync expects a single element, but multiple are returned.

[2017-09-01 11:29] peterman304 commented on #439
@PinpointTownes Thanks, the description of .EnsureCreated() suggested that if the database does not exist it will be created and all of the schema. I thought maybe it still check the entire schema.

I'll use migrations, thanks Pinpoint.

[2017-09-01 11:29] #439 closed, assigned to nobody

[2017-09-02 07:12] holap opened #441 "can't install openiddict"
Hi, I followed the instruction to add OpenIddict (2) packages, but Visual Studio can't find them.
![image](https://user-images.githubusercontent.com/6776194/29993712-c63fe38e-8fbe-11e7-8fc8-ba1f7d8883b2.png)

Any suggestion? Anyone has done it successfully?

[2017-09-04 14:21] kevinchalet commented on #441
Hey,

Have you tried to restart VS?

[2017-09-05 05:04] Murf commented on #441
Solution is to remove/not add "NuGet.Config" and instead add the aspnet-contrib package source via the configuration UI

[2017-09-05 05:07] kevinchalet commented on #441
Can you please try to specify an explicit version? E.g 2.0.0-preview1-0649.

[2017-09-05 05:36] holap commented on #441
Finally I was able to install openiddict with the command at this link https://www.myget.org/feed/aspnet-contrib/package/nuget/OpenIddict.

PM> Install-Package OpenIddict -Version 2.0.0-preview1-0649 -Source https://www.myget.org/F/aspnet-contrib/api/v3/index.json

After a restart of Visual Studio errors disappeared.

[2017-09-05 17:30] frostythecodeman opened #442 "~/connect/authorize endpoints decorated with Authorize"
Hello, after taking a look at your server sample and trying it myself I noticed that the methods tied to the ~/connect/authorize endpoint are decorated with the Authorize attribute. Could you kindly explain why this is?

Of course, when I try to use the authorization flow using postman it fails until I remove the Authorize decoration. Am I missing something?

[2017-09-05 18:25] kevinchalet commented on #442
Hey,

The `[Authorize]` attribute is simply here to automatically redirect the user to the login page if he/she's no already logged in.

Could you tell us more about the issue you're seeing?

[2017-09-05 19:19] frostythecodeman commented on #442
The use case is really when using postman and the authorization tab then selecting OAuth 2.0.

I entered the information for the server but it always fails, I assume it fails due to the authorize decoration.

[2017-09-05 19:21] kevinchalet commented on #442
Are you using the standalone/desktop Postman version? If so, please try with the Google Chrome extension version.

[2017-09-05 19:30] frostythecodeman commented on #442
I am loading it from google chrome. Once the authorize attrib decorates the method it doesn't go through. Looking forward to your insight, how would it go through in postman if the Authorize is still decorating the method?

[2017-09-06 05:17] #435 closed, assigned to nobody

[2017-09-06 12:17] maksym-devpro opened #444 "Unable to create or track an entity of type 'OpenIdTokenExtension' because it has a null primary or alternate key value."
Hello everyone

Please help me with customizing OpenIddictApplication

First of all I found how solved this issue here
https://github.com/openiddict/openiddict-core/issues/434

So I have next implementation custom OpenIdApplication:

    public class OpenIdApplicationExtension : OpenIddictApplication<string, OpenIdAuthorizationExtension, OpenIdTokenExtension>
    {
        public virtual OpenIdApp

[2017-09-06 13:01] kevinchalet commented on #444
Could you please try to add a constructor that populates the `Id` property?

Something like that:

[code]

[2017-09-06 13:49] maksym-devpro commented on #444
thank you so much!!
It's works!

[2017-09-06 17:37] #440 closed, assigned to nobody

[2017-09-08 08:02] criistii opened #446 "Is it possible to have a custom schema?"
Hi,
As the title mentions: Is it possible to configure a custom schema for the database tables?

Thanks,

[2017-09-08 11:48] kevinchalet commented on #446
Hey.

Assuming you're using OpenIddict with EntityFramework Core, yes it is: https://docs.microsoft.com/en-us/ef/core/modeling/relational/default-schema.

[2017-09-08 13:06] sharifnascenia opened #447 "Request to Sign up page"
I the Mvc.CLient Porject the following code take the request to
“Login” action of the “AccountController” in  Mvc.Server  Project
With  a  request token id

`[HttpGet("~/signin")]
        public ActionResult SignIn()
        {
            // Instruct the OIDC client middleware to redirect the user agent to the identity provider.
            // Note: the authenticationType parameter must match the

[2017-09-08 18:12] #433 closed, assigned to kevinchalet

[2017-09-09 09:55] UnknownQuestions opened #449 "Question: openiddict-core/samples/mvc.client: User.Identity.Name null"
Hi,
I'm trying out the sample from openiddict-core, but can't figure out why User.Identity.Name always returns null (mvc.client/views/shared/home.cshtml).
I thought
`
services.Configure<IdentityOptions>(options =>
{
options.ClaimsIdentity.UserNameClaimType = OpenIdConnectConstants.Claims.Name;
options.ClaimsIdentity.UserIdClaimType = OpenIdConnectConstants.Claims.Subject;
options.ClaimsIdentity.Ro

[2017-09-12 07:29] maksym-devpro opened #452 "Decryption ClientSecret from OpenIddictApplications table"
Hello everyone

Please help me with decryption ClientSecret from OpenIddictApplications table.

How can I decrypt ClientSecret ?

kind regards

[2017-09-12 12:47] kevinchalet commented on #452
Hey,

Client secrets are not encrypted, they are irreversibly hashed: https://github.com/openiddict/openiddict-core/issues/418#issuecomment-315090786.

Can you tell me more about your scenario?

[2017-09-12 13:12] maksym-devpro commented on #452
User want to see unencrypted ClientId on admin page for transfer their third-party services to access our service

I did not find a function that allows you to get the original ClientSecret from database

If I understand right your previous message  this code does not help me get the original ClientSecret

  IServiceScope scope = servicesProvider
                .GetRequiredService<IServiceScopeFa

[2017-09-13 12:00] Gillardo commented on #344
This seems to have come up again, now that i have updated my code.  And i am wondering if it exists in your code, but your using "string" keys, i am using long.

Anyway, i would like to know when is the `Token.ApplicationId` value set, because mine is always set to 0, so to fix this, i have added the following code to my `OpenIdTokenStore.cs` file.

[code]

Any ideas would be helpful.  I have copi

[2017-09-14 05:37] trashvin commented on #396
the solution by @brenmartin works when I do the restore on my machine.However, once in publish it to VSTS the restore fails with the following error:

[code]
Any idea why this issue occurs in VSTS?

[2017-09-15 08:49] ferdaousharmel commented on #398
netcoreapp2.0 - Could not load type 'Microsoft.AspnetCore.Builder.AuthenticationOptions'.Any suggestion Please ?

THANKS.

[2017-09-17 12:17] nourBerro opened #456 "The application associated with the token cannot be found"
visual studio upgraded the openiddic library  automatically because i used 1.0.0-* version, so i got version : 1.0.0-rc1-0684
but when i  AllowRefreshTokenFlow i got this exception "The application associated with the token cannot be found"

i understood that this exception thrown because there is no application data in database, but why do i need application Data in the database when im not using

[2017-09-17 12:47] kevinchalet commented on #456
Thanks for reporting that, it's indeed an unwanted regression.

I just committed a fix and new packages were published to the MyGet.org. Please give the `1.0.0-rc1-0686` packages a try and let me know if you're still seeing this exception.

[2017-09-17 12:47] #456 closed, assigned to kevinchalet

[2017-09-17 13:38] adnan-kamili opened #457 "changelog for new releases"
Hi,

Do you maintain a changelog for the new releases so that we can take necessary changes if required in the code.

[2017-09-17 23:45] IsmailHassani opened #459 "Cannot insert duplicate key in object 'dbo.OpenIddictApplications'"
When logging in from an client apaplication I get this error:

[code]

I saw this error previously when entities with sub-entities were updated by EF and EF tries to add an existing item. In my case it tries to add an existing application linked to the token.

[2017-09-18 07:29] IsmailHassani commented on #459
Ok, when I use postman without client_id and client_secret, I don't get this error. As soon I activate RequireClientIdentification and provide client_id I get this error.

`System.Data.SqlClient.SqlException (0x80131904): Violation of PRIMARY KEY constraint 'PK_OpenIddictApplications'. Cannot insert duplicate key in object 'dbo.OpenIddictApplications'. The duplicate key value is (a3955b1a-ea69-435

[2017-09-18 07:31] IsmailHassani commented on #459
`Microsoft.EntityFrameworkCore.DbUpdateException: An error occurred while updating the entries. See the inner exception for details. ---> System.Data.SqlClient.SqlException: Violation of PRIMARY KEY constraint 'PK_OpenIddictApplications'. Cannot insert duplicate key in object 'dbo.OpenIddictApplications'. The duplicate key value is (a3955b1a-ea69-435a-a275-e3a484414872).
The statement has been ter

[2017-09-18 09:18] altair256 opened #460 "Net core 2.0 and social providers"
Hello! When I updated project to net core 2.0 and openiddict 2.0 I get error when trying login with social provider. I get all data but still not authorized. User.Identity.IsAuthenticated is always return false. This happened only with social prover. Internal login work fine.

Statrup.cs
[code]

PersonsController.cs
[code]

I changed external authentication as a sample of openiddict, but anyway Us

[2017-09-18 12:59] kevinchalet commented on #459
FWIW I can't reproduce the issue you're seeing with the password flow sample even when enforcing client authentication and sending a client id/secret. Have you tried to reproduce it with a fresh new database to make sure it's not a consequence of a bad migration?

[2017-09-18 13:19] IsmailHassani commented on #459
yes, exact the same issue. Had to do with EF and tracking mechanism of child objects. As soon changed, problem is gone.

[2017-09-18 13:19] kevinchalet commented on #459
Can you reproduce it with the password flow sample?

[2017-09-18 13:33] IsmailHassani commented on #459
You mean the password flow sample in the project files? i'll give it a try.

[2017-09-18 13:43] kevinchalet opened #462 "OpenIddict RC1 no longer issues new refresh tokens by default"
Starting with `1.0.0-rc1` and `2.0.0-rc1`, OpenIddict will no longer issue a new refresh token when sending a `grant_type=refresh_token` token request.

## Why this change?

In the previous betas, OpenIddict used a non-configurable mode codenamed "rolling tokens": every time a refresh token was sent as part of a `grant_type=refresh_token` request, it was automatically revoked and a new single-use

[2017-09-18 13:44] kevinchalet commented on #459
I mean these samples:

  - https://github.com/openiddict/openiddict-samples/tree/master/samples/PasswordFlow
  - https://github.com/openiddict/openiddict-samples/tree/master/samples/RefreshFlow

[2017-09-18 13:54] IsmailHassani commented on #459
Ok the regular password flow works like expected.

[2017-09-18 14:19] IsmailHassani commented on #459
Also with an client_id/secret works. Strange...
Let see if I can find the differences.

[2017-09-18 15:56] Bartmax commented on #462
Why is this now the default instead of opt-in for this **less secure** method?

[2017-09-18 16:02] kevinchalet commented on #462
Because it's a better default: it doesn't have the race condition risk inherent to the rolling tokens option and it puts less stress on the database (fewer refresh tokens are stored as the same entry is reused when extending the token lifetime). Yet, the security level is still very good because the refresh token can still be revoked at any time if the client or the authorization server think it m

[2017-09-18 17:33] Bartmax commented on #462
Thank you for the clarification @PinpointTownes makes sense!

[2017-09-19 15:44] kinosang commented on #433
one more question, if we use reference tokens without a new validation middleware, how can we get Userinfo endpoint working? I don't want to use the introspection middleware in the OpenID Connect Server project, it's ugly and waste.

[2017-09-19 15:46] kevinchalet commented on #433
Currently, it's introspection or nothing.

[2017-09-19 15:52] kinosang commented on #433
@PinpointTownes I see. but when I try to use the introspection endpoint to validate the token with Postman, it always return false.

e.g.

POST http://localhost:55179/Api/Introspect
token=_YMBhvhLMzZm9th6kcreFY0s243-9EyK7qCmUqQmKyE

[code]

[2017-09-19 15:53] kevinchalet commented on #433
What do the logs say?

[2017-09-19 16:03] kinosang commented on #433
It says `The introspection request was rejected because the access token was issued to a different client or for another resource server.`

but I've already set the RP to "http://localhost:55179/"

[2017-09-19 16:03] kevinchalet commented on #433
Does the client id assigned to your resource server match the resource set when calling `ticket.SetResources()`?

[2017-09-19 16:17] kinosang commented on #433
@PinpointTownes you mean I should add the client id to the array of resource servers for `ticket.SetResources()`?

[2017-09-19 16:18] kevinchalet commented on #433
That's what I mean (and how introspection works in general). Create a client registration for your OIDC server and assign it a unique client identifier. Then, add it to the resources list using `ticket.SetResources()`.

[2017-09-19 16:26] kinosang commented on #433
Now I get

[code]

but the token is still not work with introspection.

[2017-09-19 16:28] kevinchalet commented on #433
Share your complete configuration and logs. Otherwise it's impossible to help you.

[2017-09-19 16:36] kinosang commented on #433
my mistake, the url of this server is not `http://localhost:55179/`. it listen on 55179 if I start it in VS. but it listen on 5000 when I start it via `dotnet run`.

thanks a lot.

sorry for wasting your time.

[2017-09-19 19:02] IsmailHassani commented on #459
In my dbcontext I set ChangeTracker.QueryTrackingBehavior = QueryTrackingBehavior.NoTracking.
After removing this line it worked. In previous versions of openiddict it worked.

[2017-09-19 19:02] #459 closed, assigned to nobody

[2017-09-20 00:13] bumblebee333 opened #463 "Question- Upgrade from 1.0 to 2.0"
Hi
   I am trying to upgrade an existing openIddict implementation (with the a prior db structure of openiddict) from 1.0 to core 2.0.  We are using angular app to authenticate via JWT tokens. In that process during authentication I am getting an error on the Server Implementation:
System.InvalidOperationException: The entity type 'OpenIddictToken' was not found. Ensure that the entity type has be

[2017-09-20 08:10] daiiawn commented on #449
We are also having a similar issue on our side having upgraded to core 2.0. Logging in seems to be working fine and we're getting a token passed back to the client. But when the client is trying to do any authenticated action and passing the token back to the server, if we try and access the OpenIdConnectConstants.Claims.Subject value, it is always null and not giving us the userID.

[2017-09-20 14:11] kevinchalet commented on #449
For `Identity.Name` to be non-null, you must disable the claims mapping feature used by the OIDC handler and set the correct claim types. Here's an example of how to do that (all the samples have been updated to use this approach): https://github.com/openiddict/openiddict-core/commit/ae54086ae993d17cf884cf0a719fa3f1bd0c65a8.

[2017-09-20 18:31] kevinchalet commented on #463
Hi @bumblebee333,

Please share your complete app (startup, DB context).

[2017-09-20 18:35] kevinchalet commented on #460
Hey,

Since `DefaultAuthenticateScheme` is configured to point to `JwtBearerDefaults.AuthenticationScheme`, `User.Identity` will never be populated with the cookies identity. Instead, use `HttpContext.AuthenticateAsync(IdentityConstants.ApplicationScheme)` to retrieve the application cookie identity.

[2017-09-20 18:38] kevinchalet commented on #457
I opened a ticket on the docs repo to track that: https://github.com/openiddict/openiddict-core/issues/457.

In the meantime, you can read https://github.com/openiddict/openiddict-core/issues/462 for more information about the most visible recent change.

[2017-09-20 18:38] #457 closed, assigned to nobody

[2017-09-20 18:41] kevinchalet commented on #447
One option is to avoid decorating your `Authorize` action with `[Authorize]` and manually use `RedirectToAction` to redirect the user to the page you want, based on specific conditions (e.g a parameter in the URL).

[2017-09-20 18:41] #446 closed, assigned to nobody

[2017-09-20 18:41] #449 closed, assigned to nobody

[2017-09-20 18:43] kevinchalet commented on #424
Closing, as I believe all/most questions have been answered.

@asadsahi let us know if you're still blocked.

[2017-09-20 18:43] #424 closed, assigned to nobody

[2017-09-20 18:44] kevinchalet commented on #441
This is likely a NuGet bug, probably related to https://github.com/NuGet/Home/issues/5537. I suppose it will be "solved" as soon as OpenIddict is uploaded to NuGet.org.

/cc @mishra14

[2017-09-20 18:45] kevinchalet commented on #444
Glad it solved your issue :+1:

[2017-09-20 18:45] #444 closed, assigned to nobody

[2017-09-20 18:46] altair256 commented on #460
Thanks for answering.
It is possible more in detail where I should write this. In Startup.cs or my controller, where the authorization process takes place?

[2017-09-20 18:47] kevinchalet commented on #452
There's no such thing because the secret is hashed: the original value can't be retrieved.

If you absolutely need to support this scenario, consider subclassing `OpenIddictApplicationManager` and overriding `ObfuscateClientSecretAsync()`/`ValidateClientSecretAsync()` to use your own encryption/hashing strategy.

https://github.com/openiddict/openiddict-core/blob/ae54086ae993d17cf884cf0a719fa3f1bd

[2017-09-20 18:48] kevinchalet commented on #460
Everywhere you use `User.Identity` when trying to retrieve a cookie identity.

[2017-09-20 19:00] mishra14 commented on #441
@PinpointTownes, I am not certain it is a nuget issue. I do not see open id dict on nuget.org. Plus the instructions by @holap seem to correct, if the package is only available on a specific source.

[2017-09-20 19:05] altair256 commented on #460
OK. Then, as I understand the [Authorize] attribute, I will have to change it to [Authorize (ActiveAuthenticationSchemes = IdentityConstants.ApplicationScheme)] ?

[2017-09-20 19:09] kevinchalet commented on #441
That's why I said `I suppose it will be "solved" as soon as OpenIddict is uploaded to NuGet.org` (i.e it's not yet on NuGet.org) :sweat_smile:

[2017-09-20 19:09] kevinchalet commented on #460
That's another option if you don't want to use `HttpContext.AuthenticateAsync(IdentityConstants.ApplicationScheme)`.

[2017-09-20 19:24] altair256 commented on #460
I use only User.Identity.IsAuthenticated. I dont understand where i must use HttpContext.AuthenticateAsync(IdentityConstants.ApplicationScheme)

[code]

[2017-09-21 14:24] HenrikTP opened #464 "Enumerating OpenIddictApplications via manager"
I am trying to make an interface for managing client applications on my OpenIddict auth server.

Not being able to get info from context (not out of the box) i looked at the OpenIddictApplicationManager and it has 1 method of enumerating applications "ListAsync" but I can not seem to figure out how it is used.

Can anyone provide an example or maybe an alternative way to accomplish this?

(I want

[2017-09-21 16:22] bumblebee333 commented on #463
Sorry @PinpointTownes , False alarm. Not sure why was I running into this issue. The main issue was I had a constructor injection of an OpenIddict object that I had not mapped in the DI container namely: OpenIddictApplicationManager<OpenIddictApplication> _applicationManager;

Since this was inside the main Auth API Controller I kept getting a 500 error, until I called the Auth API from postman I

[2017-09-22 01:36] HenrikTP opened #465 "Setting up custom scope"
I am fairly new to openid and auth in mvc and are creating an openiddict auth server and client mvc app as shown in the authorization code flow sample. I need to add companyid from my application user to my claims and are trying to figure out the steps needed.

So far i found out the following:
1. I add the scope to ticket in AuthrizationController.CreateTicketAsync in call to ticket.SetScopes.
2.

[2017-09-22 10:58] HenrikTP commented on #465
Hmm...maybe this should have been posted in stackoverflow. Closing this one.

[2017-09-22 10:58] #465 closed, assigned to nobody

[2017-09-22 12:43] kevinchalet commented on #465
Feel free to post the link once you posted it.

[2017-09-22 12:51] kevinchalet commented on #464
Note that you can add a `public DbSet<OpenIddictApplication> Applications` property to your DB context if you want to expose the application entity and use it your own code.

The syntax is quite straightforward. For instance, if you want to retrieve 10 applications (and skip the 20 first ones for pagination), you can use:

[code]

If you need to retrieve all the applications and project them to `M

[2017-09-22 12:52] #463 closed, assigned to nobody

[2017-09-22 13:13] antonsacz opened #467 "SignalR + Token"
Hi,

I'm trying to map signalR sessionId with user account. To identify the user I'm sending to Hub token and trying to resolve it into user identity. Is it possible to do it this way? May be there are some other options to identify user with signalR?

Thanks,
Anton

[2017-09-22 13:32] kevinchalet commented on #467
Hey,

You can send the access token in the `Authorization` header as part of the handshake request like you'd do with any other API.

Unfortunately, this won't work well with browser-based clients because the WebSockets JS API doesn't offer a way to set the request headers. In this case, the recommended approach is to use a query string parameter. Here's how you can force the OpenIddict validation

[2017-09-22 14:11] antonsacz commented on #467
Thanks, it has helped!

[2017-09-22 14:11] #467 closed, assigned to nobody

[2017-09-24 17:15] Farshidgolkarihagh commented on #398
I am having the same problem, is there any solution? Would appreciate help/guidance.

Thanks

[2017-09-24 18:35] kevinchalet commented on #398
What's the exact OpenIddict version you're using?

[2017-09-25 08:17] HenrikTP commented on #464
Thank you for the answer.

[2017-09-25 08:17] #464 closed, assigned to nobody

[2017-09-25 08:47] HenrikTP commented on #465
I posted it on StackOverflow https://stackoverflow.com/questions/46401049/setting-up-custom-scope-for-openiddict-mvc-core-2-0

[2017-09-27 17:56] kevinchalet commented on #344
@Gillardo have you configured your context to manually disable changes tracking? The default stores won't work without it. If you absolutely want to turn it off, what you're doing to work around the lack of automatic tracking is the best approach.

FYI, both OpenIddict 1.x and 2.x now have official stores for Entity Framework 6.x that use the default entities. They can be found in the `OpenIddict.

[2017-09-27 19:39] JakeLokkesmoe commented on #433
Are there any plans right now for a validation middleware for reference tokens other than introspection?

[2017-09-27 23:03] kevinchalet commented on #433
@JakeLokkesmoe nope, not right now. I don't have enough bandwidth for that ATM as I'm focusing on releasing the first public version of OpenIddict (RC1).

[2017-09-27 23:05] JakeLokkesmoe commented on #433
@PinpointTownes ok. Thanks

[2017-09-28 05:28] kevinchalet commented on #16
Note: we now offer an option to control the exposed scopes. Scopes handling is made in user code and there's no plan to change that.

[2017-09-28 05:28] #16 closed, assigned to kevinchalet

[2017-09-28 05:29] kevinchalet commented on #29
Closing, as such support is expected to be implemented in user code (OpenIddict doesn't handle authentication).

[2017-09-28 05:29] #29 closed, assigned to kevinchalet

[2017-09-28 05:30] kevinchalet commented on #228
Closing as we now have a dedicated repo for documentation, where all these options will be explained: https://github.com/openiddict/openiddict-documentation. I plan to remove the wiki once the docs are ready.

[2017-09-28 05:30] #228 closed, assigned to nobody

[2017-09-28 14:40] Gillardo commented on #344
@PinpointTownes yes i have stopped change tracking!  This must be the issue.

I will have a look at implementing the new EF6 stores, since you have now created them! thanks again.  will keep you updated!

[2017-09-29 08:38] adnan-kamili opened #470 "Tokens with no expiration are not allowed"
I am implementing personal access tokens (JWT) as a replacement for Api Key. The token is issued by a separate endpoint (not openiddict).

I have kept the structure similar to the jwt tokens issued by the openiddidct `token` endpoint.

Everything works fine, but if I create a personal access token with no expiry (no `exp` claim), **openiddict middleware** rejects the request:

"www-authenticate":

[2017-09-29 08:53] kevinchalet commented on #470
That's not an OpenIddict error but something returned by the JWT handler.

Feel free to ask your question here: https://github.com/aspnet/Security.

[2017-09-29 11:53] altair256 commented on #460
As I understood in net core 2.0 social with jwt do not work? There is an exit from this problem or do not use a social provider yet? In net core 1.1 and openiddict 1.0 with jwt this configuration worked fine.

[2017-09-29 19:55] altair256 commented on #460
Thank You @PinpointTownes. Problem is solved. See https://github.com/aspnet/Security/issues/1453#issuecomment-333211961

[2017-09-29 19:55] #460 closed, assigned to nobody

[2017-09-30 11:06] adnan-kamili opened #471 "The specified authorization code is no longer valid"
Hi,

I am trying the autorization_code grant type. Everything works fine and I can see code getting generated in the addressbar:

`https://app.getpostman.com/oauth2/callback?code=CfDJ8H0dZC4WZVpMpIpqgakyGz8jr-0YKMnFhQXMcEEXgQCdpW2-hUi25ZR9FXXxepHSWdZadNV9S_dAi6aAHjm.....`

When I try to generate the access token using the code, I get the error:

[code]

I checked the database and I see that `Ciphe

[2017-09-30 12:44] kevinchalet commented on #471
Hey,

These properties are only used when enabling reference tokens.

Authorization codes expire after 5 minutes by default. Are you sure you're not waiting too much time before redeeming your authorization code?

[2017-10-01 01:53] adnan-kamili commented on #471
Thanks, it seemed to be the time issue only. I wonder what is the purpose of **azp** claim in the token created through code flow.

Secondly, the access token created would expire after some time - 3600 seconds, how will the client again get the access token, as code will expire after 5 mins?

Do I need to provide refresh token too to the client, I suppose that should be must to allow the client t

[2017-10-01 08:25] kevinchalet commented on #471
azp = authorized party (the client app which is allowed to present a token).

Yes. Take a look at the refresh token flow sample to see how it's implemented.

[2017-10-01 14:12] adnan-kamili commented on #470
Setting `RequireExpirationTime = false` in `TokenValidationParameters` fixed the issue

[2017-10-01 14:12] #470 closed, assigned to nobody

[2017-10-02 02:10] marcrib opened #472 "Can I use mvc client with ImplicitFlow?"
Can I use mvc client with ImplicitFlow?

I have a fully API project.
I need to authenticate an MVC project .

Project.API = API only
Project.Web = MVC and will consume the API for all, it only render the views with html helper

It is a project only for the frontend, but it is not SPA yet, all routes are made by the server

How do I do that?

[2017-10-02 11:58] HenrikTP opened #473 "Implement JWT on resource server API auth"
HI!

I have put up this question on stackoverflow:

[openiddict-mvc-core-2-0-and-jwt-on-resource-server-api](https://stackoverflow.com/questions/46422535/openiddict-mvc-core-2-0-and-jwt-on-resource-server-api
)
The question was a little diffuse when I first entered it but I edited it and it is now 2 specific questions about JWT on resource server and I'm sure its pretty straight-forward. So if you

[2017-10-04 16:13] xperiandri commented on #320
@pholly, maybe it would be nice to contribute this to a sample?
@PinpointTownes, do you plan to include it into OpenIddict itself? Or a separate package?

[2017-10-04 16:24] xperiandri opened #475 "What is hybrid client?"
Is it a concept of some standard?

[2017-10-04 16:38] kevinchalet commented on #472
Although I don't recommend it, you can.

Register your MVC app as a public app and it should be enough.

[2017-10-04 16:50] kevinchalet commented on #475
It's an OpenIddict concept inspired by how the hybrid flow works.

In a nutshell: hybrid clients behave the exactly same way as confidential clients except they are allowed to retrieve an access token from the authorization endpoint. This allows creating "hybrid" applications that have a JS frontend using the access token directly and a server-side backend retrieving another access token using the

[2017-10-04 16:58] kevinchalet commented on #320
@xperiandri we now have a `ListAsync()` method: https://github.com/openiddict/openiddict-core/issues/464#issuecomment-331437806

That said, we'll probably add a simpler overload taking `count` and `skip` parameters like the one the Orchard module has.

[2017-10-04 17:34] korzh opened #476 "Refresh token request always returns 400 in 2.0.0-rc1-0713"
Hello,

We updated to version 2.0.0-rc1-0713 version 2 days ago. Since that time all requests to /connect/token with "refresh_token" grant type return 400 (Bad Request) code. The refresh token we send is exactly the same we got from original /connect/token request with "password" grant type.
We didn't change anything except obvious changes in our implementation of IOpenIddictApplicationStore becau

[2017-10-04 17:51] sethen opened #477 "500 error with token endpoint"
I am having an issue with my endpoint working.  Copying straight from the example controller found here: https://raw.githubusercontent.com/openiddict/openiddict-samples/dev/samples/ClientCredentialsFlow/AuthorizationServer/Controllers/AuthorizationController.cs and then trying to hit the endpoint results in the following:

[code]

Here is my `Startup.cs` file:

[code]

The interesting bit here is

[2017-10-04 18:30] kevinchalet commented on #476
Hey,

Is your `OpenIddictTokens` table correctly populated? Does the token entry have a valid state?

I just pushed an update that includes the token identifier in the log messages. That should help you find the corresponding entry in the database.

[2017-10-04 18:33] kevinchalet commented on #477
`app.UseOpenIddict()` was indeed removed as we now have a unique middleware in ASP.NET Core 2.0 (`app.UseAuthentication()`). I updated the exception message to ensure the correct name is used in the 2.x version of OpenIddict.

Your logs don't mention the URL of the token request. Please share the previous log messages.

[2017-10-04 18:44] sethen commented on #477
Sorry about that, here's what you're looking for:

[code]

It says `http://localhost:5000/api/authorization/connect/token` because I am not able to get the API to respond at all when using the `~/connect/token` for whatever reason with a POST request.  Taking off the `~` throws a 500 though.

[2017-10-04 18:46] sethen commented on #477
I also did change my `Startup.cs` file to have `options.EnableTokenEndpoint("/authorization/connect/token");` as well to make sure they were aligned and I was receiving the same error.

[2017-10-04 18:48] kevinchalet commented on #477
Thing is `/api/authorization/connect/token` is not equal to `/authorization/connect/token`... the exception message is right 😅

Fix the path in your Startup class and it will work.

[2017-10-04 18:50] sethen commented on #477
Well of course, I knew it had to be something silly.  Thanks a lot!

[2017-10-04 18:50] #477 closed, assigned to nobody

[2017-10-04 19:20] korzh commented on #476
Thank you. I will try it out.

[2017-10-04 19:37] korzh commented on #476
That was it. It appears we didn't save token status before (just forgot to set Status property during token creation).
It also appears that it was not important before that update 2 days ago. :)

[2017-10-04 19:37] #476 closed, assigned to nobody

[2017-10-05 08:48] JonSomNor commented on #396
This did the trick for me:
https://github.com/emonney/QuickApp/issues/4

[2017-10-05 09:15] HenrikTP commented on #473
@PinpointTownes could I ask you to take a look at this at some point? (I think you may have seen it b4 I edited it).
Should I re-post it in full here?

[2017-10-05 09:17] kevinchalet commented on #473
I'll try to post an answer today, but basically you shouldn't use the OIDC handler for your resource server. Use the JWT handler instead.

[2017-10-05 11:42] a-harutyunyan opened #478 "How to get the date from dbo.OpenIddictApplications and from the rest of the dbo.Openiddict Tables?"

[2017-10-05 11:58] kevinchalet commented on #478
Date of what?

[2017-10-05 12:03] a-harutyunyan commented on #478
for example. ClientId from dbo.OpenIddictApplications how to get?

[2017-10-05 12:11] kevinchalet commented on #478
Sorry, I don't get your question.

[2017-10-05 12:15] a-harutyunyan commented on #478
Thank you for attention

[2017-10-05 15:32] asadsahi opened #479 "Single page applications social logins e.g facebook, google etc"
In Visual studio MVC templates there are examples of social logins. Methods like ExternalLoginCallback (get) and  ExternalLoginCallback (post) to register the account with that social login. This relies on Cookies.

In SPA based scenarios how we can achieve social logins relying on typical tokens. If we keep same mechanism to redirect social sites to ExternalLoginCallback (get) callback and load s

[2017-10-05 17:20] kevinchalet commented on #320
@pholly @xperiandri a new overload will be introduced as part of https://github.com/openiddict/openiddict-core/pull/480.

[code]

[2017-10-05 17:29] pholly commented on #320
Cool. I ended up creating Entity Framework scaffolding controllers to
handle CRUD for Applications.

On Thu, Oct 5, 2017 at 1:20 PM, Kévin Chalet <notifications@github.com>
wrote:

[2017-10-05 18:45] sethen commented on #368
I ran into this issues today and adding

[code]

To my `Startup.cs` fixed the issue.  However, the samples are missing this code.  It might be worthwhile to update the code to reflect that.

[2017-10-05 18:49] kevinchalet commented on #368
Which sample(s) do you refer to?

All the samples that use Identity include this snippet:

  - https://github.com/openiddict/openiddict-samples/blob/15c711040917a00055adf7e8e4b932dfe4c4f9a5/samples/CodeFlow/AuthorizationServer/Startup.cs#L47-L52

  - https://github.com/openiddict/openiddict-samples/blob/15c711040917a00055adf7e8e4b932dfe4c4f9a5/samples/ImplicitFlow/AuthorizationServer/Startup.cs#L4

[2017-10-05 18:52] sethen commented on #368
Ah, I was actually looking at the `PasswordFlow` sample.  I think I must've skimmed over it.  The first comment had me a little confused when I clicked on it because it highlighted not that code.  You're right, my bad!

[2017-10-05 19:50] dfederm commented on #479
I solved this problem for my SPA, but I tend to believe I reinvented the wheel a bit as there is a bunch of code I had to write.

In theory, the existing ExternalLogin stuff would just work but issue a token instead of a cookie. I couldn't figure out how to do that though.

The gist for my solution is just to get an external token in the "normal" way on the client (ideally an id token, but in some

[2017-10-06 07:30] kevinchalet commented on #320
@pholly ah yeah, that's a good option too :+1:

[2017-10-06 07:30] #320 closed, assigned to nobody

[2017-10-06 07:30] kevinchalet commented on #320
Closing, as the API was implemented in the latest OpenIddict RC1 bits.

[2017-10-06 11:14] ArcadeRenegade opened #481 "HTTP request with invalid access_token in the Authorization Bearer header goes on indefinitely (times out)"
For some reason, when I do a web request with an invalid access_token in the Authorization Bearer header on my production server it goes on indefinitely until it times out.

When I do the same web request in debug mode with Visual Studio 2017 it correctly returns an immediate 4XX error.

But on my production server I have this timeout issue. It is an AWS Elastic Beanstalk environment with 2 web se

[2017-10-06 13:01] anorborg opened #482 "PostLogoutRedirectUris and RedirectUris seem to have wrong return type"
It looks like `PostLogoutRedirectUris` and `RedirectUris` on `OpenIddictApplication` were changed recently to support multiple uris. There code looks good, but I installed the latest from myget and the return types appear to be strings oddly:

<img width="612" alt="capture 2017-10-06 at 5 42 31 am" src="https://user-images.githubusercontent.com/264755/31278816-5ba5719e-aa5b-11e7-99be-47ed4db5298b.

[2017-10-06 16:49] kevinchalet commented on #482
Did you read the XML documentation?

[2017-10-06 17:01] anorborg commented on #482
Apologies, I was confused by the updated example code here:

https://github.com/openiddict/openiddict-core/blob/dev/samples/Mvc.Server/Startup.cs#L153

but now see a different class is being used as well.

[2017-10-06 17:01] #482 closed, assigned to nobody

[2017-10-06 20:51] kevinchalet commented on #481
To be honest, absolutely no idea. I've deployed a bunch of OpenIddict-based apps to AWS and I've never seen such a weird thing.

[2017-10-07 10:07] ArcadeRenegade commented on #481
Okay, this seems to have happened because I was not properly handling the forwarded headers from the load balancer. Once I set that up, the timeout stopped happening for invalid accesstokens.

Final Edit: I realized what was happening after fixing all this. An invalid access token was returning a redirect to the HTTP:80 /account/login url but that does not exist since I'm not using cookies. Also,

[2017-10-07 10:07] #481 closed, assigned to nobody

[2017-10-09 08:31] matteobortolazzo opened #483 ""The entity type'OpenIddictToken' was not found" when scope=offline_access"
Hi, I'm trying to implement refresh tokens so I updated to 1.0.0-rc-1-0724 and I copied Startup and AuthController from the refresh [sample](https://github.com/openiddict/openiddict-samples/tree/master/samples/RefreshFlow/AuthorizationServer).

Everything works like before but when I add scope=offline_access it gives me "The entity type'OpenIddictToken' was not found".

The only thing I added is:

[2017-10-09 08:38] #478 closed, assigned to nobody

[2017-10-09 08:39] a-harutyunyan opened #484 "How will receive the date of birth of the user from login provider? and another property"

[2017-10-09 09:06] kevinchalet commented on #483
The exception indicates the OpenIddict entities are not correctly registered in the database so make sure there's nothing wrong there.

[2017-10-09 09:19] matteobortolazzo commented on #483
This is my configuration:
![Conf](http://i.imgur.com/SlnFBuo.png)

Already added a migration.

[2017-10-09 09:30] kevinchalet commented on #483
Do the 4 OpenIddict tables exist in the database?

[2017-10-09 09:32] matteobortolazzo commented on #483
Yes, without "scope=offline_access" it works fine.

[2017-10-09 09:38] kevinchalet commented on #483
Because in this case, it doesn't create and persist a refresh token entry in the database.

You most likely have an issue with your EF or SQL config.

[2017-10-09 09:43] matteobortolazzo commented on #483
Every other request to the DB works.
How can I find where the issue is?
This is the migration.
![](http://i.imgur.com/iUCcB7w.png)

[2017-10-10 18:39] daveyjay opened #485 "Branching between Identity JWT for API"
I am in the process of upgrading my .net core 1.1 app to .net 2.0 along with updating OpenIddict to the latest version.

My prior solution had the used OpenIddict Implicit flow.  My SPA app talked to an endpoint that contained both the Authorization server and my Web API resource all in one project.  I used Identity with cookie authentication for logging in to the Authorization server and for the

[2017-10-10 19:32] kevinchalet commented on #473
Answered on SO.

[2017-10-10 19:32] #473 closed, assigned to nobody

[2017-10-11 11:43] kevinchalet commented on #485
As you figured out, branching is no longer natively possible in 2.0. The recommended option is to leave the Identity cookies handlers as the default schemes and decorate your API controllers with `[Authorize(AuthenticationSchemes = "Bearer")]`.

Alternatively, you can create your own default scheme provider: https://stackoverflow.com/questions/46464469/how-to-configureservices-authentication-based

[2017-10-11 19:37] daveyjay commented on #485
Thanks for the clarification and that excellent link - I am still having quite a bit of trouble getting this all to work with the same AuthServer and Resource server in the same project....

I am able to tweak the Implicitflow OpenIddict samples to get this to work with JWT as long as they are in separate projects - but trying to combine them doesn't seem to work.

There are a couple of issues I a

[2017-10-11 22:33] daveyjay commented on #485
After much pain and suffering I got everything working!

Posting results here - perhaps it will help someone else.

To get this all to work (Authorization server using Identity cookies and API using JWT token authentication in one project)  I made the following changes:

- Removed the CustomAuthenticationSchemeProvider class

- Removed the .AddOAuthValidation() call in ConfigureServices from

`
 s

[2017-10-12 08:30] matteobortolazzo commented on #483
Any suggestions? I really need this. The only thing I'm asking is if there's a way to find out where the problem is.

[2017-10-12 08:51] #484 closed, assigned to nobody

[2017-10-12 09:45] matthewwren opened #488 "Scope Restrictions per Application"
Hi there,

This is my first time implementing an oAuth server, so I just have a couple of noob questions.

Is there a way out of the box that I can restrict which scopes an application may request?  My current thought is deriving from the application class and adding the scope restrictions there, but I wanted first to check if that is the right thing to do in openiddict?

Also, I don't want to all

[2017-10-12 11:13] korzh opened #489 "An unhandled exception after updating to 2.0.0-rc1-0733"
My project has updated to the version 2.0.0-rc1-0733 of OpenIddict today (we set version as "2.0.0-*" to always compile against the latest update).
We modified our implementation for stores and replaced all arrays used there with ImmutableArray.
Then we compiled and ran the project.
The app runs well but during the token exchange process we got the following exception:
[code]
The exception occurs

[2017-10-12 11:16] kevinchalet commented on #489
As announced on Gitter, I had to introduce API changes in ASOS 2.0.0-rc1 for OpenIddict RC1, which required rebuilding the `2.0.0-rc1-final` version. Can you please remove the ASOS bits from your .nuget\packages folder and try again?

[2017-10-12 11:19] kevinchalet commented on #489
Here are the packages you must remove before restoring:

![image](https://user-images.githubusercontent.com/6998306/31493546-fa37a180-af4f-11e7-8c2d-51b72a5f280c.png)

[2017-10-12 12:22] korzh commented on #489
Yes. It works!
Thank you.

I didn't have any 'owin.security.*' packages in my Nuget cache by the way

[2017-10-12 12:26] kevinchalet commented on #489
Let's keep this ticket open to make it more visible, in case other people would see a similar exception.

These packages are only used if you develop a legacy OWIN/Katana app :smile:

[2017-10-12 22:21] ArcadeRenegade commented on #489
Hi @PinpointTownes

I am getting this error after the latest update. This is with a brand new clean migration and database.

An unhandled exception occurred while processing the request.

NullReferenceException: Object reference not set to an instance of an object.
lambda_method(Closure , QueryContext , ValueBuffer )

Stack Query Cookies Headers
NullReferenceException: Object reference not set to

[2017-10-12 22:26] ArcadeRenegade commented on #489
Disregard. Deleting those package folders from C:\Users\Me\\.nuget\packages and then restoring packages fixed the issue.

[2017-10-12 22:30] kevinchalet commented on #489
@ArcadeRenegade interesting, that looks like an EF issue and the API change that requires clearing your packages shouldn't cause that.

It seems EF didn't like this query:

[code]

[2017-10-12 23:05] kevinchalet commented on #489
The error message looks identical to [the one reported in this EF Core bug](https://github.com/aspnet/EntityFrameworkCore/issues/9804), tho' the root cause seems different (the OpenIddict entities don't use inheritance).

Do you use custom entities?

[2017-10-12 23:05] kevinchalet commented on #481
Thanks for the detailed explanation. Hopefully, it will help other people in the same situation :clap:

[2017-10-12 23:06] ArcadeRenegade commented on #489
I use Hangfire, Identity with a custom AppUser\<int> and AppRole\<int>, and many custom entity classes for the business logic.

[2017-10-12 23:10] kevinchalet commented on #489
I meant custom OpenIddict entities, and more particularly the token and authorization classes.

[2017-10-12 23:16] ArcadeRenegade commented on #489
Oh I see. No I don't have any custom OpenIddict entities. I basically have the same code as the OAuth sample but I added a custom Facebook and Google external login flow. And my Identity entities use \<int> keys. I also specify \<int> keys for OpenIddict.

I also move the OpenIddict entities to their own schema in my DbContext.OnModelCreating:

[code]

[2017-10-12 23:26] kevinchalet commented on #489
Okay, good to know. Please let me know if you see this exception again so we can consider using a different API to retrieve the authorization identifier associated with a token.

[2017-10-13 09:10] Gillardo commented on #489
Cleared nuget and ran `dotnet restore`, and mine working to. Thank you!

[2017-10-13 16:57] kevinchalet commented on #483
I see in the first screenshot that you use Guid as the key type when calling `options.UseOpenIddict<Guid>()` but not when calling `services.AddOpenIddict()`. Use `services.AddOpenIddict<Guid>()` and try again.

[2017-10-13 17:05] kevinchalet commented on #488
Hey,

Yep, this is indeed the right thing to do. To create custom entities, create classes derived from the default OpenIddict models and use the correct overloads to register them:

[code]

[code]

[code]

Then, in your authorization controller, you can add custom logic to either reject the request when the client requests the `profile` scope when it's not allowed to do so or simply ignore the `p

[2017-10-13 19:49] matthewwren commented on #488
Thank you very much for your help.  I did exactly what you said and it all works, although I added a string array of scopes to the derived application class.  To see how I used that to restrict the scopes requested see the code at the bottom of this post.

I do have one further related problem in that I can't seem to stop the client from the demo code requesting the "profile" scope.  Do you know h

[2017-10-13 20:17] kevinchalet commented on #488
OpenIddict doesn't handle the client part. You can force the OIDC handler not to send the `profile` scope by calling `options.Scope.Clear()` in the OIDC options.

[2017-10-13 20:20] kevinchalet commented on #488
Note: since you're implementing an interactive flow, you should return a view instead of a JSON response as I initially suggested (I thought you were using the password flow).

Alternatively, you can also ask OpenIddict to return the user back to the client:

[code]

[2017-10-13 21:36] matthewwren commented on #488
Great.  That is all working.  Many thanks for your help.

[2017-10-13 21:36] #488 closed, assigned to nobody

[2017-10-15 14:52] korzh opened #491 "Authorizations instead of Tokens"
You probably meant to use Authorizations property here instead of Tokens.

https://github.com/openiddict/openiddict-core/blob/4f4eb4348713ce46227ee4851ead201d212798d3/src/OpenIddict.EntityFrameworkCore/Stores/OpenIddictAuthorizationStore.cs#L335

[2017-10-15 15:32] kevinchalet commented on #491
Yep, nice catch @korzh!

Thanks for reporting this bug. I fixed it in both the OpenIddict 1.x and 2.x branches and new packages should be pushed soon to MyGet by the CI server: https://github.com/openiddict/openiddict-core/commit/8404db2bec2ba9ae76778049e72860a9959cda01.

[2017-10-15 15:32] #491 closed, assigned to kevinchalet

[2017-10-16 10:58] DavidUrting opened #492 "Strong name signing issue"
Hello,

adding OpenIddict packages to an ASP.NET Core 2 application, that is signed with an .snk key, causes a **strong name validation failed** exception since the OpenIddict assemblies are not fully signed.
Is it possible to sign the assemblies in future releases?

Thanks,

[2017-10-16 11:12] kevinchalet commented on #492
Hey,

Unfortunately we can't because OpenIddict depends on an external library that is itself not strong-named: https://github.com/henkmollema/CryptoHelper.

In an old post, CryptoHelper's maintainer (@henkmollema) suggested using the [StrongNamer package](https://www.nuget.org/packages/StrongNamer/).

This is not something we can do in the OpenIddict project itself (as it would result in the Open

[2017-10-16 11:44] DavidUrting commented on #492
Thanks for the pointer to **StrongNamer**, it's a magic little gem I didn't knew it existed. It works now!

[2017-10-16 11:45] henkmollema commented on #492
Dodged a bullet there! 😄

[2017-10-16 11:49] henkmollema commented on #492
That being said, I will look into providing a strong named package of CryptoHelper. @PinpointTownes seems to like strong naming a lot. 😈

[2017-10-16 12:52] kevinchalet commented on #492
Haha no, I don't. But SN is one of these viral things (like async and generics :sweat_smile:). If we don't sign our assemblies, folks that use them have to do that themselves ; tho' I agree it's no longer painful these days, thanks to build tools like StrongNamer.

[2017-10-16 16:51] kevinchalet commented on #492
If you do that, please let me know. OpenIddict RC1 is about to be pushed to NuGet.org, so that might be the occasion (note that we'd need both an ASP.NET Core 1.0.0 and 2.0.0-compatible version).

[2017-10-17 15:28] kevinchalet commented on #489
@Gillardo on a totally unrelated note, did you have a chance to test the "official" Entity Framework 6 stores? They'll be part of the RC1 release, so that would be cool to determine if you see any missing feature/bug.

[2017-10-17 16:09] Gillardo commented on #489
Yep I am using them now they seem to be working fine.

Migrations aren't included at the moment are they? As I have experienced
problems when changes have been done but I have just deleted the tables and
entry in migration history table and all ok

On 17 Oct 2017 16:43, "Kévin Chalet" <notifications@github.com> wrote:

[2017-10-18 10:18] AhmedRagheb opened #493 "A lot of Breaking changes"
I am using openiddict in a project and every time I build it, I got Database breaking changes.

- Is it a right approach to change Db with nullable columns without any backward compatible and without any script update the Database automatically?

- Is this library that we can use in big important projects or this is a side-fun project and there is no any rules for pushing or code-review?

I hope t

[2017-10-18 10:36] kevinchalet commented on #493
"scripts" are specific to the database engines they are written for and I can't reasonably write one for every engine out there (SQL Server, PostgreSQL, MySQL, etc...).

Assuming you're using the Entity Framework Core stores, you're encouraged to use the migrations system, which is a manual operation but works generally well.

I've personally used it in security-critical projects and most of the r

[2017-10-19 14:48] a-harutyunyan opened #494 "How do you save the client secret in the database. is encript? or hash?"

[2017-10-19 16:01] kevinchalet commented on #357
We're going to support this feature in OpenIddict 1.x/2.x RC1. To force OpenIddict to return a custom property as part of an authorization or token response, you'll have to create a custom authentication property with a dedicated suffix (that will be dynamically removed when returning the response). E.g to return a custom string:

[code]

[code]

[2017-10-19 16:33] kevinchalet commented on #28
Unfortunately, the current model of the CORS stack in ASP.NET Core 1.x and 2.x doesn't allow us to implement this feature safely as we have no way to ensure the CORS policy chosen by OpenIddict won't be ignored/overridden if the developer calls `app.UseCors(... policy... );` after the CORS headers were applied by OpenIddict using its own policies (in this case, the authorization or the logout endp

[2017-10-19 16:33] #28 closed, assigned to nobody

[2017-10-19 16:45] kevinchalet commented on #377
Yo,

The problem is that when the request_id is invalid (e.g because the cache entry was removed), all the request details like the client identifier or the redirect URL are lost. If we wanted to support what you suggest, we'd have to preserve the client_id/redirect_uri/state parameters and flow them alongside the request_id parameter, which would almost defeat the whole purpose of using it.

Inst

[2017-10-19 17:29] kevinchalet commented on #361
I took a look at Hangfire and I don't like the API at all (it's static and doesn't play well with DI). I'm not a huge fan of deleting tons of tokens/authorizations during requests (I believe client apps shouldn't pay for deleting tokens issued to other applications).

I'll keep searching, but in the meantime, both the authorization and token managers have been updated to expose all the APIs you ne

[2017-10-19 17:30] #357 closed, assigned to kevinchalet

[2017-10-19 17:30] #452 closed, assigned to nobody

[2017-10-19 17:30] kevinchalet commented on #494
Read https://github.com/openiddict/openiddict-core/issues/452.

[2017-10-19 17:30] #494 closed, assigned to nobody

[2017-10-19 17:33] kevinchalet commented on #357
@xperiandri the PR adding support for this feature was just merged. Please give the latest OpenIddict packages a try when you have a minute. I'd like to ensure it fits your needs before releasing RC1.

[2017-10-19 17:45] xperiandri commented on #357
Wow! Cool! I will have a look.
It requires Core 2.0, doesn't it?

[2017-10-19 17:46] kevinchalet commented on #357
No, it's also part of OpenIddict 1.x, that targets ASP.NET Core 1.0.

[2017-10-19 17:48] xperiandri commented on #357
Nice!

[2017-10-19 18:25] dasMulli commented on #361
For ASP.NET Core 2.0, implementing this as an `IHostedService` would be an option, that way it can just be registered in DI.

[2017-10-19 18:28] dasMulli commented on #361
For 1.0, the integration into the `IApplicationLifetime` as you showed could be added from within an `IStartupFilter` that can also be registered form within service configuration time.

[2017-10-19 18:44] kevinchalet commented on #361
@dasMulli thanks for chiming in.

Even if I would personally prefer going with an existing solution offering a fine-grained control on the scheduling part (like Quartz.net or Hangfire), `IHostedService` is certainly a good option.

It was actually mentioned last month when @Ciantic, @hdesouky and I chatted about this feature [on Gitter](https://gitter.im/openiddict/openiddict-core?at=59aed8c7ba0f0

[2017-10-19 19:47] dasMulli commented on #361
I'm guessing this concern is about added load when all instances are configured identically?

There's always the poor man's approach to distributed scheduling by introducing randomness.. if I have 5 instances, ever instance should wait between cleanups for a random time up to 50 minutes to get an average of 10 minutes between cleans. But I guess if you need to scale up by X instances, you may want

[2017-10-20 06:17] kevinchalet commented on #483
@matteobortolazzo did that fix your issue?

[2017-10-20 07:03] #472 closed, assigned to nobody

[2017-10-20 07:03] #471 closed, assigned to nobody

[2017-10-20 07:03] #475 closed, assigned to nobody

[2017-10-20 07:03] #447 closed, assigned to nobody

[2017-10-20 21:06] #493 closed, assigned to nobody

[2017-10-20 21:07] kevinchalet commented on #441
Now that the OpenIddict packages are on NuGet.org, you should no longer see this error.

Read the announcement here: http://kevinchalet.com/2017/10/20/the-new-asos-and-openiddict-packages-are-now-on-nuget-org/.

[2017-10-20 21:07] #441 closed, assigned to nobody

[2017-10-23 01:55] xperiandri commented on #357
Works perfect!

I just wonder:
1. why suffix is required?
2. why it appears as first value but not the last in a token? Adding it to the end would be better.

[2017-10-23 12:22] kevinchalet commented on #357
For 2 reasons:

  - Security: authentication properties are not supposed to be exposed. Requiring a suffix allows us to make sure only public properties are really returned.

  - Correctness: to return the property with the correct JSON type, you have to be explicit and tell OpenIddict how the property will be serialized.

Because the logic was added in the new `ProcessSignInResponse` event, which

[2017-10-23 13:32] xperiandri commented on #357
Just looked more logical in my opinion.
First of all main stuff, i.e. tokens and their parameters.
Then additional custom stuff.

[2017-10-23 13:59] kevinchalet commented on #357
It's just a cosmetic thing and JSON payloads returned from API endpoints are not primarily intended to be read by humans. Definitely not something I'd worry about.

[2017-10-23 14:09] xperiandri commented on #357
In general.
Sometimes you look at it in Postman
Not a big deal however

[2017-10-23 14:20] kevinchalet opened #496 "The expiration date associated with a refresh token entry is not respected"
Earlier today @dasMulli (thanks to him!) reported a bug with the default refresh token handling that causes the dynamic `ExpirationDate` value stored in the database to be ignored by OpenIddict: concretely, this means that refresh tokens are considered as expired when their original expiration date is reached (just like what happens when sliding expiration is disabled).

The bug has been identifie

[2017-10-26 16:16] jayrulez commented on #433
@PinpointTownes now that the rc1 versions have been released, would you give another look at the middleware for validating reference tokens?

[2017-10-28 20:46] antonsacz opened #497 "The new Timestamp property cannot be used with the Pomelo MySQL provider for EF Core"
Hi,
I've updated today Openiddict & Pomelo MySql provider both to the most recent version and got few exceptions about missed fields in DB. I've dropped the DB and created it again from the brand new migration. After that I've started to receive errors during the login process (see below). Do you have any ides how it could be fixed?

Thanks,
Anton

fail: Microsoft.AspNetCore.Diagnostics.DeveloperE

[2017-10-28 21:12] antonsacz commented on #497
Yes, OpenIddict was the issue. I've rolled back to 2.0.0-preview1-0648 and it has started to work. Looks like the issue is with the newly added tables.

[2017-10-28 23:19] kevinchalet commented on #497
Yo,

Looks like you're hitting a limitation of the MySQL Pomelo provider (or MySQL itself), that doesn't support byte arrays for the row version columns (see https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/351#issuecomment-326016598). All our entities now have a `byte[] Timestamp { get; set; }` property used for optimistic concurrency and that's what triggers this issue

[2017-10-29 09:03] antonsacz commented on #497
Hi, Pomelo guys are saying the following:

Is there any chance that Openiddict will work with MySql in future?

Thanks,
Anton

[2017-10-29 10:59] kkagill opened #498 "404 Not Found When accessing controller action annotated with [Authorize]"
Hi, I've been using openiddict since aspnet core 1.1 (working great), and decided to switch to aspnet core 2.0 recently. However, I am encountering some odd issue while I was migrating it. I am using password flow, and depending on the user role, I am trying to prohibit/allow user's access to an action. In short, I keep getting 404 Not Found. Tested on aspnet core 1.1, but it works well.

# **core

[2017-10-29 11:27] kevinchalet commented on #498
Yo,

You're seeing a 404 response because the cookies handler managed by Identity is trying to redirect you to the login page, for which you don't have a controller.

To prevent that, decorate your API endpoints with `[Authorize(AuthenticationSchemes = "Bearer")]`. Alternatively, you can use path-based selection: https://stackoverflow.com/questions/46464469/how-to-configureservices-authentication-

[2017-10-29 18:53] kkagill commented on #498
Thanks for your reply.

**1.**
    [Route("api/[controller]")]
    [Authorize(AuthenticationSchemes = "Bearer")]
    public class ValuesController : Controller
    {
        [Authorize(Roles = "Admin")]
        [HttpGet("admin")]
        public string Admin()
        {
            return "success";
        }
    }

**2.**
Created `CustomAuthenticationSchemeProvider ` class and in startup.cs,
`serv

[2017-10-30 18:41] kkagill commented on #498
@PinpointTownes Works with `[Authorize(AuthenticationSchemes = "Bearer")]` when I comment out

`options.UseJsonWebTokens();` and `options.AddEphemeralSigningKey();` in startup.cs

However, in this case I won't be able to [decode](https://jwt.io/) my access_token to check what information it contains.

I think the problem comes from configure method where

        JwtSecurityTokenHandler.DefaultInb

[2017-10-31 07:25] mavil-t commented on #337
@PinpointTownes - removing app.UseIdentity(); gives an error.

[2017-10-31 16:58] bradmarder opened #499 "EF Core Nullable Guid Equals exception"
[code]

[2017-11-01 14:47] kevinchalet commented on #499
Any chance you could tell me more about your config? Or better, a way to reproduce that?

[2017-11-01 19:53] bradmarder commented on #499
Sorry I can't create a full repro right now. I'm not doing anything out of the ordinary aside from setting OpenIddict to use `Guid` as the `TKey`. I'm using the latest .net builds from myget (not the 2.03 patch). It looks like the actual bug is in EFCore code. I tried replicating a smaller example using every combination of Guid/Nullable<Guid> with `.ToArrayAsync()` to no avail.

[code]

[2017-11-05 02:44] tplooker commented on #498
@kkagill I could be wrong, but does the below work?

[code]

[2017-11-05 02:49] tplooker commented on #483
If it helps anyone else I had to explicitly tell my DbContext in onmodelcreating to scaffold the OpenIddict objects with

[code]

[2017-11-05 05:39] kkagill commented on #498
@tplooker You got it right! Thanks!

I had to take out `.AddOAuthValidation();`

     services.AddAuthentication()
                 .AddOAuthValidation();

because I get an exception `System.InvalidOperationException: 'Scheme already exists: Bearer'`

OAuth2 validation handler could be registered in Configure method in .Net core 1.1 before.
`app.UseOAuthValidation();`

Hmm, now my concern is where

[2017-11-05 05:44] tplooker commented on #498
@kkagill  I have just got bearer token auth fully working finally! My version doesnt require registering the OAuth2 handler my services.AddAuthentication() is pretty much as above.

[2017-11-05 05:59] kkagill commented on #498
@tplooker Congrats! so I guess AddAuthentication() middleware is going through some sort of validation process as well.

[2017-11-05 21:01] kloarubeek commented on #499
I have the same issue when using `int` as key. I'm using rolling tokens. After I use the refresh token grant it tries to revoke all tokens in `OpenIddictTokens`. In `TryRevokeTokensAsync` there is a for loop to go through all tokens:

`            foreach (var token in await Tokens.FindByAuthorizationIdAsync(identifier, context.RequestAborted))
`
I think the OpenIddictTokens.AuthorizationId is nul

[2017-11-05 21:07] dasMulli commented on #499
@kloarubeek  Since you're deep in the code already (and I not at a work computer), can you see the actual query performed against the DB? I'm worried that the use of the `.Equals()` method is unable to compile into a SQL query and rather loads **all** token objects into the application to call this method which can be a huge performance issue. When using `==`, it should successfully compile into a

[2017-11-05 21:22] kevinchalet commented on #499
We can't use `==` as the `Id` property type is generic (`TKey`). That said, I would be extremely surprised if EF wasn't able to build a SQL query with the expect `WHERE` clause as it's the pattern used by the Identity folks for their EF Core stores.

Concerning the bug, I'm fairly confident it worked fine with EF Core 1.0, but I'll try locally before pinging the EF folks.

[2017-11-05 21:24] kevinchalet commented on #497
Since the Pomelo folks don't want to fix that in the MySQL provider, I'll consider using a different option in RC2 (i.e a simple concurrency token string instead of a timestamp/rowversion).

[2017-11-05 21:48] kloarubeek commented on #499
@dasMulli I don't see any query that retrieves all tokens. The weird thing is that it sets the status of the token to 'Redeemed', it logs `The token '{Identifier}' was automatically revoked.` and then the exception is thrown.

[2017-11-06 00:16] kevinchalet commented on #499
Bug confirmed. It impacts both EF Core 1.x and 2.x. Since I think it won't be fixed anytime soon, I'll override the impacted methods in the EF Core/EF stores to retrieve the tokens via the `TAuthorization` `DbSet`:

[code]

SQL query:

[code]

[2017-11-06 02:51] kiwiingenuity opened #501 "Ignore"

[2017-11-06 04:22] #501 closed, assigned to nobody

[2017-11-06 08:07] kloarubeek commented on #499
Nice, I'll check this evening if this fixes the problem!

[2017-11-06 09:40] antonsacz commented on #497
Great news, thanks a lot!

[2017-11-06 12:52] kevinchalet commented on #499
FYI it also works with an explicit join against the `Tokens` database set:

[code]

I'll probably opt for this option instead of the one I initially suggested as it allows using `Include(token => token.Application).Include(token => token.Authorization)` to eagerly load the application and the authorization with the tokens (which is something I plan to do in a future PR).

[2017-11-06 13:53] Gillardo opened #502 "The number of primary key values passed must match number of primary key values defined"
I have updated to the latest version of openiddict, deleted my tables, removed the migration entry and my tables are all created again, thats fine.

Problem is now, when i try to login i get the following exception

Any idea why?  Seems to happen after the `Exchange` method in my `AuthorizationController.cs` file, which seems to execute successfully.

Here is some basic details if it helps

![imag

[2017-11-06 13:59] kevinchalet commented on #502
I presume you're using custom entities? Can you share them? A screenshot of the `OpenIddictTokens` table definition would also help.

[2017-11-06 14:01] Gillardo commented on #502
Nope, not using any custom entities (apart from my own User) entity, but that doesnt effect anything i believe.  This is just using all the EF6 stores and models

Tables for you
![image](https://user-images.githubusercontent.com/7406381/32444552-04c85fea-c2fb-11e7-879b-d04930290d70.png)

![image](https://user-images.githubusercontent.com/7406381/32444542-f589a99e-c2fa-11e7-8e89-94f9947181a9.png)

[2017-11-06 14:11] kevinchalet commented on #502
It's a bug in the EF 6.x store, caused by the fact `FindAsync` has a different definition than the EF Core version:

EF 6.x:

[code]

EF Core:

[code]

So instead of using `await Applications.FindAsync(new object[] { ConvertIdentifierFromString(descriptor.ApplicationId) }, cancellationToken);`, we should use `await Applications.FindAsync(cancellationToken, ConvertIdentifierFromString(descriptor.Ap

[2017-11-06 14:15] Gillardo commented on #502
@PinpointTownes that is fine... i was more worried i had done something myself.  Could you drop me an email when it is available please?

[2017-11-06 18:40] kevinchalet commented on #499
FYI Entity Framework 6.x is not impacted by this bug so I'll remove the work around from the EF 6 stores.
For the record, here's the query it generates:

[code]

[2017-11-06 19:41] kloarubeek commented on #499
I tested the flow and the exception is gone. However, when using RollingTokens flow, when I request a new access token via the refresh token grant, I get a message 'The specified refresh token is no longer valid.'

After the call the token status is 'redeemed', maybe this is done in the wrong order? Or should I create a new issue?

[2017-11-06 20:24] kevinchalet commented on #499
I can't reproduce that locally. Can you describe the whole process and post your logs?

[2017-11-07 09:51] Gillardo commented on #502
Any news on this @PinpointTownes ?

[2017-11-07 11:35] MovGP0 commented on #424
Instead of `HttpContext.Authentication.GetAuthenticateInfoAsync(…)` you need to use `HttpContext.AuthenticateAsync(…)`.

[2017-11-07 12:37] #499 closed, assigned to nobody

[2017-11-07 12:38] kevinchalet commented on #502
PR merged. Give Appveyor a few minutes to build new packages and give them a try :smile:

[2017-11-07 12:38] #502 closed, assigned to kevinchalet

[2017-11-07 12:38] asadsahi commented on #479
@PinpointTownes I can't find an easy way to generate authentication ticket.

What I am trying to do is to authenticate user like we generate ticket during [normal login](https://github.com/asadsahi/AspNetCoreSpa/blob/master/Server/Controllers/api/AuthorizationController.cs#L105) , but after social login authentication callback. I want to generate similar ticket and send to client (e.g Angular in t

[2017-11-07 12:41] Gillardo commented on #502
thank you!

[2017-11-07 15:13] kevinchalet commented on #479
Assuming external authentication is handled using the regular ASP.NET Core Facebook/Google/Twitter/whatver middleware, you need to implement an interactive flow like implicit: you won't be able to use the token endpoint - which is an API endpoint - will have to use the authorization endpoint: https://github.com/openiddict/openiddict-samples/blob/dev/samples/ImplicitFlow/AuthorizationServer/Control

[2017-11-07 15:38] asadsahi commented on #479
@PinpointTownes Yes external authentication is handle by asp.net core. This is exact implementation that comes out of the box in asp.net core mvc templates and I am trying to use in my SPA template which is a modification of same template. As in this [source](https://github.com/asadsahi/AspNetCoreSpa/blob/master/Server/Controllers/api/AccountController.cs):

1) Click on Google etc button
2) Send t

[2017-11-07 15:42] kevinchalet commented on #479
No. OpenIddict won't allow you to return an OIDC response from an arbitrary endpoint - i.e your custom `ExternalLoginCreateAccount` endpoint - and will throw an `InvalidOperationException` saying you're doing crazy things.

https://stackoverflow.com/questions/46475489/asp-net-core-signinprincipal-properties-authenticationscheme-is-throwing-an

[2017-11-07 15:53] kevinchalet commented on #502
@Gillardo did you have a chance to try the latest version?

[2017-11-07 15:55] Gillardo commented on #502
Yes @PinpointTownes  worked perfectly! thank you again!

[2017-11-07 15:56] kevinchalet commented on #502
Great, thanks for confirming :+1:

[2017-11-07 15:57] Gillardo commented on #502
sorry should of wrote back straight away but bit mental today.... like always 😄

[2017-11-07 18:33] kevinchalet commented on #496
Fixed: https://github.com/openiddict/openiddict-core/commit/0a409a3013453f5e1e29a9db3069dd70726e9684.

[2017-11-07 18:33] #496 closed, assigned to kevinchalet

[2017-11-07 21:21] kloarubeek commented on #499
@PinpointTownes thanks for the fix, if I have a RollingTokens problem, I'll create a new issue!

[2017-11-07 21:38] bastienJS opened #505 "OpenIddict aims at providing a simple and easy-to-use solution"
What other STS did you have in your mind writing that? :-> Good that you did not wrote 'more secure' :P

Seriously... I really would be interested why your implementation is more easier/simpler than e.g. IdentityServer4.

Would you mind share your thoughts. I have read once on SO that someone asked the same but you meant it would be opiniated... well but here on your place everything is allowed :-

[2017-11-07 22:21] bastienJS commented on #457
No changelog please, rather sth like: https://github.com/angular/angular-cli/releases

[2017-11-07 22:47] asadsahi commented on #479
@PinpointTownes following your answer on stackoverflow I have added Implicit flow in the application and corresponding authorisation endpoint. LocalRedirect is failing with following error:
[code]

Here is my code with left hand side account creation method which localredirect to connect/authorise endpoint and on the right hand side its that endpoing:

![image](https://user-images.githubuserconten

[2017-11-07 22:52] kevinchalet commented on #505
If I wanted to compare it to another OIDC server project, I'd say "simpler/easier-to-use than X, Y, Z" or "simplest and easiest-to-use", not just "simple and easy-to-use" :smile:

That would be pretentious. While I've tried my best to take the OAuth2 threat model into account and even if no vulnerability has been reported so far in OpenIddict (or in the underlying OIDC server middleware), I know i

[2017-11-07 22:55] kevinchalet commented on #479
I strongly encourage you to use the `AccountController` that ships with the VS templates without trying to modify that part (you really don't need to).

I think you're trying to do things in the wrong order. As explained in the SO post, the client application is supposed to redirect the user to the authorization endpoint, that will itself redirect the user to the external login page. Just call `re

[2017-11-07 23:26] asadsahi commented on #479
@PinpointTownes return url isn't the issue here. Since this is the Angular client application I have different client side routes after external login verification, therefore I don't populate returnUrl when external login even starts, therefore that is empty anyway.

Challenge still exist in somehow making angular client to receive same ticket that we receive  during password flow. I haven't seen

[2017-11-07 23:38] kevinchalet commented on #479
I took a look at your branch, but without seeing the JS part, it's hard to see what you're trying to do :thinking:

That said, the root cause of the error message you're seeing is simple: you've added simple quotes everywhere in the URL, which produces invalid parameters:

[code]

->

[code]

[2017-11-07 23:42] asadsahi commented on #479
what is nonce parameter?

error:invalid_request
error_description:The mandatory 'nonce' parameter is missing.

[2017-11-07 23:42] kevinchalet commented on #479
REQUIRED. String value used to associate a Client session with an ID Token, and to mitigate replay attacks. The value is passed through unmodified from the Authentication Request to the ID Token. Sufficient entropy MUST be present in the nonce values used to prevent attackers from guessing values. For implementation notes, see Section 15.5.2.

http://openid.net/specs/openid-connect-core-1_0.html#I

[2017-11-07 23:52] #497 closed, assigned to nobody

[2017-11-08 00:09] asadsahi commented on #479
@PinpointTownes thanks.

further progress :)

I have managed to hit the connect/authorize endpoint, but it is getting IsAuthenticated as false.

Even after external login success and the account already exist in database and ExternalLoginSignInAsync succeed and redirect to connect/authorize:
[code]

Getting:
![image](https://user-images.githubusercontent.com/3470892/32524760-291c8370-c419-11e7-98f

[2017-11-08 00:12] kevinchalet commented on #479
You'll probably have to use `var user = await HttpContext.AuthenticateAsync("The scheme corresponding to your intermediate authentication cookie")` instead of the `ControllerBase.User` property, that contains the default scheme identity.

[2017-11-08 00:28] asadsahi commented on #479
Even I have only jwt as registered authentication schemes:
[code]

Not sure why this is null as well:
[code]

Confusing thing is that there is no cookies scheme registered throughout system, then how come _signInManager.GetExternalLoginInfoAsync() pulls the information of user without issue:

[code]

Any other way you get user info you recon during localredirect?

Thanks

[2017-11-08 11:31] asadsahi commented on #479
@PinpointTownes with local redirect, Request Object has the External login cookie, therefore:
[code]
I am able to get info for external login in connect/authorize endpoint. But since I haven't added cookies as authentication scheme some of the user authentication apis e.g
[code]

don't persist User on local redirect.

Perhaps I have to pull the user again using _signInManager.ExternalLoginSignInAs

[2017-11-08 11:49] asadsahi commented on #479
@PinpointTownes ignore above comments, on localredirect all information is lost, nothing is available in connect/authorize.

Before Redirect:
![image](https://user-images.githubusercontent.com/3470892/32547844-b818f2d6-c47b-11e7-8df0-fd5fe675babe.png)

After redirect:
![image](https://user-images.githubusercontent.com/3470892/32547821-a8d0d3b6-c47b-11e7-9121-0d303d0a16b2.png)

Not sure what patter

[2017-11-08 12:40] asadsahi commented on #479
@PinpointTownes I think what you said was absolutely right that I should just use return url to localredirect and let ImplicitFlow endpoint handle the signin logic. I will change that and show you once done.

As a side note, do you know if it is possible to open external login page as a popup instead? Currently
[code]

 this call just go to external login page within same window.

[2017-11-08 15:15] Bartmax commented on #496
Do we know when this bug was introduced? Pretty sure I experimented this (several months ago) but I ended up using disabled sliding expiration so I never realized there was a bug.

[2017-11-08 15:27] Bartmax commented on #505
@bastienJS also, this project start because some, ehem, people were very vocal about the pain points in the OIDC protocol, the current state of libraries/helpers and the not existing straightforward path for most general usage (like with EF and Identity). It's not about easier than X or Y.
So the main goal of this library was to solve the "hard and complex" problem.

@PinpointTownes taken the feed

[2017-11-08 19:29] kevinchalet commented on #496
@Bartmax I think this regressed when introducing reference tokens support.

[2017-11-09 19:51] GuidoNeele opened #506 "Weirdest problem ever :-) Openiddict 1.0.0 RC2"
I've got the weirdest problem. I'll try to explain what is happening.

Got a Xamarin Forms application (problem occurs both on iOS and Android) with a login page, organisations page and files page. The login page calls the auth server and requests an access_token. The access_token is successfully retrieved and is used to request a list of organisations which are returned without a problem. An orga

[2017-11-09 20:10] kevinchalet commented on #506
You can change the default log level to `Trace` in the ASP.NET Core options to include the potentially sensitive data (including the access token received by the introspection endpoint).

[2017-11-09 22:20] GuidoNeele commented on #506
Tried everything but I don't get to see the trace logs. I attach a remote debugger to an Azure app service could this be the problem for not seeing trace logs?

[2017-11-10 17:40] asadsahi commented on #479
@PinpointTownes sorry to bother you again. Finally I have got something working purely with JWT.

Main files for these changes are [AuthorizationController](https://github.com/asadsahi/AspNetCoreSpa/blob/master/Server/Controllers/api/AuthorizationController.cs) & [AccountController](https://github.com/asadsahi/AspNetCoreSpa/blob/master/Server/Controllers/api/AccountController.cs). Would you mind r

[2017-11-10 18:01] a-patel commented on #505
how to use OIdC with custom user and role tables (i.e. without asp.net identity tables)??

I want to use in Asp.Net Core 2.x

[2017-11-10 18:45] kevinchalet commented on #505
http://kevinchalet.com/2017/01/30/implementing-simple-token-authentication-in-aspnet-core-with-openiddict/

[2017-11-10 20:30] sethen opened #507 "Concurrency Token"
I have no idea what's going on here but I can't seem to start my app in a production environment because of the following error:

[code]

This seems to be looking for a column called `CocurrencyToken` and looking in the database, I see no column in in the `OpenIddictApplications` table for it.  How do I solve this issue?

[2017-11-10 20:33] a-patel commented on #505
thanks @PinpointTownes

[2017-11-10 21:59] sethen commented on #507
So, I was able to fix this issue by creating the column myself and everything seemed fined -- however I am still confused on how my application even got into this state to begin with?  Any ideas?

[2017-11-11 15:23] moser96 opened #508 "Facing authentication schemes (Bearer) not allowed"
Hi guys,
I'm currently facing some issues when I try to deploy my app. Locally in the dev environment everything is working fine, but when I deploy it to the server I'm pretty much stucked because I'm currently facing following issue:

I can request my token successfully using the /connect/token path, but if I want to authenticate to a mvc controller with the following attribute:
`[Authorize(Roles

[2017-11-11 15:45] kevinchalet commented on #507
You likely migrated from the 2.0.0-rc1-final bits to our nightly RC2 builds, where the `Timestamp` rowversion properties have all been replaced by `ConcurrencyToken` properties to work around a MySQL limitation (see https://github.com/openiddict/openiddict-core/issues/497 for more information).

When a DB schema change is introduced, you're encouraged to use Entity Framework's migrations API inste

[2017-11-11 15:51] kevinchalet commented on #497
@antonsacz FYI this fix was added in the RC2 nightly builds. Given them a try when you have a minute and let us know if it solves your issue.

[2017-11-11 15:52] kevinchalet commented on #506
I don't think so.

Have you tried to add `.ConfigureLogging(options => options.AddConsole(LogLevel.Trace)).ConfigureLogging(options => options.AddDebug(LogLevel.Trace))` in `Program.Main()`?

[2017-11-11 15:55] kevinchalet commented on #479
@asadsahi I'll take a closer look today but it's still not clear for me why you're building the authorization request payload (the `/connect/authorize` URL) server-side. It should definitely be done by the JS client. I think you didn't solve your "reversed logic" issue.

[2017-11-11 15:56] kevinchalet commented on #505
@bastienJS closing as I believe we answered your question. If not, feel free to re-open.

[2017-11-11 15:56] #505 closed, assigned to nobody

[2017-11-11 15:56] kevinchalet commented on #483
Closing as we haven't heard back from the OP.

[2017-11-11 15:56] #483 closed, assigned to nobody

[2017-11-11 16:14] asadsahi commented on #479
@PinpointTownes
As per asp.net mvc core templates after social logins verification user is requested to create a local account to complete the authentication (which is cookies based).

My application is token based. Therefore, mapping the same idea when user is redirected back to our site from social login page, there are two possibilities:

1) User has already created a local account previously

[2017-11-11 17:24] bastienJS commented on #505
Thanks for your answer!

[2017-11-11 17:43] kevinchalet commented on #479
Here's the flow you're currently using:

![image](https://user-images.githubusercontent.com/6998306/32691821-d7e49b08-c70d-11e7-8edc-136dfc63cab1.png)

What I'm suggesting is to replace the first step by a redirection to the authorization endpoint directly made by the JS client (so that the /connect/authorize URL is generated by the JS app, not by your MVC controllers).

If you want to redirect th

[2017-11-11 23:08] daveyjay opened #509 "Error IDX10803: Unable to obtain configuration from /.well-known/openid-configuration when using Bearer authentication and hostnames in IIS"
I am running into an issue where the .well-known/openid-configuration cannot be reached via my IIS server while my app is running and therefore my UserInfo controller code is not getting hit.  This issue only happens when using hostnames in IIS and not when I use IP addresses for my URLs.  I am not sure if this is specifically a problem with OpenIddict and the fact that I have both my Web API and

[2017-11-12 00:15] kevinchalet commented on #509
I saw your post on SO. This really sounds like a routing or firewall issue, not really something caused by OpenIddict or the JWT handler.

To confirm it, override the `MetadataAddress` to use `localhost` instead of your DNS name:

[code]

If it works, it's a routing issue.

[2017-11-12 00:17] kevinchalet commented on #508
Yo.

The logs indicate that the request was rejected because the authorization requirements were not met (likely because the expected role was not present in the access token).

Are you sure the role is correctly stored in the access token?

[2017-11-12 01:27] asadsahi commented on #479
@PinpointTownes Thanks for explaining once again. :) Hopefully we'll get there.

I have changed the whole flow as you suggested. I have also incorportaed angular-oauth2-oidc for the whole password & implicit flow. [Implicit flow branch](https://github.com/asadsahi/AspNetCoreSpa/tree/implicitflow) has these changes.

So there aren't any **ExternalLogin**,**ExternalLoginCallback**,**CreateExternalLo

[2017-11-12 15:55] antonsacz commented on #497
@PinpointTownes hi, unfortunately it did not help, still see the error below:

fail: Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware[0]
      An unhandled exception has occurred while executing the request
Microsoft.EntityFrameworkCore.DbUpdateException: An error occurred while updatin
g the entries. See the inner exception for details. ---> System.InvalidOperation
Exception: An

[2017-11-12 16:08] kevinchalet commented on #497
Are you sure you've added a migration to take the schema change into account?
The new property is of type string, it's not an array of bytes.

[2017-11-12 16:55] antonsacz commented on #497
yes, what I did:
-update OpenIddict nuget package to 2.0.0-rc1-final
-remove all tables from DB
-remove all migrations
-create initial migration (dotnet ef migrations add "Initial")
-apply migration (dotnet ef database update)
-run app and try to login via fb with openiddict and got the same error as before

bth, I see a lot of byte[] objects in migrations cs file:

            migrationBuilder.Ad

[2017-11-12 21:51] moser96 commented on #508
Thx, completely forgot about that!
Somehow it wasn't clear from this log message, that the user didn't have the right roles assigned.

[2017-11-12 21:51] #508 closed, assigned to nobody

[2017-11-13 00:28] leyriel opened #510 "is it possible to make a application/json request to get a token? instead of application/x-www..."

[2017-11-13 10:46] antonsacz commented on #497
@PinpointTownes now can confirm, works as expected, no issues.

[2017-11-13 12:00] asadsahi commented on #479
@PinpointTownes do you think anything around openidconnect package for [this ](https://github.com/manfredsteyer/angular-oauth2-oidc/issues/156) issue? Even I haven't overriden any option for password flow. id_token isn't being set by angular-oauth2-oidc for some reason. It sets the access_token fine.

[2017-11-13 12:35] #507 closed, assigned to nobody

[2017-11-13 12:54] kevinchalet commented on #510
No, the spec requires using formurl encoding.

[2017-11-13 12:54] #510 closed, assigned to nobody

[2017-11-13 13:08] kevinchalet commented on #479
As long as the `state` is unpredictable and correctly checked, that's fine.

In the password flow (which is an OAuth2 flow that was not included in OIDC), there was no identity token concept. For convenience and consistency with the other flows, OpenIddict allows returning an identity token in all the flows, including password, client credentials and custom flows (https://github.com/openiddict/ope

[2017-11-13 13:18] asadsahi commented on #479
@PinpointTownes Thanks for explaining.

I don't understand how can I validate the state is unpredictable? Even browser url has the ticket in it on response, can't think of anything else we could do to avoid that. Now it is handled by js lib, does that make it unpredictable?

**id_token** is quite handy in spa's to display user info (as you have explained in thread you sent).  For now I am setting

[2017-11-13 17:12] daveyjay commented on #509
Hmmm - this did not seem to fix the issue.  I still am getting the exact same error when adding the metadata url.  Explicitly adding in the MetadataAddress and using localhost results in a 500 server error along with the same Error as mentioned above.  ( I have added localhost to my server's host file )

However, good news - I was finally able to get everything to work and run using the host names

[2017-11-13 23:05] sethen commented on #507
I didn't update anything myself.  I simply shut down the service in systemd and started it back up again and it was in this state.  _Nothing_ was updated by me or done to the database.

I do have the line `<PackageReference Include="OpenIddict" Version="2.0.0-*" />` in a `.csproj` file.  Is this what you're referring to?

[2017-11-14 08:47] GuidoNeele commented on #506
Turned out I was looking at the wrong line in the log. The message "[removed for security reasons]" is still displayed but below it is a trace debug line that does show the token. Have my problem fixed, don't really know why it didn't work but I was refreshing the token far too often.

[2017-11-14 08:47] #506 closed, assigned to nobody

[2017-11-14 18:27] Tornhoof opened #511 "Usage of ValidateClientSecretAsync and the publicity of client_id"
Hi,
what is your point of view on the publicity of client_id in the auth flows?
According to https://tools.ietf.org/html/rfc6749#section-2.2 it's not a secret, some recommend that it should not be guessable (e.g. https://www.oauth.com/oauth2-servers/client-registration/client-id-secret/)

If your opinion is, that it should not be guessable and is rather something similar to a user name, you might

[2017-11-14 20:17] kevinchalet commented on #511
Yo,

Client identifiers are public so there's, IMHO, no point trying to make them hard to guess (OpenIddict deliberately allows you to create a client registration with a simple/readable `client_id` like `react_management_interface`).

Even if we reworked the introspection logic to execute a fake client secret check, you could still use the authorization endpoint to determine whether a `client_id`

[2017-11-14 20:26] Tornhoof commented on #511
Thanks for your explanation.

[2017-11-14 20:28] blowdart commented on #511
I have nothing to add, your reasoning is sound.

[2017-11-14 20:29] Tornhoof commented on #511
Then let's close this.

[2017-11-14 20:29] #511 closed, assigned to nobody

[2017-11-15 01:15] DaLiangLee commented on #462
页面刷新的时候会出现这个问题，现在终于知道原因了。

[2017-11-15 04:03] Bartmax commented on #511
if I understand correctly templates are subpar and does not shows best practices. (?)

[2017-11-15 04:40] blowdart commented on #511
That's an interesting reading, but it's not how I would see it obviously. As @PinpointTownes says "_it would be almost pointless as an attacker could use the user registration page to do exactly the same thing_". I'd remove the word always from that.

[2017-11-15 08:45] DaLiangLee commented on #462
Have been resolved at your prompt,  thank you

[2017-11-16 06:17] codethetalk commented on #188
@PinpointTownes @prilutskiy  guys, would  you please delete the comments tagged with my username? as i'm closing the account. (please don't comment further with the tag)

[2017-11-16 08:55] user09987 commented on #188
answer was deleted by mistake, retrieved it thanks to google cache.

from the original answer:-

Try appending scopes to your request. To retrieve refresh tokens, add 'offline_access' scope to your request.

http://openid.net/specs/openid-connect-core-1_0.html#OfflineAccess

![](https://cloud.githubusercontent.com/assets/15163662/17510640/7347f81e-5e3d-11e6-8348-76f89bd54991.jpg)

to test using po

[2017-11-16 09:15] GuidoNeele opened #512 "Session timeout after 5 minutes of inactivity"
I've got an auth server and a mvc application. After 5 minutes of inactivity on the MVC app the session is being invalidated and the user is redirected to the login page. Have been googling for an explanation of this behavior and found 2 possible reasons.
1. App pool idle timeout
2. Cookie security timestamp validation (http://www.jamessturtevant.com/posts/ASPNET-Identity-Cookie-Authentication-Tim

[2017-11-16 13:27] joelnotified opened #513 "Allow "semi anonymous" access to some controller methods"
I have a case where I need some controller methods to be accessible either by an authenticated user, or if the request contains a sort of "acccess token" in the url.

For example:

Either an authenticated user could make a call to:
`https://example.com/some/resource`

Or a non authenticated user could make the same call, but add some kind of token to the url (or as a header):
`https://example.com/

[2017-11-16 13:36] joelnotified commented on #513
Just realized this might not really be an `OpenIddict` specific question. Asked the same question at [stackoverflow](https://stackoverflow.com/questions/47331080/allow-semi-anonymous-authentication).

You can close this if you think it's off topic.

[2017-11-18 18:02] sir-boformer commented on #462
took me a while to find this after my app broke...

[2017-11-20 06:07] amh2013 commented on #328
Does anyone have any samples of the custom implementation for mongo?

[2017-11-20 08:38] WJChai opened #514 "AuthorizationCodeFlow redirect to intended page after login"
Hi,

Let's say user is trying to access "/secure/top-secret" and redirected to Authorization Server.

After user logged in, how can we redirect the user to "/secure/top-secret"?

Currently I have a Authentication Controller with following endpoint:
`
[HttpGet("~/signin")]
        public ActionResult SignIn()
        {
            return Challenge(new AuthenticationProperties { RedirectUri = "/" },

[2017-11-20 09:26] WJChai commented on #514
Figured out
`
[HttpGet("~/signin")]
        public ActionResult SignIn(string ReturnUrl)
        {
            return Challenge(new AuthenticationProperties { RedirectUri = ReturnUrl }, OpenIdConnectDefaults.AuthenticationScheme);
        }
`

Close #514

[2017-11-20 09:27] #514 closed, assigned to nobody

[2017-11-20 13:53] gustavdw opened #515 "Connecting openiddictapplication to scopes/authorizations"
I've got a client_credentials flow up and running and can access my resources using the access token returned, but I need to secure what resources each application part of this flow may access. I'm creating policies for this, that are used by my controllers.

So currently I seed the application into the database, is one supposed to use the OpenIddictAuthorizationManager to connect the application

[2017-11-20 14:12] asadsahi commented on #148
@PinpointTownes I am also at a stage where I am trying to implement 2FA in [project](https://github.com/asadsahi/AspNetCoreSpa).

This project has password flow for internal logins and implicit flow (for external logins). How do I incorporate 2FA using openidconnect-core.

e.g in my two schenarios.

1) after username/password verification, is there a way to hold on until user verifies through 2nd

[2017-11-20 14:18] kinosang commented on #148
@asadsahi as @PinpointTownes said, password flow doesn't offer a standard way to support 2FA authentication, but I've implemented 2FA in my way.

1. for password flow, ask users append the 6-digit code after their password, and spilt it in token endpoint before calling `CheckPasswordSignInAsync` if user has 2FA enabled.
1. for social logins, check `result.RequiresTwoFactor` after do `ExternalLogin

[2017-11-20 14:21] kinosang commented on #148
BTW, I return a `BadRequest` response with `OpenIdConnectConstants.Errors.ConsentRequired` error and a user-friendly message such as `Two-Factor authentication required, append the 6-digit code to password.` to users if they didn't pass the 2FA.

[2017-11-20 15:08] asadsahi commented on #148
@kinosang do you mean to enter 6 digits in same field as password or in a seperate input field?

I was thinking, instead of passing the whole thing in one reqeust, somehow send username/password in one request and get an intermediary token if two factor enabled, otherwise signin completely.

[2017-11-20 22:58] kinosang commented on #148
@asadsahi I mean, ask user to input password+token in password field.

[2017-11-20 22:58] kinosang commented on #148
You can have a look at Yahoo’s implementation.

[2017-11-21 00:58] DaLiangLee commented on #462
Haha, but fortunately finally solved

[2017-11-21 01:56] jasoncavett commented on #507
@PinpointTownes I was curious about your remark to use the EF migrations API as well. I just ran into this same thing and it's just from updating a package. I don't see any way in which to use migrations. Could you please clarify your comment? Would be much appreciated.

[2017-11-21 09:09] asadsahi commented on #148
@kinosang can you please send me a link where this is implemented, can't find it [here](https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/tree/dev/src/AspNet.Security.OAuth.Yahoo)

[2017-11-21 09:23] kinosang commented on #148
@asadsahi not the `AspNet.Security.OAuth.Yahoo`, it required you to use `password`+`6 digits` as password on macOS's `Internet Accounts` (and maybe somewhere) when you try to sign in your Yahoo account.

the way I chose is just splitting the last 6 digits from user's input, and use it to make a 2FA challenge.

[2017-11-21 09:25] asadsahi commented on #148
Ahh ok, I thought when you said:

I thought you mean there is an example of your implementation of 2FA.

[2017-11-21 19:36] kevinchalet commented on #512
Have you configured ASP.NET Core Data Protection?

https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/configuration/overview?tabs=aspnetcore1x

[2017-11-21 19:37] kevinchalet commented on #513
Closing as you got pretty good answers on SO :clap:

[2017-11-21 19:37] #513 closed, assigned to nobody

[2017-11-21 19:38] kevinchalet commented on #515
Scopes an application can request are typically validated/granted in the authorization controller, when calling `ticket.SetScopes(...)`. See https://github.com/openiddict/openiddict-core/issues/488 for more information.

[2017-11-21 19:45] kevinchalet commented on #492
@henkmollema since you're not a huge fan of strong naming (for reasons I definitely understand and respect), would providing a "sources" package of `CryptoHelper` be a better option for you?

`CryptoHelper` has a single class/file, which makes it an excellent candidate for that (it's a pattern massively used by the ASP.NET folks: https://github.com/aspnet/Common/tree/dev/shared).

[2017-11-21 19:56] sethen commented on #507
If anyone else runs into this issue, the problem was that I didn't make the migrations.  The reason being is because I was unaware that anything in the Openiddict library had changed causing a need for a migration.  Once I made the migration and ran it on the database all is well.

[2017-11-21 20:07] GuidoNeele commented on #512
No haven't configured it, so I'm using the default settings. Should I do that?

[2017-11-21 20:11] kevinchalet commented on #512
If you use Azure Web Apps, it should be configured for you. For every other environment, you have to configure it yourself: https://docs.microsoft.com/en-us/aspnet/core/publishing/iis?tabs=aspnetcore2x#data-protection.

(it's worth noting that your question is not really linked to OpenIddict since you mentioned yourself that cookies were impacted. This is not a part handled by OpenIddict)

[2017-11-21 20:34] GuidoNeele commented on #512
Any ideas how I can solve 5 minutes timeout problem? Could the data protection settings have anything to do with it?

[2017-11-21 20:35] kevinchalet commented on #512
Have you tried?

If it still doesn't work, I suggest opening a new thread here to get help from the ASP.NET team: https://github.com/aspnet/Security

[2017-11-22 08:50] gustavdw commented on #515
Thanks, however that solution stores scopes in each application instead of referencing the allowed scopes from a store of existing scopes. What is the OpenIddictScopes table used for in the database, it seems to have no relations to any other entity?

[2017-11-26 13:42] istratan opened #517 "After logout access_token is still valid asp net core 2"
Hi guys. I'm trying to implement Open ID Connect with openiddict-core on asp net core 2 api. I configured authentication with JWT, the problem i face is after i call log out endpoint, the token is still valid, this means i am able to call a secured endpoint and i get the results.
What i'm missing or what i do wrong?
Thanks.

Here is the configuration of openiddict and jwt:

[code]

AuthorizationCo

[2017-11-27 23:25] asadsahi opened #518 "400 BadRequest with this error when trying to retrieve https://aspnetcorespa.herokuapp.com/.well-known/openid-configuration document over https"
![image](https://user-images.githubusercontent.com/3470892/33294805-2893934c-d3ca-11e7-8582-b50fba060e95.png)

Even deployed on https url, not sure what is causing this error. Any idea?

[2017-11-27 23:52] kevinchalet commented on #518
@asadsahi https://github.com/aspnet/Docs/issues/2384 will put you on the right track.

[2017-11-28 14:44] kevinchalet commented on #517
Hey,

This is the expected behavior with self-contained tokens like JWT or the default token format: no database call is made (nor necessary) so access tokens are valid until they expire.

[2017-11-28 14:58] weitzhandler commented on #337
Any solution for ASP.NET  Core 2.0 where `app.UseAuthentication` cannot be removed?

[2017-11-28 17:41] kinosang commented on #517
Use reference tokens then you can revoke all tokens issued for this user when the user logout.

[2017-11-28 21:37] istratan commented on #517
@PinpointTownes, @kinosang thanks for your responses. So there isn't another way to revoke a token except using reference token?

[2017-11-29 22:08] jonathancod opened #519 "InvalidOperationException"
`InvalidOperationException: Unable to resolve service for type 'Microsoft.Extensions.Caching.Distributed.IDistributedCache' while attempting to activate 'OpenIddict.OpenIddictInitializer'.`

Startup.cs:

`
services.AddDbContext<AppContext>(options =>
            {
                options.UseSqlServer(connectionString, sql => sql.MigrationsAssembly("AppContext"));
                options.UseOpenIdd

[2017-11-29 22:11] jonathancod commented on #519
Updated from openictc v.2.0.0-- to v2.0.0-rc1-final. Same error.

[2017-11-29 22:45] asadsahi commented on #518
Thanks @PinpointTownes. Just managed to get it working [this](https://github.com/aspnet/Docs/issues/2384#issuecomment-297980490) resolved the issue deploying the application on herku as container app.

[2017-11-29 22:45] #518 closed, assigned to nobody

[2017-11-30 14:28] kevinchalet commented on #519
The caching services are usually registered by MVC. Do you call `services.AddMvc()` somewhere? If you don't use MVC for the token endpoint action, you can manually register the required services by calling `services.AddDistributedMemoryCache();`.

[2017-11-30 14:35] jonathancod commented on #519
Im using `services.AddMvcCore()`
By calling `services.AddDistributedMemoryCache();` the problem fixed.

Thanks so much.

[2017-11-30 14:35] #519 closed, assigned to nobody

[2017-11-30 16:41] kevinchalet opened #521 "Consider using compiled queries in the Entity Framework Core stores"
Compiled queries offer a great perf' boost and reduce the number of allocations as expression trees are reused across requests instead of being re-instantiated.

Here's a benchmark showing the difference with EF Core 2.0 and its in-memory database:

[code]

[2017-12-04 11:30] Biarity opened #522 "For the Implicit flow, is the user supposed to reenter their credentials whenever the access token expires?"
From what I understand, the end-result of the implicit flow is the access token, which allows the client (in my case a JS SPA) to authenticate into resource servers (APIs).

**The access token is usually only valid for ~1 hour, then it expires - making it useless.**

What should my JS app do then? Redirecting the user back to the auth server is unrealistic since **then the user will have to reente

[2017-12-04 14:47] kevinchalet commented on #522
When the initial access token expires, the JS app can send a `prompt=none` authorization request (in a hidden iframe so it's invisible for the user).

This mechanism is used in the implicit flow sample:
  - https://github.com/openiddict/openiddict-samples/blob/15c711040917a00055adf7e8e4b932dfe4c4f9a5/samples/ImplicitFlow/AuthorizationServer/Controllers/AuthorizationController.cs#L47-L64
  - https:

[2017-12-04 18:00] Biarity commented on #522
Thanks, I'll have a read at those.

I'm assuming that with this method, if the user doesn't have the JS client open for longer than 1 hour (or whatever expiry), then they'll have to re-enter their credentials, right?

If so, how do you feel about never-expiring access tokens? I know they can be a huge SPOF, but would you say that that's still relevant in apps where convince is more important?

[2017-12-04 18:09] kevinchalet commented on #522
No, users won't have to re-enter their credentials as long as their server-side session (represented by the ASP.NET Core authentication cookie) is valid. If the server-side session is expired, the `prompt=none` request will fail and the JS client will have to do a regular request.

That's not ideal, specially if you can't revoke your tokens.

[2017-12-05 09:56] Biarity commented on #522
Thanks heaps, I think I got it. Any idea why the request with `prompt=none` has to be done in an iframe? Can't I do this with AJAX and follow redirects?

Also, how long do ASP.NET Core cookie sessions last?

[2017-12-05 10:09] kinosang commented on #522
@Biarity you can configure cookie expiration with `service.ConfigureApplicationCookie`

[2017-12-06 11:50] IsmailHassani opened #523 "An exception occured while trying to update the expiration date of the token"
Since using Dataprotection with Azure I noticed several error as mentioned above.

`Microsoft.EntityFrameworkCore.DbUpdateConcurrencyException: Database operation expected to affect 1 row(s) but actually affected 0 row(s). Data may have been modified or deleted since entities were loaded. See http://go.microsoft.com/fwlink/?LinkId=527962 for information on understanding and handling optimistic con

[2017-12-06 13:44] kevinchalet commented on #523
One of your clients is likely trying to send multiple refresh token requests in parallel with the same refresh token, which results in a race condition detected by EF and caught by OpenIddict, that logs the exception and returns an errored token response (as it should).

If this becomes too noisy, we might tweak the log level of this message.

[2017-12-06 21:44] IsmailHassani commented on #523
Ok @PinpointTownes i'll keep an eye on it. Thank you.

[2017-12-10 13:47] jerriep opened #524 "Error when using UseOpenIddict<>()"
I am starting to play with OpenIddict and was using one of the generic overloads when calling `UseOpenIddict` to use an `int` primary key, e.g.

[code]

Then when calling the authorize endpoint (or when trying to load the seed data), I was getting the following error:

[code]

This was a bit weird, because the tables were included in the database migration scripts, so it seems as though the OpenId

[2017-12-10 14:01] kevinchalet commented on #524
Calling `options.UseOpenIddict<int>()` is not enough as it only configures Entity Framwork Core to use the OpenIddict models. You must also replace `services.AddOpenIddict()` by `services.AddOpenIddict<int>()` so that the managers/stores are registered with the correct models.

[2017-12-10 14:23] jerriep commented on #524
Aah ok. Thought it was probably something I missed.

I am happy using `string` for the PK though, so I'll carry on with it as-is. Got a basic OpenIddict working with Slack, so pretty happy about that 😎

[2017-12-10 14:24] #524 closed, assigned to nobody

[2017-12-10 14:34] kevinchalet commented on #524
Congrats :clap:

[2017-12-10 14:35] jerriep commented on #524
It's your samples that are very useful 😀

[2017-12-10 18:14] Myrmex commented on #436
Thanks, I solved by changing the code as follows:

[code]

[2017-12-11 17:40] KhaledSMQ opened #526 "Invalid column name 'Payload'"
I am receiving this error
[code]

# Configrations
[code]

I am not sure what i have missed or version conflicts.

[2017-12-11 17:41] kevinchalet commented on #526
As announced on Gitter, the latest package includes a schema change. Add a migration using `dotnet ef migrations` and apply it.

[2017-12-11 17:46] KhaledSMQ commented on #526
Thank you it works

[2017-12-11 17:46] KhaledSMQ commented on #526
i have 2 new columns

[code]

[2017-12-12 16:35] MaciejWanat commented on #337
@weitzhandler, I've used following workaround:

            services.ConfigureApplicationCookie(options =>
            {
                options.Events.OnRedirectToLogin = context =>
                {
                    context.Response.StatusCode = 401;
                    return Task.CompletedTask;
                };
            });

If you call this in ConfigureServices method, it sets up the

[2017-12-13 06:22] ferry-j-ispnext opened #527 "Refresh flow in Authorization Code"
Hi,

There is no documentation for the refresh flow. I want to obtain a refresh token after logging in. This login process can be local or with Facebook/Google account. So I want to use the Authorization code flow for this to handle.

But how to get a refresh token after logging in?
Can't find any specific information...

[2017-12-13 06:28] kinosang commented on #527
see [OpenID Connect spec](http://openid.net/specs/openid-connect-core-1_0.html), add `offline_access` into scopes.

[2017-12-13 23:12] GuidoNeele commented on #512
Added services.AddDataProtection(); and problem was solved! Thanks a bunch!

[2017-12-13 23:12] #512 closed, assigned to nobody

[2017-12-14 21:56] ferry-j-ispnext commented on #527
Got it working,

1.  Open Login screen via authorization code: (http://my-app.net/connect/authorize?client_id={clientid}&response_type=code&redirect_uri={myredirect}&scope=openid profile roles email **offline_access**
2. catch the code which is coming back in the redirect URL
3. POST connect/token (post in x-www-form-urlencoded):
	- “grant_type" = "authorization_code"
	- "code" = "{code received i

[2017-12-14 21:56] #527 closed, assigned to nobody

[2017-12-15 04:25] jerriep opened #528 "Consider throwing an exception when SignIn is called with an unauthenticated identity"
I am getting a 403 forbidden when passing an OpenIddict issued access token to an end point which I have configured to use the Bearer authentication scheme.

My OpenIddict config is as follows:

[code]

And configured OAuth validation:

[code]

The endpoint in question is configured as follows:

[code]

But when I call that endpoint passing the access token as a Bearer token, I get a 403 Forbidden

[2017-12-15 04:34] kevinchalet commented on #528
Getting a 403 means your authorization policy didn't pass, which is confirmed by the logs:

      Authorization failed for user: 2.
info: Microsoft.AspNetCore.Mvc.Internal.ControllerActionInvoker[3]
      Authorization failed for the request at filter 'Microsoft.AspNetCore.Mvc.Authorization.AuthorizeFilter'.

Unfortunately, this is absolutely not something managed by OpenIddict nor by the aspnet-c

[2017-12-15 04:36] kevinchalet commented on #528
Actually, the problem is right here: https://github.com/jerriep/SlackMap/blob/master/api/Controllers/AuthorizationController.cs#L111

You must choose the overload that takes an `authenticationType` string parameter (you can use a dummy value if you want). If you don't, `ClaimsIdentity.AuthenticationType` is null and since `ClaimsIdentity.IsAuthenticated` is a simple null or empty check made on `Cl

[2017-12-15 04:55] jerriep commented on #528
Yes this part was confusing to me because on the one hand the logs showed that the OAuth validation handler successfully authenticated the user but on the other hand I still got the Forbidden result.

There are so many moving parts that it is difficult to know where to look for the problem :(

Your solution for passing an `authenticationType` to `ClaimsIdentity` worked though. Now I am back in bus

[2017-12-15 04:59] kevinchalet commented on #528
Please post a message here to say you'd like more logs for the authorization stack: https://github.com/aspnet/Security/issues/1259.

One thing we could do in OpenIddict is throw an `InvalidOperationException` when you call `SignIn` with a `ClaimsPrincipal` that contains an identity with a null authentication type. It would make this BCL requirement easier to discover.

[2017-12-15 08:46] Biarity opened #529 "How is the token validated on a resource server?"
Correct me if I'm wrong, but from what I understand [from this code](https://github.com/openiddict/openiddict-samples/blob/dev/samples/ImplicitFlow/ResourceServer01/Startup.cs), resource servers are supposed to validate the tokens by calling the authorization server's introspection endpoint?

Isn't that ineffective? Making a call to the authorization server each time a user makes a request seems e

[2017-12-15 08:50] kinosang commented on #529
If you're not using the reference token, you can validate tokens on RP "offline". Use the OAuth validator or JWT validator.

Or if you've enabled the reference token, you can use `AspNet.Security.OAuth.Introspection` for that.

[2017-12-15 09:01] Biarity commented on #529
I'm using self-contained JWT tokens (`OpenIddictTokens` table will always be empty).

I think I missed the "JWT validator", never heard of that before! Mind pointing me to relevant documentation?

[2017-12-15 09:09] kinosang commented on #529
some resources helpful:

http://kevinchalet.com/2016/07/13/creating-your-own-openid-connect-server-with-asos-registering-the-middleware-in-the-asp-net-core-pipeline/

https://github.com/openiddict/openiddict-samples/blob/dev/samples/ImplicitFlow/ResourceServer01/Startup.cs#L30-L51

[2017-12-15 09:26] #529 closed, assigned to nobody

[2017-12-17 17:41] JoshLefebvre opened #530 "Trying to return signInResult as json from login authentication controller error"
In the sample implementations provided the following is returned from the authentication login controller:
[code]

This succesfully returns my access_token to the client which I need. However I would like to return additional information along with my signInResult as json:
[code]

and  am getting the following exception thrown from controller:
[code]
The only item I actually need from SignInResult