[2016-09-01 17:15] kevinchalet commented on #213
Upload a repro please.

[2016-09-01 17:51] felipesantanadev commented on #213
I have just created a repository. You can try to run the project.

[https://github.com/itsfelipesan/OpenIddict.Tests](url)

[2016-09-01 18:16] kevinchalet commented on #213
As I suspected, your controller action route doesn't match the address registered in the OpenIddict options. Replace `[Route("api/[controller]")]` by `[Route("[controller]")]` and it will work:

![image](https://cloud.githubusercontent.com/assets/6998306/18178990/c8f5d574-7080-11e6-9b5c-61f3c4b70a34.png)

[2016-09-01 18:29] felipesantanadev commented on #213
Have you just changed the Route? Because replacing [Route("api/[controller]")] by [Route("[controller]")] and trying to access localhost/authorization/token from Postman, It returns Internal server error.

[2016-09-01 18:30] kevinchalet commented on #213
It returns an internal server error because your context class is invalid. Consider inheriting from OpenIddictDbContext if don't know what you're doing.

[2016-09-01 18:37] felipesantanadev commented on #213
Now my context is that:

[code]

But it is still returning server error.

[2016-09-01 18:41] kevinchalet commented on #213
You know you can enable logging and debug your app yourself, right?

[2016-09-01 18:43] felipesantanadev commented on #213
I'm still learning, but thank you for the patience.

[2016-09-01 19:25] felipesantanadev commented on #213
Following the log, I saw that It is trying to select a coloumn called NormalizedEmail and NormalizedUserName which are not in the AspNetUsers table. Are that coloums necessary?

![print](https://cloud.githubusercontent.com/assets/16308565/18181189/65784466-7060-11e6-8aae-917c70d249ce.png)

[2016-09-01 19:29] kevinchalet commented on #213
That's a question you should ask to the ASP.NET team, but yes, I'm pretty sure it's a mandatory column.

[2016-09-01 23:18] dreampper opened #214 "Can't get refresh token even with scope offline_access"
Hello, I have already enabled the AllowRefreshTokenFlow() and I'm sending the scope offline_access. However, the response JSON only contains, token_type, access_token and expires_in.

I have noticed a thing: my Action which leads with the authentication hadn't these two lines:

[code]

I think they are necessary so that the refresh token can be sent, right?

But when I add these lines on my code,

[2016-09-02 11:33] dalestone opened #215 "using refresh_token to get access_token does not contain previous claims"
Hi,

I have a custom AuthorizationController where I am using the password grant type to authenticate the user and adding some custom claims. This works fine and returns the JWT with additional properties.

However I've noticed when using a refresh token to get a new access token all these claims disappear, so the question is do I have to roll my own endpoint for refresh tokens to be able to set t

[2016-09-03 01:08] kevinchalet commented on #214
They are (at least, the `SetScopes` line, that defines the scopes granted to the client app': in this case, the scopes the client sends in the `scope` parameter).

Any chance you could share your DB context?

[2016-09-03 01:13] kevinchalet commented on #215
This is the "expected" behavior, as custom claims are discarded when using a refresh token (because internally, OpenIddict calls `CreateIdentityAsync` to generate a fresh new identity and ignores the old claims).

That said, now that you're responsible of creating authentication tickets, this behavior - inherited from the period where OpenIddict magically handled everything for you - doesn't make

[2016-09-03 01:51] dreampper commented on #214
That's my dbcontext

[code]

[2016-09-03 01:53] kevinchalet commented on #214
Hum, weird. What's the store you're using? In-memory? MS SQL? SQLite?

[2016-09-03 01:54] dreampper commented on #214
I'm using MySQL. When i remove the SetScopes, It works, but the refresh_token is not returned.

[2016-09-03 01:55] kevinchalet commented on #214
Can you please try with another store?

[2016-09-03 01:58] dreampper commented on #214
I'll try with another database and as I do It, I report you. Do you think It's a problem with the MySQL connector or with the OpenIddict?

[2016-09-03 02:00] kevinchalet commented on #214
I suspect a bug with MySQL (at least, with the EF Core integration), as this feature works fine with in-memory/MS SQL.

[2016-09-03 02:02] dreampper commented on #214
My team can only use MySQL and PosrgreSQL, but I'll try with MS Server and PostgreSQL. When I make tests with them, I post here.

[2016-09-03 02:16] dreampper commented on #214
Just to know, which tables are involved in this scenario? So I can open an issue in the MySQL forum too.

[2016-09-03 06:03] dalestone commented on #215
Ok much appreciated thanks

[2016-09-05 09:29] Qszer94 opened #217 "Token endpoint and locked account"
Hi I have a problem with token endpoint.
I created custom controller action for token endpoint like in readme.
I made few changes for account locking system:

[code]

Unless user reach limit of attempts all is fine, but when user account is locked server not hit my action.
I'm getting 400 (Bad Request), but it's not my response:

[code]

[2016-09-06 01:34] levitatejay opened #218 "Custom Claims and Stateless API Question"
I've read that a common use for OpenID Connect is to have a stateless api by including custom claims in the ID token JWT. These claims can contain different information that can be used by the server for authorisation (such as "IsAdmin": false) without having to hold a session for each user or query the database on each request.

First I want to confirm I have the following information correct:
-

[2016-09-06 02:58] kevinchalet commented on #217
That's because OpenIddict makes a similar check internally, so a request never reaches your controller if the account is locked. I suppose we could remove it, but I'm not sure I'm a huge fan of that.

[2016-09-06 03:02] kevinchalet commented on #218
False. Access tokens can contain any claim you want.

True.

True (tho' it's generally recommended to use the standard claim names)

False... and true. While identity tokens can't be used for "API authentication", this doesn't mean they have nothing to do with authentication, as they are used by client apps' to determine who the user is.

It is clearly an overkill. It's also wrong to send an ident

[2016-09-06 03:15] levitatejay commented on #218
Thanks for the quick response!

I think I'm getting confused by something...

In question: https://github.com/openiddict/openiddict-core/issues/165 you said:

Could you clarify what you meant here as that would seem to contradict what you just posted?

[2016-09-06 03:37] kevinchalet commented on #218
`identity token claims` != `token response properties`.

As the name suggests, "identity token claims" are the claims stored inside an identity token. Token response properties are simply what you get when receiving a token response (e.g an access or an identity token, or the `expires_in` property):

[code]

Unlike OpenID Connect (which is a recent spec), OAuth2 had no standard way to flow user at

[2016-09-06 06:44] Qszer94 commented on #217
In my opinion Openiidict should check if request is valid and contains required params, also if params are valid. Locked accout or Two-factor authentication shouldn't be checked intenally, cause thats features of Identity and each user may want to customize it.

[2016-09-06 21:27] jayrulez commented on #217
@PinpointTownes I have to agree with @Qszer94 here.

This check should be application logic and not library logic.

I know openiddict is just to make openidconnect more palatable for most devs but I think this has gone just 1 step too far in doing so.

[2016-09-06 21:28] jayrulez commented on #217
@PinpointTownes I have to agree with @Qszer94 here.

This check should be application logic and not library logic.

I know openiddict is just to make openidconnect more palatable for most devs but I think this has gone just 1 step too far in doing so.

[2016-09-07 02:31] levitatejay commented on #218
Thank you, that has helped clear things up a lot.

[2016-09-07 02:31] #218 closed, assigned to nobody

[2016-09-07 05:12] levitatejay opened #219 "Custom claims are string only?"
I have a few POCO objects I use for authorisation... e.g. a list of products, licence expire dates, user permissions, etc.

I want to stick these all inside the access token as claims and thought it would make things easier if I could simply add the object as a claim... for example:
`identity.AddClaim("my_auth_stuff", authObject);`

Because all the strings passed into that method seem to run throu

[2016-09-07 13:26] kevinchalet commented on #219
Token serialization is not handled by OpenIddict. For that, it relies on either ASP.NET Core (when using the default token format, via [`TicketSerializer`](https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication/DataHandler/TicketSerializer.cs)) or on IdentityModel (a library developed by MSFT that provides JWT support: https://github.com/AzureAD/azure-activedirectory-i

[2016-09-07 13:28] #198 closed, assigned to nobody

[2016-09-07 13:43] kevinchalet commented on #217
Okay, I'm sold, let's remove the internal check. I'll work on that in the next few days.

[2016-09-08 13:55] dreampper commented on #214
I have tested with PostgreSQL and that's the result:

Which are the necessary tables?

[2016-09-09 07:02] jayrulez opened #221 "Response of userinfo endpoint"
Should the userinfo endoint not return 401 when the access token expires rather than a 400?

The example here: http://openid.net/specs/openid-connect-core-1_0.html#UserInfoError

shows 401.

This also supports 401:

http://www.ibm.com/support/knowledgecenter/SSAW57_8.5.5/com.ibm.websphere.wlp.nd.doc/ae/twlp_oidc_userinfo_endpoint.html

[2016-09-09 11:56] kevinchalet commented on #221
That's deliberate.

There are currently a bunch of bugs in both the OWIN/Katana and ASP.NET Core security stacks that makes returning a 401 response from an authentication middleware a real trap (e.g https://github.com/aspnet/Security/issues/930). Due to this bug, a 401 response might be intercepted by another middleware (e.g one of the cookies middleware registered by ASP.NET Core Identity) and r

[2016-09-09 13:52] norcis opened #222 "2FA support?"
Hello,

I'm creating rest api and first party native mobile app which will consume it. To authorize API access and authenticate users I want to implement OpenId Connect with 2FA.

It would look like this:

1) in the app, user enters his username/password or use Facebook/Google etc.
2) if it's validated, server send SMS with shared secret to customer associated phone number.
3) clients enters PIN c

[2016-09-09 15:23] jayrulez commented on #221
Ah I see. I hope this will get resolved sooner than later.

I guess I'll need to hack around this for now.

I want to do automatic token refreshing in my client.

Is is safe to rely on the presence of "Expired token" in the response content to signify that the token has expired. Do you imagine any situation in which you would change this text?

I don't want the refresh token code to run on every b

[2016-09-09 16:15] kevinchalet commented on #221
Unfortunately, it's not a bug I can work around, so it entirely depends on the goodwill of the ASP.NET team (it was already super hard to convince them this was a bug...). And AFAICT, it doesn't seem to be a high priority item for them.

This bug only affects 401 responses that would be normally returned by an authentication middleware like ASOS/OpenIddict, so it doesn't affect your own APIs (prot

[2016-09-09 16:21] kevinchalet commented on #222
Hey.

2FA is supported with interactive flows like code or implicit for a simple reason: OpenIddict doesn't handle the authentication part, which is something you must implement yourself. In practice, this is often handled using the `AccountController` that comes with the default template when you select individual authentication (it uses ASP.NET Core Identity under the hood).

If you need more in

[2016-09-09 16:22] #222 closed, assigned to nobody

[2016-09-09 16:38] #217 closed, assigned to kevinchalet

[2016-09-09 16:55] kevinchalet commented on #217
Fixed by https://github.com/openiddict/openiddict-core/issues/220.

[2016-09-10 00:16] jayrulez commented on #221
I see. So it's not big of an issue in my case then.

I was calling the userinfo endpoint on the splash screen so the token would be refreshed if it expired. This could be any secured endpoint really.

[2016-09-10 07:41] kevinchalet commented on #219
@levitatejay did you have a chance to confirm `JsonClaimValueTypes.Json` worked as intended?

[2016-09-11 21:45] levitatejay commented on #219
Yes, I've just tested and it is working great for what I need! Thanks

[2016-09-11 21:45] #219 closed, assigned to nobody

[2016-09-17 20:34] jayrulez opened #223 "Question: Client validation on Custom flow"
Should we need to manually do client validation when using custom flows?

[2016-09-17 20:47] kevinchalet commented on #223
No: client authentication is always handled by OpenIddict independently of the flow used by the app. There's no plan to change that (because it's frankly not something most people would implement correctly).

[2016-09-17 21:35] jayrulez commented on #223
There seems to be a problem then as I've enabled a custom flow and implemented code to handle it. However, I am able to get a token without passing client credentials. Any idea what might be wrong?

[code]

[2016-09-17 21:46] kevinchalet commented on #223
The OAuth2 specification explicitly states that clients don't have to send their `client_id`:

When no `client_id` is received, OpenIddict has no way to determine what's the client app making the token request and skips client authentication. That's very likely why it works in your case (because you don't send a `client_id`).

We'll add a `RequireClientIdentification()` option making `client_id` a

[2016-09-17 22:12] jayrulez commented on #223
Yes this is exactly what I'm looking for.

[2016-09-17 22:16] kevinchalet commented on #223
Alright, let's implement that, then.

FYI, I started working on that a while ago. I'll try to rebase my local branch and send a PR soon.

[2016-09-17 22:29] jayrulez commented on #223
Sounds great.

[2016-09-17 23:20] kevinchalet commented on #223
PR submitted: https://github.com/openiddict/openiddict-core/pull/224.

[2016-09-17 23:26] jayrulez commented on #223
Just reviewed. It looks good.

[2016-09-17 23:52] #175 closed, assigned to kevinchalet

[2016-09-18 00:15] #223 closed, assigned to nobody

[2016-09-18 00:55] atrauzzi opened #225 "It's very difficult to get this library working"
A terrible issue title to be sure.  But I really wanted to highlight some frustrations I'm having in trying to get up and running with this library.

Most of my difficulties seem to be focused around the use of generics and also pre-filled generic implementations the documentation guides me into using.  I'm in the process of going through the setup instructions, but I'd like to switch my key type

[2016-09-18 01:30] kevinchalet commented on #225
Sorry to hear that.

I think it's important to note that this pattern is not really specific to OpenIddict since it's massively used by Identity itself (https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/IdentityDbContext.cs#L84). We try to reuse the same approach in OpenIddict, for consistency.

I agree generics make everything much harder to underst

[2016-09-18 01:39] atrauzzi commented on #225
I definitely get where you're coming from.  I think it just means that anything identity-related is not for me, and I'm stuck hand-rolling my own.

Everybody's gotta have a hobby! ;)

[2016-09-18 01:39] #225 closed, assigned to nobody

[2016-09-18 01:43] kevinchalet commented on #225
Hehe.

If you're comfortable with OAuth2/OpenID Connect, you can try ASOS, the underlying OIDC server middleware behind OpenIddict: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server

Unlike OpenIddict, it doesn't rely on Identity and implementing the membership part is left as an exercise. It's the equivalent of the `OAuthAuthorizationServerMiddleware` in the ASP.NET Core worl

[2016-09-18 01:49] atrauzzi commented on #225
Sorry, can you elaborate on what `OAuthAuthorizationServerMiddleware` is?

[2016-09-18 01:53] kevinchalet commented on #225
It was the OAuth2 server middleware developed for OWIN/Katana. It was used in the ASP.NET Web API templates for Visual Studio.

I'm sure there are many resources about this stack. It was a really popular solution.

[2016-09-18 01:54] atrauzzi commented on #225
Oh, interesting.  So ASOS would help me cut down on the logic-side of things, requiring me to just fetch and bridge my values into it, eh?

[2016-09-18 01:57] kevinchalet commented on #225
Pretty much, yeah. ASOS only cares about the OpenID Connect details, nothing more... so it doesn't handle authentication and doesn't care how your users log in or register. You're free to bring your own abstractions and your own implementations for that.

[2016-09-18 02:16] atrauzzi commented on #225
That's awesome, definitely no reason to reinvent the wheel here!  I'll jump over there, thanks for the tip :)

[2016-09-19 01:41] jayrulez opened #226 "Using OpenIddict internal services in application (question)"
@PinpointTownes
Do you recommend using OpenIddict internal services in an application.

This is what I would like to accomplish.

I have an endpoint for a user to request a one time password before signing in.

I would like to protect this endpoint with a client id and secret(if the application is confidential).

If it is recommended, How do I access it inside a controller?

I see the necessary me

[2016-09-19 02:39] jayrulez commented on #226
Ha, I found the answer. I should use the application manager. Never mind.

[2016-09-19 02:39] #226 closed, assigned to nobody

[2016-09-19 16:56] tranpl opened #227 "Resource parameter from the GetOpenIdConnectRequest() truncating"
I have an asp.net core 1.0 application utilizing OpenIddict library. When sending request to the api /connect/token endpoint, the resulting parameters are not complete.
![request](https://cloud.githubusercontent.com/assets/4207355/18640814/cbe4e762-7e67-11e6-98f3-990a7720307e.png)
![params](https://cloud.githubusercontent.com/assets/4207355/18640816/cfa4449c-7e67-11e6-9e41-1ca9d7ae9df1.png)
I've i

[2016-09-19 17:17] kevinchalet commented on #227
That's a really strange bug (that I can't reproduce locally).

Can you please add the following middleware in your pipeline (at the top) and tell me what you get? It should print the `resource` parameter extracted from the request form.

[code]

[2016-09-19 17:32] tranpl commented on #227
I've copied and pasted your code right after

[code]

The inline middleware didn't seem to output anything.

Here's the output/response:

[code]

[2016-09-19 17:35] kevinchalet commented on #227
By `print` I meant `returning as part of the HTTP response`, not logged in the output window. That said, you can easily tweak my snippet to use the logging stack.

[2016-09-19 17:38] kevinchalet commented on #227
And BTW, I said at the top. If you register it AFTER ASP.NET Core MVC, it will never be invoked.

[2016-09-19 17:38] gilessmart opened #228 "Settings and Configuration Wiki Article fallen out of date"
I noticed a couple of things that might be improved in the ["Settings and Configuration" WIKI article](https://github.com/openiddict/openiddict-core/wiki/Configuration-and-options). Apologies in advance if anything turns out to be my misunderstanding.
- Description for "AuthenticationScheme" describes "Issuer"
- Default for "AuthenticationScheme" is given as "oidc-server" but ASOS source code appe

[2016-09-19 17:53] tranpl commented on #227
Thank you for the help and for being so patient.
I've placed the code you provided in various places of the Configure method, however the server just doesn't respond, even though it starts up normally. I proceeded to put the code inline with the AuthorizationController. Here's what i got. Maybe you wanted the content prior to hitting the post method?
![response_output](https://cloud.githubusercont

[2016-09-19 17:53] kevinchalet commented on #228
Haha, nice catch! :+1:

Yeah, both the ASOS XML code documentation and this wiki page need a serious rework. It's something I plan to do latter this year, after ASOS beta7 is officially released (I'm working on it ATM): https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/324.

Actually, this feature was removed to be consist with the ASP.NET Core security middleware, that

[2016-09-19 17:57] kevinchalet commented on #227
Ideally yes, but it shouldn't change anything, as `ReadFormAsync()` returns a cached instance on subsequent calls.

This doesn't look like to be an OpenIddict issue. I'm sure you'd get the same weird behavior with any other POST endpoint.

Are you using a proxy server in front of Kestrel? The `X-Powered-By` response header shown in your screenshot seems to imply you're hosting it behind Express.

[2016-09-19 18:09] tranpl commented on #227
You are correct, i just noticed. The response header should be from Kestral, not Express. I'll dig into this a bit more, thank you.

[2016-09-19 18:30] tranpl commented on #227
Looks like the issue was due to the Ripple Emulator for Visual Studio, I toggled Cross Domain to disabled, instead of local, now shows the proper resource. I'll just have to be careful in the future testing out the application using the browser emulator, thank you!

[2016-09-19 18:30] #227 closed, assigned to nobody

[2016-09-19 19:05] kevinchalet commented on #227
Glad you found what was causing your issue :clap:

[2016-09-21 02:53] 173950751 commented on #69
i have a trouble：
netframework can't add wcf service

Scaffolding Code ...
Error:The project does not target a supported .Net Core framework, the minimum supported framework version is 'netstandard1.3'.

[2016-09-21 07:37] joshgarwood opened #229 "Support for .net 4.6.1"
Hi there!  I'm very eager to use this library as was using the built-in Microsoft auth solution with Identity, then realized I couldn't use the default SignInManager to get JWT's.  So, OpenIddict seems to be a perfect solution for me.  Unfortunately, I'm having trouble installing it.  Upon adding the necessary dependencies (OpenIddict and OAuth.Validation), I get an error when the packages are ins

[2016-09-21 08:41] kevinchalet commented on #229
Hey.

.NET Desktop 4.6.1 should be fully supported as OpenIddict targets `net451`.

Are you sure you have added the `aspnet-contrib` feed to your `NuGet.config` file?

[2016-09-21 08:45] kevinchalet commented on #69
@173950751 not sure to understand how your question is related to this library as it doesn't even use WCF :smile:

[2016-09-21 20:54] joshgarwood commented on #229
You are correct; sorry for the confusion!  It was the nuget file i was missing... I need to follow directions better, ha

[2016-09-21 22:48] #229 closed, assigned to nobody

[2016-09-21 22:50] joshgarwood opened #230 "Ability to use EF6 instead of EFCore?"
Hey folks!

Sorry to be a bother, but I saw in the documentation that it would be possible to use another version of EF (ie: EF6) instead of EFCore.  In looking at the sample project I'm not quite sure how to do this...  I currently have Identity implemented with EF6 within my .NET Core project, but am not sure how to leverage OpenIddict with that implementation.

From the ReadMe it seems like I w

[2016-09-22 01:17] joshgarwood commented on #193
@ivanmariychuk Did you have any luck with this?  I'm in the process of doing the same thing and would be interested in chatting if you were able to get this working with EF6.

[2016-09-24 21:01] kevinchalet commented on #230
Hey,

The `OpenIddictXYZStore` implementations provided by `OpenIddict.EntityFramework` are specific to EF Core and cannot be used with EF 6.

To support EF 6, you'll have to implement the `IOpenIddictXYZStore` interfaces yourself. For that, I'd recommend copying the EF Core entities/stores and tweak them to make them work with EF 6: https://github.com/openiddict/openiddict-core/tree/dev/src/OpenI

[2016-09-26 07:04] joshgarwood commented on #230
Hey Kevin!  Thanks so much for the insight and direction on getting this done.  After a _lot_ of trying (and failing), I believe I have all of the Stores and Entities/Models implemented.

That said, I do have another question... The **AddOpenIddict** extension method... I'm getting a type conversion error when calling that method in the Startup.cs ConfigureServices method.  But when looking at the

[2016-09-26 15:15] kevinchalet commented on #230
You should be able to use the shortest `AddOpenIddict` overload defined in `OpenIddict.Core` (but not the longest overloads used by `OpenIddict`, as they rely on the EF stores).

What's the exact error you're seeing?

[2016-09-26 15:17] joshgarwood commented on #230
Hey Kevin!  Thanks for the response!  I would have thought so too, but here is the error I'm getting:

![image](https://cloud.githubusercontent.com/assets/1417324/18839911/bef5fffa-83da-11e6-9bec-2c07fb01de0f.png)

[2016-09-26 15:20] kevinchalet commented on #230
Hey Josh,

As mentioned, the longest overloads can't work with custom stores.
FWIW, I'm considering removing them for clarity.

[2016-09-26 15:22] joshgarwood commented on #230
Oh, i thought you said the longest overloads would work,

Lemme see if I missed something.

[2016-09-26 15:24] kevinchalet commented on #230
@joshgarwood that's what I get for answering while doing something else at the same time... :sweat_smile:

[2016-09-26 15:26] shaunluttin opened #231 "Allow the absence of id_token_hint when prompt=none."
When possible, an id_token_hint SHOULD be present when prompt=none is used and an invalid_request error MAY be returned if it is not; however, the server SHOULD respond successfully when possible, even if it is not present.

Related: https://github.com/IdentityModel/oidc-client-js/issues/116#issuecomment-249400796

[2016-09-26 15:26] joshgarwood commented on #230
Haha, no worries; still very helpful :)  It worked as soon as I removed the `<...NoblyContext, int>` types.

Many thanks!!

[2016-09-27 18:27] behrooz66 opened #232 "Individual Accounts & Social Logins for .net Core Web APIs"
I am trying to figure out whether the following is possible and how can it be done: Implementing individual user accounts login enabled for Web Api in .Net Core using OpenIddict, providing the following capabilities:
- Generating access tokens,
- Generating refresh tokens,
- Enabling social logins (google, facebook, also capable of renewing their tokens using refresh token),
- Enabling roll-based

[2016-09-27 20:32] jabas06 commented on #232
You can take a look at this example. https://github.com/openiddict/openiddict-core/blob/dev/samples/Mvc.Server/Controllers/AuthorizationController.cs#L174

You just need to create a new authentication ticket after your custom logic is done.

[2016-09-28 01:38] kevinchalet commented on #232
Though I strongly recommend the approach used by the MVC server sample (i.e the authorization code or the implicit flows) as it's easier to implement, far less error prone and much easier to customize, this flow is supported in the most recent OpenIddict bits, that allow handling custom grants (for more info about the "assertion grant", read http://stackoverflow.com/a/39018048/542757 and the speci

[2016-09-28 17:00] behrooz66 commented on #232
Thank you @PinpointTownes , much appreciated.
Since you mentioned you suggest the implicit flow demonstrated in the MVC.Server sample, would you mind explaining a bit how do I use that for a single page app?
More precisely, I mean in a JS app you will need to have the token in hand and the ability to renew the token somehow (but refresh token doesn't exist in implicit flow). How do you obtain the

[2016-09-28 17:34] behrooz66 commented on #232
just a long shot, would it even be possible for you to create a sample that does what I have described? I know many people who are struggling to build something like that.

[2016-09-29 08:06] kevinchalet commented on #232
To "refresh a token" with the implicit flow, you must send an authorization request in a hidden frame, with `prompt=none`.

@shaunluttin recently published a great sample for Aurelia: https://github.com/openiddict/openiddict-samples/tree/master/samples/ImplicitFlow. Adding a `prompt=none` demo would be a nice addition.

[2016-09-29 08:08] kevinchalet commented on #232
I opened a ticket to track that: https://github.com/openiddict/openiddict-samples/issues/11.

[2016-09-29 09:32] dazinator commented on #230
Hi guys. I am using EF Core, but I don't want my ApplicationUser class to use inheritance. May I ask - is inheritance necessary? Or an interface would be preferable in my case?

[2016-10-01 05:01] felipesantanadev opened #233 "Differents TKeys"
There is some way to make the OpenIddictTokens be build with string key and the AspNetUsers to be build with int key?

When I use `ApplicationEntityDbContext : OpenIddictDbContext<ApplicationUserEntity, IdentityRole<int>, int>` the `OpenIddictTokens` table receive an int ID and It's not a good idea, since for each token request It will add a new row in the table with a new ID index and the INT dat

[2016-10-01 09:24] kevinchalet commented on #233
Not with the default EF Core stores, nope. The `TKey` parameter impacts all the entities and there's no plan to introduce the ability to have separate key types for each entity (it would be a complete mess).

Only authorization codes and refresh tokens are stored in this table. Since they are short-lived, their corresponding entry in the table will be quite ephemeral. Nothing prevents you from res

[2016-10-01 09:26] kevinchalet commented on #230
@dazinator if you don't want to inherit from the `OpenIddict*` entities, the "punishment" is the same as the one inflicted by Identity: you must provide your own stores, since the built-in ones only work with the default entities :smile:

[2016-10-01 16:40] felipesantanadev commented on #233
Ok, I understand what you mean. Do you think that leaving the default keys for all tables, a system which has a very large number of users will be lazy with the User ID not being INT or LONG?

And another question, just to understand the flow. When something is inserted in the Authorization table? Because only my OpenIddictTokens table has values, the OpenIddictAuthorizations table is empty.

[2016-10-01 17:17] kevinchalet commented on #233
If using string primary keys had such a horrible perf' impact, I guess Identity wouldn't use them. That said, it's likely a question you should ask to the ASP.NET/EF team.

Currently, never. This area is still a work in progress.

[2016-10-01 22:26] dazinator commented on #230
Ok thats cool, I can implement custom stores :-)
Cheers!

[2016-10-06 14:25] t3hmun commented on #206
@PinpointTownes, can you add a warning in the README sample to say that it is missing `_signInManager.CanSignInAsync(user)` (essential for accounts requiring email/text verification).

When upgrading from the old version of the code my brain had assumed that was done by magic, luckily I had written a test.

I believe this warning applies to the samples posted in this issue too.

[2016-10-07 16:02] kevinchalet commented on #206
@t3hmun thanks for the tip. For clarity, I removed the abbreviated sample from the README: https://github.com/openiddict/openiddict-core/commit/44ee0f6ceaf21936b7f938e026ed0889bf1b5374

The "complete" sample has the right check:
https://github.com/openiddict/openiddict-core/blob/dev/samples/Mvc.Server/Controllers/AuthorizationController.cs#L124-L130

[2016-10-07 16:25] #213 closed, assigned to nobody

[2016-10-07 16:26] #191 closed, assigned to nobody

[2016-10-07 16:26] #188 closed, assigned to nobody

[2016-10-07 16:27] kevinchalet commented on #188
@codethetalk thanks for your help :+1:

[2016-10-07 16:27] #181 closed, assigned to nobody

[2016-10-07 16:29] kevinchalet commented on #186
You're now responsible of providing your own authorization/token endpoint, so you're now free to return the claims you want, without having to use or override the user manager.

[2016-10-07 16:29] #186 closed, assigned to nobody

[2016-10-07 16:29] #221 closed, assigned to nobody

[2016-10-07 16:32] kevinchalet commented on #196
Yep, you can:

[code]

[2016-10-07 16:32] #196 closed, assigned to nobody

[2016-10-08 20:24] DCTruong opened #236 "Cannot get access token by postman"
Hi PinpointTownes,

I have a project using your great OpenIdDict. I have followed your setup but I cannot get access token by Postman - the request binding is always null. Could you please help to check? Thank you very much.

Please look at the screenshot:

![issue](https://cloud.githubusercontent.com/assets/2047342/19215699/682c1e6c-8dcf-11e6-80e9-b9be4191ae80.png)

Regards,
Truong

[2016-10-08 20:58] kevinchalet commented on #236
Hey @DCTruong,

Any chance you could also share your `Configure` method?

[2016-10-10 04:46] DCTruong commented on #236
Sure Pinpoint. Thanks for your response. I attached the Configure method bellow.

![configmethod](https://cloud.githubusercontent.com/assets/2047342/19227079/e359796c-8ede-11e6-9ccf-20fd406a7d46.png)

I have also checked with your sample My.Server and I can test authentication/authorization flow with My.Client but not with Postman. I think there is something wrong with my Postman config.

Thanks,

[2016-10-10 08:10] kevinchalet commented on #236
I can see in your screenshot that you're using `form-data` instead of `x-www-form-urlencoded`, which is not expected to work (as the OAuth2 specification requires url-encoding). Can you try to fix that?

The weird thing is that your MVC controller shouldn't be invoked for an invalid request. Here's what you should get instead:

[code]

When you tested, are you sure `app.UseOpenIddict()` and `app.U

[2016-10-11 07:08] jersiovic commented on #28
Any advance on that?

[2016-10-11 07:41] DCTruong commented on #236
Thank you very much. I followed your two suggestions and the problem is solved. Thanks again for your great support.

Truong

[2016-10-11 08:28] kevinchalet commented on #236
@DCTruong just to be sure, you're now seeing the exact error message I mentioned when using `form-data`, right?

[2016-10-11 15:17] Gillardo opened #238 "Connect call connect/token in latest version 0448"
I am using postman and connecting to localhost:5000/connect/token passing the following parameters

![image](https://cloud.githubusercontent.com/assets/7406381/19275961/09bfbb86-8fcd-11e6-9e62-2914f25eaaf5.png)

But i seem to get a message in the console saying

Then i provide my client_id in my postman call, and i get this message in console

I am just trying to login using username and password

[2016-10-11 15:18] kevinchalet commented on #238
Do you have a token endpoint action, like in the sample?

https://github.com/openiddict/openiddict-core/blob/dev/samples/Mvc.Server/Controllers/AuthorizationController.cs#L127

[2016-10-11 15:22] Gillardo commented on #238
No, i have not got an AuthorizationController.  Is this now needed?

[2016-10-11 15:23] kevinchalet commented on #238
It is. OpenIddict no longer handles the authentication part when using the password flow (and there's a plan to decouple it from ASP.NET Core Identity).

[2016-10-11 16:07] Gillardo commented on #238
I have added the authorizationController from the example you sent, now i get this error?

But i cannot see where in the Server example it injects this?

[2016-10-11 16:17] kevinchalet commented on #238
@Gillardo use `OpenIddictApplicationManager<OpenIddictApplication>` when using the default key type.

[2016-10-11 16:19] Gillardo commented on #238
lol, just fixed that...but thanks.

Now though i am able to call the API, although i still have to provide a client_id and resource for using JWT, which aint a problem, just making sure this is needed?

But now, if i pass the access_token via an Authorization call, my user is not found.

I get an error in the console that says

[2016-10-11 16:21] kevinchalet commented on #238
The `client_id` parameter is only required if you use the new `RequireClientIdentification()` option.

[2016-10-11 16:23] Gillardo commented on #238
Ok @PinpointTownes my fault, i should of looked at the obvious comment above that line.

I have now added `.UseJsonWebTokens()` now getting this error

But in my original request to `connect/authorize` i am passing in the resource parameter of http://localhost:5000 ??

[2016-10-11 16:25] kevinchalet commented on #238
You must call `ticket.SetResources("xyz")` to allow OpenIddict to use the xyz resource as a valid audience. The `resource` parameter can still be used as a hint, but it has no effect unless you do something like `ticket.SetResources(request.GetResources())`.

[2016-10-11 17:21] kevinchalet commented on #238
@Gillardo I suppose it's working, now? :smile:

[2016-10-11 20:02] Gillardo commented on #238
@PinpointTownes nope still not working.  If i remove the "resource" property from my call to `connect/authroize` and then use the access_token on a protected api call, i still get an exception in the console saying

[2016-10-11 20:04] kevinchalet commented on #238
Do you call ticket.SetResources(...) as suggested?

[2016-10-11 20:08] Gillardo commented on #238
No, i dont want to use resource if possible... If i have to, where do i need to put that?

Also noticed that i get this message in the console when calling the `connect/authorize` method

[2016-10-11 20:15] kevinchalet commented on #238
You must call ticket.SetResources(...) after creating the AuthenticationTicket and before returning a SignInResult.

[2016-10-11 20:15] Gillardo commented on #238
And is this mandatory?  Just wondered why it aint included in the example if it is?

[2016-10-11 20:16] kevinchalet commented on #238
It is. It's not included in the sample because it uses the default token
format, that doesn't require setting an audience.

Le mardi 11 octobre 2016, Gillardo notifications@github.com a écrit :

[2016-10-11 20:28] Gillardo commented on #238
@PinpointTownes fair enough.. Thanks for all your help. Last thing.. role doesnt seem to be included as a claim anymore, when you pass a scope of role??  Is this something that i now need to implement?

[2016-10-12 08:50] #195 closed, assigned to nobody

[2016-10-12 14:17] codethetalk commented on #188
@PinpointTownes you, too, for all the great work 👍

[2016-10-13 08:35] Gillardo opened #239 "Connected host has failed to respond 999.99.999.999:80 - Using sub folder website"
My code all works when i am developing which i use localhost:5000.

I have now published my code and uploaded to the site which uses child folders....Eg.
http://www.my-url.co.uk/folder1
http://www.my-url.co.uk/folder2

When i call folder1/connect/token or folder2/connect/token with a valid username and password, i get a token returned.

But if i try to connect to a protected api resource, i get th

[2016-10-13 10:13] kevinchalet commented on #239
It's seems ultra clear to me: the JWT middleware tries to download the discovery document from OpenIddict and fails to do so because it's unreachable (hence the `SocketException`).

You likely have a routing or firewall issue somewhere in your infrastructure.

Not really as there's no "path" notion with sockets . It's an HTTP artifact.

[2016-10-13 10:27] Gillardo commented on #239
@PinpointTownes  thanks for that...I did wonder if it was a firewall issue.  I have just setup the whole server using a root URL (no folders) and i am getting the same issue.  I will keep you posted

[2016-10-13 10:48] Gillardo commented on #239
@PinpointTownes seemed to fix the firewall issue, now just getting this exception?

An unhandled exception occurred while processing the request.

[2016-10-13 10:49] kevinchalet commented on #239
I doubt your issue is fixed if you're getting the same error :trollface:

[2016-10-13 10:49] Gillardo commented on #239
Not getting the same error, i dont think, as now it doesnt say that the server isnt responding....

[2016-10-13 10:56] kevinchalet commented on #239
It's easy to confirm: navigate to `http://www.my-url.co.uk/.well-known/openid-configuration` with your browser. If you get the discovery document, then it's another routing/firewall issue.

[2016-10-13 11:00] Gillardo commented on #239
Where is this file actually created? Or what method is called on a controller to get this file?

[2016-10-13 11:00] kevinchalet commented on #239
It's dynamically generated by OpenIddict.

[2016-10-13 11:02] Gillardo commented on #239
so is there a controller method that is called with the route of ".well-known/openid-configuration", and from there it generates the output?

[2016-10-13 11:03] kevinchalet commented on #239
It's not a controller (it operates at the middleware level), but that's the idea, yep.

[2016-10-13 11:07] Gillardo commented on #239
@PinpointTownes sorry for all the questions, just not sure how this would be a "firewall" issue now.  Could it be a permission issue, as in needing "write" capability or something?  Or does the "middleware" not actually create a file, just generates the output directly?

[2016-10-13 11:08] kevinchalet commented on #239
That's how it works, yup.

[2016-10-13 11:11] Gillardo commented on #239
Does it do this via a particular port other then 80?

[2016-10-13 11:11] Gillardo commented on #239
I am guessing i cant see this code via github to see myself?

[2016-10-13 11:13] kevinchalet commented on #239
No.

The code is there: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/blob/dev/src/AspNet.Security.OpenIdConnect.Server/OpenIdConnectServerHandler.Discovery.cs

... and the unit tests there: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/blob/dev/test/AspNet.Security.OpenIdConnect.Server.Tests/OpenIdConnectServerHandlerTests.Discovery.cs

[2016-10-13 16:20] DCTruong commented on #236
Yes, It is. Thanks a lot.
And if You you do not mind me asking another question related to ADFS Server?

I have the ADFS Server that is used to authenticate AD Users(on-premise) and issue token(SAML) to Replying Parties along with "Registered User". Could please you give me advice or show me how to use both kind of Users to provide authentication/Authorization to my WebAPI? Can we integrate ADFS a

[2016-10-13 20:19] Gillardo commented on #239
@PinpointTownes  thanks for all you help, this is now working

[2016-10-13 20:19] #239 closed, assigned to nobody

[2016-10-13 20:49] Gillardo commented on #239
@PinpointTownes  this issue is not fixed.  It seems that when i am looking at a website that is specific to a sub folder (www.my-url.co.uk/folder1), the call is still to www.my-url.co.uk/.well-known/openid-configuration

Surely this should be to the www.my-url.co.uk/folder1/.well-known/openid-configuration ??

[2016-10-13 22:56] kevinchalet commented on #239
Note: the JWT middleware is not something I maintain. If you believe there's a bug with its discovery feature, maybe it would be better to open a ticket here: https://github.com/aspnet/Security.

[2016-10-14 17:54] shaunluttin commented on #232
Let me see if I am understanding correctly.

You discourage this:

[code]

You encourage this:

[code]

Is that right?

[2016-10-18 05:44] ksmuthuus opened #240 "Sample code to generate access token for Client Credentials flow"
I am developing an end point for Client Credential flow (to enable resource server to get access token from the auth server).  Can you help me with sample code to generate the access token?

if (request.IsClientCredentialsGrantType())
            {
                //Code
            }

The request to contain the grant_type=client_credentials, client_id="" & client_secret="".  Is this suffice?

[2016-10-18 10:35] mkontula commented on #215
When I initially ask token with scope: offline_access profile email roles, I get the role claims with the initial access_token. However, when doing a refresh_token request, it succeeds but the role claims are gone. **Are role claims considered custom claims?** Also tried adding scope to refresh_token request, but Openiddict was very angry if I specified roles to scope.

[2016-10-18 10:42] kevinchalet commented on #215
Fixed as part of https://github.com/openiddict/openiddict-core/pull/237 (the claims are now reused and flowed as-is).

[2016-10-18 10:42] #215 closed, assigned to kevinchalet

[2016-10-18 10:43] #233 closed, assigned to nobody

[2016-10-18 10:44] kevinchalet commented on #158
Closing as obsolete.

Note: with https://github.com/openiddict/openiddict-core/pull/237 being now merged, you're entirely responsible of choosing the claims you want to include in the tokens.

[2016-10-18 10:44] #158 closed, assigned to nobody

[2016-10-18 10:47] kevinchalet commented on #236
@DCTruong you can find more information about this scenario here: http://stackoverflow.com/questions/38470683/is-it-possible-to-use-openiddict-and-ldap-together.

Hope it'll help.

[2016-10-18 10:47] #236 closed, assigned to nobody

[2016-10-18 10:48] #192 closed, assigned to nobody

[2016-10-18 10:51] kevinchalet commented on #165
@jasdefer oops, looks like I missed your question. `OpenIddictUserManager` was removed in beta1.

The recommended approach is now to directly use Identity's `CreateUserPrincipalAsync` method to generate a principal that includes everything for you and to mark the claims you need with the right destination. See https://github.com/openiddict/openiddict-core/blob/dev/samples/Mvc.Server/Controllers/Au

[2016-10-18 10:51] #165 closed, assigned to nobody

[2016-10-18 10:55] kevinchalet commented on #98
`OpenIddictUserManager` is no longer a thing in beta1 and since you're now responsible of generating claims identities in your own controller, it's something you can easily do there.

[2016-10-18 10:55] #98 closed, assigned to kevinchalet

[2016-10-18 10:56] kevinchalet commented on #119
Generating an `AuthenticationTicket` is something the dev' must do in his own controller, as of beta1 so it's now possible to use a per-user/per-application token lifetime by implementing your own logic.

[2016-10-18 10:56] #119 closed, assigned to kevinchalet

[2016-10-18 10:57] kevinchalet commented on #155
Closing, as `OpenIddictUserManager.CreateIdentityAsync` is no longer a thing.

[2016-10-18 10:57] #155 closed, assigned to kevinchalet

[2016-10-18 10:58] kevinchalet commented on #125
Let's implement that in beta1.

[2016-10-18 10:58] #206 closed, assigned to nobody

[2016-10-18 10:58] #214 closed, assigned to nobody

[2016-10-18 10:59] kevinchalet commented on #138
Closing, as the userinfo endpoint is no longer provided by OpenIddict itself.

[2016-10-18 10:59] #138 closed, assigned to kevinchalet

[2016-10-18 16:17] mkontula commented on #215
Thanks for the quick reply!

[2016-10-18 18:07] mkontula commented on #215
Just run the tests with 0455. Following the Mvc.Server sample, the results are not quite.
![capture](https://cloud.githubusercontent.com/assets/1148526/19489980/f3e3123c-9575-11e6-9f12-45c706df868f.png)
Postman request. After decoding the first part of token, I had this out of access_token:
`{ "jti": "318fb6eb-89f3-446c-93bf-f74c08dc394b", "usage": "access_token", "scope": [ "openid", "email", "pr

[2016-10-18 18:21] kevinchalet commented on #215
Any chance you could share your token endpoint action?

[2016-10-18 18:35] mkontula commented on #215
Sure, no prob. It's supposed to be 1:1 copy-paste from sampel. What am I missing?
`[HttpPost("~/connect/token")]
        [Produces("application/json")]
        public async Task<IActionResult> Exchange(OpenIdConnectRequest request)
        {
            if (request.IsPasswordGrantType())
            {
                var user = await _userManager.FindByNameAsync(request.Username);

[2016-10-18 18:36] mkontula commented on #215
Note that Union with scopes was intentional - without it the if-clause catching the possible Roles-scope never hit the target.

[2016-10-18 18:48] kevinchalet commented on #215
Ah yeah, nice catch: that's because I forgot to add `OpenIddictConstants.Scopes.Roles` to the "trusted" scopes. Using `Intersect` should work just fine.

I'll update the samples, thanks for the tip :smile:

[2016-10-18 18:50] bumblebee333 commented on #192
Thank you for the timely help. Sorry for my delayed response. I used your suggestion to implement it. I did however wrote an intermediate controller to POST the token instead of using it via GET as querystring.

`public override Task MessageReceived(MessageReceivedContext context)
        {
            //check if the headers doesnt have an authorization  token
            var headers = context.Req

[2016-10-18 19:00] kevinchalet commented on #240
Something like that should work:

[code]

[2016-10-18 19:01] mkontula commented on #215
Happy to help. Keep up the good work!

[2016-10-18 19:03] kevinchalet commented on #215
For reasons I can't explain, the CodeFlow sample in the openiddict-samples repo already has the right scopes list, but not the sandbox sample used in this repo... most likely a brain bug :trollface:

[2016-10-18 19:13] jayrulez opened #241 "UserId no longer saved when refresh token is serialized."
I see some major changes were done recently that broke a few things.

I managed to update my code base to accommodate the update by now but there is one thing missing.

Previously, the user id was associated with the refresh token stored in the database.

This is no longer the case.

Do you have any plans to restore this behaviour @PinpointTownes ?

I was using the refresh tokens as a list of sess

[2016-10-18 19:20] kevinchalet commented on #241
Yep, this is a direct (and expected) consequence of removing the Identity dependency from `OpenIddict.Core`.

This is something I'd like to reintroduce in beta1/beta2 and I'm currently trying to determine what would be the best option for that.

[2016-10-18 19:26] jayrulez commented on #241
Do you have an ETA(ball park) for beta1/beta2?

[2016-10-18 19:32] kevinchalet commented on #241
Nope, but I'll keep you informed of the progress :smile:

In the meantime, keep using the alpha2 bits.

[2016-10-19 10:05] Gillardo opened #242 "Possible to not use ASP.NET Core Identity and use custom table objects"
I have 2 problems really, 1 is that i do not want to use efcore, as i am currently using ef6.1, so at the moment i have 2 databases, which isnt great.
Second problem is that i dont want to use EF Identity, as i want to create my own Account table and store what i want.

Is it possible for me to do this with openIddict?  In a previous question, i believe you said you were thinking of dropping the n

[2016-10-19 12:06] kevinchalet commented on #242
That's right. As of beta1, `OpenIddict.Core` no longer depends on ASP.NET Core Identity. To use OI without Identity or EF Core, you'll have to implement the `IOpenIddictApplicationStore` and `IOpenIddictTokenStore` stores.

[2016-10-19 15:02] jayrulez commented on #241
Thank you. I'm looking forward to the update.

[2016-10-20 05:10] ksmuthuus commented on #240
Thanks a lot!  I just added the below mentioned code to validate the client_id and client_secret.  This comes above your code.  Please correct me if I am wrong here...

[code]

[2016-10-20 07:21] Gillardo commented on #242
@PinpointTownes when will beta1 be available?  I think this is a great direction to go down!

[2016-10-20 07:23] Gillardo opened #244 "Example of how to use refresh_token on web app"
As the title states.  I have seen a few questions on here asking how to do this, but still not exactly sure of what is needed.  It would be great if someone could upload some sample code to we all understand how to do it....

[2016-10-20 09:47] ogix commented on #242
Beta1 is already available

[2016-10-20 13:42] xperiandri commented on #212
This [Dapper](https://github.com/StackExchange/dapper-dot-net)?

[2016-10-20 13:55] ksmuthuus opened #245 "Authorization server for multiple resource servers / clients"
@PinpointTownes  I am building an Auth server leveraging OpenIdDict via ASP.NET Identity CORE.  This Auth server should be leveraged by other clients applications (with its own Resource servers) coming up in future.  Just need some thoughts on how to segregate users (with corresponding roles) of multiple applications.  One thought is getting client_id from client app and save username in ASPNetUse

[2016-10-20 13:56] Gillardo commented on #242
And is there any documentation stating exactly how to implement this yet? As far as implementing the interfaces, DI etc

[2016-10-20 17:00] kevinchalet commented on #240
@ksmuthuus note: validating the client credentials in your own code is not necessary as it's always done by OpenIddict as part of the token request validation process.

[2016-10-20 19:21] kevinchalet commented on #242
@Gillardo @ogix is right, the first beta1 package was pushed to MyGet yesterday.

Concerning the documentation, no such thing yet. That said, it should be really trivial. You can take a look at the existing EF Core stores to see how they are registered.

[2016-10-20 19:34] kevinchalet commented on #244
This thread should help: http://stackoverflow.com/questions/40032851/how-to-handle-expired-access-token-in-asp-net-core-using-refresh-token-with-open.

[2016-10-21 08:01] Gillardo commented on #242
@PinpointTownes am i right in thinking that you have to create my own Authorization and Scope objects as well, as well as implement Stores for them?  I have done Application and Token, but when i come to calling the AddOpenIddict extension, it is expecting values for Authorization and Scope.  There is no overload to just pass in Application and Token...?

[2016-10-21 08:21] Gillardo commented on #242
@PinpointTownes also in the samples folder, you are still tied to using Identity, as you can see in the startup.cs file

[code]

and here

[code]

[2016-10-21 10:57] kevinchalet commented on #242
These models/stores correspond to WIP things. They are mainly here as a placeholder (i.e they are not used yet). You could probably use `object` for the generic parameters.

[2016-10-21 10:58] kevinchalet commented on #242
Of course. ASP.NET Core Identity is still the most popular membership stack so it doesn't seem unreasonable to use it in the samples :trollface:

[2016-10-21 11:08] Gillardo commented on #242
@PinpointTownes dont worry about all this, i have managed to not use EFCore and also use my own custom identity objects in EF6.1, by implementing the `IOpenIddictApplicationStore` and `IOpenIddictTokenStore`.

Then on the startup.cs file i had to change AddIdentity to this

[code]

After this you need to create your own stores implementing the interfaces `IUserStore`, `IUserPasswordStore` and `IRo

[2016-10-21 11:12] Gillardo commented on #242
So you can see what i mean...

![image](https://cloud.githubusercontent.com/assets/7406381/19596682/a7321c44-9787-11e6-9f96-458d3f3edeb8.png)

[2016-10-21 11:13] kevinchalet commented on #242
That's because the `CreateTicketAsync` sample doesn't attach the "access_token" destination to the `ClaimTypes.Name` claim.

[2016-10-21 11:14] kevinchalet commented on #242
I'll probably simplify `CreateTicketAsync` so it includes all the claims in both the access and identity tokens and add a big warning comment on top of that :smile:

[2016-10-21 11:17] Gillardo commented on #242
@PinpointTownes your a god!!  I copied the code from the sample, so wonder if it should be updated as well, so it works as it did before??

I changed the code to this in the CreateTicketAsync method.  Seems to work perfectly now.

[code]

[2016-10-21 11:17] Gillardo commented on #242
Btw, this was an excellent move removing the need for efcore and allowing your own custom objects!!  thank you again

[2016-10-21 11:25] kevinchalet commented on #242
Note that it was already possible to create your own non-EF Core stores with the alpha2 bits. The recent changes consisted in removing the direct dependency on ASP.NET Core Identity.

But glad you like the changes :smile:

[2016-10-21 15:24] #212 closed, assigned to nobody

[2016-10-21 16:10] geocine commented on #242
@Gillardo  do you have a repository of what you have done there?

[2016-10-21 20:11] geocine commented on #242
If I want to use my already existing `User: Entity` model, I cannot do a `User: IdentityUser<int>` . This throws a runtime error

[code]

Do you know the solution?

[2016-10-21 20:18] Gillardo commented on #242
@geocine I haven't...but I can upload it somewhere if people want. Mine works beautifully!!

[2016-10-21 20:19] geocine commented on #242
@Gillardo I want it 👍

[2016-10-21 20:24] Gillardo commented on #242
OK...I will download the sample server application from openiddict and change it to use my code...Probably won't be tonight though...but will do it as soon as I can

[2016-10-21 20:24] kevinchalet commented on #242
It would probably help if you shared your Startup config :smile:

[2016-10-21 20:26] Gillardo commented on #242
Yeah that's fine...will all be included in sample from openiddict

[2016-10-22 07:08] geocine opened #246 "Refresh Token when using UseJsonWebTokens"
I don't get the `refresh_token` using the `grant_type: password` . I am using `UseJsonWebTokens`. Is refresh tokens supported when using JWT? If not, where could I plug my custom implementation?

If have `scope: offline_access` set. I get this error:

[code]

[2016-10-22 07:33] geocine commented on #242
@Gillardo @PinpointTownes   no worries. I was able to figure it out using your examples :)

[2016-10-22 07:50] kevinchalet commented on #246
The questions seems clear enough to me: your DbContext doesn't have the `DbSet<OpenIddictToken>` set required by OpenIddict to store the authorization codes/refresh tokens.

Make sure your `DbContext` inherits from `OpenIddictDbContext`.

[2016-10-22 08:08] geocine commented on #246
Is there a way I could use my own entity like `DbSet<MyOwnToken>` I don't want to use the OpenIddictToken ?

[2016-10-22 08:10] kevinchalet commented on #246
Sure. In this case, you'll have to create your own `IOpenIddictTokenStore` implementation.

[2016-10-22 08:13] geocine commented on #246
Thanks. Then how would I tell OpenIddict to use it? I know how to do it for `IUserStore` and `IRoleStore` like so

[code]

Where my `IUserStore` is using `User` and `IRoleStore` is using `Role`

[2016-10-22 08:15] kevinchalet commented on #246
It works exactly the same way: `services.AddOpenIddict<...>()` has overloads that allow you to specify custom entity types. The object it returns (`OpenIddictBuilder`) has methods you can use to register your custom stores.

[2016-10-22 08:24] geocine commented on #246
@PinpointTownes  I don't know what is wrong so I have added it this way:

[code]

Then my `TokenStore` looks like this

[code]

Yet I get this error:

[code]

[2016-10-22 08:24] kevinchalet commented on #246
Wrong `AddOpenIddict` overload.

[2016-10-22 08:26] geocine commented on #246
@PinpointTownes . You mean this overload right?

[code]

I don't have implementations for TApplication , TAuthorization , I want to use the existing one

[2016-10-22 08:27] kevinchalet commented on #246
I do.

Then use `OpenIddictApplication` and `OpenIddictAuthorization` as the generic arguments?

[2016-10-22 08:34] kevinchalet commented on #245
I'm not sure to understand why would you do that, TBH.

[2016-10-22 08:50] geocine commented on #246
@PinpointTownes . Thank you so much for your help . I was able to do it

[code]

Thank you for making this library flexible enough to make these customization 👍

[2016-10-22 08:50] #246 closed, assigned to nobody

[2016-10-22 08:55] kevinchalet commented on #246
@geocine glad you like it :tada:

[2016-10-22 12:49] geocine commented on #245
@ksmuthuus  you can make use of the JWT claims to add details like roles or tenant ids if you will. I am not talking about ASP.NET Identity CORE though but that is usually how you do it.

[2016-10-22 13:31] geocine opened #249 "JWT Access and Refresh Token Expiration"
I currently have the following expiration life times set.

[code]
#### Access Token Not Expiring

The `access_token` returned is ok which is a JWT. The decoded JWT has a valid exp claim. It should expire in a minute. I also get `expires_in: 60` from my token endpoint. However after a minute it just **doesn't** expire. I have even checked the timestamp on the exp claim and the current UTC timestamp

[2016-10-22 15:53] kevinchalet commented on #249
http://stackoverflow.com/questions/40142548/why-is-my-jwt-bearer-authentication-recognizing-tokens-as-expired-5-minutes-afte

The current approach is based on a white list: refresh tokens that can't be found in the database are considered as invalid.

[2016-10-22 16:32] geocine commented on #249
Thanks the `Clock Skew` concept is interesting.

I hope you don't mind me asking about the implementation of refresh token expiration checking.  So I have a configuration to set the lifetime of the refresh token:

[code]

How does it check if the refresh token is already expired? I am just curious how it does it. For the access token I know that it uses the exp claim because it is a JWT. But for t

[2016-10-22 16:38] kevinchalet commented on #249
The expiration date is stored as an authentication property inside the refresh token (which is encrypted using an authenticated encryption algorithm).

You can find the corresponding code in the aspnet/Security repo, which owns the ticket serializer used by OpenIddict for access tokens (when using the default format), authorization codes and refresh tokens: https://github.com/aspnet/Security/tree/

[2016-10-22 16:47] geocine commented on #249
@PinpointTownes  as always thank you for the very valuable information. I hope this is not too much this will be my last question.

How do you determine which refresh token is which when storing the `OpenIddictToken` only has the `id` and the `type`. Do you include that id inside that `refresh_token` using the encryption algorithm you mentioned above?

[2016-10-22 16:53] kevinchalet commented on #249
Yep: https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.Core/Infrastructure/OpenIddictProvider.Serialization.cs#L34-L42

[2016-10-22 16:54] ksmuthuus commented on #245
Thanks to @PinpointTownes  and @geocine  for your response.  The situation where I am more confused to arrive at solution goes like this:
1) Application A => User name(abc@domain.com) => Roles(Admin, Guest)
2) Application B => User name(abc@domain.com) => Roles(Admin).

M questions are:
1) If the same unique user name record be shared across both applications or should the user name be marked with

[2016-10-22 17:06] #249 closed, assigned to nobody

[2016-10-23 02:10] geocine commented on #245
@ksmuthuus
1. I agree with your illustration above can be done by using the same unique name record on both applications. No need for a prefix/suffix
2. You could pass the application id along with the stuff on the password flow during token request. But this is not a built in functionality so what you could do is re-purpose the `client_id` parameter which is used on the authorization code flow to

[2016-10-24 02:51] joel00 opened #250 "cors works for access token but not for refresh token"
I can get valid access tokens and refresh tokens using CORS but when i try to refresh the access token (using angular2) i get a "XMLHttpRequest cannot load http://localhost:5000/connect/token. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:4200' is therefore not allowed access."

I can refresh the tokens using postman.

What I'm doing wrong?

[2016-10-24 19:19] kevinchalet commented on #250
@joel00 CORS is not added for you (at least, not in the current bits) so it's something you must configure yourself. I suppose there's something wrong with your CORS policy.

[2016-10-25 13:18] #242 closed, assigned to nobody

[2016-10-25 13:18] #238 closed, assigned to nobody

[2016-10-25 14:56] Gillardo opened #252 "How do you use an external provider with tokens?"
In the samples, this works because it uses tokens.  In my application, i am using JWT tokens.

I have tried to change the code to work but when i try and call `/connect/authorize` from another method, i get an exception thrown saying

If a user logs in to my application using an external provider, how can i create a local access_token for the user to use on my site?  I nearly have all the blocks t

[2016-10-25 15:33] Gillardo commented on #252
So far, i have this on my `AuthorizationController`. I just want to return something similar to when we call `/connect/token`

[code]

[2016-10-25 16:26] kevinchalet commented on #252
You can't return an OIDC response from an arbitrary action, that is not identified as an authorization or token endpoint: this is exactly what this check and the `InvalidOperationException` it throws try to prevent.

Give @shaunluttin's sample a try to see how you're supposed to implement external authentication support: https://github.com/openiddict/openiddict-samples/tree/master/samples/Implicit

[2016-10-25 21:56] joel00 commented on #250
after several hours... I did not respect the order of cors...

https://docs.asp.net/en/latest/security/cors.html
"... CORS middleware must precede any defined endpoints in your app that you want to support cross-origin requests..."

 public void Configure(IApplicationBuilder app, IHostingEnvironment env, ILoggerFactory loggerFactory)
        {
           ........
           app.UseCors(builder =>

[2016-10-25 21:58] #250 closed, assigned to nobody

[2016-10-25 21:59] kevinchalet commented on #250
Glad you found the root cause of your issue :clap:

[2016-10-26 08:25] Gillardo commented on #252
@PinpointTownes I am not sure i understand, there is no difference between the normal samples of using an external identity provider and the example link you have sent.  There is no way to return an OIDC response from logging with an external identity provider in that sample that i can see?

Ideally, i would like to login with the external identity provider on the client, which can be done, pass u

[2016-10-26 11:23] kevinchalet commented on #252
@Gillardo I posted my answer there: http://stackoverflow.com/questions/40257981/exchanging-a-google-idtoken-for-local-openid-token-c-sharp/40260960#40260960

[2016-10-26 14:24] felipesantanadev opened #253 "Do you have used OpenIddict with the new Core 1.1?"
After I have installed the Core 1.1, I'm having problems with OpenIddict.

First of all, the project is throwing the message "OpenIddictUser<> could not be found".

I have already imported the OpenIddict.

That's my project.json:

[code]

[2016-10-26 14:37] kevinchalet commented on #253
`OpenIddictUser` was removed a week ago (https://github.com/openiddict/openiddict-core/commit/bc5f21ad26714fc486de73c9df6634aaff0a038d). It has nothing to do with .NET Core 1.1.0

Use `IdentityUser` instead and it should work (you might have to migrate or recreate your database).

[2016-10-27 01:50] bumblebee333 opened #254 "question for you."
Hi there,
          I am trying to access a resource on the authorization server very similar to what is described in your samples under OpenIddict-core. I get authenticated via cookieauthentication and try to pass the access_token via request headers while doing a get or post via the httpClient. I keep getting the error  -

info: Microsoft.AspNetCore.Hosting.Internal.WebHost[1]
      Request star

[2016-10-27 11:26] kevinchalet commented on #254
Hey.

It would help if you shared your `ConfigureServices` method, to make sure your OpenIddict configuration is valid.

[2016-10-27 11:51] kevinchalet opened #255 "Update the samples to use SignInManager.CheckPasswordSignInAsync() when migrating to ASP.NET Core Identity 1.1.0"
https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity/SignInManager.cs#L291

[2016-10-27 11:57] kevinchalet commented on #253
Looks like your issue is now solved: https://github.com/aspnet/EntityFramework/issues/6868.

[2016-10-27 11:57] #253 closed, assigned to nobody

[2016-10-27 11:59] kevinchalet commented on #200
This is now something you can easily do, since you're responsible of creating the `AuthenticationTicket` and populating it with the claims you need.

[2016-10-27 11:59] #200 closed, assigned to nobody

[2016-10-27 11:59] kevinchalet commented on #23
Closing, as this is not a good fit for the core repo.

[2016-10-27 11:59] #23 closed, assigned to nobody

[2016-10-27 12:00] #230 closed, assigned to nobody

[2016-10-27 12:13] kevinchalet commented on #129
Done: https://github.com/openiddict/openiddict-core/commit/5511349c1f9dccfa7bfa37d9d917305d0b45dfc9.

[2016-10-27 12:13] #129 closed, assigned to nobody

[2016-10-27 12:13] kevinchalet commented on #232
@shaunluttin for the record: yep :smile:

[2016-10-27 12:13] #232 closed, assigned to nobody

[2016-10-27 12:14] #244 closed, assigned to nobody

[2016-10-27 12:14] #50 closed, assigned to nobody

[2016-10-27 12:14] #240 closed, assigned to nobody

[2016-10-27 12:17] kevinchalet commented on #143
@xperiandri you can tweak your `Authorize` action to call `Challenge("the name of the external provider")` to trigger a challenge pointing to the external provider you want.

E.g:

[code]

Note that you won't be able to use `[Authorize]` in this case, as it would prevent your `Challenge` call to be invoked before redirecting the user to the login endpoint.

[2016-10-27 12:17] #143 closed, assigned to nobody

[2016-10-27 12:45] xperiandri commented on #143
So I just add a URL parameter to my request and look for it at `authorize` endpoint, right?
Could you explain where I can't use `[Authorize]` attribute?
Do you mean that I need to use `[HttpGet, Route("~/connect/authorize")]` instead of `[Authorize, HttpGet, Route("~/connect/authorize")]`
Or do something like `[HttpGet, Route("~/connect/authorize/{provider}")]` ?

[2016-10-27 12:46] felipesantanadev commented on #253
Yes, thank you @PinpointTownes !

[2016-10-27 13:20] kevinchalet commented on #143
Right.

Before your action wouldn't be executed, so `Challenge` would never be invoked.

Yes. And make the `IsAuthenticated` check inside the action:

[code]

[2016-10-27 13:45] bumblebee333 commented on #254
Absolutely. Here is configure services for the Authentication Server

`  public IServiceProvider ConfigureServices(IServiceCollection services)
        {
            services.Configure<AppSettings>(Configuration.GetSection("AppSettings"));
            services.Configure<SendGridSecrets>(Configuration.GetSection("SendGridSecrets"));

[code]

`
Configure  for the mvc client

`        public void Con

[2016-10-27 13:48] kevinchalet commented on #254
[code]

The validation middleware only works with the default token format, so this line must be removed. If you want to use JWT tokens, use the JWT bearer middleware.

[2016-10-27 14:11] bumblebee333 commented on #254
Thanks for the quick feedback. We have two apps using this Auth server. One is an angular spa app using JWT and the other one is mvc client app using the authorization code flow. If I remove the UseJsonWebTokens I am guessing we won't be able to authenticate/authorize the SPA app. Any ideas there? We are trying to share the auth db with both apps.

[2016-10-27 14:21] kevinchalet commented on #254
https://github.com/capesean/openiddict-test/issues/25#issuecomment-256617420

[2016-10-27 16:25] bumblebee333 commented on #254
Thanks for pointing to that. Instead of JWT will we need to use app.UseOAuthIntrospection to handle the password flow?

[2016-10-27 16:28] kevinchalet commented on #254
If your API and your authorization server are in the same app, consider using the validation middleware, like in the samples.

[2016-10-27 16:52] bumblebee333 commented on #254
They are not. Angular spa App is calling the Authorization server and so is the mvc client app.

[2016-10-31 18:25] joel00 commented on #106
I'm trying to use the suggested configuration for AddSigningCertificate():

`app.UseOpenIddict(builder => {
    builder.UseCertificate(
        assembly: typeof(Startup).GetTypeInfo().Assembly,
        resource: "Mvc.Server.Certificate.pfx",
        password: "OpenIddict");

[code]

});`

as follows:

`services.AddOpenIddict<ApplicationDbContext>()
                .AddMvcBinders()

[2016-10-31 18:36] kevinchalet commented on #106
Make sure your `project.json` has an `embed` section: https://github.com/openiddict/openiddict-core/blob/dev/samples/Mvc.Server/project.json#L8

Your resource name must also be prefixed by the project name. E.g `[name].tokenCert.pfx`

[2016-10-31 23:34] joel00 commented on #106
Thanks for answering so fast....

I added the "embed" section in my project.json; double check my assembly name and prefixed MyProject.tokenCert.pfx and I'm getting the same error.

I've also downloaded your Certificate.pfx but nothing.

Anything else that I'm missing?

[2016-11-01 13:13] joel00 commented on #106
Sorry, I misplaced the embed section x( now i't working  :)

[2016-11-03 12:11] #252 closed, assigned to nobody

[2016-11-07 03:25] Maarten88 opened #259 "Error "client_id was missing" after upgrade 0473 -> 0478"
Thanks for this great project, I am trying to use it for a separate openid connect server that is part of a larger application, using the out-of-the-box features, but replacing all identity stores. (I don't like EF :-)

My project.json had "OpenIddict.Core": "1.0.0-*" in it, and it just got upgraded to 1.0.0-beta1-0478.

Now I get an error on post of /connect/authorize/accept:
error:invalid_reques

[2016-11-07 11:55] kevinchalet commented on #259
Starting with https://github.com/openiddict/openiddict-core/commit/135da2f6114ceb1d3d596190dccc3ef403b74cca, request caching is no longer enabled by default (you must call `EnableRequestCaching()` to enable it).

I suspect your application depends on the request_id dance to work correctly. Can you try enabling request caching to see if it works?

[2016-11-07 13:16] Maarten88 commented on #259
That was it, thanks. Everything works again after this single line fix. Do I also need to implement/configure a requestcache for scale-out?

[2016-11-07 13:20] kevinchalet commented on #259
Glad it works 😄

Yes, using a "real" distributed cache like Redis or SQL Server is recommended. By default, OpenIddict uses the distributed cache retrieved from the DI container, so it's as easy as calling `services.AddRedis()`.

[2016-11-07 13:23] kevinchalet commented on #259
You can read https://docs.asp.net/en/latest/performance/caching/distributed.html for more information.

[2016-11-07 16:54] dazinator opened #260 "Where is the IOpenIddictUserStore class?"
I was just searching this repo for `IOpenIddictUserStore` - as I am trying to implement my own one, but I can't seem to spot it anywhere.. Has it been removed recently? Or am I going mental..

[2016-11-07 17:30] kevinchalet commented on #260
It was removed as part of the PR decoupling `OpenIddict.Core` from ASP.NET Core Identity.

If you need to provide your own user store, consider inheriting directly from `IUserStore`.

[2016-11-07 18:03] dazinator commented on #260
Ok thats really cool, so does that mean that OpenIdDict Core doesn't need me to implement a user store any more in order to function? I have implemented the other custom stores.

[2016-11-07 18:05] kevinchalet commented on #260
That's right.

That said, if you use ASP.NET Core Identity to authenticate your users, you'll need it or you won't be able to use Identity's UserManager/SignInManager.

[2016-11-07 18:08] dazinator commented on #260
Yep that's cool, cheers.

[2016-11-07 18:08] #260 closed, assigned to nobody

[2016-11-08 09:46] jooooel opened #262 "Microsoft.EntityFrameworkCore.DbUpdateConcurrencyException if refreshing same token twice"
In my application I use OpenIddict with refresh tokens. When the client makes a request to the API, it will first check if the token has expired and will request a refreshed token if so. This works fine.

But, if my client makes two requests at the same time, both of them will try to refresh the token at the same time. This causes a concurrency error when saving the new token in the `OpenIddictTok

[2016-11-08 10:57] kevinchalet commented on #262
One way to "fix" (or hem... hide) this issue would be to catch the `DbUpdateConcurrencyException` thrown in this case, similarly to what Identity does: https://github.com/aspnet/Identity/blob/dev/src/Microsoft.AspNetCore.Identity.EntityFrameworkCore/UserStore.cs#L429

We could also use a stricter isolation level than the default one by using DB transactions manually (TransactionScope doesn't work

[2016-11-08 12:36] xperiandri opened #263 "What is the right way to attach custom claims to identity and access tokens?"
I can either add them in `AuthorizeController.CreateTicketAsync` method or in an override of `SignInManager.CreateUserPrincipalAsync`

@PinpointTownes, which way is better?

[2016-11-08 12:43] kevinchalet commented on #263
There's even a third option: creating your own `IUserClaimsPrincipalFactory`.

Simply choose the option you prefer.

[2016-11-08 12:50] xperiandri commented on #263
Is there a sample with `IUserClaimsPrincipalFactory`?

[2016-11-08 12:51] kevinchalet commented on #263
Ask the ASP.NET Identity folks :smile:

[2016-11-08 15:42] dazinator opened #264 "Management UI / Dashboard"
Just wondering if there was any kind of UI for managing / administering clients etc?

[2016-11-08 16:09] kevinchalet commented on #264
Nope. That said, it would make a nice contrib project :smile:

(BTW, it's a duplicate of https://github.com/openiddict/openiddict-core/issues/23)

[2016-11-08 16:24] dazinator commented on #264
Got ya! I wouldn't expect any contrib from me on this in the near term, i'm absolutely choca at the moment 😄Maybe one day though.. One sunny afternoon perhaps!

[2016-11-08 16:24] #264 closed, assigned to nobody

[2016-11-08 16:26] kevinchalet commented on #264
So no management UI/dashboard 😄

[2016-11-11 00:05] jayrulez opened #265 "Authentication TicketId is not the same as the ticet id saved on the refresh token."
I overrode the method Task SerializeRefreshToken(SerializeRefreshTokenContext context) to save a session entity in the database identified by the authentication ticket id:

``
        public override async Task SerializeRefreshToken(SerializeRefreshTokenContext context)
        {
            if (context == null)
            {
                throw new ArgumentNullException(nameof(context));

[2016-11-11 00:16] kevinchalet commented on #265
Ticket identifiers are unique and are bound to a specific token, not to the entire chain of tokens that are derived from a refresh tokens.

So when you use `var authInfo = await Request.HttpContext.Authentication.GetAuthenticateInfoAsync(OAuthValidationDefaults.AuthenticationScheme);`, you actually retrieve the token identifier associated with the access token, not with the refresh token.

[2016-11-11 12:58] AbdoDabbas opened #266 "How to use my own user and roles store ?"
Is there a way instead of depending on EntityFramework store to build my own ? I may use DB system which is not supported with EF ?
Is this something to do with `openiddict` library or `asp.net core identity` ?

[2016-11-11 14:31] kevinchalet commented on #266
You can definitely create your own OpenIddict stores (you'll need to implement `IOpenIddictApplicationStore` and `IOpenIddictTokenStore`).

If you decide to use ASP.NET Core Identity for the authentication part, you'll also have to implement the `IUser*Store` interfaces.

[2016-11-11 16:35] AbdoDabbas commented on #266
@PinpointTownes any samples or articles to read about it in details ?

[2016-11-11 16:46] kevinchalet commented on #266
http://lmgtfy.com/?q=ASP.NET+Core+Identity+custom+store

[2016-11-12 19:58] jayrulez commented on #265
Ok, thanks for pointing that out.

That gives me another idea, I can bind my session to the chain of tokens from the refresh token by setting a property which stores the session id on the ticket... given the session is already bound to the refresh token.

Do you see any problems with this?

Also, the final step here to achieve what I want is a way to treat the access token is invalid if there is n

[2016-11-13 23:17] levitatejay opened #268 "Identity Lockout Not Working"
We're running OpenIddict version 1.0.0-alpha2-0448

If we login the traditional way using an AccountController with the Identity SignInManager the locked users are blocked from generating a cookie.
It seems that users are still able to get a token from the "connect/token" endpoint even if their account has been locked by the AspNetCore.Identity

[2016-11-13 23:24] #268 closed, assigned to nobody

[2016-11-14 00:18] kevinchalet commented on #268
Note: it's always better to post a tiny comment indicating how you solved your issue, as it might interest other people.

[2016-11-14 08:15] artem-leonov opened #269 "Implement Custom UserRole Support"
OpenIddictDbContext not support using User  inherited from IdentityUser<TKey, TUserClaim, TUserRole, TUserLogin>. Error is "The type 'User' cannot be used as type parameter 'TUser' in the generic type or method 'OpenIddictDbContext<TUser, TRole, TKey>'. There is no implicit reference conversion from 'User' to 'Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityUser<int>'"

[2016-11-14 12:28] jasdefer opened #270 "Cookies Problem"
I am using the Authorization Code Grant for my web app and web api. Sometimes I catch some errors for a few users on the web app, thrown by Microsoft.AspNetCore.Authentication.Cookies:

The cookies seems to be too large for some clients. I use cookie authentication on the client side:

[code]

with the following scope on the `OpenIdConnectOptions`: `{ "email", "roles", "offline_access" }`

I am st

[2016-11-14 12:52] kevinchalet commented on #269
`OpenIddictDbContext` doesn't support the longest generic `IdentityDbContext` signature, because it's frankly a mess. Consider inheriting directly from `IdentityDbContext` and configuring the entity sets manually if you need to support this scenario.

[2016-11-14 12:55] kevinchalet commented on #270
This is not an OpenIddict-specific issue, as it impacts everyone using the cookies middleware.

Consider reducing the number of claims you're using to limit the final cookie size.
You can also set SaveTokens to false.

[2016-11-14 13:06] jasdefer commented on #270
Okay thank you for the reply. I will try to look into the cookie middleware. I only use the email, roles and offline_access claim. No further claims.  Can I set the SaveTokens to false, if I need the access token for the communication with the web api? Or will the access token be saved somewhere else, if the SaveTokens parameter is set to false?

[2016-11-14 13:21] kevinchalet commented on #270
`email` and `roles` are scopes, not claims.

Concerning your second question, you can't set SaveTokens to false if you need the tokens (obviously).

[2016-11-14 14:23] artem-leonov commented on #269
Ok, thanks

[2016-11-14 14:23] #269 closed, assigned to nobody

[2016-11-14 18:18] mattwcole commented on #51
@Gillardo did you ever find a working solution with OpenIddict and SimpleInjector?

[2016-11-14 18:22] Gillardo commented on #51
No I didn't.  I ended up using the native DI instead

[2016-11-14 20:36] dotnetjunkie commented on #51
I have been looking at @Gillardo's example more closely now and now understand where things go wrong. Gillardo is trying to move all of Openiddict's registrations into Simple Injector, but this is wrong, because:
- This is a very cumbersome practice,
- It can lead to hard to fix problems, since Openiddict classes might not be designed to work well with Simple Injector.
- Which might break any time

[2016-11-15 07:55] xperiandri opened #271 "Define base class FormRequiredAttribute for FormValueRequiredAttribute"
It is very useful attribute to be used without checking for name.

Now I do
[code]

The checks I copied from OpenIdConnectServer code.
I would use your attribute instead.

[2016-11-15 20:19] kevinchalet commented on #271
I'm not sure I understand what's the actual question :smile:

[2016-11-16 10:24] jasdefer commented on #270
Yes this is true, but the email and roles scope is resulting in special claims, if I am not wrong. I didn't add any special claims. The principal of my ticket contains the default claims (role, nameidentifier, jti, id_token, confidential, aud, nonce, at_hash, exp, etc. ).
I am surprised, that the resulting cookie is too big for some browsers. But you are right, this has nothing to do with openiddi

[2016-11-16 15:00] xperiandri commented on #271
I mean that you added `FormValueRequiredAttribute` which requires some value but in my scenario I need an attribute that only checks for `POST` and `x-www-url-encoded`. So why not to split your attribute into a hierarchy of two attributes?

[2016-11-16 15:05] kevinchalet commented on #271
Simply because we don't need that in the sample. That said, you're free to split them in your own code :smile:

[2016-11-16 18:49] Gillardo opened #272 "Saml2 support"
Been reading online and apparently you can use openId as a proxy to use Saml2....is this something that can work in this project?

Sorry if I am completely off, but need saml2 support now for a client and hoping I can use this somehow...

[2016-11-16 22:07] kevinchalet commented on #272
Without native support in ASP.NET Core, OpenIddict can't be integrated in a SAML2P/WS-Fed environment.

Though ASP.NET Core doesn't support SAML2P nor WS-Fed (yet), but there are community projects you can try. Take a look at https://github.com/aspnet/Security/issues/1026 for more information.

[2016-11-16 22:22] Gillardo commented on #272
Thanks for the advice @PinpointTownes .  I got a feeling i am going to hate trying to work this out

[2016-11-16 22:22] #272 closed, assigned to nobody

[2016-11-17 01:25] kevinchalet commented on #272
@Gillardo good luck! :sweat_smile:

[2016-11-23 09:44] Lissbrict opened #275 "Use AuthorizationCodeFlow return SignIn(ticket) 500 Exception Error"
[code]

[code]
500 error
Error message :
An unhandled exception occurred while processing the request.
InvalidOperationException: An OpenID Connect response has already been sent

logs:

<pre>System.InvalidOperationException: An OpenID Connect response has already been sent.&#xD;&#xA;   at AspNet.Security.OpenIdConnect.Server.OpenIdConnectServerHandler.&lt;HandleSignInAsync&gt;d__5.MoveNext()&#xD;

[2016-11-23 11:48] daver77 commented on #186
Hi,
I've just got around to updating my code. Where do I add custom claims now that i'm not overriding the UserManager?

I'm guessing somewhere in the CreateTicketAsync method in AuthorizationController

[2016-11-23 12:11] kevinchalet commented on #275
Can you please share your complete `Authorize` action and your `CreateTicketAsync` method?

[2016-11-23 12:18] kevinchalet commented on #186
Yep!

[2016-11-23 15:13] daver77 commented on #186
Thought so :) I was expecting to use principal.Claims.Add to add my custom claim but it's not exposed. Do you have an example on how to it?

[2016-11-23 15:14] kevinchalet commented on #186
[code]

[2016-11-23 15:20] daver77 commented on #186
Great, for completeness in case anyone else reads this...

`if (!string.IsNullOrEmpty(user.ContactId))
            {
                Claim claim = new Claim("ContactId", user.ContactId).SetDestinations(
                      OpenIdConnectConstants.Destinations.AccessToken,
                      OpenIdConnectConstants.Destinations.IdentityToken);

                var identity = (ClaimsIdentity)prin

[2016-11-23 16:08] kevinchalet opened #277 "Consider relaxing the token request validation policy to allow using the offline_access scope with the client credentials flow"

[2016-11-25 01:31] Lissbrict commented on #275
- Authorize
[code]
- CreateTicketAsync  method

[code]

[2016-11-25 01:37] kevinchalet commented on #275
Can you also post your complete OpenIddict services configuration?

Note that you can't mix the authorization endpoint and the token endpoint in the same action, as the validation rules are completely different.

[2016-11-25 01:52] Lissbrict commented on #275
Thank you for your guidance,problem solved
I misunderstood  the `Authorization code flow`
😉

[2016-11-25 01:52] #275 closed, assigned to nobody

[2016-11-25 13:42] NtFreX opened #278 "Token provider/retriever/resolver"
I'm using asp.net **core** web api with an additional signalr host. From looking into this library I found that the accesstoken and stuff is read from the web request header. But I saw that in signalr you cannot set an header and it's excpected from you that you include your access token into the querystring.

No I wondered if I can easily create a token retriever which supports both locations wit

[2016-11-25 14:02] kevinchalet commented on #278
Yep. Take a look at this sample: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Samples/blob/master/samples/SignalR/HelloSignalR/Startup.cs#L28

[2016-11-25 14:10] NtFreX commented on #278
~~I think this is only for asp.net but not asp.net core?~~ I found the following solution:

[code]

[2016-11-25 14:10] #278 closed, assigned to nobody

[2016-11-25 14:30] kevinchalet commented on #278
As you can see... https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Samples/blob/master/samples/SignalR/HelloSignalR/project.json#L32

[2016-11-25 15:06] mattwcole opened #279 "Auth Fails When Resource Server did not Provide Token"
I have been successfully using OpenIddict to secure a simple API where the resource and token endpoints are hosted together. I am having trouble scaling the application horizontally behind a load balancer. It seems that requests for resources made to servers that did not generate the token fail to validate the token, even though they all use the same certificate to sign tokens. Here is my setup co

[2016-11-25 22:39] kevinchalet commented on #279
The signing credentials are only used for the tokens produced by IdentityModel (i.e the identity tokens, and the access tokens when you use JWT): the opaque tokens use a different serialization mechanism that relies on ASP.NET Core Data Protection, so make sure your key ring is correctly synchronized across your machines: https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/config

[2016-11-27 12:24] pealmeid opened #280 ""client_id missing" error when disabling request caching"
Hello,

I've been studying the sample code for OpenIddict and I came across an odd behavior that I don't know if it is a bug or by design.

To reproduce, simply run the `Mvc.Server/Mvc.Client` samples with the `EnableRequestCaching()` line in `ConfigureServices` (file `Startup.cs` for the `Mvc.Server` sample) commented out.

When I do it I get the following error immediately after authorizing acce

[2016-11-27 14:13] #280 closed, assigned to nobody

[2016-11-27 17:51] kevinchalet commented on #280
Note: it's always better to post a tiny comment indicating how you solved your issue, as it might interest other people.

No, but the MVC sample requires it, because it uses the `request_id` parameter to store the request details across the login/external login pages.

When sending a POST authorization request, the parameters must be form-urlencoded. Here, they are in the query string, so this can

[2016-11-28 01:11] pealmeid commented on #280
Thanks for the reply! I figured out how to make it work and was about to add a comment describing it, but you beat me to it...

My solution was basically the same but not as elegant, I added all the parameters to `AuthorizeViewModel` and passed them to the View individually instead of using the `@foreach (var parameter in Model.Item1.GetParameters())` loop.

Once again, thanks a lot for your work

[2016-11-28 08:59] Lissbrict opened #281 "Get Token Success,but Authorization error invalid_grant:The user profile is no longer available"
- get token: /api/connect/token

post man
prarm:
`
client_id:9dced70411684af890f1b6af12f06f7c
grant_type:password
username:dengyuehua
password:123456?zzA
scope:offline_access
`
result:
`
{
  "token_type": "Bearer",
  "access_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6IlNDLUFGSU5WM0JYSkdRRFFDSjNUM0wxRUhGTE1FX1RRTUxFNlZQLU4iLCJ0eXAiOiJKV1QifQ.eyJ1bmlxdWVfbmFtZSI6ImRlbmd5dWVodWEiLCJBc3BOZXQuSWRlbnRpdHkuU2V

[2016-11-28 10:31] mattwcole commented on #279
Ahh that explains it, thanks for your help!

[2016-11-28 10:31] #279 closed, assigned to nobody

[2016-11-28 12:27] kevinchalet commented on #281
This error is returned by the sample when the user profile was not found in the database: https://github.com/openiddict/openiddict-core/blob/dev/samples/Mvc.Server/Controllers/AccountController.cs#L44-L50.

[2016-11-28 12:27] #281 closed, assigned to nobody

[2016-11-28 12:33] kevinchalet commented on #280
That's the right thing to do :smile:
The ASOS sample doesn't use a view model because it wanted it to be as tiny as possible, so it uses tuples instead,

[2016-11-28 16:20] mattwcole commented on #279
I've swapped to JWTs, but this has introduced a new issue.

[code]

I've checked `.well-known/jwks` and the key ID for my token is present. The modifications I made to my setup are

[code]

[code]

If it isn't immediately obvious what is wrong here, I can open a new issue.

[2016-11-28 17:02] kevinchalet commented on #279
Unlike the aspnet-contrib validation middleware, the JWT bearer middleware developed by MSFT is not configuration-less so `app.UseJwtBearerAuthentication()` will never work if you don't set up the Authority.

Consider using the default token format + the validation middleware or take a look at the ASP.NET Core documentation to see how you're supposed to configure it.

[2016-11-29 00:30] #271 closed, assigned to nobody

[2016-11-29 06:25] Lissbrict opened #282 "Authorize success,but _userManager.GetUserAsync(User) is null"
[code]
- why _userManager.GetUserAsync(User) is null?

- User

[code]

[2016-11-29 06:30] Lissbrict commented on #282
- CreateTicketAsync
[code]

[2016-11-30 00:05] mattwcole commented on #279
Thanks again for your help. I was eventually able get JWTs working. I followed the same approach detailed in a [previous issue](https://github.com/openiddict/openiddict-core/issues/181#issuecomment-236651208), but in my case, I had to disable audience validation (I noticed that `aud` was missing from my token).

[code]

[2016-11-30 00:10] kevinchalet commented on #279
Disabling audience validation is not something I'd recommend.

Instead, add `ticket.SetResources("resource_server")` in your `CreateTicketAsync` method (which will set the access token audience) and add `Audience = "resource_server"` in the JWT options.

[2016-11-30 00:17] mattwcole commented on #279
I was looking for a way to do this before disabling the validation. Works perfectly!

[2016-11-30 08:04] kevinchalet commented on #265
With https://github.com/openiddict/openiddict-core/pull/284, you're now responsible of handling the refresh token requests, so you can easily add that logic in your token action.

[2016-11-30 08:04] #265 closed, assigned to nobody

[2016-11-30 11:42] daver77 opened #285 "Using OpenIddict to secure Web API"
Hi,
I have a simple SSO website setup using .NET Identity Core and OpenIddict.

I'd like to expose a method to relying parties to allow adding a user. I've created the method and added the [Authorize] attribute and I can now create an OAuth2 token and call the CreateUser method via Postman. However, this means that any authenticated user can call the method which I don't want. I've added [Authoriz

[2016-11-30 12:42] kevinchalet commented on #285
It would help if you share your claims generation code. Assuming you're using the client credentials grant to authenticate your API, you should be able to add a specific claim indicating whether the token represents a user or an application.

Then, you could use the authorization stack to set up an authorization policy requiring this specific claim (e.g `policy.RequireClaim("caller_type", "applica

[2016-11-30 12:58] daver77 commented on #285
I'm using the tools in Postman to get the token. I was using 'Authorization Code' grant type, I've switched to Client Credentials but Postman gives the error "error getting access token from client_credentials flow. Could not send request". I have .AllowClientCredentialsFlow() in ConfigureServices.

[2016-11-30 13:06] kevinchalet commented on #285
Have you implemented client credentials support in your token endpoint action?

[2016-11-30 13:21] daver77 commented on #285
Ah, I have now :)

[2016-11-30 13:43] daver77 commented on #285
I've added a Role to CreateTicket and added the attribute [Authorize(Roles = "API")] to my method, it works but i'm guessing it's not the best way to implement it.

`
            identity.AddClaim(ClaimTypes.Role, "API",
                OpenIdConnectConstants.Destinations.AccessToken,
                OpenIdConnectConstants.Destinations.IdentityToken);
        }`

[2016-11-30 14:19] daver77 commented on #285
Updated the API method attribute to...
`[Authorize(Policy = "API Access")]`
and added to startup...
`options.AddPolicy("API Access",
                    policy => policy.RequireClaim(ClaimTypes.Role, "API"));`

This setup would give every application access to my API though. Is there anything available to store claims per application?

[2016-11-30 14:22] kevinchalet commented on #285
You can easily implement that in `CreateTicketAsync`.

[2016-11-30 14:26] #254 closed, assigned to nobody

[2016-11-30 14:26] #245 closed, assigned to nobody

[2016-11-30 14:26] #259 closed, assigned to nobody

[2016-11-30 14:26] #263 closed, assigned to nobody

[2016-11-30 14:28] daver77 commented on #285
Do you mean like this?
`if (application.ClientId=="app1"){// add claim}`
I was hoping for something database driven

[2016-11-30 17:41] javico2609 opened #286 "Cannot create a DbSet for 'OpenIddictApplication`1' because this type is not included in the model for the context."
Cannot create a DbSet for 'OpenIddictApplication`1' because this type is not included in the model for the context.

when call  /connect/token

[code]

[code]

[2016-11-30 17:57] kevinchalet commented on #286
If you don't post any details, it's hard to help. Consider sharing your Startup class and your DbContext.

[2016-11-30 18:22] kevinchalet commented on #286
Since you're using a custom primary key type (`Guid`), you must use the `OpenIddictDbContext` signature that takes a `TKey` parameter:

[code]

[2016-11-30 19:07] javico2609 commented on #286
tnx

[2016-11-30 19:07] #286 closed, assigned to nobody

[2016-12-04 17:48] #277 closed, assigned to nobody

[2016-12-05 11:39] ghost opened #287 "How to Logout / mark Token invalid (Question)"
Hey there!
I am a little stuck here:
When just using Token-based-authentication [ no cookies ], what would be the right way to logout/signout/ tell the server the access_token is invalid?

`return SignOut(OpenIdConnectServerDefaults.AuthenticationScheme);`

does not seem to work, as the access_token still works...

I do get a

Warning. But that does not mean the entire logout-process is skipped, d

[2016-12-05 12:46] kevinchalet commented on #287
Hey.

Revoking an access token is not supported, for performance reason (as you'd have to make a DB roundtrip for each API call). That's the reason why their lifetime is short (30 minutes by default).

To revoke a refresh token, don't use the logout endpoint (which is only meant to delete cookies during an interactive workflow like the code flow). Instead, use the revocation endpoint, as described

[2016-12-05 12:52] ghost commented on #287
Ah, alright!  Thank you for clarifying that!

[2016-12-05 12:52] #287 closed, assigned to nobody

[2016-12-06 06:35] Lissbrict opened #288 "Resource Server use Roles ,Authorize Fail,How to use roles by ResourceServer?"
- Server List
	- Authorize Server
		- /api/connect/token
		- /api/connect/introspection
		- /api/test1/ `[Authorize(Roles = "Driver")]`  ==> Authorize Success
		- /api/test2/ `[Authorize]`                                      ==> Authorize Success
	- Resource Server1
		- /api/test/   ` [Authorize(Roles = "Driver")]`    ==> Authorize  Fail
		- /api/test1/ ` [Authorize]`   ==>Authorize  Success
	- R

[2016-12-08 11:28] rajivcodes opened #289 "Cannot create a DbSet for 'OpenIddictApplication' because this type is not included in the model for the context"
When I click on the client web app signin button, it throws this error

It redirects to the server and thriws this error:
InvalidOperationException: Cannot create a DbSet for 'OpenIddictApplication' because this type is not included in the model for the context.
Microsoft.EntityFrameworkCore.DbContext.Set<TEntity>()

Broader Picture:
What I am trying to do is use the server sample to create an API

[2016-12-08 11:45] kevinchalet commented on #289
Does your DB context inherit from `OpenIddictDbContext`?

Please share your `ApplicationDbContext` signature and your OpenIddict configuration.

[2016-12-08 11:49] rajivcodes commented on #289
public class ApplicationDbContext : OpenIddictDbContext<ApplicationUser, ApplicationRole, long>
where can i find OpenIddict configuration?
If this is what you mean?

            services.AddOpenIddict<ApplicationDbContext>()
            // Register the OpenIddict services, including the default Entity Framework stores.
                // Register the ASP.NET Core MVC binder used by OpenIddict.

[2016-12-08 11:59] kevinchalet commented on #289
As mentioned in the README, you must use the `services.AddOpenIddict<ApplicationDbContext, long>()` overload when using a custom key type.

[2016-12-08 12:09] rajivcodes commented on #289
Ok so now it gives me this error when I click on "welcome Anonymous" signin.
Ooooops, something went really bad! :(
but it definitely helped get rid of the previous error. Thanks!

[2016-12-10 10:05] rajivcodes commented on #289
I will close the issue as I think the main problem was resolved. Thank you very much for your help!

[2016-12-10 10:05] #289 closed, assigned to nobody

[2016-12-12 23:50] kevinchalet commented on #288
This issue was moved to https://github.com/aspnet-contrib/AspNet.Security.OAuth.Extensions/issues/49.

[2016-12-12 23:50] #288 closed, assigned to nobody

[2016-12-13 10:23] rajivcodes opened #292 "Unable to authenticate"
I am using your sample password flow. I upgraded to latest and I get this error in my log file.
Request starting HTTP/1.1 POST http://localhost:58795/connect/token application/x-www-form-urlencoded 86 (e5be5b71)
2016-12-13T02:10:25.7545959-08:00 0HL1380H89SH8 [INF] The token request validation process was skipped because the client_id parameter was missing or empty. (376dcc06)
2016-12-13T02:10:25.

[2016-12-13 12:18] rajivcodes commented on #292
So to add a client I have this in startup but it throws an error
                var applications = context.Set<OpenIddictApplication<int>>();  //i tried even without int

                // Add Mvc.Client to the known applications.
                if (!applications.Any())
......
exception of type 'System.InvalidOperationException'
Error is : Message: "Cannot create a DbSet for 'OpenIddictApplicat

[2016-12-13 12:48] kevinchalet commented on #292
That's the problem with generics: they are viral, so you must ensure everything is configured correctly.

Replace `services.AddOpenIddict()` by `services.AddOpenIddict<int>()` and `context.Set<OpenIddictApplication>();` by `context.Set<OpenIddictApplication<int>>();`.

[2016-12-13 12:52] kevinchalet opened #293 "Update AddEntityFrameworkCoreStores() to infer the key type from the entity generic arguments"

[2016-12-13 13:01] rajivcodes commented on #292
I tried that too but still throws an error and

when you say for my first comment above (and on chat-gitter), that at log level it is correct, i agree but by default .RequireClientIdentification() is enabled. So this statement is there or not there doesn't make a difference. May be this is a bug that by default is enabled even without .RequireClientIdentification()??

[2016-12-13 13:09] kevinchalet commented on #292
Not it's not.

What's the exact exception you're getting?

[2016-12-13 13:21] rajivcodes commented on #292
This is it from immediate window
?context.Set<OpenIddictApplication<   int   >>()
'context.Set<OpenIddictApplication<  int   >>()' threw an exception of type 'System.InvalidOperationException'
    Data: {System.Collections.ListDictionaryInternal}
    HResult: -2146233079
    HelpLink: null
    InnerException: null
    Message: "Cannot create a DbSet for 'OpenIddictApplication<  int  >' because thi

[2016-12-13 13:23] kevinchalet commented on #292
Read my first message, you missed something...

[2016-12-13 13:25] rajivcodes commented on #292
the comment removed the <  int  > so i had to add space after and before lessthan/greater than sign.. sorry please see the above comment again. I know we need int everywhere as thats my tkey.. but it doesnt work.

[2016-12-13 13:32] kevinchalet commented on #292
Alright, I see where the problem is. I'll fix it later today.

[2016-12-13 13:35] rajivcodes commented on #292
ok cool. atleast i am sure now that it wasnt something i was doing wrong.. thank you. I will look forward to get an update, if possible let me know too what was it or may be I will check the git checkin comment.

[2016-12-13 13:38] rajivcodes commented on #292
and one more thing back to the .RequireClientIdentification() problem. I still think its enabled by default coz when you run the password flow sample, and dont passin client_id for token/connect, and even when you do not have .RequireClientIdentification()  then too it throws an error saying that client_id was not passed. However, I will test it again tomorrow after your fix regarding the type err

[2016-12-13 14:36] #292 closed, assigned to nobody

[2016-12-13 14:38] kevinchalet commented on #292
FYI, this issue was fixed as part of https://github.com/openiddict/openiddict-core/issues/294.

Concerning client identification, I just tried the password flow and it worked fine.

[2016-12-13 15:37] kevinchalet commented on #230
Hey guys,

I'm considering creating an "official" EF6 stores package for OpenIddict.
Do you think it's worth it?

[2016-12-13 18:14] kevinchalet commented on #293
Done via https://github.com/openiddict/openiddict-core/issues/294.

[2016-12-13 18:14] #293 closed, assigned to kevinchalet

[2016-12-13 20:16] Bartmax commented on #230
How many people uses EF6 with OpenIddict? If we get many 👍 I think it would be worth it, but I'm no so sure.

[2016-12-14 18:08] #266 closed, assigned to nobody

[2016-12-14 18:08] #270 closed, assigned to nobody

[2016-12-14 18:09] #282 closed, assigned to nobody

[2016-12-14 18:09] #285 closed, assigned to nobody

[2016-12-15 17:55] maadborn opened #296 "OpenIddictApplication.Tokens as a getter only?"
Is there any reason why OpenIddictApplication.Tokens has a getter only? I am implementing a custom OpenIddictApplicationStore using OpenIddictApplication as the application class and MySQL as persistence, but can't populate the Tokens property due to its get nature. If this is how it is intended to work, what is the purpose of the Tokens property and what implementation strategy would you suggest

[2016-12-15 18:15] kevinchalet commented on #296
It is generally recommended to avoid exposing public setters for mutable collections (there's even a FxCop rule for that: https://msdn.microsoft.com/en-us/library/ms182327.aspx)

Can't you just add new items to the `OpenIddictApplication.Tokens` collection?

[code]

Curious: any particular reason not to use EntityFramework with your MySQL database?

[2016-12-15 18:35] maadborn commented on #296
Well, that would be the obvious way to do it. Ehm, brain fart moment. 🙄 Thanks!

Just wish to keep it light and simple. I will go with Dapper as soon as I have the "proof of concept" stores implemented, adding one layer of complexity at a time.

[2016-12-16 16:11] felipesantanadev opened #297 "Not definition for UseOpenIddict"
I'm trying to update the OpenIddict, but I'm receiving this message:

![print](https://cloud.githubusercontent.com/assets/16308565/21269337/84ef1ab8-c399-11e6-89ff-f06ee6b8ca9d.png)

And also for AddEntityFrameworkCoreStores:

[code]

[2016-12-16 16:23] kevinchalet commented on #297
Make sure your project references the `OpenIddict.EntityFrameworkCore` package.

[2016-12-16 19:51] itsfelipesan commented on #297
Ok, you were right. But now, I'm getting `InvalidOperationException: Unable to resolve service for type 'OpenIddict.Core.OpenIddictApplicationManager`1[OpenIddict.Models.OpenIddictApplication`1[System.Int64]]' while attempting to activate 'Dreampper.Controllers.AuthorizationController'` when try to login. It was working before.

That's my configuration:

[code]

[2016-12-16 20:02] kevinchalet commented on #297
There's a problem with your configuration. Read the README.md and the remarks about custom key types.

[2016-12-16 20:12] felipesantanadev commented on #297
Thank you! I haven't noticed the changed about key types during registration.

[2016-12-17 00:36] felipesantanadev commented on #297
It's working now, but is It normal the tables carry the TKey type in their names?

![keytype](https://cloud.githubusercontent.com/assets/16308565/21282763/035870ac-c3e0-11e6-8076-9b2b1ee09d97.png)

[2016-12-17 12:20] primalfear opened #299 "Cannot create a DbSet for 'OpenIddictToken' because this type is not included in the model for the context."
Hi There, I have recently updated to OpenIddict 1.0.0-beta2-0516 and when attempting to login using the password grant type, i receive the following error:

Cannot create a DbSet for 'OpenIddictToken' because this type is not included in the model for the context.

The database seed methods and everything work correctly.
But when performing the autentication, it dies on this line:
 **return this.S

[2016-12-17 12:26] kevinchalet commented on #299
Did you read the "Update your Entity Framework context registration to register the OpenIddict entities" section in the README?

[2016-12-17 13:01] primalfear commented on #299
If I add o.UseOpenIddict() as follows:
` services.AddEntityFrameworkSqlServer()
                .AddDbContext<URouteContext>(o =>
                {
                    o.UseSqlServer(connectionString);
                    o.EnableSensitiveDataLogging();
                    o.UseOpenIddict();
                });`

Then I get:
Cannot use table 'OpenIddictApplications' in schema '' for entity 'OpenId

[2016-12-17 13:03] kevinchalet commented on #299
Please consider sharing a repro.

[2016-12-17 13:06] primalfear commented on #299
I assumed i would not need to use o.UseOpenIddict() because my datacontext inherits from OpenIddictDbContext.

If i inherit from   IdentityDbContext<ApplicationUser> and use o.UseOpenIddict()
Then when i run the seed method it throws the following:

Cannot create a DbSet for 'OpenIddictApplication' because this type is not included in the model for the context.

[2016-12-17 13:07] kevinchalet commented on #299
`OpenIddictDbContext` is no longer a thing in beta2. Make sure you're not using old bits.

[2016-12-17 13:14] primalfear commented on #299
Cool, thanks, will investigate this a bit further....
the repo, is currently hosted on gitlab, and i need to fiddle a bit to make it public.... but will pop a copy onto github, if i can't resolve this.

[2016-12-17 13:57] primalfear commented on #299
Okay have resolved it.... One of my projects was still referencing: OpenIddict.EntityFramework package...

Thanks so much for the fast responses, was really not anticipated for a weekend.
Really enjoying this as an identity solution.... am experimenting with it a bit having used identity server a lot in the past. :)

[2016-12-17 13:57] #299 closed, assigned to nobody

[2016-12-21 13:14] frankps opened #300 "OpenIdDict & Ionic 2"
Dear,
We're creating a mobile app with Ionic 2 and integrated OpenIdDIc successfully with client credentials & tokens. Nice work!
But: I woud like to convert it to the implicit flow (so we can use Facebook & Google)
No I wonder what the redirect_uri should be for apps.
Can somebody help?
Thanks, Frank

[2016-12-21 13:57] adrien-constant opened #301 "CodeFlow/AuthorizationServer sample not working with ASP.NET Core 1.1.0"
Running the sample with ASP.NET Core 1.1.0 does not work.
If you launch AuthorizationServer and ClientApp, and you click on the "sign in" button from the client app, you get the error page.

After investigating the issue, it seems that the controller methods with [Authorize] attribute do not redirect properly to the login page.

Thus, authentication failed, and the server answers with a 401 Not Au

[2016-12-21 14:23] kevinchalet commented on #301
Duplicate of https://github.com/openiddict/openiddict-samples/issues/25.

https://github.com/openiddict/openiddict-core/pull/273
https://github.com/aspnet/Security/issues/1062

[2016-12-21 14:23] #301 closed, assigned to nobody

[2016-12-22 15:29] kevinchalet commented on #297
@itsfelipesan not really. I tried to reproduce it, unsuccessfully:

![image](https://cloud.githubusercontent.com/assets/6998306/21430490/b1c47294-c863-11e6-8084-8e7e35d5a5d7.png)

Try to recreate your DB from scratch. If the issue is still there, consider opening a new thread.

[2016-12-22 15:29] #297 closed, assigned to nobody

[2016-12-22 15:30] kevinchalet commented on #296
@maadborn thanks for the details! :+1:

[2016-12-22 15:30] #296 closed, assigned to nobody

[2016-12-22 15:34] #255 closed, assigned to nobody

[2016-12-23 14:17] xonuzofa opened #304 "Multiple refresh tokens per user"
How can I make a custom provider following the refresh token sample to allow multiple refresh tokens per user (max of 5)? This way if the user logs in from their computer and then goes home and logs in on their phone, they don't have to login each time they get on to a different device. The `app.UseOAuthValidation()` runs in the background before the authorize controller ever gets called so there

[2016-12-23 14:47] kevinchalet commented on #304
Duplicate of http://stackoverflow.com/questions/41299861/openiddict-multiple-refresh-tokens.

[2016-12-23 14:47] #304 closed, assigned to nobody

[2016-12-23 14:49] xonuzofa opened #305 "Multiple refresh tokens per user"
How can I make a custom provider following the refresh token sample to allow multiple refresh tokens per user (max of 5)? This way if the user logs in from their computer and then goes home and logs in on their phone, they don't have to login each time they get on to a different device. The `app.UseOAuthValidation()` runs in the background before the authorize controller ever gets called so there

[2016-12-23 14:50] xonuzofa commented on #304
Why did you remove both of them?

[2016-12-23 14:50] kevinchalet commented on #305
Duplicate of http://stackoverflow.com/questions/41299861/openiddict-multiple-refresh-tokens.

Next time you open a duplicate thread, you'll get a free ban.

[2016-12-23 14:50] #305 closed, assigned to nobody

[2016-12-23 14:51] xonuzofa commented on #305
How is it a duplicate? This is github. That is on stackoverflow.  I posted on both sites to get this answer solved.

[2016-12-23 14:51] kevinchalet commented on #304
Because there's already a SO question tracking that. Be patient and you'll get an answer.

[2016-12-23 14:53] kevinchalet commented on #305
You've opened 3 duplicate GitHub tickets and 1 SO thread about exactly the same question. If you can't be patient, then there's nothing I can do for you.

[2016-12-23 14:55] xonuzofa commented on #305
Didn't realize SO and GitHub were related.  Thought you closed both cause they linked each other on GitHub so I posted a third.  Don't understand why you can't leave one on here and one on SO.  This is directly related.  SO can be about anything.

[2016-12-23 14:59] kevinchalet commented on #305
My project, my rules. Answering questions is time-consuming and I don't want to waste time posting the same answer everywhere just because you wanted an immediate answer and decided to open 4 threads.

[2016-12-23 15:02] xonuzofa commented on #305
I apologize didn’t understand why you were closing my threads.  Have a good Christmas.

[2016-12-27 17:18] #231 closed, assigned to nobody

[2016-12-27 18:12] kevinchalet commented on #300
I'd personally go with the code flow. Don't hesitate to take a look at the Cordova sample for ASOS to see how it works: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Samples/tree/master/samples/Cordova.

[2016-12-27 19:06] #125 closed, assigned to kevinchalet

[2016-12-27 20:21] #262 closed, assigned to nobody

[2016-12-30 07:56] scionwest opened #309 "AddStore<T> methods all throw exceptions when using a sub-class of OpenIddictToken<TKey>"
I have a custom Token class I've created that subclasses `OpenIddictToken<TKey>` and I'm using it in a custom `OpenIddictTokenStore<TToken>` implementation.

### Token

[code]

### Store

[code]

When I register the token using the `OpenIddictBuilder`, it throws an exception at runtime telling me that I've not implemented the `IOpenIddictTokenStore<TToken>` interface. Digging around [I noticed tha

[2016-12-30 13:01] kevinchalet commented on #309
When using a custom entity (derived from the default entities or not), you need to use the generic `services.AddOpenIddict()` overload, that will set the `OpenIddictBuilder` type properties for you: https://github.com/openiddict/openiddict-core/blob/dev/src/OpenIddict.Core/OpenIddictExtensions.cs#L52.

[2016-12-30 16:51] scionwest commented on #309
Thanks, I missed those overloads.

[2016-12-30 16:51] #309 closed, assigned to nobody

[2017-01-02 13:07] asadsahi opened #311 "401 when trying to authenticate using token"
Hi,

I am trying to follow this article for password flow with openiddict:

http://capesean.co.za/blog/asp-net-5-jwt-tokens/

Article seems a little outdated, but I have updated a clone of that repo with new changes. Here is my repo:

https://github.com/asadsahi/AspNetCoreJwtWithOpenId

I get the token but getting 401 when trying to call api.

Can someone review my project to identify the cause of

[2017-01-02 13:19] kevinchalet commented on #311
Hey,

The issue was quite easy to spot: your app uses the JWT bearer middleware but doesn't ask OpenIddict to use JWT as the access token format:
  - https://github.com/asadsahi/AspNetCoreJwtWithOpenId/blob/master/Startup.cs#L96-L103
  - https://github.com/asadsahi/AspNetCoreJwtWithOpenId/blob/master/Startup.cs#L67

Note that Sean's article/sample is now obsolete (many things have changed between

[2017-01-02 13:31] asadsahi commented on #311
@PinpointTownes Thanks for your response. I read that msdn article, but that wasn't end to end yet.

Enabled that jwt option, but  still getting 401. Seems something else is missing too.

[2017-01-02 13:33] kevinchalet commented on #311
You must also set the resources list when using JWT, as mentioned in the MSDN article ;)

[2017-01-02 13:39] asadsahi commented on #311
Thanks @PinpointTownes is there a javascript based sample which I can quickly follow as I want to implement in Angular based SPA.

[2017-01-02 14:15] asadsahi commented on #311
@PinpointTownes [RefreshFlow ](https://github.com/openiddict/openiddict-samples/tree/master/samples/RefreshFlow)sample seems close to what I want to achieve don't you think?

Would it hurt if I leave refresh token flow in application which only needs password flow with jwt e.g?

[2017-01-02 15:01] kevinchalet commented on #311
Heh no. You'll likely need to implement the refresh token flow if you need to refresh your access tokens, anyway :smile:

[2017-01-02 23:04] asadsahi commented on #311
@PinpointTownes got two questions in order to resolve 401 issue I am having with the app which I mentioned earlier:
Question 1) If we add type as public for application as shown below:
![image](https://cloud.githubusercontent.com/assets/3470892/21597226/ecf34dac-d13e-11e6-8805-4741cd8fca3a.png)

In DB it adds it as confidential:
![image](https://cloud.githubusercontent.com/assets/3470892/21597230/

[2017-01-03 00:41] kevinchalet commented on #311
That's because you're using the overload taking a `secret` parameter: as mentioned in the XML documentation, OpenIddict considers the resulting application is necessarily confidential in this case and overrides the `Type` property.

I'll consider adding a check and throw an `InvalidOperationException` to help folks figure out they are doing something illogical.

Here's the relevant part in the blo

[2017-01-03 10:27] asadsahi commented on #311
Thanks @PinpointTownes , feeling so dumb right now. Didn't see the errors in console as it was clearly saying that audience resource was missing. So had to add resource server in ticket like:

[code]

As you pointed out in your article, this is only required by Microsoft Jwt middleware but not standard requirement which means well defined :+1:

[2017-01-03 10:29] #311 closed, assigned to nobody

[2017-01-03 11:48] daver77 opened #312 "Single Sign Out"
Hi,
Are there any plans to implement "Single Sign Out"? The front-channel spec seems to be the most obvious to implment as we hold the logout URL's.

http://openid.net/specs/openid-connect-frontchannel-1_0.html

[2017-01-03 13:13] kevinchalet commented on #312
ASOS/OpenIddict already offer an `end_session_endpoint` (known as the "logout endpoint"), but if you want to implement distributed logout, it's currently up to you to track the relying parties the user logged into and return a page containing the iframes pointing to the `frontchannel_logout_uri` of all the clients.

https://github.com/openiddict/openiddict-samples/blob/master/samples/ImplicitFlow/

[2017-01-03 13:25] HolyHorseman opened #313 "[help] Client can't sign in new Server from migrated sample"
Dear Kevin,
I must make a mistake when I used this lib. I was in trouble, and this problem perplex me about two weeks. So I hope you could guide me, thank you very very much.
The details are as below:

0. I taken a little time to learning about the RFC document of OAuth, ASP.NET Core Identity, ASOS articles on your website and code sample here.

1. I created a new project with individual user acco

[2017-01-03 13:54] HolyHorseman commented on #313
OMG, a part of above comment can't show format.
Classes used 'long' as TKey in AppUser and AppRole.
`    public class AppUser : IdentityUser<long> { }
`
`    public class AppRole : IdentityRole<long> { }
`

[2017-01-03 16:28] daver77 commented on #312
Thanks

Will ASOS replace OpenIddict once it hits RC?

[2017-01-03 16:58] daver77 commented on #312
Thanks. Are there any methods to return all OpenIddictApplications or would I need to add that?

[2017-01-03 17:02] kevinchalet commented on #312
No. OpenIddict will continue to use ASOS to handle the OIDC protocol details, and there's absolutely no plan to merge them, as they have different objectives and different audiences (ASOS is really for advanced users).

Not yet, but I'll end up adding one at some point, as Orchard2's OpenID module needs a similar thing.

[2017-01-03 17:24] kevinchalet commented on #313
Can you please share your project.json?

[2017-01-03 18:31] #300 closed, assigned to nobody

[2017-01-03 20:58] jayrulez opened #314 "Exception when using self-signed certificate"
I'm getting an error on application startup because of an exception with the signing certificate.

I am using a self signed certificate from this tool: https://s3.amazonaws.com/pluralsight-free/keith-brown/samples/SelfCert.zip

[code]

Microsoft.AspNetCore.Hosting.Internal.WebHost:Critical: Application startup exception

Internal.Cryptography.CryptoThrowHelper+WindowsCryptographicException: Access

[2017-01-03 21:47] jayrulez commented on #314
After some google-foo, I ran VS as administrator and it works. Not sure why this didn't happen before windows crashed on me and I had to reset it.

[2017-01-04 01:47] HolyHorseman commented on #313
Thank you for reply!
The two json files are my project.json, the first is main web project, the second is class lib. They were all created in .NET Core by VS 2015 U3(version 14.0.25424.00 and framework version 4.6.01038).

First:
(P.S. I check version in NuGet Manager. OpenIddict, OpenIddict.MVC and OpenIddict.EntityFrameworkCore are all 1.0.0-beta2-0537. )

`{
  "userSecretsId": "aspnet-OpenIddic

[2017-01-04 01:56] kevinchalet commented on #313
You're using 1.1.0 bits and I suspect your issue is caused by an important breaking/design change in ASP.NET Core. You can find more information here: https://github.com/openiddict/openiddict-core/pull/273#issuecomment-267634518 and https://github.com/aspnet/Security/issues/1044.

[2017-01-04 05:30] HolyHorseman commented on #313
Perfect! It's much more important information.
Now the practise project had run well. But it is weird to process dealing with the question.
I had read two references and the others in those links.
Finally, what I do is as below:

1. According to [#273(comment)](https://github.com/openiddict/openiddict-core/pull/273#issuecomment-267634518), remove some middlewares.
It work well to signing in server

[2017-01-04 05:30] #313 closed, assigned to nobody

[2017-01-04 18:17] felipesantanadev opened #315 ""Expired ticket" even using refresh_token"
When the user log in, the API returns an `access_token, a refresh_token and expires_in`.

I'm assuming that the "expires_in" is the time the access_token takes to expire. In this period of time, if I use the "refresh_token" with the `grant_type: refresh_token`, I can get a new `access_token, refresh_token and expires_in`.

But when the `expires_in` is expired, I try to get a new access_token by us

[2017-01-04 18:34] felipesantanadev commented on #315
I have noticed that the refresh_token also has a life time. I didn't know about it.

[2017-01-04 18:34] #315 closed, assigned to nobody

[2017-01-04 19:48] josh-sachs opened #316 "Feature Request: Multiple Redirect Uri's for the same client Id"
It would be a nice (default) feature to be able to white-list more than 1 redirectUrl for a given clientId.  Google Developer API console does this for example.

Sorry for the brevity, I think the request is pretty straight forward.  Obviously trash it if it doesn't seem worth doing.

[2017-01-04 20:17] kevinchalet commented on #316
See http://stackoverflow.com/questions/39025834/register-multiple-redirecturis for the reason why it's deliberately not supported.

That said, if you have a concrete use case where such a feature would be important, I'm all ears :smile:

[2017-01-04 20:29] josh-sachs commented on #316
Sure, I'll give it a go :)

We have development, staging and production versions of the same app - all requiring different application keys (currently).  In order to manage deployments, I have to do an ENVIRONMENT call prior to loading our SPA so that the server can dynamically issue a clientId based on the detected environment.  This is undesirable overhead and delays time to first interaction.

[2017-01-05 08:43] Gillardo opened #317 "Temporary ticket / Short expiry date ticket"
Our application allows users to sign in as per normal, so will refer to that as a NORMAL ticket.  Also in our application, we need to be able to allow a user to obtain a resource, as if they were another user (impersonate), refer to this as IMPERSONATE ticket.

Is there a way to make an IMPERSONATE ticket a shorter life span than a normal ticket?  Can i add something to this ticket to say its an i

[2017-01-05 11:05] daver77 opened #318 "Error using Authorization Code sample"
Hi,
I'm using the sample below to test my OpenIddict auth provider
https://github.com/openiddict/openiddict-samples/tree/master/samples/CodeFlow/ClientApp

After login, I redirect back to http://localhost:4495/signin-oidc and get an error, any ideas what can cause this?

[code]

[2017-01-05 13:05] kevinchalet commented on #318
Please share your logs.

[2017-01-05 13:06] kevinchalet commented on #317
Read https://blogs.msdn.microsoft.com/webdev/2016/10/27/bearer-token-authentication-in-asp-net-core/ to see how you can add your own claims.

To set the access token lifetime, use `ticket.SetAccessTokenLifetime(...)`.

[2017-01-05 14:20] daver77 commented on #318
Here you go

[code]

[2017-01-05 14:23] kevinchalet commented on #318
I meant the OIDC server app logs :trollface:

[2017-01-05 14:32] daver77 commented on #318
Here you go :)
I see the error at the bottom, I don't understand it though?
The token request was rejected with the following error: "invalid_request" ; "Public clients are not allowed to send a client_secret."

[code]

[2017-01-05 14:35] kevinchalet commented on #318
The message is ultra clear: your app is a public app, so it doesn't make any sense to send a client_secret, which is something specific to confidential apps. OpenIddict detects you're doing something wrong and rejects the request.

[2017-01-05 14:36] #318 closed, assigned to nobody

[2017-01-05 14:45] daver77 commented on #318
I see, I misunderstood public vs confidential, it should be confidential.

[2017-01-05 16:00] daver77 commented on #318
I have set the application to confidential in the database and now the .NET Core sample works fine.

[2017-01-06 00:06] kevinchalet commented on #316
This makes sense, tho' I'm not sure I want to encourage the scenario you describe, as using the same application registration with both production and testing environments is not considered as "good practice" (the client secrets used in production shouldn't be used during testing, as they may be leaked).

The good news is that allowing users to control how the `redirect_uri` is validated is defini

[2017-01-06 00:09] kevinchalet commented on #316
Sure it does, but it's worth noting that OpenIddict's objective is to encourage people to do the right thing, which often implies using stricter rules than the ones defined by the specification.

People who feel more comfortable with the protocol details are encouraged to use ASOS (that gives you full control to validate the `redirect_uri`).

[2017-01-06 10:08] daver77 opened #319 "404 error on /signin-oidc using an ASP.NET 4.6 relying party website"
Hi,
I have a strange issue getting an ASP.NET 4.6 website to authenticate against my openiddict. I am getting a 404 error when the OIDC login page returns to the RP's /signin-oidc page

Here is my Startup.cs (these are the same values I use in an ASP.NET Core 1.0 RP website which works fine)

[code]

If I change ResponseType to "code id_token" it does work though

Any ideas why?

[2017-01-06 12:49] kevinchalet commented on #319
FYI, questions about the OWIN/Katana OIDC middleware should be asked here: http://katanaproject.codeplex.com/discussions.

[2017-01-06 12:49] #319 closed, assigned to nobody

[2017-01-06 13:03] #317 closed, assigned to nobody

[2017-01-06 13:04] kevinchalet opened #320 "Add new APIs to allow listing the existing OpenID applications"
https://github.com/openiddict/openiddict-core/issues/312#issuecomment-270163621

[2017-01-06 13:04] #312 closed, assigned to nobody

[2017-01-06 17:11] josh-sachs commented on #316
`using the same application registration with both production and testing environments is not considered as "good practice" (the client secrets used in production shouldn't be used during testing, as they may be leaked).`

I'm not sure what there is to be leaked.  The clientId is included in the SPA regardless of environment and is not secret, the redirect_uri identifies endpoints that the Auth Se

[2017-01-06 17:14] kevinchalet commented on #316
Sure, in your case there's no secret because it's a public client, but if we introduce the ability to register multiple addresses, people will want to use it with confidential clients too.

[2017-01-09 11:57] HolyHorseman opened #321 "[bug] Invalid post logout redirect uri with MS OpenIdConnect 1.1.0"
Dear Kevin,
It is sick news. ( ▼-▼ )
Today I had created a new client project, and updated all MS lib by NuGet. Though it is a big mistake to update.
I found from output window that logout uri was not defined in startup.cs. Through great effort I could not get cause about error.

So I had recreated a project without update. OMG, that was well.
After I updated references one by one, I got it at las

[2017-01-09 12:14] HolyHorseman commented on #321
Aha…… In fact, we can think of it as MS wrong, too.

[2017-01-09 12:25] kevinchalet commented on #321
It's not a bug, but a deliberate breaking change in ASP.NET Core 1.1.0. You can find more information on this thread: https://github.com/aspnet/Security/pull/925.

[2017-01-09 12:25] #321 closed, assigned to nobody

[2017-01-10 04:48] HolyHorseman commented on #321
Thank you, I got it.

Remark below to all in the trouble.

Using MS OpenIdConnect version 1.0.0,
1. define `PostLogoutRedirectUri` with client's uri;
2. in server's database, `RedirectUri` is `http://<ClientHost>/signin-oidc`, `LogoutRedirectUri` is `http://<ClientHost>/`.

Using MS OpenIdConnect version 1.1.0,
1. define `CallbackPath` with client's path(no uri; `PostLogoutRedirectUri` is invalid)

[2017-01-10 05:03] kevinchalet commented on #321
Thanks for the kind words 😄

@Tratcher looks like this (breaking) change is not listed in the aspnet/Announcements repo.
Do you think it would be worth posting a ticket for this change?

[2017-01-10 08:39] jooooel opened #323 "Updating (custom) claims on identity token refresh"
Hi,
I'm sorry if this question has been answered before, but I can't seem to find it.

I'm using the refresh flow like described in this sample [https://github.com/openiddict/openiddict-samples/tree/master/samples/RefreshFlow](url).

In addition to the standard claims, we also add our custom claims to the user identity, like this:

[code]

The problem is that when a refresh token is used and a new

[2017-01-10 09:58] jooooel commented on #323
Never mind! I didn't realize quite a bit has changed in the last beta (compared to the previous version I was running). I'm now doing like you do in the samples, regenerating the ticket on ` if (request.IsRefreshTokenGrantType())`.

And everything seems to be working fine :) Thanks!

[2017-01-10 09:58] #323 closed, assigned to nobody

[2017-01-10 12:21] kevinchalet commented on #323
Nice! :+1:

[2017-01-10 21:46] Tratcher commented on #321
I can write up an announcement in the Security repo if you think it would help. The feature and change are too esoteric to warrant posting in aspnet/Announcements.

[2017-01-10 22:20] kevinchalet opened #324 "Security advisory: a vulnerability in IdentityModel could allow elevation of privilege when using symmetric signing keys"
Earlier today, it was announced that IdentityModel 5.1.0 - the library used by OpenIddict to issue JWT tokens - was impacted by a **critical vulnerability allowing an attacker to bypass signature validation** and forge counterfeit tokens when using HMAC keys: https://technet.microsoft.com/library/security/3214296.

### How do I know if I am affected?

This vulnerability only manifests if these thr

[2017-01-11 00:43] kevinchalet commented on #321
That would be great, thanks. The same question has been asked 4 or 5 times here or on the Gitter channel, so I think it's common enough to deserve an announcement :+1:

[2017-01-11 13:16] asadsahi opened #325 "Invalid signatures on jwt.io for id_token"
Hi,

Apologies as it might not be an issue, but for better understanding, what is the reason when I try to decode id_token on jwt.io, it give invalid signatures message?

![image](https://cloud.githubusercontent.com/assets/3470892/21849861/e3a09a8a-d7ff-11e6-8ded-59fe30928269.png)

[2017-01-11 13:22] kevinchalet commented on #325
Hey,

This message indicates it can't validate the signature protecting the JWT token. But it's not surprising, as the public key textbox is empty.

[2017-01-11 13:26] asadsahi commented on #325
Okay, is that the dynamic key generated when we add Openiddict service?
....
.AddEphemeralSigningKey

[2017-01-11 13:27] kevinchalet commented on #325
It is. You can retrieve the public using the JWK endpoint, at http://[root address]/.well-known/jwks

[2017-01-11 13:32] Themodem opened #326 "JWT Invalid Token"
Not sure if this is a bug or invalid config.

I can get a token which works as expected with oauth but i want to use jwt instead.
Here is my startup.cs

[code]

When i hit `connect/token` with valid details i get back a valid JWT token

[code]

If i then set it as `Authorization: Bearer TOKEN' i get the following response from the console.

[code]

[2017-01-11 13:33] kevinchalet commented on #326
Then you have to use the JWT bearer middleware. Not the aspnet-contrib validation middleware.

[2017-01-11 13:36] asadsahi commented on #325
Oo I see. which one is that?

[code]

[2017-01-11 14:24] kevinchalet commented on #325
https://stackoverflow.com/questions/38998702/verify-a-signature-in-jwt-io

[2017-01-11 16:00] asadsahi commented on #325
@PinpointTownes Thanks, perfectly answers the question.

[2017-01-11 16:00] #325 closed, assigned to nobody

[2017-01-12 02:39] Themodem commented on #326
👍 my bad.

Thanks for the correction, got it up and running as expected now.

[2017-01-12 02:39] #326 closed, assigned to nobody

[2017-01-13 13:45] JelleDamen commented on #326
@PinpointTownes Could you explain how? I'm getting the same error

[2017-01-13 19:50] kevinchalet commented on #326
@JelleDamen how... what? :sweat_smile:

[2017-01-14 02:54] Themodem commented on #326
@JelleDamen Sure, this is what i had to do to get JWT working:

[code]

I generated the cert with this tool:

[https://www.pluralsight.com/blog/software-development/selfcert-create-a-self-signed-certificate-interactively-gui-or-programmatically-in-net](https://www.pluralsight.com/blog/software-development/selfcert-create-a-self-signed-certificate-interactively-gui-or-programmatically-in-net)

You

[2017-01-14 12:10] pealmeid opened #327 "Question about caching"
Hello, I'm working on a project using OpenIddict and I'm trying to figure out how the caching works.

I understand that OpenIddict uses `Microsoft.Extensions.Caching.Abstractions` in order to let the final project determine which cache to use (`Redis`, `SQLServer` or `Memory`) and inject the respective dependency.

However, I'm going through the sample (`Mvc.Server`) source code and I cannot find

[2017-01-14 12:27] kevinchalet commented on #327
It's indirectly injected by MVC: https://github.com/aspnet/Mvc/blob/dev/src/Microsoft.AspNetCore.Mvc.TagHelpers/DependencyInjection/TagHelperExtensions.cs#L34-L35.

[2017-01-14 12:45] pealmeid commented on #327
@PinpointTownes thanks for the blazingly fast response! If it's not too much to ask, how does the framework differentiate between this indirect injection and another, explicitly injected in the project?

For example, I understand that if I reference `Microsoft.Extensions.Caching.SqlServer` in my `project.json` and add `services.AddSingleton<IDistributedCache, SqlServerCache>()` to `ConfigureServic

[2017-01-14 13:44] kevinchalet commented on #327
Easy: the last registration always wins. Note that `MemoryDistributedCache` is usually registered using `TryAdd`, so it doesn't replace previous `IDistributedCache` registrations.

[2017-01-14 13:57] pealmeid commented on #327
Thanks!

[2017-01-14 13:57] #327 closed, assigned to nobody

[2017-01-15 11:26] aporquez opened #328 "Question: Using Mongodb"
I'm using AspNet.Identity.Mongo (https://github.com/g0t4/aspnet-identity-mongo) to handle the Identity framework.

Checking the OpenIddict.EntityFrameworkCore.Stores they implemented the IOpenIddictApplicationStore, IOpenIddictAuthorizationStore, IOpenIddictScopeStore, and IOpenIddictTokenStore.

Does this mean I need to do the following in order to make it work with MongoDB?
- Implement IOpenIddi

[2017-01-15 14:24] kevinchalet commented on #328
Yes.

No.

No. The generic arguments should point to the models you use, not the stores.

Yes.

[2017-01-16 10:26] daver77 opened #329 "Creating a new OpenIddictApplication in Controller"
Hi,
I'm trying to create some admin pages to manage OpenIddictApplications, I have some code to create one in StartUp.Configure but it relies on IApplicationBuilder.

Has anyone got some code to create an OpenIddictApplication inside a Controller?

[2017-01-16 12:59] kevinchalet commented on #329
You can inject `OpenIddictApplicationManager` anywhere in your code, using DI.

[2017-01-16 12:59] #329 closed, assigned to nobody

[2017-01-16 20:35] DaljitBhail opened #330 "How can one custom rename the database tables generated by the OpenIDDict."
The code below shows how one can apply a naming convention according to a clients needs.  But OpenIDDict creates tables such as OpenIddictTokens etc. How can these be renamed to follow the convention?

[code]

[2017-01-16 21:25] kevinchalet commented on #330
Exactly the same way as the Identity entities.

[2017-01-17 02:09] aporquez commented on #328
Thanks!

[2017-01-17 02:09] #328 closed, assigned to nobody

[2017-01-17 06:09] baserz opened #331 "Format of error messages varies (not always json)"
Hi!
I noticed that when for example using OpenIdConnectResponse to return messages (as the samples does) it returns in json format = ok. But certain built-in errors is returned as plain/text. For example, the client_id error seems to be returned as plain text. It would be good if all errors came in the same format (json) so as to avoid having to parse multiple formats. I dont know if this can be a

[2017-01-17 06:37] kevinchalet commented on #331
Hey,

That's actually the expected behavior: ASOS (the underlying OIDC framework behind OpenIddict) returns `application/json` for all the non-interactive endpoints (i.e "API endpoints" called by UI-less clients) and `text/plain` for the authorization and logout endpoints, as they are directly visible by the end users.

At some point, the `text/plain` response might be replaced by a nicer HTML err

[2017-01-17 06:39] kevinchalet commented on #331
Note that you're encouraged to use the status code pages middleware when using OpenIddict, so you get a better error page. Take a look at the code flow sample to see how it works.

[2017-01-17 08:30] baserz commented on #331
I was using the implicit flow, not the codeflow. But written on gitter instead, might be i misunderstood something then i regards to the intended flow.

[2017-01-17 08:30] #331 closed, assigned to nobody

[2017-01-17 09:21] DaljitBhail commented on #330
Thanks but something goes horribly wrong. Including the OpenIDDICT somehow creates all the standard Identity tables again with the normal naming convention. You cant manually delete them, as something is referring to them somewhere. I've include the generation script below:

[code]

[2017-01-17 09:27] kevinchalet commented on #330
OpenIddict doesn't reference Identity nor uses the Identity entities (at least, in the >= beta2 bits).

I suspect you're using inconsistent key types: `IdentityRole` / `IdentityRoleClaim<int>`/`OpenIddictApplication`. Try using the same key type everywhere.

[2017-01-17 16:57] tomasjurasek opened #332 "Get connect/token return 500 code - No authentication handler is configured to handle the scheme: ASOS"
`
Hi,
I have problem with openiddict token. When i call connect/token i get -
 **"InvalidOperationException: No authentication handler is configured to handle the scheme: ASOS"**

Here is my startup.cs setup.

        public IServiceProvider ConfigureServices(IServiceCollection services)
        {
            services.AddCors();
            services.AddDbContext<AppDbContext>(options =>

[2017-01-17 17:08] kevinchalet commented on #332
1. The OpenIddict middleware (`app.UseOpenIddict()`) is not at the right place. It must be added before MVC.

2. The parameters in your screenshots are invalid. Use the standard naming or bad surprises will happen.

[2017-01-17 17:30] tomasjurasek commented on #332
`Thanks, I also changed

    public IServiceProvider ConfigureServices(IServiceCollection services)
        {
            services.AddCors();
            services.AddDbContext<AppDbContext>(options =>
            {
                options.UseSqlServer(Configuration.GetConnectionString("DefaultConnection"));
                options.UseOpenIddict<int>(); // <--- ADD
            });

            serv

[2017-01-17 18:17] kevinchalet commented on #332
FYI, the password flow sample can be found here: https://github.com/openiddict/openiddict-samples/tree/master/samples/PasswordFlow/AuthorizationServer

[2017-01-17 18:52] Tratcher commented on #321
Posted: https://github.com/aspnet/Security/issues/1087

[2017-01-17 19:46] kevinchalet commented on #321
Thanks @Tratcher :+1:

FYI, I opened a new thread for removing `PostLogoutRedirectUri` in 2.0.0: https://github.com/aspnet/Security/issues/1089.

[2017-01-18 10:01] DaljitBhail opened #333 "Guide"
Created a ASP.Net Core MVC Site from standard template. The guide refers to  services.AddIdentity with extension AddEntityFrameworkCoreStores. This doesn't exist and perphaps should be AddEntityFrameworkStores ?

[code]

[2017-01-18 11:16] pealmeid opened #334 "Question: How to handle OpenIdConnectProtocolException when user denies resource access"
In the samples `Mvc.Server/Mvc.Client`, if the user signs on the server but denies resource access, the server returns a 500 error code and the client fails with the following message:

`An unhandled exception occurred while processing the request.
OpenIdConnectProtocolException: Message contains error: 'access_denied', error_description: 'The authorization grant has been denied by the resource ow

[2017-01-18 12:47] psp589 opened #335 "Refresh token expiration time"
How could I know the expiration time for a refresh token? and how could I change it?

[2017-01-18 13:45] Bartmax commented on #335
when you get the token, it has an `expire_in` value.

You can read the [Wiki](https://github.com/openiddict/openiddict-core/wiki/Configuration-and-options) to see how to change configuration values.

[2017-01-18 14:02] kevinchalet commented on #333
Samples can be found here: https://github.com/openiddict/openiddict-samples.

[2017-01-18 14:13] psp589 commented on #335
Thanks seen the Wiki , I saw the times and the default configuration, I don't get how could be happenning this issue https://github.com/OrchardCMS/Orchard2/issues/534 (we're using orchard 2 with openiddict there)

[2017-01-18 14:23] kevinchalet commented on #334
Yep.

You can use the `RemoteFailure` event to override the default logic:

[code]

[2017-01-18 15:01] piotrek-k opened #336 "'IdentityBuilder' does not contain a definition for 'AddEntityFrameworkStores'"
Full error message:

I've basically copy-pasted configuration from sample project [from this repository](https://github.com/openiddict/openiddict-core/tree/dev/samples/Mvc.Server), I've checked many times: everything is made the same.

Problem happens in ConfigureServices method:
[code]
at line that begins with `services.AddIdentity[...]`

ApplicationUser class:
`public class ApplicationUser : Ide

[2017-01-18 16:21] kevinchalet commented on #336
[code]

->

[code]

[2017-01-18 16:41] piotrek-k commented on #336
@PinpointTownes do you have the same dependencies as I do? In which cases `IdentityBuilder` could not have `AddEntityFrameworkCoreStores` method defined? Is it part of your code, or part of EntityFamework? Maybe something has changed in version "1.1.0"?

[2017-01-18 16:47] kevinchalet commented on #336
It's part of ASP.NET Core Identity (as the name suggests :trollface:)

Maybe. https://github.com/aspnet/Identity would be the right place to ask such a question.

[2017-01-18 17:26] DaljitBhail commented on #330
My Bad. Worked it out. I've included the code below for anyone else wishing to rename the tables:
[code]

[2017-01-18 17:26] #330 closed, assigned to nobody

[2017-01-18 19:41] piotrek-k commented on #336
@PinpointTownes
ahh, your solution indeed, works. I've copied code and saw that nothing changed, so I've asked more questions, but now I reopened Visual Studio and works fine. Thanks.

[2017-01-18 19:41] #336 closed, assigned to nobody

[2017-01-18 23:37] pealmeid commented on #334
Perfect! Once again, thanks so much for your help!

[2017-01-18 23:37] #334 closed, assigned to nobody

[2017-01-19 08:35] psp589 commented on #335
Well, the problem seems to be fixed, thank you!

[2017-01-19 08:35] #335 closed, assigned to nobody

[2017-01-19 18:16] jedielson opened #337 "Should return 401 but is returning 404"
Hi!

I'm trying to test my web api when user has an invalid access token, but instead of 401, I'm getting an 404 result.

Here is my startup

[code]

and this is the generated log

[code]

Looks like it's using CookieMiddlware, but why?
And, how can I just return a 401 result, when the user is unautenticated and 403 when user is unauthorized?

Thanks for your help!
And congrats... This is a big to

[2017-01-20 12:49] Bartmax commented on #335
@psp589 if it's possible, will be good if you can post how you solved your problem in case someone else gets in here for future reference. Thanks and I'm glad you solved it!

[2017-01-20 13:03] psp589 commented on #335
Hi @Bartmax , it's solved here https://github.com/OrchardCMS/Orchard2/commit/5675b47abce9110b290dfa06eb17bb8247c901c8

[2017-01-20 19:36] kevinchalet commented on #337
Glad you like it :smile:

The behavior you're seeing is caused by Identity, that replaces 401 responses by 302 responses. In your case, the login endpoint doesn't exist, so you're getting a 404 response.

If you're not using cookies authentication, consider removing `app.UseIdentity();`.

[2017-01-20 19:37] #332 closed, assigned to nobody

[2017-01-20 19:37] #333 closed, assigned to nobody

[2017-01-20 20:01] jedielson commented on #337
Hi, thanks for your response.

It works perfectly!!

One more time, congratulations!!!

[2017-01-20 20:01] #337 closed, assigned to nobody

[2017-01-23 15:28] jayrulez commented on #314
Problem with windows

[2017-01-23 15:28] #314 closed, assigned to nobody

[2017-01-23 15:36] #241 closed, assigned to kevinchalet

[2017-01-23 15:37] kevinchalet commented on #17
Done as part of https://github.com/openiddict/openiddict-core/issues/339.

[2017-01-23 15:37] #17 closed, assigned to kevinchalet

[2017-01-23 15:58] mattwcole opened #340 "[Question] Adding Password Expiry with Password Flow"
I have an application consisting of a RESTful API and single page JavaScript client, using OpenIddict password flow to authenticate users. The API exposes the `/connect/token` endpoint, and the JS app captures the user credentials, and uses the endpoint to get a token for authenticating further requests to the back-end.

I would now like to add a feature whereby if a password has not been changed

[2017-01-23 16:07] Bartmax commented on #340
FYI this is considered bad practice and brings no value to security.

[2017-01-23 16:47] pealmeid commented on #321
Hello @HolyHorseman, I followed your instructions but I'm still getting the `Invalid post_logout_redirect_uri` error. It's not clear to me how to configure both the client and the server.

Considering the server as `http://server:5000` and the client as `http://client:4000`, what are the values for the client and server config? Here's what I'm trying (with no success):

Client:
- No `PostLogoutRed

[2017-01-23 17:19] kevinchalet commented on #340
Since you're responsible of implementing the authentication part, this is definitely something you can do, in a totally standard way.

That said, I agree with @Bartmax. FWIW, the NIST no longer recommends using password expiration in most cases: https://nakedsecurity.sophos.com/2016/08/18/nists-new-password-rules-what-you-need-to-know/

[2017-01-23 18:46] mattwcole commented on #340
Thanks for the tips. I will certainly revisit the necessity for password expiry.

I still need the ability to be able to force a user to update their password, however it sounds like I should just create a new login endpoint for this rather than use the standard OAuth access token endpoint.

[2017-01-23 19:34] #316 closed, assigned to nobody

[2017-01-23 19:47] jayrulez commented on #241
👍

Lots of changes to  make

[2017-01-23 19:49] kevinchalet commented on #241
Note that this feature itself is transparent. The only thing you have to do is migrate your DB to ensure the `Subject` column is correctly added :smile:

[2017-01-23 19:53] kevinchalet opened #341 "Remove the OpenIddict alpha1/alpha2/beta1 packages from the MyGet feed"
To discourage new OpenIddict users from using obsolete bits in their applications, the `alpha1`, `alpha2` and `beta1` packages are going to be removed from the MyGet feed.

Users who are still using old packages have **1 month to migrate to the `beta2` bits**.

If you have any question about the migration process, please post a `StackOverflow` question: https://stackoverflow.com/questions/tagged/o

[2017-01-23 22:15] jayrulez commented on #241
Yea... However, I worked around the issue before so I'll need to drop that code.

Well I just finished all of that. Working on splitting the auth server from the resource server now :)

[2017-01-24 02:03] HolyHorseman commented on #321
Hello @pealmeid, I'm pleasure that is helpful for you.
We should give thanks to @PinpointTownes.

[2017-01-24 03:37] dreampper opened #342 "Grant Type is always invalid after the last update"
Hi, after the last update we are receiving `OpenIdConnectConstants.Errors.UnsupportedGrantType` when sending a request with `grant_type: password` to the token endpoint.

Is there something that we are doing wrong?
[code]

[2017-01-24 04:01] kevinchalet commented on #342
I can't reproduce it locally.

If you believe it's a bug, please provide a minimal, complete, and verifiable example.

[2017-01-24 04:01] #342 closed, assigned to nobody

[2017-01-24 10:38] DaljitBhail opened #343 "Cookies and Tokens in same Web site"
I'm still learning and developing Token and Cookie usage for an ASP.Net Core MVC Site.
I would want OpenIDDict to handle token authentication and authorization for my APIs and standard Cookie authentication and authorization for my views. I figured I would create Claim Policies bound to each authorization service i.e. all APIs authorization and authentication to OpenIDDict and View Pages to Cookie

[2017-01-24 14:55] kevinchalet commented on #343
To make them more visible for the community, questions should be posted on StackOverflow: https://stackoverflow.com/questions/tagged/openiddict.

See you there.

[2017-01-24 14:55] #343 closed, assigned to nobody

[2017-01-25 09:40] Gillardo opened #344 "The INSERT statement conflicted with the FOREIGN KEY constraint "FK_dbo.OpenIdToken_dbo.OpenIdApplication_ApplicationId""
I have just updated to the latest version of openIddict-core.  I have had to update my custom Application and Token stores because there are now new interface methods (which i basically copied from the src folder).

Now if i try to login, i am getting the exception

This seems to happen in this method, as the Application nor ApplicationId has been set??  Should it be set already?  Am i supposed to

[2017-01-25 11:54] kevinchalet commented on #344
Have you updated your database schema to include the new columns?

[2017-01-25 11:56] Gillardo commented on #344
Updated my models with anything i think it needs (if it says it was missing i added it)

![image](https://cloud.githubusercontent.com/assets/7406381/22289791/4a1081d6-e2f5-11e6-85c7-c6b5d6b94d9e.png)

[2017-01-25 12:05] kevinchalet commented on #344
What's the ORM you're using?

Note: I see a few missing columns, like `Subject` or `ApplicationId` in the `OpenIdAuthorization` table.

[2017-01-25 12:12] Gillardo commented on #344
EF 6.1

Here are my objects

[code]

[code]

[code]

[code]

[2017-01-25 12:15] Gillardo commented on #344
I see, i believe i am missing application and subject on authorization.... I will add these and see if this works.  Apologies

[2017-01-25 12:24] Gillardo commented on #344
I have added those fields to authorization, and still no luck, same problem

[2017-01-25 12:25] Gillardo commented on #344
Here is my updated authorization object

[code]

[2017-01-25 12:25] Gillardo commented on #344
Would it be helpful if i upload my custom stores?  Although they are basically copies of yours

[2017-01-25 12:35] kevinchalet commented on #344
Yes, please provide a minimal, complete, and verifiable example.

FYI, I'm considering adding "official" support for EF6 in the future if there's enough demand.

[2017-01-25 13:08] Gillardo commented on #344
Will take some time to create an example project, as my project uses angular2 and is built upon our service code.

For the moment, i can upload copies of the stores i have wrote, but i believe these are all correct.  Your more then welcome to use these if it helps to implement EF6 functionality.

I have only implemented stores for Application and Token

[code]

[code]

[2017-01-25 13:32] Gillardo commented on #344
Have even created a custom AuthorizationStore, but still not working...  No idea what has changed as my stores were fine

[2017-01-25 13:39] kevinchalet commented on #344
Have you tried to recreate the database from scratch?

[2017-01-25 13:49] Gillardo commented on #344
Dropped the tables and recreated them.... no difference.

[2017-01-25 14:30] kevinchalet commented on #344
Ping me when you have a chance to make a tiny repro. I'll take a look.

[2017-01-25 19:06] jayrulez opened #345 "Unble to login in client application"
I am trying to authenticate using the auth code flow.

I am able to login successfully in the server. However, when I get redirected to the client, the following exception is thrown:

[code]

Have any idea what I might be doing wrong?

[2017-01-25 19:07] jayrulez commented on #345
@PinpointTownes

[2017-01-25 19:20] kevinchalet commented on #345
I can't reproduce it locally.

If you believe it's a bug, please provide a minimal, complete, and verifiable example.

[2017-01-25 19:20] #345 closed, assigned to nobody

[2017-01-25 20:16] Bartmax commented on #344
Why are you creating your custom models ? I think you only need the Application,Authorization,Scope and Token store.

[2017-01-25 20:28] Gillardo commented on #344
Needed to create own models as my EF 6.1 is in a separate project to openIddict and also I did have them as using long for the key.. but now using string on token, authorization and scope now

[2017-01-25 23:53] jayrulez commented on #345
I was missing

[code]

from the exchange method in the auth'z'n controller.

[2017-01-28 15:44] MaklaCof opened #347 "InvalidOperationException: Unable to resolve service for type 'OpenIddict.Core.OpenIddictApplicationManager`1[OpenIddict.Models.OpenIddictApplication]' while attempting to activate 'OpPISWeb.Controllers.AuthorizationController'."
I am trying to build login based on [RefreshFlow sample](https://github.com/openiddict/openiddict-samples/tree/master/samples/RefreshFlow). I have Angular2 application. When I try to login I get the following error:

I am using [Javascript services](https://github.com/aspnet/JavaScriptServices) template. My request is in attached file.
![openiddict-error](https://cloud.githubusercontent.com/assets

[2017-01-28 15:47] kevinchalet commented on #347
To make them more visible for the community, questions should be posted on StackOverflow: https://stackoverflow.com/questions/tagged/openiddict.

See you there.

[2017-01-28 15:47] #347 closed, assigned to nobody

[2017-01-28 21:05] MaklaCof commented on #347
[I guess so](https://stackoverflow.com/questions/41914749/unable-to-resolve-service-for-type-openiddict-core-openiddictapplicationmanager).

[2017-01-30 15:24] jedielson opened #349 "Revoke All Refresh Tokens of User"
Hi.

I'm using password grant flow, with Identity.

I want to kill all refresh token for a user, every time a login its executed.
I need this to kill its "session" even when he sign in with a different device, like other pc, or smartphone.

So, how can I do it?

Can I just do a `UserManager.UpdateSecurityStampAsync(user.Id);`, or I need something else?

Thank you so much for your help!

[2017-01-30 17:20] kevinchalet commented on #349
Hey,

To make them more visible for the community, questions should be posted on StackOverflow: https://stackoverflow.com/questions/tagged/openiddict.

See you there!

[2017-01-30 17:20] #349 closed, assigned to nobody

[2017-01-30 18:01] jedielson commented on #349
Sorry! =]

here is the question,

https://stackoverflow.com/questions/41942482/revoke-all-refresh-tokens-of-user

Just in Case ;)

[2017-01-30 20:16] kevinchalet commented on #349
No prob' :sweat_smile:

Answer posted. Hope it will help.

[2017-01-30 20:17] kevinchalet commented on #344
Closing, as this issue doesn't seem to be actionable ATM. I'll re-open if/when you have a chance to share a repro.

[2017-01-30 20:17] #344 closed, assigned to nobody

[2017-01-30 22:45] Ciantic opened #350 "Signing certificate with thumbprint not working anymore (Azure)"
I had this code running in production previously:

[code]

Some update between 1.0.0-alpha2-0448 and beta2-0549 made above code useless in Azure.

If I use EphemeralSigningKey it starts working again.

[2017-01-30 23:36] kevinchalet commented on #350
This is really vague. Can you be more specific? Are you seeing an exception?

[2017-01-30 23:41] Ciantic commented on #350
I could not find any exception, all Controller Actions (with Authorization in front) started to give Bad Gateway. I actually rolled back, now testing in staging... I'll try to find a better exception tomorrow.

[2017-01-30 23:51] kevinchalet commented on #350
Enable logging and post the traces when you have a minute. I'll take a look.

[2017-01-31 14:49] kevinchalet commented on #350
I can't reproduce it.

If you believe it's a bug, please provide a minimal, complete, and verifiable example.

[2017-01-31 14:49] #350 closed, assigned to nobody

[2017-01-31 18:03] Lukazoid opened #351 "What's the purpose of OpenIddictScopeManager and related types"
What is the actual purpose of the `OpenIddictScopeManager<TScope>`, it doesn't contain any public methods so I cannot see how it would be used.

As per above, does this not make the `IOpenIddictScopeStore<TScope>` and `OpenIddictScope<TKey>` types also useless?

I am probably just missing something here.

[2017-01-31 18:04] kevinchalet commented on #351
The scope manager/store is a WIP.

[2017-01-31 18:19] Lukazoid commented on #351
That would be what I was missing then. Thanks for getting back to me.

[2017-01-31 18:19] #351 closed, assigned to nobody

[2017-01-31 18:40] jayrulez opened #352 "Question: Accessing authentication ticket information"
Is there any way I can access the auth ticket info set on the auth server when it is separate from the resource server?

[2017-01-31 18:41] kevinchalet commented on #352
Hey,

To make them more visible for the community, questions should be posted on StackOverflow: https://stackoverflow.com/questions/tagged/openiddict.

See you there!

[2017-01-31 18:41] #352 closed, assigned to nobody

[2017-01-31 18:55] jayrulez commented on #352
Thanks for the pointer.

I posed the question there.

[2017-02-04 07:15] codestorycooked commented on #328
@akeno379 Hi Were you able to implement this solution using MongoDB AspNet.Identity.Mongo. Let me know. If you could share code or insights. thanks a much

[2017-02-06 12:59] trinvh opened #353 "UseJsonWebToken() authorize fail"
When using **OpenIddictBuilder.UseJsonWebToken()** the [Authorize] attribute always return 401 (Not authorized).

Request header already appended **Authorization Bearer token....**

After remove it works fine.

[2017-02-06 15:45] kevinchalet commented on #353
http://stackoverflow.com/questions/41937821/openiddict-with-angular2-jwt should help.

[2017-02-06 15:45] #353 closed, assigned to nobody

[2017-02-07 06:49] adnan-kamili opened #354 "Jwt middleware authentication signing key being ignored"
I am using openiddict which is configured to to use json web tokens:

[code]
I have configured by JWT middleware in following manner:

// Add Jwt middleware for authentication
[code]
As you can see the issuer signing key is set to a symmetric key:

`IssuerSigningKey = new SymmetricSecurityKey(Encoding.ASCII.GetBytes(secretKey)),`
but the jwt access_tokens created have alg claim set to RS256, so it

[2017-02-07 06:57] kevinchalet commented on #354
Obviously, the signing key registered in the JWT bearer middleware options doesn't (and can't) affect the OpenIddict options.

If you want to force OpenIddict to use your symmetric key, you have to call `.AddSigningKey(new SymmetricSecurityKey(...))`.

[2017-02-07 06:59] kevinchalet commented on #354
Also, ICYMI: https://github.com/openiddict/openiddict-core/issues/324.

[2017-02-07 07:18] adnan-kamili commented on #354
Thanks for your quick response

[2017-02-07 07:18] #354 closed, assigned to nobody

[2017-02-07 22:22] altair256 opened #355 "Authentication is successful. But user is null."
Hello! I use openiddict (1.0.0-beta2-0552). Authentication is successful. but thean i try get userInfo. application answer to me 'user is null'.

**BaseController.cs**
[code]

**Startup.cs**

[code]

**AuthorizeController.cs**
[code]
**Person.cs**
[code]

**auth.service.ts** (Application is user angular2. May be there be anything wrong?)
[code]
I would be very grateful for the help. Thank you.

[2017-02-08 15:20] kevinchalet commented on #355
Unfortunately, I don't have much time to investigate why this is not working for you. I'd recommend giving the password flow sample a try, as it comes with a resource controller demo that does the same thing: https://github.com/openiddict/openiddict-samples/tree/master/samples/PasswordFlow

[2017-02-08 16:02] altair256 commented on #355
Thank you for the answer! I already have a userinfo controller. (As a resource controller)
**UserInfoController.cs**
[code]
When i try get resource .../api/userinfo. I have error 401 Unauthorized, But authorize before successful and I get a token.

[2017-02-08 17:34] altair256 commented on #355
I solve the problem. I did not pass the access_token in heades (angular 2) when I try to get resource.

I change **auth.service.ts**
[code]
to
[code]

Now this work. Thank you for help!

[2017-02-08 17:34] #355 closed, assigned to nobody

[2017-02-11 18:57] dreampper opened #356 "HttpContext handled outside a Web API controller has no Identity"
I'm using a WebSocket middleware which handles the HttpContext during the connection. The problem is that wherever I try to handle the context outside the Web API controller, the Identity is always null.

What I'm thinking is that: inside a Controller, the request has the Authorization Bearer TOKEN so It's possible to get the User.Identity. Outside the controller, like in the Middleware, the reque

[2017-02-11 19:58] kevinchalet commented on #356
Consider flowing the access token via the query string: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Samples/blob/master/samples/SignalR/HelloSignalR/Startup.cs#L28

[2017-02-14 09:36] #340 closed, assigned to nobody

[2017-02-14 09:37] #356 closed, assigned to nobody

[2017-02-14 13:53] xperiandri opened #357 "Add additional values into Authorize endpoint response"
I integrate with Twilio and it requires me to produce a Twilio access token for client to work with their services.
Is there an integration point with which I can add `tw_access_token` value into an Authorize endpoint response along with `id_token` and `access_token`?

PS: do you want such questions to be posted on StackOverflow?

[2017-02-15 10:30] Lissbrict opened #358 "What is the difference between `access_token` and `id_token` ?"
I get  `access_token`  and `id_token` through the API
question:
 - What is the difference between  `access_token` and `id_token` ?
 - Why `assess_token` and `id_token` resolved after the different Audience ?

[2017-02-15 10:54] kevinchalet commented on #358
Hey,

To make them more visible for the community, questions should be posted on StackOverflow: https://stackoverflow.com/questions/tagged/openiddict.

See you there!

[2017-02-15 10:54] #358 closed, assigned to nobody

[2017-02-15 10:58] kevinchalet commented on #357
Nope, there's no such thing. As an alternative, you can store it in your access or identity token.

[2017-02-15 11:00] xperiandri commented on #357
Yep, I do that now.
Thanks for suggestion.
In order to achieve what I want, are changes to OpenIddict or ASOS required?

[2017-02-15 11:11] kevinchalet commented on #357
ASOS supports returning custom parameters via the `ApplyAuthorizationResponse` event but OpenIddict doesn't (deliberately) provide any way to use it, to encourage people to use the identity token to flow information from the OP to the client.

[2017-02-15 11:13] xperiandri commented on #357
Do you think that my scenario violates your intent?
I just thought that the Twilio access token is not an information of the user but one more token. So it does not fit well into identity token.

[2017-02-15 11:21] kevinchalet commented on #357
Without knowing exactly how your app works and how this extra token is retrieved, it's hard to say.

[2017-02-15 11:27] xperiandri commented on #357
In authorize request client can pass `device_id` and `tw` scope

[code]

[code]

[code]

[2017-02-15 21:56] ghost opened #359 "Error with latest version"
Hi there,
I am just trying to update Openiddict to the latest version [-beta2-0556 at this point].

Now the following error occurs when first trying to access the database:

thrown by the "UseOpenIddict() part here:

[code]

I am surely missing something.. but what ?  Could it be using asp.net core / ef core preview 1.2.0.-preview1-23456 ?

[2017-02-15 22:03] kevinchalet commented on #359
Hey,

Yes, the signature of the `ApplyServices` method has changed in EF Core 1.2/2.0: https://github.com/aspnet/EntityFramework/pull/7464/files#diff-9bbea77ce009e5466562d04f3c02d22aR156

[2017-02-16 05:20] HolyHorseman opened #360 "Subclass inherited from OpenIddict classes"
Hello, Kevin.
Some days ago, I found OpenIddictToken can't be store in db. Then I misunderstood that it caused by PK type in class, and asked you in gitter.
However, the question was not to end. When I go on learning this project recently, it happened again that record was empty in table OpenIddictToken in the process of request. But the PK type of all classes is '`string`', and request could fini

[2017-02-16 07:52] HolyHorseman commented on #360
The sample was downloaded on Dec 27, 2016.
Reference version is beta2-0538.

[2017-02-16 08:00] kevinchalet commented on #360
Hey,

To be honest, I'm not sure I clearly understand what the problem is. It would likely help if you could share a repro showing what's wrong and what's expected.

[2017-02-16 08:25] HolyHorseman commented on #360
Sorry, that is not enough clear.

I want to check a process of request from client. When debug sample step by step, OpenIddictProvider.SerializeAuthorizationCode and SerializeRefreshToken create and store a token in table openiddicttoken.
Then I rebuilded a project based on sample, new four classes inherited from openiddict original classes(application, authorization, scope, token), and register t

[2017-02-16 08:42] kevinchalet commented on #360
I just tried on my machine, with the latest OpenIddict bits and it worked fine:

[code]

[code]

[code]

![image](https://cloud.githubusercontent.com/assets/6998306/23013722/2a141666-f42c-11e6-8398-131913b6c819.png)

[2017-02-16 09:02] kevinchalet opened #361 "Implement automatic expired token flushing"
(I was pretty sure we already had a work item to track that, but obviously, nope...)

So, we basically have 2 potential options to implement such a feature:
  - Remove the expired tokens when receiving a new request.
  - Use a dedicated background task/job that would remove the expired tokens from the database at defined intervals. It could potentially be used with something like Hangfire.

I'd lo

[2017-02-16 09:03] kevinchalet commented on #360
https://github.com/openiddict/openiddict-core/issues/361

[2017-02-16 09:48] HolyHorseman commented on #361
I had noted that class token has a relation with class application in my question, before new version the FK '`ApplicationId`' of class token is null.
In fact, you have another option keeping a token for every application. The relation of application and token is one to one. When process a new request, token can be updated instead of deleted. In other words token is created or updated.
(P.S. The n

[2017-02-16 18:53] ghost commented on #359
Alright, thanks!

[2017-02-16 18:53] #359 closed, assigned to nobody

[2017-02-17 07:19] HolyHorseman commented on #360
I have checked my code some times, it's depressing to find no different. However the other error appeared also. I believe that's my unknow mistake. So I resolve to update new version and rewrite my this practice.

Besides, If you don't mind, I should redefine four classes(application, authorization, scope, token) and relations. The modified part will be shared with you finally. Thank you for all.

[2017-02-17 07:19] #360 closed, assigned to nobody

[2017-02-17 22:26] digital-nomad17 opened #362 "Invalid object name 'OpenIddictApplications'"
I am running into a sqlexception when I add the openiddict database to the application. Here is a screen shot of the error - http://i.imgur.com/mFIj9ku.png. I am not sure what this error means. Any ideas? I am running code off of the sample.

[2017-02-18 03:18] Bartmax commented on #362
![image](https://cloud.githubusercontent.com/assets/3386797/23089876/b5eda2bc-f56f-11e6-9a02-aaa536e86050.png)

including image on GitHub.

What's wondering me about this, is the error message mentions OpenIddictApplicationS (with an S).
Can you show the dbcontext class?

[2017-02-22 12:10] kevinchalet commented on #362
I'd bet @Bartmax gave you the right answer: the entity sets needed by OpenIddict are not correctly registered, you're probably missing an `options.AddOpenIddict()` call somewhere in the EF context options.

If you're still seeing this error, feel free to post more details and I'll reopen the ticket.

[2017-02-22 12:10] #362 closed, assigned to nobody

[2017-02-22 17:33] digital-nomad17 commented on #362
Here's a screenshot of my DbContext class.
![image](https://cloud.githubusercontent.com/assets/1823832/23224286/bc4d29ae-f8fb-11e6-94b2-4a54a37f5a33.png)

[2017-02-22 18:35] kevinchalet commented on #362
And you're sure your context is correctly configured, as mentioned in the Getting started section?

https://github.com/openiddict/openiddict-core#getting-started

[2017-02-23 01:48] jayrulez opened #363 "Wrong configuration when running behind https load balancer"
If https is used to access the configuration e.g:
https://account.caricoin.com/.well-known/openid-configuration

I expect the configured endpoints to show https. Instead, they are showing http.

[code]

The application is running on http://localhost:5005 on the server behind the load balancer which is accessed via https (typical reverse proxy setup).

[2017-02-23 11:01] kevinchalet commented on #363
Not an OpenIddict issue. Your app is simply not configured to restore the real scheme from the proxy headers.

Read https://github.com/aspnet/Security/issues/929 for more information.

[2017-02-23 11:01] #363 closed, assigned to nobody

[2017-02-23 11:11] kevinchalet commented on #341
Done. The tooling story should be now much better: https://github.com/aspnet/Tooling/issues/828.

[2017-02-23 21:19] pholly commented on #320
I use Controller Scaffolding to view and edit OpenID Applications.
To get around the limitation of being able to scaffold models that are not in your own projects, I subclass `OpenIddictApplication` and create a MVC Scaffold controller using that as the model. Once its scaffolded I change all references to my subclass back to `OpenIddictApplication`.

[2017-02-23 22:53] gecko-8 opened #364 "Ability to change token expiry at token request time"
Hi,
I have a use case where multiple app types (web and mobile) are using the same token-flow authorization server. I'd like to have different expiry times for the different types (probably using different token endpoints) but I can't figure out a way to override the values set with SetAccessTokenLifetime and SetRefreshTokenLifetime. Is there a way to do this?
Thanks,
Jason

[2017-02-23 23:36] digital-nomad17 commented on #362
I set everything up as described in the 'Getting started section' and I am checking against the sample application but I am still encountering the error. I double checked the getting started section and the sample against my code and there's no major differences. I am convinced it's an issue with my sqlserver config.
![image](https://cloud.githubusercontent.com/assets/1823832/23284073/6aad1d3c-f9f

[2017-02-24 17:57] toddtsic opened #365 "OpenIdDict breaks with Microsoft.AspNetCore.Mvc.Core 1.1?"
Just update my server code to Microsoft.AspNetCore.Mvc.Core 1.1 (to address linq .ToString() subtree issue), and now failing with OpenIdDict: A distributed cache implementation must be registered in the OpenIddict options or in the dependency injection container when enabling request caching support.
Has anyone seen this?

[2017-02-24 18:53] kevinchalet commented on #365
MVC Core 1.0.0 registers the memory cache in the DI services when you call `services.AddMvc()`. If you see this error when upgrading to 1.1.0, this means it's no longer true. @Eilon do you know if it changed in 1.1.0?

To fix that, you can reference [the memory cache package](https://www.nuget.org/packages/Microsoft.Extensions.Caching.Memory/) and call `services.AddDistributedMemoryCache()` from `

[2017-02-24 19:12] Eilon commented on #365
Hmm, odd, we'll investigate.

[2017-02-24 21:10] toddtsic commented on #365
Some background:

Ionic2 app accessing AspNet MCV core webapi site.

All requests flowing beautifully until upgraded to:

`from project.json: "Microsoft.AspNetCore.Mvc": "1.1.1"`

After update:

`XMLHttpRequest cannot load http://localhost:55780/api/connect/token. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:8100' is therefore not allowed a

[2017-02-24 21:37] toddtsic commented on #365
Full list of dependencies in project.json:  (I'm going to explore whether all 1.1.0 dependencies need to be upped to 1.1.1 and will report back).

Currently:
[code]

[2017-02-25 00:59] toddtsic commented on #365
Issue solved with:

`alter table dbo.OpenIddictTokens add Subject nvarchar(max)
`

Curious how OpenIddictTokens schema issue reports back as Cors issue...

[2017-02-25 01:05] toddtsic commented on #365
My initial EnableRequestCaching error was probably also a false error; I've set caching back on now that OpenIddictTokens schema correct, and no longer have the error.

[2017-02-25 15:38] kevinchalet commented on #364
Answered here: http://stackoverflow.com/questions/42442109/is-there-a-way-to-have-different-ticket-expiry-lengths-in-openiddict.

[2017-02-25 15:38] #364 closed, assigned to nobody

[2017-02-28 09:15] Gillardo opened #366 "Generate a local token using another identity provider?"
When using this with google+ i was told by @PinpointTownes that because you cannot generate a token via a server side method (which i would love), I was suppose to use the Assertion method in order to generate a local token.  This was easy enough and since i was using google+ javascript code to log the user is, it made sense.

Now i have also implemented functionality to allow the users to login v

[2017-02-28 12:17] Zain-Alabdin opened #367 "Limit access to one mobile app"
Hi,
Thanks for your project it saved me a lot of time :)
I am using password flow and it's great but I also want to limit access to the application to my mobile app.... can you show me a sample on how to implement it?
(I'm using SSL so I can have a key on both ends at it checks if it matches)
I want this on all requests including requests which do not require member authentication.
Thank you so mu

[2017-02-28 12:33] kevinchalet commented on #366
Since you're now doing interactive/redirection-based authentication, consider using the implicit flow: https://github.com/openiddict/openiddict-samples/tree/master/samples/ImplicitFlow

[2017-02-28 12:56] kevinchalet commented on #367
Hey,

You could use client authentication as demonstrated in the code flow sample, but it's almost pointless in a mobile apps, as the credentials can be intercepted or stolen from the binaries.

[2017-02-28 13:49] Zain-Alabdin commented on #367
Thanks a lot for the timely reply!
Thanks for pointing out that problem, do you have any recommendation to overcome it?

[2017-02-28 17:51] kevinchalet commented on #367
Closing, as this topic is now discussed here: http://stackoverflow.com/questions/42510675/limiting-accessing-web-api-to-application

[2017-02-28 17:51] #367 closed, assigned to nobody

[2017-03-01 03:01] Eilon commented on #365
Hmm, MVC 1.0.x registers `IDistributedCache` => `MemoryDistributedCache` and `IMemoryCache` => `MemoryCache`: https://github.com/aspnet/Mvc/blob/rel/1.0.3/src/Microsoft.AspNetCore.Mvc.TagHelpers/DependencyInjection/TagHelperExtensions.cs#L34-L35

And MVC 1.1.x registers the same exact thing: https://github.com/aspnet/Mvc/blob/rel/1.1.2/src/Microsoft.AspNetCore.Mvc.TagHelpers/DependencyInjection/Ta

[2017-03-01 03:14] toddtsic commented on #365
I'm all set here, simply adding "Subject" field to schema of (OpenIdDict I
believe) table solved everything.  Curious that the schema problem was
revealed by update of mvc 1.1

Thanks for investigating,

Todd

On Tue, Feb 28, 2017 at 8:01 PM, Eilon Lipton <notifications@github.com>
wrote:

--
Todd Greenwald
President, TeamSportsInfo.com
tgreenwald@teamsportsinfo.com
410-703-3450

[2017-03-01 11:42] kevinchalet commented on #365
Glad you solved your issue. That said, it seems extremely surprising a simple schema could cause a dependency issue. Are you sure you didn't change something else?

[2017-03-01 11:42] kevinchalet commented on #365
@Eilon thanks for your help, really appreciated, as usual :+1:

[2017-03-01 11:42] #365 closed, assigned to nobody

[2017-03-02 11:45] #366 closed, assigned to nobody

[2017-03-02 15:19] Gillardo opened #368 "InvalidOperationException: The authentication ticket was rejected because it doesn't contain the mandatory subject claim."
Very simple question, i have upgraded to latest version and now i cannot login with giving a subject?  What should that be.  Also if i enter anything, i then get

[2017-03-02 15:20] kevinchalet commented on #368
The very simple answer can be found here: http://kevinchalet.com/2017/01/30/implementing-simple-token-authentication-in-aspnet-core-with-openiddict/#comment-3182486876 :smile:

[2017-03-02 15:35] Gillardo commented on #368
@PinpointTownes sorry little confused.  It says to change the claims, but i aint using claims.  My code looks nearly the same as the Mvc.Server AuthorizationController, and i cant see anything updated here?

[2017-03-02 15:36] kevinchalet commented on #368
Of course you are. It's just hidden because Identity does it for you.

Here's what you need to add: https://github.com/openiddict/openiddict-samples/blob/master/samples/PasswordFlow/AuthorizationServer/Startup.cs#L32-L40

[2017-03-02 15:41] Gillardo commented on #368
@PinpointTownes although that works to log my in, can you explain why this code has stopped working??

`_httpContextAccessor.HttpContext.User.Identity.Name`

This now returns null, instead of the username?

[2017-03-02 15:41] Gillardo commented on #368
But ` _httpContextAccessor.HttpContext.User.Identity.IsAuthenticated` still returns true when the user is logged in??

[2017-03-02 15:43] kevinchalet commented on #368
`Identity.Name` uses the `OpenIdConnectConstants.Claims.Name` claim. Make sure it is there.

[2017-03-02 15:46] Gillardo commented on #368
Yep, it is in the code you sent me
[code]

[2017-03-02 15:46] kevinchalet commented on #368
No, that's not what I meant. I meant in the `User.Claims` list.

[2017-03-02 15:56] Gillardo commented on #368
Sorry if stupid today, long day, but not sure what you mean.  Looked at claims in the identity as below??

As you can see, no username??

![image](https://cloud.githubusercontent.com/assets/7406381/23514956/c8823a00-ff60-11e6-9a9d-a39159de3ac2.png)

[2017-03-02 15:57] Gillardo commented on #368
Tried this too, and returned string.Empty

[code]

[2017-03-02 15:57] kevinchalet commented on #368
That's exactly what I meant. As you can see, the `name` claim is not here. Are you sure it has the right destination?

[2017-03-02 16:24] Gillardo commented on #368
I updated what u said... do I need to update something else? Got nothing to do with scopes created in authorizationcontroller does it?

[2017-03-02 16:25] kevinchalet commented on #368
I'm not fakir... share your code if you need help :sweat_smile:

[2017-03-02 17:01] Gillardo commented on #368
Will post example when at laptop. I am using JWT do don't know if that effects anything?

[2017-03-02 21:20] Gillardo commented on #368
@PinpointTownes after looking over my code and trying to create you an example, it appears i also needed to change the AuthorizationHandler as had this code before
[code]

Had to change these to use the new Claims, so became something like this
[code]

[2017-03-02 21:42] kevinchalet commented on #368
Yes, that's fine.

[2017-03-02 21:49] Gillardo commented on #368
Thank you

[2017-03-02 21:52] kevinchalet commented on #368
I'll leave this topic open to make sure it's visible enough 😄

[2017-03-02 22:58] daveyjay commented on #368
Thanks for posting this - we ran into this same issue yesterday but figured it out after looking at the updated sample.  We are successfully able to log in again.

There is one outstanding issue (maybe I should open a new issue for this).

We have a UserInfo endpoint in the AuthorizationController that is identical to the samples.  This all used to work but since updating to beta2-0564 we are gett

[2017-03-03 19:43] kevinchalet commented on #368
@daveyjay have you updated your Startup code to include this snippet?

[code]

[2017-03-03 22:06] daveyjay commented on #368
Yes, I have added those lines in.

Interestingly, I tried reverting back to version 1.0.0-beta2-0554 , without the new lines mentioned above everything works.  User.Name is populated and _userManager.GetUserAsync(User) works as expected.

When I add in those new lines it breaks the behaviour and User.Name is null and _userManager.GetUserAsync returns null.

Could this be related to Issue #282 whic

[2017-03-03 22:18] kevinchalet commented on #368
Very unlikely. Could you please share the version of the validation/introspection middleware you're using and the claims contained in `User.Claims`?

[2017-03-03 23:26] daveyjay commented on #368
Here is the validation/introspection in my project.json

 "AspNet.Security.OAuth.Validation": "1.0.0-*",
 "AspNet.Security.OAuth.Introspection": "1.0.0-beta1-0200"

And here our the claims that appear when I am inside the Authorize method of the AuthorizationController:
` [Authorize, HttpGet("~/connect/authorize")]
   public async Task<IActionResult> Authorize(OpenIdConnectRequest request) {`

`{s

[2017-03-03 23:32] kevinchalet commented on #368
Wait, I see your access token has a `usage` and an `azp` claim, are you using the JWT middleware?

[2017-03-04 02:27] daveyjay commented on #368
Yes, I have enabled Json Web tokens in the Configure method like so:

services.AddOpenIddict()
     .UseJsonWebTokens()

I notice that if I comment out these 3 lines:

 services.Configure<IdentityOptions>(options =>
            {
                options.ClaimsIdentity.UserNameClaimType = OpenIdConnectConstants.Claims.Name;
                options.ClaimsIdentity.UserIdClaimType = OpenIdConnectConst

[2017-03-04 11:39] kevinchalet commented on #368
Well, looks like you missed the most important one... your project uses the JWT middleware :trollface:

Yes. You'll now need to disable the automatic mapping made by the JWT bearer middleware that converts JWT claims to their `ClaimTypes` equivalent:

[code]

For more information, I suggest reading https://leastprivilege.com/2016/08/21/why-does-my-authorize-attribute-not-work/.

[2017-03-04 12:24] kevinchalet commented on #368
FYI, I spent some time updating all the samples to show how you're supposed to register the JWT middleware so it works correctly with the recent changes. Feel free to take a look.

[2017-03-04 16:51] daveyjay commented on #368
Yes I did miss the most important one!

Thanks for explaining that - everything works correctly now.  I appreciate your clear explanation and the samples being updated now as well - that should help others that may run into the same issue. That link is just what I needed to better understand how this all works under the covers.

[2017-03-04 18:45] kevinchalet commented on #368
Nice! :clap:

Off-topic: FYI, I just answered your SO question: http://stackoverflow.com/questions/42496306/openidconnect-access-token-size-and-accessing-claims-server-side.

[2017-03-05 06:17] daveyjay commented on #368
Thanks! Will check that out.

[2017-03-07 02:05] kevinchalet opened #370 "Remove the imports sections from project.json"
Now that everything is supposed to be based on .NET Standard (or at least directly compatible), we should be able to get rid of the ugly imports.

[2017-03-07 14:54] kevinchalet commented on #370
Done: https://github.com/openiddict/openiddict-core/commit/c3fcb50a8efb66c36c2f3dbce658607837d68cac

[2017-03-07 14:54] #370 closed, assigned to nobody

[2017-03-07 19:33] #341 closed, assigned to nobody

[2017-03-09 20:39] toddtsic commented on #365
@Eilon,

I just updated my Windows 10 box to Visual Studio 2017 Pro which updates the core framework to 1.1.1 (from 1.1.0)

Upon completion I started failing with CORS issues again, this time I went right to logging on the server side (thanks @PinpointTownes!) and immediately see the issue (nothing to do with CORS per se).

Can you help (my gut tells me its going to be schema again, but not sure..

[2017-03-09 20:58] kevinchalet commented on #365
@toddtsic actually no, it has nothing to do with a schema issue: ASOS rc1 - the OIDC server middleware behind OpenIddict - no longer maps the legacy WS-Federation claims to their JWT equivalent, pretty much like what Identity Server  does.

I'd recommend reading this topic for more information on how to fix that: https://github.com/openiddict/openiddict-core/issues/368.

[2017-03-09 22:35] toddtsic commented on #365
Thanks again Kevin, you got me back on track.

I made two changes:

   1. updated AspNet.Security.OAuth.Validation from an alpha release to
   latest 1.0.0-beta1-final
   2. added as per your link:

// Configure Identity to use the same JWT claims as OpenIddict instead
// of the legacy WS-Federation claims it uses by default (ClaimTypes),
// which saves you from doing the mapping in your authoriza

[2017-03-10 15:24] #324 closed, assigned to nobody

[2017-03-11 05:49] toddtsic opened #373 "Querying userid on server side?"
Anyone know how to get userid on server side? My analysis could be all wrong, but this is what I'm seeing: I used to get userid on the server side (asp.net core) by User.FindFirst(ClaimTypes.NameIdentifier).Value However, after updating to latest AspNet.Security.OAuth.Validation and using in startup.cs:
         // Configure Identity to use the same JWT claims as OpenIddict instead
        // of t

[2017-03-11 06:00] toddtsic commented on #373
Answered my own question:  User.FindFirst(OpenIdConnectConstants.Claims.Subject).Value;

[2017-03-11 20:42] cmsd2 opened #374 "Add draft device_code flow"
Add support for the draft device_code flow
https://tools.ietf.org/html/draft-ietf-oauth-device-flow
(currently version 04, expiring August 2017)

The device code flow is designed for input-constrained environments, but may be useful whenever a client application cannot launch a web browser for the authorization code flow.

The device code flow adds a new `response_type` to acquire a code, and a ne

[2017-03-13 00:02] xperiandri opened #375 "Migrate to MSBuild 15 csproj"
@PinpointTownes, can we migrate to MSBuild 15 csproj that works in VS 2017?

[2017-03-14 20:13] joshcomley opened #377 "Allowing simple configuraiton of auto-redirect back to the client app after an authentication error such as timeout"
Currently if `EnableRequestCaching()` is being used and the session times out but the user still tries to log in, the following error message appears to the user:

`error:invalid_request`
`error_description:Invalid request: timeout expired.`

I can override this with a custom error controller, detect this error and ultimately redirect back to the client app to restart the login process, but this s

[2017-03-20 16:27] sinhpham commented on #321
I'm having trouble with OIDC sending the wrong redirect uri, (http://mydomain/signin as opposed to httpS://mydomain/signin), so the whole flow fails. How does the auto-detect redirect URI work and how can I force it to use httpS?

My scenario is I'm running asp.net core behind a reverse proxy that does SSL termination and redirects all http requests to httpS.

[2017-03-20 16:39] Tratcher commented on #321
@sinhpham See https://github.com/aspnet/Docs/issues/2384

[2017-03-20 17:06] #373 closed, assigned to nobody

[2017-03-21 04:03] sinhpham commented on #321
Thanks @Tratcher for the link, that fixed my problem.

[2017-03-21 14:10] NtFreX commented on #361
What about giving the implementer the choise on where he wants to implement it and only provide the functionality to flush?

In my current project I would flush it on a new request but in some time I anyway have to create some cleanup tasks for other entities which would mean I would also switch the flush of the tokens to the cleanup tasks. (I think it will make a difference performance wise on a

[2017-03-23 09:28] altair256 opened #380 "How to use OpenIddictTokenManager?"
Hello! I try revoke the refresh_token and for this i try to use OpenIddictManager.

[code]

But when I try log in in my application an error occurs:

[code]

You can tell me how to correct initialize OpenIddictManager and then use it? Or give me an example of use.

Thanky for help!

[2017-03-23 12:38] kevinchalet commented on #380
Nope... not if you don't share your OpenIddict configuration :smile:

[2017-03-23 12:42] altair256 commented on #380
Sorry... Here is my OpenIddict configuration.

[code]

[2017-03-23 12:48] kevinchalet commented on #380
Looks like you're using a custom key type, so you must fix your code accordingly:

[code]

->

[code]

[2017-03-23 12:54] altair256 commented on #380
Thank you for help! Now this work fine!

[2017-03-23 12:54] #380 closed, assigned to nobody

[2017-03-24 11:02] altair256 opened #381 "How to get token id from database"
Hello! I see [#136](https://github.com/openiddict/openiddict-core/issues/136#issuecomment-225068490) about revoke token and i not understand how find current token id witch I want to revoke.

[code]
Can you help me please? Thank you!

[2017-03-24 15:17] kevinchalet commented on #381
You can use `OpenIddictTokenManager.FindBySubjectAsync("user identifier")` to retrieve the tokens associated with a specific user.

[2017-03-24 17:08] altair256 commented on #381
Yes, I know this. But if I need a specific token, how to get it id? Example one user can log in from multiple locations and I want revoke one of his tokens.

[2017-03-25 23:29] harisbotic commented on #359
Is this going to be solved any soon?

[2017-03-26 00:31] kevinchalet commented on #359
@harisbotic there's currently no plan to start working on an ASP.NET Core 2.0-compatible version (it would be premature).

[2017-03-26 05:00] dreampper commented on #368
Why my requests return 401 Unauthorized? It was working before the update.

The token endpoint produces the access_token normally, but sending the request with Bearer TOKEN returns Unauthorized.

AuthorizationController in a txt:
[authorization.txt](https://github.com/openiddict/openiddict-core/files/870571/authorization.txt)

That's my configuration:

[code]

[code]

[2017-03-26 12:00] kevinchalet commented on #368
Read http://kevinchalet.com/2017/03/14/migrating-to-aspnet-security-openidconnect-server-rc1/.

[2017-03-26 12:00] #368 closed, assigned to nobody

[2017-03-28 15:31] xperiandri commented on #375
Looks like it is ready.
I rebased my UWP branch and everything works fine.

[2017-03-28 15:31] #375 closed, assigned to nobody

[2017-03-29 06:59] digital-nomad17 opened #382 "Directions for installing with MSBuild"
Hi,

I just updated my project to Asp.net core 1.0.1 with visual studio and there's no project.json. It apparently has been [deprecated ](https://wildermuth.com/2016/05/12/The-Future-of-project-json-in-ASP-NET-Core)in favor of using MsBuild(xml). Could someone update the how to with the new build system?

[2017-03-29 15:30] adnan-kamili opened #383 "JwtBearerOptions audience and authority being ignored"
Following is the middleware code:

[code]

Setting the audience and issuer in TokenValidationParameters has no effect. It automatically picks the the issuer from the address of the server and aud only appears in token if

`ticket.SetResources(_appOptions.Jwt.Audience);`

is set.

[2017-03-29 15:33] kevinchalet commented on #383
Same question, same answer: https://github.com/openiddict/openiddict-core/issues/354#issuecomment-277917182.

[2017-03-29 15:33] #383 closed, assigned to nobody

[2017-03-29 15:43] kevinchalet commented on #382
The docs folks at Microsoft have written a few guides to ease the migration process. You can find them here: https://docs.microsoft.com/en-us/dotnet/articles/core/migration/ and https://docs.microsoft.com/en-us/dotnet/articles/core/tools/project-json-to-csproj.

[2017-03-31 18:56] #382 closed, assigned to nobody

[2017-04-03 06:18] kevinchalet commented on #381
The token identifier associated with a specific token can be retrieved via the introspection endpoint (`jti`).

Alternatively, you can also directly use ASP.NET Core's `TicketDataFormat` to unprotect a refresh token and extract the corresponding `AuthenticationTicket`, whose identifier can be retrieved using `ticket.GetTicketId()`. Here's how we instantiate it in ASOS: https://github.com/aspnet-co

[2017-04-03 15:09] altair256 commented on #381
Thank you for answer! As I understand under` jti` you meat `Logout `end point? That is, I have to implement something like:
`public async Task<IActionResult> Logout(OpenIdConnectRequest request)`
If so, what parameters should be passed there?

[2017-04-05 16:55] toddtsic opened #385 "Handling get/post auth failures"
I have a ScheduleRefresh() token method spinning in an Ionic2 app (comes from @Toxicable examples), works great when mobile app up and running (forces a refreshTokens every tokens.expires_in / 2 interval).

I've noticed that if I have mobile app open, but turn off phone screen and then return > SetIdentityTokenLifetime later, and use the app, I'm failing on server calls.  Difficult for me to creat

[2017-04-06 16:36] dazinator opened #386 "Automatic signing key creation"
I like this feature: https://github.com/aspnet-contrib/AspNet.Security.OpenIdConnect.Server/issues/129

Perhaps worth adding it to OpenIdDict?